*.sqlite3
*.pyc
*/migrations/????_*.py
pfe/settings.py
.vscode/
*.log
.DS_Store
arquivos/*
*.code-workspace
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid
dump.rdb
dump.json
old/
/static/
/ip-*
/default-ip-*
