*.sqlite3
*.pyc
users/migrations/????_*.py
projetos/migrations/????_*.py
pfe/settings.py
.vscode/
*.log
.DS_Store
arquivos/*
*.code-workspace
celerybeat-schedule
celerybeat.pid
dump.rdb
old/
/static/
