*.sqlite3
*.pyc
*/migrations/????_*.py
pfe/settings.py
.vscode/
*.log
.DS_Store
arquivos/*
paginas/*
*.code-workspace
celerybeat.pid
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
dump.rdb
dump.json
old/
/static/
/ip-*
/default-ip-*
