{% extends "base.html" %}

{% block content %}

<div id="content-main">
<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <b><font color="red">
        Por favor corrija os erros!
    </font></b>
{% endif %}

<h5>Para atualizar a sua senha, digite sua senha antiga e duas vezes uma senha nova.</h5>

<br>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
    {{ form.old_password.label_tag }}&nbsp;{{ form.old_password }}
</div>

<br>

<div class="form-row">
    {{ form.new_password1.errors }}
    {{ form.new_password1.label_tag }}&nbsp;{{ form.new_password1 }}
</div>

{% if form.new_password1.help_text %}
<div class="help">{{ form.new_password1.help_text|safe }}</div>
{% endif %}

<br>

<div class="form-row">
{{ form.new_password2.errors }}
    {{ form.new_password2.label_tag }}&nbsp;{{ form.new_password2 }}
</div>
{% if form.new_password2.help_text %}
<div class="help">{{ form.new_password2.help_text|safe }}</div>
{% endif %}

</fieldset>
<br>
<div class="submit-row">
    <input type="submit" value="Atualizar a senha" class="default">
    <input type="submit" value="Cancelar" onclick="location.href='{% url 'index'%}'" class="default">
</div>

</div>
</form></div>

{% endblock %}