{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 2 de Agosto de 2024
{% endcomment %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">
{% endblock %}

{% block content %}
  
  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en" style="display:none">{{ titulo.en }}</span>
  </span>

  {% if alocado.projeto.ano > configuracao.ano or alocado.projeto.ano == configuracao.ano and alocado.projeto.semestre > configuracao.semestre %}
    <div class="div_arredondado_100">
      <span lang="pt">Projeto {{alocado.projeto.ano}}.{{alocado.projeto.semestre}} em fase de alocação.</span>
      <span lang="en" style="display: none;">Projects {{alocado.projeto.ano}}.{{alocado.projeto.semestre}} in the allocation phase.</span>
    </div>
  {% else %}
    {% include "mostra_horarios.html" %}
  {% endif %}

{% endblock %}