{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 2 de Agosto de 2024
{% endcomment %}

{% load static %}
{% load linguas %}

{% block head %}
  <link rel="stylesheet" href="{% static 'estudantes/css/mostra_horarios.css' %}">
{% endblock %}

{% block content %}
  <div class="mt-1 mb-2" style="font-weight: 600; font-size: 1.05rem; color: #1f2a44;">
    <b>{% lng "Projeto" "Project" %}:</b>{{ projeto }}
  </div>
  <hr>
  {% include "mostra_horarios.html" with com_orientacoes=True %}
{% endblock %}
