{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 5 de Abril de 2023
{% endcomment %}

{% load static %}
{% load linguas %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">
  <script src="{% static 'js/aviso_perda_edicao.js' %}"></script>
  <style>
    .bloco_texto {
      width: 800px;
      max-width: 100%;
      text-align: justify; 
      margin-bottom: 0.2rem;
      background-color: #f8f9fd;
      padding: 0.5rem;
      line-height: 1.2;
    }
    .div_arredondado div {line-height: 1.1;}
    .div_arredondado div label {
      display: block;
      margin-bottom: 0.75rem;
    }
  </style>
{% endblock %}

{% block content %}

  {% if vencido %}
    <h5 class="red-bold">
      {% if momento == "intermediaria" %}
        {% lng "Fora do Período de Avaliação de Pares Intermediária" "Out of Intermediate Peer Evaluation Period" %}
      {% else %}
        {% lng "Fora do Período de Avaliação de Pares Final" "Out of Final Evaluation Period" %}
      {% endif %}
    </h5>
  {% else %}
    <h5>
      {% if momento == "intermediaria" %}
        {% lng "Período de Avaliação de Pares Intermediária" "Intermediate Peer Evaluation Period" %}
      {% else %}
        {% lng "Período de Avaliação de Pares Final" "Final Peer Evaluation Period" %}
      {% endif %}
    </h5>
  {% endif %}

  <form action="" method="post"> {% csrf_token %}  

    <div class="bloco_texto">{% lng msg_aval_pares.texto msg_aval_pares.texto_en %}</div>
    <hr>
    
    {% for colega, par in colegas %}

      <div><b>
          {% lng "Colega:" "Colleague:" %} {{colega.aluno}}
          {% if colega.aluno.externo %}
            [{{colega.aluno.externo}}]
            <span style="color: #007bff;">{% lng "(opcional)" "(optional)" %}</span>
          {% endif %}
      </b></div>

      <div class="div_arredondado">
        <label for="aprecia"><b>
          {% lng_g colega.aluno.user.genero "O que você aprecia no" "O que você aprecia na" "What do you appreciate about" %}
          {% if colega.aluno %}{{colega.aluno}}{% else %}[ESTUDANTE]{% endif %}?
        </b></label><br>
        <textarea id="aprecia{{colega.id}}" name="aprecia{{colega.id}}" rows="4" cols="80" maxlength="1000" 
        {% if not colega.aluno.externo %}required{% endif %}
        {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>{% if par.aprecia %}{{par.aprecia}}{% endif %}</textarea>
      </div>

      <div class="div_arredondado">
        <label for="atrapalhando"><b>
          {% lng_g colega.aluno.user.genero "O que você vê o" "O que você vê a" "What do you see" %}
          {% if colega.aluno %}{{colega.aluno}}{% else %}[ESTUDANTE]{% endif %}
          {% lng "fazendo, ou deixando de fazer, que está atrapalhando?" "doing, or not doing, that is hindering?" %}
        </b></label><br>
        <textarea id="atrapalhando{{colega.id}}" name="atrapalhando{{colega.id}}" rows="4" cols="80" maxlength="1000"
        {% if not colega.aluno.externo %}required{% endif %}
        {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>{% if par.atrapalhando %}{{par.atrapalhando}}{% endif %}</textarea>
      </div>

      <div class="div_arredondado">
        <label for="mudar"><b>
          {% lng_g colega.aluno.user.genero "O que o" "O que a" "What can" %}
          {% if colega.aluno %}{{colega.aluno}}{% else %}[ESTUDANTE]{% endif %}
          {% lng "pode mudar, que faria diferença para você?" "change that would make a difference to you?" %}
        </b></label><br>
        <textarea id="mudar{{colega.id}}" name="mudar{{colega.id}}" rows="4" cols="80" maxlength="1000"
        {% if not colega.aluno.externo %}required{% endif %}
        {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>{% if par.mudar %}{{par.mudar}}{% endif %}</textarea>
      </div>

      <div class="div_arredondado">
        <b>
          {% lng_g colega.aluno.user.genero "Entrega do" "Entrega da" "Delivery of" %}
          {% if colega.aluno %}{{colega.aluno}}{% else %}[ESTUDANTE]{% endif %}
        </b>
        <div class="mt-1">
          {% for tipo in TIPO_ENTREGA %}
            <label><input type="radio" name="entrega{{colega.id}}" value="{{tipo.0}}" 
              {% if not colega.aluno.externo %}required{% endif %}
              {% if par.entrega == tipo.0 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
              {% lng tipo.1 tipo.2 %}</label>
          {% endfor %}
        </div>
      </div>


      <div class="div_arredondado">
        <b>
          {% lng_g colega.aluno.user.genero "Iniciativa do" "Iniciativa da" "Initiative of" %}
          {% if colega.aluno %}{{colega.aluno}}{% else %}[ESTUDANTE]{% endif %}
        </b>
        <div class="mt-1">
          {% for tipo in TIPO_INICIATIVA %}
            <label><input type="radio" name="iniciativa{{colega.id}}" value="{{tipo.0}}" 
              {% if not colega.aluno.externo %}required{% endif %}
              {% if par.iniciativa == tipo.0 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
              {% lng tipo.1 tipo.2 %}</label>
          {% endfor %}
        </div>
      </div>

      <div class="div_arredondado">
        <b>
          {% lng_g colega.aluno.user.genero "Comunicação do" "Comunicação da" "Communication of" %}
          {% if colega.aluno %}{{colega.aluno}}{% else %}[ESTUDANTE]{% endif %}
        </b>
        <div class="mt-1">
          {% for tipo in TIPO_COMUNICACAO %}
            <label><input type="radio" name="comunicacao{{colega.id}}" value="{{tipo.0}}" 
              {% if not colega.aluno.externo %}required{% endif %}
              {% if par.comunicacao == tipo.0 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
              {% lng tipo.1 tipo.2 %}</label>
          {% endfor %}
        </div>
      </div>

      <hr>

    {% endfor %}

    <button class="btn btn-primary mb-1" {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %} type="submit">
      {% lng "Enviar" "Submit" %}
    </button>

  </form>

{% endblock %}
