{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 5 de Abril de 2023
{% endcomment %}

{% block head %}
  <style>
    textarea {
      max-width:100%;
    }
  </style>
{% endblock %}

{% block content %}
  <span class="titulo">{{titulo}}</span>
  
  {% if mensagem %}
    <h5 class="red-bold">{{mensagem}}</h5>
  {% endif %}

  {% if vencido %}
    <h5 class="red-bold">Fora do Período de Avaliação de Pares
      {% if momento == "intermediaria" %}Intermediária{% else %}Final{% endif %}
    </h5>
  {% else %}
    <h5>
      Período de Avaliação de Pares
      {% if momento == "intermediaria" %}Intermediária{% else %}Final{% endif %}
      de {{inicio}} até {{fim}}
    </h5>
  {% endif %}

  <form action="" method="post"> {% csrf_token %}  

    <div style="max-width: 700px;">{{configuracao.msg_aval_pares}}</div>
    <hr>
    
    {% for colega, par in colegas %}

      <br>
      <div style="max-width: 700px;"><b>Colega: {{colega.aluno}}</b></div>

      <br>
      <label for="aprecia">
        O que você aprecia n{% if colega.aluno.user.genero == "F" %}a{% else %}o{% endif %} {{colega.aluno}}?
      </label><br>
      <textarea id="aprecia{{colega.id}}" name="aprecia{{colega.id}}" rows="4" cols="80" maxlength="1000" required {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>{% if par.aprecia %}{{par.aprecia}}{% endif %}</textarea>
      <br><br>

      <label for="atrapalhando">
        O que você vê {% if colega.aluno.user.genero == "F" %}a{% else %}o{% endif %} {{colega.aluno}} fazendo, ou deixando de fazer, que está atrapalhando?
      </label><br>
      <textarea id="atrapalhando{{colega.id}}" name="atrapalhando{{colega.id}}" rows="4" cols="80" maxlength="1000" required {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>{% if par.atrapalhando %}{{par.atrapalhando}}{% endif %}</textarea>
      <br><br>

      <label for="mudar">
        O que {% if colega.aluno.user.genero == "F" %}a{% else %}o{% endif %} {{colega.aluno}} pode mudar, que faria diferença para você?
      </label><br>
      <textarea id="mudar{{colega.id}}" name="mudar{{colega.id}}" rows="4" cols="80" maxlength="1000" required {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>{% if par.mudar %}{{par.mudar}}{% endif %}</textarea>


      <br><br>
      <b>Entrega d{% if colega.aluno.user.genero == "F" %}a{% else %}o{% endif %} {{colega.aluno}}</b>
      <div style="max-width: 700px;">
        <label><input type="radio" name="entrega{{colega.id}}" value="0" required {% if par.entrega == 0 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Entregou muito abaixo de esperado, colocando a entrega em risco e obrigando outro(s) membro(s) a mudarem planejamentos pessoais para garanti-la.</label><br>

        <label><input type="radio" name="entrega{{colega.id}}" value="1" required {% if par.entrega == 1 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Entregou abaixo do esperado.</label><br>

        <label><input type="radio" name="entrega{{colega.id}}" value="2" required {% if par.entrega == 2 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Entregou precisamente o esperado.</label><br>

        <label><input type="radio" name="entrega{{colega.id}}" value="3" required {% if par.entrega == 3 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Entregou acima do esperado.</label><br>

        <label><input type="radio" name="entrega{{colega.id}}" value="4" required {% if par.entrega == 4 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Entregou muito acima do esperado, mudando planejamentos pessoais para garantir uma entrega que estava em risco.</label><br>
      </div>


      <br>
      <b>Iniciativa d{% if colega.aluno.user.genero == "F" %}a{% else %}o{% endif %} {{colega.aluno}}</b>
      <div style="max-width: 700px;">
        <label><input type="radio" name="iniciativa{{colega.id}}" value="0" required {% if par.iniciativa == 0 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Mesmo quando lembrado, não cumpriu as tarefas designadas.</label><br>

        <label><input type="radio" name="iniciativa{{colega.id}}" value="1" required {% if par.iniciativa == 1 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Precisou ser lembrado, mas cumpriu as tarefas designadas.</label><br>

        <label><input type="radio" name="iniciativa{{colega.id}}" value="2" required {% if par.iniciativa == 2 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Autonomamente, cumpriu as tarefas designadas, nem mais nem menos.</label><br>

        <label><input type="radio" name="iniciativa{{colega.id}}" value="3" required {% if par.iniciativa == 3 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Além de cumprir as tarefas designadas, ajudou outros(s) membro(s) que estavam tendo dificuldades.</label><br>

        <label><input type="radio" name="iniciativa{{colega.id}}" value="4" required {% if par.iniciativa == 4 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Monopolizou parte das tarefas, assumindo tarefas de outro(s) membro(s) mesmo quando não havia evidência de dificuldades.</label><br>
      </div>

      <br>
      <b>Comunicação d{% if colega.aluno.user.genero == "F" %}a{% else %}o{% endif %} {{colega.aluno}}</b>
      <div style="max-width: 700px;">
        <label><input type="radio" name="comunicacao{{colega.id}}" value="0" required {% if par.comunicacao == 0 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Teve dificuldades, nunca as comunicou e ao final elas impediram a entrega.</label><br>

        <label><input type="radio" name="comunicacao{{colega.id}}" value="1" required {% if par.comunicacao == 1 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Teve dificuldades e nunca as comunicou, mas pelo menos não impediram a entrega.</label><br>

        <label><input type="radio" name="comunicacao{{colega.id}}" value="2" required {% if par.comunicacao == 2 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Aparentemente não teve dificuldades, mas nunca reportou nada.</label><br>

        <label><input type="radio" name="comunicacao{{colega.id}}" value="3" required {% if par.comunicacao == 3 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Comunicou dificuldades. Independente da entrega ter sido feita ou não, a equipe não foi surpreendida.</label><br>

        <label><input type="radio" name="comunicacao{{colega.id}}" value="4" required {% if par.comunicacao == 4 %}checked="checked"{% endif %} {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %}>
          Apesar de não ter dificuldades, estava sempre reportando como estava indo.</label><br>
      </div>
      <br>
      <hr>

    {% endfor %}

    <br>
    <input {% if vencido or user.tipo_de_usuario != 1%}disabled{% endif %} type="submit" value="Enviar">

  </form>

{% endblock %}
