{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  
  <script src="{% static 'js/Sortable.min.js' %}"></script>
  <style>
    .explanatory-text {
      max-width: 1050px;
      margin: 10px 0px;
      padding: 15px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-family: Arial, sans-serif;
      font-size: 1rem;
      line-height: 1.5;
      color: #333;
    }
  </style>
{% endblock %}

{% block content %}

  {% if texto_estilo %}
    <div class="explanatory-text">
      {% lng texto_estilo.pt texto_estilo.en %}
    </div>
  {% endif %}

  <form method="post">{% csrf_token %}

    {% include "estudantes/includes/tabela_conduta.html" %}
    
    <button class="btn btn-primary mb-1 mt-2" type="submit">
      {% lng "Enviar" "Submit" %}
    </button>
  </form>

{% endblock %}
