{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 16 de Dezembro de 2019
{% endcomment %}

{% block head %}
  <style>
    
    datalist {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: -10px;
      padding-left: 50px;
      padding-right: 50px;
    }
    option {
      font-size: 1em;
      width: 2ex;
      display: flex;
      justify-content: center;
      z-index: -1;
    }

    @media only screen and (max-width: 400px) {
      option {
        font-size: 3vw;
      }
    }

  </style>
{% endblock %}

{% block content %}

  <span class="titulo">Formulário de Feedback dos Estudantes</span>

  <form action="" method="post"> {% csrf_token %}  

      <label for="nome" class="col-form-label">Nome: </label>
      {{usuario.get_full_name}}
      <br>

      <label for="projeto" class="col-form-label">Projeto: </label>
      {{projeto}}
      
      <p class="text-danger">Os dados serão tratados como confidênciais.</p>

      <label for="recomendaria" class="mt-5" style="max-width: 860px;">O quanto você recomendaria fazermos um projeto de PFE nos próximos semestres com a {{projeto.organizacao}}?</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="recomendaria" id="recomendaria1" value="option1">
        <label class="form-check-label" for="recomendaria1">
          Não recomendo
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="recomendaria" id="recomendaria2" value="option2">
        <label class="form-check-label" for="recomendaria2">
          Recomendo com ressalvas
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="recomendaria" id="recomendaria3" value="option3">
        <label class="form-check-label" for="recomendaria3">
          Recomendo fortemente
        </label>
      </div>

      <label for="primeira_opcao" class="mt-5" style="max-width: 860px;">Agora que você conhece mais da {{projeto.organizacao}}, essa seria uma das primeiras opções para você fazer estágio ou ser contratado de forma efetiva?</label>
      <div class="form-check">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="primeira_opcao" id="primeira_opcaoS" value="optionS">
          <label class="form-check-label" for="primeira_opcaoS">
            Sim
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="primeira_opcao" id="primeira_opcaoN" value="optionN">
          <label class="form-check-label" for="primeira_opcaoN">
            Não
          </label>
        </div>
      </div>

      <label for="proposta" class="mt-5" style="max-width: 860px;">Tendo ou não buscado alguma proposta da {{projeto.organizacao}} para estágio ou contrato de trabalho.</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="proposta" id="proposta1" value="option1">
        <label class="form-check-label" for="proposta1">
          Recebi convite e apliquei
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="proposta" id="proposta2" value="option2">
        <label class="form-check-label" for="proposta2">
          Não recebi convite, mas apliquei
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="proposta" id="proposta3" value="option3">
        <label class="form-check-label" for="proposta3">
          Recebi convite, mas não apliquei
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="proposta" id="proposta4" value="option4">
        <label class="form-check-label" for="proposta4">
          Não recebi, nem apliquei
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="proposta" id="proposta5" value="option5">
        <label class="form-check-label" for="proposta5">
          Não haviam vagas em aberto
        </label>
      </div>

      <label for="trabalhando" class="mt-5" style="max-width: 860px;">Você já está trabalhando (ou em vias de trabalhar) em alguma empresa?</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="trabalhando" id="trabalhando1" value="option1">
        <label class="form-check-label" for="trabalhando1">
          {{projeto.organizacao}}
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="trabalhando" id="trabalhando2" value="option2">
        <label class="form-check-label" for="trabalhando2">
          Outra
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="trabalhando" id="trabalhando3" value="option3">
        <label class="form-check-label" for="trabalhando3">
          Ainda não
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="trabalhando" id="trabalhando4" value="option4">
        <label class="form-check-label" for="trabalhando4">
          Prefiro não responder
        </label>
      </div>

      <br><br><br>
      <input class="btn btn-secondary" type="submit" value="Enviar">

    </div>

  </form>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

{% endblock %}