{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load get_field %}
  {% load linguas %}
  <script src="{% static 'js/aviso_perda_edicao.js' %}"></script>

  <style>
    .ent_nome {cursor:pointer;}
    .ent_nome:hover {background-color: #eee;}
  </style>
  <script>
    $(document).ready(function(){
      $("#entidades").click(function(){
        $("#lista_entidades").modal({show: true});
      });
    });
  </script>
{% endblock %}

{% block content %}
    
  {% if vencido and user.tipo_de_usuario == 1 %}<h6 class="red-bold">Prazo vencido. Você não pode editar seus dados!</h6>{% endif %}

  <form method="post"> {% csrf_token %}  

    <span style="display: inline-block; margin-left: 4px; margin-bottom: 1px;">Selecionar suas áreas de interesse:</span><br>
    {% include "areas.html" with aa=estudante.user.areadeinteresse_set.all com_borda=True %}<br>
    
    {% include "estudantes/includes/trab_ativ_famil.html" %}

    <div class="mt-3">
      <label for="linkedin">
        {% lng "Caso desejar, você pode informar seu LinkedIn: (opcional)" "If you wish, you can inform your LinkedIn: (optional)" %}
      </label><br>
      <input type="text" size="80" id="linkedin" name="linkedin" pattern="\s*https?://(www\.)?linkedin\.com/[^\s]*\s*" maxlength="{% max_length_menos PFEUser 'linkedin' 7 %}" {% if estudante.user.linkedin %}value="{{estudante.user.linkedin}}"{% endif %} placeholder="https://www.linkedin.com/" {% if vencido %}disabled{% endif %}>
    </div>
    
    <div class="mt-3">
      <label for="conta_github">
        {% lng "Informe seu usuário GitHub: (pode ser informado posteriormente para uso do GitHub)" "Inform your GitHub user: (can be informed later for GitHub use)" %}
      </label><br>
      <input type="text" size="38" id="conta_github" name="conta_github" maxlength="{% max_length PFEUser 'conta_github' %}" {% if estudante.user.conta_github %}value="{{estudante.user.conta_github}}"{% endif %} {% if vencido %}disabled{% endif %}>
    </div>

    <div class="mt-3">
      <label for="celular">
        Caso desejar, você pode informar seu telefone celular: (opcional)<br>
      </label><br>
      <input type="text" size="20" maxlength="{% max_length PFEUser 'celular' %}" id="celular" name="celular" {% if estudante.user.celular %}value="{{estudante.user.celular}}"{% endif %} placeholder="(XX)XXXX-XXXX" {% if vencido %}disabled{% endif %}>
      <br><small><b class="text-danger">Iremos usar esse número para enviar avisos de forma não oficial pelo WhatsApp. A comunicação oficial é pelo seu e-mail de estudante!</b></small>
    </div>
   
    <br><br>
    <input class="btn btn-primary mb-1" {% if vencido %}disabled{% endif %} type="submit" value="Atualizar">

  </form>

{% endblock %}