{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  <style>
    textarea, input {max-width:100%;}
    .ent_nome {cursor:pointer;}
    .ent_nome:hover {background-color: #eee;}
  </style>
  <script>
    $(document).ready(function(){
      $("#entidades").click(function(){
        $('#lista_entidades').modal({show: true});
      });
    });
  </script>
{% endblock %}

{% block content %}

  <span class="titulo">Interesses e Experiências</span>
  {% if mensagem %}<h6 class="red-bold">{{mensagem}}</h6>{% endif %}
  {% if vencido and user.tipo_de_usuario == 1 %}<h6 class="red-bold">Prazo vencido. Você não pode mais editar seus dados!</h6>{% endif %}

  <form method="post"> {% csrf_token %}  

    <span style="display: inline-block; margin-left: 4px; margin-bottom: 1px;">Selecionar suas áreas de interesse:</span><br>
    {% include "areas.html" with aa=estudante.user.areadeinteresse_set.all com_borda=True %}<br>
    
    <br>
    <label for="trabalhou">
    Você já trabalhou/trabalha ou estagiou/estagia em alguma empresa de engenharia?<br>
    Se sim, qual/quais?
    </label><br>
    <textarea id="trabalhou" name="trabalhou" rows="4" cols="80" maxlength="1000" {% if vencido %}disabled{% endif %}>{% if estudante.trabalhou %}{{estudante.trabalhou}}{% endif %}</textarea>
    <br><br>

    <label for="social">
    Você já participou de atividades sociais? Por exemplo trabalhos voluntários ou ações em comunidades.<br>
    Se sim, qual/quais? [Esse campo é importante se você está aplicando para um projeto de Inovação Social]
    </label><br>
    <textarea id="social" name="social" rows="4" cols="80" maxlength="1000" {% if vencido %}disabled{% endif %}>{% if estudante.social %}{{estudante.social}}{% endif %}</textarea>
    <br><br>

    <label for="entidade">
    Você já participou de alguma entidade estudantil do Insper?<br>
    Liste as que você já participou?
    </label><br>
    <textarea id="entidade" name="entidade" rows="4" cols="80" maxlength="1000" {% if vencido %}disabled{% endif %}>{% if estudante.entidade %}{{estudante.entidade}}{% endif %}</textarea>
    <br>
    <small id="entidades" style="cursor:pointer;"><u>Lista de Entidades.</u></small>
    <!-- Pega Script para preencher entidades automaticamente -->
    <br><br>

    <label for="familia">
    Você possui familiares em alguma empresa que está aplicando? Ou empresa concorrente direta?<br>
    Se sim, qual/quais? Qual seu grau de relacionamento.
    </label><br>
    <textarea id="familia" name="familia" rows="4" cols="80" maxlength="1000" {% if vencido %}disabled{% endif %}>{% if estudante.familia %}{{estudante.familia}}{% endif %}</textarea>
    <br><br>

    <label for="linkedin">Caso desejar, você pode informar seu LinkedIn: (opcional)</label><br>
    <input type="text" size="80" id="linkedin" name="linkedin" {% if estudante.user.linkedin %}value="{{estudante.user.linkedin}}"{% endif %} placeholder="https://www.linkedin.com/" {% if vencido %}disabled{% endif %}><br>
    
    <br>
    <label for="celular">
      Caso desejar, você pode informar seu telefone celular: (opcional)<br>
      Iramos usar esse número para enviar avisos de forma não oficial pelo WhatsApp.<br>
      <b class="text-danger">A comunicação oficial é pelo seu e-mail de estudante!</b>
    </label><br>
    <input type="text" size="20" maxlength="20" id="celular" name="celular" {% if estudante.user.celular %}value="{{estudante.user.celular}}"{% endif %} placeholder="(XX)XXXX-XXXX" {% if vencido %}disabled{% endif %}>
   
    <br><br>
    <input class="btn btn-primary mb-1" {% if vencido %}disabled{% endif %} type="submit" value="Atualizar">

  </form>

  <div class="modal fade" id="lista_entidades">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Entidades Estudantis</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                {% for e in entidades %}
                  <p class="ent_nome">{{e.nome}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
  </div>

  <script>
    $(".ent_nome").click(function(e){
      $("#entidade").append(e.target.innerHTML+"; ");
    });
  </script>

{% endblock %}