{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 26 de Janeiro de 2022
{% endcomment %}

{% block head %}
  {% load static %}
  {% load get_field %}
  <style>
    textarea {max-width:100%;}
  </style>
{% endblock %}

{% block content %}

  <span class="titulo">Formulário de Relato Quinzenal</span>
  <br>

  {% if mensagem %}
    <h5 class="red-bold">{{mensagem}}</h5>
  {% endif %}

  <form method="post"> {% csrf_token %}

    Prazo para a submissão do relato: <b style='color:red;'>
    {% if prazo %}
      {{prazo.endDate}}
    {% else %}
      Não há datas para fazer relatos.
    {% endif %}
    </b>
    <br><br>

    <label for="relato">Informe seu relato quinzenal (máximo {% max_length relato "texto" %} caracteres).</label><br>
    <textarea id="relato" name="relato" rows="18" cols="160" maxlength="{% max_length relato "texto" %}" {% if not prazo %}disabled{% endif %} 
              placeholder="{{msg_relato_quinzenal}}"
      >{% if relato and relato.texto %}{{relato.texto}}{% endif %}</textarea>
    
    <br><br>
    <input {% if not prazo %}disabled{% endif %} class="btn btn-primary" type="submit" value="Enviar">

  </form>

  {% if relatos %}

    <p>&nbsp;</p>
    <hr>
    <p>&nbsp;</p>

    <h5>Relatos Anteriores:</h5><br>
    {% for item in relatos %}
      <b>{{item.momento}}</b>&nbsp;&nbsp;&nbsp;
      Situação: 
      {% if item.avaliacao == -1 %}aguardando orientador{% endif %}
      {% if item.avaliacao == 0 %}desempenho abaixo do esperado{% endif %}
      {% if item.avaliacao == 1 %}desempenho dentro do esperado{% endif %}
      <br>
      <textarea rows="18" cols="160" disabled>{{item.texto}}</textarea><br><br>
    {% endfor %}

  {% endif %}

{% endblock %}