{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 26 de Janeiro de 2022
{% endcomment %}

{% block head %}
  {% load static %}
  {% load get_field %}
  {% load get_prazo %}
  <link rel="stylesheet" href="{% static 'css/short_full.css' %}">
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
  <script src="{% static 'js/aviso_perda_edicao.js' %}"></script>

  <style>
    textarea {max-width:100%;}

    table {
      border-collapse: separate;
      border-spacing: 0;
      border: 2px solid black;
      border-radius: 10px;
      width: 85em;
      max-width: 100%;
    }

    td, th {
        border-width: 1px 0px 1px 0px;
        padding: 4px;
        background-color: #F0F0F0;
    }

    th:first-child {
      border-width: 0px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    td:last-child {
      border-bottom-width: 0px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .relato {
      border: 1px solid black;
      margin: 6px 10px 8px 10px;
      padding: 4px;
    }

  </style>
{% endblock %}

{% block content %}
  <span class="titulo">{{titulo}}</span>
  <br>

  {% if mensagem %}
    <h5 class="red-bold">{{mensagem}}</h5>
  {% endif %}

  <form method="post"> {% csrf_token %}

    Prazo para a submissão do relato: <b style='color:red;'>
    {% if prazo %}
    <span class="opt_full">{{prazo.endDate|date:"DATE_FORMAT" }}</span>
    <span class="opt_short">{{prazo.endDate|date:"d/m/y" }}</span>
    {% else %}
      Não há datas para fazer relatos.
    {% endif %}
    </b>
    <br><br>

    <label for="relato">Informe seu relato quinzenal (máximo {% max_length Relato "texto" %} caracteres)</label><br>
    <textarea id="relato" name="relato" rows="18" cols="160" maxlength="{% max_length Relato "texto" %}" {% if not prazo %}disabled{% endif %} 
              placeholder="{{msg_relato_quinzenal}}"
      >{% if texto_relato.texto %}{{texto_relato.texto}}{% endif %}</textarea>
    
    <br><br>
    <input {% if not prazo %}disabled{% endif %} class="btn btn-primary mb-1" type="submit" value="Enviar">

  </form>

  {% if relatos %}

    <p>&nbsp;</p>
    <hr>
    <p>&nbsp;</p>

    <h4>Relatos Anteriores:</h4>
    {% for item in relatos %}
    
      {% with prazo=item|get_prazo %}
        {% ifchanged prazo %}
          {% if not forloop.first %}</tbody></table><br>{% endif %}

        <table>
          <thead><tr><th>
            {% if prazo %}
              {{prazo}} -
              <span style="white-space: nowrap;">Situação: 
                {% if item.avaliacao == -1 %}aguardando avaliação de orientador{% endif %}
                {% if item.avaliacao == 0 %}<span class="red-bold">desempenho abaixo do esperado</span>{% endif %}
                {% if item.avaliacao == 1 %}<span class="green-bold">desempenho dentro do esperado</span>{% endif %}
              </span>
            {% else %}
              Prazo inválido (não visível para orientador)
            {% endif %}
            {% if item.feedback %}
              {% if item.momento_avaliacao %}
                <i style="display: block;">Feedback do Orientador: {{item.momento_avaliacao}}</i>
              {% endif %}
              <div id="relato{{item.id}}" class="relato">{{item.feedback|linebreaks}}</div>
            {% endif %}
          </th></tr></thead>
          <tbody><tr><td>
            <i>Entregue: {{item.momento}}</i><br>
            <div class="relato">{{item.texto|linebreaks}}</div>
          </td></tr>
        {% else %}
          <tr><td>
            <i class="anteriores" style="display: block;">Entregue: {{item.momento}}  <span class="seta-cima"></span></i>
            <div id="relato{{item.id}}" style="display: none;" class="relato">{{item.texto|linebreaks}}</div>
          </td></tr>
        {% endifchanged %}
      {% endwith %}
      
    {% endfor %}
    </tbody></table>
  {% endif %}

  <script>
    $(".anteriores").on("click", function() {
      $(this).siblings("div").toggle(200);
      $("span", this).toggleClass("seta-baixo seta-cima");
    });
  </script>

  <script>
    aviso_perda_edicao("form", "Você tem alterações não salvas. Tem certeza que deseja sair?");
  </script>

{% endblock %}