{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}

    <style>
      .ordenar {
        box-shadow:inset 0px 1px 3px 0px #91b8b3;
        background:linear-gradient(to bottom, #96ada7 5%, #8c9c9c 100%);
        background-color:#96ada7;
        border-radius:5px;
        border:1px solid #768983;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        padding:3px 3px;
        text-decoration:none;
        text-shadow:0px -1px 0px #2b665e;
        margin-left:10px;
        margin-bottom: 3px;    
        float: right;
      }

      .ordenar:hover {
        background:linear-gradient(to bottom, #8c9c9c 5%, #96ada7 100%);
        background-color:#8c9c9c;
      }

      .ordenar:active {
        position:relative;
        top:1px;
      }

    </style>

{% endblock %}

{% block content %}

    {% if vencido %}
      <h2 class="red-bold">Você não está cadastrado como estudante.</h2>
    {% else %}

      {% if ano != user.aluno.anoPFE or semestre != user.aluno.semestrePFE %}
        <h2 class="red-bold">Você não está registrado para o PFE em {{ano}}.{{semestre}}</h2>
        <h3 class="red-bold">Caso acredite que existe algum erro na informação, por favor contactar a coordenação do PFE</h3>
        <br>
      {% endif %}

    {% endif %}

    {% if not areas %}
    <h5 class="text-warning">
    Você ainda não selecionou nenhuma área de interesse, por favor, faça alguma seleção antes de confirmar os projetos desejados:
    <a href="{% url 'informacoes_adicionais' %}">
      Áreas de Interesse
    </a>
    <br><br>
    <h5>
    {% endif %}

    <div class="row">
      <div class="col">
          <span class="titulo">Propostas de Projetos Disponíveis</span>
        </div>
      <div class="col-2 align-self-end">
        <button class="ordenar" onclick="sortTable()">Ordenar&nbsp;&#x21e3;</button>
      </div>
    </div>
    <div class="row">
      <div class="col">

        {% if propostas %}
          <form action="" method="post"> {% csrf_token %}
            {% if liberadas_propostas %}

              <table id="propostas" class="table table-hover table-bordered table-sm ">
                <tbody>
                {% for proposta in propostas %} 
                  {% if proposta.disponivel %}
                    <tr>
                      <th scope="row" class="align-middle" style="text-align:center; width: 1%;">
                        <select class="opcoes" id="selection{{proposta.pk}}" name="selection{{proposta.pk}}" 
                        {% if vencido %}disabled{% endif %}></select>
                        <script>
                          var select = document.getElementById("selection{{proposta.pk}}");
                          select.options[select.options.length] = new Option("--", 0);
                          for(var index=1; index<={{propostas|length}}; index++){
                            select.options[select.options.length] = new Option(index, index);
                          }

                          // Para agora nao encontrei forma mais inteligente de fazer isso
                          {% for opcao in opcoes_temporarias %} 
                            {% if opcao.proposta.pk == proposta.pk %}
                            select.selectedIndex = {{ opcao.prioridade }};
                            {% endif %}
                          {% endfor %}

                        </script>
                      </th>
                      <td>
                        <a style="display: block;" href="{% url 'proposta_detalhes' proposta.pk %}">
                          {% if proposta.titulo %}
                            {{proposta.titulo}}
                          {% else %}
                            PROBLEMA EM RECUPERAR TÍTULO DA PROPOSTA
                          {% endif %}
                          <font color="darkblue">
                            {% if proposta.nome_organizacao %}
                              ({{ proposta.nome_organizacao }})
                            {% elif proposta.organizacao and proposta.organizacao.nome %}
                              ({{ proposta.organizacao.nome }})
                            {% else %}
                              PROBLEMA EM RECUPERAR ORGANIZAÇÃO DA PROPOSTA
                            {% endif %}
                          </font>
                        </a>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
                </tbody>
              </table>
              
            {% else %}
              Propostas ainda não liberadas.
            {% endif %}

            <font color="red">
              {{warnings|linebreaks}}
            </font>

            <small >Quando decidir os projetos desejados, clique em <b>Confirmar</b>. Você pode reconfirmar quantas vezes desejar até dia {{prazo}}.<br></small>
            <div style="display: flex; margin-top: 8px;">      
              
              <input class="btn btn-primary mb-1" type="submit" style="margin-right: 14px;" value="Confirmar" {% if vencido or not liberadas_propostas or not areas %}disabled{% endif %}>

              <small style="float: right;"><font color="red">
                Selecione ao menos {{min_props}} propostas (1 a {{min_props}}), sendo 1 para a que você tem mais interesse.
              </font></small>
              
            </div>

          </form>

        {% else %}
          <p>Não existem Propostas de Projetos disponíveis.</p>
        {% endif %}

      </div>
    </div>


  <script>
    {% comment %} https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sort_table_number {% endcomment %}
    function sortTable() {

      var rows, switching, i, x, y, shouldSwitch;
      switching = true;
      while (switching) {
        switching = false;
        rows = $('#propostas > tbody > tr');
        for (i = 0; i < (rows.length - 1); i++) {
          
          shouldSwitch = false;
          
          x = rows[i].getElementsByTagName("TH")[0].getElementsByTagName("select")[0].value;
          y = rows[i + 1].getElementsByTagName("TH")[0].getElementsByTagName("select")[0].value;

          if(x==0) x=Number.POSITIVE_INFINITY;
          if(y==0) y=Number.POSITIVE_INFINITY;

          if (Number(x) > Number(y)) {
            shouldSwitch = true;
            
            break;
          }
        }

        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }

      }
    }

    function carrega_pagina() {  
      sortTable();
    }

    window.onload = carrega_pagina

    function atualiza_opcao_temporaria() {

      var proposta_id = $(this).attr("id").slice(9);
      var prioridade = $(this).val(); 

      $.ajax({
          type: "POST",
          url: "{% url 'opcao_temporaria' %}",
          data: {    
              proposta_id: proposta_id,
              prioridade: prioridade,
              "csrfmiddlewaretoken": "{{ csrf_token }}",
          },
          success: function(response){},
          {% include "ajax_error_function.js" %}
      });

    }
    
    $(".opcoes").change(atualiza_opcao_temporaria);

  </script>

{% endblock %}