{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load dictionary %}
  {% load linguas %}

  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">

  <style>
    .ordenar {
      box-shadow: inset 0px 1px 3px 0px #91b8b3;
      background: linear-gradient(to bottom, #96ada7 5%, #8c9c9c 100%);
      background-color: #96ada7;
      border-radius: 5px;
      border: 1px solid #768983;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 13px;
      font-weight: bold;
      padding: 3px 3px;
      text-decoration: none;
      text-shadow: 0px -1px 0px #2b665e;
      margin-left: 10px;
      margin-bottom: 3px;    
      float: right;
    }

    .ordenar:hover {
      background: linear-gradient(to bottom, #8c9c9c 5%, #96ada7 100%);
      background-color: #8c9c9c;
    }

    .ordenar:active {
      position: relative;
      top: 1px;
    }

    .table-sm {
        border-collapse: separate;
        border-spacing: 0 0.5em;
    }
    
    .table-hover tbody tr:hover {
      background-color: #f5f5f5;
    }

    .table-sm th, .table-sm td {
      padding: 0.25rem;
    }

    .select-wrapper {
      position: relative;
      display: inline-block;
    }

    .select-wrapper select {
      background: #f8f9fa;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      color: #495057;
    }

    .table-row {
      border-radius: 0.25rem;
      overflow: hidden;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }

    .linha_th {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-radius: 0.25rem 0 0 0.25rem;
    }

    .linha_td {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-radius: 0 0.25rem 0.25rem 0;
    }

  </style>
  
{% endblock %}

{% block content %}

  {% if vencido %}
    <h2 class="red-bold">
      {% lng "Você não está cadastrado como estudante." "You are not registered as a student." %}
    </h2>
  {% else %}
    {% if ano != user.aluno.anoPFE or semestre != user.aluno.semestrePFE %}
      <h2 class="red-bold">
        {% lng "Você não está registrado para o Capstone em {{ano}}.{{semestre}}" "You are not registered for the Capstone in {{ano}}.{{semestre}}" %}
      </h2>
      <h3 class="red-bold">
        {% lng "Caso acredite que existe algum erro na informação, por favor contactar a coordenação do Capstone." "If you believe there is an error in the information, please contact the Capstone coordination." %}
      </h3>
      <br>
    {% endif %}
  {% endif %}

  {% if not areas %}
    <h5 class="text-warning">
      {% lng "Você ainda não selecionou nenhuma área de interesse, por favor, faça alguma seleção antes de confirmar os projetos desejados:" "You have not selected any areas of interest yet, please make a selection before confirming the desired projects:" %}      
      <a href="{% url 'informacoes_adicionais' %}">
        {% lng "Áreas de Interesse" "Areas of Interest" %}
      </a>
    <h5><br><br>
  {% endif %}

  <div class="container-fluid mt-1">
    <div class="row">
      <div class="col-12 col-md-10">
        {% lng "Selecione as propostas conforme seu interesse" "Select the proposals according to your interest" %}
      </div>
      <div class="col-12 col-md-2 text-md-right mt-2 mt-md-0">
        <button class="ordenar btn btn-primary" onclick="sortTable()">
          {% lng "Ordenar" "Sort" %}&nbsp;&#x21e3;
        </button>
      </div>
    </div>

    {% if propostas %}
      <form action="" method="post"> {% csrf_token %}
        {% if liberadas_propostas %}

            <table id="propostas" class="opcoes_t table-hover table-sm ">
              <tbody>
              {% for proposta in propostas %} 
                {% if proposta.disponivel %}
                  <tr class="table-row">
                    <th scope="row" class="linha_th align-middle text-center" style="width: 1%;">
                      <div class="select-wrapper">
                        <select
                        class="opcoes" id="selection{{proposta.pk}}" name="selection{{proposta.pk}}" 
                        {% if vencido %}disabled{% endif %}>
                          <option value="0">--</option>

                          {% for index in propostas|length|to_range %}
                              <option value="{{ index }}" {% if opcoes_temporarias|get_value:proposta.id == index %}selected{% endif %}>{{ index }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </th>
                    <td class="linha_td">
                      <a href="{% url 'proposta_detalhes' proposta.pk %}">
                        {% if proposta.titulo %}
                          {{proposta.titulo}}
                        {% else %}
                          {% lng "PROBLEMA EM RECUPERAR TÍTULO DA PROPOSTA" "PROBLEM IN RETRIEVING PROPOSAL TITLE" %}
                        {% endif %}
                        <font color="darkblue">
                          {% if proposta.nome_organizacao %}
                            ({{ proposta.nome_organizacao }})
                          {% elif proposta.organizacao and proposta.organizacao.nome %}
                            ({{ proposta.organizacao.nome }})
                          {% else %}
                            {% lng "PROBLEMA EM RECUPERAR ORGANIZAÇÃO DA PROPOSTA" "PROBLEM IN RETRIEVING PROPOSAL ORGANIZATION" %}
                          {% endif %}
                        </font>

                        {% include "tipo_proposta.html" %}

                      </a>
                      
                      <i class="anteriores" style="float:right;"><span class="seta-cima"></span></i>
                      <div id="relato{{item.id}}" style="display: none; background-color: #f9f9f2; padding: 5px;" class="relato">
                        {{proposta.descricao|linebreaks}}
                      </div>

                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>

        {% else %}
          {% lng "Propostas ainda não liberadas." "Proposals not yet released." %}
        {% endif %}

      </div>

        <font color="red">
          {{warnings|linebreaks}}
        </font>

        <small>
          {% lng "Quando decidir os projetos desejados, clique em <b>Confirmar</b>. Você pode reconfirmar quantas vezes desejar até dia" "When you decide on the desired projects, click <b>Confirm</b>. You can reconfirm as many times as you want until" %}
          {{prazo}}.
        </small><br>

        <div class="row mt-3">
          <div class="col-12 col-md-2">
            <button class="btn btn-primary mb-1 mr-3" 
                  {% if vencido or not liberadas_propostas %}disabled{% endif %}
                  {% if areas %} 
                    type="submit" 
                  {% else %} 
                    style="background-color: #6fa2fa;"
                    type="button" 
                    onclick="alert('Selecione suas áreas de interesse e experiências');"
                  {% endif %}
                  >
              {% lng "Confirmar" "Confirm" %}
            </button>
          </div>
          <div class="col-12 col-md-10 text-md-left mt-0 mt-md-0">
            <small><font color="red">
              {% lng "Selecione ao menos {{min_props}} propostas (1 a {{min_props}}), sendo 1 para a que você tem mais interesse." "Select at least {{min_props}} proposals (1 to {{min_props}}), being 1 for the one you are most interested in." %}
            </font></small>
          </div>
        </div>

      </form>

    {% else %}
      <p>
        {% lng "Não existem Propostas de Projetos disponíveis." "There are no Project Proposals available." %}
      </p>
    {% endif %}

  </div>

  <script>
    {% comment %} https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sort_table_number {% endcomment %}
    function sortTable() {

      var rows, switching, i, x, y, shouldSwitch;
      switching = true;
      while (switching) {
        switching = false;
        rows = $('#propostas > tbody > tr');
        for (i = 0; i < (rows.length - 1); i++) {
          
          shouldSwitch = false;
          
          x = rows[i].getElementsByTagName("TH")[0].getElementsByTagName("select")[0].value;
          y = rows[i + 1].getElementsByTagName("TH")[0].getElementsByTagName("select")[0].value;

          if(x==0) x=Number.POSITIVE_INFINITY;
          if(y==0) y=Number.POSITIVE_INFINITY;

          if (Number(x) > Number(y)) {
            shouldSwitch = true;
            break;
          }
        }

        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }

      }
    }

    function atualiza_opcao_temporaria() {
      $.ajax({
          type: "POST",
          url: "{% url 'opcao_temporaria' %}",
          data: {    
              proposta_id: $(this).attr("id").slice(9),
              prioridade: $(this).val(),
              "csrfmiddlewaretoken": "{{ csrf_token }}",
          },
          success: function(response){},
          {% include "ajax_error_function.js" %}
      });
    }
    $(".opcoes").change(atualiza_opcao_temporaria);

    function carrega_pagina() {  
      sortTable();
    }
    window.onload = carrega_pagina;

  </script>

  <script>
    $(".anteriores").on("click", function() {
      $(this).siblings("div").toggle(200);
      $("span", this).toggleClass("seta-baixo seta-cima");
    });
  </script>

{% endblock %}