{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 3 de Novembro de 2023
{% endcomment %}

{% block head %}
  {% load static %}
  {% load date_extras %}
  <script>{% include "tooltip.js" %}</script>
  {% comment %} Para recarregar a página em caso de um botão back ou similar {% endcomment %}
  {% include "reload.html" %}
  <style>
    ul {margin-bottom: 6px;}
    .lightgrey,
    .lightgrey:link,
    .lightgrey:visited,
    .lightgrey:hover,
    .lightgrey:active
      {color:lightgrey;}
  </style>
  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">
  <link rel="stylesheet" href="{% static 'css/short_full.css' %}">

{% endblock %}


{% block content %}

  <span class="titulo">Submissão de Documentos</span>

  {% if projeto %}
    {% include "cabecalho_projeto.html" with com_email=True %}
    <br>
  {% else %}
    <h4>Nenhum projeto encontrado!</h4><br>
  {% endif %}

  {% for item in entregas %}
    {% with dias_ate=item.evento.endDate|dif_dias_hoje dias=14 %} {% comment %} Eventos são mostrados duas semanas antes do prazo {% endcomment %}
      <div {% if dias_ate > dias and user.tipo_de_usuario == 1 %}style="display:none;"{% endif %} class="div_arredondado">
        <span {% if dias_ate > dias %}style="color:lightgrey;"{% endif %}>
        <b>{{item.composicao.exame.titulo}}</b> 
        <span class="opt_full">[prazo {{ item.evento.endDate|date:"DATE_FORMAT" }}]</span>
        <span class="opt_short">[prazo {{ item.evento.endDate|date:"d/m/y" }}]</span>
        {% if item.composicao.tipo_documento %}
          <a id="adiciona"
            class="open-documento {% if dias_ate > dias %}lightgrey{% endif %}"
            data-toggle="tooltip" data-html="true" animation="true"
            {% if item.documentos.last %}
              title="Substitui documento"
              data-url="{% url 'adiciona_documento_estudante' item.composicao.tipo_documento.nome item.documentos.last.id %}"
            {% else %}
              title="Adicionar documento"
              data-url="{% url 'adiciona_documento_estudante' item.composicao.tipo_documento.nome %}"
            {% endif %}
            onClick="check_prazo('{{item.evento.endDate|date:"Y-m-d"}}T23:59:59');"
            >
            {% if dias_ate > dias %}+{% else %}{% if item.documentos.last %}<b>&#128472;</b>{% else %}&#10133;{% endif %}{% endif %}
          </a>
        {% endif %}<br>
        <ul style="padding-left: 22px; width: fit-content;">
        {% for documento in item.documentos %}
          <li style="list-style-type:'&#128463; ';">
            {% if forloop.first%}<b>{% endif %}
            {% if documento.documento and documento.link %}
              Entregue {{documento.data}}
              <a 
                {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                class="{% if dias_ate > dias %}lightgrey{% endif %}"
                href="http://{{request.get_host}}{{MEDIA_URL}}{{documento.documento}}" target="_blank" rel="noopener noreferrer">(documento)</a>
              <a 
                {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                class="{% if dias_ate > dias %}lightgrey{% endif %}"
                href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
            {% else %}
              {% if documento.documento %}
                <a 
                  {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                  class="{% if dias_ate > dias %}lightgrey{% endif %}"
                  href="http://{{request.get_host}}{{MEDIA_URL}}{{documento.documento}}" target="_blank" rel="noopener noreferrer">Entregue {{documento.data}}</a>
              {% endif %}
              {% if documento.link %}
                <a
                  {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                  class="{% if dias_ate > dias %}lightgrey{% endif %}"
                  href="{{documento.link}}" target="_blank" rel="noopener noreferrer">Entregue {{documento.data}}</a>
              {% endif %}
            {% endif %}
            {% if documento.data|diff_days:item.evento.endDate > 0 %}<span style="color: red;">[ENTREGUE APÓS PRAZO]</span>{% endif %}
            {% if forloop.first%}</b>{% endif %}  
          </li>
        {% empty %}
          {% if item.composicao.tipo_documento %}
            <span {% if dias_ate > dias %}style="color:lightgrey;"{% endif %}>sem arquivos</span><br>
          {% endif %}
        {% endfor %} 
        </ul>
        {% include "display_avaliacoes.html" %}
      </div>
    {% endwith %}
  {% endfor %} 

  {% include "documento-modal.html" %}

  <script>
    function check_prazo(prazo) {
      data_prazo = new Date(prazo);
      const now = new Date();
      if(now-data_prazo>0) {
        return alert("A entrega será fora do prazo!");
      }
    }
  </script>

  {% comment %} Sistema de controle de exibição de linguas. {% endcomment %}
  {% include "linguas.html" %}

{% endblock %}