{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 3 de Novembro de 2023
{% endcomment %}

{% block head %}
  {% load static %}
  {% load date_extras %}
  <script>{% include "tooltip.js" %}</script>
  {% comment %} Para recarregar a página em caso de um botão back ou similar {% endcomment %}
  {% include "reload.html" %}
  <style>
    ul {
      margin-bottom: 6px;
      width: 100%;
    }
    .pintern {
      border: 1px solid grey;
      display:block;
      margin: 8px 0px 0px 0px;
      background-color: #FAFAF3;
    }
    .lightgrey,
    .lightgrey:link,
    .lightgrey:visited,
    .lightgrey:hover,
    .lightgrey:active
      {color:lightgrey;}
    .nome_entrega {
      font-size: 0.9em;
      margin-left: 0.4em;
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">
  <link rel="stylesheet" href="{% static 'css/short_full.css' %}">
  {% include "style_display_avaliacoes.html" %}

{% endblock %}


{% block content %}

  <span class="titulo">Submissão de Documentos</span>

  {% if mensagem %}
    <span class="red-bold">{{mensagem|linebreaks}}</span>
    <br>
  {% endif %}

  {% if projeto %}
    {% include "cabecalho_projeto.html" with com_email=True %}
    <br>
  {% else %}
    <h4>Nenhum projeto encontrado!</h4><br>
  {% endif %}

  {% for item in entregas %}
    {% with dias_ate=item.evento.endDate|dif_dias_hoje dias=14 %} {% comment %} Eventos são mostrados duas semanas antes do prazo {% endcomment %}
      <div class="div_arredondado pintern" {% if dias_ate > dias and user.tipo_de_usuario == 1 %}style="display:none;"{% endif %}>
        <span class="nome_entrega" {% if dias_ate > dias %}style="color:lightgrey;"{% endif %}>
        {% if item.composicao.tipo_documento %}
          <b>{{item.composicao.tipo_documento.nome}}</b> 
        {% else %}
          <b>{{item.composicao.exame.titulo}}</b>
        {% endif %}
        {% if item.evento.endDate %}
          <span class="opt_full">[prazo {{ item.evento.endDate|date:"DATE_FORMAT" }}]</span>
          <span class="opt_short">[prazo {{ item.evento.endDate|date:"d/m/y" }}]</span>
        {% endif %}
        {% if item.composicao.tipo_documento %}
          <a id="adiciona"
            class="open-documento {% if dias_ate > dias %}lightgrey{% endif %}"
            data-toggle="tooltip" data-html="true" animation="true"
            {% if item.documentos.last %}
              title="Substitui documento"
              data-url="{% url 'adiciona_documento_estudante' item.composicao.tipo_documento.sigla item.documentos.last.id %}"
            {% else %}
              title="Adicionar documento"
              data-url="{% url 'adiciona_documento_estudante' item.composicao.tipo_documento.sigla %}"
            {% endif %}
            onClick="check_prazo('{{item.evento.endDate|date:"Y-m-d"}}T23:59:59');"
            >
            {% if item.documentos.last %}<b><i class="fas fa-redo"></i></b>{% else %}<i class="fas fa-file-upload"></i>{% endif %}
          </a>
        {% endif %}<br>
        <ul style="margin-bottom: 2px; padding-left: 22px; width: fit-content;">
        {% for documento in item.documentos %}
          <li style="list-style-type:'';">
            {% if forloop.first%}<b>{% endif %}<span class="fa fa-file"></span>
            {% if documento.documento and documento.link %}
              Entregue
              <span class="opt_full">{{ documento.data|date:"DATETIME_FORMAT" }}</span>
              <span class="opt_short">{{ documento.data|date:"d/m/y H:i" }}</span>
              <a 
                {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                class="{% if dias_ate > dias %}lightgrey{% endif %}"
                href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">(documento)</a>
              <a 
                {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                class="{% if dias_ate > dias %}lightgrey{% endif %}"
                href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
            {% else %}
              {% if documento.documento %}
                <a 
                  {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                  class="{% if dias_ate > dias %}lightgrey{% endif %}"
                  href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">
                  Entregue
                  <span class="opt_full">{{ documento.data|date:"DATETIME_FORMAT" }}</span>
                  <span class="opt_short">{{ documento.data|date:"d/m/y H:i" }}</span>
                </a>
              {% endif %}
              {% if documento.link %}
                <a
                  {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                  class="{% if dias_ate > dias %}lightgrey{% endif %}"
                  href="{{documento.link}}" target="_blank" rel="noopener noreferrer">
                  Entregue
                  <span class="opt_full">{{ documento.data|date:"DATETIME_FORMAT" }}</span>
                  <span class="opt_short">{{ documento.data|date:"d/m/y H:i" }}</span>
                </a>
              {% endif %}
            {% endif %}
            {% if documento.data|diff_days:item.evento.endDate > 0 %}<span style="color: red;">[FORA DO PRAZO]</span>{% endif %}
            {% if forloop.first%}</b>{% endif %}  
          </li>
          {% if item.avaliacoes and item.avaliacoes.first%}
            {% if documento.data > item.avaliacoes.first.momento %}
              <span style="color: red;">Avaliação desatualizada, orientador irá refazer para a nova entrega!</span>
            {% endif %}
          {% endif %}
        {% empty %}
          {% if item.composicao.tipo_documento %}
            <span {% if dias_ate > dias %}style="color:lightgrey;"{% endif %}>sem arquivos</span><br>
          {% endif %}
        {% endfor %} 
        </ul>
        {% include "display_avaliacoes.html" with avaliacoes=item.avaliacoes nota=item.nota observacao=item.observacao %}
      </div>
    {% endwith %}
  {% endfor %} 

  {% include "documento-modal.html" %}

  <script>
    function check_prazo(prazo) {
      data_prazo = new Date(prazo);
      const now = new Date();
      if(now-data_prazo>0) {
        return alert("A entrega será fora do prazo!");
      }
    }
  </script>

  {% comment %} Sistema de controle de exibição de linguas. {% endcomment %}
  {% include "linguas.html" %}

{% endblock %}