{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 3 de Novembro de 2023
{% endcomment %}

{% block head %}
  {% load static %}
  {% load certificado_banca %}
  <script>{% include "tooltip.js" %}</script>

  {% comment %} Para recarregar a página em caso de um botão back ou similar {% endcomment %}
  {% include "reload.html" %}
  
{% endblock %}

{% block content %}

    <br>
    <h4>Submissão de Documentos</h4>

    Projeto: {{projeto.get_titulo}}<br><br>

    {% for item in itens %}
      <b>{{item.0}}</b>: <a 
        data-toggle="tooltip" data-html="true" animation="true" title="Adicionar documento"
        class="open-documento"
        href="{% url 'adiciona_documento' projeto.organizacao.id projeto.id item.1 %}"
        data-url="{% url 'adiciona_documento' projeto.organizacao.id projeto.id item.1 %}"><b>&#10133;</b>
      </a><br><ul style="padding-left: 22px; width: fit-content;">
      {% for documento in item.2 %}
        <li style="list-style-type:'&#128463; ';">
        {% if documento.documento and documento.link %}
          {{documento.data}} - {{documento}}
          <a data-toggle="tooltip" data-html="true" animation="true" title="Entregue" 
             href="../..{{MEDIA_URL}}{{documento.documento}}" target="_blank" rel="noopener noreferrer">(documento)</a>
          <a data-toggle="tooltip" data-html="true" animation="true" title="Entregue" 
             href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
        {% else %}
          {% if documento.documento %}
            <a data-toggle="tooltip" data-html="true" animation="true" title="Entregue"
               href="../..{{MEDIA_URL}}{{documento.documento}}" target="_blank" rel="noopener noreferrer">{{documento.data}} - {{documento}}</a>
          {% endif %}
          {% if documento.link %}
            <a data-toggle="tooltip" data-html="true" animation="true" title="Entregue"
               href="{{documento.link}}" target="_blank" rel="noopener noreferrer">{{documento.data}} - {{documento}}</a>
          {% endif %}
        {% endif %}
        </li>
      {% empty %}
        Não entregue
      {% endfor %} 
      </ul><br>
    {% endfor %} 

    {% include "documento-modal.html" %}

{% endblock %}