{% extends "base.html" %}

{% block content %}
  <h1>Aluno: {{ aluno.nome_completo }}</h1>

  <p><strong>login:</strong> <a href="">{{ aluno.login }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>nome_completo:</strong> {{ aluno.nome_completo }}</p>
  <p><strong>curso:</strong> {{ aluno.curso }}</p> 
  <p><strong>email:</strong> {{ aluno.email }}</p>  
  <p><strong>email_pessoal:</strong> {{ aluno.email_pessoal }}</p>  
  <p><strong>projetos:</strong> {% for projeto in aluno.opcoes.all %} {{ projeto }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

{% endblock %}
