{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 17 de Janeiro de 2020
{% endcomment %}

{% block head %}
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock %}

{% block content %}

  <span class="titulo">Alocações em Bancas</span>
  <br>

  {% for membros,periodo in anos %} 
    <big>{{periodo}}</big>
    {% if membros %}
      <table id="MembrosTable">
        <tr>
          <th onclick="w3.sortHTML('#MembrosTable', '.item', 'td:nth-child(1)')" style="cursor:pointer;width:300px;" class="text-center">Nome</th>
          <th onclick="w3.sortHTML('#MembrosTable', '.item', 'td:nth-child(2)')" style="cursor:pointer;width:70px;" class="text-center">Quant.</th>
        </tr>
        {% for membro, bancas in membros.items %}
          <tr class="item">
            <td>
              {% if membro.tipo_de_usuario == 2 %}
                <a href="{% url 'professor_detail' membro.professor.id %}">
                  {{membro.get_full_name}}
                </a>
              {% elif membro.tipo_de_usuario == 3 %}
                <a href="{% url 'parceiro_detail' membro.parceiro.id %}">
                  {{membro.get_full_name}}
                </a>
              {% elif membro.tipo_de_usuario == 4 %}
                <a href="{% url 'professor_detail' membro.professor.id %}">
                  {{membro.get_full_name}}
                </a>
              {% endif %}  
            </td>
            <td class="text-center" data-toggle="tooltip" data-html="true" animation="true" title="
              {% for banca in bancas %}
                &bull;
                {{banca.projeto.get_titulo}}
                ({{banca.startDate}})
                <br>
              {% endfor %}
            "> 
              {{bancas|length}}
            </td>
          </tr>
        {% endfor %}
      </table>
      <br>
    {% else %}
      <p>Não existem bancas.</p>
      <br>
    {% endif %}
  {% endfor %}
  <br>
  <p>&nbsp;</p>

{% endblock %}