{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 27 de Abril de 2020
{% endcomment %}

{% block head %}
  <style>
    textarea {
      max-width:100%;
    }
  </style>
{% endblock %}

{% block content %}

  <h5>
  {% if edicao %}
    Edição
  {% else %}
    Cadastro
  {% endif %}
  de Organização Parceira</h5>

  <form action="" method="post"> {% csrf_token %}  

    {% comment %}

    nome_empresa = models.CharField("Nome Fantasia", max_length=80,
                                    help_text='Nome fantasia da organização parceira')
    sigla = models.CharField("Sigla", max_length=20,
                             help_text='Sigla usada pela organização parceira')
    endereco = models.TextField("Endereço", max_length=200, null=True, blank=True,
                                help_text='Endereço da organização parceira')
    website = models.URLField("website", max_length=250, null=True, blank=True,
                              help_text='website da organização parceira')
    informacoes = models.TextField("Informações", max_length=1000, null=True, blank=True,
                                   help_text='Informações sobre a organização parceira')
    logotipo = models.ImageField("Logotipo", upload_to=get_upload_path, null=True, blank=True,
                                 help_text='Logotipo da organização parceira')
    cnpj = models.CharField("CNPJ", max_length=14, null=True, blank=True,
                            help_text='Código de CNPJ da empresa')
    inscricao_estadual = models.CharField("Inscrição Estadual", max_length=15,
                                          null=True, blank=True,
                                          help_text='Código da inscrição estadual')
    razao_social = models.CharField("Razão Social", max_length=100, null=True, blank=True,
                                    help_text='Razão social da organização parceira')
    ramo_atividade = models.CharField("Ramo de Atividade", max_length=120, null=True, blank=True,
                                      help_text='Ramo de atividade da organização parceira')

    <label for="nome">Nome:</label><input type="text" size="75" id="nome" name="nome" value="{{full_name}}" required><br><br>
    <label for="email">e-mail:</label><input type="email" size="75" id="email" name="email" value="{{email}}" required><br><br>

    <label for="organizacao">Nome da Instituição/Empresa<br>
    <small>sigla e nome comercial/fantasia se houver (aqui não é necessário indicar a Razão Social)</small>
    </label><br>
    <textarea id="organizacao" name="organizacao" rows="1" cols="80" maxlength="100" required>{{ organizacao }}</textarea>
    <br><br>

    <label for="website">website:</label><input type="text" size="73" id="website" name="website" value="{{website}}" placeholder="https://www.insper.edu.br" required><br><br>

    <label for="endereco">Endereço<br>
    <small>onde os alunos deverão ir para desenvolver o projeto</small>
    </label><br>
    <textarea id="endereco" name="endereco" rows="3" cols="80" maxlength="1000" required>{{endereco}}</textarea>
    <br><br>

    <label for="contatos_tecnicos">Contatos Técnicos<br>  
    <small>nome/e-mail/telefone de quem os alunos e professores orientadores irão tratar do desenvolvimento do projeto</small>
    </label><br>
    <textarea id="contatos_tecnicos" name="contatos_tecnicos" rows="4" cols="80" maxlength="1000" required>{{contatos_tecnicos}}</textarea>
    <br><br>

    <label for="contatos_adm">Contatos Administrativos<br>     
    <small>nome/e-mail/telefone, com quem devemos resolver questões contratuais e RH</small>
    </label><br>
    <textarea id="contatos_adm" name="contatos_adm" rows="4" cols="80" maxlength="1000" required>{{contatos_adm}}</textarea>
    <br><br>

    <label for="descricao_organizacao">Informações sobre a instituição/empresa<br>
    <small>descreva a instituição/empresa para os alunos entenderem o que ela faz (opcional)</small>
    </label><br>
    <textarea id="descricao_organizacao" name="descricao_organizacao" rows="4" cols="80" maxlength="1000">{{descricao_organizacao}}</textarea>
    <br><br>

    <label for="info_departamento">Informações sobre a departamento<br>
    <small>descreva o departamento/área para os alunos entenderem o que ele faz (opcional)</small>
    </label><br>
    <textarea id="info_departamento" name="info_departamento" rows="4" cols="80" maxlength="1000">{{info_departamento}}</textarea>
    <br>
    <hr>

    <label for="titulo">Título provisório do projeto<br>
    <small>um título para ser apresentado aos alunos</small>
    </label><br>
    <input type="text" size="80" id="titulo" name="titulo" value="{{titulo}}" required>
    <br><br>

    <label for="desc_projeto">Descrição do Projeto<br>
    <small>para discussão entre professores e que será passada para os alunos</small>
    </label><br>
    <textarea id="desc_projeto" name="desc_projeto" rows="4" cols="80" maxlength="1000" required>{{desc_projeto}}</textarea>
    <br><br>

    {% if edicao %}
      <input type="submit" value="Atualizar Dados da Organização">
    {% else %}
      <input type="submit" value="Cadastrar Organização Parceira">
    {% endif %}

    {% endcomment %}
  
  </form>

  <p>&nbsp;</p>

{% endblock %}