{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 30 de Abril de 2020
{% endcomment %}

{% block head %}
  <style>
    textarea {
      max-width:100%;
    }
  </style>
{% endblock %}

{% block content %}

  <h5>
  {% if edicao %}
    Edição
  {% else %}
    Cadastro
  {% endif %}
  de Usuário</h5>

  <form class="myForm" action="" method="post"> {% csrf_token %}  
  
    <input type="radio" class="tipo" name="tipo_de_usuario" id="estudante" value="estudante" required> <label for="estudante"> Estudante</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" class="tipo" name="tipo_de_usuario" id="professor" value="professor" required> <label for="professor"> Professor</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" class="tipo" name="tipo_de_usuario" id="parceiro" value="parceiro" required> <label for="parceiro"> Parceiro</label>
    <br><br>

    <label for="nome">Nome do Usuário<br></label><br>
    <input type="text" size="80" maxlength="80" id="nome" name="nome" value="{{nome}}" required><br>
    <br><br>

    <label for="email">e-mail:</label> <input type="email" size="73" maxlength="73" id="email" name="email" value="{{email}}" required><br><br>

    <input type="radio" name="genero" id="masculino" value="masculino"> <label for="masculino"> Masculino</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" name="genero" id="feminino" value="feminino"> <label for="feminino"> Feminino</label>

    <br><br>

    <label for="linkedin">LinkedIn:</label><input type="text" size="73" maxlength="73" id="linkedin" name="linkedin" value="{{linkedin}}" placeholder="https://www.linkedin.com/"><br>

    {% comment %}
    <input type="checkbox" id="membro_comite" name="membro_comite" value="True">
    <label for="membro_comite"> Membro do Comitê</label><br>  
    {% endcomment %}

    <br><br>

    <div style="display: block; padding-left: 32px" class="row" data-type="estudante">

      <label for="matricula">Matrícula: </label> <input type="text" size="8" maxlength="8" id="matricula" name="matricula" value="{{matricula}}"><br>
 
      Curso: 
      <input type="radio" name="curso" id="computacao" value="computacao" required> <label for="computacao"> Computação</label>&nbsp;&nbsp;&nbsp;
      <input type="radio" name="curso" id="mecanica" value="mecanica" required> <label for="mecanica"> Mecânica</label>&nbsp;&nbsp;&nbsp;
      <input type="radio" name="curso" id="mecatronica" value="mecatronica" required> <label for="mecatronica"> Mecatrônica</label>
      <br>
      <label for="ano">Ano PFE: </label> 
      <input type="number" id="ano" name="ano" min="2018" max="3018" value="{{ano}}" required>&nbsp;&nbsp;&nbsp;
      <label for="semestre">Semestre PFE: </label> 
      <input type="number" id="semestre" name="semestre" min="1" max="2" value="{{semestre}}" required>

    </div>
    <div style="display: block; padding-left: 32px" class="row" data-type="professor">

      Dedicação: 
      <input type="radio" name="dedicacao" id="ti" value="ti" required> <label for="ti"> TI</label>&nbsp;&nbsp;&nbsp;
      <input type="radio" name="dedicacao" id="tp" value="tp" required> <label for="tp"> TP</label>
      <br>

      <label for="areas">Áreas de interesse: </label> <input type="text" size="80" maxlength="80" id="areas" name="areas" value="{{areas}}"><br>
 
      <label for="website">website:</label><input type="text" size="73" maxlength="73" id="website" name="website" value="{{website}}" placeholder="https://www.insper.edu.br/"><br>
      <label for="lattes">lattes:</label><input type="text" size="73" maxlength="73" id="lattes" name="lattes" value="{{lattes}}" placeholder="https://lattes.cnpq.br/"><br>

    </div>
    <div style="display: block; padding-left: 32px" class="row" data-type="parceiro">

      <br><b><label for="organizacao">Organização</label></b>:
      <select name="organizacao" id="organizacao" title="Selecione organização">
          <option disabled selected value> -- selecione uma organização -- </option>
          {% for organizacao in organizacoes %}
            <option value="{{organizacao.id}}">
              {{organizacao}}
            </option>  
          {% endfor %}
      </select><br>

      <label for="cargo">cargo:</label><input type="text" size="50" maxlength="90" id="cargo" name="cargo" value="{{cargo}}"><br>
      
      <label for="telefone">telefone:</label><input type="text" size="20" maxlength="20" id="telefone" name="telefone" value="{{telefone}}"><br>
      <label for="celular">celular:</label><input type="text" size="20" maxlength="20" id="celular" name="celular" value="{{celular}}"><br>
      <label for="skype">skype:</label><input type="text" size="32" maxlength="32" id="skype" name="skype" value="{{skype}}"><br>

      <label for="observacao">Observações:</label><br>
      <textarea id="observacao" name="observacao" rows="4" cols="80" maxlength="500">{{observacao}}</textarea><br>

      <input type="checkbox" id="principal_contato" name="principal_contato" value="True">
      <label for="principal_contato"> Principal Contato</label><br>

    </div>

    <br><br>
    <input type="submit" value="Cadastrar Usuário">
    
    {% comment %}
        <label for="endereco">Endereço<br></label><br>
    <textarea id="endereco" name="endereco" rows="3" cols="80" maxlength="1000">{{endereco}}</textarea>
    <br><br>

      {% if edicao %}
        <input type="submit" value="Atualizar Dados do Usuário">
      {% else %}
      {% endif %}
    {% endcomment %}

  </form>


  <script type="text/javascript">

    function filtra_data() {
      var filterValue = $("input:radio[name=tipo_de_usuario]:checked").val()
      var row = $('.row'); 
      row.hide();

      row.each(function(i, el) {
        if( filterValue == $(el).attr('data-type') ) {
            $(el).show();
        }
      });

      // Para não validar o que está escondido
      $("div:hidden").children('input').attr("disabled", true);

      // Para validar o que está visível
      $("div:visible").children('input').attr("disabled", false);

    }

    $(".tipo").change(function(){
      filtra_data();
    });  

    $(document).ready(function(){
      filtra_data();
    });
  
  </script>

  <p>&nbsp;</p>

{% endblock %}