{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 7 de Abril de 2021
{% endcomment %}

{% block head %}

  {% load static %}
  {% load l10n %}
  {% load rubricas %}

  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    table, th, td {
      border: 1px solid lightgrey;
    }

    tr:nth-child(even) {background-color: #f2f2f2;}

    @media print {
        .grafico, .container {
            min-width:100% !important;
        }
    }
        

  </style>

  {% include "cores_bancas.html" %}
  
  <script>

    function conceito(nota) {
        if( nota >= 9.5 ) return ("A+")
        if( nota >= 9 ) return ("A")
        if( nota >= 8 ) return ("B+")
        if( nota >= 7 ) return ("B")
        if( nota >= 6 ) return ("C+")
        if( nota >= 5 ) return ("C")
        if( nota >= 4 ) return ("D+")
        if( nota >= 3 ) return ("D")
        if( nota >= 2 ) return ("D-")
        return ("I")
    }

    function converte_nota(conceito) {
      if(conceito=="A+"||conceito=="A+ ") return(10);
        if(conceito=="A"||conceito=="A ") return(9);
        if(conceito=="B+"||conceito=="B+ ") return(8);
        if(conceito=="B"||conceito=="B ") return(7);
        if(conceito=="C+"||conceito=="C+ ") return(6);
        if(conceito=="C"||conceito=="C ") return(5);
        if(conceito=="D+"||conceito=="D+ ") return(4);
        if(conceito=="D"||conceito=="D ") return(3);
        if(conceito=="D-"||conceito=="D- ") return(2);
        if(conceito=="I"||conceito=="I ") return(0);
        return(0);
    }

    class Objetivo {
      constructor() { 
        this.avaliacoes = 0;
        this.titulo = "";
        this.total = 0;
      }

      soma_conceito(conceito){
        this.avaliacoes += 1
        this.total += converte_nota(conceito);
      }

      soma_nota(nota){
        this.avaliacoes += 1
        this.total += nota
      }

      nota(){
        let nota = this.total/this.avaliacoes
        return nota;
      }

      media(){
        let nota = this.nota().toPrecision(3);
        return conceito(nota);
      }

      texto() {
        let descricao = ""
        descricao += "<li>"
        descricao += this.titulo
        descricao += ": "
        descricao += this.media()
        descricao += "</li>"
        return (descricao)
      }

    }

    class Banca { 
      constructor() { 
        this.dict = new Object();
      }

      add_objetivo(objetivo) {
        if(!(objetivo.titulo in this.dict)) {
          this.dict[objetivo.titulo] = objetivo
        }
      }

      media() {
        var nota_final = 0;
        var contagem = 0;
        for (var key in this.dict) {
            if(this.dict[key].avaliacoes>0) {
              nota_final += converte_nota(this.dict[key].media());
              contagem += 1;
            }
        }

        return (nota_final/contagem);
      }

      media_geral() {
        var nota_final = 0;
        var contagem = 0;
        for (var key in this.dict) {
            if(this.dict[key].avaliacoes>0) {
              nota_final += this.dict[key].nota();
              contagem += 1;
            }
        }

        return (nota_final/contagem)
      }

      media_calculada(){
        
        let descricao = "&#10149; Nota Final Calculada = "

        descricao += '<span data-toggle="tooltip" data-html="true" animation="true" '
        descricao += ' title="Média usando conceitos finais '
        descricao += '(cálculo com todos os conceitos intermediários levaria a nota=' + (this.media_geral()).toPrecision(3) + ')">'
        
        var media_final = this.media();
        descricao += "<b style='font-size: 1.16em;'>";
        descricao += conceito(media_final);
        descricao += "("+media_final.toPrecision(3)+")";
        descricao += "</b>";
        descricao += '</span>';

        return (descricao)
      }

    }

  </script>

  <script src="{% static 'js/w3.js' %}"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

  {% comment %} Para gerar as imagens {% endcomment %}
  <script src="{% static 'js/html2canvas.min.js' %}"></script>
  <script src="{% static 'js/jspdf.min.js' %}"></script>

{% endblock %}

{% block content %}

    <script>
        function ajusta() { }
        function reajusta() { }
    </script>

    {% include "impressora.html" %}
    
    {% with file_name="falconi" %}
        {% include "save_image.html" %}
    {% endwith %}


    <div id="tudo">

    <span class="titulo">Análise dos Conceitos das Certificações Falconi</span>

    {% comment %} Seletor da edição da pesquisa {% endcomment %}
    {% with n_todas=True %}
        {% include "edicoes.html" %}
    {% endwith %}
    
    <div class="atualizar">
        <div class="container">

            <div class="row mt-5 justify-content-around graficos">
                <div class="col-md-6 mb-5 grafico"><canvas id="pie-falconi"></canvas></div>
                <div class="col-md-6 mb-5 grafico"><canvas style="min-height:300px" id="bar-falconi"></canvas></div>
            </div>
            

            <script>
        
                // Para o label colorido das barras
                Chart.plugins.register({
                    beforeDraw: function (chart) {
                        if (chart.config.data.datasets[0].labelColor) {
                            let legends = chart.legend.legendItems;
                            legends.forEach(function (e, i) {
                                e.fillStyle = chart.config.data.datasets[i].labelColor;
                                e.strokeStyle = chart.config.data.datasets[i].labelColor;
                            });
                        }
                    }
                });

                var tooltips = {
                    enabled: false
                };


                var config_pie_falconi = {
                    type: 'pie',
                    data: {
                    labels: ["Selecionados", "Não selecionados"],
                    datasets: [
                        {
                        label: "Projetos",
                        backgroundColor: ["#1e951e", "#8e8e11"],
                        data: [{{selecionados}},{{nao_selecionados}}]
                        }
                    ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Projetos Selecionados para Certificação Falconi',
                            position: 'top'
                        },
                        tooltips: tooltips,
                        legend: {
                            display: true,
                            position: "bottom",
                        },
                        plugins: {
                            datalabels: {
                                formatter: (value, ctx) => {
                                    let sum = 0;
                                    let dataArr = ctx.chart.data.datasets[0].data;
                                    dataArr.map(data => {
                                        sum += data;
                                    });
                                    if(sum>0 && value>0) {
                                        return (value*100 / sum).toFixed(1)+"%";
                                    } else {
                                        return " ";
                                    }
                                },
                                color: '#000',
                                font: function(context) {
                                    var width = context.chart.width;
                                    var size = Math.round(width / 35);

                                    return {
                                        size: size
                                    };
                                }
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: true,
                        aspectRatio: 1.5, 
                    }
                }

                var config_bar_falconi = {
                    type: 'bar',
                    data: {
                    labels: ["I", "D", "C", "C+", "B", "B+", "A", "A+"],
                    datasets: [
                        {
                        label: "Excelência Projeto Final de Engenharia FALCONI-INSPER",
                        backgroundColor: ["#e6ffcc", "#e6ffcc", "#e6ffcc", "#c0c0f0b0", "#c0c0f0b0", "#ffd700b0", "#ffd700b0", "#ffd700b0"],
                        labelColor: "#ffd700b0",
                        data: [
                            {% for conceito in conceitos %}
                                {{conceito|stringformat:".2f"|unlocalize}},
                            {% endfor %}
                            ],
                        stack: 'Stack 0',
                        },
                        {
                        label: "Destaque Projeto Final de Engenharia FALCONI-INSPER",
                        labelColor: "#c0c0f0b0",
                        data: [
                            {% for conceito in conceitos %}
                                0,
                            {% endfor %}
                            ],
                        stack: 'Stack 0',
                        },
                        {
                        label: "Não obteve certificado",
                        labelColor: "#e6ffcc",
                        data: [
                            {% for conceito in conceitos %}
                                0,
                            {% endfor %}
                            ],
                        stack: 'Stack 0',
                        }
                    ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Conceitos Obtidos nas Bancas Falconi',
                            position: 'top'
                        },
                        tooltips: tooltips,
                        legend: {
                            display: true,
                            position: "bottom",
                        },
                        plugins: {
                            datalabels: {
                                formatter: (value, ctx) => {
                                    let sum = 0;
                                    let dataArr = ctx.chart.data.datasets[0].data;
                                    dataArr.map(data => {
                                        sum += data;
                                    });
                                    if(sum>0 && value>0) {
                                        return (value*100 / sum).toFixed(1)+"%";
                                    } else {
                                        return " ";
                                    }
                                },
                                color: '#000',
                                font: function(context) {
                                    var width = context.chart.width;
                                    var size = Math.round(width / 45);

                                    return {
                                        size: size
                                    };
                                }
                            }
                        },
                        responsive: true,
                        {% comment %} aspectRatio: 1.5, {% endcomment %}
                        maintainAspectRatio: false,
                    scales: {
                        x: {
                            stacked: true,
                        },
                        y: {
                            stacked: true
                        },
                        xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: false,
                                    labelString: 'Conceitos'
                                }
                            }],
                        yAxes: [{
                                display: true,
                                ticks: {
                                    beginAtZero: true,
                                    min: 0,
                                    max: 100,
                                    stepSize: 10,
                                }
                            }]
                        },
                    }
                }

                function carrega_pagina() {  
                    // Chart dos projetos selecionados para certificação Falconi
                    var pie_falconi = document.getElementById('pie-falconi').getContext('2d');
                    window.proporcao = new Chart(pie_falconi, config_pie_falconi);
                
                    // Chart dos conceitos obtidos dos projetos selecionados para certificação Falconi
                    var bar_falconi = document.getElementById('bar-falconi').getContext('2d');
                    window.situacao = new Chart(bar_falconi, config_bar_falconi);
                    document.getElementById('bar-falconi').innerHTML = window.situacao.generateLegend();

                }

                window.onload = carrega_pagina
            
            </script>

        </div>
        
        
        {% if projetos_selecionados %}
            <p style="page-break-before: always"></p>
            <h4>Projetos Selecionados:<br></h4>
            {% for projeto, avaliadores_falconi in bancas %}
                {% if not forloop.first %}  
                    <p style="page-break-before: always"></p>
                {% endif %}
                <script>
                    var falconi = new Banca(); 
                </script>

                {% if avaliadores_falconi %}
                    <h6>
                    <a href="{% url 'projeto_completo' projeto.id %}">
                        {{projeto}}
                    </a><br>
                    {% for banca in projeto.banca_set.all %}
                    {% if banca.tipo_de_banca == 2 %}    
                        <a href="{% url 'banca_ver' banca.id %}">
                            Banca Falconi ({{banca.startDate|date:"d/m/y"}})
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% endif %}
                    {% endfor %}
                    </h6>
                    <table>    
                    {% for avaliador, objs in avaliadores_falconi.items %}
                        <tr><td>
                            <strong>Avaliador{% if avaliador.genero == "F" %}a{% endif %}: </strong>
                            <a href="{% url 'parceiro_detail' avaliador.parceiro.id %}">
                            {{avaliador.get_full_name}}
                            </a><br>
                            <strong>Avaliado em: </strong>{{objs.momento}}<br>
                            <strong>Conceitos:</strong><br>
                            <ul>
                            {% for objetivo, conceito in objs.items %}{% if objetivo != "momento" and objetivo != "observacoes" %}

                                <li>{{objetivo.titulo}}: <span data-toggle="tooltip" data-html="true" animation="true" title="
                                {{objetivos|get_rubrica:objetivo.id|get_texto_final_nota:conceito.nota}}">
                                <span id="falconi{{projeto.id}}_{{avaliador.id}}_{{objetivo.id}}"></span></span></li>
                                <script>$("#falconi{{projeto.id}}_{{avaliador.id}}_{{objetivo.id}}").html(conceito({{conceito.nota}}));</script>
                                </span></li>
                                
                                <script>
                                objetivo_tmp = new Objetivo();
                                objetivo_tmp.titulo = "{{objetivo.titulo}}"
                                //objetivo_tmp.rubrica = "{{objetivos|get_rubrica:objetivo.id|get_texto_nota:conceito.nota}}"
                                falconi.add_objetivo(objetivo_tmp)
                                falconi.dict[objetivo_tmp.titulo].soma_nota({{conceito.nota}})
                                </script>

                            {% endif %}{% endfor %}
                            
                            {% if objs.observacoes %}  
                                <li>Observações: {{objs.observacoes}}</li>
                            {% endif %}
                            
                            
                            </ul>

                        </td></tr>

                    {% endfor %}

                    <tr id="falconi_{{projeto.id}}" style="color: darkslategrey"><td style="display: flex; align-items: center; flex-wrap: wrap;">
                        <div><b>
                        Média das avaliações falconi:
                        <ul id="med_falconi_{{projeto.id}}"></ul>
                        <script>
                        for (var key in falconi.dict) {
                            if(falconi.dict[key].avaliacoes>0) $('#med_falconi_{{projeto.id}}').append(falconi.dict[key].texto());
                        }
                        </script>
                        </b>
                        <span id="med_falconi_calc_{{projeto.id}}"></span>
                        </div>
                        <div style="float: right;flex-grow:1;text-align: center; margin-top: 20px;">
                            <span id="med_falconi_situacao_{{projeto.id}}" style="border: 2px solid gray; border-radius: 25px; padding: 9px; white-space: nowrap;"></span>
                        </div>
                        <script>
                            $("#med_falconi_calc_{{projeto.id}}").html(falconi.media_calculada());
                            var media = falconi.media();
                            if(media>=8) {
                                $("#falconi_{{projeto.id}}").css("background-color","#ffd700b0");
                                $("#med_falconi_situacao_{{projeto.id}}").css("background-color","#ffd700b0");
                                $("#med_falconi_situacao_{{projeto.id}}").html("Excelência Projeto Final de Engenharia FALCONI-INSPER");
                            } else if(media>=6) {
                                $("#falconi_{{projeto.id}}").css("background-color","#c0c0f0b0");
                                $("#med_falconi_situacao_{{projeto.id}}").css("background-color","#c0c0f0b0");
                                $("#med_falconi_situacao_{{projeto.id}}").html("Destaque Projeto Final de Engenharia FALCONI-INSPER");
                            } else {
                                $("#med_falconi_situacao_{{projeto.id}}").html("Não obteve certificado");
                            }
                            
                            {% comment %}  {% endcomment %}
                        </script>
                    </td></tr>

                    </table>
                {% endif %}
                
                <br><br>
            {% endfor %}
        {% endif %}

    </div>
    </div>
    
    {% include "edicoes_ajax.html" %}
    

{% endblock %}