{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 5 de Maio de 2020
{% endcomment %}

{% block head %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  <span class="titulo">{{titulo}}</span>

  {% include "tabelas_top.html" with tabela="Membros" cabecalhos=cabecalhos %}

    {% for professor in professores %} 
        <tr class="item">
            <th scope="row" data-sort="{{professor.user.get_full_name}}">
              <a href="{% url 'professor_detail' professor.id %}">
                {{professor.user.get_full_name}}
              </a>
            </th>
            <td class="text-center">
              <a href="mailto:{{professor.user.email}}"> &lt;{{professor.user.email}}&gt;</a><br>
            </td>
            <td >
              {% if professor.lattes %}
                <a rel="noopener noreferrer" target="_blank" href="{{professor.lattes}}"> {{professor.lattes}} </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

  <script>
    function carrega_pagina(){
      {% include "tabelas_scripts.html" with tabela='Membros' %}
    }
    window.onload = carrega_pagina
  </script>

{% endblock %}