{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 8 de Maio de 2021
{% endcomment %}

{% block head %}

  {% load static %}
  
  {% load l10n %}

  <script src="{% static 'js/w3.js' %}"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-colorschemes.min.js' %}"></script>
  {% comment %} <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script> {% endcomment %}
  <script src="{% static 'js/chartjs-plugin-trendline.min.js' %}"></script>
  
  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

  {% comment %} Para gerar as imagens {% endcomment %}
  <script src="{% static 'js/html2canvas.min.js' %}"></script>
  <script src="{% static 'js/jspdf.min.js' %}"></script>

{% endblock %}

{% block content %}

    <script>
        function ajusta() { }
        function reajusta() { }
    </script>

    {% with file_name="correlacao" %}
        {% include "save_image.html" %}
    {% endwith %}

    <div id="tudo">

    <span class="titulo">Correlação entre Médias e CR</span>

    {% comment %} Seletor da edição da pesquisa {% endcomment %}
    {% with com_cursos=True %}
        {% include "edicoes.html" %}
    {% endwith %}

    <div class="input-group input-group-sm mt-1">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="individual" id="inlineRadio1" value="media" checked>
            <label class="form-check-label" for="inlineRadio1">Médias Finais</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="individual" id="inlineRadio2" value="individual">
            <label class="form-check-label" for="inlineRadio2">Notas Individuais</label>
        </div>
    </div>

    <div class="atualizar">
        <div class="container">

            {% if True %}
                <div class="chart-container" style="position: relative; max-width:80vh">
                    <canvas id="correlacao"></canvas>
                </div>
            {% endif %}
            
            <br>
            <small>
                <div id="semestres"></div>
                <div id="computacao"></div>
                <div id="mecanica"></div>
                <div id="mecatronica"></div>
            </small>

            <script>
        
                {% if alocacoes %}

                    semestres = ""

                    {% for key, alocacoes_tmp in alocacoes.items %}
                        var data{{key}} = [
                        {% for alocacao in alocacoes_tmp %}
                            {% with media=alocacao.get_media %}
                                {% if media.pesos == 1 and alocacao.aluno.cr > 0 %}
                                    {
                                        x: {{media.media|unlocalize}},
                                        i: {{media.individual|unlocalize}},
                                        y: {{alocacao.aluno.cr|unlocalize}},
                                        name: "{{alocacao.aluno.user.get_full_name}}"
                                    },
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                        ];

                        semestres += "Quantidade de estudantes em {{key}} = " + data{{key}}.length + "<br>"

                    {% endfor %}
                    
                    $("#semestres").html(semestres);

                    {% for key, alocacoes_tmp in alocacoes.items %}
                        var data{{key}}_i = [];
                        for (var est in data{{key}}) {
                            data{{key}}_i.push(
                                {
                                    x: data{{key}}[est].i,
                                    y: data{{key}}[est].y,
                                    name: data{{key}}[est].name
                                }
                            );
                        }
                    {% endfor %}

                {% endif %}

                {% if estudantes_computacao %}

                    var data_estudantes_computacao = [
                    {% for alocacao in estudantes_computacao %}
                        {% with media=alocacao.get_media %}
                            {% if media.pesos == 1 and alocacao.aluno.cr > 0 %}
                                {
                                    x: {{media.media|unlocalize}},
                                    i: {{media.individual|unlocalize}},
                                    y: {{alocacao.aluno.cr|unlocalize}},
                                    name: "{{alocacao.aluno.user.get_full_name}}"
                                },
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                    ];

                    if (data_estudantes_computacao.length > 0) {
                        $("#computacao").html("Quantidade de estudantes de Computação = " + data_estudantes_computacao.length);
                    }
                    
                    var data_estudantes_computacao_i = [];
                    for (var est in data_estudantes_computacao) {
                        data_estudantes_computacao_i.push(
                            {
                                x: data_estudantes_computacao[est].i,
                                y: data_estudantes_computacao[est].y,
                                name: data_estudantes_computacao[est].name
                            }
                        );
                    }

                {% endif %}

                {% if estudantes_mecanica %}

                    var data_estudantes_mecanica = [
                    {% for alocacao in estudantes_mecanica %}
                        {% with media=alocacao.get_media %}
                            {% if media.pesos == 1 and alocacao.aluno.cr > 0 %}
                                {
                                    x: {{media.media|unlocalize}},
                                    i: {{media.individual|unlocalize}},
                                    y: {{alocacao.aluno.cr|unlocalize}},
                                    name: "{{alocacao.aluno.user.get_full_name}}"
                                },
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                    ];

                    if (data_estudantes_mecanica.length > 0) {
                        $("#mecanica").html("Quantidade de estudantes de Mecânica = " + data_estudantes_mecanica.length);
                    }
                    
                    var data_estudantes_mecanica_i = [];
                    for (var est in data_estudantes_mecanica) {
                        data_estudantes_mecanica_i.push(
                            {
                                x: data_estudantes_mecanica[est].i,
                                y: data_estudantes_mecanica[est].y,
                                name: data_estudantes_mecanica[est].name
                            }
                        );
                    }

                {% endif %}

                {% if estudantes_mecatronica %}

                    var data_estudantes_mecatronica = [
                    {% for alocacao in estudantes_mecatronica %}
                        {% with media=alocacao.get_media %}
                            {% if media.pesos == 1 and alocacao.aluno.cr > 0 %}
                                {
                                    x: {{media.media|unlocalize}},
                                    i: {{media.individual|unlocalize}},
                                    y: {{alocacao.aluno.cr|unlocalize}},
                                    name: "{{alocacao.aluno.user.get_full_name}}"
                                },
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                    ];

                    if (data_estudantes_mecatronica.length > 0) {
                        $("#mecatronica").html("Quantidade de estudantes de Mecatrônica = " + data_estudantes_mecatronica.length);
                    }
                    
                    var data_estudantes_mecatronica_i = [];
                    for (var est in data_estudantes_mecatronica) {
                        data_estudantes_mecatronica_i.push(
                            {
                                x: data_estudantes_mecatronica[est].i,
                                y: data_estudantes_mecatronica[est].y,
                                name: data_estudantes_mecatronica[est].name
                            }
                        );
                    }

                {% endif %}

                var options = {
                    aspectRatio: 1,
                    responsive: true,
                    maintainAspectRatio: true,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var label = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].name;
                                return label + ': (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
                            }
                        }
                    },
                    
                    plugins: {
                        colorschemes: {
                            {% if estudantes_computacao and estudantes_mecanica and estudantes_mecatronica %}
                                scheme: 'office.Berlin6',
                            {% else %}
                                scheme: 'office.Angles6',
                            {% endif %}
                        }
                    },
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'CR'
                            },
                            ticks: {
                                min: 0,
                                max: 10,
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Médias Finais'
                            },
                            ticks: {
                                min: 0,
                                max: 10,
                            }
                        }]
                    },

                };


                var options_i = {
                    aspectRatio: 1,
                    responsive: true,
                    maintainAspectRatio: true,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var label = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].name;
                                return label + ': (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
                            }
                        }
                    },
                    
                    plugins: {
                        colorschemes: {
                            {% if estudantes_computacao and estudantes_mecanica and estudantes_mecatronica %}
                                scheme: 'office.Berlin6',
                            {% else %}
                                scheme: 'office.Angles6',
                            {% endif %}
                        }
                    },
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'CR'
                            },
                            ticks: {
                                min: 0,
                                max: 10,
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Notas Individuais'
                            },
                            ticks: {
                                min: 0,
                                max: 10,
                            }
                        }]
                    },

                };

                var datasets_media = [
                    {% for key, alocacao_tmp in alocacoes.items %}
                        {
                            label: '{{key}}',
                            data: data{{key}},
                            trendlineLinear: {
                                style: "rgb(100 ,100 ,100, 0.4)",
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endfor %}

                    {% if estudantes_computacao %}
                        {
                            label: 'Computação',
                            data: data_estudantes_computacao,
                            trendlineLinear: {
                                style: "rgb(23 ,155 , 23, 0.4)",
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endif %}
                    {% if estudantes_mecanica %}
                        {
                            label: 'Mecânica',
                            data: data_estudantes_mecanica,
                            trendlineLinear: {
                                style: "rgb(155, 23, 23, 0.4)",
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endif %}
                    {% if estudantes_mecatronica %}
                        {
                            label: 'Mecatrônica',
                            data: data_estudantes_mecatronica,
                            trendlineLinear: {
                                style: "rgb(155, 155, 23, 0.4)",
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endif %}
                    ]

                var datasets_i = [
                    {% for key, alocacao_tmp in alocacoes.items %}
                        {
                            label: '{{key}}',
                            data: data{{key}}_i,
                            trendlineLinear: {
                                style: "rgb(100 ,100 , 100, 0.4)",
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endfor %}

                    {% if estudantes_computacao %}
                        {
                            label: 'Computação',
                            data: data_estudantes_computacao_i,
                            trendlineLinear: {
                                style: "rgb(23 ,155 , 23, 0.4)",
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endif %}
                    {% if estudantes_mecanica %}
                        {
                            label: 'Mecânica',
                            data: data_estudantes_mecanica_i,
                            trendlineLinear: {
                                style: "rgb(155, 23, 23, 0.4)",
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endif %}
                    {% if estudantes_mecatronica %}
                        {
                            label: 'Mecatrônica',
                            data: data_estudantes_mecatronica_i,
                            trendlineLinear: {
                                style: "rgb(155, 155, 23, 0.4)",
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endif %}
                    ]


                function carrega_pagina() {  

                    valor_individual = $("input[type='radio'][name=individual]:checked").val();
                    
                    if (valor_individual == "media") {
                        var config_corelacao = {
                            type: 'scatter',
                            data: {
                                datasets: datasets_media,
                            },
                            options: options
                        }
                    } else {
                        var config_corelacao = {
                            type: 'scatter',
                            data: {
                                datasets: datasets_i,
                            },
                            options: options_i
                        }

                    }
                    
                    if( window.corr!==undefined)
                        window.corr.destroy();
                    var corr = document.getElementById('correlacao').getContext('2d');
                    window.corr = new Chart(corr, config_corelacao);


                }

                window.onload = carrega_pagina
            
            </script>

            <script>
                $('input[type=radio][name=individual]').change(function() {
                    
                    carrega_pagina();

                    {% comment %} if (this.value == 'media') {
                        alert("Media");
                    }
                    else if (this.value == 'individual') {
                        alert("Individual");
                    }
                     {% endcomment %}
                });
            </script>

        </div>
    </div>
    </div>

    {% with com_cursos=True %}
        {% include "edicoes_ajax.html" %}
    {% endwith %}

{% endblock %}