{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 8 de Maio de 2021
{% endcomment %}

{% block head %}
  {% load static %}
  {% load addstr %}
  {% load l10n %}

  <script src="{% static 'js/w3.js' %}"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-colorschemes.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-trendline.min.js' %}"></script>
  
  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

  {% comment %} Para gerar as imagens {% endcomment %}
  <script src="{% static 'js/html2canvas.min.js' %}"></script>
  <script src="{% static 'js/jspdf.min.js' %}"></script>

  {% comment %} <style>
    .cabecalho {
      float: left;
      position: relative;
      margin-top: 0px;
      outline-width: 0;
      background-color: none;
    }
  </style> {% endcomment %}

{% endblock %}

{% block content %}

  <script>
    function ajusta() { }
    function reajusta() { }
  </script>

  {% include "save_image.html" %}

  <div id="tudo">

    <span class="titulo">Correlação entre Médias e CR</span>

    {% include "edicoes.html" with com_cursos=True %}

    <div class="input-group input-group-sm mt-1">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="individual" id="inlineRadio1" value="media" checked>
            <label class="form-check-label" for="inlineRadio1">Médias Finais</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="individual" id="inlineRadio2" value="individual">
            <label class="form-check-label" for="inlineRadio2">Notas Individuais</label>
        </div>
    </div>

    <div class="atualizar">

      {% if periodo and curso %}
        {% with file_name="correlacao_"|addstr:periodo.0|addstr:"_"|addstr:periodo.1|addstr:"_"|addstr:curso %}
          <script>
            var save_image_file_name = "{{file_name}}";
          </script>
        {% endwith %}
      {% endif %}

      <br><br>

      <div class="container">

        <div class="chart-container" style="position: relative; max-width:80vh">
          <canvas id="correlacao"></canvas>
        </div>
            
        <br>
        <small>
          <div id="semestres"></div>
          {% for curs, estud in estudantes.items %}
            <div id="{{curs.sigla}}"></div>
          {% endfor %}
        </small>

            <script>
                {% if alocacoes %}
                    semestres = ""
                    {% for key, alocacoes_tmp in alocacoes.items %}
                        var data{{key}} = [{% for alocacao in alocacoes_tmp %}{% with media=alocacao.get_media %}{% if media.pesos == 1 and alocacao.aluno.cr > 0 %}
                                    {  x:{% if media.media %}{{media.media|unlocalize}}{% else%}0{% endif %},
                                       y:{% if alocacao.aluno.cr %}{{alocacao.aluno.cr|unlocalize}}{% else%}0{% endif %},
                                       i:{% if media.individual %}{{media.individual|unlocalize}}{% else%}0{% endif %},
                                       name: "{{alocacao.aluno.user.get_full_name}}"
                                    }{% if not forloop.last %},{% endif %}
                        {% endif %}{% endwith %}{% endfor %}];
                        semestres += "Quantidade de estudantes em {{key}} = " + data{{key}}.length + "<br>"
                    {% endfor %}

                    $("#semestres").html(semestres);
                    {% for key, alocacoes_tmp in alocacoes.items %}
                        var data{{key}}_i = [];
                        for (var est in data{{key}}) {
                            data{{key}}_i.push(
                                {
                                    x: data{{key}}[est].i,
                                    y: data{{key}}[est].y,
                                    name: data{{key}}[est].name
                                }
                            );
                        }
                    {% endfor %}
                {% endif %}

                {% for curs, estud in estudantes.items %}
                    var data_estudantes_{{curs.sigla}} = [{% for alocacao in estud %}{% with media=alocacao.get_media %}{% if media.pesos == 1 and alocacao.aluno.cr > 0 %}
                                {   x:{% if media.media %}{{media.media|unlocalize}}{% else%}0{% endif %},
                                    y:{% if alocacao.aluno.cr %}{{alocacao.aluno.cr|unlocalize}}{% else%}0{% endif %},
                                    i:{% if media.individual %}{{media.individual|unlocalize}}{% else%}0{% endif %},
                                   name: "{{alocacao.aluno.user.get_full_name}}"
                                }{% if not forloop.last %},{% endif %}
                                {% endif %}{% endwith %}{% endfor %}];
                    if (data_estudantes_{{curs.sigla}}.length > 0) {
                        $("#{{curs.sigla}}").html("Quantidade de estudantes de {{curs.nome}} = " + data_estudantes_{{curs.sigla}}.length);
                    }
                    
                    var data_estudantes_{{curs.sigla}}_i = [];
                    for (var est in data_estudantes_{{curs.sigla}}) {
                        data_estudantes_{{curs.sigla}}_i.push(
                            {
                                x: data_estudantes_{{curs.sigla}}[est].i,
                                y: data_estudantes_{{curs.sigla}}[est].y,
                                name: data_estudantes_{{curs.sigla}}[est].name
                            }
                        );
                    }
                {% endfor %}

                var options = {
                    aspectRatio: 1,
                    responsive: true,
                    maintainAspectRatio: true,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var label = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].name;
                                return label + ': (' + tooltipItem.xLabel.toFixed(2) + ', ' + tooltipItem.yLabel.toFixed(2) + ')';
                            }
                        }
                    },
                    
                    plugins: {
                        colorschemes: {
                            //scheme: 'tableau.HueCircle19',
                            scheme: 'tableau.Tableau20',
                        }
                    },
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'CR'
                            },
                            ticks: {
                                min: 0,
                                max: 10,
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Médias Finais'
                            },
                            ticks: {
                                min: 0,
                                max: 10,
                            }
                        }]
                    },
                };

                var options_i = {
                    aspectRatio: 1,
                    responsive: true,
                    maintainAspectRatio: true,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var label = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].name;
                                return label + ': (' + tooltipItem.xLabel.toFixed(2) + ', ' + tooltipItem.yLabel.toFixed(2) + ')';
                            }
                        }
                    },
                    
                    plugins: {
                        colorschemes: {
                            //scheme: 'tableau.HueCircle19',
                            scheme: 'tableau.Tableau20',
                        } 
                    },
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'CR'
                            },
                            ticks: {
                                min: 0,
                                max: 10,
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Notas Individuais'
                            },
                            ticks: {
                                min: 0,
                                max: 10,
                            }
                        }]
                    },

                };

                function adjust(color, amount) {
                    return '#' + color.replace(/^#/, '').replace(/../g, color => ('0'+Math.min(255, Math.max(0, parseInt(color, 16) + amount)).toString(16)).substr(-2));
                }

                var datasets_media = [
                    {% for key, alocacao_tmp in alocacoes.items %}
                        {
                            label: '{{key}}',
                            data: data{{key}},
                            trendlineLinear: {
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endfor %}

                    {% for curs, estud in estudantes.items %}
                        {
                            label: "{{curs.nome}}",
                            pointBackgroundColor: '#{{curs.cor}}',
                            pointBorderColor: adjust("#{{curs.cor}}",-20),
                            backgroundColor: "#{{curs.cor}}",
                            borderColor: adjust("#{{curs.cor}}",-20),
                            data: data_estudantes_{{curs.sigla}},
                            trendlineLinear: {
                                style: "#{{curs.cor}}",
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endfor %}
                    ]

                var datasets_i = [
                    {% for key, alocacao_tmp in alocacoes.items %}
                        {
                            label: '{{key}}',
                            data: data{{key}}_i,
                            trendlineLinear: {
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endfor %}

                    {% for curs, estud in estudantes.items %}
                        {
                            label: "{{curs.sigla}}",
                            pointBackgroundColor: '#{{curs.cor}}',
                            pointBorderColor: adjust("#{{curs.cor}}",-20),
                            backgroundColor: "#{{curs.cor}}",
                            borderColor: adjust("#{{curs.cor}}",-20),
                            data: data_estudantes_{{curs.sigla}}_i,
                            trendlineLinear: {
                                style: "#{{curs.cor}}",
                                lineStyle: "dotted",
                                width: 2
                            }
                        },
                    {% endfor %}
                    ]

                function carrega_pagina() {  

                    valor_individual = $("input[type='radio'][name=individual]:checked").val();
                    
                    if (valor_individual == "media") {
                        var config_corelacao = {
                            type: 'scatter',
                            data: {datasets: datasets_media,},
                            options: options
                        }
                    } else {
                        var config_corelacao = {
                            type: 'scatter',
                            data: {datasets: datasets_i,},
                            options: options_i
                        }
                    }
                    
                    if( window.corr!==undefined) window.corr.destroy();
                    var corr = document.getElementById('correlacao').getContext('2d');
                    window.corr = new Chart(corr, config_corelacao);

                }

                window.onload = carrega_pagina

                $('input[type=radio][name=individual]').change(function() {
                    carrega_pagina();
                });
            </script>

        </div>
    </div>
    </div>

    {% include "edicoes_ajax.html" with com_cursos=True %}

{% endblock %}