{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 20 de Fevereiro de 2025
{% endcomment %}

{% block head %}
  {% load linguas %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  {% include "edicoes.html" %}

  <div id="atualizar">

    {% if user.eh_admin %}
      {% include "botao_adiciona.html" with url_add="adiciona_despesa" txt_pt="Cadastrar Nova Despesa" txt_en="Register New Expense" open_modal=True %}
      {% include "base-modal.html" %}
    {% endif %}

    {% include "tabelas_top_ml.html" with tabela="Despesas" cabecalhos=cabecalhos %}
      {% for despesa in despesas %} 
        <tr class="item">
          <td data-sort="{{despesa.data|date:"Y-m-d"}}">
            <a href="#" class="open-modal" style="cursor:pointer;" data-url="{% url 'adiciona_despesa' despesa.id %}">
              {{despesa.data|date:"d/m/Y"}}
            </a>
          </td>
          <th scope="row" data-sort="{{despesa.tipo_de_despesa}}">
            {{despesa.get_tipo_de_despesa_display}}
          </th>
          <td style="white-space: nowrap;">
            {% if despesa.valor_r %}R$ {% lng_2 despesa.valor_r %}{% endif %}
            {% if despesa.valor_d %}US$ {% lng_2 despesa.valor_d %}{% endif %}
          </td>
          <td>
            {% if despesa.descricao %}{{despesa.descricao}}{% endif %}
            {% if despesa.documentos.exists %}
              {% for documento in despesa.documentos.all %}
                {% include "documentos/includes/icone_documento.html" %}
              {% endfor %}
            {% endif %}
          </td>
          <td>{% if despesa.fornecedor %}{{despesa.fornecedor}} {% endif %}</td>
          <td>
            {% if despesa.projeto %}
              <a href="{% url 'organizacao_completo' despesa.projeto.organizacao.id %}">
                [{{despesa.projeto.organizacao}}]
              </a>
              <a href="{% url 'projeto_infos' despesa.projeto.id %}">
                {{despesa.projeto.get_titulo}}
              </a>
            {% endif %}
          </td>
        </tr>

      {% endfor %}
    {% include "tabelas_bottom.html" %}

    {% comment %} Exibir cotação do dollar usada como referência {% endcomment %}
    {% if cotacao_dolar %}
      <div class="alert alert-info" role="alert" style="display: inline-block;">
        <strong>{% lng "Cotação do Dólar" "Dollar Exchange Rate" %}:</strong>
        1 US$ = R$ {% lng_2 cotacao_dolar %}
      </div><br>
    {% endif %}

    {% comment %} Mostra uma tabela com a somatória dos valores das despesas agrupadas por tipo de despesa. {% endcomment %}
    {% if user.eh_admin %}
      <div class="card" style="display: inline-block;">
        <div class="card-header">
          <h5 class="card-title mb-0">
            {% lng "Despesas por Tipo" "Expenses by Type" %}
          </h5>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover table-sm">
            <thead>
              <tr>
                <th>{% lng "Tipo de Despesa" "Expense Type" %}</th>
                <th>{% lng "Total" "Total" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for tipo, valor_r in despesa_por_tipo.items %}
                <tr>
                  <td>{{tipo}}</td>
                  <td style="white-space: nowrap; text-align: right;"
                      data-sort="{{valor_r}}">
                      R$ {% lng_2 valor_r %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endif %}

    <script>
      function carrega_site() {
        {% include "edicao_puxar_local_ou_versao.js" %}      
      }
      window.onload = carrega_site
    </script>

  </div>

  {% include "edicoes_ajax.html" with tabela="Despesas" %}

{% endblock %}