{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 20 de Fevereiro de 2025
{% endcomment %}

{% block head %}
  {% load linguas %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  {% if user.admin %}
    <span class="esconder">
      <a href="#"
      class="open-modal" style="cursor:pointer;"
      data-url="{% url 'adiciona_despesa' %}">
        <i class="fas fa-plus"></i> 
        {% lng "Cadastrar Nova Despesa" "Register New Expense" %}
      </a>
    </span>
    {% include "base-modal.html" %}
  {% endif %}

  {% include "tabelas_top_ml.html" with tabela="Despesas" cabecalhos=cabecalhos %}
    {% for despesa in despesas %} 
      <tr class="item">
        <th scope="row" data-sort="{{despesa.tipo_de_despesa}}">
          {{despesa.get_tipo_de_despesa_display}}
        </th>
        <td data-sort="{{despesa.data|date:"Y-m-d"}}">
          {{despesa.data|date:"d/m/Y"}}
        </td>
        <td style="white-space: nowrap;">
          {% if despesa.valor_r %}R$ {{despesa.valor_r|floatformat:2}}{% endif %}
          {% if despesa.valor_d %}US$ {{despesa.valor_d|floatformat:2}}{% endif %}
        </td>
        <td>
          {% if despesa.descricao %}{{despesa.descricao}} {% endif %}
        </td>
        <td>
          {% if despesa.projeto %}
            <a href="{% url 'organizacao_completo' despesa.projeto.organizacao.id %}">
              [{{despesa.projeto.organizacao}}]
            </a>
            <a href="{% url 'projeto_infos' despesa.projeto.id %}">
              {{despesa.projeto.get_titulo}}
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  {% include "tabelas_bottom.html" %}

  <script>
    function carrega_pagina(){
      {% include "tabelas_scripts.html" with tabela="Despesas" %}
    }
    window.onload = carrega_pagina
  </script>

{% endblock %}