{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  <link href="{% static 'css/horizBarChart.css' %}" media="all" rel="stylesheet" type="text/css" />
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.horizBarChart.min.js' %}"></script>
  <script>
    function bar(){
      $('.chart').horizBarChart({
        selector: '.bar',
        speed: 800
      });
    }
    $(document).ready(bar);
  </script>
{% endblock %}

{% block content %}

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="filter">Edição:</label>
    <select class="filter" data-tableId="projetos">
        <option value="todas">todas</option>
        <option value="2018.2" {% if periodo == "2018.2" %}selected="selected"{% endif %}>2018.2</option>
        <option value="2019.1" {% if periodo == "2019.1" %}selected="selected"{% endif %}>2019.1</option>
        <option value="2019.2" {% if periodo == "2019.2" %}selected="selected"{% endif %}>2019.2</option>
        <option value="2020.1" {% if periodo == "2020.1" %}selected="selected"{% endif %}>2020.1</option>
        <option value="2020.2" {% if periodo == "2020.2" %}selected="selected"{% endif %}>2020.2</option>
    </select>
    <br>

    <div class="2areas2">
        <ul class="chart">
        <h3><li class="title" title="Tendência de Áreas de Interesse ({{tipo}})"></li></h3>
        <li></li>
        <li></li>

        {% for key, value in areaspfe.items %}
            <li class="title" title="{{key}}"></li>
            <li class="past" title="">
                <span class="bar" data-number="{{value}}"></span>
                <span class="number">{{value}}</span>
            </li>
        {% endfor %}

        <li></li>
      </ul>
    </div>

    <script>
       
        $(".filter").change(function(){
        var topicId = $(".filter option:selected").attr("value");
        $.ajax({
            type: "POST",
            url: "{% url 'distribuicao_areas' tipo %}",
            data: {
                topicId: topicId,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(response){
                $("div.2areas2").replaceWith($("div.2areas2",response));
                bar();
            },
            error: function(response) {
                alert('error');
            }

        });
        });
    </script>

{% endblock %}