{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 8 de Junho de 2021
{% endcomment %}

{% block head %}

  {% load static %}
  {% load get_field %}
  {% load index %}

  <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
  <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>

  <style>
    textarea, input, select {max-width:100%;}
    table, tr, td {border: 0px solid black;}
    label {
      margin-bottom: 2px;
      line-height: 1.0;
    }
  </style>
{% endblock %}

{% block content %}

  <span class="titulo">Edição de Projeto</span>

  <form method="post"> {% csrf_token %}  

    <label for="titulo">Título original da proposta:</label><br>
    <input type="text" size="86" id="titulo_original" name="titulo_original" value="{{projeto.proposta.titulo}}" disabled>
    <br><br>

    <label for="titulo">Título do Projeto:</label><br>
    <input type="text" size="86" maxlength="{% max_length projeto 'titulo_final' %}" id="titulo" name="titulo"
    placeholder="Na ausência de um título final, o título original da proposta será mantido."
    value="{% if projeto.titulo_final %}{{projeto.titulo_final}}{% endif %}">
    <br><br>

    {% comment %} <label for="descricao">Descrição da Proposta de Projeto (REMOVER)</label><br>
    <textarea id="descricao" name="descricao" rows="10" cols="88" maxlength="{% max_length projeto 'descricao' %}"
    >{% if projeto.descricao %}{{projeto.descricao}}{% endif %}</textarea>
    <br><br> {% endcomment %}

    <label for="resumo">Resumo do Projeto</label><br>
    <textarea id="resumo" name="resumo" rows="10" cols="88" maxlength="{% max_length projeto 'resumo' %}"
    >{% if projeto.resumo %}{{projeto.resumo}}{% endif %}</textarea>
    <br><br>

    <label for="abstract">Abstract do Projeto</label><br>
    <textarea id="abstract" name="abstract" rows="10" cols="88" maxlength="{% max_length projeto 'abstract' %}"
    >{% if projeto.abstract %}{{projeto.abstract}}{% endif %}</textarea>
    <br><br>

    <label for="palavras_chave">Palavras-chave</label><br>
    <textarea id="palavras_chave" name="palavras_chave" rows="1" cols="88" maxlength="{% max_length projeto 'palavras_chave' %}"
    >{% if projeto.palavras_chave %}{{projeto.palavras_chave}}{% endif %}</textarea>
    <br><br>

    <div style="max-width: 560px;">
      <div style="margin-bottom: 6px;">
        <label for="orientador" style="width: 6em;">Orientador(a):</label>
        <select class="selectpicker show-tick" name="orientador" id="orientador" title="Selecione orientador do projeto"
                data-width="81%" data-size="10">
            <option selected value> -- selecione um orientador(a) -- </option>
            <optgroup label="Comitê PFE">
            {% for orientador in professores %}
              {% if orientador.user.membro_comite %}
                <option value="{{orientador.id}}" {% if orientador.id == projeto.orientador.id %}selected{% endif %}>
                {{orientador.user.get_full_name}}
              </option>
              {% endif %}
            {% endfor %}
            </optgroup>

            <optgroup label="Professores">
            {% for orientador in professores %}
              {% if not orientador.user.membro_comite %}
                <option value="{{orientador.id}}" {% if orientador.id == projeto.orientador.id %}selected{% endif %}>
                {{orientador.user.get_full_name}}
              </option>  
              {% endif %}
            {% endfor %}
            </optgroup>

        </select>
      </div>

      <div style="margin-bottom: 6px;">
        <label for="coorientador" style="width: 6em;"><small>Coorientador(a):</small></label>
        <select class="selectpicker show-tick" name="coorientador" id="coorientador" title="Selecione coorientador do projeto"
        data-width="81%">
            <option selected value> -- selecione um coorientador(a) -- </option>
            {% for professor in professores %}
              <option value="{{professor.user.id}}" {% if professor.user.id == coorientadores.last.usuario.id %}selected{% endif %}>
                {{professor.user.get_full_name}}
              </option>  
            {% endfor %}
        </select>
      </div>

    </div>
    <br>

    Grupo:<br>
    <table id="AlocacaoEstudantes" style="margin-left: 12px; table-layout: fixed; max-width: 100%; width:max-content;">
      <tr><td style="text-align: center;"><small>Estudante #</small></td>
          <td style="text-align: center;"><small>Nome do Estudante</small></td>
          <td><span class="AddNew" style="cursor:pointer;">&#10753;</span></td></tr>

      {% for alocacao in alocacoes %}
        <tr>
          <td>
            <label for="estudante{{forloop.counter}}" style="white-space: nowrap;">Estudante <span style="width:1em; text-align:left; display:inline-block;">{{forloop.counter}}:</span></label></b>
          </td>
          <td>
            <select class="selectpicker show-tick estudantes" name="estudante" id="estudante{{forloop.counter}}" title="Selecione estudante membro do projeto"
            data-live-search="true" data-width="100%">
                <option selected value> -- selecione estudante -- </option>
                <optgroup label="Semestre PFE">
                {% for estudante in estudantes %}
                  {% if estudante %}
                    <option value="{{estudante.id}}" {% if estudante.id == alocacao.aluno.id %}selected{% endif %}>
                    {{estudante.user.get_full_name}}
                  </option>  
                  {% endif %}
                {% endfor %}
                </optgroup>
            </select>
          </td>
          <td>
            <span class='RemoveRow' style="cursor:pointer;">&#8861;</span>
          </td>
      </tr>
    {% endfor %}
    </table>

    {% comment %} No usado para criar novas alocações {% endcomment %}
    <table id="esconder">
      <tr id="novo_no">
        <td>Estudante 0: </td>
        <td>
          <select class="selectpicker show-tick estudantes" name="estudante" title="Selecione estudante membro do projeto"
          data-live-search="true" data-width="560px">
              <option selected value> -- selecione estudante -- </option>
              <optgroup label="Semestre PFE">
              {% for estudante in estudantes %}
                {% if estudante %}
                  <option value="{{estudante.id}}">
                  {{estudante.user.get_full_name}}
                </option>  
                {% endif %}
              {% endfor %}
              </optgroup>
          </select>
        </td>
        <td><span class='RemoveRow'>&#8861;</span></td>
    </table>

    <br>
    <label for="time_misto">
    <input type="checkbox" id="time_misto" name="time_misto" value="True" {% if projeto.time_misto %}checked{% endif %}>
    Time Misto (com estudantes de outra instituição/intercâmbio)</label><br>  

    <br><br>

    <input class="btn btn-primary mb-1" id="submit" type="submit" value="Atualizar Projeto">
    <span id="mensagem"></span>
    
  </form>

  <script>

    $("#esconder").css("display","none");

    function renumera() {
      $('tr').each(function(){
        var position= $('#AlocacaoEstudantes tr').index($(this))
        if(position!=0) {
          texto = '<label for="estudante' + position + '">Estudante <span style="width:1em;text-align:left;display:inline-block;">' + position + '</span> </label></b>:';
          $(this).children('td').first().html(texto);
        }
      })
    }

    $('.AddNew').click(function(){        
      var $cloned = $('#novo_no').clone();
      $cloned.find('.bootstrap-select').replaceWith(function() { return $('select', this); })    
      $cloned.find('.selectpicker').selectpicker('render'); 
      $('#AlocacaoEstudantes tr:last').after($cloned);
      renumera();
      check_duplicado();
    });
    
    $('table').on('click', '.RemoveRow', function(){
      $(this).closest('tr').remove();
      renumera();
      check_duplicado();
    });

    function check_duplicado() {
      $(".estudantes").change(function(){
        var estudantes  = $('.estudantes > select')
        var dic = {};
        for(est in estudantes){
          var chave = estudantes.eq(est).val()

          if(typeof chave !== "undefined" && chave != "") {
            if(chave in dic) {
              $("#submit").prop("disabled",true);
              $("#mensagem").html("Os estudantes devem ser diferentes");
              return;
            } else {
              dic[chave] = true;
            }
          }
        }
        $("#submit").prop("disabled",false);
        $("#mensagem").html("");
      });  
    }

    check_duplicado();

  </script>

{% endblock %}