{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 8 de Junho de 2021
{% endcomment %}

{% block head %}

  {% load static %}
  {% load get_field %}
  {% load index %}
  {% load linguas %}

  <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
  <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>

  <style>
    label {
      margin-bottom: 2px;
      line-height: 1.0;
    }
  </style>
{% endblock %}

{% block content %}

  <label for="titulo">
    {% lng "Título original da proposta:" "Original title of the proposal:" %}
  </label><br>
  <input type="text" size="86" id="titulo_original" name="titulo_original" value="{{projeto.proposta.titulo}}" disabled>
  <br><br>

  {% include "projetos/includes/bloco_titulo_resumo_pchave.html" with projeto=projeto professor_view=True %}
  <hr>

  {% include "projetos/includes/bloco_site_pasta_proj.html" with projeto=projeto professor_view=True %}
  <hr>

  <form method="post"> {% csrf_token %}  

    <div style="max-width: 560px;">
      <div style="margin-bottom: 6px;">
        <label for="orientador" style="width: 6em;">
          {% lng "Orientador(a):" "Advisor:" %}
        </label>
        <select class="selectpicker show-tick" name="orientador" id="orientador" title="Selecione orientador do projeto"
         data-live-search="true" data-width="81%" data-size="10">
            <option selected value> -- selecione um orientador(a) -- </option>
            <optgroup label="Comitê Capstone">
            {% for prof in usuarios_professores %}
              {% if prof.membro_comite %}
                <option value="{{prof.id}}" {% if prof.id == projeto.orientador.user.id %}selected{% endif %}>
                {{prof.get_full_name}}
              </option>
              {% endif %}
            {% endfor %}
            </optgroup>

            <optgroup label="Professores">
            {% for prof in usuarios_professores %}
              {% if not prof.membro_comite %}
                <option value="{{prof.id}}" {% if prof.id == projeto.orientador.user.id %}selected{% endif %}>
                {{prof.get_full_name}}
              </option>  
              {% endif %}
            {% endfor %}
            </optgroup>

        </select>
      </div>

      {% lng "Coorientador:" "Co-advisor:" %}<br>
      {% include "users/includes/lista_usuarios.html" with nomes_col="Coorientador" nomes_col_en="Co-advisor" desc_col="Nome do Coorientador" desc_col_en="Co-advisor Name" pessoas=usuarios_professores usuarios_selecionados=usuarios_coorientadores %}

    </div>
    <br>

    {% lng "Grupo:" "Group:" %}<br>
    {% include "users/includes/lista_usuarios.html" with nomes_col="Estudante" nomes_col_en="Student" desc_col="Nome do Estudante" desc_col_en="Student Name" pessoas=estudantes usuarios_selecionados=usuarios_estudantes_alocados %}

    <br>
    <label for="time_misto">
      <input type="checkbox" id="time_misto" name="time_misto" value="True" {% if projeto.time_misto %}checked{% endif %}>
      {% lng "Time Misto (com estudantes de outra instituição/intercâmbio)" "Mixed Team (with students from another institution/exchange)" %}
    </label><br>  

    <br><br>

    <div class="text-right">
      <button class="btn btn-primary btn-sm mb-1" id="submit" type="submit" name="submit">
        {% lng "Atualizar Equipe Projeto" "Update Project Team" %}
      </button>
    </div>

    <span id="mensagem"></span>
    
  </form>


{% endblock %}