{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 12 de Novembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load escape_emails %}
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock %}

{% block content %}
  <h3>Listas de e-mails</h3>
  <br>
  {% if membros_comite %}
    <a href="
      mailto:
      {% for membro in membros_comite %}{{membro.first_name|parse_quote}} {{membro.last_name|parse_quote}} &lt;{{ membro.email|parse_quote }}&gt;,
      {% endfor %}
      ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
      &amp;subject=PFE%20{{semestre}}&amp;body=Caros%20membros%20do%20comitê%20do%20PFE,%0D%0A%0D%0A
      atenciosamente,%20coordenação%20PFE
    ">Comitê do PFE</a><br>
    <br>
  {% endif %}

  Todos do semestre
  <table>
    {% for semestre,alunos,orientadores,parceiros in email_todos %}
      <tr>
        <td>Turma {{semestre}}</td>
        <td>
          {% if alunos %}
            <a href="
              mailto:
              {% for aluno in alunos %}{{aluno.user.first_name|parse_quote}} {{aluno.user.last_name|parse_quote}} &lt;{{ aluno.user.email|parse_quote }}&gt;,
              {% endfor %}
              ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
              &amp;subject=PFE%20{{semestre}}&amp;body=Caros%20alunos,%0D%0A%0D%0A
              atenciosamente,%20coordenação%20PFE
            ">Alunos</a><br>
          {% endif %}
        </td>
        <td>
          {% if orientadores %}
            <a href="
              mailto:
              {% for orientador in orientadores %}{{orientador.user.first_name|parse_quote}} {{orientador.user.last_name|parse_quote}} &lt;{{ orientador.user.email|parse_quote }}&gt;,
              {% endfor %}
              ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
              &amp;subject=PFE%20{{semestre}}&amp;body=Caros%20orientadores,%0D%0A%0D%0A
              atenciosamente,%20coordenação%20PFE
            ">Orientadores</a><br>
          {% endif %}
        </td>
        <td>
          {% if parceiros %}
            <a href="
              mailto:
              {% for parceiro in parceiros %}{{parceiro.user.first_name|parse_quote}} {{parceiro.user.last_name|parse_quote}} &lt;{{ parceiro.user.email|parse_quote }}&gt;,
              {% endfor %}
              ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
              &amp;subject=PFE%20{{semestre}}&amp;body=Caros%20parceiro%20do%20PFE,%0D%0A%0D%0A
              atenciosamente,%20coordenação%20PFE
            ">Parceiros</a><br>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <br>

  Todos divididos por projeto
  <table>
    {% for semestre,projetos in email_p_semestre %}
      <tr>
        <td>Turma {{semestre}}</td>
        {% for projeto, pessoas in projetos.items %}
          <td>
            {% if pessoas %}
              <a href="
                mailto:
                {% for pessoa in pessoas %}{{pessoa.user.first_name|parse_quote}} {{pessoa.user.last_name|parse_quote}} &lt;{{ pessoa.user.email|parse_quote }}&gt;,
                {% endfor %}
                ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
                &amp;subject=PFE%20-%20Projeto:%20{{projeto}}&amp;body=Caros,%0D%0A%0D%0A
                atenciosamente,%20coordenação%20PFE
              "
              data-toggle="tooltip" data-html="true" animation="true" title="
                {{projeto}}
              "
              >p{{projeto.pk}}</a><br>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  <br>



  {% if todos_alunos %}
    <a href="
      mailto:
      {% for aluno in todos_alunos %}{{aluno.user.first_name|parse_quote}} {{aluno.user.last_name|parse_quote}} &lt;{{ aluno.user.email|parse_quote }}&gt;,
      {% endfor %}
      ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
      &amp;subject=PFE%20{{semestre}}&amp;body=Caros%20alunos,%0D%0A%0D%0A
      atenciosamente,%20coordenação%20PFE
    ">Todos os alunos do PFE</a><br>
  {% endif %}

  {% if todos_professores %}
    <a href="
      mailto:
      {% for professor in todos_professores %}{{professor.user.first_name|parse_quote}} {{professor.user.last_name|parse_quote}} &lt;{{ professor.user.email|parse_quote }}&gt;,
      {% endfor %}
      ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
      &amp;subject=PFE%20{{semestre}}&amp;body=Caros%20professores%20do%PFE,%0D%0A%0D%0A
      atenciosamente,%20coordenação%20PFE
    ">Todos os professores do PFE</a><br>
  {% endif %}

  {% if todos_parceiros %}
    <a href="
      mailto:
      {% for parceiro in todos_parceiros %}{{parceiro.user.first_name|parse_quote}} {{parceiro.user.last_name|parse_quote}} &lt;{{ parceiro.user.email|parse_quote }}&gt;,
      {% endfor %}
      ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
      &amp;subject=PFE%20{{semestre}}&amp;body=Caros%20parceiro%20do%PFE,%0D%0A%0D%0A
      atenciosamente,%20coordenação%20PFE
    ">Todos os parceiros do PFE</a><br>
  {% endif %}

{% endblock %}