{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 2 de Outubro de 2019
{% endcomment %}

{% block head %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <h3>Datas para encontros</h3>
    <br>
    {% if user.tipo_de_usuario == 1 %}
        <h4>Seu projeto: 
            {% if projeto %}
                {{projeto.get_titulo}}
            {% else %}
                < PROJETO NÃO ENCONTRADO >
            {% endif %}
        </h4>
    {% else %}
        <h5>Somente visualização das opções de encontros (você não está registardo como aluno)</h5>
    {% endif %}
    <br><br>
    <div class="control"></div>
        {% for e in encontros %}
            <label class="radio" 
              {% if e.projeto and e.projeto != projeto %}
                 data-toggle="tooltip" data-placement="bottom" title="Horário já selecionado por outro grupo!"
                 style="color:lightgrey" 
              {% elif e.projeto and e.projeto == projeto %}
                 style="color:red" 
                 data-toggle="tooltip" data-placement="bottom" title="Horário selecionado por seu grupo!"
              {% endif %}>
                <input type="radio" name="selection" value="{{e.id}}" 
                {% if e.projeto == projeto %}checked{% endif %}
                {% if e.projeto and e.projeto != projeto %}disabled{% endif %}
                >
                {{e.startDate|date:"d \d\e E \d\e Y \d\a\s H:i"}} às {{e.endDate|date:"H:i"}}
            </label>
            <br>
        {% empty %}
            Sem encontros para marcar.
        {% endfor %}
    </div>
    <p>&nbsp;</p>

    &nbsp;&nbsp;&nbsp;<button type="submit" 
      {% if user.tipo_de_usuario != 1 or not projeto %}disabled{% endif %}>
        Agendar
    </button>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
</form>
{% endblock %}