{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 22 de Setembro de 2020
{% endcomment %}

{% block head %}

  {% load static %}
  
  {% load l10n %}

  <script src="{% static 'js/w3.js' %}"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

  {% comment %} Para gerar as imagens {% endcomment %}
  <script src="{% static 'js/html2canvas.min.js' %}"></script>
  <script src="{% static 'js/jspdf.min.js' %}"></script>

{% endblock %}

{% block content %}

    <script>
        function ajusta() { }
        function reajusta() { }
    </script>

    {% with file_name="evolucao_objetivos" %}
        {% include "save_image.html" %}
    {% endwith %}

    <div id="tudo">

    <span class="titulo">Evolução por Objetivos de Aprendizado</span>

    {% comment %} Seletor da edição da pesquisa {% endcomment %}
    {% with sem_edicao=True %}
    {% with com_cursos=True %}
        {% include "edicoes.html" %}
    {% endwith %}
    {% endwith %}

    
    <div class="atualizar">
    <div class="container">

        <div style="max-width:860px;margin: auto;"> 
            <canvas id="chart-medias"></canvas>
        </div>

        <script>
    
    var config_medias = {
        type: 'line',
        data: {
            labels: [
                {% for edicao in edicoes %}
                    "{{edicao}}",
                {% endfor %}
            ],
            datasets: [
                {% for media in medias %}
                    { 
                        data: [
                            {% for nota in media.media %}
                                {{nota|stringformat:".2f"|unlocalize}},
                            {% endfor %}
                        ],
                        label: "{{media.objetivo}}",
                        borderColor: "{{media.cor}}",
                        fill: false,
                        spanGaps: true,
                    },
                {% endfor %}
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Evolução nos semestres'
            }, 
            {% comment %} scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 10
                    }
                }]
            } {% endcomment %}

        }
    }


    function carrega_pagina() {  
      // Chart do média dos alunos
      var chart_medias = document.getElementById('chart-medias').getContext('2d');
      window.medias = new Chart(chart_medias, config_medias);
    }

    window.onload = carrega_pagina
  
  </script>


    </div>
    </div>
    </div>

    {% with sem_edicao=True %}
    {% with com_cursos=True %}
        {% include "edicoes_ajax.html" %}
    {% endwith %}
    {% endwith %}

{% endblock %}