{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 23 de Fevereiro de 2022
{% endcomment %}

{% block head %}

  {% load static %}
  {% load addstr %}
  {% load l10n %}

  <script src="{% static 'js/w3.js' %}"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

  {% comment %} Para gerar as imagens {% endcomment %}
  <script src="{% static 'js/html2canvas.min.js' %}"></script>
  <script src="{% static 'js/jspdf.min.js' %}"></script>

  <style>
    .cabecalho {
      float: left;
      position: relative;
      margin-top: 0px;
      outline-width: 0;
      background-color: none;
    }
  </style>

{% endblock %}

{% block content %}

    <script>
        function ajusta() { }
        function reajusta() { }
    </script>

    <div id="tudo">
      
        <div class="cabecalho">

          <span class="titulo">
            {% if lingua == 'pt' %}Evolução por Objetivo de Aprendizado{% else %}Evolution by Learning Goal{% endif %}
          </span>

          {% comment %} Seletor da edição da pesquisa {% endcomment %}
          {% include "edicoes.html" with sem_edicao=True com_cursos=True com_objetivos=True ind_grup=True so_finais=True %}
        </div>

    <div class="atualizar">

      {% if curso and objetivo %}
        {% with file_name="evolucao_por_objetivos_"|addstr:curso|addstr:"_"|addstr:objetivo|addstr:"_"|addstr:objetivo.data_inicial %}
            {% include "save_image.html" %}
        {% endwith %}
      {% endif %}

      <div><br><br><br></div>{% comment %} Solução pouco elegante, mas funciona. {% endcomment %}

    <div class="container">

        <div style="max-width:860px;margin: auto;"> 
            <canvas id="chart-medias"></canvas>
        </div>

        <script>
          
          var config_medias = {
            type: 'bar',
            data: {
                labels: [
                {% for edicao, alocacoes in estudantes %}
                    ["{{edicao}}", "({{alocacoes}} {% if lingua == "pt" %}estudantes{% else %}students{% endif %})"],
                {% endfor %}
              ],
              datasets: [{
                  label: "< 5.0",
                  data: [
                    {% for nota in low %}
                        {{nota|stringformat:".2f"|unlocalize}},
                    {% endfor %}
                  ],
                  backgroundColor: 'rgb(255,87,31)',
                },
                {
                  label: ">= 5.0 & <= 7.0",
                  data: [
                    {% for nota in mid %}
                        {{nota|stringformat:".2f"|unlocalize}},
                    {% endfor %}
                  ],
                  backgroundColor: 'rgb(204,204,0)',
                },
                {
                  label: "> 7.0",
                  data: [
                    {% for nota in high %}
                        {{nota|stringformat:".2f"|unlocalize}},
                    {% endfor %}
                  ],
                  backgroundColor: 'rgb(0,166,149)',
                }
              ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Proporção nos semestres'
                }, 
              scales: {
                xAxes: [{
                  stacked: true,
                }],
                yAxes: [{
                  stacked: true,
                  ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
              },
              plugins: {
                datalabels: {
                  color: 'white',
                  font: {
                    weight: 'bold'
                  },
                  formatter: function(value, context) {
                    return Math.round(value) + '%';
                  }
                }
              }
            }
          }

    function carrega_pagina() {  
      // Chart do média dos alunos
      var chart_medias = document.getElementById('chart-medias').getContext('2d');
      window.medias = new Chart(chart_medias, config_medias);
    }

    window.onload = carrega_pagina
  
  </script>


    </div>
    </div>
    </div>

    {% include "edicoes_ajax.html" with sem_edicao=True com_cursos=True com_objetivos=True ind_grup=True so_finais=True %}

{% endblock %}