{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 5 de Agosto de 2022
{% endcomment %}

{% block head %}
  {% load medias %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  {% include "edicoes.html" %}
  {% include "areas.html" with tudo_ligado=True titulo_areas=True not_outras=True com_borda=True %}
  
  <div class="atualizar">
    {% include "tabelas_top_ml.html" with tabela="Projetos" cabecalhos=cabecalhos %}
      {% for projeto in projetos %}
        {% with estudantes=projeto.alocacao_set.all areas=projeto.proposta.areadeinteresse_set.all %}

        <tr class="item {% for area in areas %}{{area.area.id}} {% endfor %}">
            <th scope="row" data-order="{{projeto.get_titulo}}">{% include "projetos/includes/bloco_projeto.html" with projeto=projeto tit_proposta=True %}</th>
            <td>{% include "projetos/includes/bloco_areas.html" with areas=areas %}</td>
            <td>{% include "estudantes/includes/bloco_estudantes.html" with grupo=estudantes pequeno=True %}</td>
            <td class="text-center">{{projeto.get_edicao}}</td>
            <td>{% include "academica/includes/bloco_orientador.html" with orientador=projeto.orientador coorientadores=projeto.coorientador_set.all %}</td>
            <td>{% include "organizacoes/includes/bloco_organizacao.html" with organizacao=projeto.organizacao %}</td>

            {% with medias=projeto|medias %}
              <td>{{medias.orientador|floatformat:1|safe}}</td>
              <td>{{medias.bancas|floatformat:1|safe}}</td>
              <td>{{medias.falconi|floatformat:1|safe}}</td>
              <td>{{medias.media|floatformat:1|safe}}</td>
            {% endwith %}

          </tr>

        {% endwith %}
      {% endfor %}
    {% include "tabelas_bottom.html" %} 
  </div>

  <script>

    var table = null;

    function carrega_pagina() {
      const tabelaElem = $("#ProjetosTable");
      if (tabelaElem.find("th").length > 0) {   // Verifica se os THs foram registrados primeiro
        table = tabelaElem.DataTable();
        if (!table) return true;

        $.fn.dataTable.ext.search.push(
          function(settings, data, dataIndex) {
            // Se o principal estiver selecionado, todos aparecem, mesmo sem nenhuma área marcada
            if( $("#titulo_areas").is(":checked") ) return true;
            const filterList = $("input.filtra_area[type=checkbox]:checked");
            const rowNode = $(table.row(dataIndex).node());
            return filterList.toArray().some(el => rowNode.hasClass(el.id));
          }
        );

        table.draw(); 
      }
    };

    window.onload = carrega_pagina

    $(".filtra_area").change(function(){
      if(table) {table.draw();}
    });
    
  </script>

  {% include "edicoes_ajax.html" with tabela="Projetos" %}

{% endblock %}
