{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 5 de Agosto de 2022
{% endcomment %}

{% block head %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  <span class="titulo">Filtro para Projetos</span>

  {% comment %} Seletor da edição da pesquisa {% endcomment %}
  {% include "edicoes.html" %}

  {% with tudo_ligado=True %}
  {% with titulo_areas=True %}
  {% with not_outras=True %}
      {% include "areas.html"%}
  {% endwith %}
  {% endwith %}
  {% endwith %}

  <div class="atualizar">
    {% if projetos %}
    {{organizacao.proposta_set.count|stringformat:"03d"}}
      <div class="table-responsive">
        <table id="ProjetosTable" class="table table-bordered table-hover table-sm" style="width: 100%;">
          <thead class="table-info">
            <tr>
              <th scope="col" class="text-center">Projeto</th>
              <th scope="col" class="text-center">Áreas</th>
              <th scope="col" class="text-center">Estudantes</th>
              <th scope="col" class="text-center">Período</th>
              <th scope="col" class="text-center">Orientador</th>
              <th scope="col" class="text-center">Organização</th>
              <th scope="col" class="text-center">Orientador</th>
              <th scope="col" class="text-center">Bancas</th>
              <th scope="col" class="text-center">Falconi</th>
              <th scope="col" class="text-center">Média</th>
            </tr>
          </thead>
          {% for projeto in projetos %}
          {% with estudantes=projeto.alocacao_set.all %}
          {% with areas=projeto.proposta.areadeinteresse_set.all %}

          <tr class="item {% for area in areas %}{{area.area.id}} {% endfor %}">
              <th scope="row" data-order="{{projeto.get_titulo}}"
              {% comment %} rowspan="{{estudantes.count}}" {% endcomment %}
              >
                <a href="{% url 'projeto_completo' projeto.id %}">
                  {% if projeto.titulo_final %}
                    {{projeto.titulo_final}}<br>
                    <small>Título original: {{projeto.titulo}}</small>
                  {% else %}
                    {{projeto.titulo}}
                  {% endif %}
                  <u><strong style="color:red">
                    {% if projeto.avancado %}
                      [Avançado]
                    {% endif %}
                    {% if projeto.proposta.internacional %}
                      [Internacional]
                    {% endif %}
                    {% if projeto.proposta.intercambio %}
                      [Intercâmbio]
                    {% endif %}
                  </strong></u><br>
                </a>
              </th>
              <td>
                {% for area in areas %}
                  {% if area.outras %}
                    {{area.outras}};
                  {% else %}
                    {{area.area}};
                  {% endif %}
                {% endfor %}
              </td>
              <td>
                {% comment %} {% with alocacao=estudantes|first %} {% endcomment %}
                {% for alocacao in estudantes %}&bull; {{alocacao.aluno.user.get_full_name}} [{{alocacao.aluno.get_curso_display}}]{% if alocacao.aluno.externo %}<span style="color:red">[{{alocacao.aluno.externo}}]</span>{% endif %}<br>{% empty %}
                  Nenhum aluno alocado nesse projeto
                {% endfor %}
              </td>
              <td class="text-center"
              {% comment %} rowspan="{{estudantes.count}}" {% endcomment %}
              >
                  {{projeto.ano}}&middot;{{projeto.semestre}}
              </td>
              <td
              {% comment %} rowspan="{{estudantes.count}}" {% endcomment %}
              >
                {% if projeto.orientador %}
                  <a href="{% url 'professor_detail' projeto.orientador.id %}">
                    {{ projeto.orientador }}
                  </a>
                {% else %}
                  <i>Orientador não definido</i>
                {% endif %}
              </td>
              <td
              {% comment %} rowspan="{{estudantes.count}}" {% endcomment %}
              >
                {% if projeto.organizacao %}
                  <a href="{% url 'organizacao_completo' projeto.organizacao.id %}">
                    {{ projeto.organizacao.nome }}
                  </a>
                {% else %}
                  <i>Organização não definida</i>
                {% endif %}
              </td>

              {% with medias=projeto.medias %}
              <td>
                {{medias.0|floatformat:1|safe}}
              </td>

              <td>
                {{medias.1|floatformat:1|safe}}
              </td>

              <td>
                {{medias.2|floatformat:1|safe}}
              </td>

              <td>
                {{medias.3|floatformat:1|safe}}
              </td>

              {% endwith %}

            </tr>
          
            {% comment %}
            {% for alocacao in estudantes|slice:"1:" %}
              <tr><td>
                {{alocacao.aluno.user.get_full_name}} [{{alocacao.aluno.get_curso_display}}]<br>
              </td></tr>
            {% endfor %}
            {% endcomment %}
          
          {% endwith %}
          {% endwith %}
          {% endfor %}
          
        </table>
      </div>
      {% comment %} <strong>Número Total de Projetos:</strong> {{ projetos.count }} {% endcomment %}
    {% endif %}

    <script>

      var table = null;

      function carrega_pagina() {

        table = $('#ProjetosTable').DataTable();
        
        $.fn.dataTable.ext.search.push(
          function(settings, data, dataIndex) {
            
            if(table) {

              // Se o principal estiver selecionado, todos aparecem, mesmo sem nenhuma área marcada
              if( $("#titulo_areas").is(':checked') ) {
                return true;
              }

              filterList = $("input.filtra_area[type=checkbox]");
              encontrou = false;      
              filterList.each(function(i, el) {
                  if($(el)[0].checked) {
                    if($(table.row(dataIndex).node()).hasClass($(el)[0].id)) {
                      encontrou = true;
                    }
                  }
              });
              return encontrou;
            }
            return true;
          }
        );

        table.draw();
        //table.search("Bioengenharia").draw();

      };
      window.onload = carrega_pagina

      $(".filtra_area").change(function(){
        if(table) {
          table.draw();
        }
      });
      
    </script>

{% comment %} 

    <script type="text/javascript">

      function filtra_area() {
        filterList = $("input.filtra_area[type=checkbox]");         
        var row = $('.item');
        row.hide();
        filterList.each(function(i, el) {
            if($(el)[0].checked) {
              var linha = $('.'+$(el)[0].id);
              $(linha).show();
            }
        });
      }
  
      $(".filtra_area").change(function(){
        filtra_area();
      });

    </script>
 {% endcomment %}


  </div>
  <p>&nbsp;</p>

  {% with tabela='Projetos' %}
    {% include "edicoes_ajax.html" %}
  {% endwith %}

{% endblock %}
