{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 5 de Agosto de 2022
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
{% endblock %}

{% block content %}

  {% include "edicoes.html" %}
  <br>
  <div id="atualizar">

    <b>{% lng "Total de Propostas" "Total of Proposals" %}</b> = {{ propostas.count }}<br>
    <b>{% lng "Total de Projetos" "Total of Projects" %}</b> = {{ projetos.count }}<br>
    <br>

    <div class="chart-container" style="position: relative; max-width: 1240px; height: 360px;">
      <canvas id="bar-interesses"></canvas>
    </div>

    <script>

      var config_interesses = {
          type: "horizontalBar",
          data: {
            labels_pt: [{% for _, tipo_pt, _ in tipo_interesse %}"{{tipo_pt}}",{% endfor %}],
            labels_en: [{% for _, _, tipo_en in tipo_interesse %}"{{tipo_en}}",{% endfor %}],
            {% comment %} labels: null, {% endcomment %}
            datasets: [
              {
                  backgroundColor: "#aefef2",
                  data: [
                      {{ aprimorar }},
                      {{ realizar }},
                      {{ iniciar }},
                      {{ identificar }},
                      {{ mentorar }}
                  ],
                  barThickness: 36,
              }, 
            ]
          },
          options: {
            maintainAspectRatio: false,
            legend: {display: false},
            title: {display: false},
            scales: {
              xAxes: [{
                  ticks: {
                      beginAtZero: true,
                      display: true,
                  },
                  scaleLabel: {
                      display: true,
                      labelString_pt: "Número de Propostas",
                      labelString_en: "Number of Proposals"
                  }
              }],
              yAxes: [{
                  ticks: {display: false,}
              }]
            },
            plugins: {
                datalabels: {
                    align: "end",
                    anchor: "start",
                    color: "#000000",
                    formatter: function(value, context) {
                        return context.chart.data.labels[context.dataIndex] + " [" + value + "]";
                    }
                },
            }
          }
      };

      var bar_interesses = document.getElementById("bar-interesses").getContext("2d");
      window.interesses = new Chart(bar_interesses, config_interesses);

      function lingua_grafico() {
        if(localStorage.getItem("lingua") == "pt") {
          window.interesses.data.labels = window.interesses.data.labels_pt;
          window.interesses.options.scales.xAxes[0].scaleLabel.labelString = window.interesses.options.scales.xAxes[0].scaleLabel.labelString_pt;
        } else {
          window.interesses.data.labels = window.interesses.data.labels_en;
          window.interesses.options.scales.xAxes[0].scaleLabel.labelString = window.interesses.options.scales.xAxes[0].scaleLabel.labelString_en;
        }
        window.interesses.update();
      }
      lingua_grafico();
      document.addEventListener("languageChanged", lingua_grafico);

    </script>

  </div> 

  <script>
    function carrega_pagina() {};
    window.onload = carrega_pagina;
  </script>

  {% include "edicoes_ajax.html" %}

{% endblock %}
