{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 13 de Janeiro de 2020
{% endcomment %}

{% load static %}
{% load linguas %}

{% block head %}
  <script src="{% static 'js/sort.js' %}"></script>
{% endblock %}

{% block content %}

  {% include "botao_adiciona.html" with url_add="acompanhamento_view" txt_pt="Adicionar Acompanhamento" txt_en="Add Follow-up" open_modal=True %}

  <div class="table-responsive">
    <table id="AcompanhamentoTable" class="tabela-padrao">
      <thead>
      <tr>
        <th onclick="sort('#AcompanhamentoTable', '.item', 'td:nth-child(1)')">{% lng "Autor" "Author" %}</th>
        <th onclick="sort('#AcompanhamentoTable', '.item', 'td:nth-child(2)')">{% lng "Organização" "Organization" %}</th>
        <th onclick="sort('#AcompanhamentoTable', '.item', 'td:nth-child(3)')">{% lng "Data" "Date" %}</th></th>
        <th class="text-center">{% lng "Mensagem" "Message" %}</th>
      </tr></thead>  
      <tbody> 
      {% for acompanhamento in acompanhamentos %} 
        <tr class="item">
          <td>
            {% if acompanhamento.autor %}
              <a class="imprimir" href="{% url 'parceiro_detail' acompanhamento.autor.parceiro.id %}">
                {{ acompanhamento.autor.get_full_name }}
              </a>
            {% else %}
              {% lng "Anônimo" "Anonymous" %}
            {% endif %}
          </td>
          <td>
            {% if acompanhamento.autor.parceiro.organizacao %}
              <a class="imprimir" href="{% url 'organizacao_completo' acompanhamento.autor.parceiro.organizacao.id %}">
                {{ acompanhamento.autor.parceiro.organizacao }}
              </a>
            {% else %}
              {% lng "Anônimo" "Anonymous" %}
            {% endif %}
          </td>
          <td>{{acompanhamento.data|date:"Y.m.d"}}</td>
          <td>{{acompanhamento.texto}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% include "base-modal.html" %}

{% endblock %}