{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 13 de Janeiro de 2020
{% endcomment %}

{% block head %}
    {% load static %}
    
    <script src="{% static 'js/w3.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    
    {% comment %} Para chamar os Tooltips {% endcomment %}
    <script>{% include "tooltip.js" %}</script>
{% endblock %}

{% block content %}

  <span class="titulo">Listagem dos Acompanhamentos das Organizações Parceiras
    <small><a
      class="open-acompanhamento"
      href="{% url 'acompanhamento_view' %}"
      data-url="{% url 'acompanhamento_view' %}"
      >&#10133;</a
    ></small>
  </span>

  <table id="AcompanhamentoTable">
    <tr>
      <th onclick="w3.sortHTML('#AcompanhamentoTable', '.item', 'td:nth-child(1)')" style="cursor:pointer" class="text-center">Nome</th>
      <th onclick="w3.sortHTML('#AcompanhamentoTable', '.item', 'td:nth-child(2)')" style="cursor:pointer" class="text-center">Organização</th>
      <th onclick="w3.sortHTML('#AcompanhamentoTable', '.item', 'td:nth-child(3)')" style="cursor:pointer" class="text-center">Data</th>
      <th class="text-center">Mensagem</th>
    </tr>      
    {% for acompanhamento in acompanhamentos %} 
      <tr class="item">
        <td>
          {% if acompanhamento.autor %}
            <a class="imprimir" href="{% url 'parceiro_detail' acompanhamento.autor.parceiro.id %}">
              {{ acompanhamento.autor.get_full_name }}
            </a>
          {% else %}
            Anônimo
          {% endif %}
        </td>
        <td>
          {% if acompanhamento.autor.parceiro.organizacao %}
            <a class="imprimir" href="{% url 'organizacao_completo' acompanhamento.autor.parceiro.organizacao.id %}">
              {{ acompanhamento.autor.parceiro.organizacao }}
            </a>
          {% else %}
            Anônimo
          {% endif %}
        </td>
        <td>
          {{acompanhamento.data|date:"Y.m.d"}}
        </td>
        <td>
          {{acompanhamento.texto}}
        </td>
      </tr>
    {% endfor %}
  </table>

  <p>&nbsp;</p>

  {% include "acompanhamento-modal.html" %}

{% endblock %}