{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 13 de Janeiro de 2020
{% endcomment %}

{% block head %}
  {% load static %}  
  {% comment %} <script src="{% static 'js/sort.js' %}"></script> {% endcomment %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-labels.js' %}"></script>
  <script>{% include "tooltip.js" %}</script>
  {% include "tabelas_includes.html" %}
  <style>
    canvas {background-color: #FAFAFA;}
  </style>
{% endblock %}

{% block content %}

  <span class="titulo">{{titulo}}</span>

  <div>Link para pesquisa: <a href="{% url 'estudante_feedback' %}">{{request.scheme}}://{{request.get_host}}{% url 'estudante_feedback' %}</a></div><br>

  {% include "edicoes.html" %}

  <div class="atualizar">

    <script>
      var recomendaria = [0, 0, 0];
      var primeira_opcao = [0, 0];
      var proposta = [0, 0, 0, 0, 0];
      var trabalhando = [0, 0, 0, 0];
      var comentarios = [];
    </script>

    {% include "tabelas_top.html" with tabela="Feedbacks" cabecalhos=cabecalhos %}
      {% for estudante, projeto, feedback in alocacoes %}
        <tr class="item">
          <td style="font-size:80%" data-sort="{{estudante.user.get_full_name}}">
            <a href="{% url 'estudante_detail' estudante.id %}">
              {{estudante.user.get_full_name}} {% if estudante.externo %}<span style="color:red">[{{estudante.externo}}]</span>{% endif %}
            </a>
          </td>
          <td style="font-size:80%">
            {% if projeto %}
              <a href="{% url 'projeto_completo' projeto.id %}">
                {{projeto}}
              </a>
            {% endif %}
          </td>
          <td style="font-size:80%">
            {% if feedback %}
              <a href="{% url 'mostra_feedback_estudante' feedback.id %}">
                {{feedback.momento|date:"Y.m.d"}}
              </a>
            {% endif %}
          </td>
          {% if feedback.recomendaria %}
            <script>recomendaria[{{feedback.recomendaria}}-1] += 1;</script>
          {% endif %}
          {% if feedback.primeira_opcao != None %}
            <script>primeira_opcao{% if feedback.primeira_opcao %}[0]{% else %}[1]{% endif %} += 1;</script>
          {% endif %}
          {% if feedback.recomendaria %}
            <script>proposta[{{feedback.proposta}}-1] += 1;</script>
          {% endif %}
          {% if feedback.trabalhando %}
            <script>trabalhando[{{feedback.trabalhando}}-1] += 1;</script>
          {% endif %}
          {% if feedback.outros %}
            <script>comentarios.push(`{{feedback.outros}}`);</script>
          {% endif %}

          <td style="font-size:80%" class="text-center">
            <a href="mailto:{{estudante.user.email}}?subject=Feedback%20Final%20PFE&amp;body={% include 'mensagem_feedback_final.html' %}" target='_blank'>
              e-mail
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 mt-4" id="chart-recomendaria"></div>
      <div class="col-lg-6 mt-4" id="chart-primeira_opcao"></div>
      <div class="col-lg-6 mt-4" id="chart-proposta"></div>
      <div class="col-lg-6 mt-4" id="chart-trabalhando"></div>
    </div>
  </div>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <table id="ComentariosTable"  style="background-color: #eee;" >
    <tr><td><b>Comentários:</b></td></tr>
  </table>

  <script>
    if(comentarios.length) {
      comentarios.forEach(function(texto, i) {
        $("#ComentariosTable tr:last").after("<tr><td>" + texto + "</td></tr>");
      })
    } else {
      $("#ComentariosTable").remove();
    }
  </script>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <div class="container">
    <div class="row">
      <div class="col"><canvas id="bar-feedbacks"></canvas></div>
    </div>
  </div>

  <p>&nbsp;</p>

  <script>

    var plugins = {
      labels: [ { render: "label",
                  fontColor: "#000",
                  fontStyle: "bold",
                  position: "outside" },
                { render: "percentage" } ]
    }

    var legend = {
      display: false,
      position: "bottom",
      labels: { fontColor: "#333",
                fontSize: 14 }
    }

    var pie_base = {
      type: "pie",
      options: {
        responsive: true,
        title: { display: true,
                 position: "top"},
        legend: legend,
        plugins: plugins
      }
    };

    var config_recomendaria = Object.assign({}, pie_base, {
      data: {
        datasets: [{
          data: recomendaria,
          backgroundColor: ["#e74c3c","#95a5a6","#34495e"],
        }],
        labels: [
          "Não recomendo",
          "Recomendo com ressalvas",
          "Recomendo fortemente"
        ]
      },
      options: {title: {display: true, text: "Recomendaria Organização Parceira"} }
    });

    var config_primeira_opcao = Object.assign({}, pie_base, {
      data: {
        datasets: [{
          data: primeira_opcao,
          backgroundColor: ["#2ecc71","#3498db","#9b59b6","#f1c40f"],
        }],
        labels: [
          "Sim",
          "Não"
        ]
      },
      options: {title: {display: true, text: "Primeira Opção"} }
    });

    var config_proposta = Object.assign({}, pie_base, {
      data: {
        datasets: [{
          data: proposta,
          backgroundColor: ["#bb79d6", "#f1c40f", "#f10fc4", "#0ff1c4", "#59b69b"],
        }],
        labels: [
          "Recebi convite e apliquei",
          "Não recebi convite, mas apliquei",
          "Recebi convite, mas não apliquei",
          "Não recebi, nem apliquei",
          "Não haviam vagas em aberto"
        ]
      },
      options: {title: {display: true, text: "Recebeu proposta de estágio"} }
    });

    var config_trabalhando = Object.assign({}, pie_base, {
      data: {
        datasets: [{
          data: trabalhando,
          backgroundColor: ["#bb79d6","#f1c40f","#f10fc4","#0ff1c4"],
        }],
        labels: [
          "Empresa do Projeto do Capstone",
          "Outra",
          "Ainda não",
          "Prefiro não responder"
        ]
      },
      options: {title: {display: true, text: "Onde está trabalhando"} }
    });

    var config_feedbacks = {
        type: "bar",
        data: {
          labels: [{% for edicao in edicoes %}"{{edicao}}",{% endfor %}],
          datasets: [{
              label: "estudantes",
              backgroundColor: "#0E7E32",
              data: [{% for num in num_estudantes %}{{num}}, {% endfor %}]
            }, 
            {
              label: "feedbacks",
              backgroundColor: "#15CECD",
              data: [{% for num in num_feedbacks %} {{num}},{% endfor %} ]
            }, 
        ]},
        options: {
          legend: { display: true },
          title: {
              display: true,
              text: "Estudantes e Feedbacks"
          },
          plugins: {
            labels: [{
                render: "value",
                fontColor: "#000",
                fontStyle: "bold",
            }]
          }
        }
    };

    function carrega_grafico() {  
      // Chart da quantidade de projetos
      window.projeto = new Chart(document.getElementById("bar-feedbacks").getContext("2d"), config_feedbacks);

      if(recomendaria.some(item => item !== 0)) {
        $("#chart-recomendaria").append($("<canvas></canvas>"));
        var context_recomendaria = $("#chart-recomendaria canvas").get(0).getContext("2d");
        window.myPie = new Chart(context_recomendaria, config_recomendaria);
      } else {
        $("#chart-recomendaria").remove();
      }

      if(primeira_opcao.some(item => item !== 0)) {
        $("#chart-primeira_opcao").append($("<canvas></canvas>"));
        var context_primeira_opcao = $("#chart-primeira_opcao canvas").get(0).getContext("2d");
        window.myPie2 = new Chart(context_primeira_opcao, config_primeira_opcao);
      } else {
        $("#chart-primeira_opcao").remove();
      }

      if(proposta.some(item => item !== 0)) {
        $("#chart-proposta").append($("<canvas></canvas>"));
        var context_proposta = $("#chart-proposta canvas").get(0).getContext("2d");
        window.myPie3 = new Chart(context_proposta, config_proposta);
      } else {
        $("#chart-proposta").remove();
      }

      if(trabalhando.some(item => item !== 0)) {
        $("#chart-trabalhando").append($("<canvas></canvas>"));
        var context_trabalhando = $("#chart-trabalhando canvas").get(0).getContext("2d");
        window.myPie4 = new Chart(context_trabalhando, config_trabalhando);
      } else {
        $("#chart-trabalhando").remove();
      }
    }

      function carrega_pagina() { carrega_grafico(); }
      window.onload = carrega_pagina

    </script>

  </div>

  {% include "edicoes_ajax.html" with tabela="Feedbacks" %}

{% endblock %}