<!DOCTYPE html>
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Site em Manutenção</title>
    
    <style>
      body { text-align: center; padding: 150px; }
      h1 { font-size: 50px; }
      body { font: 20px Helvetica, sans-serif; color: #333; }
    </style>
</head>
<body>
    <h1 class="red-bold">Site em Manutenção</h1>
    <div>
        <p>Sistema foi posto em manutenção</p>
        <p>Para qualquer emergência contactar: <a href="mailto:lucianops@insper.edu.br">lucianops@insper.edu.br</a>.</p>
    </div>
</body>
</html>