{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 5 de Agosto de 2019
{% endcomment %}

{% block content %}

  {% if aluno.alocacao_set.all.count > 0 %}

    <span class="titulo">Projeto(s) Alocado(s)</span>
    <br><br>

    {% for alocado in aluno.alocacao_set.all %}

      <h4>[{{alocado.projeto.ano}}.{{alocado.projeto.semestre}}]</h4>
      
      {% if alocado.projeto.ano > configuracao.ano or alocado.projeto.ano == configuracao.ano and alocado.projeto.semestre > configuracao.semestre %}
        {% if not configuracao.liberados_projetos %}
          Projetos {{configuracao.ano}}.{{configuracao.semestre}} em fase de alocação.<br>
        {% else %}
          {% include "projeto.html" %}
        {% endif %}
      {% else %}
        {% include "projeto.html" %}
      {% endif %}

    {% endfor %}
  {% else %}
     Você não está alocado em nenhum projeto.
  {% endif %}

{% endblock %}