{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}
  <h3>Empresa: {{ organization.nome_empresa }}</h3>
  <strong>website:</strong> <a href="{{ organization.website }}"> {{ organization.website }} </a><br>
  <br><strong>contato(s):</strong><br>
  {% for parceiro in organization.parceiro_set.all %}
      <li>
          {{parceiro.user.first_name}} {{parceiro.user.last_name}} &nbsp;
          <a href="mailto:{{parceiro.user.email}}"> &lt;{{parceiro.user.email}}&gt;</a> &nbsp;
          {% if parceiro.telefone %} &#x260F; {{parceiro.telefone}} &nbsp;{% endif %}
          {% if parceiro.celular %} &#x1F4F1; {{parceiro.celular}} &nbsp;{% endif %}
          {% if parceiro.gestor_responsavel %}
            [gestor responsavel]
          {% endif %}
          {% if parceiro.mentor_tecnico %}
            [mentor técnico]
          {% endif %}
          {% if parceiro.recursos_humanos %}
            [recursos humanos]
          {% endif %}
        </li>
  {% endfor %}
  <br><strong>endereço(s):</strong> {{ organization.endereco|linebreaks }}
  <br>
  <hr>
  {% if organization.contrato %}
    <strong>contratos:</strong> <a href="{% url 'contrato' organization.sigla organization.documento %}"> {{ organization.documento }} </a>
  {% endif %}
  <hr>

  <h3>Projetos</h3>
  {% for projeto in organization.projeto_set.all %}
    <a href="{% url 'completo' projeto.id %}"> 
      <li>{{projeto.titulo}}</li>
    </a>
  {% endfor %}

{% endblock %}