{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}
  {% load static %}
  <h3>Empresa: {{ organization.nome_empresa }}</h3>
  <strong>website:</strong> <a href="{{ organization.website }}"> {{ organization.website }} </a><br>
  <br><strong>contato(s):</strong><br>
  {% for parceiro in organization.parceiro_set.all %}
      <li>
          {{parceiro.user.first_name}} {{parceiro.user.last_name}} &nbsp;
          <a href="mailto:{{parceiro.user.email}}"> &lt;{{parceiro.user.email}}&gt;</a> &nbsp;
          <br>&nbsp;&nbsp;&nbsp;
          {% if parceiro.gestor_responsavel %}
            [gestor responsavel]
          {% endif %}
          {% if parceiro.mentor_tecnico %}
            [mentor técnico]
          {% endif %}
          {% if parceiro.recursos_humanos %}
            [recursos humanos]
          {% endif %}
          {% if parceiro.telefone %} <br>&nbsp;&nbsp;&nbsp;&nbsp;&#x260F; {{parceiro.telefone}} &nbsp;{% endif %}
          {% if parceiro.celular %} <br>&nbsp;&nbsp;&nbsp;&nbsp;&#x1F4F1; {{parceiro.celular}} &nbsp;{% endif %}
          {% if parceiro.skype %} <br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'images/skype.png' %}" alt="skype" style="width:16px;height:16px;">
          <a href="skype:{{parceiro.skype}}">{{parceiro.skype}}</a>&nbsp; {% endif %}
          <br>
        </li>
  {% endfor %}
  <br><strong>endereço(s):</strong> 
  <a href="http://maps.google.com/maps?q={{organization.endereco}}">
    {{ organization.endereco|linebreaks }}
  </a>

  {% if organization.documento_set.all %}
    <hr>
    <h3>Contratos</h3>
    {% for contrato in organization.documento_set.all %}
        <li><a href="../..{{MEDIA_URL}}{{ contrato.documento }}"> {{ contrato }} 
        {% if contrato.projeto %}
          - {% if contrato.projeto.titulo_final %}{{contrato.projeto.titulo_final}}{% else %}{{contrato.projeto.titulo}}{% endif %}
        {% endif %}
        {% if contrato.usuario %}
          - {{ contrato.usuario.first_name }} {{ contrato.usuario.last_name }} 
        {% endif %}
        </a></li>
    {% endfor %}
  {% endif %}
  
  {% if organization.projeto_set.all %}
    <hr>
    <h3>Projetos</h3>
    {% for projeto in organization.projeto_set.all %}
      <a href="{% url 'completo' projeto.id %}"> 
        <li>
          {% if projeto.alocacao_set.count %}
            <u>
          {% endif %}
          {% if projeto.titulo_final %}{{projeto.titulo_final}}{% else %}{{projeto.titulo}}{% endif %} ({{projeto.ano}}.{{projeto.semestre}})
          {% if projeto.alocacao_set.count %}
            </u>
          {% endif %}
        </li>
      </a>
    {% endfor %}
  {% endif %}

  {% if organization.anotacao_set.all %}
    <hr>
    <h3>Anotações</h3>
    {% for anotacao in organization.anotacao_set.all %}
      {{anotacao.autor.first_name}} {{anotacao.autor.last_name}} [{{anotacao.data}}] : {{anotacao.texto}}<br>
    {% endfor %}
  {% endif %}

{% endblock %}