{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.sortElements.js' %}"></script>
  <script type="text/javascript">
  $(window).load(function(){
    var table = $('table');
    $('#sigla_header, #organizacao_header')
        .wrapInner('<span title="ordenar coluna"/>')
        .each(function(){
            var th = $(this),
                thIndex = th.index(),
                inverse = false;
            th.click(function(){
                table.find('td').filter(function(){
                    return $(this).index() === thIndex;
                }).sortElements(function(a, b){
                    return $.text([a]) > $.text([b]) ?
                        inverse ? -1 : 1
                        : inverse ? 1 : -1;
                }, function(){
                    // parentNode is the element we want to move
                    return this.parentNode; 
                });
                inverse = !inverse; 
            });
        });
      });
  </script>
{% endblock %}

{% block content %}
    <h3>Organizações Parceiras</h3>

    {% if organizacoes_list %}
        <table>
            <tr>
                <th id="sigla_header" class="text-center">Sigla</th>
                <th id="organizacao_header" class="text-center">Organização</th>
            </tr>
        {% for organizacao in organizacoes_list %} 
        <tr>
          <td>
            <a href="{% url 'organizacao' organizacao.login %}"> <!-- UM DIA ACERTAR ISSO -->
              {{organizacao.sigla}}
            </a>
          </td>
          <td>
            <a href="{% url 'organizacao' organizacao.login %}"> <!-- UM DIA ACERTAR ISSO -->
              {{organizacao.nome_empresa}}
            </a>
          </td>
        </tr>
        {% endfor %}
        </table>
        <p>&nbsp;</p>
    {% else %}
      <p>Não existem organizações cadastradas.</p>
    {% endif %}

{% endblock %}