{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 8 de Janeiro de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock %}

{% block content %}
  <h3>Alocação de Organizações Parceiras</h3>
  <br>
  {% for organizacoes,periodo in anos %} 
    <big>{{periodo}}</big>
    <table id="organizacoes">
      <tr>
        <th style="text-align: center;width:425px;">Organização</th>
        <th style="text-align: center;width:70px;">Projetos</th>
      </tr>
      {% for organizacao,projetos in organizacoes %} 
        <tr>
          <td>
            <a href="{% url 'organizacao_completo' organizacao.login %}">
              {{organizacao.nome_empresa}}
            </a>
          </td>
          <td style="text-align: center;" data-toggle="tooltip" data-html="true" animation="true" title="
            {% for projeto in projetos %}
              &bull;
              {{projeto.get_titulo}}
              [{{projeto.orientador}}]
              <br>
            {% endfor %}
          "> 
            {{projetos|length}}
          </td>
        </tr>
      {% endfor %}
    </table>
    <br>
  {% endfor %}
  
  <br>
  <br>

{% endblock %}