{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 23 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Chart.min.css' %}">
{% endblock %}

{% block content %}

  <h3>Procura pela Propostas de Projetos</h3>

  <label for="filter">Edição:</label>
  <select id="filter" class="filter" data-tableId="projetos">
    {% for loop in loop_anos %}
      <option value="{{loop}}.2" {% if ano == loop and semestre == 2 %}selected{% endif %}>{{loop}}.2</option>
      <option value="{{loop|add:1}}.1" {% if ano == loop|add:1 and semestre == 1 %}selected{% endif %}>{{loop|add:1}}.1</option>
    {% endfor %}
  </select>

  <div class="2areas2">

  <div id="chart-container" style="position: relative; height:{{tamanho}}vh; width:100%">
    <canvas id="chart-area"></canvas>
  </div>
  
  <script>

    var barChartData = {
			labels: [
        {% for proposta in propostas %} 
          '{{proposta.titulo}} ({{proposta.organizacao}})',
        {% endfor %}
        ],
			datasets: [
      {
				label: 'Opção #5',
				backgroundColor: 'rgb(180, 200, 160)',
        barPercentage: 0.5,
				data: [
          {% for prioridade in prioridades.4 %} 
					  {{prioridade}},
          {% endfor %}
        ],
        estudantes: [{% for estudante in estudantes.4 %} '{{estudante}}',{% endfor %}]
      },
      {
				label: 'Opção #4',
				backgroundColor: 'rgb(180, 180, 120)',
        barPercentage: 0.5,
				data: [
          {% for prioridade in prioridades.3 %} 
					  {{prioridade}},
          {% endfor %}
        ],
        estudantes: [{% for estudante in estudantes.3 %} '{{estudante}}',{% endfor %}]
			},
      {
				label: 'Opção #3',
				backgroundColor: 'rgb(210, 190, 35)',
        barPercentage: 0.5,
				data: [
          {% for prioridade in prioridades.2 %} 
					  {{prioridade}},
          {% endfor %}
        ],
        estudantes: [{% for estudante in estudantes.2 %} '{{estudante}}',{% endfor %}]
			},
      {
				label: 'Opção #2',
				backgroundColor: 'rgb(210, 230, 30)',
        barPercentage: 0.5,
				data: [
          {% for prioridade in prioridades.1 %} 
					  {{prioridade}},
          {% endfor %}
        ],
        estudantes: [{% for estudante in estudantes.1 %} '{{estudante}}',{% endfor %}]
      }, {
				label: 'Opção #1',
				backgroundColor: 'rgb(0, 250, 0)',
        barPercentage: 0.5,
				data: [
          {% for prioridade in prioridades.0 %} 
					  {{prioridade}},
          {% endfor %}
        ],
        estudantes: [{% for estudante in estudantes.0 %} '{{estudante}}',{% endfor %}]
			}]
		};

    var textos = []

    function titulos(animation) {
      const chartInstance = this.chart;
      const ctx = chartInstance.ctx;
      const dataset = this.data.datasets[0];
      const meta = chartInstance.controller.getDatasetMeta(0);

      // Label
      textos = []
      counter = 1
      Chart.helpers.each(meta.data.forEach((bar, index) => {
        const label = this.data.labels[index]
        const labelPositionX = 9
        const labelPositionY = bar._model.y-(bar._model.height/2)
        const labelWidth = ctx.measureText(label).width

        ctx.textBaseline = 'bottom'
        ctx.textAlign = 'left'
        ctx.fillStyle = '#000000'
        ctx.font = "12px Open Sans"
        var espaco = 19
        if(counter>9) {
          espaco = 25
        }
        label_limpo = label.replace("&amp;", "&")
        ctx.fillText(label_limpo, labelPositionX+espaco, labelPositionY)
        ctx.fillText(counter.toString()+"º : ", labelPositionX, labelPositionY)
        counter = counter + 1

        var campo = {
            label: label,
            x: labelPositionX,
            y: labelPositionY,
            w: labelWidth,
            h: 12,
        };

        textos.push(campo)

      }));
    }

    function numeros(animation) {
      const chartInstance = this.chart;
      const ctx = chartInstance.ctx;
      const dataset = this.data.datasets[0];
      const meta = chartInstance.controller.getDatasetMeta(0);

      ctx.textAlign = "center";
      ctx.textBaseline = 'top';
      ctx.font = "7px Open Sans";
      ctx.fillStyle = "#000000";

      // Numeros
      Chart.helpers.each(this.data.datasets.forEach(function (dataset, i) {
          var meta = chartInstance.controller.getDatasetMeta(i);
          Chart.helpers.each(meta.data.forEach(function (bar, index) {
              data = dataset.data[index];
                  if(data>0 && dataset._meta[0].hidden!=true) {
                    ctx.fillText(data, bar._model.x-7, bar._model.y-2);
                  }
          }),this)
      }),this);

      // Label
      counter = 1
      Chart.helpers.each(meta.data.forEach((bar, index) => {
        const label = this.data.labels[index];
        const labelPositionX = 9;
        const labelPositionY = bar._model.y-(bar._model.height/2)
        const labelWidth = ctx.measureText(label).width

        ctx.textBaseline = 'bottom';
        ctx.textAlign = 'left';
        ctx.fillStyle = '#000000';
        ctx.font = "12px Open Sans";
        var espaco = 19
        if(counter>9) {
          espaco = 25
        }
        label_limpo = label.replace("&amp;", "&")
        ctx.fillText(label_limpo, labelPositionX+espaco, labelPositionY)
        ctx.fillText(counter.toString()+"º : ", labelPositionX, labelPositionY)
        counter = counter + 1

      }));

    }

    var config = {
      type: 'horizontalBar',
				data: barChartData,
				options: {
					title: {
						display: false,
						text: 'Procuta de Propostas de Projetos'
					},
          layout: {
            padding: {
              top: 6,
            }
          },
					tooltips: {
            enabled: false,
            itemSort: function(a, b) {
              return b.datasetIndex - a.datasetIndex
            },
            callbacks: {
              label: function (tooltipItems, data) {
                texto1 = data.datasets[tooltipItems.datasetIndex].label + ": " + tooltipItems.xLabel
                texto2 = ""
                if(tooltipItems.xLabel > 0) {
                  texto2 = "  (" + data.datasets[tooltipItems.datasetIndex].estudantes[tooltipItems.index] + ")"; 
                }
                return texto1 + texto2
              }
            },
            custom: function(tooltipModel) {
                // Tooltip Element
                var tooltipEl = document.getElementById('chartjs-tooltip');

                // Create element on first render
                if (!tooltipEl) {
                    tooltipEl = document.createElement('div');
                    tooltipEl.id = 'chartjs-tooltip';
                    tooltipEl.innerHTML = '<table style="background-color: #050505; border-radius: 8px; border: 0px; padding: 20px; border-spacing: 40px 10px;"></table>';
                    document.body.appendChild(tooltipEl);
                }

                // Hide if no tooltip
                if (tooltipModel.opacity === 0) {
                    tooltipEl.style.opacity = 0;
                    return;
                }

                function getBody(bodyItem) {
                    return bodyItem.lines;
                }

                // Set Text
                if (tooltipModel.body) {
                    var bodyLines = tooltipModel.body.map(getBody);

                    var innerHtml = '<tbody>';
                    bodyLines.forEach(function(body, i) {
                        var colors = tooltipModel.labelColors[i];
                        var style = 'background:' + colors.backgroundColor;
                        style += '; border-color:' + colors.borderColor;
                        style += '; border-width: 2px';
                        
                        innerHtml += '<tr><td style="padding: 3px; border: 0px; font-size: 9px; height: 8px;"><span style="color:white">' 
                        innerHtml += '&nbsp;<span style="' + style + '">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                        innerHtml += "&nbsp;&nbsp;" + body + '</span>&nbsp;</td></tr>';
                    });
                    innerHtml += '</tbody>';

                    var tableRoot = tooltipEl.querySelector('table');
                    tableRoot.innerHTML = innerHtml;
                }

                // `this` will be the overall tooltip
                var position = this._chart.canvas.getBoundingClientRect();

                // Display, position, and set styles for font
                tooltipEl.style.opacity = 1.0;
                tooltipEl.style.position = 'absolute';
                tooltipEl.style.left = position.left + window.pageXOffset + 22 + 'px';
                tooltipEl.style.top = position.top + window.pageYOffset + tooltipModel.caretY + 'px';
                tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                tooltipEl.style.pointerEvents = 'none';
            }
					},
					responsive: true,

          maintainAspectRatio: false,
          legend: {position: 'bottom'},
					scales: {
						xAxes: [{
							stacked: true,
              ticks: {stepSize: 1,},
						}],
						yAxes: [{
              stacked: true,
              display: false
						}]
					},
          animation: {
            onProgress: titulos,
            onComplete: numeros,
          },
  
				}
    };

    function chart() {

      var canvasP = document.getElementById('chart-area');
      var ctx = canvasP.getContext('2d');
      
      {% if tamanho > 0 %}
        var histograma = new Chart(ctx, config);
      {% else %}
        $("#chart-container").text("Não há projetos!");
      {% endif %}

      canvasP.onclick = function(e) {

        const rect = canvasP.getBoundingClientRect()
        const x = event.clientX - rect.left
        const y = event.clientY - rect.top

        var label = ""

        textos.forEach((element) => {
          if( y >= element.y-element.h && y <= element.y ) {
            label = element.label
          }
        })

        if (label == "") {
          var slice = histograma.getElementAtEvent(e);
          if (!slice.length) return;
          label = slice[0]._model.label;
        }
        
        switch (label) {
          {% for proposta in propostas %} 
            case '{{proposta.titulo}} ({{proposta.organizacao}})':
              location.href = "{% url 'proposta_completa' proposta.id %}";
              break;
          {% endfor %}
        }

      }

    };
  
  </script>

  </div>

  <script>
  
    function carrega_semestre(){
        var anosemestre = $(".filter option:selected").attr("value");
        $.ajax({
            type: "POST",
            url: "{% url 'procura_propostas' %}",
            data: {
                anosemestre: anosemestre,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(response){
                $("div.2areas2").replaceWith($("div.2areas2",response));
                chart()
            },
            error: function(response) {
                console.log('error')
            }
        });
    }

    //window.onload = chart;
    //window.addEventListener("resize", chart);
    $(".filter").change(carrega_semestre);    
    $(document).ready(carrega_semestre);

  </script>

{% endblock %}
