{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 21 de Junho de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% comment %} Para desenhar gráficos na página {% endcomment %}
  <script src="{% static 'js/Chart.min.js' %}"/></script>

  <style>
    .prioridade {
      display: inline
    }

    .logotipo_left {
      max-height:64px;
      max-width:128px;
      height:auto;
      width:auto;
    }
    
  </style>


  <style>
    .arrow {
      border: solid black;
      border-width: 0px 2px 2px 0px;
      display: inline-block;
      padding: 2px;
      vertical-align: middle;
    }

    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    #toggle {
      display:inline-block; 
    }

  </style>

{% endblock %}

{% block content %}

  {% include "impressora.html" %}

  <span class="titulo">Projetos</span>
  
  {% comment %} Seletor da edição da pesquisa {% endcomment %}
  {% with com_cursos=True %}
      {% include "edicoes.html" %}
  {% endwith %}

  <script>
    $(document).on('click','#informacoes_tag',function(){
      $( "#toggle" ).toggle( "slide" );
    });
  </script>

  <span id="informacoes" style="border: 1px solid gray; border-radius: 2px; padding: 1px; margin-left: 20px;">
    <span id="informacoes_tag">&nbsp;Informações <i class="arrow right"></i>&nbsp;</span>
    <div id="toggle" style="display: none; height: 1em;">
      <label><input id="logo" onchange="($(this).prop('checked') ? $('.logo').show() : $('.logo').hide())" type="checkbox" checked /> Logo</label>&nbsp;&nbsp;&nbsp;
      <label><input id="descricao" onchange="($(this).prop('checked') ? $('.descricao').show() : $('.descricao').hide())" type="checkbox" checked /> Descrição</label>&nbsp;&nbsp;&nbsp;
      <label><input id="apresentacoes" onchange="($(this).prop('checked') ? $('.apresentacao').show() : $('.apresentacao').hide())" type="checkbox" checked /> Apresentações</label>&nbsp;&nbsp;&nbsp;
      <label><input id="orientador" onchange="($(this).prop('checked') ? $('.orientador').show() : $('.orientador').hide())" type="checkbox" checked /> Orientador</label>&nbsp;&nbsp;&nbsp;
      <label><input id="estudantes" onchange="($(this).prop('checked') ? $('.estudantes').show() : $('.estudantes').hide())" type="checkbox" checked /> Estudantes</label>&nbsp;&nbsp;&nbsp;
      <label><input id="curso" onchange="($(this).prop('checked') ? $('.curso').show() : $('.curso').hide())" type="checkbox" checked /> Cursos</label>&nbsp;&nbsp;&nbsp;
      <label><input id="organizacao" onchange="($(this).prop('checked') ? $('.organizacao').show() : $('.organizacao').hide())" type="checkbox" checked /> Organização</label>&nbsp;&nbsp;&nbsp;
      <label><input id="website" onchange="($(this).prop('checked') ? $('.website').show() : $('.website').hide())" type="checkbox" checked /> Website</label>&nbsp;&nbsp;&nbsp;
      <label><input id="conexoes" onchange="($(this).prop('checked') ? $('.conexoes').show() : $('.conexoes').hide())" type="checkbox" checked /> Conexões</label>&nbsp;&nbsp;&nbsp;
      <label><input id="papeis" onchange="($(this).prop('checked') ? $('.papeis').show() : $('.papeis').hide())" type="checkbox" checked /> Papéis</label>&nbsp;&nbsp;&nbsp;
      <label><input id="totais" onchange="($(this).prop('checked') ? $('.totais').show() : $('.totais').hide())" type="checkbox" checked /> Totais</label>&nbsp;&nbsp;&nbsp;
      <label><input id="emails" onchange="($(this).prop('checked') ? $('.emails').show() : $('.emails').hide())" type="checkbox" checked /> e-mails</label>&nbsp;&nbsp;&nbsp;
      <label><input id="avancado" onchange="($(this).prop('checked') ? $('.avancado').show() : $('.avancado').hide())" type="checkbox" checked /> Avancados</label>&nbsp;&nbsp;&nbsp;
    </div>
  </span>

  {% comment %} 
  <script>
    $("#informacoes").detach().appendTo("#lateral");
  </script>
  {% endcomment %}

  <br>
  
  {% comment %} Tabela com todos os projetos selecionados pelo filtro {% endcomment %}
  <div class="atualizar m-2">
    
    {% if projetos %}
      <table id="projetos">
      {% for projeto, prioridades, cooperacoes, conexoes in projetos %}
        <tr id="two" class="row {% if projeto.avancado %}avancado{% endif %}" data-type="{{projeto.ano}}.{{projeto.semestre}}">
        <td id="ptd" style="margin-bottom:3em;">
        {% if projeto.avancado %}
          <br><br>
        {% endif %}
        {% if projeto.organizacao %}
          <span class="logo">
            {% if projeto.organizacao.logotipo %}
              <a href="{% url 'organizacao_completo' projeto.organizacao.id %}">
                <img class="logotipo_left" src="{{ projeto.organizacao.logotipo.url }}" alt="{{ projeto.organizacao.sigla }}">
              </a>
            {% endif %}
            {% for conexao in cooperacoes %}
              {% if conexao.parceiro and conexao.parceiro.organizacao and conexao.parceiro.organizacao.logotipo %}
                &nbsp;
                <a href="{% url 'organizacao_completo' conexao.parceiro.organizacao.id %}">
                  <img class="logotipo_left" src="{{ conexao.parceiro.organizacao.logotipo.url }}" alt="{{ conexao.parceiro.organizacao.sigla }}">
                </a>
              {% endif %}
            {% endfor %}
            <br>
          </span>
        {% endif %}

        <b>Projeto:</b>
        <a class="imprimir" target="_blank" rel="noopener noreferrer" href="{% url 'projeto_completo' projeto.id %}" class="dark-blue-bold"> 
          {% if projeto.titulo_final %}
            {{projeto.titulo_final}}<br>
            <small>Título original: {{projeto.titulo}}</small><br>
          {% else %}
            {{projeto.titulo}}<br>
          {% endif %}
        </a>

        <p class="descricao">
          {% if projeto.descricao %}
            <small><b>Descrição projeto:</b> {{projeto.descricao}}</small><br>
          {% else %}
            <small><b>Descrição proposta:</b> {{projeto.proposta.descricao}}</small><br>
          {% endif %}
        </p>

        <p class="apresentacao_organizacao apresentacao">
          {% if projeto.proposta.descricao_organizacao %}
            <small><b>Apresentação da Organizaçã Parceira:</b> {{projeto.proposta.descricao_organizacao}}</small><br>
          {% endif %}
        </p>

        <p class="apresentacao_departamento apresentacao">
          {% if projeto.proposta.departamento %}
            <small><b>Apresentação do Departamento:</b> {{projeto.proposta.departamento}}</small><br>
          {% endif %}
        </p>

        {% if projeto.avancado or projeto.proposta.internacional or projeto.proposta.intercambio %}
          <p style="margin-left:1em;">Tipo:

            {% if projeto.avancado %}
              <font color="red">PFE Avançado</font>
            {% endif %}

            {% if projeto.avancado and projeto.proposta.internacional %}
              /
            {% endif %}

            {% if projeto.proposta.internacional %}
              <font color="red">Internacional</font>
            {% endif %}
            
            {% if projeto.avancado or projeto.proposta.internacional %}
              {% if projeto.proposta.intercambio %}
                /
              {% endif %}
            {% endif %}

            {% if projeto.proposta.intercambio %}
              <font color="red">Intercâmbio</font>
            {% endif %}

            {% if projeto.time_misto %}
              <font color="red">Time Misto</font>
            {% endif %}
      
          </p>
        {% endif %}

        <p class="semestre" style="margin-left:1em; display: none;"><b>Semestre:</b>
          {{projeto.ano}}.{{projeto.semestre}}
        </p>

        <!-- <p style="margin-left:1em;">Edição: {{projeto.ano}}.{{projeto.semestre}}</p> -->
        <p class="orientador" style="margin-left:1em;">
          {% if projeto.orientador %}
            {% if projeto.proposta.intercambio %}
              <b>Professor{% if projeto.orientador.user.genero == 'F' %}a{% endif %} Responsável:</b>
            {% else %}
              <b>Orientador{% if projeto.orientador.user.genero == 'F' %}a{% endif %}:</b>
            {% endif %}
            <a class="imprimir" href="{% url 'professor_detail' projeto.orientador.id %}"> {{projeto.orientador.user.get_full_name}}</a>
            <span class="emails"><a href="mailto:{{projeto.orientador.user.email}}"> &lt;{{projeto.orientador.user.email}}&gt;</a></span>
          {% else %}
            Orientador: Não definido
          {% endif %}
        </p>

        {% with coorientadores=projeto.coorientador_set.all %}
          {% if coorientadores %}
            {% for coorientador in coorientadores %}
              <p class="coorientador" style="margin-left:1em;"><b>Coorientador{% if coorientador.usuario.genero == 'F' %}a{% endif %}:</b>
              <a class="imprimir" href="{% url 'professor_detail' coorientador.usuario.professor.id %}">
                {{ coorientador.usuario.get_full_name }}
              </a>
              <span class="emails"><a href="mailto:{{coorientador.usuario.email}}"> &lt;{{coorientador.usuario.email}}&gt;</a></span>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <p class="estudantes" style="margin-left:1em;"><b>Estudantes:</b>
          <span class="emails esconder"><a href="mailto:{% for alocacao in projeto.alocacao_set.all %}&lt;{{alocacao.aluno.user.email}}&gt;{% if not forloop.last %},{% endif %}{% endfor %}?subject=PFE%20Insper%20-%20Projeto:%20{{projeto}}&body=Caros%20{% for alocacao in projeto.alocacao_set.all %}%20{{alocacao.aluno.user.first_name}},{% endfor %}%0D%0A%0D%0Aatenciosamente,%20Luciano%20P%20Soares%20(coordenação%20PFE)" target="_blank">&#x2709;</a></span>
        </p>
        <ol class="estudantes" style="margin-bottom:5px;">
        {% for aluno,prioridade in prioridades %}
          <li><a class="imprimir" href="{% url 'estudante_detail' aluno.id %}"
              data-toggle="tooltip" data-html="true" animation="true" title="
              {% if prioridade == 0 %}
                opção não definida
              {% else %}
                opção #{{prioridade}}
              {% endif %}">
                {{aluno.user.get_full_name}}
                <span class="curso">[{{ aluno.get_curso_display }}]</span>
              </a>
              {% if aluno.externo %}<span style="color:red">[{{aluno.externo}}]</span>{% endif %}
              <div class="prioridade" style="display: none;">{{prioridade}}</div> <!-- para mostrar no gráfico -->
              <span class="emails"><a href="mailto:{{aluno.user.email}}">&lt;{{aluno.user.email}}&gt;</a></span>
              <!-- &nbsp; { {{ aluno.alocacao_set.first.get_conceito_display }} } -->
          </li>
        {% endfor %}
        </ol>

        <p class="organizacao" style="margin-left:1em;"><b>Organização:</b>
          {% if projeto.organizacao %}
            <a class="imprimir" href="{% url 'organizacao_completo' projeto.organizacao.id %}">
              {{ projeto.organizacao.nome }}
            </a>
            {% if projeto.organizacao.website %}
              <span class="website">
                (<a href="{{projeto.organizacao.website}}"
                    >{{ projeto.organizacao.website }}</a>)
              </span>
            {% endif %}
            {% for cooperacao in cooperacoes %}
              {% if cooperacao.parceiro and cooperacao.parceiro.organizacao %}
                &nbsp;&nbsp;&nbsp;&nbsp;colaboração:
                <a href="{% url 'organizacao_completo' cooperacao.parceiro.organizacao.id %}">
                  {{ cooperacao.parceiro.organizacao.nome }}</a>
                  {% if cooperacao.parceiro.organizacao.website %}
                    <span class="website">
                    (<a href="{{cooperacao.parceiro.organizacao.website}}"
                      >{{ cooperacao.parceiro.organizacao.website }}</a>)
                  {% endif %}
              {% endif %}
            {% endfor %}
          {% else %}
            NÃO DEFINIDA
          {% endif %}

          <span class="emails esconder"><a 
            href="mailto:{% for conexao in conexoes %}&lt;{{conexao.parceiro.user.email}}&gt;{% if not forloop.last %},{% endif %}{% endfor %}?subject=PFE%20Insper%20-%20Projeto:%20{{projeto}}&body=Caros%20{% for conexao in conexoes %}%20{{conexao.parceiro.user.first_name}},{% endfor %}%0D%0A%0D%0Aatenciosamente,%20Luciano%20P%20Soares%20(coordenação%20PFE)" target="_blank">&#x2709;</a></span>
        </p>

        <ol class="conexoes" style="margin-bottom:0px;">
        {% for conexao in conexoes %}
          <li>
          {% if conexao.parceiro.user.is_active %}
            <a class="imprimir" href="{% url 'parceiro_detail' conexao.parceiro.id %}">
              {{ conexao.parceiro.user.get_full_name }}
              <span class="papeis">
                {% if conexao.gestor_responsavel %}
                  [gestor responsavel]
                {% endif %}
                {% if conexao.mentor_tecnico %}
                  [mentoria técnica]
                {% endif %}
                {% if conexao.recursos_humanos %}
                  [recursos humanos]
                {% endif %}
                {% if conexao.colaboracao %}
                  [colaboração]
                {% endif %}
                {% if conexao.observacao %}
                  &nbsp;&nbsp;obs: {{conexao.observacao}}
                {% endif %}
              </span>
            </a>
            <span class="emails"><a href="mailto:{{conexao.parceiro.user.email}}"> &lt;{{conexao.parceiro.user.email}}&gt;</a></span>
          {% else %}
            <a class="imprimir" href="{% url 'parceiro_detail' conexao.parceiro.id %}" style="color: LightBlue;">
              {{ conexao.parceiro.user.get_full_name }}
              <span style="color: lightgrey;">
              {% if conexao.gestor_responsavel %}
                [gestor responsavel]
              {% endif %}
              {% if conexao.mentor_tecnico %}
                [mentoria técnica]
              {% endif %}
              {% if conexao.recursos_humanos %}
                [recursos humanos]
              {% endif %}
              {% if conexao.colaboracao %}
                [colaboração]
              {% endif %}
              {% if conexao.observacao %}
                &nbsp;&nbsp;obs: {{conexao.observacao}}
              {% endif %}
              </span>
            </a>
            <span class="emails"><a href="mailto:{{conexao.parceiro.user.email}}" style="color: LightBlue;"> &lt;{{conexao.parceiro.user.email}}&gt;</a></span>
            <br>
          {% endif %}
          </li>
        {% endfor %}
        </ol>
        </td></tr>
      {% endfor %}
      </table>

      <hr>
      <div class="totais">
        <b>Total de projetos = 
        <span>{{ numero_projetos }}</span>
        </b>
        {% if numero_projetos_avancado > 0 %}
          <span class="avancado">[ +{{ numero_projetos_avancado }} avançado{% if numero_projetos_avancado > 1 %}s{% endif %} ]</span>
        {% endif %}
        {% if projetos_time_misto > 0 %}
          <span class="avancado">[ {{ projetos_time_misto }} time{% if projetos_time_misto > 1 %}s{% endif %} misto{% if projetos_time_misto > 1 %}s{% endif %} ]</span>
        {% endif %}
        <br>

        <b>Total de estudantes =
        <span>{{ numero_estudantes}}</span>
        </b>
        {% if numero_estudantes_avancado > 0 %}
          <span class="avancado"> [ +{{ numero_estudantes_avancado }} avançado{% if numero_estudantes_avancado > 1 %}s{% endif %} ]</span>
        {% endif %}
        {% if numero_estudantes_externos > 0 %}
          <span class="avancado">[ {{ numero_estudantes_externos }} externo{% if numero_estudantes_externos > 1 %}s{% endif %} ]</span>
        {% endif %}
        <br>

      </div>

      <br>

    <br><br>
    
    <script>
      var count_projects = 0;
      var count_alunos = 0;
      var prioridade1 = 0;
      var prioridade2 = 0;
      var prioridade3 = 0;
      var prioridade4 = 0;
      var prioridade5 = 0;
      var prioridade6m = 0;
      var nao_definido = 0;
    </script>

    <script>

      function filtra_data() {  // REFERENTE AO SELETOR DE DATAS

        count_projects = 0;
        count_alunos = 0;
        prioridade1 = 0;
        prioridade2 = 0;
        prioridade3 = 0;
        prioridade4 = 0;
        prioridade5 = 0;
        prioridade6m = 0;
        nao_definido = 0;

        var row = $('.row'); 
        row.each(function(i, el) {

          count_projects = count_projects + 1;
          var alunos = $(el).find("TD").find("OL");
          count_alunos = count_alunos + alunos.children().length;

          $.each(alunos.children('li'), function() {
            var target = $(this)
            data = $(target).find('div.prioridade').text();
            if(data == 1) {prioridade1 += 1;}
            else if(data == 2) {prioridade2 += 1;}
            else if(data == 3) {prioridade3 += 1;}
            else if(data == 4) {prioridade4 += 1;}
            else if(data == 5) {prioridade5 += 1;}
            else if(data > 5) {prioridade6m += 1;}
            else {nao_definido +=1;}
          });

        });

      }

      ($('#logo').prop('checked') ? $('.logo').show() : $('.logo').hide());
      ($('#descricao').prop('checked') ? $('.descricao').show() : $('.descricao').hide());
      ($('#organizacao').prop('checked') ? $('.organizacao').show() : $('.organizacao').hide());
      ($('#orientador').prop('checked') ? $('.orientador').show() : $('.orientador').hide());
      ($('#estudantes').prop('checked') ? $('.estudantes').show() : $('.estudantes').hide());
      ($('#totais').prop('checked') ? $('.totais').show() : $('.totais').hide());

      {% comment %} // Só mostra informação de semestre se edição é todas {% endcomment %}
      ($("#filterEdicao option:selected").attr("value") == "todas" ? $('.semestre').show() : $('.semestre').hide());

    </script>

    <script>
      filtra_data();
    </script>

    {% endif %}

    <script>
      function carrega_pagina() {};
      $(document).ready(carrega_pagina);
    </script>
    
  </div>
  <p>&nbsp;</p>

  {% with com_cursos=True %}
      {% include "edicoes_ajax.html" %}
  {% endwith %}

{% endblock %}