{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 22 de Setembro de 2020
{% endcomment %}

{% block head %}

  {% load static %}
  
  <script src="{% static 'js/w3.js' %}"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

{% endblock %}

{% block content %}
    <span class="titulo">Projetos vs Propostas</span>
    <br>
    <div class="2areas2">

    <div id="canvas-holder">
        <canvas id="bar-projetos"></canvas>
        <br><br>
    </div>
    </div>

    <script>
    
        var config_projetos = {
            type: 'bar',
            data: {
            labels: [
                {% for loop in loop_anos %}
                "{{loop}}.2",
                "{{loop|add:1}}.1",
                {% endfor %}
                ],
            datasets: [
                {
                label: "propostas",
                backgroundColor: "#5e8ea2",
                data: [
                        {% for num in num_propostas %}
                            {{num}},
                        {% endfor %}
                    ]
                }, 
                {
                label: "projetos",
                backgroundColor: "#353ecd",
                data: [
                        {% for num in num_projetos %}
                            {{num}},
                        {% endfor %}
                    ]
                }, 
            ]
            },
            options: {
            legend: { display: true },
            title: {
                display: true,
                text: 'Propostas e Projetos'
            }
            }
        };

        function carrega_semestre() {  
        // Chart da quantidade de projetos
        var bar_projetos = document.getElementById('bar-projetos').getContext('2d');
        window.projeto = new Chart(bar_projetos, config_projetos);
        }

        window.onload = carrega_semestre
    
    </script>


{% endblock %}