{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  
  {% load static %}
  {% load bleach %}
  {% load addhttp %}
  {% load linguas %}

{% endblock %}

{% block content %}
  
  <strong>
    {% lng "Título:" "Title:" %}
  </strong>
  {% if projeto.titulo_final and projeto.titulo_final != projeto.proposta.titulo %}
    {{projeto.titulo_final}}<br>
    <small style="display: inline-block; padding-left: 0.7em;">
      {% lng "Título original da proposta:" "Original title of the proposal:" %}
      {{projeto.proposta.titulo}}</small><br>
  {% else %}
    {{projeto.get_titulo}}
  {% endif %}<br>

  <strong>
    {% lng "Semestre:" "Semester:" %}
  </strong> {{projeto.ano}}.{{projeto.semestre}}<br>

  {% include "tipo_projeto.html" with com_tipo=True %}

  {% if projeto.resumo %}
    <br><div class="resumo" style="margin-top: 8px;">
      <strong>Resumo do Projeto:</strong>
      {{ projeto.resumo|linebreaks }}
    </div>
  {% endif %}

  {% if projeto.abstract %}
    <br><div class="abstract" style="margin-top: 8px;">
      <strong>
        {% lng "Resumo em Inglês do Projeto:" "Project Abstract:" %}
      </strong>
      {{ projeto.abstract|linebreaks }}
    </div>
  {% endif %}

  {% if projeto.palavras_chave %}
    <br><div class="palavras_chave" style="margin-top: 8px;">
      <strong>
        {% lng "Palavras-chave:" "Keywords:" %}
      </strong>
      {{ projeto.palavras_chave|linebreaks }}
    </div>
  {% endif %}

  {% with site=projeto.get_site %}
  {% if site %}
    <br><br>
    <h4>Site:</h4>
    &#127760; <a href="{{site}}" target="_blank">{{request.scheme}}://{{request.get_host}}{{site}}</a>
  {% endif %}
  {% endwith %}
  
  {% if projeto.pastas_do_projeto %}
    <br><br>
    <h4>
      {% lng "Pastas do projeto:" "Project repositories:" %}
    </h4>
    <div style="display: flex; align-items: flex-start;">
      <div>&#128193;&nbsp;</div>
      <div>
        {{projeto.pastas_do_projeto|linebreaks|bleach_urlize|safe}}
      </div>
    </div>
  {% endif %}

  <hr>

  {% if projeto.organizacao.logotipo %}
    <img id="logotipo" class="logotipo flutua_dir" src="{{ projeto.organizacao.logotipo.url }}" alt="{{ projeto.organizacao.sigla }}">
  {% endif %}

  <h4 data-toggle="tooltip" data-html="true" animation="true" title="
     Nome da organização/empresa que está propondo o projeto.
    ">
    {% lng "Organização:" "Organization:" %}
    {% if projeto.organizacao and projeto.organizacao.nome %}
      {{projeto.organizacao.nome}}
    {% elif projeto.proposta.nome_organizacao %}
      {{projeto.proposta.nome_organizacao}}
    {% else %}
      <u>Organização não definida.</u>
    {% endif %}
    <br>
  </h4>
  
  <p>
    {% if projeto.organizacao and projeto.organizacao.endereco %}
      <strong data-toggle="tooltip" data-html="true" animation="true" title="Endereço da matriz da organização parceira.">
        {% lng "Endereço Matriz:" "Headquarters Address:" %}
      </strong>
      <a style="display: inline-block; padding-left: 0.7em;" 
         href="http://maps.google.com/maps?q={{proposta.organizacao.endereco}}">
        {{projeto.organizacao.endereco|linebreaks}}
      </a>
    {% elif projeto.proposta.endereco %}
      <strong data-toggle="tooltip" data-html="true" animation="true" title="Endereço para desenvolver o projeto.">
        {% lng "Endereço Local:" "Local Address:" %}
      </strong>
      <a style="display: inline-block; padding-left: 0.7em;" 
         href="http://maps.google.com/maps?q={{proposta.endereco}}">
        {{projeto.proposta.endereco|linebreaks}}
      </a>
    {% else %}
      <u>não definido.</u>
    {% endif %}
    <br>
  </p>

  <p>
    <strong data-toggle="tooltip" data-html="true" animation="true" title="
     Site da organização e/ou projeto.
    ">
    website:
    </strong>
    {% if projeto.organizacao and projeto.organizacao.website %}
      <a href="{{projeto.organizacao.website|add_http}}">{{projeto.organizacao.website}}</a>
    {% elif projeto.proposta and projeto.proposta.website %}
      <a href="{{projeto.proposta.website|add_http}}">{{projeto.proposta.website}}</a>
    {% else %}
      <u>não definido.</u>
    {% endif %}
    <br><br>
  </p>

  {% if projeto.proposta.descricao %}
    <p>
      <strong data-toggle="tooltip" data-html="true" animation="true" title="Uma breve descrição do que se trata o projeto e outras informações relevantes.">
        {% lng "Descrição da proposta:" "Proposal Description:" %}
      </strong>
      {{projeto.proposta.descricao|linebreaks|bleach_urlize|safe}}<br>
    </p>
  {% else %}
    <p><u>Campo de descrição ausente.<u><br></p>
    <!-- Campo deveria ser obrigatório -->
  {% endif %}

  {% if projeto.proposta.expectativas %}
    <p>
      <strong data-toggle="tooltip" data-html="true" animation="true" title="
      Exemplos de resultados ou entregas esperadas.
      Durante o projeto isso deverá ser dicutido com a organização parceira e com os professores orientadores para um melhor alinhamento.
      Independente do que as organizações sugerirem nesse campo, existem uma série de relatórios, apresentações, vídeos e outros materiais como obrigatórios no Capstone.">
        {% lng "Expectativas de resultados/entregas:" "Expected results/deliverables:" %}
      </strong>
      {{projeto.proposta.expectativas|linebreaks|bleach_urlize|safe}}<br>
    <p>
  {% else %}
    <p><u>Campo de expectativas ausente.<u><br></p>
    <!-- Campo deveria ser obrigatório -->
  {% endif %}

  {% if projeto.proposta.recursos %}
    <p>
      <strong data-toggle="tooltip" data-html="true" animation="true" title="
      Recursos que as organizações informaram que irão disponibilizar para os estudantes.
      O Capstone irá auxiliar em um acesso facilitado para os diversos laboratórios da escola conforme sua disponibilidade.
      Não existe nenhuma garantia que o Capstone irá suprir material de consumo para os estudantes, em geral não há recursos para isso.">
        {% lng "Recursos a serem disponibilizados:" "Resources to be provided:" %}
      </strong>
      {{projeto.proposta.recursos|linebreaks|bleach_urlize|safe}}<br>
    </p>
  {% endif %}

  {% if projeto.proposta.observacoes %}
    <p>
      <strong data-toggle="tooltip" data-html="true" animation="true" title="Outras observações que a organização parceira considerou relevante para informar aos estudantes.">
        {% lng "Outras observações:" "Other observations:" %}
      </strong>
      {{proposta.observacoes|linebreaks|bleach_urlize|safe}}<br>
    </p>
  {% endif %}

  {% if projeto.proposta.anexo %}
    <p>
      <strong>
        {% lng "Anexo:" "Attachment:" %}
      </strong>
      <a class="text-success" href="{{request.scheme}}://{{request.get_host}}{{projeto.proposta.anexo.url}}">{{projeto.proposta.anexo}}</a>
    </p><br>
  {% endif %}

  <!-- Campo opcional -->
  {% if projeto.organizacao and projeto.organizacao.informacoes %}
    <p><strong>
      {% lng "Informações sobre a empresa:" "Information about the company:" %}
    </strong>
    {{projeto.organizacao.informacoes|linebreaks|bleach_urlize|safe}}
    <br></p>
  {% elif projeto.proposta and projeto.proposta.descricao_organizacao %}
    <p><strong>
      {% lng "Informações sobre a empresa:" "Information about the company:" %}
    </strong>
    {{projeto.proposta.descricao_organizacao|linebreaks|bleach_urlize|safe}}
    <br></p>
  {% endif %}

  <!-- Campo opcional -->
  {% if projeto.proposta.departamento %}
    <p><strong>
      {% lng "Informações sobre o departamento na organização:" "Information about the department in the organization:" %}
    </strong>
    {{projeto.proposta.departamento|linebreaks|bleach_urlize|safe}}<br></p>
  {% endif %}

{% endblock %}
