{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% extends "base.html" %}

{% block content %}
  <h1>Título: {{ projeto.titulo }}</h1>
  <strong>Descrição:</strong> {{ projeto.descricao|linebreaks }}
  <strong>Expectativas de resultados/entregas :</strong> {{ projeto.expectativas|linebreaks }}
  <strong>Áreas da engenharia envolvidas no projeto :</strong> {{ projeto.areas|linebreaks }}
  <strong>Recursos a serem disponibilizados aos Alunos :</strong> {{ projeto.recursos|linebreaks }}
  <p>&nbsp;</p>
  <h3>Empresa: {{ projeto.empresa }}</h3>
  <strong>endereço:</strong> {{ projeto.empresa.endereco|linebreaks }}
  <strong>website:</strong> <a href="{{ projeto.empresa.website }}"> {{ projeto.empresa.website }} </a>
  <p>&nbsp;</p>
{% endblock %}

  <!--
  <div style="margin-left:20px;margin-top:20px">
    <h4>Alunos</h4>
    {% for opcao in projeto.opcao_set.all %}
      <hr>
      <p><strong>Nome:</strong> {{opcao.aluno.nome_completo}}</p>
      <p>Razao:{{opcao.razao}} {{opcao.aluno.curso}}</p>
      <p class="{% if opcao.aluno.curso == 'C' %}text-success{% elif opcao.aluno.curso == 'M' %}text-danger{% else %}text-warning{% endif %}">CURSO: {{ opcao.aluno.get_curso_display }}</p>
      <p class="text-muted"><strong>Id:</strong> {{opcao.id}}</p>
    {% endfor %}
  -->