{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 22 de Setembro de 2020
{% endcomment %}

{% block head %}

  {% load static %}
  
  <script src="{% static 'js/w3.js' %}"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

{% endblock %}

{% block content %}
    <span class="titulo">
        {% if lingua == "pt" %}
            Organizações, Projetos e Propostas
        {% else %}
            Organizations, Projects e Proposals
        {% endif %}
    </span>
    

    

    <div class="2areas2">

        <div id="canvas-holder">

            <canvas id="bar-projetos"></canvas>
            <small>
                {% if lingua == "pt" %}
                    <p>Recebemos <b>{{total_propostas}}</b> propostas de projetos no total.</p>
                    <p>Realizados <b>{{total_projetos}}</b> projetos no total.</p>
                {% else %}
                    <p>Received <b>{{total_propostas}}</b> project proposals.</p>
                    <p>Carried out <b>{{total_projetos}}</b> projects.</p>
                {% endif %}
            </small>
            <br>

            <canvas id="bar-organizacoes"></canvas>
            <small>
                {% if lingua == "pt" %}
                    <p>Recebemos propostas de <b>{{total_org_propostas}}</b> organizações distintas.</p>
                    <p>Realizados projetos com <b>{{total_org_projetos}}</b> organizações distintas.</p>
                    <p>Dados de prospecção até 2019.2 estão incompletos.</p>
                {% else %}
                    <p>Proposals received from <b>{{total_org_propostas}}</b> differente organizations.</p>
                    <p>Projects carried out from  <b>{{total_org_projetos}}</b> different organizations.</p>
                    <p>Information about prospection until 2019.2 is incomplete.</p>
                {% endif %}

                
            </small>
            <br><br>

        </div>

    </div>

    <script>
    
        var config_projetos = {
            type: 'bar',
            data: {
            labels: [
                {% for edicao in edicoes %}
                    "{{edicao}}",
                {% endfor %}
                ],
            datasets: [
                {
                    label: "{% if lingua == 'pt' %}propostas{% else %}proposals{% endif %}",
                    backgroundColor: "#8ebed2",
                    data: [
                            {% for num in num_propostas %}
                                {{num}},
                            {% endfor %}
                        ]
                }, 
                {
                    label: "{% if lingua == 'pt' %}projetos{% else %}projects{% endif %}",
                    backgroundColor: "#656efd",
                    data: [
                            {% for num in num_projetos %}
                                {{num}},
                            {% endfor %}
                        ]
                }, 
            ]
            },
            options: {
                legend: { display: true },
                title: {
                    display: true,
                    text: "{% if lingua == 'pt' %}Propostas e Projetos{% else %}Proposals and Projects{% endif %}",

                },
                plugins: {
                    datalabels: {
                        color: '#000000'
                    }
                }
            }
        };

        var config_organizacoes = {
            type: 'bar',
            data: {
            labels: [
                {% for edicao in edicoes %}
                    "{{edicao}}",
                {% endfor %}
                ],
            datasets: [
                {
                    label: "{% if lingua == 'pt' %}prospectadas (semestre anterior){% else %}prospected (previous semester){% endif %}",
                    backgroundColor: "#ffe0f0",
                    data: [
                            {% for num in org_prospectadas %}
                                {{num}},
                            {% endfor %}
                        ]
                }, 
                {
                    label: "{% if lingua == 'pt' %}com propostas{% else %}with proposals{% endif %}",
                    backgroundColor: "#e56883",
                    data: [
                            {% for num in org_propostas %}
                                {{num}},
                            {% endfor %}
                        ]
                },
                {
                    label: "{% if lingua == 'pt' %}com projetos{% else %}with projects{% endif %}",
                    backgroundColor: "#f84359",
                    data: [
                            {% for num in org_projetos %}
                                {{num}},
                            {% endfor %}
                        ]
                },
            ]
            },
            options: {
                legend: { display: true },
                title: {
                    display: true,
                    text: "{% if lingua == 'pt' %}Organizações Envolvidas{% else %}Organizations Involved{% endif %}",
                },
                plugins: {
                    datalabels: {
                        color: '#000000',
                        font: function(context) {
                            var width = context.chart.width;
                            var size = Math.round(width / 45);

                            return {
                                size: size
                            };
                        }
                    },
                    
                }
            }
        };


        function carrega_semestre() {  
            // Chart da quantidade de projetos
            var bar_projetos = document.getElementById('bar-projetos').getContext('2d');
            window.projeto = new Chart(bar_projetos, config_projetos);

            // Chart da quantidade de organizacoes
            var bar_organizacoes = document.getElementById('bar-organizacoes').getContext('2d');
            window.organizacoes = new Chart(bar_organizacoes, config_organizacoes);
        }

        window.onload = carrega_semestre
    
    </script>


{% endblock %}