{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}


{% load coeficiente_rendimento %}
{% load linguas %}
{% load static %}

{% block head %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}
  {% include "edicoes.html" with com_cursos=True com_externos=True avancados=True %}
  <div id="atualizar">
    {% include "tabelas_top_ml.html" with tabela="Projetos" cabecalhos=cabecalhos %}
      {% for projeto in projetos %}
        {% with estudantes=projeto.alocacao_set.all %}
          {% if estudantes.count > 0 %}
            <tr class="item">
              <th scope="row" data-order="{{projeto.get_titulo}}">
                {% include "projetos/includes/bloco_projeto.html" with projeto=projeto tit_proposta=True %}
              </th>
              <td>{% include "estudantes/includes/bloco_estudantes.html" with grupo=estudantes %}</td>
              <td style="text-align: right;">{% with val=estudantes|media_crs %}
                {{val.0|floatformat:2 }}&plusmn;{{val.1|floatformat:2 }}
                {% endwith %}
              </td>
              <td class="text-center">{{projeto.get_edicao}}</td>
              <td>{% include "academica/includes/bloco_orientador.html" with orientador=projeto.orientador %}</td>
              <td>{% include "organizacoes/includes/bloco_organizacao.html" with organizacao=projeto.organizacao %}</td>
            </tr>
          {% endif %}
        {% endwith %}
      {% endfor %}     
    {% include "tabelas_bottom.html" %}
  
    {% if projetos.count > 0 %}
      <div class="mt-2">
        <h5>{% lng "Quantidade de projetos" "Number of projects" %}</h5>
        <div class="table-responsive">
          <table id="NumeroProjetosTable" class="table-bordered table-sm">
            <thead class="table-info">
              <tr>
                  <th class="text-center" style="border-right: solid 3px;">{% lng "Período" "Semester" %}</th>
                  <th class="text-center" style="border-left: solid 3px;">{% lng "Projetos" "Projects" %}</th>
              </tr>
            </thead>
            <tbody>
              {% regroup projetos by get_edicao as projetos_por_semestre %}
              {% for grupo in projetos_por_semestre %}
                <tr class="item">
                  <td class="text-center" style="border-right: solid 3px;">
                    {{ grupo.grouper }}
                  </td>
                  <td class="text-center">
                    {{ grupo.list|length }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              {% if ano == 0 or semestre == 0 %}
                <tr class="item">
                  <td class="text-center" style="border-right: solid 3px; border-top: double;">
                    {% lng "Totais" "Totals" %}
                  </td>
                  <td class="text-center" style="border-top: double;">
                    {{projetos.count}}
                  </td>
                </tr>
              {% endif %}
            </tfoot>
          </table>
        </div>
      </div>
    {% endif %}

  </div>
  
  <script>
    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
    };
    window.onload = carrega_site
  </script>
  {% include "edicoes_ajax.html" with tabela="Projetos" com_cursos=True avancados=True %}
{% endblock %}
