{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Dezembro de 2020
{% endcomment %}

{% load linguas %}

<a href="{% url 'projetos_fechados' %}">
  <span lang="pt">Listagem Geral</span>
  <span lang="en" style="display: none;">General Listing</span>
</a>
<br><br>

<h5>
  <span lang="pt">Análises</span>
  <span lang="en" style="display: none;">Analyses</span>
</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'projetos_vs_propostas' %}">
  <span lang="pt"> Organizações, Projetos e Propostas</span>
  <span lang="en" style="display: none;">Organizations, Projects and Proposals</span>
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'interesses_projetos' %}">
  <span lang="pt">Interesses com Projetos</span>
  <span lang="en" style="display: none;">Interests with Projects</span>
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'filtro_projetos' %}">
  <span lang="pt">Filtro para Projetos</span>
  <span lang="en" style="display: none;">Projects Filter</span>
</a></div>
