{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}
    <h3>Projetos Disponíveis</h3>

    {% if projeto_list %}
      <form action="{% url 'selecao' %}" method="post"> {% csrf_token %}
        <table>
        {% for projeto in projeto_list %} 
        <tr class="{% if not projeto.disponivel %}text-danger{% endif %}">
          <td>&nbsp;<input type="checkbox" name="selection" value="{{projeto.id}}" 
            {% if projeto.pk in opcoes_list %}checked{% endif %}>&nbsp;</td>
          <td>
            
            <a href="{% url 'projeto' projeto.id %}"> {{projeto.titulo}} ({{ projeto.empresa.nome_empresa }}) </a>
          </td>
        </tr>
        {% endfor %}
        </table>
        <p>&nbsp;</p>

        <input type="submit" value="Enviar">
        Selecione pelo menos 5 projetos
      </form>
    {% else %}
      <p>Não existem projetos disponíveis.</p>
    {% endif %}

{% endblock %}