{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}
  <h3>Título: {{ projeto.titulo }}</h3>
  <strong>Descrição:</strong> {{ projeto.descricao|linebreaks }}
  <strong>Expectativas de resultados/entregas :</strong> {{ projeto.expectativas|linebreaks }}
  <strong>Áreas da engenharia envolvidas no projeto (habilidade necessárias):</strong> {{ projeto.areas|linebreaks }}
  <strong>Recursos a serem disponibilizados aos Alunos :</strong> {{ projeto.recursos|linebreaks }}
  <hr>

  <h3>Empresa: {{ projeto.empresa.nome_empresa }}</h3>
  <strong>endereço:</strong> {{ projeto.empresa.endereco|linebreaks }}
  <strong>website:</strong> <a href="{{ projeto.empresa.website }}"> {{ projeto.empresa.website }} </a>
  <hr>

  <h3>Peril de Alunos Desejados para Projeto</h3>
  <table>
    <tr>
        <th>
            Aluno
        </th>
        <th>
            Computação
        </th>
        <th>
            Mecânica
        </th>
        <th>
            Mecatrônica
        </th>
    </tr>
      <tr>
        <td>Aluno 1</td>
        <td><input type="checkbox" name="comp1"></td>
        <td><input type="checkbox" name="mec1"></td>
        <td><input type="checkbox" name="mxt1"></td>
        <!-- <td>&nbsp;<input type="checkbox" name="selection" value="{{projeto.id}}" 
          {% if projeto.pk in opcoes_list %}checked{% endif %}>&nbsp;</td> -->
      </tr>
      <tr>
      <td>Aluno 2</td>
      <td><input type="checkbox" name="comp2"></td>
      <td><input type="checkbox" name="mec2"></td>
      <td><input type="checkbox" name="mxt2"></td>
      </tr>
      <tr>
          <td>Aluno 3</td>
          <td><input type="checkbox" name="comp3"></td>
          <td><input type="checkbox" name="mec3"></td>
          <td><input type="checkbox" name="mxt3"></td>
        </tr>
        <tr>
          <td>Aluno 4</td>
          <td><input type="checkbox" name="comp4"></td>
          <td><input type="checkbox" name="mec4"></td>
          <td><input type="checkbox" name="mxt4"></td>
        </tr>
      </table>
      <br><hr>

  <h3>Disciplina Relacionadas</h3>
  <table>
      <tr>
          <th>
              Disciplina
          </th>
          <th>
              Semestre
          </th>
      </tr>
        <tr>
          <td>Machine Learning</td>
          <td>eletiva</td>
        </tr>
        <tr>
            <td>Robótica e Automação Industrial</td>
            <td>eletiva</td>
          </tr>
        </table>
        <br><hr>

  <h3>Alunos Aplicando para o Projeto</h3>
  {% for opcao in projeto.opcao_set.all %}
    {% if configuracao.ano == opcao.aluno.anoPFE and configuracao.semestre == opcao.aluno.semestrePFE %}
      <p>{{opcao.aluno.user.first_name}} [{{ opcao.aluno.get_curso_display }}]&nbsp;=>&nbsp;prioridade #{{opcao.prioridade}}&nbsp;|&nbsp;{ {{opcao.aluno.anoPFE}}.{{opcao.aluno.semestrePFE}} } </p>
    {% endif %}
  {% endfor %}
  {% for opcao in projeto.opcao_set.all %}
    {% if configuracao.ano != opcao.aluno.anoPFE or configuracao.semestre != opcao.aluno.semestrePFE %}
      <p class="red-bold">{{opcao.aluno.user.first_name}} [{{ opcao.aluno.get_curso_display }}]&nbsp;=>&nbsp;prioridade #{{opcao.prioridade}}&nbsp;|&nbsp;{ {{opcao.aluno.anoPFE}}.{{opcao.aluno.semestrePFE}} } </p>
    {% endif %}
  {% endfor %}


{% endblock %}