{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 21 de Junho de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load zip_data %}
  <link rel="stylesheet" href="{% static 'css/short_full.css' %}">
  <script src="{% static 'js/Chart.min.js' %}"/></script>

  <style>
    .prioridade {display: inline}

    .logotipo_left {
      max-height:64px;
      max-width:128px;
      height:auto;
      width:auto;
      margin-bottom: 4px;
    }

    .projline {
      margin-bottom:2em;
      border-width: 1px;
      padding:8px;
      border-radius: 18px;
      border-style: solid;
      border-color: LightGray;
      width: 100%;
    }

    .appres_projeto {
      font-size: 0.9em;
      line-height: 1.2;
      margin-bottom: 0.3em;
    }

    .pess_proj {margin-left:0.5em;}
    ol {padding-left: 28px;}
  </style>

{% endblock %}

{% block content %}
  {% include "impressora.html" %}
  <span class="titulo">{{ titulo }}</span>
  {% include "edicoes.html" with com_cursos=True com_externos=True%}
  {% include "informacoes.html" %}
  <br>
  
  {% comment %} Tabela com todos os projetos selecionados pelo filtro {% endcomment %}
  <div class="atualizar">
    
    {% if projetos %}
      <table id="projetos">
      {% for projeto, prioridades, cooperacoes, conexoes, qtd_est in projetos %}
        <tr class="row no-gutters {% if projeto.avancado %}avancado{% endif %}" data-type="{{projeto.ano}}.{{projeto.semestre}}"
            {% if qtd_est == 0 %}style="opacity: 0.3;"{% endif %} >
        <td class="projline">
        {% if projeto.organizacao %}
          <span class="logo">
            <a href="{% url 'organizacao_completo' projeto.organizacao.id %}"> 
              <img class="logotipo_left" {% if projeto.organizacao.logotipo %}src="{{ projeto.organizacao.logotipo.url }}"{% endif %} alt="{{ projeto.organizacao.sigla }}">
            </a>
            {% for conexao in cooperacoes %}
              {% if conexao.parceiro and conexao.parceiro.organizacao and conexao.parceiro.organizacao.logotipo %}
                &nbsp;
                <a href="{% url 'organizacao_completo' conexao.parceiro.organizacao.id %}">
                  <img class="logotipo_left" src="{{ conexao.parceiro.organizacao.logotipo.url }}" alt="{{ conexao.parceiro.organizacao.sigla }}">
                </a>
              {% endif %}
            {% endfor %}
            <br>
          </span>
        {% endif %}

        <div><b>Projeto:</b>
        <a class="imprimir dark-blue-bold" target="_blank" rel="noopener noreferrer" href="{% url 'projeto_completo' projeto.id %}"> 
          {% if projeto.titulo_final and projeto.titulo_final != projeto.proposta.titulo %}
            {{projeto.titulo_final}}</a></div>
            <small class="titulo_original" style="display: block;">Título original da proposta: 
            <a class="imprimir dark-blue-bold" target="_blank" rel="noopener noreferrer" href="{% url 'projeto_completo' projeto.id %}"> {{projeto.proposta.titulo}}</a></small>
          {% else %}
            {{projeto.get_titulo}}</a></div>
          {% endif %}
        
        {% if projeto.resumo %}
          <div class="resumo appres_projeto" style="margin-top: 6px;"><b>Resumo:</b> {{projeto.resumo}}</div>
        {% endif %}

        {% if projeto.abstract %}
          <div class="abstract appres_projeto" style="margin-top: 6px;"><b>Abstract:</b> {{projeto.abstract}}</div>
        {% endif %}

        {% if projeto.palavras_chave %}
          <div class="palavras_chave appres_projeto" style="margin-top: 6px;"><b>Palavras-chave:</b> {{projeto.palavras_chave}}</div>
        {% endif %}

        {% if projeto.proposta.descricao %}
          <div class="descricao appres_projeto" style="margin-top: 6px;"><b>Descrição da proposta de projeto:</b> {{projeto.proposta.descricao}}</div>
        {% endif %}

        {% if projeto.proposta.descricao_organizacao %}
          <div class="apresentacao_organizacao apresentacao appres_projeto"><b>Apresentação da Organizaçã Parceira:</b> {{projeto.proposta.descricao_organizacao}}</div>
        {% endif %}

        {% if projeto.proposta.departamento %}
          <div class="apresentacao_departamento apresentacao appres_projeto"><b>Apresentação do Departamento:</b> {{projeto.proposta.departamento}}</div>
        {% endif %}

        {% include "tipo_projeto.html" with com_tipo=True %}

        <p class="semestre pess_proj" style="display: none;"><b>Semestre:</b>
          {{projeto.ano}}.{{projeto.semestre}}
        </p>

        <p class="orientador pess_proj">
          {% if projeto.orientador %}
            {% if projeto.proposta.intercambio %}
              <b>Professor{% if projeto.orientador.user.genero == 'F' %}a{% endif %} Responsável:</b>
            {% else %}
              <b>Orientador{% if projeto.orientador.user.genero == 'F' %}a{% endif %}:</b>
            {% endif %}
            <a class="imprimir" href="{% url 'professor_detail' projeto.orientador.id %}"> {{projeto.orientador.user.get_full_name}}</a>
            <span class="opt_full emails"><a href="mailto:{{projeto.orientador.user.email}}">&lt;{{projeto.orientador.user.email}}&gt;</a></span>
            <span class="opt_short emails"><a href="mailto:{{projeto.orientador.user.email}}"><i class="far fa-envelope"></i></a></span>
          {% else %}
            Orientador: Não definido
          {% endif %}
        </p>

        {% with coorientadores=projeto.coorientador_set.all %}
          {% if coorientadores %}
            {% for coorientador in coorientadores %}
              <p class="coorientador pess_proj"><b>Coorientador{% if coorientador.usuario.genero == 'F' %}a{% endif %}:</b>
              <a class="imprimir" href="{% url 'professor_detail' coorientador.usuario.professor.id %}">
                {{ coorientador.usuario.get_full_name }}
              </a>
              <span class="opt_full emails"><a href="mailto:{{coorientador.usuario.email}}">&lt;{{coorientador.usuario.email}}&gt;</a></span>
              <span class="opt_short emails"><a href="mailto:{{coorientador.usuario.email}}"><i class="far fa-envelope"></i></a></span>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <p class="estudantes pess_proj"><b>Estudantes:</b>
            {% with alocacoes=projeto.alocacao_set.all %}{% if alocacoes %}
              <span class="emails esconder">
                <a href="mailto:{% for alocacao in alocacoes %}{{alocacao.aluno.user.email}}{% if not forloop.last %},{% endif %}{% endfor %}?subject=Capstone%20Insper%20-%20Projeto:%20{{projeto}}&body=Caro{% if alocacoes|length > 1 %}s{% endif %}%20{% for alocacao in alocacoes %}{% if not forloop.first %}{% if forloop.last %}%20e{% else %},{% endif %}%20{% endif %}{{alocacao.aluno.user.get_full_name}}{% endfor %},%0D%0A%0D%0Aatenciosamente,%20{{configuracao.coordenacao.coordenador_email}}%20(coordenação%20PFE)" target="_blank">
                  <i class="fas fa-mail-bulk"></i>
                </a>
              </span>
            {% endif %}{% endwith %}
          </p>
        <ol class="estudantes" style="margin-bottom:5px;">
        {% for aluno,prioridade in prioridades %}
          <li><a class="imprimir" href="{% url 'estudante_detail' aluno.id %}"
              data-toggle="tooltip" data-html="true" animation="true" title="
              {% if prioridade == 0 %}
                opção não definida
              {% else %}
                opção #{{prioridade}}
              {% endif %}">
                {{aluno.user.get_full_name}}
                <span class="curso">
                  <span class="opt_full">[{{ aluno.curso2 }}]</span>
                  <span class="opt_short">[{{ aluno.curso2.sigla_curta }}]</span>
                </span>
              </a>
              {% if aluno.externo %}<span style="color:red">[{{aluno.externo}}]</span>{% endif %}
              <div class="prioridade" style="display: none;">{{prioridade}}</div> <!-- para mostrar no gráfico -->
              <span class="opt_full emails"><a href="mailto:{{aluno.user.email}}">&lt;{{aluno.user.email}}&gt;</a></span>
              <span class="opt_short emails"><a href="mailto:{{aluno.user.email}}"><i class="far fa-envelope"></i></a></span>
          </li>
        {% endfor %}
        </ol>

        <p class="organizacao pess_proj"><b>Organização:</b>
          {% if projeto.organizacao %}
            <a class="imprimir" href="{% url 'organizacao_completo' projeto.organizacao.id %}">
              {{ projeto.organizacao.nome }}
            </a>
            {% if projeto.organizacao.website %}
            <span class="opt_full website">(<a href="{{projeto.organizacao.website}}"
              >{{ projeto.organizacao.website }}</a>)</a></span>
            <span class="opt_short website"><a href="{{projeto.organizacao.website}}"
              ><i class="fas fa-link"></i></a></span>
            {% endif %}
            {% for cooperacao in cooperacoes %}
              {% if cooperacao.parceiro and cooperacao.parceiro.organizacao %}
                &nbsp;&nbsp;&nbsp;&nbsp;colaboração:
                <a href="{% url 'organizacao_completo' cooperacao.parceiro.organizacao.id %}">
                  {{ cooperacao.parceiro.organizacao.nome }}</a>
                  {% if cooperacao.parceiro.organizacao.website %}
                  <span class="opt_full website">(<a href="{{cooperacao.parceiro.organizacao.website}}"
                    >{{ cooperacao.parceiro.organizacao.website }}</a>)</a></span>
                  <span class="opt_short website"><a href="{{cooperacao.parceiro.organizacao.website}}"
                    ><i class="fas fa-link"></i></a></span>
                  {% endif %}
              {% endif %}
            {% endfor %}
          {% else %}
            NÃO DEFINIDA
          {% endif %}

          {% if conexoes %}
          <span class="emails esconder"><a 
            href="mailto:{% for conexao in conexoes %}{{conexao.parceiro.user.email}}{% if not forloop.last %},{% endif %}{% endfor %}?subject=Capstone%20Insper%20-%20Projeto:%20{{projeto}}&body=Caro{% if conexoes|length > 1 %}s{% endif %}%20{% for conexao in conexoes %}{% if not forloop.first %}{% if forloop.last %}%20e{% else %},{% endif %}%20{% endif %}{{conexao.parceiro.user.get_full_name}}{% endfor %},%0D%0A%0D%0Aatenciosamente,%20{{configuracao.coordenacao.coordenador_email}}%20(coordenação%20PFE)" target="_blank"><i class="fas fa-mail-bulk"></i></a></span>
          {% endif %}
          </p>

        <ol class="conexoes" style="margin-bottom:0px;">
        {% for conexao in conexoes %}
          <li>
          {% if conexao.parceiro.user.is_active %}
            <a class="imprimir" href="{% url 'parceiro_detail' conexao.parceiro.id %}">
              {{ conexao.parceiro.user.get_full_name }}
              <span class="papeis">

                {% for papel in conexao.get_papeis %}
                  <span class="opt_full">[{{papel.0}}]</span>
                  <span class="opt_short" data-toggle="tooltip" data-html="true" animation="true" title="{{papel.0}}">[{{papel.1}}]</span>
                {% endfor %}
                              
                {% if conexao.observacao %}
                  &nbsp;&nbsp;obs: {{conexao.observacao}}
                {% endif %}
              
              </span>
            </a>
            <span class="opt_full emails"><a href="mailto:{{conexao.parceiro.user.email}}">&lt;{{conexao.parceiro.user.email}}&gt;</a></span>
            <span class="opt_short emails"><a href="mailto:{{conexao.parceiro.user.email}}"><i class="far fa-envelope"></i></a></span>
          {% else %}
            <a class="imprimir" href="{% url 'parceiro_detail' conexao.parceiro.id %}" style="color: LightBlue;">
              {{ conexao.parceiro.user.get_full_name }}
              <span style="color: lightgrey;">
              {% for papel in conexao.get_papeis %}
                <span class="opt_full">[{{papel.0}}]</span>
                <span class="opt_short" data-toggle="tooltip" data-html="true" animation="true" title="{{papel.0}}">[{{papel.1}}]</span>
              {% endfor %}
              {% if conexao.observacao %}
                &nbsp;&nbsp;obs: {{conexao.observacao}}
              {% endif %}
              </span>
            </a>
            <span class="opt_full emails"><a href="mailto:{{conexao.parceiro.user.email}}" style="color: LightBlue;">&lt;{{conexao.parceiro.user.email}}&gt;</a></span>
            <span class="opt_short emails"><a href="mailto:{{conexao.parceiro.user.email}}" style="color: LightBlue;"><i class="far fa-envelope"></i></a></span>
            <br>
          {% endif %}
          </li>
        {% endfor %}
        </ol>
        </td></tr>
      {% endfor %}
      </table>

      <div class="totais">
        <b>Total de projetos = 
        <span>{{ numero_projetos }}</span>
        </b>
        {% if numero_projetos_avancado > 0 %}
          <span class="avancado">[ +{{ numero_projetos_avancado }} avançado{% if numero_projetos_avancado > 1 %}s{% endif %} ]</span>
        {% endif %}
        {% if projetos_time_misto > 0 %}
          <span class="avancado">[ {{ projetos_time_misto }} time{% if projetos_time_misto > 1 %}s{% endif %} misto{% if projetos_time_misto > 1 %}s{% endif %} ]</span>
        {% endif %}
        <br>

        <b>Total de estudantes =
        <span>{{ numero_estudantes}}</span>
        </b>
        {% if numero_estudantes_avancado > 0 %}
          <span class="avancado"> [ +{{ numero_estudantes_avancado }} avançado{% if numero_estudantes_avancado > 1 %}s{% endif %} ]</span>
        {% endif %}
        {% if numero_estudantes_externos > 0 %}
          <span class="avancado">[ {{ numero_estudantes_externos }} externo{% if numero_estudantes_externos > 1 %}s{% endif %} ]</span>
        {% endif %}
        <br>

      </div>

      <br>
      <div style="display: none;" class="grafico" id="canvas-holder">
        <canvas id="chart-area"></canvas>
      </div>

    <br><br>
    
    <script>
      var count_projects = 0;
      var count_alunos = 0;
      var prioridade1 = 0;
      var prioridade2 = 0;
      var prioridade3 = 0;
      var prioridade4 = 0;
      var prioridade5 = 0;
      var prioridade6m = 0;
      var nao_definido = 0;

      function filtra_data() {  // REFERENTE AO SELETOR DE DATAS

        count_projects = 0;
        count_alunos = 0;
        prioridade1 = 0;
        prioridade2 = 0;
        prioridade3 = 0;
        prioridade4 = 0;
        prioridade5 = 0;
        prioridade6m = 0;
        nao_definido = 0;

        var row = $('.row'); 
        row.each(function(i, el) {

          count_projects = count_projects + 1;
          var alunos = $(el).find("TD").find("OL");
          count_alunos = count_alunos + alunos.children().length;

          $.each(alunos.children('li'), function() {
            var target = $(this)
            data = $(target).find('div.prioridade').text();
            if(data == 1) {prioridade1 += 1;}
            else if(data == 2) {prioridade2 += 1;}
            else if(data == 3) {prioridade3 += 1;}
            else if(data == 4) {prioridade4 += 1;}
            else if(data == 5) {prioridade5 += 1;}
            else if(data > 5) {prioridade6m += 1;}
            else {nao_definido +=1;}
          });

        });

      }

      {% comment %} // Só mostra informação de semestre se edição é todas {% endcomment %}
      ($("#filterEdicao option:selected").attr("value") == "todas" ? $('.semestre').show() : $('.semestre').hide());


    </script>
    
    {% comment %} Mostra gráfico de proporção de prioridades {% endcomment %}
    {% include "grafico_prioridades.html" %}

    <script>
      filtra_data();
      mostra_grafico();
    </script>
  
    {% endif %}

    <script>
      function carrega_pagina() {}

      function carrega_site() {
        {% include "edicao_puxar_local_ou_versao.js" %}
        carrega_pagina();
      };

      window.onload = carrega_site

    </script>
  
  </div>
  
  {% include "edicoes_ajax.html" with com_cursos=True %}


{% endblock %}