{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}
  {% if projeto.titulo_final %}
    <style>
        h3 {display: inline;}
    </style>
    <h3>Título: {{projeto.titulo_final}}</h3>
    <small> <br>&nbsp;&nbsp;&nbsp;&nbsp;Título Provisório: {{projeto.titulo}}</small><br>
  {% else %}
    <h3>Título: {{projeto.titulo}}</h3>
  {% endif %}
  <strong>Descrição:</strong> {{ projeto.descricao|linebreaks }}
  <strong>Expectativas de resultados/entregas :</strong> {{ projeto.expectativas|linebreaks }}
  <strong>Áreas da engenharia envolvidas no projeto (habilidade necessárias):</strong> {{ projeto.areas|linebreaks }}
  <strong>Recursos a serem disponibilizados aos Alunos :</strong> {{ projeto.recursos|linebreaks }}
  <hr>
  <h3>Empresa: {{ projeto.empresa.nome_empresa }}</h3>
  <strong>endereço:</strong> {{ projeto.empresa.endereco|linebreaks }}
  <strong>website:</strong> <a href="{{ projeto.empresa.website }}"> {{ projeto.empresa.website }} </a>
  <p>&nbsp;</p>
{% endblock %}
