{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load l10n %}
  {% load alocacoes %}
  <link rel="stylesheet" href="{% static 'css/short_full.css' %}">

  {% comment %} Para plotar os gráficos {% endcomment %}
  <script src="{% static 'js/Chart.min.js' %}"></script>

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

  <style>
    .logotipo {
      max-height:128px;
      max-width:128px;
      height:auto;
      width:auto;
      float: right;
      margin-left: 12px;
    }
  
    .logotipo_left {
      max-height:64px;
      max-width:128px;
      height:auto;
      width:auto;
      float: right;
      margin-left: 10px;
    }

    ul {padding-left: 1.4em;}

  </style>

{% endblock %}

{% block content %}

  <span class="titulo">Projeto Completo</span>

  <strong>Título</strong>:
  {% if projeto.titulo_final and projeto.titulo_final != projeto.proposta.titulo %}
    {{projeto.titulo_final}}<br>
    <small style="display: inline-block; padding-left: 0.7em;"><b>Título original da proposta</b>: {{projeto.proposta.titulo}}</small>
  {% else %}
    {{projeto.get_titulo}}
  {% endif %}<br>
  
  <strong>Semestre:</strong> {{projeto.ano}}.{{projeto.semestre}}<br>

  {% include "tipo_projeto.html" with com_tipo=True %}

  {% if projeto.resumo %}
    <div class="descricao" style="margin-top: 8px;">
      <strong>Resumo do Projeto (escrito por estudantes):</strong>
      {{ projeto.resumo|linebreaks }}
    </div><br>
  {% endif %}

  {% if projeto.abstract %}
    <div class="descricao" style="margin-top: 8px;">
      <strong>Resumo em Inglês do Projeto (escrito por estudantes):</strong>
      {{ projeto.abstract|linebreaks }}
    </div><br>
  {% endif %}

  <hr>

  {% for conexao in cooperacoes %}
    {% if conexao.parceiro and conexao.parceiro.organizacao and conexao.parceiro.organizacao.logotipo %}
      <a href="{% url 'organizacao_completo' conexao.parceiro.organizacao.id %}">
        <img class="logotipo_left" src="{{ conexao.parceiro.organizacao.logotipo.url }}" alt="{{ conexao.parceiro.organizacao.sigla }}">
      </a>
    {% endif %}
  {% endfor %}

  {% if projeto.organizacao and projeto.organizacao.logotipo %}
    <img class="logotipo" src="{{ projeto.organizacao.logotipo.url }}" alt="{{ projeto.organizacao.sigla }}">
  {% endif %}

  <h5>Organização:
    {% if projeto.organizacao %}
      {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
        <a href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{ projeto.organizacao.nome }}</a>
      {% else %}
        {{ projeto.organizacao.nome }}
      {% endif %}
    {% else %}
      NÃO DEFINIDA
    {% endif %}
  </h5>

  {% for conexao in cooperacoes %}
    {% if conexao.parceiro and conexao.parceiro.organizacao %}
      <span>
      &nbsp;&nbsp;&nbsp;Colaboração:
      <a href="{% url 'organizacao_completo' conexao.parceiro.organizacao.id %}">
        {{conexao.parceiro.organizacao}}
      </a>
      </span>
    {% endif %}
  {% endfor %}

  <div class="endereco" style="margin-top: 8px;">
    <p><strong>endereço:</strong> <a style="display: inline-block; padding-left: 0.7em;" href="http://maps.google.com/maps?q={{projeto.organizacao.endereco}}">{{ projeto.organizacao.endereco|linebreaks }}</a></p>
  </div>
  
  {% if projeto.organizacao.website %}
    <div class="website" style="margin-top: 8px;">
      <p><strong>website:</strong>  <a href="{{ projeto.organizacao.website }}"> {{ projeto.organizacao.website }} </a></p>
    </div><br>
  {% endif %}


  {% if projeto.proposta.descricao %}
    <div class="descricao" style="margin-top: 8px;">
      <strong>Descrição da Proposta do Projeto (escrito por parceiro):</strong>
        {{ projeto.proposta.descricao|linebreaks }}
    </div><br>
  {% endif %}

  {% if projeto.proposta.expectativas %}
    <div class="expectativas" style="margin-top: 8px;">
      <strong>Expectativas de resultados/entregas (escrito por parceiro):</strong> {{ projeto.proposta.expectativas|linebreaks }}
    </div><br>
  {% endif %}

  {% if projeto.proposta.recursos %}
    <div class="recusos" style="margin-top: 8px;">
      <strong>Recursos a serem disponibilizados aos estudantes (escrito por parceiro):</strong> {{ projeto.proposta.recursos|linebreaks }}
    </div><br>
  {% endif %}

  {% if projeto.organizacao.informacoes %}
    <div class="informacoes" style="margin-top: 8px;">
      <strong>Informações sobre a organização :</strong> {{ projeto.organizacao.informacoes|linebreaks }}
    </div><br>
  {% endif %}

  {% if projeto.proposta.departamento %}
    <div class="departamento" style="margin-top: 8px;">
      <strong>Informações sobre o departamento na organização :</strong> {{ projeto.proposta.departamento|linebreaks }}
    </div><br>
  {% endif %}

  {% if projeto.proposta.anexo %}
    <br><strong>Anexo (fornecido por parceiro):</strong>
    <a class="text-success" href="http://{{request.get_host}}{{projeto.proposta.anexo.url}}">{{projeto.proposta.anexo}}</a>
    <br><br>
  {% endif %}
  
  <div class="conexoes" style="margin-top: 8px;">
    <strong>conexões:</strong>
    {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
      <small class="esconder"><a style="vertical-align: 0px;" href="{% url 'seleciona_conexoes' %}?projeto={{projeto.id}}">&#x1F517;</a></small>
    {% endif %}
    <br>
    {% if conexoes %}
      {% comment %} margin-left: 0.5em;  padding-left: 12px;"> {% endcomment %}
      <ul>
      {% for conexao in conexoes %}
        {% if conexao.parceiro.user.is_active %}
          <li>
            {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
              <a href="{% url 'parceiro_detail' conexao.parceiro.id %}">{{ conexao.parceiro.user.get_full_name }}</a>
            {% else %}
              {{ conexao.parceiro.user.get_full_name }}
            {% endif %}
            <a href="mailto:{{conexao.parceiro.user.email}}"> &lt;{{conexao.parceiro.user.email}}&gt;</a>
            {% for papel in conexao.get_papeis %}
              <span class="opt_full">[{{papel.0}}]</span>
              <span class="opt_short" data-toggle="tooltip" data-html="true" animation="true" title="{{papel.0}}">[{{papel.1}}]</span>
            {% endfor %}
            {% if conexao.observacao %}&nbsp;&nbsp;obs: {{conexao.observacao}}{% endif %}
          </li>
        {% else %}
          <li>
              <a href="{% url 'parceiro_detail' conexao.parceiro.id %}" style="color: LightBlue;">
                {{ conexao.parceiro.user.get_full_name }}
              </a>
              <a href="mailto:{{conexao.parceiro.user.email}}" style="color: LightBlue;"> &lt;{{conexao.parceiro.user.email}}&gt;</a><br>
              <span  style="color: lightgrey; border: 0px; padding-left: 12px;">
                {% for papel in conexao.get_papeis %}
                  <span class="opt_full">[{{papel.0}}]</span>
                  <span class="opt_short" data-toggle="tooltip" data-html="true" animation="true" title="{{papel.0}}">[{{papel.1}}]</span>
                {% endfor %}
                {% if conexao.observacao %}&nbsp;&nbsp;obs: {{conexao.observacao}}{% endif %}
              </span>
          </li>
        {% endif %}        
      {% endfor %}
      </ul>
    {% else %}
      Nenhuma conexão específica para esse projeto declarada.
    {% endif %}
    
  </div>

  {% if projeto.orientador %}
    <hr>
    {% if projeto.proposta.intercambio %}
      <h4>Professor{% if projeto.orientador.user.genero == 'F' %}a{% endif %} Responsável: </h4>
    {% else %}
      <h4>Orientador{% if projeto.orientador.user.genero == 'F' %}a{% endif %}: </h4>
    {% endif %}
    <div style="margin-left: 0.3em;">
      &#8614;
      {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
        <a href="{% url 'professor_detail' projeto.orientador.id %}">{{projeto.orientador.user.get_full_name}}</a>
      {% else %}
        {{projeto.orientador.user.get_full_name}}
      {% endif %}
      <a href="mailto:{{projeto.orientador.user.email}}"> &lt;{{projeto.orientador.user.email}}&gt;</a>
    </div>
  {% else %}
    <h4>Orientador: Não definido</h4>
  {% endif %}

  {% if coorientadores %}
    <br>
    <div style="margin-top: 10px;">
      <strong>&nbsp;&nbsp;coorientador{% if coorientadores > 1 %}es{% endif %}:</strong>
    </div>
    <ul>
    {% for coorientador in coorientadores %}
      <li>
      <a href="{% url 'professor_detail' coorientador.usuario.professor.id %}">
        {{ coorientador.usuario.get_full_name }}
      </a>
      <a href="mailto:{{coorientador.usuario.email}}"> &lt;{{coorientador.usuario.email}}&gt;</a>
      {% if coorientador.observacao %}
        &nbsp;&nbsp;obs: {{coorientador.observacao}}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  <hr>
  <h4>Estudante{% if alocacoes.count > 2 %}s{% endif %}:</h4>
  <ul>
  {% for alocacao in alocacoes %}
    <li>
      {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
        <a href="{% url 'estudante_detail' alocacao.aluno.id %}">{{alocacao.aluno.user.get_full_name}}</a>
      {% else %}
        {{alocacao.aluno.user.get_full_name}}
      {% endif %}
      <span class="opt_full">[{{ alocacao.aluno.curso2 }}]</span>
      <span class="opt_short" data-toggle="tooltip" data-html="true" animation="true" title="{{ alocacao.aluno.curso2}}">[{{ alocacao.aluno.curso2.sigla_curta }}]</span>
      
      <span class="opt_full"><a href="mailto:{{alocacao.aluno.user.email}}">&lt;{{alocacao.aluno.user.email}}&gt;</a></span>
      <span class="opt_short"><a href="mailto:{{alocacao.aluno.user.email}}"><i class="far fa-envelope"></i></a></span>

      {% if alocacao.aluno.externo %}<span style="color:red">[{{alocacao.aluno.externo}}]</span>{% endif %}
    </li>
  {% endfor %}
  </ul>

  {% if medias_oo %}
    <hr><h4>Médias de Grupo:</h4>

    Médias:
    {% for key, value in medias_oo.media_grupo.items %}
      {% if value.media >= 0 %}
        <span style="white-space: nowrap; background-color:#EEF;">{{key.titulo}}={{value.media|stringformat:".1f"}}</span>{% if not forloop.last %}, {% endif %}
      {% endif %}
    {% endfor %}

    <div class="table-responsive">
      <div style="position: relative; height:203px; width:406px">
        <canvas id="radial-grupo"></canvas>
      </div>
    </div>

    <script>
      var config_radial_grupo = {
        type: "radar",
        data: {
            labels: [{% for key, value in medias_oo.media_grupo.items %}
                    {% if value.media >= 0 %}"{{key.titulo}}",{% else %}"",{% endif %}
                {% endfor %}],
            datasets: [{
                label: "Objetivos de Aprendizagem",
                pointBackgroundColor: [{% for key, value in medias_oo.media_grupo.items %}"{{value.cor}}",{% endfor %}],
                data: [{% for key, value in medias_oo.media_grupo.items %}
                        {% if value.media >= 0 %}{{value.media|stringformat:".2f"|unlocalize}},{% else %} null,{% endif %}
                      {% endfor %}],
                scaleOverride: true,
                pointRadius: 5,
                backgroundColor: "rgba(0,0,240,0.1)",
                },
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Avaliação Grupo"
            },
            scale: {
                responsive: true,
                angleLines: {
                    display: false
                },
                ticks: {
                    beginAtZero: true,
                    suggestedMin: 0,
                    suggestedMax: 10
                }
            },
        }
      }

      var radial_grupo = document.getElementById("radial-grupo").getContext("2d");
      new Chart(radial_grupo, config_radial_grupo);

    </script>

  {% endif %}

  {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
  {% if projeto.has_relatos %}  
    <hr>
    <h4>Relatos Quinzenais</h4>
    {% include "relatos.html" with alocacoes=alocacoes|sem_externos %}
  {% endif %}
  {% endif %}

  <hr>
  <h4>Documentos:
    {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
      <small class="esconder">
        <a class="open-documento" data-url="{% url 'adiciona_documento' projeto.organizacao.id projeto.id %}">&#10133;</a>
      </small>
    {% endif %}
  </h4>
  {% include "documentos.html" %}

  {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
    <hr>
    <h4>Certificados:
      {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
        <small class="esconder">
          <a href="{% url 'carregar_certificado' %}">&#10133;</a>
        </small>
      {% endif %}
    </h4>
    {% include "certificados.html" with certificados=projeto.certificado_set.all %}
  {% endif %}

  {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
  {% if projeto.encontro_set.all %}
      <hr>
      <h4>Mentorias:<br></h4>
      <ul>
          {% for dinamica in projeto.encontro_set.all %} 
              <li>
                  {{dinamica.startDate|date:'j \d\e F \d\e Y \d\a\s H:i'}} às {{dinamica.endDate|date:'H:i'}}
                  <ul>
                    {% if dinamica.location %}
                      <li> local:
                      {% if dinamica.url_location %}
                        <a href="{{dinamica.location}}">link vídeo-conferência</a>
                      {% else %}
                        <span style="word-break: break-all;">
                          {{dinamica.location}}
                        </span>
                      {% endif %}
                      
                    {% endif %}
                    {% if dinamica.facilitador %}
                      <li>facilitador: 
                        <a href="{% url 'user_detail' dinamica.facilitador.id %}">
                          {{dinamica.facilitador}}
                        </a>
                      </li>
                    {% endif %}
                  </ul>
              </li>
          {% endfor %}
      </ul>
  {% endif %}
  {% endif %}


  {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}

    <hr>
    <div style="max-width: 80em; text-align: center;">

      <a class="btn btn-primary mb-1 mt-2" style="width: 13em;"
      data-toggle="tooltip" data-html="true" animation="true" title="Acessa a poposta do projeto"
      href="{% url 'proposta_completa' projeto.proposta.id %}">Proposta</a>

      <a class="btn btn-primary mb-1 mt-2" style="width: 13em;"
      data-toggle="tooltip" data-html="true" animation="true" title="Acessa as avaliações das bancas"
      href="{% url 'conceitos_obtidos' projeto.id %}">Resultado Bancas</a>

      <a class="btn btn-primary mb-1 mt-2" style="width: 13em;"
      data-toggle="tooltip" data-html="true" animation="true" title="Acessa os agendamentos das bancas"
      href="{% url 'bancas_lista' projeto.id %}">Agendamentos</a>

      {% if projetos_avancados %}
        <a class="btn btn-primary mb-1 mt-2" 
        data-toggle="tooltip" data-html="true" animation="true" title="Acessa a versão avançada desse projeto"
        href="{% url 'projeto_avancado' projeto.id %}" style="width: 13em;">Avançado</a>
      {% else %}
      <a class="btn btn-primary mb-1 mt-2" 
        data-toggle="tooltip" data-html="true" animation="true" title="Cria uma versão avançada desse projeto"
        onclick="cria_avancado()" style="color:white; width: 13em;">Cria Avançado</a>
      {% endif %}

      <a class="btn btn-primary mb-1 mt-2" style="width: 13em;"
      data-toggle="tooltip" data-html="true" animation="true" title="Permite avaliar as entregas do projeto"
      href="{% url 'avaliar_entregas' projeto.id %}">Avaliar Entregas</a>

      <a class="btn btn-primary mb-1 mt-2" style="width: 13em;"
      data-toggle="tooltip" data-html="true" animation="true" title="Permite editar alguns campos do projeto"
      href="{% url 'editar_projeto' projeto.id %}">Editar</a>

    </div>
    <p>&nbsp;</p>

    {% if not projetos_avancados %}
      <script>
        function cria_avancado() {
          {% if user.tipo_de_usuario == 4 %} 
            if (confirm('Não existe uma versão avançada desse projeto, deseja criar?')) {
              window.open("{% url 'projeto_avancado' projeto.id %}");
            }
          {% else %}
            alert('Você não tem permissão para criar uma versão avançada desse projeto.');
          {% endif %}
        }
      </script>
    {% endif %}

    {% include "documento-modal.html" %}
    {% include "annotation-modal2.html" %}{% comment %} NÃO SEI SE AINDA EM USO {% endcomment %}

  {% endif %}
{% endblock %}