{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}
  {% if projeto.titulo_final %}
    <style>
        h3 {display: inline;}
    </style>
    <h3>Título: {{projeto.titulo_final}}</h3>
    <small> <br>&nbsp;&nbsp;&nbsp;&nbsp;Título Provisório: {{projeto.titulo}}</small><br>
  {% else %}
    <h3>Título: {{projeto.titulo}}</h3>
  {% endif %}

  <strong>Descrição:</strong> {{ projeto.proposta.descricao|linebreaks }}
  {% if projeto.expectativas %}
    <br><strong>Expectativas de resultados/entregas :</strong> {{ projeto.proposta.expectativas|linebreaks }}
  {% endif %}  

  {% comment %}
  {% if projeto.areas %}
    <br><strong>Áreas da engenharia envolvidas no projeto (habilidade necessárias):</strong> {{ projeto.areas|linebreaks }}
  {% endif %}
  {% endcomment %}

  {% if projeto.recursos %}
    <br><strong>Recursos a serem disponibilizados aos Alunos :</strong> {{ projeto.proposta.recursos|linebreaks }}
  {% endif %}
  {% if projeto.observacoes %}
    <br><strong>Outras observações :</strong> {{ projeto.proposta.observacoes|linebreaks }}<br>
  {% endif %}
  
  {% if projeto.anexo %}
    <br><strong>Anexo :</strong>
    <a class="text-success" href="../..{{MEDIA_URL}}{{projeto.anexo}}">{{projeto.proposta.anexo}}</a>
  {% endif %}
  <hr>
  <h3>Organização Parceira: {{ projeto.organizacao.nome }}</h3>
  <p><strong>endereço:</strong> <a class="tabulado" href="http://maps.google.com/maps?q={{projeto.organizacao.endereco}}">{{ projeto.organizacao.endereco|linebreaks }}</a></p>
  {% if projeto.organizacao.website %}
    <p><strong>website:</strong>  <a class="tabulado" href="{{ projeto.organizacao.website }}"> {{ projeto.organizacao.website }} </a></p>
  {% endif %}  
  {% if projeto.organizacao.informacoes %}
    <strong>Informações sobre a empresa :</strong> {{ projeto.organizacao.informacoes|linebreaks }}
  {% endif %}
  {% if projeto.departamento %}
    <strong>Informações sobre o departamento na empresa :</strong> {{ projeto.departamento|linebreaks }}
  {% endif %}

  <p>&nbsp;</p>
{% endblock %}
