{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load l10n %}

  {% comment %} Para plotar os gráficos {% endcomment %}
  <script src="{% static 'js/Chart.min.js' %}"></script>

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

  <style>
    .logotipo {
      max-height:128px;
      max-width:128px;
      height:auto;
      width:auto;
      float: right;
    }
  </style>

 <style>
    .logotipo_left {
      max-height:64px;
      max-width:128px;
      height:auto;
      width:auto;
      float: right;
      margin-left: 10px;
    } 
  </style>

{% endblock %}

{% block content %}

  {% if projeto.titulo_final %}
    <style>
        .titulo {display: inline;}
    </style>
    <span class="titulo">Projeto: {{projeto.titulo_final}}<br></span>
    <i>&nbsp;&nbsp;&nbsp;&nbsp;Título original: {{projeto.titulo}}<br></i>
  {% else %}
    <span style="display:block;" class="titulo">Projeto: {{projeto.titulo}}<br></span>
  {% endif %}
  <strong>Semestre:</strong> {{projeto.ano}}.{{projeto.semestre}}<br>

  {% if projeto.avancado or projeto.proposta.internacional %}
    <p><strong>Tipo</strong>:

      {% if projeto.avancado %}
        <font color="red">PFE Avançado</font>
      {% endif %}

      {% if projeto.avancado and projeto.proposta.internacional %}
      /
      {% endif %}

      {% if projeto.proposta.internacional %}
        <font color="red">Internacional</font>
      {% endif %}

      {% if projeto.avancado or projeto.proposta.internacional %}
        {% if projeto.proposta.intercambio %}
          /
        {% endif %}
      {% endif %}
      
      {% if projeto.proposta.intercambio %}
        <font color="red">Intercâmbio</font>
      {% endif %}

      {% if projeto.time_misto %}
        <font color="red">Time Misto</font>
      {% endif %}

    </p>
  {% endif %}
  
  <div class="descricao" style="margin-top: 8px;">
    <strong>Descrição:</strong>
    {% if projeto.descricao %}
      {{ projeto.descricao|linebreaks }}
    {% else %}
      {{ projeto.proposta.descricao|linebreaks }}
    {% endif %}
  </div>

  {% if projeto.proposta.expectativas %}
    <div class="expectativas" style="margin-top: 8px;">
      <strong>Expectativas de resultados/entregas :</strong> {{ projeto.proposta.expectativas|linebreaks }}
    </div>
  {% endif %}
  {% comment %}
    {% if projeto.areas %}
      <br><strong>Áreas da engenharia envolvidas no projeto (habilidade necessárias):</strong> {{ projeto.areas|linebreaks }}
    {% endif %}
  {% endcomment %}
  {% if projeto.proposta.recursos %}
    <div class="recusos" style="margin-top: 8px;">
      <strong>Recursos a serem disponibilizados aos Estudantes :</strong> {{ projeto.proposta.recursos|linebreaks }}
    </div>
  {% endif %}
  {% if projeto.proposta.anexo %}
    <br><strong>Anexo :</strong>
    <a class="text-success" href="../..{{MEDIA_URL}}{{projeto.anexo}}">{{projeto.proposta.anexo}}</a>
  {% endif %}
  
  <hr>

  {% for conexao in cooperacoes %}
    {% if conexao.parceiro and conexao.parceiro.organizacao and conexao.parceiro.organizacao.logotipo %}
      <a href="{% url 'organizacao_completo' conexao.parceiro.organizacao.id %}">
        <img class="logotipo_left" src="{{ conexao.parceiro.organizacao.logotipo.url }}" alt="{{ conexao.parceiro.organizacao.sigla }}">
      </a>
    {% endif %}
  {% endfor %}

  {% if projeto.organizacao and projeto.organizacao.logotipo %}
    <img class="logotipo" src="{{ projeto.organizacao.logotipo.url }}" alt="{{ projeto.organizacao.sigla }}">
  {% endif %}

  <h3>Organização:
    {% if projeto.organizacao %}
      <a href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{ projeto.organizacao.nome }}</a>
    {% else %}
      NÃO DEFINIDA
    {% endif %}
  </h3>

  {% for conexao in cooperacoes %}
    {% if conexao.parceiro and conexao.parceiro.organizacao %}
      <span>
      &nbsp;&nbsp;&nbsp;Colaboração:
      <a href="{% url 'organizacao_completo' conexao.parceiro.organizacao.id %}">
        {{conexao.parceiro.organizacao}}
      </a>
      </span>
    {% endif %}
  {% endfor %}

  <div class="endereco" style="margin-top: 8px;">
    <p><strong>endereço:</strong> <a class="tabulado" href="http://maps.google.com/maps?q={{projeto.organizacao.endereco}}">{{ projeto.organizacao.endereco|linebreaks }}</a></p>
  </div>
  
  {% if projeto.organizacao.website %}
    <div class="website" style="margin-top: 8px;">
      <p><strong>website:</strong>  <a class="tabulado" href="{{ projeto.organizacao.website }}"> {{ projeto.organizacao.website }} </a></p>
    </div>
  {% endif %}

  {% if projeto.organizacao.informacoes %}
    <div class="informacoes" style="margin-top: 8px;">
      <strong>Informações sobre a organização :</strong> {{ projeto.organizacao.informacoes|linebreaks }}
    </div>
  {% endif %}

  {% if projeto.proposta.departamento %}
    <div class="departamento" style="margin-top: 8px;">
      <strong>Informações sobre o departamento na organização :</strong> {{ projeto.proposta.departamento|linebreaks }}
    </div>
  {% endif %}
  
  <div class="conexoes" style="margin-top: 8px;">
    <strong>conexões:</strong>
    <small><a href="{% url 'seleciona_conexoes' %}?projeto={{projeto.id}}">&#10133;</a></small>
    <br>
    <ul>
    {% if conexoes %}
      {% for conexao in conexoes %}
      <li>
        {% if conexao.parceiro.user.is_active %}
          <a href="{% url 'parceiro_detail' conexao.parceiro.id %}">
            {{ conexao.parceiro.user.get_full_name }}
          </a>
          <a href="mailto:{{conexao.parceiro.user.email}}"> &lt;{{conexao.parceiro.user.email}}&gt;</a>
          <span>
            {% if conexao.gestor_responsavel %}
              [gestor responsavel]
            {% endif %}
            {% if conexao.mentor_tecnico %}
              [mentoria técnica]
            {% endif %}
            {% if conexao.recursos_humanos %}
              [recursos humanos]
            {% endif %}
            {% if conexao.colaboracao %}
              [colaboração]
            {% endif %}
            {% if conexao.observacao %}
              &nbsp;&nbsp;obs: {{conexao.observacao}}
            {% endif %}
          </span>
          <br>
        {% else %}
          <a class="tabulado" href="{% url 'parceiro_detail' conexao.parceiro.id %}" style="color: LightBlue;">
            {{ conexao.parceiro.user.get_full_name }}
          </a>
          <a href="mailto:{{conexao.parceiro.user.email}}" style="color: LightBlue;"> &lt;{{conexao.parceiro.user.email}}&gt;</a>
          <span style="color: lightgrey;">
          {% if conexao.gestor_responsavel %}
            [gestor responsavel]
          {% endif %}
          {% if conexao.mentor_tecnico %}
            [mentoria técnica]
          {% endif %}
          {% if conexao.recursos_humanos %}
            [recursos humanos]
          {% endif %}
          {% if conexao.colaboracao %}
            [colaboração]
          {% endif %}
          {% if conexao.observacao %}
            &nbsp;&nbsp;obs: {{conexao.observacao}}
          {% endif %}
          </span>
          <br>
        {% endif %}
        </li>
      {% endfor %}
    {% else %}
      Nenhuma conexão específica para esse projeto declarada.
    {% endif %}
    </ul>
  </div>

  {% if projeto.orientador %}
    <hr>
    {% if projeto.proposta.intercambio %}
      <h3>Professor{% if projeto.orientador.user.genero == 'F' %}a{% endif %} Responsável: </h3>
    {% else %}
      <h3>Orientador{% if projeto.orientador.user.genero == 'F' %}a{% endif %}: </h3>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&#8614;
    <a href="{% url 'professor_detail' projeto.orientador.id %}">
      {{projeto.orientador.user.get_full_name}}
    </a>
    <a href="mailto:{{projeto.orientador.user.email}}"> &lt;{{projeto.orientador.user.email}}&gt;</a>
  {% else %}
    <h3>Orientador: Não definido</h3>
  {% endif %}

  {% if coorientadores %}
    <br>
    <div style="margin-top: 10px;">
      <strong>&nbsp;&nbsp;coorientador(es):</strong>
    </div>
    <ul>
    {% for coorientador in coorientadores %}
      <li>
      <a href="{% url 'professor_detail' coorientador.usuario.professor.id %}">
        {{ coorientador.usuario.get_full_name }}
      </a>
      <a href="mailto:{{coorientador.usuario.email}}"> &lt;{{coorientador.usuario.email}}&gt;</a>
      {% if coorientador.observacao %}
        &nbsp;&nbsp;obs: {{coorientador.observacao}}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}

  <hr>
  <h3>Estudante{% if alocacoes.count > 2 %}s{% endif %} Alocado{% if alocacoes.count > 2 %}s{% endif %} no Projeto:</h3>
  <ul>
  {% for alocacao in alocacoes %}
    <li>
    <a href="{% url 'estudante_detail' alocacao.aluno.id %}">
      <p>
        {{alocacao.aluno.user.get_full_name}} 
        [{{ alocacao.aluno.get_curso_display }}]
        &lt;{{alocacao.aluno.user.email}}&gt; 
        {% for opcao in alocacao.aluno.opcao_set.all %}
          {% if opcao.projeto == projeto %}
            (opção #{{opcao.prioridade}})
          {% endif %}
        {% endfor %}
      </p>
    </a>
    </li>
  {% endfor %}
  </ul>

  {% if medias_oo %}

    <div class="table-responsive">
      <div style="position: relative; height:203px; width:406px">
        <canvas id="radial-grupo"></canvas>
      </div>
    </div>

    <script>
      var config_radial_grupo = {
        type: 'radar',
        data: {
            labels: [
                {% for key, value in medias_oo.media_grupo.items %}
                    {% if value.media >= 0 %}
                        "{{key}}",
                    {% else %}
                        "",
                    {% endif %}
                {% endfor %}
                ],
            datasets: [
                {
                label: "Objetivos de Aprendizagem",
                pointBackgroundColor: [
                    {% for key, value in medias_oo.media_grupo.items %}
                        {% comment %} {% if value.media >= 0 %} {% endcomment %}
                            "{{value.cor}}",
                        {% comment %} {% endif %} {% endcomment %}
                    {% endfor %}
                    ],
                data: [
                    {% for key, value in medias_oo.media_grupo.items %}
                        {% if value.media >= 0 %}
                            {{value.media|stringformat:".2f"|unlocalize}},
                        {% else %}
                            null,
                        {% endif %}
                    {% endfor %}
                    ],
                scaleOverride: true,
                pointRadius: 5,
                backgroundColor: "rgba(0,0,240,0.1)",
                },
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Avaliação Grupo'
            },
            scale: {
                responsive: true,
                angleLines: {
                    display: false
                },
                ticks: {
                    beginAtZero: true,
                    suggestedMin: 0,
                    suggestedMax: 10
                }
            },
        }
      }

      var radial_grupo = document.getElementById('radial-grupo').getContext('2d');
      new Chart(radial_grupo, config_radial_grupo);

    </script>

  {% endif %}

  <hr>
  <h3>Relatos Quinzenais</h3>
  {% include "relatos.html" %}

  <hr>
  <h3>Documentos
    <small>
      <a
        class="open-documento"
        href="{% url 'adiciona_documento_proj' projeto.id %}"
        data-url="{% url 'adiciona_documento_proj' projeto.id %}"
        >&#10133;</a
      >
    </small>
  </h3>
  {% for documento in projeto.documento_set.all %}
    {% if documento.confidencial %}
      <i data-toggle="tooltip" data-html="true" animation="true" title="confidencial" class="fa fa-lock"></i>
    {% else %}
      <i data-toggle="tooltip" data-html="true" animation="true" title="público" class="fa fa-unlock"></i>
    {% endif %}
    {% if documento.documento and documento.link %}
        {{documento}}
        <a href="../..{{MEDIA_URL}}{{documento.documento}}" target="_blank" rel="noopener noreferrer">(documento)</a>
        <a href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
    {% else %}
      {% if documento.documento %}
        <a href="../..{{MEDIA_URL}}{{documento.documento}}" target="_blank" rel="noopener noreferrer">{{documento}}</a>
      {% endif %}
      {% if documento.link %}
        <a href="{{documento.link}}" target="_blank" rel="noopener noreferrer">{{documento}}</a>
      {% endif %}
    {% endif %}
    {% if documento.data %}
              : {{ documento.data }}
    {% endif %}
    {% if documento.anotacao %}
              [Obs: {{ documento.anotacao }} ]
    {% endif %}
    <br>
  {% empty %}
    Ainda não existem documentos para esse projeto.
  {% endfor %}

  {% if projeto.encontro_set.all %}
      <hr>
      <h3>Mentorias Marcadas<br></h3>
      <ul>
          {% for dinamica in projeto.encontro_set.all %} 
              <li>
                  {{dinamica.startDate}} - {{dinamica.endDate|date:'H:i'}}
                  <ul>
                    {% if dinamica.location %}
                      <li> local:
                      {% if dinamica.url_location %}
                        <a href="{{dinamica.location}}">
                      {% endif %}
                      <span style="word-break: break-all;">
                      {{dinamica.location}}
                      </span>
                      {% if dinamica.url_location %}
                        </a>
                      {% endif %}
                    {% endif %}
                    {% if dinamica.facilitador %}
                      <li>facilitador: 
                        <a href="{% url 'user_detail' dinamica.facilitador.id %}">
                          {{dinamica.facilitador}}
                        </a>
                      </li>
                    {% endif %}
                  </ul>
              </li>
          {% endfor %}
      </ul>
  {% endif %}

  <hr>
  <a class="myButton"
   data-toggle="tooltip" data-html="true" animation="true" title="Acessa a poposta do projeto"
   href="{% url 'proposta_completa' projeto.proposta.id %}">Proposta</a>

  <a class="myButton"
   data-toggle="tooltip" data-html="true" animation="true" title="Acessa as avaliações das bancas"
   href="{% url 'conceitos_obtidos' projeto.id %}">Avaliações</a>

  <a class="myButton"
   data-toggle="tooltip" data-html="true" animation="true" title="Acessa os agendamentos das bancas"
   href="{% url 'bancas_lista' projeto.id %}">Bancas</a>

  <a class="myButton"
   data-toggle="tooltip" data-html="true" animation="true" title="Acessa a versão avançada desse projeto"
    {% if projetos_avancados %}
      href="{% url 'projeto_avancado' projeto.id %}"
    {% else %}
      onclick="cria_avancado()" style="color:white;"
    {% endif %}
   >Avançado</a>
  
  <a class="myButton"
   data-toggle="tooltip" data-html="true" animation="true" title="Permite editar alguns campos do projeto"
   href="{% url 'editar_projeto' projeto.id %}">Editar</a>
  
  <p>&nbsp;</p>

  {% if not projetos_avancados %}
    <script>
      function cria_avancado() {
        if (confirm('Não existe uma versão avançada desse projeto, deseja criar?')) {
          window.open("{% url 'projeto_avancado' projeto.id %}");
        }
      }
    </script>
  {% endif %}

  {% include "documento-modal.html" %}
  {% include "annotation-modal2.html" %}

{% endblock %}