{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 23 de Fevereiro de 2022
{% endcomment %}

{% load static %}
{% load addstr %}
{% load l10n %}

{% block head %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
{% endblock %}

{% block content %}

    {% if curso and objetivo %}
      {% with file_name="prop_por_opcao_"|addstr:curso|addstr:"_"|addstr:objetivo|addstr:"_"|addstr:objetivo.data_inicial %}
        <script>
          var save_image_file_name = "{{file_name}}";
        </script>  
      {% endwith %}
    {% endif %}

      <div class="container">

        <div style="max-width:860px; margin: auto;"> 
            <canvas id="chart-medias" style="width:100%; height:600px;"></canvas>
        </div>

        <script>

          var labels_pt = [];
          var labels_en = [];
          {% for edicao, alocacoes in estudantes %}
            labels_pt.push(["{{edicao}}", "({{alocacoes.count}} estudantes)"]);
            labels_en.push(["{{edicao}}", "({{alocacoes.count}} students)"]);
          {% endfor %}
          
          var config_medias = {
            type: "bar",
            data: {
              labels_pt: labels_pt,
              labels_en: labels_en,
              datasets: [
                {% for opcao in opcoes %}
                  {
                    label: "{{opcao.indice|safe}}",
                    data: [{% for qtd in opcao.qtds %}{{qtd|stringformat:".2f"|unlocalize}}{% if not forloop.last %}, {% endif %}{% endfor %}],
                    backgroundColor: "{{opcao.cor}}",
                  }{% if not forloop.last %},{% endif %}
                {% endfor %}
              ]
            },
            options: {
                title: {
                    display: true,
                    text_pt: "Proporção de opções alocadas por semestres",
                    text_en: "Proportion of allocated options by semesters",
                },
              scales: {
                xAxes: [{
                  stacked: true,
                }],
                yAxes: [{
                  stacked: true,
                  ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
              },
              plugins: {
                datalabels: {
                  color: "black",
                  font: {
                    weight: "bold",
                    size: 10
                  },
                  formatter: function(value, context) {
                    if (value > 0) {
                      return Math.round(value) + '%';
                    } else {
                      return '';
                    }
                  }
                }
              }
            }
          }

      </script>

    </div>

  <script>

    function lingua_grafico() {
      if(window.medias == undefined) {return;}
      if(localStorage.getItem("lingua") == "pt") {
        window.medias.options.title.text = window.medias.options.title.text_pt;
        window.medias.data.labels = window.medias.data.labels_pt;
      } else {
        window.medias.options.title.text = window.medias.options.title.text_en;
        window.medias.data.labels = window.medias.data.labels_en;
      }
      window.medias.update();
    }
    document.addEventListener("languageChanged", lingua_grafico);

    function carrega_pagina() {  
      // Chart do média dos alunos
      var chart_medias = document.getElementById("chart-medias").getContext("2d");
      window.medias = new Chart(chart_medias, config_medias);
      lingua_grafico();
    }
    window.onload = carrega_pagina
  </script>

{% endblock %}