{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Junho de 2019
{% endcomment %}
{% comment %} 
{% block head %}
{% endblock %} {% endcomment %}

{% comment %} APARENTEMENTE NÃO MAIS USADO {% endcomment %}


{% block content %}
{% comment %} 
  {% if mylist %}
    <div>      
      {% for projeto,opcoes in mylist %} 
        {% if projeto.disponivel %}
          <a href="{% url 'projeto_completo' projeto.id %}" class="dark-blue-bold">
            {{ projeto.organizacao.nome }} - {{projeto.get_titulo}}
            &nbsp;&nbsp;
            {% for curso in cursos %}{% if curso.curso_do_insper %}{% if curso in proposta.perfil1.all %}{{curso.sigla_curta}}{% else %}&nbsp;{% endif %}{% endif %}{% endfor %}<br>
            |
            {% for curso in cursos %}{% if curso.curso_do_insper %}{% if curso in proposta.perfil2.all %}{{curso.sigla_curta}}{% else %}&nbsp;{% endif %}{% endif %}{% endfor %}<br>
            |
            {% for curso in cursos %}{% if curso.curso_do_insper %}{% if curso in proposta.perfil3.all %}{{curso.sigla_curta}}{% else %}&nbsp;{% endif %}{% endif %}{% endfor %}<br>
            |
            {% for curso in cursos %}{% if curso.curso_do_insper %}{% if curso in proposta.perfil4.all %}{{curso.sigla_curta}}{% else %}&nbsp;{% endif %}{% endif %}{% endfor %}<br>
            |
          </a>
          {% for opcao in opcoes %} 
            <li><a href="{% url 'estudante_detail' opcao.aluno.id %}">{{opcao.aluno.user.get_full_name}} [{{ opcao.aluno.curso2 }}]&nbsp;=>&nbsp;prioridade #{{opcao.prioridade}}</a></li>
          {% endfor %}
          <br><br>
        {% endif %}
      {% endfor %}
    </div>

    Total de projetos = {{ length }}

    <hr>
    <form action="" method="post"> {% csrf_token %}  

      Quantidade mínima no grupo:
      <input type="number" name="min" value="3"><br>
    
      Quantidade máxima no grupo:
      <input type="number" name="max" value="4"><br>

      <input type="submit" value="Reorganizar Grupos" ><br>

    </form>

  {% else %}
    <p>Não existem projetos disponíveis.</p>
  {% endif %} {% endcomment %}

{% endblock %}
