{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 24 de Abril de 2020
{% endcomment %}

{% block head %}
  <style>
    .myButton {
      box-shadow:inset 0px 1px 0px 0px #f9eca0;
      background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
      background-color:#f0c911;
      border-radius:8px;
      border:2px solid #e65f44;
      display:inline-block;
      cursor:pointer;
      color:#c92200;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:4px 22px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ded17c;
    }
    .myButton:hover {
      background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
      background-color:#f2ab1e;
    }
    .myButton:active {
      position:relative;
      top:1px;
    }
  </style>
  <style type="text/css">
    td label { 
       display: block;
       text-align: center;
    }
  </style>
{% endblock %}

{% block content %}
  {% if proposta.titulo %}
    <span class="titulo">Título: {{proposta.titulo}}</span>
    <br>
  {% endif %}
  <strong>Semestre:</strong> {{proposta.ano}}.{{proposta.semestre}}<br>

  <a class="myButton" href="{% url 'proposta_editar' proposta.slug %}">Editar Proposta</a>

  {% for projeto in projetos %}
    <a class="myButton" href="{% url 'projeto_completo' projeto.id %}">Projeto {{projeto.ano}}.{{projeto.semestre}}</a>
  {% endfor %}
  <br><br>

  <strong>Descrição:</strong>
  {{proposta.descricao|linebreaks|urlize}}

  {% if proposta.expectativas %}
    <br><strong>Expectativas de resultados/entregas :</strong>
    {{proposta.expectativas|linebreaks|urlize}}
  {% endif %}

  {% comment %}
    {% if projeto.areas %}
      <br><strong>Áreas da engenharia envolvidas no projeto (habilidade necessárias):</strong> {{ projeto.areas|linebreaks }}
    {% endif %}
  {% endcomment %}

  {% if proposta.recursos %}
    <br><strong>Recursos a serem disponibilizados aos Alunos :</strong>
    {{proposta.recursos|linebreaks|urlize}}
  {% endif %}
  {% if projeto.observacoes %}
    <br><strong>Outras observações :</strong>
    {{proposta.observacoes|linebreaks|urlize}}<br>
  {% endif %}
  {% if proposta.anexo %}
    <br><strong>Anexo :</strong>
    <a class="text-success" href="../..{{MEDIA_URL}}{{proposta.anexo}}">{{proposta.anexo}}</a>
  {% endif %}
  <hr>

  <h3>Organização:
    {% if proposta.organizacao %}
      <a href="{% url 'organizacao_completo' proposta.organizacao.id %}">
        {{proposta.organizacao.nome}}
      </a>
    {% elif proposta.nome_organizacao %}
      {{proposta.nome_organizacao|linebreaks}}
    {% else %}
      Organização não definida.
    {% endif %}
  </h3>
  <p><strong>endereço:</strong>
    {% if proposta.organizacao %}
      <a class="tabulado" href="http://maps.google.com/maps?q={{proposta.organizacao.endereco}}">{{proposta.organizacao.endereco|linebreaks}}</a>
    {% elif proposta.endereco %}
      {{proposta.endereco|linebreaks|urlize}}
    {% else %}
      Endereço não definido.
    {% endif %}
  </p>

  <p><strong>website:</strong>
  {% if proposta.organizacao and proposta.organizacao.website %}
    <a class="tabulado" href="{{ proposta.organizacao.website }}">{{proposta.organizacao.website}}</a>
  {% elif proposta.website %}
    <a class="tabulado" href="{{proposta.website}}">{{proposta.website}}</a>
  {% else %}
    website não definido.
  {% endif %}
  </p>

  {% if proposta.organizacao and proposta.organizacao.informacoes %}
    <strong>Informações sobre a empresa :</strong> 
    {{proposta.organizacao.informacoes|linebreaks|urlize}}<br>
  {% elif proposta.descricao_organizacao %}
    <strong>Informações sobre a empresa :</strong> 
    {{proposta.descricao_organizacao|linebreaks|urlize}}<br>
  {% endif %}

  {% if proposta.departamento %}
    <strong>Informações sobre o departamento na empresa :</strong>
    {{proposta.departamento|linebreaks|urlize}}<br>
  {% endif %}

  <strong>Submetido por:</strong><br>
  {{proposta.nome}}<br><br>

  {% if proposta.contatos_tecnicos %}
    <strong>Contatos Técnicos</strong><br>
    {{proposta.contatos_tecnicos|linebreaks|urlize}}
    <br><br>
  {% endif %}

  {% if proposta.contatos_administrativos %}
    <strong>Contatos Administrativos</strong><br>
    {{proposta.contatos_administrativos|linebreaks|urlize}}
    <br><br>
  {% endif %}

  <hr>
  <h3>Aluno(s) Aplicando para a Proposta</h3>

  {% for estudante in sem_opcao %}
    <a href="{% url 'aluno_detail' estudante.id %}"
      class="dark-green-bold">
        {{estudante.user.get_full_name}}
        [{{ estudante.get_curso_display }}]
        &nbsp;=>&nbsp;SEM PRIORIDADE DEFINIDA
        &nbsp;|
        {% comment %} &nbsp;{ {{estudante.anoPFE}}.{{estudante.semestrePFE}} } {% endcomment %}
        &nbsp;CR={{estudante.cr}}
      <br>
    </a>
  {% endfor %}

  {% for opcao in proposta.opcao_set.all %}
    {% if proposta.ano == opcao.aluno.anoPFE and proposta.semestre == opcao.aluno.semestrePFE %}
    <a href="{% url 'aluno_detail' opcao.aluno.id %}"
       class="
       {% if opcao.aluno in estudantes %}
        {% if opcao.prioridade <= 5 %}green-bold{% else %}yellow-bold{% endif %}
       {% else %}
        {% if opcao.prioridade <= 5 %}green-normal{% else %}yellow-normal{% endif %}
       {% endif %}
       ">
        {{opcao.aluno.user.get_full_name}}
        [{{ opcao.aluno.get_curso_display }}]
        &nbsp;=>&nbsp;opção #{{opcao.prioridade}}
        &nbsp;|
        &nbsp;CR={{opcao.aluno.cr}}
      <br>
    </a>
    {% endif %}
  {% endfor %}
  <p style="line-height:2px">
    --------------------------------------------------------------------------------------
  </p>
  {% for opcao in proposta.opcao_set.all %}
    {% if proposta.ano != opcao.aluno.anoPFE or proposta.semestre != opcao.aluno.semestrePFE %}
    <a href="{% url 'aluno_detail' opcao.aluno.id %}" class="{% if opcao.aluno in estudantes %}red-bold{% else %}red-normal{% endif%}">
        {{opcao.aluno.user.get_full_name}}
        [{{ opcao.aluno.get_curso_display }}]
        &nbsp;=>&nbsp;opção #{{opcao.prioridade}}
        &nbsp;|&nbsp;{ {{opcao.aluno.anoPFE}}.{{opcao.aluno.semestrePFE}} }
        &nbsp;CR={{opcao.aluno.cr}}
      <br>
    </a>
    {% endif %}
  {% endfor %}

  <hr>
  <h3>Áreas de Interesse</h3>
  {% with aa=proposta.areadeinteresse_set.all %}
    {% with vencido=True %}
      {% include "areas.html" %}
    {% endwith %}
  {% endwith %}
  <br>

  {% if proposta.recomendada_set.all %}
  <br><hr>
  <h3>Disciplina(s) Recomendada(s)</h3>
  <table>
    <tr>
      <th>
        Disciplina
      </th>
    </tr>
    {% for rec in proposta.recomendada_set.all %}
    <tr><td>
        {{rec.disciplina.nome}}
    </td></tr>
    {% endfor %}
  </table>
  {% endif %}


  <br><hr>
  <h3>Perfil de Estudantes Desejados para Proposta de Projeto</h3>
  <table>
    <tr>
        <th style="text-align:center" >
            Aluno
        </th>
        <th style="text-align:center" >
            Computação
        </th>
        <th style="text-align:center" >
            Mecânica
        </th>
        <th style="text-align:center" >
            Mecatrônica
        </th>
    </tr>
    <tr> <!-- NAO EH A FORMA MAIS ELEGANTE MAS FUNCIONA POR ENQUANTO -->
      <td>Aluno 1</td>
      <td style="text-align:center;"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosC1" name="alunosC1" value="C1" 
        {% if proposta.perfil_aluno1_computacao %}checked{% endif %}></label></td>
      <td style="text-align:center;"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosM1" name="alunosM1" value="M1" 
        {% if proposta.perfil_aluno1_mecanica %}checked{% endif %}></label></td>
      <td style="text-align:center;"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosX1" name="alunosX1" value="X1" 
        {% if proposta.perfil_aluno1_mecatronica %}checked{% endif %}></label></td>
    </tr>
    <tr>
      <td>Aluno 2</td>
      <td style="text-align:center"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosC2" name="alunosC2" value="C2" 
        {% if proposta.perfil_aluno2_computacao %}checked{% endif %}></label></td>
      <td style="text-align:center"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosM2" name="alunosM2" value="M2" 
        {% if proposta.perfil_aluno2_mecanica %}checked{% endif %}></label></td>
      <td style="text-align:center"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosX2" name="alunosX2" value="X2" 
        {% if proposta.perfil_aluno2_mecatronica %}checked{% endif %}></label></td>
    </tr>
    <tr>
      <td>Aluno 3</td>
      <td style="text-align:center"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosC3" name="alunosC3" value="C3"
        {% if proposta.perfil_aluno3_computacao %}checked{% endif %}></label></td>
      <td style="text-align:center"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosM3" name="alunosM3" value="M3"
        {% if proposta.perfil_aluno3_mecanica %}checked{% endif %}></label></td>
      <td style="text-align:center"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosX3" name="alunosX3" value="X3"
        {% if proposta.perfil_aluno3_mecatronica %}checked{% endif %}></label></td>
    </tr>
    <tr>
      <td>Aluno 4</td>
      <td style="text-align:center"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosC4" name="alunosC4" value="C4"
        {% if proposta.perfil_aluno4_computacao %}checked{% endif %}></label></td>
      <td style="text-align:center"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosM4" name="alunosM4" value="M4" 
        {% if proposta.perfil_aluno4_mecanica %}checked{% endif %}></label></td>
      <td style="text-align:center"><label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosX4" name="alunosX4" value="X4" 
        {% if proposta.perfil_aluno4_mecatronica %}checked{% endif %}></label></td>
    </tr>
  </table>


  <p>&nbsp;</p>
  <form method="post" id="disponibilizacaoform" enctype="multipart/form-data">
    {% csrf_token %}
    <br><b><label for="autorizador">Autorizado por</label></b>:
    <select name="autorizador" id="autorizador" title="Selecione quem autorizou proposta" required>
        <option value='0'> ---- </option>
        {% for pessoa in comite %}
          <option value="{{pessoa.id}}" {% if pessoa.id == proposta.autorizado.id %}selected{% endif %}>
            {{pessoa}}
          </option>  
        {% endfor %}
    </select>

    <br><b>Disponibilizar: </b>
    <label><input type="radio" name="disponibilizar" value="sim"
      {% if proposta.disponivel %}checked{% endif %}
    > Sim</label>
    <label><input type="radio" name="disponibilizar" value="nao"
      {% if not proposta.disponivel %}checked{% endif %}
    > Não</label>

    <br><br>
    <button type="submit">Enviar</button>
  </form>

  <p>&nbsp;</p>

  <p>&nbsp;</p>


  <script>
    $(".alunos").change(function () {
      var vaga = $(this).val();
      var checked = $(this).prop('checked');

      $.ajax({
        url: '{% url "validate_alunos" %}',
        data: {
          'proposta': {{proposta.id}},
          'vaga': vaga,
          'checked': checked,
        },
        dataType: 'json',
        success: function (data) {
          if (data.atualizado) {
            console.log("Valor atualizado.");
          }
        }
      });
    });
  </script>

{% endblock %}