{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Junho de 2019
{% endcomment %}

{% block head %}
{% endblock %}

{% block content %}

  <span class="titulo">Projetos</span>

  {% if mylist %}
    <div>      
      {% for projeto,opcoes in mylist %} 
        {% if projeto.disponivel %}
          <a href="{% url 'projeto_completo' projeto.id %}" class="dark-blue-bold">
            {% if projeto.titulo_final %}{{projeto.titulo_final}}{% else %}{{projeto.titulo}}{% endif %}
            ({{ projeto.organizacao.nome }})
            &nbsp;&nbsp;
            |
            {% if projeto.perfil_aluno1_computacao %}C{% endif %}{% if projeto.perfil_aluno1_mecatronica %}X{% endif %}{% if projeto.perfil_aluno1_mecanica %}M{% endif %}
            |
            {% if projeto.perfil_aluno2_computacao %}C{% endif %}{% if projeto.perfil_aluno2_mecatronica %}X{% endif %}{% if projeto.perfil_aluno2_mecanica %}M{% endif %}
            |
            {% if projeto.perfil_aluno3_computacao %}C{% endif %}{% if projeto.perfil_aluno3_mecatronica %}X{% endif %}{% if projeto.perfil_aluno3_mecanica %}M{% endif %}
            |
            {% if projeto.perfil_aluno4_computacao %}C{% endif %}{% if projeto.perfil_aluno4_mecatronica %}X{% endif %}{% if projeto.perfil_aluno4_mecanica %}M{% endif %}
            |
          </a>
          {% for opcao in opcoes %} 
            <li><a href="{% url 'estudante_detail' opcao.aluno.id %}">{{opcao.aluno.user.get_full_name}} [{{ opcao.aluno.get_curso_display }}]&nbsp;=>&nbsp;prioridade #{{opcao.prioridade}}</a></li>
          {% endfor %}
          <br><br>
        {% endif %}
      {% endfor %}
    </div>

    Total de projetos = {{ length }}

    <hr>
    <form action="" method="post"> {% csrf_token %}  

      Quantidade mínima no grupo:
      <input type="number" name="min" value="3"><br>
    
      Quantidade máxima no grupo:
      <input type="number" name="max" value="4"><br>

      <input type="submit" value="Reorganizar Grupos" ><br>

    </form>

  {% else %}
    <p>Não existem projetos disponíveis.</p>
  {% endif %}

{% endblock %}
