{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 8 de Outubro de 2019
{% endcomment %}

{% block head %}
  <script>
    function mascara(i){
      var v = i.value;
      if(isNaN(v[v.length-1])){ // impede entrar outro caractere que não seja número
          i.value = v.substring(0, v.length-1);
          return;
      }
      i.setAttribute("maxlength", "14");
      if (v.length == 3 || v.length == 7) i.value += ".";
      if (v.length == 11) i.value += "-";
    }
  </script>

  {% comment %} <script src="https://www.geradorcnpj.com/assets/js/jquery.maskedinput-1.1.4.pack.js"></script> {% endcomment %}
  <script src="{% static 'js/jquery.maskedinput-1.1.4.pack.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function(){	
      $("#cpf").mask("999.999.999-99");
    });
  </script>

{% endblock %}

{% block content %}

  <span class="titulo">Formulário de Reembolso</span>
  <br>

  <form method="post" id="reembolsoform" enctype="multipart/form-data">
    {% csrf_token %}

    Por: {{usuario.get_full_name}}<br>
    Projeto: {{projeto.get_titulo}}<br>
    <br>
    Descrição da compra:<br>
    <textarea name="descricao" id="descricao" class="text" cols="60" rows ="4" form="reembolsoform"
    placeholder="Descreva o que esta sendo pedido de reembolso" required></textarea>

    <br><br>
    CPF
    <label for="cpf">CPF:</label> <input type="text" size="14" maxlength="14" id="cpf" name="cpf" value="{{cpf}}"><br>
    
    <input name="cpf" id="cpf" oninput="mascara(this)" type="text" placeholder="000.000.000-00" 
    value="{{usuario.cpf|slice:":3"}}.{{usuario.cpf|slice:"3:6"}}.{{usuario.cpf|slice:"6:9"}}-{{usuario.cpf|slice:"9:11"}}" required><br>
    <br>

    <label for="banco">Banco</label>
    <select name="banco" id="banco" title="Selecione o banco" required>
        <option disabled selected value> -- selecione um banco -- </option>
        {% for b in bancos %}
        <option value="{{b.codigo}}">{{b.nome}} ({{b.codigo}})</option>  
        {% endfor %}
    </select>
    <br>

    Agência   
    <input name="agencia" type="text" id="agencia" size="8" required/>  
    <br>

    Conta   
    <input name="conta" type="text" id="conta" size="10" required/>  
    <br>
    <br>

    Arquivo com cópias das notas fiscais<br>
    <small>(se forem vários arquivos coloque eles em um arquivo zip para enviar)<br></small>
    <input type="file" name="arquivo" required>

    <br>
    <br>
    Valor
    <input type="number" min="0.01" step="0.01" max="1500" name="valor" id="valor" placeholder="0,00" required/>

    <br><br>
    <button type="submit">Enviar</button>

    <br><br>
    Obs: Este formulário só serve para controle interno, você deve imprimir todos os documentos e levar para o departamento
    de carreiras para de fato iniciar o processo de reembolso.
    
    <p>&nbsp;</p>
  </form>
{% endblock %}