{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 23 de Julho de 2025
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  {% include "botao_adiciona.html" with url_add="cria_reuniao" url_param=todos txt_pt="Registrar Nova Reunião" txt_en="Register New Meeting" %}

  {% include "tabelas_top_ml.html" with tabela="Reunioes" cabecalhos=cabecalhos %}
    {% for reuniao in reunioes %} 
      <tr class="item">
        <th scope="row"><a href="{% url 'edita_reuniao' reuniao.id %}">{{reuniao.titulo}}</a></th>
        <td><a href="{% url 'projeto_infos' reuniao.projeto.id %}">{{reuniao.projeto}}</a></td>
        {% comment %} <td data-sort="{{reuniao.data_hora|date:'Y-m-d\TH:i:s' }}">{{reuniao.data_hora|date:"d/m/Y H:i"}}</td> {% endcomment %}
        <td data-sort="{{reuniao.data_hora|date:'Y-m-d\TH:i:s' }}">{{reuniao.data_hora|date:"d/m/Y H:i"}}</td>
        <td>{{reuniao.local}}</td>
        <td><div style="line-height: 1.10; font-size: 0.8em;">
          {% for rp in reuniao.participantes_reuniao.all %}
            {% if rp.situacao == 1 %} {% comment %} (1, "Presente"), {% endcomment %}
              &bull; {{ rp.participante.get_full_name }}<br> {% comment %} ({{ rp.get_situacao_display }}) {% endcomment %}
            {% endif %}
          {% endfor %}
        </div></td>
      </tr>
    {% endfor %}
  {% include "tabelas_bottom.html" %}

  <script>
    function carrega_pagina(){
      {% include "tabelas_scripts.html" with tabela="Reunioes" %}
    }
    window.onload = carrega_pagina
  </script>

{% endblock %}