{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
{% endblock %}

{% block content %}

    {% if vencido %}
      <h2 class="red-bold">Você não está cadastrado como aluno.</h2>
    {% else %}

      {% if ano != user.aluno.anoPFE or semestre != user.aluno.semestrePFE %}
        <h2 class="red-bold">Você não está registrado para o PFE em {{ano}}.{{semestre}}</h2>
        <h3 class="red-bold">Caso acredite que existe algum erro na informação, por favor contactar a coordenação do PFE</h3>
        <br>
      {% endif %}

    {% endif %}
    
    <span class="titulo">Propostas de Projetos Disponíveis</span>
    <br>
    
    {% if propostas %}
      <form action="" method="post"> {% csrf_token %}
        {% if liberadas_propostas %}
          <table>
            {% for proposta in propostas %} 
              {% if proposta.disponivel %}
                <tr>
                  <td>
                    <select id="selection{{proposta.pk}}" name="selection{{proposta.pk}}" 
                    {% if vencido %}disabled{% endif %}></select>
                    <script type="text/javascript">
                      var select = document.getElementById("selection{{proposta.pk}}");
                      select.options[select.options.length] = new Option("--", 0);
                      for(var index=1; index<={{propostas|length}}; index++){
                        select.options[select.options.length] = new Option(index, index);
                      }

                      // Para agora nao encontrei forma mais inteligente de fazer isso
                      {% for opcao in opcoes %} 
                        {% if opcao.proposta.pk == proposta.pk %}
                        select.selectedIndex = {{ opcao.prioridade }};
                        {% endif %}
                      {% endfor %}

                    </script>
                  </td>
                  <td>
                    <a href="{% url 'proposta_detalhes' proposta.pk %}">
                      {% if proposta.titulo %}
                        {{proposta.titulo}}
                      {% else %}
                        PROBLEMA EM RECUPERAR TÍTULO DA PROPOSTA
                      {% endif %}
                      <font color="darkblue">
                        {% if proposta.nome_organizacao %}
                          ({{ proposta.nome_organizacao }})
                        {% elif proposta.organizacao and proposta.organizacao.nome %}
                          ({{ proposta.organizacao.nome }})
                        {% else %}
                          PROBLEMA EM RECUPERAR ORGANIZAÇÃO DA PROPOSTA
                        {% endif %}
                      </font>
                    </a>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>
          <p>&nbsp;</p>
        {% else %}
          Propostas ainda não liberadas.
        {% endif %}

        <font color="red">
          {{warnings|linebreaks}}
        </font>
        
        <input type="submit" value="Enviar" {% if vencido %}disabled{% endif %}>

        <small><font color="red">
          Selecione ao menos 5 propostas de projetos (1 ao 5), sendo 1 para a que você tem mais interesse.
        </font></small>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

      </form>

    {% else %}
      <p>Não existem Propostas de Projetos disponíveis.</p>
    {% endif %}

{% endblock %}