{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
<style>
textarea {
  max-width:100%;
}
</style>
<script>
  //var popUpList = $('<div><input type="radio">A<br><input type="radio">B<br><input type="radio">C</div>');
  $(document).ready(function(){
    $("small").click(function(){
      alert("{% for e in entidades %}• {{e.nome}}\n{% endfor %}");
      //popUpList.dialog();
    });
  });
</script>
{% endblock %}

{% block content %}

  <h5>Formulário de Informações Adicionais</h5><br>

  <form action="" method="post"> {% csrf_token %}  

    Você já trabalhou e/ou estagiou em alguma empresa de engenharia?<br>
    Se sim, qual/quais?<br>
    <textarea name="trabalhou" rows="4" cols="80" maxlength="1000">{{trabalhou}}</textarea>
    <br><br>

    Você já participou de atividades sociais?<br>
    Se sim, qual/quais?<br>
    <textarea name="social" rows="4" cols="80" maxlength="1000">{{social}}</textarea>
    <br><br>

    Você já participou de alguma entidade estudantil do Insper?<br>
    Liste as que você já participou?<br>
    <!-- Pegar Script para preencher entidades automaticamente -->
    <textarea name="entidade" rows="4" cols="80" maxlength="1000">{{entidade}}</textarea>
    <br>
    <small><u>Lista de Entidades.</u></small>
    <br><br>

    Você possui familiares em alguma empresa que está aplicando? Ou empresa concorrente direta?<br>
    Se sim, qual/quais? Qual seu grau de relacionamento.<br>
    <textarea name="familia" rows="4" cols="80" maxlength="1000">{{familia}}</textarea>
    <br><br>

    <input type="submit" value="Enviar">

  </form>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

{% endblock %}