{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 18 de Novembro de 2019
{% endcomment %}

{% block head %}
<script src="https://www.w3schools.com/lib/w3.js"></script>
{% endblock %}

{% block content %}
  <h3>Parceiros Profissionais</h3>
  {% if pareceiros %}
    <table id="ParceirosTable">
      <tr>
        <th onclick="w3.sortHTML('#ParceirosTable', '.item', 'td:nth-child(1)')" style="cursor:pointer" class="text-center">Nome</th>
        <th onclick="w3.sortHTML('#ParceirosTable', '.item', 'td:nth-child(2)')" style="cursor:pointer" class="text-center">Cargo</th>
        <th onclick="w3.sortHTML('#ParceirosTable', '.item', 'td:nth-child(3)')" style="cursor:pointer" class="text-center">Organização</th>
        <th onclick="w3.sortHTML('#ParceirosTable', '.item', 'td:nth-child(4)')" style="cursor:pointer" class="text-center">e-mail</th>
        <th onclick="w3.sortHTML('#ParceirosTable', '.item', 'td:nth-child(5)')" style="cursor:pointer" class="text-center">telefone</th>
        <th class="text-center">papel</th>
      </tr>
      {% for parceiro in pareceiros %} 
        <tr class="item" {% if not parceiro.user.is_active %} style="color: lightgrey;" {% endif %}>
          <td>
            {{parceiro.user.first_name}} {{parceiro.user.last_name}} 
          </td>
          <td>
            {{parceiro.cargo}} 
          </td>
          <td class="text-center">
            <a href="{% url 'organizacao' parceiro.organizacao.login %}"
            {% if not parceiro.user.is_active %} style="color: lightgrey;" {% endif %}> <!-- UM DIA ACERTAR ISSO -->
              {{parceiro.organizacao.sigla}}
            </a>
          </td>
          <td>
            <a href="mailto:{{parceiro.user.email}}"
             {% if not parceiro.user.is_active %} style="color: lightgrey;" {% endif %}>
              &lt;{{parceiro.user.email}}&gt;
            </a>
          </td>
          <td>
            {% if parceiro.telefone %}
              {{parceiro.telefone}}
              {% if parceiro.celular %} 
                &nbsp;/&nbsp;
                {{parceiro.celular}}
              {% endif %}
            {% elif parceiro.celular %}
              {{parceiro.celular}}
            {% endif %}
          </td>
          <td>
            {% if parceiro.gestor_responsavel %}GR{% endif %}
            {% if parceiro.mentor_tecnico %}MT{% endif %}
            {% if parceiro.recursos_humanos %}RH{% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <small>GR: Gestor Responsável / MT: Mentor Técnico / RH: Recursos Humanos</small>
  {% else %}
    <p>Não existem parceiros cadastradas.</p>
  {% endif %}
  <p>&nbsp;</p>
{% endblock %}