{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 21 de Março de 2025
{% endcomment %}

$(".show-hide").click(function() {
  
  click = $(this);
  var filterValue = click.attr("data-type");

  var row = $(".acompanhamentos");
  row.each(function(i, el) {
    if( filterValue == $(el).attr("data-type") ) {
      if(click.attr("data-hide") === "false") {
        $(el).removeClass("visible");
        $(el).addClass("hidden");
      } else {
        $(el).removeClass("hidden");
        $(el).addClass("visible");
      }
    }
  });

  if(click.attr("data-hide") === "false") {
    click.attr("data-hide", "true");
    click.css({background: "linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%)"});
  } else {
    click.attr("data-hide", "false");
    click.css({background: click.attr("data-color") });
  }

});

function preenche_cursos(tipo_retorno, filtradas) {
  if (!cursos_organizacoes[tipo_retorno]) return "";
  let total = 0;
  let mensagem = Object.entries(cursos_organizacoes[tipo_retorno])
    .map(([sigla_curso, count]) => {
      sigla_curso = sigla_curso || "?"; // Se não tiver curso, coloca "?"
      total += count;
      return `${sigla_curso}:${count}`;
    }).join(", ");
  let percentage = Math.round((total / filtradas) * 100);
  return ` = ${total} [${percentage}%] (${mensagem})`;
}

{% comment %} Usado em Organizacoes_Prospectadas {% endcomment %}
function atualiza_situacoes_cursos() {
  var filtradas = $(".acompanhamentos_tr:visible").length;
  $("#calc_orgs").html(filtradas);
  $(".calc_aux").css("font-size", "0.8em");
  {% for tipo in tipo_retorno %}
    document.getElementById("retorno{{tipo.id}}").innerHTML = preenche_cursos({{tipo.id}}, filtradas);
  {% endfor %}
}

{% comment %} Usado em Organizacoes_Projetos {% endcomment %}
function atualiza_situacoes() {
  $(".calc_aux").css({fontWeight: "bold", color: "darkred"});
  {% for tipo in tipo_retorno %}
    var filtered = $(".anotacoes div.mostra_anot");
    var count = 0;
    for(var i = 0; i < filtered.length; i++) {
      for(var j = 0; j < filtered[i].children.length; j++) {
        var el = filtered[i].children[j];
        if ($(el).hasClass("visible")) {
          if ($(el).attr("data-type") == "{{tipo.id}}") count++;
          break;
        }
      }
    }
    if (count > 0) {
      document.getElementById("retorno{{tipo.id}}").innerHTML = "(" + count + ")";
    } else {
      document.getElementById("retorno{{tipo.id}}").innerHTML = "";
    }
  {% endfor %}
}
