{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Janeiro de 2025
{% endcomment %}

{% load static %}
{% load linguas %}
{% load get_field %}

{% if questoes_funcionalidade  %}

  <style>
    table#disfuncoes td {
      padding: 2px 5px;
    }
  </style>

  <table class="tabela-padrao table-striped table-hover table-responsive mb-4" {% if esconde_perg %}style="display: none;"{% endif %}>
    <thead>
      <tr>
        <th class="hide-on-narrow">#</th>
        <th>{% lng "Questão" "Question" %}</th>
        <th colspan="{{ funcionalidade_grupo|length }}">{% lng "Frequência" "Frequency" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for questao in questoes_funcionalidade.questoes %}
        <tr>
          {% with q=forloop.counter %}
            <td class="hide-on-narrow" style="text-align:center">{{ q }}</td>
            <td>{{ questao }}</td>
            {% with question_key="question_"|concat:q|stringformat:"s" %}
              {% for funcionalidade in funcionalidade_grupo %}
                <td>
                  {% with f=funcionalidade|get_attr:question_key %}
                    {% if ver %}
                      {% if f == 1 %}<input type="radio" name="{{ forloop.counter0 }}question_{{ q }}" value="1" checked style="display:none;">{% lng "Baixa" "Low" %}{% endif %}
                      {% if f == 2 %}<input type="radio" name="{{ forloop.counter0 }}question_{{ q }}" value="2" checked style="display:none;">{% lng "Média" "Medium" %}{% endif %}
                      {% if f == 3 %}<input type="radio" name="{{ forloop.counter0 }}question_{{ q }}" value="3" checked style="display:none;">{% lng "Alta" "High" %}{% endif %}
                    {% else %}
                      <label><input type="radio" name="question_{{ q }}" value="1" {% if f == 1 %}checked{% endif %}> {% lng "Baixa" "Low" %}</label><br>
                      <label><input type="radio" name="question_{{ q }}" value="2" {% if f == 2 %}checked{% endif %}> {% lng "Média" "Medium" %}</label><br>
                      <label><input type="radio" name="question_{{ q }}" value="3" {% if f == 3 %}checked{% endif %}> {% lng "Alta" "High" %}</label>
                    {% endif %}
                  {% endwith %}
                </td>
              {% endfor %}
            {% endwith %}
          {% endwith %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h5>Disfunções de Equipe</h5>
  <table id="disfuncoes" class="table-hover table-condensed table-responsive">
    <tbody>
      {% for disfuncao in questoes_funcionalidade.disfuncoes %}
        <tr id="r{{ forloop.counter0 }}">
          <td>Disfunção {{ forloop.counter }} - {{ disfuncao }}</td>
          <td><span id="d{{ forloop.counter0 }}" class="badge badge-secondary">0</span></td>
          <td><span id="o{{ forloop.counter0 }}"></span></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    function calc_grupo() {

      var scores = [0, 0, 0, 0, 0];
      var questionMap = {
        4: 0, 6: 0, 12: 0,
        1: 1, 7: 1, 10: 1,
        3: 2, 8: 2, 13: 2,
        2: 3, 11: 3, 14: 3,
        5: 4, 9: 4, 15: 4
      };

      $("input[type=radio]:checked").each(function() {
        var q = $(this).attr("name").split('_')[1];
        var v = parseInt($(this).val(), 10);
        if (questionMap.hasOwnProperty(q)) {
          scores[questionMap[q]] += v;
        }
      });

      
      for (var key = 0; key < scores.length; key++) {
        $('#d' + key).text(scores[key]);
        {% if funcionalidade_grupo|length <= 1 %}
          var message = "";
          var color = "";
          if (scores[key] > 2 && scores[key] < 6) {
              message = "disfunção precisa ser trabalhada";
              color = "#ffcccc";
          } else if (scores[key] > 7) {
              message = "disfunção provavelmente não é um problema em sua equipe";
              color = "#ccffcc";
          } else if (scores[key] > 5 && scores[key] < 8) {
              message = "disfunção pode ser um problema";
              color = "#ffffcc";
          } else {
              message = "";
              color = "#ffffff";
          }
          $("#o" + key).text(message);
          $("#r" + key).css("background-color", color);
        {% endif %}
      }

    };

    $(document).ready(function() {
      $("input[type=radio]").change(function() {
        $.ajax({
          data: {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "questao": $(this).attr("name"),
            "valor": $(this).val()
          },
          dataType: "JSON",
          type: "POST",
          success: function(data) {},
          {% include "ajax_error_function.js" %}
        });
        calc_grupo();
      });
      calc_grupo();
    });

  </script>

{% endif %}