{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 25 de Abril de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load escape_emails %}
  {% load nospaces %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
  <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>

  <style>
    #certificados {
      border: 0px;
      border-collapse: separate;
      border-spacing: 0em 1em;
      padding-left: 0px;
      padding-right: 0px;
    }
    #certificados td {
      padding: 1rem 1.2rem;
      border-radius: 6px;
      border-width: 3px;
      border-style: solid;
      background-color: #F0F0F0;
    }

    {% for tipo in grupos_certificados %}
      tr.certificado{{tipo.sigla}} td {border-color: #{{tipo.cor}};}
    {% endfor %}

  </style>

{% endblock %}

{% block content %}

  {% include "edicoes.html" %}

  {% if gerados %}
    <br><h4>{{ gerados }} {% lng "novos certificados gerados." "new certificates generated." %}</h4>
  {% endif %}

  <div id="atualizar">

    <div class="table-responsive">
      <table id="certificados">
        {% for certificado in certificados %}
          <tr class="certificado{{certificado.tipo_certificado.grupo_certificado.sigla}} certificado">
            <td>
              <b style="font-weight: bold; font-size: 1.2em;">
                {% if certificado.tipo_certificado %}
                  {{certificado.tipo_certificado}}
                {% else %}
                  {% lng "Certificado" "Certificate" %}
                {% endif %}
              </b><br>
              <b>{% lng "Nome" "Name" %}</b>:
              {% if certificado.usuario %}
                {% if certificado.usuario.eh_estud %}
                  <a href="{% url 'estudante_detail' certificado.usuario.aluno.id %}">{{certificado.usuario.get_full_name}}</a> (estudante)<br>
                {% elif certificado.usuario.eh_prof_a %}
                  <a href="{% url 'professor_detail' certificado.usuario.professor.id %}">{{certificado.usuario.get_full_name}}</a> (professor)<br>
                {% else %}
                  {{certificado.usuario.get_full_name}}<br>
                {% endif %}
              {% endif %}

              {% if certificado.projeto %}
                <b>{% lng "Data do certificado" "Certificate date" %}:</b>
                {{certificado.data|date:"DATE_FORMAT"}}<br>
              {% endif %}

              {% include "cabecalho_projeto.html" with projeto=certificado.get_projeto com_semestre=True sem_email=True %}

              {% if certificado.documento %}
                <b>{% lng "Certificado" "Certificate" %}:</b> 
                <a href="{{ certificado.documento.url }}" target="_blank" rel="noopener noreferrer">{{ certificado.file_name }}</a><br>
              {% endif %}
              
              <a data-toggle="tooltip" data-html="true" animation="true" title="Janela de Mensagem" class="open-modal"
                data-url="{% url 'mensagem_email' 'certificado' certificado.id %}" href="{% url 'mensagem_email' 'certificado' certificado.id %}"> 
                &#x2709; {% lng "Enviar certificado" "Send certificate" %}
              </a>
            </td>
          </tr>

        {% empty %}
          <tr><td style="border: 0px;">
            {% lng "Não existem certificados." "There are no certificates." %}
          </td></tr>
        {% endfor %}
      </table>
    </div>

  </div>
  
  <br>
  <div class="contagem">
    <b>{% lng "Quantidades" "Quantities" %}</b><br>
    {% for tipo in grupos_certificados %}
      &bull; {{tipo.nome}}: <span id="t_{{tipo.sigla}}"></span><br>
    {% endfor %}
    <b>&bull; Total: <span id="t_total"></span><b><br>
  </div>

  <script>
    function conta() {
      {% for tipo in grupos_certificados %}
        $("#t_{{tipo.sigla}}").text($(".certificado{{tipo.sigla}}:visible").length);
      {% endfor %}
      $("#t_total").text($(".certificado:visible").length);
    }

    // routine to check the state of each option in #tipos and show/hide the corresponding rows
    function esconde_mostra_opcoes() {
      $("#tipos").find("option").each(function(index, element){
        if($(element).is(":selected")){
          {% for tipo in grupos_certificados %}
            if(element.value == "{{tipo.sigla}}"){$(".certificado{{tipo.sigla}}").show();}
          {% endfor %}
        } else {
          {% for tipo in grupos_certificados %}
            if(element.value == "{{tipo.sigla}}"){$(".certificado{{tipo.sigla}}").hide();}
          {% endfor %}
        }
      });
    }

    $("#tipos").on("changed.bs.select", function (e, clickedIndex, isSelected, previousValue) {
      esconde_mostra_opcoes();
      conta();
    });
    
  </script>

  <script>

    var request_ajax_c = null;

    var xhrCount = 0;  // Para contar as chamadas e usar somente a última
      
    function recarregar_pagina() {

      var seqNumber = ++xhrCount;

      $(".to_label").addClass("label_animado");
      
      var edicao = $("#filterEdicao option:selected").attr("value");

      request_ajax_c = $.ajax({
        type: "POST",
        url: "{% url 'certificados_submetidos' %}",
        data: {
            edicao: edicao,
            "csrfmiddlewaretoken": "{{ csrf_token }}",
        },
        success: function(response){
          if (seqNumber === xhrCount) { {% comment %} Processando resposta {% endcomment %}
            $("#atualizar").replaceWith($("#atualizar", response));
            $(".tooltip-inner").remove();
            $(".tooltip-arrow").remove();
            if (typeof carrega_pagina === "function") {
              carrega_pagina();
            }
            $(".to_label").removeClass("label_animado");
          }
        },
        {% include "ajax_error_function.js" %}
      });
    };

    $(".filter").change(recarregar_pagina);

    function carrega_pagina() {
      conta();
      esconde_mostra_opcoes();
    };

    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
      setTimeout(function () {recarregar_pagina();}, 20);
      carrega_pagina();
    };

    $(document).ready(function() {
      carrega_site();
    });

  </script>

  {% include "base-modal.html" %}

{% endblock %}