{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 25 de Abril de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load escape_emails %}
  {% load nospaces %}

  <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
  <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>

  <style>
    table {
      border: 0px;
      border-collapse: separate;
      border-spacing: 1em;
      padding-left: 0px;
      padding-right: 0px;
    }
    td {
      padding: 1rem 1.2rem;
      border-radius: 6px;
      border-width: 3px;
      border-style: solid;
      background-color: #F0F0F0;
    }

    td.estudantes {border-color: #FF0000;}
    td.orientador {border-color: #0000FF;}
    td.coorientador {border-color: #00FF00;}
    td.banca {border-color: #FF00FF;}
    td.mentoria_profissional {border-color: #FFFF00;}
    td.mentoria_tecnica {border-color: #00FFFF;}

  </style>

{% endblock %}

{% block content %}

  <span class="titulo">Certificados</span>

  {% comment %} Seletor da edição da pesquisa {% endcomment %}
  {% include "edicoes.html" %}

  <div class="row align-items-start mb-2" style="display: inline-block; margin-right: 3px;">
    <div class="ml-3">
      <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="filterEdicao" onClick="recarregar_pagina()"><span class="to_hide">Tipos</span></label>
          </div>
          <select id="tipos" class="selectpicker form-control form-control-sm" data-style="mr-sm border " data-width="10em"
                  title="Nada selecionado"
                  multiple>
            <option {% if not tipos or "E" in tipos %}selected="selected"{% endif %} title="E">Estudantes (Certificação Falconi, etc)</option>
            <option {% if not tipos or "O" in tipos %}selected="selected"{% endif %} title="O">Orientadores</option>
            <option {% if not tipos or "C" in tipos %}selected="selected"{% endif %} title="C">Coorientadores</option>
            <option {% if not tipos or "B" in tipos %}selected="selected"{% endif %} title="B">Bancas</option>
            <option {% if not tipos or "MT" in tipos %}selected="selected"{% endif %} title="MT">Mentorias Técnicas</option>
            <option {% if not tipos or "MP" in tipos %}selected="selected"{% endif %} title="MP">Mentorias Profissional (antiga Mentorial Falconi)</option>
          </select>
      </div>
    </div>
  </div>

  <script>

    function conta() {
      $("#t_estudantes").text($(".estudantes:visible").length);
      $("#t_orientador").text($(".orientador:visible").length);
      $("#t_coorientador").text($(".coorientador:visible").length);
      $("#t_banca").text($(".banca:visible").length);
      $("#t_mentoria_tecnica").text($(".mentoria_tecnica:visible").length);
      $("#t_mentoria_profissional").text($(".mentoria_profissional:visible").length);
      $("#t_total").text($(".certificado:visible").length);
    }
    
    $('#tipos').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            if(clickedIndex == 0){if(isSelected){$('.estudantes').show();}else{$('.estudantes').hide();}
      }else if(clickedIndex == 1){if(isSelected){$('.orientador').show();}else{$('.orientador').hide();}
      }else if(clickedIndex == 2){if(isSelected){$('.coorientador').show();}else{$('.coorientador').hide();}
      }else if(clickedIndex == 3){if(isSelected){$('.banca').show();}else{$('.banca').hide();}
      }else if(clickedIndex == 4){if(isSelected){$('.mentoria_tecnica').show();}else{$('.mentoria_tecnica').hide();}
      }else if(clickedIndex == 5){if(isSelected){$('.mentoria_profissional').show();}else{$('.mentoria_profissional').hide();}
      }
      conta();
    });
  </script>

  {% if gerados %}
    <br><br><h4>{{ gerados }} certificados gerados.</h4>
  {% endif %}

  <div class="table-responsive">
  <table id="certificados">

    {% if certificados %}

      {% for certificado in certificados %}

      <tr>
        {% if certificado.tipo_de_certificado < 100 %}
          <td class="estudantes certificado">
        {% elif certificado.tipo_de_certificado == 101 %}
          <td class="orientador certificado">
        {% elif certificado.tipo_de_certificado == 102 %}
          <td class="coorientador certificado">
        {% elif certificado.tipo_de_certificado == 103 or certificado.tipo_de_certificado == 104 or certificado.tipo_de_certificado == 105 %}
          <td class="banca certificado">
        {% elif certificado.tipo_de_certificado == 106 %}
          <td class="mentoria_profissional certificado">
        {% elif certificado.tipo_de_certificado == 107 %}
          <td class="mentoria_tecnica certificado">
        {% endif %}
        
          <b style="font-weight: bold; font-size: 1.2em;">{{certificado.get_certificado}}</b><br>
          <b>Nome:</b>
          {% if certificado.usuario %}
            {% if certificado.usuario.tipo_de_usuario == 1 %}
              <a href="{% url 'estudante_detail' certificado.usuario.aluno.id %}">{{certificado.usuario.get_full_name}}</a> (estudante)<br>
            {% elif certificado.usuario.tipo_de_usuario == 2 or certificado.usuario.tipo_de_usuario == 4 %}
              <a href="{% url 'professor_detail' certificado.usuario.professor.id %}">{{certificado.usuario.get_full_name}}</a> (professor)<br>
            {% else %}
              {{certificado.usuario.get_full_name}}<br>
            {% endif %}
          {% endif %}

          {% if certificado.projeto %}
            <b>Data do certificado:</b> {{certificado.data|date:"DATE_FORMAT"}}<br>
          {% endif %}

          {% if certificado.projeto %}
            <b>Projeto:</b> <a href="{% url 'projeto_completo' certificado.projeto.id %}">
              {{certificado.projeto.get_titulo}}
            </a><br>
            <b>Período de projeto:</b> {{certificado.projeto.ano}}.{{certificado.projeto.semestre}}<br>
            <b>Organização:</b> <a href="{% url 'organizacao_completo' certificado.projeto.organizacao.id %}">{{ certificado.projeto.organizacao.nome }}</a><br>
          {% endif %}

          {% if certificado.documento %}
            {% comment %} <a href="{{ certificado.documento.url }}"><img style="max-height:240px;" src="{{ certificado.documento.url }}" alt="Certificado {{ certificado.usuario }} {{ certificado.projeto }}"></a><br> {% endcomment %}
            <b>Certificado:</b> 
            <a href="{{ certificado.documento.url }}" target="_blank" rel="noopener noreferrer">{{ certificado.file_name }}</a><br>
          {% endif %}
          
          
          {% nospaces %}
          &#x2709; Enviar certificado (
          {% with servidor='https://pfe.insper.edu.br' %}
          <a 
          {% nospacesmailto %}href="mailto:{{certificado.usuario.get_full_name|parse_quote}}%20&lt;{{certificado.usuario.email }}&gt;?cc={{coordenacao.user.get_full_name}}&lt;{{coordenacao.user.email}}&gt;
            &amp;subject=PFE%20Insper%20:
            {% if certificado.tipo_de_certificado == 101 %}
              Orientação de Projeto
            {% elif certificado.tipo_de_certificado == 102 %}
              Coorientação de Projeto
            {% elif certificado.tipo_de_certificado == 103 %}
              Membro de Banca Intermediária
            {% elif certificado.tipo_de_certificado == 104 %}
              Membro de Banca Final
            {% elif certificado.tipo_de_certificado == 105 %}
              Membro de Banca Falconi
            {% elif certificado.tipo_de_certificado == 106 %}
              Mentoria de Projeto
            {% elif certificado.tipo_de_certificado == 107 %}
              Mentoria de Projeto
            {% endif %}
            {% with formatada=True %}
              &amp;body={% include 'mensagem_certificados.html' %}
            {% endwith %}
            "{% endnospacesmailto %}
            target="_blank" rel="noopener noreferrer">
            formatado
          </a>
          /
          <a 
          {% nospacesmailto %}href="mailto:{{certificado.usuario.email}}?cc={{coordenacao.user.email}}&amp;subject=PFE%20Insper%20:
            {% if certificado.tipo_de_certificado == 101 %}
              Orientação de Projeto
            {% elif certificado.tipo_de_certificado == 102 %}
              Coorientação de Projeto
            {% elif certificado.tipo_de_certificado == 103 %}
              Membro de Banca Intermediária
            {% elif certificado.tipo_de_certificado == 104 %}
              Membro de Banca Final
            {% elif certificado.tipo_de_certificado == 105 %}
              Membro de Banca Falconi
            {% elif certificado.tipo_de_certificado == 106 %}
              Mentoria de Projeto
            {% elif certificado.tipo_de_certificado == 107 %}
              Mentoria de Projeto
            {% endif %}
            {% with formatada=False %}
            &amp;body={% include "mensagem_certificados.html" %}
            {% endwith %}
            "{% endnospacesmailto %}
            target="_blank" rel="noopener noreferrer">
            não formatado
          </a>
          {% endwith %}
          )
          {% endnospaces %}
          
        </td>
      </tr>

      {% endfor %}
    
    {% else %}
      <tr><td style="border: 0px;">Não existem certificados.</td></tr>
    {% endif %}
  
  </table>
  </div>

  <br>
  <div class="contagem">
    <b>Quantidades</b><br>
    &bull; Estudantes: <span id="t_estudantes"></span><br>
    &bull; Orientador: <span id="t_orientador"></span><br>
    &bull; Coorientador: <span id="t_coorientador"></span><br>
    &bull; Banca: <span id="t_banca"></span><br>
    &bull; Mentoria Técnica: <span id="t_mentoria_tecnica"></span><br>
    &bull; Mentoria Profissional: <span id="t_mentoria_profissional"></span><br>
    <b>&bull; Total: <span id="t_total"></span><b><br>
  </div>
  
  <script>

    function carrega_pagina() {
      conta();
    };

    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
      carrega_pagina();
    };

    window.onload = carrega_site

    var request_ajax_c = null;

    var xhrCount = 0;  // Para contar as chamadas e usar somente a última

    $(".filter").change(function(){

      var seqNumber = ++xhrCount;

      $(".to_label").addClass("label_animado");
      
      var edicao = $("#filterEdicao option:selected").attr("value");

      request_ajax_c = $.ajax({
        type: "POST",
        url: "{% url 'certificados_submetidos' %}",
        data: {
            edicao: edicao,
            "csrfmiddlewaretoken": "{{ csrf_token }}",
        },
        success: function(response){
          if (seqNumber === xhrCount) { {% comment %} Processando resposta {% endcomment %}
            $("#certificados").replaceWith($("#certificados",response));
            $(".tooltip-inner").remove();
            $(".tooltip-arrow").remove();
            carrega_pagina()
            $(".to_label").removeClass("label_animado");
          } // else {% comment %} Ignorando resposta {% endcomment %}
        },
        {% include "ajax_error_function.js" %}
    });
  });

  </script>

{% endblock %}