{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 29 de Novembro de 2023
{% endcomment %}

{% block head %}

  {% load static %}
  {% load tipo_documento %}

  {% include "tabelas_includes.html" %}

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

{% endblock %}

{% block content %}

  {% include "impressora.html" %}

  <span class="titulo">Contratos Assinados</span>

  {% comment %} Seletor da edição da pesquisa {% endcomment %}
  {% include "edicoes.html" %}

  <br>
  
  <div class="atualizar">

    <div class="table-responsive">

      <table id="ProjetosTable" class="table table-bordered table-hover table-sm" style="width: 100%;">

        <thead class="table-info">
          <tr>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Organização</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Projeto</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Conexões</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Estudantes</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Orientador</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Período</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Contrato(s)</span></th>
          </tr>
        </thead>
        <tbody>
          {% for projeto in projetos %} 
            <tr class="item">

              <td> <!-- Organização -->
                {% if projeto and projeto.organizacao %}
                  <a class="imprimir" href="{% url 'organizacao_completo' projeto.organizacao.id %}">
                    {{ projeto.organizacao.sigla }}
                  </a>
                {% else %}
                  ORGANIZAÇÃO NÃO DEFINIDA
                {% endif %}
              </td>
              
              <td> <!-- Projeto -->
                <a style="font-size: 0.9em;" class="imprimir" href="{% url 'projeto_completo' projeto.id %}">
                  {% if projeto.titulo_final %}
                    {{projeto.titulo_final}}
                    <span class="tit_ori">
                      <br>
                      <small>Título original: {{projeto.titulo}}</small>
                    </span>
                  {% else %}
                    {{projeto.titulo}}
                  {% endif %}
                  {% include "tipo_projeto.html" %}
                </a>
              </td>
              
              <!-- Conexões -->
              <td style="min-width:18em;">
                <small>
                <ul style="padding-left: 20px;margin-bottom: 0px;">
                  {% for conexao in projeto.conexao_set.all %}
                    <li>
                      <a class="imprimir" href="{% url 'parceiro_detail' conexao.parceiro.id %}">
                        {{ conexao.parceiro.user.get_full_name }}
                      </a>
                      {% for papel in conexao.get_papeis %}[{{papel.0}}] {% endfor %}
                    </li>
                  {% endfor %}
                </ul>
                </small>
              </td>

              <!-- Estudantes -->
              <td style="min-width:18em;">
                <small>
                <ul class="grupo" style="padding-left: 20px;margin-bottom: 0px;">
                  {% for alocacao in projeto.alocacao_set.all %}
                    <li>
                      <a class="imprimir" href="{% url 'estudante_detail' alocacao.aluno.id %}">
                        {{alocacao.aluno}}
                      </a>
                      <span class="curso">
                        [{{ alocacao.aluno.curso2 }}]
                      </span>
                    </li>
                  {% endfor %}
                </ul>
                </small>
              </td>

              <!-- Orientador -->
              <td>
                <small>
                  {% if projeto.orientador %}
                    <a class="imprimir" href="{% url 'professor_detail' projeto.orientador.id %}">
                      {{ projeto.orientador }}
                    </a>
                  {% else %}
                    ORIENTADOR NÃO DEFINIDO
                  {% endif %}

                  {% with coorientadores=projeto.coorientador_set.all %}
                    {% if coorientadores %}
                    <span class="coorientadores">
                    <br>coorientador:
                      {% for coorientador in coorientadores %}
                          <a class="imprimir" href="{% url 'user_detail' coorientador.usuario.id %}">
                            {{coorientador.usuario.get_full_name}} 
                          </a>
                          {% comment %} <a class="email" href="mailto:{{coorientador.usuario.email}}">&lt;{{coorientador.usuario.email}}&gt;</a> {% endcomment %}
                          {% if not forloop.last %}
                            ;
                          {% endif %}
                      {% endfor %}
                      </span>
                    {% endif %}
                  {% endwith %}
                </small>
              </td>

              <!-- Período -->
              <td style="text-align:center">
                  {{projeto.ano}}.{{projeto.semestre}}
              </td>

              <!-- Contrato(s) -->
              <td style="text-align:center; vertical-align: middle; position:relative;">
                <small style="position:absolute; top:0; left:0; cursor:pointer;">
                  <a
                    class="open-documento"
                    data-url="{% url 'adiciona_documento' projeto.organizacao.id projeto.id 0 %}"
                    >&#10133;</a>
                </small>

                {% for documento in projeto.documento_set.all|tipo_documentos:1 %}

                  {% if documento.documento and documento.link %}
                    <div class="btn btn-light btn-outline-info btn-sm" style="width: 7em; padding:0px 4px 0px 4px;">
                      Contrato
                      <a href="../..{{MEDIA_URL}}{{documento.documento}}" target="_blank" rel="noopener noreferrer">(documento)</a>
                      <a href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
                      {% if documento.lingua_do_documento == 1 %} {% comment %} Inglês {% endcomment %}
                        <sup>(Inglês)</sup>
                      {% endif %}
                    </div>
                  {% else %}
                    {% if documento.documento %}
                      <a class="btn btn-light btn-outline-info btn-sm" style="width: 7em; padding:0px 4px 0px 4px;" 
                        href="../..{{MEDIA_URL}}{{documento.documento}}" target="_blank" rel="noopener noreferrer">Contrato</a>
                      {% if documento.lingua_do_documento == 1 %} {% comment %} Inglês {% endcomment %}
                        <sup>(Inglês)</sup>
                      {% endif %}
                    {% endif %}
                    {% if documento.link %}
                      <a class="btn btn-light btn-outline-info btn-sm" style="width: 7em; padding:0px 4px 0px 4px;"
                         href="{{documento.link}}" target="_blank" rel="noopener noreferrer">Contrato</a>
                      {% if documento.lingua_do_documento == 1 %} {% comment %} Inglês {% endcomment %}
                        <sup>(Inglês)</sup>
                      {% endif %}
                    {% endif %}
                  {% endif %}

                {% empty %}
                  <span class="btn btn-danger btn-sm">Contrato<br>Pendente</span>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

    <script>

      var table = null;

      function carrega_pagina() {
        if($('#ProjetosTable th').length > 0) {   // Verifica se os THs foram registrados primeiro
          table = $('#ProjetosTable').dataTable();
          if(table) {
            table.fnSetColumnVis( 5, false );  // esconde Edição
          }
        }
      };
      
      function carrega_site() {
        var filterEdicao = localStorage.getItem("filterEdicao");
        if (filterEdicao !== null && $("#filterEdicao option[value='"+filterEdicao+"']").length > 0 ) {
          $('#filterEdicao').val(filterEdicao).trigger('change');
        }
        carrega_pagina();
      };

      window.onload = carrega_site

    </script>

  </div>
  
  {% include "documento-modal.html" %}

  {% include "edicoes_ajax.html" with tabela="Projetos" %}
  
{% endblock %}
