{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Julho de 2023
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  {% if user.admin %}
    <span class="esconder">
      <a href="#"
      class="open-documento" style="cursor:pointer;"
      data-url="{% url 'adiciona_documento_tipo' tipo.sigla %}">
        <i class="fas fa-plus"></i> 
        {% lng "Cadastrar Nova Matéria" "Register New Document" %}
      </a>
    </span>
    {% include "documento-modal.html" %}
  {% endif %}
  
  <div class="atualizar">
    {% include "tabelas_top_ml.html" with tabela="Materias" cabecalhos=cabecalhos %}
      {% for relatorio in documentos %}
        {% if relatorio.link or relatorio.documento %}
          {% if user.admin or not relatorio.confidencial %}
            <tr class="item">
              <td data-order="{{relatorio.data|date:"Ymd"}}">
                {% if relatorio.data %}{{relatorio.data|date:"d/m/Y"}}{% endif %}
                {% if relatorio.confidencial %}CONFIDENCIAL{% endif %}
              </td>
              <td>{% if relatorio.anotacao %}{{relatorio.anotacao}}{% endif %}</td>
              <td>
                {% if relatorio.projeto %}
                  {% if user.prof_a %}
                    <a href="{% url 'projeto_completo' relatorio.projeto.id %}">
                  {% endif %}
                  {{relatorio.projeto.organizacao}}, {{relatorio.projeto.get_titulo}}
                  {% include "tipo_projeto.html" with projeto=relatorio.projeto %}
                  {% if user.prof_a %}
                    </a>
                  {% endif %}
                {% elif relatorio.organizacao %}
                  {% if user.prof_a %}
                    <a href="{% url 'organizacao_completo' relatorio.organizacao.id %}">
                  {% endif %}
                  {{relatorio.organizacao}}
                  {% if user.prof_a %}
                    </a>
                  {% endif %}
                {% endif %}
              </td>
              <td class="text-center">
                  {% if relatorio.link%}
                    <a class="btn btn-light btn-outline-info btn-sm" style="margin-bottom: 5px;"
                      href="{{relatorio.link}}" target="_blank" rel="noopener noreferrer">
                      <span class="texto-longo" style="width: 9em;">Link da Matéria</span>
                      <span class="texto-curto" style="width: 3em;">Link</span>
                    </a><br>
                  {% endif %}
                  {% if relatorio.documento%}
                    <a class="btn btn-light btn-outline-info btn-sm" 
                      href="{{request.scheme}}://{{request.get_host}}{{relatorio.documento.url}}" target="_blank" rel="noopener noreferrer">
                      <span class="texto-longo" style="width: 9em;">Cópia no Servidor</span>
                      <span class="texto-curto" style="width: 3em;">Cópia</span>
                    </a>
                  {% endif %}
              </td>
              <td>
                {% if relatorio.link%}
                  <a href="{{relatorio.link}}" target="_blank" rel="noopener noreferrer">
                    <span>{{relatorio.link}}</span>
                  </a><br>
                {% endif %}
                {% if relatorio.documento %}
                  <a href="{{request.scheme}}://{{request.get_host}}{{relatorio.documento.url}}" target="_blank" rel="noopener noreferrer">
                    <span>{{request.scheme}}://{{request.get_host}}{{relatorio.documento.url}}</span>
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% include "tabelas_bottom.html" %}
  </div>

  <script>
    function carrega_pagina() {
      if($("#MateriasTable th").length > 0) {   // Verifica se os THs foram registrados primeiro
        table = $("#MateriasTable").dataTable();
        if(table) {
          table.fnSetColumnVis( 4, false );  // esconde longa URL
        }
      }
    };
    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
      carrega_pagina();
    };
    window.onload = carrega_site
  </script>

  {% include "edicoes_ajax.html" with tabela="Materias" %}
  
{% endblock %}
