{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 20 de Maio de 2020
{% endcomment %}

{% load static %}
{% load documentos %}
{% load linguas %}

{% block head %}
  <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
  <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  {% include "edicoes.html" with com_linguas=True %}
  
  <div id="atualizar">
    {% include "tabelas_top_ml.html" with tabela="Relatorios" cabecalhos=cabecalhos %}
      {% for projeto in projetos %}
        {% with publicos=projeto|get_documentos_publicos%}
          {% if publicos.RPU or user.eh_admin %}
            <tr class="item" data-lingua="{{ publicos.RPU.lng }}">
              <td>
                {% include "projetos/includes/bloco_projeto.html" with projeto=projeto %}
                <small>{% if publicos.first.lng == "pt" %}{% lng "" "(portuguese)" %}{% elif publicos.first.lng ==  "en" %}{% lng "(inglês)" "" %}{% endif %}</small>
              </td>
              <td>{% include "estudantes/includes/bloco_estudantes.html" with grupo=projeto.alocacao_set.all pequeno=True %}</td>
              <td>{% include "academica/includes/bloco_orientador.html" with orientador=projeto.orientador %}</td>
              <td>{% include "organizacoes/includes/bloco_organizacao.html" with organizacao=projeto.organizacao %}</td>
              <td>{% include "academica/includes/bloco_banca.html" with membros=projeto.get_banca_final.membros projeto=projeto pequeno=True %}</td>
              <td style="text-align:center">{{projeto.get_edicao}}</td>

              <td style="text-align:center"> {% comment %} Documento {% endcomment %}
                <span id="p{{relatorio.pk}}">
                  {% for tipo, documento in publicos.items %}
                    {% if tipo == "RPU" %}
                      {% if user.eh_admin and not documento %}
                        <a href="#"
                        class="btn btn-warning btn-outline-dark btn-sm open-modal mt-1"
                        data-url="{% url 'adiciona_documento' projeto.organizacao.id projeto.id 'RPU' %}">
                          <span class="texto-curto" style="width: 6em;">+&nbsp;Servidor</span>
                          <span class="texto-longo" style="width: 13em;">Adicionar&nbsp;doc&nbsp;Servidor</span>
                        </a><br>
                      {% endif %}
                      {% if documento.documento %}
                        <a class="btn btn-light btn-outline-info btn-sm mt-1"
                          href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">
                          <span class="texto-curto" style="width: 6em;">{% lng "Relatório" "Report" %}<sup>S</sup></span>
                          <span class="texto-longo" style="width: 13em;">{% lng "Relatório" "Report" %}&nbsp;(Servidor)</span>
                        </a><br>
                      {% comment %} {% elif user.eh_admin and not documento.documento %} {% endcomment %}
                      {% endif %}
                      {% if documento.link %}
                        <a class="btn btn-light btn-outline-info btn-sm mt-1" style="margin-bottom: 5px;; white-space: nowrap;"
                          href="{{documento.link}}" target="_blank" rel="noopener noreferrer">
                          <span class="texto-curto" style="width: 6em;">{% lng "Relatório" "Report" %}<sup>B</sup></span>
                          <span class="texto-longo" style="width: 13em;">{% lng "Relatório" "Report" %}&nbsp;(DSpace)</span>
                          {% if user.eh_admin %}
                            <span class="open-modal" data-url="{% url 'biblioteca_link' %}{{documento.pk}}">
                              <i class="fas fa-pencil-alt"></i>
                            </span>
                          {% endif %}
                        </a><br>
                      {% elif user.eh_admin and documento and not documento.link %}
                        <a id="c{{documento.pk}}"
                          class="btn btn-warning btn-outline-dark btn-sm open-modal mt-1"
                          href="{% url 'biblioteca_link' documento.pk %}"
                          data-url="{% url 'biblioteca_link' %}{{documento.pk}}"
                          target="_blank" rel="noopener noreferrer">
                          <span class="texto-curto" style="width: 6em;">+&nbsp;DSpace</span>
                          <span class="texto-longo" style="width: 13em;">Adicionar&nbsp;link&nbsp;Biblioteca</span>
                        </a><br>
                      {% endif %}
                    {% elif documento.documento %}
                      <a class="btn btn-light btn-outline-info btn-sm mt-1"
                        href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">
                        <span class="texto-curto" style="width: 6em;">{{documento.tipo_documento.primeiro_nome}}</span>
                        <span class="texto-longo" style="width: 13em;">{{documento.tipo_documento}}</span>
                      </a><br>
                    {% elif documento.link %}
                      <a class="btn btn-light btn-outline-info btn-sm mt-1" style="margin-bottom: 5px;; white-space: nowrap;"
                        href="{{documento.link}}" target="_blank" rel="noopener noreferrer">
                        <span class="texto-curto" style="width: 6em;">{{documento.tipo_documento.primeiro_nome}}</span>
                        <span class="texto-longo" style="width: 13em;">{{documento.tipo_documento}}</span>
                      </a><br>
                    {% endif %}
                  {% endfor %}
                </span>
              </td>
            </tr>
          {% endif %}
        {% endwith %}
      {% endfor %}
    {% include "tabelas_bottom.html" %}

    <script>
      {% include "seleciona_linha_tabelas.html" with select="filterLingua" tabela="Relatorios" data="lingua" %}
    </script>
  </div>

  <script>
    
    $("#filterEdicao").change(function() {
      var selectedValue = $(this).val();
      var table = $("#RelatoriosTable").DataTable();
      if (selectedValue === "todas") {
        table.column(5).visible(true);
        table.search("").draw();
      }
    });

    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
    };
    window.onload = carrega_site
  </script>

  {% include "base-modal.html" %}
  {% include "edicoes_ajax.html" with tabela="Relatorios" %}
  {% include "mostra_api.html" with endpoints=endpoints %}

{% endblock %}
