{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 9 de Janeiro de 2021
{% endcomment %}

{% block head %}
{% endblock %}

{% block content %}

  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en">{{ titulo.en }}</span>
  </span>

  <br>

  <span lang="pt">Selecione a data e os tipos de certificados a serem gerados:</span>
  <span lang="en">Select the date and the types of certificates to be generated:</span>
  
  <br>

  <form method="post" action="{% url 'gerar_certificados' %}" enctype="multipart/form-data"> {% csrf_token %}

    {% comment %} Seletor da edição da pesquisa {% endcomment %}
    {% include "edicoes.html" %}
    <br>

    {% comment %} <label><input id="estudantes" name="estudantes" type="checkbox" checked /> Estudantes</label>&nbsp;&nbsp;&nbsp; {% endcomment %}
    <label><input id="orientador" name="orientador" type="checkbox" checked /> Orientadores</label>&nbsp;&nbsp;&nbsp;
    <label><input id="coorientador" name="coorientador" type="checkbox" checked /> Coorientadores</label>&nbsp;&nbsp;&nbsp;
    <label><input id="banca" name="banca" type="checkbox" checked /> Bancas</label>&nbsp;&nbsp;&nbsp;
    <label><input id="mentoria_tecnica" name="mentoria_tecnica" type="checkbox" checked /> Mentorias Técnicas</label>&nbsp;&nbsp;&nbsp;
    <label><input id="mentoria_profissional" name="mentoria_profissional" type="checkbox" checked /> Mentorias Profissionais (antiga Mentoria Falconi)</label>&nbsp;&nbsp;&nbsp;
    <br><br>

    {% comment %} <input class="btn btn-primary" type="submit" value="Gerar"> {% endcomment %}
    <button class="btn btn-primary mb-1 mt-2" type="submit">
      <span lang="pt">Gerar Certificados</span>
      <span lang="en">Generate Certificates</span>
    </button>

  </form>

{% endblock %}
