{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 28 de Setembro de 2019
{% endcomment %}

{% block head %}

  {% load static %}
  {% include "tabelas_includes.html" %}

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

{% endblock %}

{% block content %}
  {% include "impressora.html" %}
  <span class="titulo">{{ titulo }}</span>
  {% include "edicoes.html" with com_cursos=True %}
  {% include "informacoes.html" %}
  <br><br>
  
  <div class="atualizar">

    <div class="table-responsive">

      <table id="ProjetosTable" class="table table-bordered table-hover table-sm" style="width: auto;">

        <thead class="table-info">
          <tr>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Projeto</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Estudantes</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Orientador</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Período</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Organização</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Banca Final</span></th>
            <th scope="col" style="text-align: center;width:auto;"><span style="margin-right: 0.6ex;">Documentos</span></th>
          </tr>
        </thead>
        <tbody>
        {% for projeto in projetos %} 
            <tr class="item">
              <td>
                <a class="imprimir" href="{% url 'projeto_completo' projeto.id %}"
                  data-toggle="tooltip" data-html="true" animation="true" 
                  title="
                    {% for alocacao in projeto.alocacao_set.all %}
                        &bull; {{alocacao.aluno.user.get_full_name}}
                        ({{alocacao.aluno.curso2}}){% if not forloop.last %}<br>{% endif %}
                    {% endfor %}
                  "
                >
                  {% if projeto.titulo_final and projeto.titulo_final != projeto.proposta.titulo %}
                    {{projeto.titulo_final}}
                    <span class="tit_ori">
                      <br><small>Título original da proposta: {{projeto.proposta.titulo}}</small>
                    </span>
                  {% else %}
                    {{projeto.get_titulo}}
                  {% endif %}
                  {% include "tipo_projeto.html" %}
                </a>
              </td>
              

              <!-- Estudantes -->
              <td style="min-width:18em;">
                <small>
                <ul class="grupo" style="padding-left: 20px;margin-bottom: 0px;">
                  {% for alocacao in projeto.alocacao_set.all %}
                    <li>
                      <a class="imprimir" href="{% url 'estudante_detail' alocacao.aluno.id %}">
                        {{alocacao.aluno}}
                      </a>
                      <span class="curso">
                        [{{ alocacao.aluno.curso2 }}]
                      </span>
                    </li>
                  {% endfor %}
                </ul>
                </small>
              </td>

              <!-- Orientador -->
              <td>
                {% if projeto.orientador %}
                  <a class="imprimir" href="{% url 'professor_detail' projeto.orientador.id %}">
                    {{ projeto.orientador }}
                  </a>
                {% else %}
                  ORIENTADOR NÃO DEFINIDO
                {% endif %}

                {% with coorientadores=projeto.coorientador_set.all %}
                  {% if coorientadores %}
                  <span class="coorientadores">
                  <br>coorientador:
                    {% for coorientador in coorientadores %}
                        <a class="imprimir" href="{% url 'user_detail' coorientador.usuario.id %}">
                          {{coorientador.usuario.get_full_name}} 
                        </a>
                        {% comment %} <a class="email" href="mailto:{{coorientador.usuario.email}}">&lt;{{coorientador.usuario.email}}&gt;</a> {% endcomment %}
                        {% if not forloop.last %}
                          ;
                        {% endif %}
                    {% endfor %}
                    </span>
                  {% endif %}
                {% endwith %}
              </td>

              <!-- Período -->
              <td style="text-align:center">
                  {{projeto.ano}}.{{projeto.semestre}}
              </td>

              <!-- Organização -->
              <td>
                {% if projeto and projeto.organizacao %}
                  <a class="imprimir" href="{% url 'organizacao_completo' projeto.organizacao.id %}">
                    {{ projeto.organizacao.sigla }}
                  </a>
                {% else %}
                  ORGANIZAÇÃO NÃO DEFINIDA
                {% endif %}
              </td>

              <!-- Somente Banca Final, as outras não são listadas -->
              <td>
                <small>
                <ul class="grupo" style="padding-left: 20px;margin-bottom: 0px;">
                {% for banca in projeto.banca_set.all %}
                  {% if banca.tipo_de_banca == 0 %}
                    {% for membro in banca.membros %}
                      <li><a class="imprimir" href="{% url 'user_detail' membro.id %}">{{membro.get_full_name}} </a></li>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                </ul>
                </small>
              </td>
              
              <!-- Documentos -->
              <td  style="text-align:left;min-width:18em;"><small>

                <ul style="padding-left: 20px;margin-bottom: 0px;">
                  {% for documento in projeto.documento_set.all %} 
                    {% if documento.confidencial %}
                      <span class="confidencial">
                    {% endif %}
                    {% if documento.documento and documento.link %}
                      <li>
                        {{documento.tipo_documento}}
                        <a href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">(documento)</a>
                        <a href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
                        {% if documento.lingua_do_documento == 1 %} {% comment %} Inglês {% endcomment %}
                          <sup>(Inglês)</sup>
                        {% endif %}
                      </li>
                    {% else %}
                      {% if documento.documento %}
                        <li>
                          <a href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
                          {% if documento.lingua_do_documento == 1 %} {% comment %} Inglês {% endcomment %}
                            <sup>(Inglês)</sup>
                          {% endif %}
                        </li>
                      {% endif %}
                      {% if documento.link %}
                        <li>
                          <a href="{{documento.link}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
                          {% if documento.lingua_do_documento == 1 %} {% comment %} Inglês {% endcomment %}
                            <sup>(Inglês)</sup>
                          {% endif %}
                        </li>
                      {% endif %}
                    {% endif %}
                    
                    {% if documento.confidencial %}
                      </span>
                    {% endif %}
                  {% endfor %}
                </ul>

              </small></td>
            </tr>
          
        {% endfor %}
          </tbody>
      </table>

    </div>

    <script>
      function carrega_pagina() {
        // Esconde a coluna de Período se a edição não for "todas"
        if($('#ProjetosTable th').length > 0) {   // Verifica se os THs foram registrados primeiro
          table = $('#ProjetosTable').dataTable();
          if(table) {table.fnSetColumnVis( 3, !($("#filterEdicao").val()!="todas" ));}  // esconde Período
        }
      };
      function carrega_site() {
        {% include "edicao_puxar_local_ou_versao.js" %}
        carrega_pagina();
      };
      window.onload = carrega_site
    </script>

  </div>
  
  {% include "edicoes_ajax.html" with tabela='Projetos' com_cursos=True %}
  
{% endblock %}
