{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 17 de Abril de 2021
{% endcomment %}

{% block head %}

  {% load static %}
  {% load arquivo_tipo %}

  <script src="{% static 'js/w3.js' %}"></script>

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

{% endblock %}

{% block content %}

  <span class="titulo">Atas do Comitê do PFE</span>

  {% if atas %}
    <table id="AtasTable">
      <thead>
        <tr>
          <th onclick="w3.sortHTML('#AtasTable', '.item', 'td:nth-child(1)')" style="cursor:pointer" class="text-center">Data</th>
          <th class="text-center">Documento</th>
        </tr>
      </thead>
      <tbody>
        {% regroup atas by data as grouped %}
        {% for group in grouped %}
          {% for obj in group.list %}
            <tr class="item">
              {% ifchanged %}<td rowspan="{{ group.list|length }}">{{ obj.data }}</td>{% endifchanged %}
              <td style="text-align:center">
                <a href="../..{{MEDIA_URL}}{{obj.documento}}" 
                  target="_blank" rel="noopener noreferrer"
                  data-toggle="tooltip" data-html="true" animation="true" 
                  {% if obj.anotacao %}
                    title="anotação: {{obj.anotacao}}"
                  {% endif %}
                >
                  {{obj.documento|get_tipo}}
                </a>
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p>Não existem documentos disponíveis.</p>
  {% endif %}
  <br>

{% endblock %}
