{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 28 de Setembro de 2019
{% endcomment %}

{% block head %}

  {% load static %}

  <script src="{% static 'js/w3.js' %}"></script>

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

  <style>
    .arrow {
      border: solid black;
      border-width: 0px 2px 2px 0px;
      display: inline-block;
      padding: 2px;
      vertical-align: middle;
    }

    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    #toggle {
      display:inline-block; 
    }

  </style>


{% endblock %}

{% block content %}

  <span class="titulo">Documentação dos Projetos</span>

  <script>
    $(document).on('click','#informacoes_tag',function(){
      $( "#toggle" ).toggle( "slide" );
    });
  </script>
  
  <span id="informacoes" style="border: 1px solid gray; border-radius: 2px; padding: 1px; margin-left: 20px;">
    <span id="informacoes_tag">&nbsp;Informações <i class="arrow right"></i>&nbsp;</span>
    <div id="toggle" style="display: none; height: 1em;">
      <label><input id="organizacao" onchange="($(this).prop('checked') ? $('#ProjetosTable tr > *:nth-child(2)').show() : $('#ProjetosTable tr > *:nth-child(2)').hide())" type="checkbox" checked /> Estudantes</label>&nbsp;&nbsp;&nbsp;
      <label><input id="orientador" onchange="($(this).prop('checked') ? $('#ProjetosTable tr > *:nth-child(3)').show() : $('#ProjetosTable tr > *:nth-child(3)').hide())" type="checkbox" checked /> Orientador</label>&nbsp;&nbsp;&nbsp;
      <label><input id="documentos" onchange="($(this).prop('checked') ? $('#ProjetosTable tr > *:nth-child(4)').show() : $('#ProjetosTable tr > *:nth-child(4)').hide())" type="checkbox" checked /> Período</label>&nbsp;&nbsp;&nbsp;
      <label><input id="documentos" onchange="($(this).prop('checked') ? $('#ProjetosTable tr > *:nth-child(5)').show() : $('#ProjetosTable tr > *:nth-child(5)').hide())" type="checkbox" checked /> Organização</label>&nbsp;&nbsp;&nbsp;
      <label><input id="documentos" onchange="($(this).prop('checked') ? $('#ProjetosTable tr > *:nth-child(6)').show() : $('#ProjetosTable tr > *:nth-child(6)').hide())" type="checkbox" checked /> Documentos</label>&nbsp;&nbsp;&nbsp;
    </div>
  </span>

  <br><br>

  {% if projetos %}
    <table id="ProjetosTable">
      <tr>
        <th onclick="w3.sortHTML('#ProjetosTable', '.item', 'td:nth-child(1)')" style="cursor:pointer" class="text-center">Projeto</th>
        <th onclick="w3.sortHTML('#ProjetosTable', '.item', 'td:nth-child(2)')" style="cursor:pointer" class="text-center">Estudantes</th>
        <th onclick="w3.sortHTML('#ProjetosTable', '.item', 'td:nth-child(2)')" style="cursor:pointer" class="text-center">Orientador</th>
        <th onclick="w3.sortHTML('#ProjetosTable', '.item', 'td:nth-child(2)')" style="cursor:pointer" class="text-center">Período</th>
        <th onclick="w3.sortHTML('#ProjetosTable', '.item', 'td:nth-child(3)')" style="cursor:pointer" class="text-center">Organização</th>
        <th class="text-center">Documentos</th>
      </tr>      
      {% for projeto in projetos %} 
          <tr class="item">
            <td>
              <a href="{% url 'projeto_completo' projeto.id %}"
                data-toggle="tooltip" data-html="true" animation="true" 
                title="
                  {% for alocacao in projeto.alocacao_set.all %}
                      &bull; {{alocacao.aluno.user.get_full_name}}
                      ({{alocacao.aluno.get_curso_completo}}){% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                "
              >
                {% if projeto.titulo_final %}
                  {{projeto.titulo_final}}
                  {% if projeto.avancado %}
                    <strong style="color:red"><u>[Avançado]</u></strong><br>
                  {% endif %}
                  <br>
                  <small>Título original: {{projeto.titulo}}</small>
                {% else %}
                  {{projeto.titulo}}
                  {% if projeto.avancado %}
                    <strong style="color:red"><u>[Avançado]</u></strong><br>
                  {% endif %}
                {% endif %}
              </a>
            </td>
            

            <!-- Estudantes -->
            <td style="min-width:18em;">
              <small>
              <ul class="grupo" style="padding-left: 20px;margin-bottom: 0px;">
                {% for alocacao in projeto.alocacao_set.all %}
                  <li>
                    <a class="imprimir" href="{% url 'estudante_detail' alocacao.aluno.id %}">
                      {{alocacao.aluno}}
                    </a>
                    <span class="curso">
                      [{{ alocacao.aluno.get_curso_display }}]
                    </span>
                  </li>
                {% endfor %}
              </ul>
              </small>
            </td>

            <!-- Orientador -->
            <td>
              {% if projeto.orientador %}
                <a class="imprimir" href="{% url 'professor_detail' projeto.orientador.id %}">
                  {{ projeto.orientador }}
                </a>
              {% else %}
                Orientador não definido
              {% endif %}
            </td>

            <!-- Período -->
            <td style="text-align:center">
                {{projeto.ano}}.{{projeto.semestre}}
            </td>

            <!-- Organização -->
            <td>
              <a href="{% url 'organizacao_completo' projeto.organizacao.id %}">
                {{ projeto.organizacao.nome }}
              </a>
            </td>
            
            <!-- Documentos -->
            <td  style="text-align:left;min-width:18em;"><small>

      <ul style="padding-left: 20px;margin-bottom: 0px;">
        {% for documento in projeto.documento_set.all %} 
          {% if documento.documento and documento.link %}
            <li>
              {{documento}}
              <a href="../..{{MEDIA_URL}}{{documento.documento}}" target="_blank" rel="noopener noreferrer">(documento)</a>
              <a href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
            </li>
          {% else %}
            {% if documento.documento %}
              <li>
                <a href="../..{{MEDIA_URL}}{{documento.documento}}" target="_blank" rel="noopener noreferrer">{{documento}}</a>
              </li>
            {% endif %}
            {% if documento.link %}
              <li>
                <a href="{{documento.link}}" target="_blank" rel="noopener noreferrer">{{documento}}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>

            </small></td>

            {% comment %} 
              <td  style="text-align:center"> <!-- (0, 'contrato com empresa') -->
                {% if documento.contratos %}
                  {% for doc in documento.contratos %}
                    <a class="text-success" href="../..{{MEDIA_URL}}{{doc.0}}"
                    target="_blank" rel="noopener noreferrer" 
                    data-toggle="tooltip" data-html="true" animation="true" 
                    {% if doc.1 or doc.2%}
                        title="
                          {% if doc.1 %}anotação: {{doc.1}} <br>{% endif %}
                          {% if doc.2 %}data: {{doc.2}} {% endif %}
                        "
                      {% endif %}
                    >
                    &#x2B24;</a>
                  {% endfor %}
                {% else %}
                  {% if projeto.organizacao.sigla == "INOVACAO" %}
                    <a class="text-info" data-toggle="tooltip" data-html="true" animation="true" title="isento">&#x2B24;</a>
                  {% elif projeto.semestre > configuracao.semestre and projeto.ano >= configuracao.ano or projeto.semestre <= configuracao.semestre and projeto.ano > configuracao.ano %}
                    <a class="text-warning" data-toggle="tooltip" data-html="true" animation="true" title="aguardando">&#x2B24;</a>
                  {% else %}
                    <a class="text-danger" data-toggle="tooltip" data-html="true" animation="true" title="pendente">&#x2B24;</a>
                  {% endif %}
                {% endif %}
              </td>

              <td  style="text-align:center"> <!-- (1, 'contrato entre empresa e aluno') -->
                {% for doc in documento.contratos_alunos %}
                  <a 
                  {% if doc.0 %}
                    class="text-success" href="../..{{MEDIA_URL}}{{doc.0}}" 
                  {% else %}
                    {% if projeto.semestre > configuracao.semestre and projeto.ano >= configuracao.ano or projeto.semestre <= configuracao.semestre and projeto.ano > configuracao.ano %}
                      class="text-warning" 
                    {% else %}
                      class="text-danger" 
                    {% endif %}
                  {% endif %}
                  target="_blank" rel="noopener noreferrer"
                  data-toggle="tooltip" data-html="true" animation="true" 
                  title="{{doc.1}}">
                  &#x2B24;</a>
                {% endfor %}
              </td>

              <td  style="text-align:center"> <!-- (3, 'relatório final') -->
                {% if documento.relatorio_final %}
                  <a class="text-success" href="../..{{MEDIA_URL}}{{documento.relatorio_final}}" target="_blank" rel="noopener noreferrer">&#x2B24;</a>
                {% else %}
                  {% if projeto.semestre >= configuracao.semestre and projeto.ano >= configuracao.ano or projeto.semestre < configuracao.semestre and projeto.ano > configuracao.ano %}
                    <a class="text-warning" data-toggle="tooltip" data-html="true" animation="true" title="aguardando">&#x2B24;</a>
                  {% else %}
                    <a class="text-danger" data-toggle="tooltip" data-html="true" animation="true" title="pendente">&#x2B24;</a>
                  {% endif %}
                {% endif %}
              </td>

              <td  style="text-align:center"> <!-- (4, 'autorização de publicação empresa') -->
                {% if documento.autorizacao_publicacao_empresa %}
                  <a class="text-success" href="../..{{MEDIA_URL}}{{documento.autorizacao_publicacao_empresa}}" target="_blank" rel="noopener noreferrer">&#x2B24;</a>
                {% else %}
                  {% if projeto.organizacao.sigla == "INOVACAO" %}
                    <a class="text-info" data-toggle="tooltip" data-html="true" animation="true" title="isento">&#x2B24;</a>
                  {% elif projeto.semestre >= configuracao.semestre and projeto.ano >= configuracao.ano or projeto.semestre < configuracao.semestre and projeto.ano > configuracao.ano %}
                    <a class="text-warning" data-toggle="tooltip" data-html="true" animation="true" title="aguardando">&#x2B24;</a>
                  {% else %}
                    <a class="text-danger" data-toggle="tooltip" data-html="true" animation="true" title="pendente">&#x2B24;</a>
                  {% endif %}
                {% endif %}
              </td>

              <td  style="text-align:center"> <!-- (5, 'autorização de publicação  aluno') -->
                {% for doc in documento.autorizacao_publicacao_aluno %}
                  <a 
                  {% if doc.0 %}
                    class="text-success" href="../..{{MEDIA_URL}}{{doc.0}}" 
                  {% else %}
                    {% if projeto.semestre >= configuracao.semestre and projeto.ano >= configuracao.ano or projeto.semestre < configuracao.semestre and projeto.ano > configuracao.ano %}
                      class="text-warning" 
                    {% else %}
                      class="text-danger" 
                    {% endif %}
                  {% endif %}
                  target="_blank" rel="noopener noreferrer"
                  data-toggle="tooltip" data-html="true" animation="true" 
                  title="{{doc.1}}">
                  &#x2B24;</a>
                {% endfor %}
              </td> 
              
              <td style="text-align:center"> <!-- (14, 'outros') -->
                {% if documento.outros %}
                  {% for doc in documento.outros %}
                    <a class="text-success" href="../..{{MEDIA_URL}}{{doc.0}}" 
                    target="_blank" rel="noopener noreferrer"
                    data-toggle="tooltip" data-html="true" animation="true" 
                    {% if doc.1 or doc.2%}
                        title="
                          {% if doc.1 %}anotação: {{doc.1}} <br>{% endif %}
                          {% if doc.2 %}data: {{doc.2}} {% endif %}
                        "
                      {% endif %}
                    >
                    &#x2B24;</a>
                  {% endfor %}
                {% endif %}
              </td>
            {% endcomment %}

          </tr>
        
      {% endfor %}
    </table>
  {% else %}
    <p>Não existem projetos disponíveis.</p>
  {% endif %}

  <br>
  
{% endblock %}
