{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 23 de Maio de 2019
{% endcomment %}

{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://www.w3schools.com/lib/w3.js"></script>

  <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

  {% load static %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>Alunos</h3>

    <strong>Número Total de Alunos:</strong> {{ num_alunos }}
  
    {% if alunos_list %}
      <table id="AlunosTable">
          <tr>
              <th onclick="w3.sortHTML('#AlunosTable', '.item', 'td:nth-child(1)')" style="cursor:pointer" class="text-center">Nome do Aluno</th>
              <th onclick="w3.sortHTML('#AlunosTable', '.item', 'td:nth-child(2)')" style="cursor:pointer" class="text-center">Curso</th>
              <th onclick="w3.sortHTML('#AlunosTable', '.item', 'td:nth-child(3)')" style="cursor:pointer" class="text-center">Período</th>
              <th onclick="w3.sortHTML('#AlunosTable', '.item', 'td:nth-child(4)')" style="cursor:pointer" class="text-center">e-mail</th>
          </tr>
          {% for aluno in alunos_list %} 
          <tr class="item">
            <td><a href="{% url 'aluno' aluno.id %}" data-toggle="tooltip" data-html="true" animation="true" title="
              {% for opcao in aluno.opcao_set.all %}
                <b>#{{opcao.prioridade}}:</b>
                  {% if aluno.alocado == opcao.projeto %}
                    <u>
                  {% endif %}
                {% if opcao.projeto.titulo_final %}
                  {{opcao.projeto.titulo_final}}
                {% else %}
                  {{opcao.projeto.titulo}}
                {% endif %}
                ({{opcao.projeto.empresa.nome_empresa}})
                  {% if aluno.alocado == opcao.projeto %}
                    </u>
                  {% endif %}
                <br>
              {% endfor %}
            ">
              {{aluno.user.first_name}}&nbsp;{{aluno.user.last_name}}
            </a></td>
            {% if aluno.curso %}
              <td class="{% if aluno.curso == 'C' %}text-success{% elif aluno.curso == 'M' %}text-danger{% else %}text-warning{% endif %}">
                {{ aluno.get_curso_display }}
              </td>
            {% else %}
              <td>Indefinido</td>
            {% endif %}
            <td class="{% if configuracao.ano == aluno.anoPFE and configuracao.semestre == aluno.semestrePFE %}text-success{% endif %}">
              {% if aluno.alocacao_set.all %}
                {% for alocacao in aluno.alocacao_set.all %}
                  <a href="{% url 'completo' alocacao.projeto.id %}">
                    {% if alocacao.projeto.avancado %}<u>{% endif %}
                    {{alocacao.projeto.ano}}.{{alocacao.projeto.semestre}}
                    {% if alocacao.projeto.avancado %}</u>{% endif %}
                  </a>
                {% endfor %}
              {% else %}
                {% if aluno.anoPFE and aluno.semestrePFE %}
                  {{aluno.anoPFE}}.{{aluno.semestrePFE}}
                {% else %}
                  Indefinido
                {% endif %}
              {% endif %}
            </td>
            <td>
              <a href="mailto:{{aluno.user.email}}"> &lt;{{aluno.user.email}}&gt;</a><br>
            </td>
          </tr>
          {% endfor %}
        </table>
        <small>Projetos <u>sublinhados</u> são de PFE Avançado</small>
        <br>
    {% else %}
      <p>Não existem alunos disponíveis.</p>
    {% endif %}

    <br>

    <div id="canvas-holder">
        <canvas id="chart-area"></canvas>
      </div>
      <script>

        var config = {
          type: 'pie',
          data: {
            datasets: [{
              data: [
                {{ num_alunos_comp }},
                {{ num_alunos_mec }},
                {{ num_alunos_mxt }},
              ],
              backgroundColor: [
                'rgb(75, 192, 192)',
                'rgb(255, 99, 132)',
                'rgb(255, 205, 86)',
              ],
              label: 'Proporção entre alunos'
            }],
            labels: [
              'Computação',
              'Mecânica',
              'Mecatrônica',
            ]
          },
          options: {
            responsive: true,
            title: {
                  display: true,
                  text: 'Proporção entre alunos',
                  position: 'top'
              },
          }
        };
    
        window.onload = function() {
          var ctx = document.getElementById('chart-area').getContext('2d');
          window.myPie = new Chart(ctx, config);
        };
      
      </script>
  
  <br>
  <br>
  Total de alunos (novos) por semestre:
  <table id="AlunosTable">
    <tr>
        <th class="text-center">Ano</th>
        <th class="text-center" style="border-right: solid 3px;">Semestre</th>
        <th class="text-center">Computação</th>
        <th class="text-center">Mecânica</th>
        <th class="text-center">Mecatrônica</th>
        <th class="text-center" style="border-left: solid 3px;">TOTAL</th>
    </tr>
    {% for ano,tabela_ano in tabela_alunos.items %}
      {% for semestre,tabela_semetre in tabela_ano.items %}
        <tr>
            <td class="text-center"> {{ano}} </td>
            <td class="text-center" style="border-right: solid 3px;"> {{semestre}} </td>
            <td class="text-center"> {{tabela_semetre.computação}} </td>
            <td class="text-center"> {{tabela_semetre.mecânica}} </td>
            <td class="text-center"> {{tabela_semetre.mecatrônica}} </td>
            <td class="text-center" style="border-left: solid 3px;"><b> {{tabela_semetre.total}} </b></td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
  <br>
{% endblock %}