{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 23 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load aderencia_aluno %}
{% endblock %}

{% block content %}
  <h3>{{aluno.user.get_full_name}}</h3>
  <strong>e-mail:</strong> <a href="mailto:{{aluno.user.email}}"> &lt;{{aluno.user.email}}&gt;</a><br>
  {% if aluno.user.linkedin %}
    <strong>LinkedIn:</strong> <a href="{{aluno.user.linkedin}}" target="_blank">{{aluno.user.linkedin}}</a><br>
  {% endif %}
  {% if aluno.matricula %}
    <strong>Matrícula:</strong> {{aluno.matricula}}<br>
  {% endif %}
  <strong>Curso:</strong> {{aluno.get_curso_display}}<br>
  <strong>Periodo PFE:</strong> {{aluno.anoPFE}}.{{aluno.semestrePFE}}<br>
  <strong>CR:</strong> {{aluno.cr}} <br>

  {% if aluno.trabalhou %}
    <br><strong>{{aluno.get_trabalhou_help_text }}</strong> {{ aluno.trabalhou|linebreaks }}
  {% endif %}  

  {% if aluno.social %}
    <br><strong>{{aluno.get_social_help_text }}</strong> {{ aluno.social|linebreaks }}
  {% endif %}  

  {% if aluno.entidade %}
    <br><strong>{{aluno.get_entidade_help_text }}</strong> {{ aluno.entidade|linebreaks }}
  {% endif %}  

  {% if aluno.familia %}
    <br><strong>{{aluno.get_familia_help_text }}</strong> {{ aluno.familia|linebreaks }}
  {% endif %}  

  <br>
  <strong>Áreas de interesse selecionadas:</strong>
  {% with aa=aluno.user.areadeinteresse_set.all %}
    {% with vencido=True %}
      {% include "areas.html" %}
    {% endwith %}
  {% endwith %}
  <br>

    {% if aluno.alocacao_set.all.count > 0 %}
        <hr>
        <h3>Projeto Alocado</h3>
        {% for alocado in aluno.alocacao_set.all %}
            <a href="{% url 'projeto_completo' alocado.projeto.id %}">
            {{alocado.projeto.get_titulo}}
            ({{alocado.projeto.organizacao.nome}})
            { {{alocado.projeto.ano}}.{{alocado.projeto.semestre}} }
            <br>
            </a>
        {% endfor %}
    {% endif %}

    {% if aluno.opcao_set.all %}
        <hr>
        <h3>Propostas Selecionadas</h3>
        <p id="regular"> 
        {% for opcao in aluno.opcao_set.all %}
            {% if opcao.proposta.ano == opcao.aluno.anoPFE and opcao.proposta.semestre == opcao.aluno.semestrePFE %}
                <a href="{% url 'proposta_completa' opcao.proposta.id %}">
                <p><b>{{opcao.prioridade}}</b> - 
                    {{opcao.proposta.titulo}}
                    ({{opcao.proposta.organizacao.nome}})
                    {{ '{' }}{{opcao.proposta.ano}}.{{opcao.proposta.semestre}}{{ '}' }}
                    |{% mede_aderencia aluno opcao.proposta %}%|
                </p>
                </a>
            {% endif %}
        {% endfor %}
        </p>
        <script>
            if($.trim($("#regular").html())=='') {
                $("#regular").text("Nenhuma proposta selecionada para o semestre regular.");
            }
        </script>
        <p style="line-height:2px">
            --------------------------------------------------------------------------------------
        </p>
        {% for opcao in aluno.opcao_set.all %}
            {% if opcao.proposta.ano != opcao.aluno.anoPFE or opcao.proposta.semestre != opcao.aluno.semestrePFE %}
                <a href="{% url 'proposta_completa' opcao.proposta.id %}">
                <p><b>{{opcao.prioridade}}</b> - 
                    {{opcao.proposta.titulo}}
                    ({{opcao.proposta.organizacao.nome}})
                    {{ '{' }}{{opcao.proposta.ano}}.{{opcao.proposta.semestre}}{{ '}' }}
                    |{% mede_aderencia aluno opcao.proposta %}%|
                </p>
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
    <p>&nbsp;</p>
    <p>&nbsp;</p>      

{% endblock %}