{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}

    {% if mensagem %}
        <h2 class="red-bold">{{mensagem}}</h2>
    {% endif %}

    <span class="titulo">Áreas de Interesse</span>
    <br>

    <form method="post">
        {% csrf_token %}
        {% with aa=aluno.user.areadeinteresse_set.all %}
            {% include "areas.html"%}
        {% endwith %}
        <p>&nbsp;</p>
        {% if not vencido %}
            <button type="submit">Enviar</button>
        {% endif %}
        <p>&nbsp;</p>
    </form>
{% endblock %}