{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Abril de 2024
{% endcomment %}

{% block head %}
  {% load static %}
  {% load coluna %}
  <style>
    table {border-collapse: collapse;}
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    thead {background-color: #EEF;}
  </style>

{% endblock %}

{% block content %}

  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en" style="display: none;">{{ titulo.en }}</span>
  </span>

  {% comment %} {% include "edicoes.html" %}<br> {% endcomment %}
  <b>
    <span lang="pt">Edição:</span>
    <span lang="en" style="display: none;">Edition:</span>
  </b>
  {{ anosemestre }}<br>
  
  <div class="atualizar">

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
    
      <br>
      <span lang="pt">Criar no Blackboard colunas:</span>
      <span lang="en" style="display: none;">Create columns in Blackboard:</span>
      <br>
      <table>
        <thead>
          <tr>
            <th>
              <span lang="pt">Nome da Coluna</span>
              <span lang="en" style="display: none;">Column Name</span>
            </th>
            <th>
              <span lang="pt">Nome da Central de Notas</span>
              <span lang="en" style="display: none;">Grade Center Name</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for exame in exames %}
            <tr>
              <td>{{exame.titulo}}</td>
              <td>{{exame.sigla}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <span lang="pt">  
        Com:<br>
        - Exibição primária: Pontuação<br>
        - Pontos possíveis: 10<br>
      </span>
      <span lang="en" style="display: none;">
        With:<br>
        - Primary Display: Score<br>
        - Possible Points: 10<br>
      </span>

      <br><br>
      <b>
        <span lang="pt">Código da Coluna</span>
        <span lang="en" style="display: none;">Column Code</span>
      </b><br>
      {% for exame in exames %}
        <label for="{{exame.sigla}}" style="width: 2.3em;">{{exame.sigla}}: </label><input id="{{exame.sigla}}" type="text" size="8" name="{{exame.sigla}}" {% if colunas|get_exame:exame %}value="{{colunas|get_exame:exame}}"{% endif %}><br>
      {% endfor %}
      <br>

      <b>
        <span lang="pt">Cursos</span>
        <span lang="en" style="display: none;">Programs</span>
      </b><br>
      {% for curso in cursos %}
        <input type="checkbox" id="curso{{curso.id}}" name="curso" value="{{curso.id}}" checked>
        <label for="curso{{curso.id}}">
          <span>{{curso}}</span>
        </label><br>
      {% endfor %}
      <br>

      <b>
        <span lang="pt">Tipo de Arquivo</span>
        <span lang="en" style="display: none;">File Type</span>
      </b><br>
      <input type="radio" id="xls" name="tipo" value="xls" checked>
      <label for="xls">Tab-separated File (.xls) [utf-16le]</label><br>
      <input type="radio" id="csv" name="tipo" value="csv">
      <label for="csv">Comma Separated Values (.csv) [utf-8-sig]</label><br>
      <br>

      <button class="btn btn-primary mb-1" type="submit">
        <span lang="pt">Download Arquivo</span>
        <span lang="en" style="display: none;">Download File</span>
      </button>
      <br>

    </form>

  </div>

{% endblock %}
