{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 30 de Maio de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load get_field %}
  <script src="{% static 'js/sort.js' %}"></script>
  <style>
    th {cursor:pointer; text-align: center;}
    td {padding: 1px 4px 1px 4px;}
    thead {background-color: #bee5eb;}
  </style>
{% endblock %}

{% block content %}
  
  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en">{{ titulo.en }}</span>
  </span>

  {% include "edicoes.html" %}<br>

  <div class="atualizar">

    <form method="post" action="{% url 'envia_contas_senhas' %}" enctype="multipart/form-data">{% csrf_token %}
      <table id="EstudantesTable"><thead><tr>
            <th>&nbsp;<input type="checkbox" id="todos_estudantes" checked>&nbsp;</th>
            <th onclick="sort('#EstudantesTable', '.item', 'td:nth-child(2)')"><span lang="pt">Estudante</span><span lang="en">Student</span></th>
            <th onclick="sort('#EstudantesTable', '.item', 'td:nth-child(3)')">e-mail</th>
        </tr></thead>
        <tbody>
          {% for estudante in estudantes %} 
            <tr class="item">
              <td class="text-center"><input type="checkbox" id="estudante{{estudante.id}}" class="est_check" name="estudante" value="{{estudante.id}}" checked></td>
              <td><a href="{% url 'estudante_detail' estudante.id %}">{{estudante.user.get_full_name}}</a></td>
              <td><a href="mailto:{{estudante.user.email}}">{{estudante.user.email}}</a></td>
            </tr>
          {% empty %}
            <p>Não existem estudantes nessa edição.</p>
          {% endfor %}
        </tbody>
      </table>

      <br><strong>
        <span lang="pt">Total de Estudantes:</span>
        <span lang="en">Total of Students:</span>
      </strong> <span id="count_est">{{estudantes.count}}</span> ({{estudantes.count}})

      <br><br>

      <div>
        <b>Template: <code>{{template}}</code></b><br>
        {% comment %} <div style="border: 2px solid black; width: fit-content; padding: 4px;"></div> {% endcomment %}
        <textarea id="texto" name="texto" rows="12" cols="100" maxlength="{% max_length Carta 'texto' %}">{% if template.texto %}{{template.texto}}{% endif %}</textarea>
      </div>

      <br><br>
      <button class="btn btn-primary mb-1" type="submit">
        <span lang="pt">Enviar Contas e Senhas</span>
        <span lang="en">Send Accounts and Passwords</span>
      </button>

    </form>

    <script>
   
      // Deixa todos os checkboxes marcados se o checkbox do header estiver marcado
      $("#todos_estudantes").change(function () {
        $("input:checkbox").prop("checked", $(this).prop("checked"));
        $("#count_est").text($(".est_check:checked").length);;
      });

      $(".est_check").change(function() {
        var total = $(".est_check").length;
        var checked = $(".est_check:checked").length;
        $("#count_est").text(checked);
        if (total === checked) {
            $("#todos_estudantes").prop("checked", true); 
            $("#todos_estudantes").prop("indeterminate", false);
        } else if (checked === 0) {
            $("#todos_estudantes").prop("checked", false);
            $("#todos_estudantes").prop("indeterminate", false);
        } else {
            $("#todos_estudantes").prop("indeterminate", true);
        }
      });
    </script>

  </div>

  <script>
    function carrega_pagina() {};
    function carrega_site(){
      carrega_pagina();
    };
    window.onload = carrega_site
  </script>
  
  {% include "edicoes_ajax.html" %}
  {% include "linguas.html" %}

{% endblock %}
