{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 16 de Março de 2021
{% endcomment %}

{% block head %}
  {% load static %}
  {% load l10n %}
  {% load dictionary %}
  <style>
    textarea {
      max-width:100%;
      margin-left: 10px;
      margin-bottom: 18px;
    }

ul {
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 2px;
}

ul li span {
  display: inline-block;
  min-width: 13em;
}

  </style>
{% endblock %}

{% block content %}
{% localize off %}

  <span class="titulo">
      Edição de Notas
  </span>

  <b><label for="nome">Nome: </label></b> {{alocacao.aluno}}<br>
  <b><label for="nome">Projeto: </label></b> {{alocacao.projeto}}<br>
  <br>

  <form method="post"> {% csrf_token %}

    <b>Relatório Intermediário Individual</b>
    <ul>
    {% for objetivo in objetivos %}
      <li>
      {% if objetivo.avaliacao_aluno %}
        <span>{{objetivo}}</span>
        <span>
          {% with peso=rii_peso|dict_key:objetivo %}
            peso: <input id="rii_peso_{{objetivo}}" name="rii_peso_{{objetivo}}" type="number"  min="0" max="100" step="0.01" 
            value="{% if peso %}{{peso}}{% else %}3.75{% endif %}" />
          {% endwith %}
          &nbsp;&nbsp;
          nota: <input id="rii_nota_{{objetivo}}" name="rii_nota_{{objetivo}}" type="number"  min="0" max="10" step="0.01" 
          value="{{rii_nota|dict_key:objetivo}}" />          
        </span>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
    <span style="margin-left: 10px;">Observações:</span><br>
    <textarea id="rii_obs" name="rii_obs" rows="4" cols="55">{% if rii_obs %}{{rii_obs.observacoes}}{% endif %}</textarea>
    <br>

    <b>Relatório Intermediário de Grupo</b>
    <ul>
    {% for objetivo in objetivos %}
      <li>
      {% if objetivo.avaliacao_grupo %}
        <span>{{objetivo}}</span>
        <span>
          {% with peso=rig_peso|dict_key:objetivo %}
            peso: <input id="rig_peso_{{objetivo}}" name="rig_peso_{{objetivo}}" type="number"  min="0" max="100" step="0.01" 
            value="{% if peso %}{{peso}}{% else %}1.2{% endif %}" />
          {% endwith %}
          &nbsp;&nbsp;
          nota: <input id="rig_nota_{{objetivo}}" name="rig_nota_{{objetivo}}" type="number"  min="0" max="10" step="0.01" value="{{rig_nota|dict_key:objetivo}}" />
        </span>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
    <span style="margin-left: 10px;">Observações:</span><br>
    <textarea id="rig_obs" name="rig_obs" rows="4" cols="55">{% if rig_obs %}{{rig_obs.observacoes}}{% endif %}</textarea>
    <br>


    <b>Relatório Final Individual</b>
    <ul>
    {% for objetivo in objetivos %}
      <li>
      {% if objetivo.avaliacao_aluno %}
        <span>{{objetivo}}</span>
        <span>
          {% with peso=rfi_peso|dict_key:objetivo %}
            peso: <input id="rfi_peso_{{objetivo}}" name="rfi_peso_{{objetivo}}" type="number"  min="0" max="100" step="0.01" 
            value="{% if peso %}{{peso}}{% else %}8.75{% endif %}" />
          {% endwith %}
          &nbsp;&nbsp;
          nota: <input id="rfi_nota_{{objetivo}}" name="rfi_nota_{{objetivo}}" type="number"  min="0" max="10" step="0.01" value="{{rfi_nota|dict_key:objetivo}}" />
        </span>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
    <span style="margin-left: 10px;">Observações:</span><br>
    <textarea id="rfi_obs" name="rfi_obs" rows="4" cols="55">{% if rfi_obs %}{{rfi_obs.observacoes}}{% endif %}</textarea>
    <br>

    <b>Relatório Final de Grupo</b>
    <ul>
    {% for objetivo in objetivos %}
      <li>
      {% if objetivo.avaliacao_grupo %}
        <span>{{objetivo}}</span>
        <span>
          {% with peso=rfg_peso|dict_key:objetivo %}
            peso: <input id="rfg_peso_{{objetivo}}" name="rfg_peso_{{objetivo}}" type="number"  min="0" max="100" step="0.01" 
            value="{% if peso %}{{peso}}{% else %}2.8{% endif %}" />
          {% endwith %}
          &nbsp;&nbsp;
          nota: <input id="rfg_nota_{{objetivo}}" name="rfg_nota_{{objetivo}}" type="number"  min="0" max="10" step="0.01" value="{{rfg_nota|dict_key:objetivo}}" />
        </span>
      {% endif %}
      </li>
    {% endfor %}
    </ul>
    <span style="margin-left: 10px;">Observações:</span><br>
    <textarea id="rfg_obs" name="rfg_obs" rows="4" cols="55">{% if rfg_obs %}{{rfg_obs.observacoes}}{% endif %}</textarea>
    <br>

    <br><br>
    <input type="submit" value="Atualiza Notas">
    
  </form>

  <br><br>
  {% for b in bi %}
    {{b}} - {{b.avaliador}} - objetivo: {{b.objetivo}} - peso: {{b.peso}} - nota: {{b.nota}}<br>
  {% endfor %}
  {% for b in bf %}
    {{b}} - {{b.avaliador}} - objetivo: {{b.objetivo}} - peso: {{b.peso}} - nota: {{b.nota}}<br>
  {% endfor %}

  <p>&nbsp;</p>

  <script>
  $('form input').keydown(function (e) {
    if (e.keyCode == 13) {
        e.preventDefault();
        return false;
    }
  });
  </script>

{% endlocalize %}
{% endblock %}