{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 23 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load dictionary %}
  {% load linguas %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  {% include "tabelas_includes.html" %}
  {% include "reload.html" %}

  {% comment %} Melhor não usar números absolutos de gênero visto que os estudantes não foram consultados sobre isso. {% endcomment %}
  {% comment %} <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script> {% endcomment %}

  {% comment %} <style>
    th {padding: 1px 4px 1px 4px;}
  </style> {% endcomment %}

{% endblock %}

{% block content %}

  {% include "edicoes.html" with com_cursos=True com_trancou=True %}

  {% include "botao_adiciona.html" with url_add="cadastrar_usuario" url_path="?tipo=estudante" txt_pt="Cadastrar Novo Usuário" txt_en="Register New User" %}
  
  <div id="atualizar">
    {% include "tabelas_top_ml.html" with tabela="Estudantes" cabecalhos=cabecalhos %}
      {% for aluno in alunos_list %} 
        <tr class="item">
          <th scope="row" data-order="{{aluno.user.get_full_name}}">
            <a href="{% url 'estudante_detail' aluno.id %}">
              {{aluno.user.get_full_name}} {% if aluno.externo %}<span style="color:red">[{{aluno.externo}}]</span>{% endif %}
            </a>
          </th>
          <td style="text-align: right;">
            {% if aluno.matricula %}{{aluno.matricula}}{% else %}N/I{% endif %}
          </td>
          <td>
            <a href="mailto:{{aluno.user.email}}">{{aluno.user.email}}</a>
          </td>
          {% if aluno.curso2 %}
            <td style="color:#{{ aluno.curso2.cor }};">{{ aluno.curso2 }}</td>
          {% else %}
            <td>{% lng "Indefinido" "Undefined" %}</td>
          {% endif %}
          {% with alocacoes=aluno.alocacao_set.all %}
            <td>
              {% for alocacao in alocacoes %}
                {% if ano == 0 or alocacao.projeto.ano == ano and alocacao.projeto.semestre == semestre %}
                  <a href="{% url 'projeto_infos' alocacao.projeto.id %}">
                    {% if alocacao.projeto.avancado %}<u>{% endif %}
                    {{alocacao.projeto.ano}}.{{alocacao.projeto.semestre}}
                    {% if alocacao.projeto.avancado %}</u>{% endif %}
                    <br>
                  </a>
                {% endif %}
              {% empty %}
                {% if aluno.ano and aluno.semestre %}
                  {{aluno.ano}}.{{aluno.semestre}}
                {% else %}
                  {% lng "Indefinido" "Undefined" %}
                {% endif %}
              {% endfor %}
            </td>
            <td class="{% if configuracao.ano == aluno.ano and configuracao.semestre == aluno.semestre %}text-success{% endif %}">
              {% for alocacao in alocacoes %}
                {% if ano == 0 or alocacao.projeto.ano == ano and alocacao.projeto.semestre == semestre %}
                  {% if alocacao.projeto and alocacao.projeto.organizacao %}
                    <a href="{% url 'organizacao_completo' alocacao.projeto.organizacao.id %}">
                      ({{alocacao.projeto.organizacao}})
                    </a>
                  {% endif %}
                  <a href="{% url 'projeto_infos' alocacao.projeto.id %}">
                    {{alocacao.projeto.get_titulo}}
                  </a>
                  {% include "tipo_projeto.html" with projeto=alocacao.projeto %}<br>
                {% endif %}
              {% endfor %}
            </td>
          {% endwith %}

          <td>
            {% if aluno.user.linkedin %}
              <a href="{{ aluno.user.linkedin }}">{{ aluno.user.linkedin }}</a>
            {% endif %}
          </td>

          <td>
            {% if aluno.user.celular %}{{ aluno.user.get_celular }}{% endif %}
          </td>

        </tr>
        {% endfor %}
        <caption style="text-align:right"><small>
          {% lng "Projetos <u>sublinhados</u> são de Capstone Avançado" "Projects <u>underlined</u> are Advanced Capstone" %}
        </small></caption>
      </table>
    </div>
    <br>


    {{curso}}
    {% if totais.total > 0 %}
      <br><br>
      <h5>
        {% lng "Quantidade de estudantes alocados em projetos por curso" "Number of students allocated in projects by course" %}
      </h5>
      <div class="table-responsive">
      <table id="AlunosTable" class="table-bordered table-sm">
        <thead class="table-info">
          <tr>
              <th class="text-center" style="border-right: solid 3px;">
                {% lng "Período" "Semester" %}
              </th>
              {% for curso in cursos %}
                <th class="text-center">{{curso.sigla}}</th>
              {% endfor %}
              {% if curso_sel == 'T' %}
                <th class="text-center" style="border-left: solid 3px;">TOTAL</th>
              {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for ano,tabela_ano in tabela_alunos.items %}
            {% for semestre,tabela_semetre in tabela_ano.items %}
              <tr class="item">
                  <td class="text-center" style="border-right: solid 3px;"> {{ano}}.{{semestre}} </td>
                  {% for curso in cursos %}
                    <td class="text-center">
                      {% with qtd=tabela_semetre|dict_key:curso.sigla %}
                        {% if qtd %}{{qtd}}{% else %}0{% endif %}
                      {% endwith %}
                    </td>
                  {% endfor %}
                  {% if curso_sel == 'T' %}
                    <td class="text-center" style="border-left: solid 3px;"><b> {{tabela_semetre.total}} </b></td>
                  {% endif %}
              </tr>
            {% endfor %}
          {% endfor %}
          {% if ano == 0 or semestre == 0 %}
            <tr class="item">
              <td class="text-center" style="border-right: solid 3px; border-top: double;">
                {% lng "Totais" "Totals" %}
              </td>
                {% for curso in cursos %}
                  <td class="text-center" style="border-top: double;">
                    {% with qtd=totais|dict_key:curso.sigla %}
                      {% if qtd %}{{qtd}}{% else %}0{% endif %}
                    {% endwith %}
                  </td>
                {% endfor %}
              {% if curso_sel == 'T' %}
                <td class="text-center" style="border-left: solid 3px; border-top: double;"><b> {{totais.total}} </b></td>
              {% endif %}
            </tr>
          {% endif %}
        </tbody>
      </table>
      {% if ano == 0 or semestre == 0 %}
        <small>
          {% lng "Estudantes reprovados e do Capstone avançado contam mais de uma vez" "Failed students and Advanced Capstone students count more than once" %}
        </small>
      {% endif %}
      </div>
      <br>
    {% endif %}
    <br><br>

    <div class="container">
      <div class="row justify-content-start">
        <div class="col-lg-6 mb-5"><canvas id="chart-programas" style="height: 300px;"></canvas></div>
        <div class="col-lg-6 mb-5"><canvas id="chart-generos" style="height: 300px;"></canvas></div>
      </div>
    </div>
    <br><br>

    {% if ano == 0 or semestre == 0 %}
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-lg-10 mb-5"><canvas id="total-estudantes" style="height: 300px;"></canvas></div>
      </div>
    </div>
    {% endif %}

    <script>
      var config_programas = {
        type: "pie",
        data: {
          datasets: [{
            data: [{% for num in num_estudantes.values %}{{num}},{% endfor %}],
            backgroundColor: [{% for curso, num in num_estudantes.items %}"#{{curso.cor}}",{% endfor %}]
          }],
          labels_pt: [{% for curso, num in num_estudantes.items %}"{{curso.nome}} [{% widthratio num total_estudantes 100 %}%]",{% endfor %}],
          labels_en: [{% for curso, num in num_estudantes.items %}"{{curso.nome_en}} [{% widthratio num total_estudantes 100 %}%]",{% endfor %}]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          title: {
            display: true,
            text_pt: "Proporção de cursos entre estudantes",
            text_en: "Courses ration among students",
            position: "top"
          },
          legend: {
            display: true,
            position: "bottom",
          }
        }
      };

      var config_generos = {
        type: "pie",
        data: {
          datasets: [{
            data: [{{ num_alunos.M }}, {{ num_alunos.F }}],
            backgroundColor: ["#5DACE2", "#AF7AC5"]
          }],
          labels_pt: [
            "Masculino [{% widthratio num_alunos.M total_estudantes 100 %}%]",
            "Feminino [{% widthratio num_alunos.F total_estudantes 100 %}%]"
          ],
          labels_en: [
            "Male [{% widthratio num_alunos.M total_estudantes 100 %}%]",
            "Female [{% widthratio num_alunos.F total_estudantes 100 %}%]"
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          title: {
            display: true,
            text_pt: "Proporção de gêneros entre estudantes",
            text_en: "Gender ratio among students", 
            position: "top"
          },
          legend: {
            display: true,
            position: "bottom",
          }
        }
      };

      var cursos = [];
      var labels = [];
      var est = {};

      {% for curso in cursos %}
        est["{{curso.sigla}}"]=[];
      {% endfor %}

      {% for ano,tabela_ano in tabela_alunos.items %}
        {% for semestre,tabela_semetre in tabela_ano.items %}
          labels.push("{{ano}}.{{semestre}}");
          {% for curso in cursos %}
            est["{{curso.sigla}}"].push({% with qtd=tabela_semetre|dict_key:curso.sigla %}{% if qtd %}{{qtd}}{% else %}0{% endif %}{% endwith %});
          {% endfor %}
        {% endfor %}
      {% endfor %}
    
      var config_totais = {
        type: "bar",
        data: {
          labels: labels,
          datasets: [{% for curso in cursos %}{
                data: est["{{curso.sigla}}"],
                backgroundColor: "#{{curso.cor}}",
                label: "{{curso.sigla}}"
              },{% endfor %}],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          title: {
            display: true,
            text_pt: "Estudantes por curso por semestre",
            text_en: "Students by course by semester",
            position: "top"
          },
          legend: {
            display: true,
            position: "bottom",
          },
          tooltips: {
						mode: "index",
						intersect: true
					},
					responsive: true,
					scales: {
						xAxes: [{stacked: true}],
						yAxes: [{stacked: true}]
					}
        }
      }; 
      
      // Chart da proporção de estudantes por programas
      var chart_programas = document.getElementById("chart-programas").getContext("2d");
      window.myPie_programas = new Chart(chart_programas, config_programas);

      // Chart da proporção de estudantes por gênero
      var chart_generos = document.getElementById("chart-generos").getContext("2d");
      window.myPie_genero = new Chart(chart_generos, config_generos);

      {% if ano == 0 or semestre == 0 %}
        // Chart do totais de estudantes por programa
        var chart_totais = document.getElementById("total-estudantes").getContext("2d");
        window.myPie_totais = new Chart(chart_totais, config_totais);
      {% endif %}

      function lingua_grafico() {
        if(localStorage.getItem("lingua") == "pt") {
          window.myPie_programas.options.title.text = window.myPie_programas.options.title.text_pt;
          window.myPie_genero.options.title.text = window.myPie_genero.options.title.text_pt;
          window.myPie_programas.data.labels = window.myPie_programas.data.labels_pt;
          window.myPie_genero.data.labels = window.myPie_genero.data.labels_pt;
          {% if ano == 0 or semestre == 0 %}
            window.myPie_totais.options.title.text = window.myPie_totais.options.title.text_pt;
          {% endif %}
        } else {
          window.myPie_programas.options.title.text = window.myPie_programas.options.title.text_en;
          window.myPie_genero.options.title.text = window.myPie_genero.options.title.text_en;
          window.myPie_programas.data.labels = window.myPie_programas.data.labels_en;
          window.myPie_genero.data.labels = window.myPie_genero.data.labels_en;
          {% if ano == 0 or semestre == 0 %}
            window.myPie_totais.options.title.text = window.myPie_totais.options.title.text_en;
          {% endif %}
        }
        window.myPie_programas.update();
        window.myPie_genero.update();
        {% if ano == 0 or semestre == 0 %}
          window.myPie_totais.update();
        {% endif %}
      }
      lingua_grafico();
      document.addEventListener("languageChanged", lingua_grafico);

      var table = null;

      function carrega_pagina() {
        if($("#EstudantesTable th").length > 0) {   // Verifica se os THs foram registrados primeiro
          table = $("#EstudantesTable").dataTable();
          if(table) {
            // Hide/Esconde certas colunas
            table.fnSetColumnVis( 1, false );  // esconde Matrícula
            table.fnSetColumnVis( 6, false );  // esconde Linkedin
            table.fnSetColumnVis( 7, false );  // esconde Telefone
            {% include "linguas_ajax.html" %}
          }
        }
      };

      function carrega_site() {
        {% include "edicao_puxar_local_ou_versao.js" %}
        carrega_pagina();
      }
      window.onload = carrega_site
    </script>

  </div>

  {% include "edicoes_ajax.html" with tabela="Estudantes" com_cursos=True %}

{% endblock %}
