{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 23 de Maio de 2019
{% endcomment %}

{% load static %}
{% load l10n %}
{% load aderencia_aluno %}
{% load linguas %}

{% block head %}
  {% include "tabelas_includes.html" %}
  <link rel="stylesheet" href="{% static 'css/tab_simples.css' %}">
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
{% endblock %}

{% block content %}
  
  {% include "edicoes.html" with n_todas=True %}

  <div id="atualizar">

    {% include "tabelas_top_ml.html" with tabela="Estudantes" cabecalhos=cabecalhos %}

        {% for aluno, opcoes, opcoestemp in estudantes %}
          <tr class="item">
            <td 
              class="text-center 
              {% if opcoes.count >= 5 %}
                text-success" data-sort="2"
              {% elif opcoestemp.count >= 5 %}
                text-warning" data-sort="1"
              {% else %}
                text-danger" data-sort="0"
              {% endif %}>
              &#x2B24;
            </td>
            <td>
              <a href="{% url 'estudante_detail' aluno.id %}"
                  data-toggle="tooltip" data-html="true" animation="true" title="
                  {% for opcao in opcoes %}
                    <b>#{{ opcao.prioridade }} :</b>  
                    {{opcao.proposta.titulo}}
                    ({{opcao.proposta.organizacao.nome}})
                    <br>
                  {% empty %}
                    {% for opcao in opcoestemp %}
                      <b>Temp#{{ opcao.prioridade }} :</b>  
                      {{opcao.proposta.titulo}}
                      ({{opcao.proposta.organizacao.nome}})
                      <br>
                    {% empty %}
                      Estudante não escolheu opções de proposta de projetos
                    {% endfor %}
                  {% endfor %}">{{aluno.user.get_full_name}}</a>
            </td>
            {% if aluno.curso2 %}
              <td style="color:#{{ aluno.curso2.cor }};">{{ aluno.curso2 }}</td>
            {% else %}
              <td><b>{% lng "CURSO NÃO DEFINIDO" "COURSE NOT DEFINED" %}</b></td>
            {% endif %}
            <td><a href="mailto:{{aluno.user.email}}">{{aluno.user.email}}</a></td>
            <td class="numero_virgula">{{ aluno.cr|floatformat:4 }}</td>
          </tr>
        {% endfor %}
        </tbody>
        <caption style="text-align: left">
          <text class="text-success">&#x2B24;</text>
          {% lng "Estudante já selecionou propostas" "Student already selected proposals" %}
          ({{inscritos.sim|length}}) [{% widthratio inscritos.sim|length num_estudantes 100 %}%]
          <span class="emails esconder">
            <a href="mailto:{% for usuario in inscritos.sim %}{{usuario.email}}{% if not forloop.last %};{% endif %}{% endfor %}?subject=Capstone%20Insper" target="_blank">
              <i class="fas fa-mail-bulk"></i>
            </a>
          </span>
          <br>

          <text class="text-warning">&#x2B24;</text> 
          {% lng "Estudante realizou seleção provisória" "Student performed temporary selection" %}
          ({{inscritos.tmp|length}}) [{% widthratio inscritos.tmp|length num_estudantes 100 %}%]
          <span class="emails esconder">
            <a href="mailto:{% for usuario in inscritos.tmp %}{{usuario.email}}{% if not forloop.last %};{% endif %}{% endfor %}?subject=Capstone%20Insper" target="_blank">
              <i class="fas fa-mail-bulk"></i>
            </a>
          </span>
          <br>
          
          <text class="text-danger">&#x2B24;</text>
          {% lng "Estudante ainda precisa selecionar propostas" "Student still needs to select proposals" %}
          ({{inscritos.nao|length}}) [{% widthratio inscritos.nao|length num_estudantes 100 %}%]
          <span class="emails esconder">
            <a href="mailto:{% for usuario in inscritos.nao %}{{usuario.email}}{% if not forloop.last %};{% endif %}{% endfor %}?subject=Capstone%20Insper" target="_blank">
              <i class="fas fa-mail-bulk"></i>
            </a>
          </span>
          <br>

        </caption>
      </table>
    </div>
    <br><br>

    {% if prazo_vencido and inscritos.tmp %}
      <div class="alert alert-warning" role="alert">
        {% lng "Atenção: O prazo para a seleção provisória de propostas foi encerrado, contudo ainda existem estudantes que não realizaram a seleção final.  Deseja converter as opções provisórias em definitivas?" "Attention: The deadline for the provisional selection of proposals has expired, however there are still students who have not made the final selection. Do you want to convert the provisional options into definitive ones?" %}
        <button type="button" class="btn btn-warning" onclick="window.location.href='{% url 'converte_opcoes' ano semestre %}'">
          {% lng "Converter Opções" "Convert Options" %}
      </div>
    {% endif %}
    <br>

    {% if num_estudantes %}
      <b>{% lng "Total de Estudantes Aplicando" "Total of Students Enrolled" %}:</b>
      {{ num_estudantes }}<br>
    {% endif %}

    <div id="canvas-holder" class="chart-container mt-2">
      <canvas style="height:330px; max-width:380px" id="chart-area"></canvas>
    </div>

    <script>
      var config = {
        type: "pie",
        data: {
          datasets: [{
            data: [{% for qtd in num_estudantes_curso.values %}{{qtd}},{% endfor %}],
            backgroundColor: [{% for curso in num_estudantes_curso %}"#{{curso.cor}}",{% endfor %}]
          }],
          labels_pt: [{% for curso, qtd in num_estudantes_curso.items %}"{{curso.nome}} [{% widthratio qtd num_estudantes 100 %}%]",{% endfor %}],
          labels_en: [{% for curso, qtd in num_estudantes_curso.items %}"{{curso.nome_en}} [{% widthratio qtd num_estudantes 100 %}%]",{% endfor %}]
        },
        options: {
          responsive: true,
          title: {
                display: true,
                text_pt: "Proporção entre estudantes",
                text_en: "Proportion among students",
                position: "top"
            },
          legend: {
            display: true,
            position: "bottom",
            labels: {
              fontColor: "#333",
              fontSize: 14
            }
          },
          plugins: {
            datalabels: {
              color: "#000"
            }
          },
        }
      };

      function carrega_graficos() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx, config);

        function lingua_grafico() {
          if(localStorage.getItem("lingua") == "pt") {
            window.myPie.options.title.text = window.myPie.options.title.text_pt;
            window.myPie.data.labels = window.myPie.data.labels_pt;
          } else {
            window.myPie.options.title.text = window.myPie.options.title.text_en;
            window.myPie.data.labels = window.myPie.data.labels_en;
          }
          window.myPie.update();
        }
        lingua_grafico();
        document.addEventListener("languageChanged", lingua_grafico);

      }

    </script>

  </div>

  {% include "edicoes_ajax.html" with tabela="Estudantes" graficos=True %}

{% endblock %}
