{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 23 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load l10n %}
  {% load aderencia_aluno %}
  {% load linguas %}
  {% include "tabelas_includes.html" %}
  <link rel="stylesheet" href="{% static 'css/tab_simples.css' %}">
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
{% endblock %}

{% block content %}
  
  {% include "edicoes.html" with n_todas=True %}

  <div class="atualizar">

    {% include "tabelas_top_ml.html" with tabela="Estudantes" cabecalhos=cabecalhos %}

        {% for aluno, opcoes, opcoestemp in alunos_list %}
          <tr class="item">
            <td 
              class="text-center 
              {% if opcoes.count >= 5 %}
                text-success" data-sort="2"
              {% elif opcoestemp.count >= 5 %}
                text-warning" data-sort="1"
              {% else %}
                text-danger" data-sort="0"
              {% endif %}>
              &#x2B24;
            </td>
            <td>
              <a href="{% url 'estudante_detail' aluno.id %}"
                  data-toggle="tooltip" data-html="true" animation="true" title="
                  {% for opcao in opcoes %}
                    <b>#{{ opcao.prioridade }} :</b>  
                      {{opcao.proposta.titulo}}
                      ({{opcao.proposta.organizacao.nome}})
                      {% comment %} |{% mede_aderencia aluno opcao.proposta %}%| {% endcomment %}
                    <br>
                  {% empty %}
                    Estudante não escolheu opções de proposta de projetos
                  {% endfor %}">{{aluno.user.get_full_name}}</a>
            </td>
            {% if aluno.curso2 %}
              <td style="color:#{{ aluno.curso2.cor }};">{{ aluno.curso2 }}</td>
            {% else %}
              <td><b>{% lng "CURSO NÃO DEFINIDO" "COURSE NOT DEFINED" %}</b></td>
            {% endif %}
            <td><a href="mailto:{{aluno.user.email}}">{{aluno.user.email}}</a></td>
            <td class="numero_virgula">{{ aluno.cr|floatformat:4 }}</td>
          </tr>
        {% endfor %}
        </tbody>
        <caption style="text-align: left">
          <text class="text-success">&#x2B24;</text>
          {% lng "Estudante já selecionou propostas" "Student already selected proposals" %}
          ({{inscritos}}) [{% widthratio inscritos num_alunos 100 %}%]
          <span class="emails esconder">
            <a href="mailto:{% for email in inscritos_emails %}{{email}}{% if not forloop.last %};{% endif %}{% endfor %}?subject=Capstone%20Insper" target="_blank">
              <i class="fas fa-mail-bulk"></i>
            </a>
          </span>
          <br>

          <text class="text-warning">&#x2B24;</text> 
          {% lng "Estudante realizou seleção provisória" "Student performed temporary selection" %}
          ({{tmpinscritos}}) [{% widthratio tmpinscritos num_alunos 100 %}%]
          <span class="emails esconder">
            <a href="mailto:{% for email in tmpinscritos_emails %}{{email}}{% if not forloop.last %};{% endif %}{% endfor %}?subject=Capstone%20Insper" target="_blank">
              <i class="fas fa-mail-bulk"></i>
            </a>
          </span>
          <br>
          
          <text class="text-danger">&#x2B24;</text>
          {% lng "Estudante ainda precisa selecionar propostas" "Student still needs to select proposals" %}
          ({{ninscritos}}) [{% widthratio ninscritos num_alunos 100 %}%]
          <span class="emails esconder">
            <a href="mailto:{% for email in ninscritos_emails %}{{email}}{% if not forloop.last %};{% endif %}{% endfor %}?subject=Capstone%20Insper" target="_blank">
              <i class="fas fa-mail-bulk"></i>
            </a>
          </span>
          <br>

        </caption>
      </table>
    </div>
    <br><br>

    {% if prazo_vencido and tmpinscritos %}
      <div class="alert alert-warning" role="alert">
        {% lng "Atenção: O prazo para a seleção provisória de propostas foi encerrado, contudo ainda existem estudantes que não realizaram a seleção final.  Deseja converter as opções provisórias em definitivas?" "Attention: The deadline for the provisional selection of proposals has expired, however there are still students who have not made the final selection. Do you want to convert the provisional options into definitive ones?" %}
        <button type="button" class="btn btn-warning" onclick="window.location.href='{% url 'converte_opcoes' ano semestre %}'">
          {% lng "Converter Opções" "Convert Options" %}
      </div>
    {% endif %}
    <br>

    {% if num_alunos %}
      <b>{% lng "Total de Estudantes Aplicando" "Total of Students Enrolled" %}:</b>
      {{ num_alunos }}<br>
    {% endif %}

    <div id="canvas-holder" class="chart-container">
      <canvas style="height:330px; max-width:380px" id="chart-area"></canvas>
    </div>

    <script>
      var config = {
        type: "pie",
        data: {
          datasets: [{
            data: [{% for qtd in num_estudantes_curso.values %}{{qtd}},{% endfor %}],
            backgroundColor: [{% for curso in num_estudantes_curso %}"#{{curso.cor}}",{% endfor %}],
            label: "Proporção entre estudantes"
          }],
          labels: [
            {% for course, qtd in num_estudantes_curso.items %}
              "{{course}} [{% widthratio qtd num_alunos 100 %}%]",
            {% endfor %}
          ]
        },
        options: {
          responsive: true,
          title: {
                display: true,
                text: "Proporção entre estudantes",
                position: "top"
            },
          legend: {
            display: true,
            position: "bottom",
            labels: {
              fontColor: "#333",
              fontSize: 14
            }
          },
          plugins: {
            datalabels: {
              color: "#000",
            }
          },
        }
      };

      function carrega_graficos() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx, config);
      }
    
      function carrega_pagina() {
        if($("#EstudantesTable th").length > 0) {   // Verifica se os THs foram registrados primeiro
          table = $("#EstudantesTable").dataTable();
          if(table) {table.fnSetColumnVis( 3, false);}  // esconde e-mail
          if(table) {table.fnSetColumnVis( 4, false);}  // esconde CR
        }
      };

      window.onload = carrega_pagina
    </script>

  </div>

  {% include "edicoes_ajax.html" with tabela="Estudantes" graficos=True %}

{% endblock %}
