{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 20 de Abril de 2021
{% endcomment %}

{% block head %}
  {% load static %}
  {% load dictionary %}
  {% load l10n %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}
  
  <span class="titulo">Avaliações por Estudante</span>

  {% comment %} Seletor da edição da pesquisa {% endcomment %}
  {% with n_todas=True %}
      {% include "edicoes.html" %}
  {% endwith %}
  
  <div class="atualizar">

    {% if alunos_list %}
      <div class="table-responsive">
      <table id="EstudantesTable" class="table table-bordered table-hover table-sm">
        <thead class="table-info">
          <tr>
              <th scope="col" class="text-center"><span style="margin-right: 0.6ex;">Nome</span></th>
              <th scope="col" class="text-center"><span style="margin-right: 0.6ex;">e-mail</span></th>
              <th scope="col" class="text-center"><span style="margin-right: 0.6ex;">Curso</span></th>
              {% comment %} <th scope="col" class="text-center">Período</th> {% endcomment %}
              <th scope="col" class="text-center">
                <a data-toggle="tooltip" data-html="true" animation="true" title="<small>Projetos <u>sublinhados</u> são de PFE Avançado</small>">
                  <span style="margin-right: 0.6ex;">Projeto</span>
                </a>
              </th>
              <th scope="col" class="text-center"><span style="margin-right: 0.6ex;">Notas</span></th>
              <th scope="col" class="text-center"><span style="margin-right: 0.6ex;">Média</span></th>
              {% comment %} <th scope="col" class="text-center">BI</th> {% endcomment %}
          </tr>
          </thead>
          <tbody>
          {% for aluno in alunos_list %} 
          <tr class="item">
            <th scope="row" data-order="{{aluno.user.get_full_name}}">
              <a href="{% url 'estudante_detail' aluno.id %}" >
                {{aluno.user.get_full_name}}
                {% if aluno.externo %}<span style="color:red">[{{aluno.externo}}]</span>{% endif %}
              </a>
            </th>
            <td>
              <a href="mailto:{{aluno.user.email}}"> &lt;{{aluno.user.email}}&gt;</a><br>
            </td>
            {% if aluno.curso %}
              {% comment %} <td style="color:#{% if aluno.curso == 'C' %}{{configuracao.cor_C}}{% elif aluno.curso == 'M' %}{{configuracao.cor_M}}{% elif aluno.curso == 'X' %}{{configuracao.cor_X}}{% else %}{{configuracao.cor_O}}{% endif %};"> {% endcomment %}
              <td style="color:#{{ aluno.get_curso_color }};">
                {{ aluno.get_curso_display }}
              </td>
            {% else %}
              <td>Indefinido</td>
            {% endif %}
            <td>
              {% if aluno.alocacao_set.all %}
                {% for alocacao in aluno.alocacao_set.all %}
                  {% if ano == 0 or alocacao.projeto.ano == ano and alocacao.projeto.semestre == semestre %}
                    <a href="{% url 'projeto_completo' alocacao.projeto.id %}">
                      {{alocacao.projeto.get_titulo}}
                    </a>
                    {% if alocacao.projeto and alocacao.projeto.organizacao %}
                      <a href="{% url 'organizacao_completo' alocacao.projeto.organizacao.id %}">
                        ({{alocacao.projeto.organizacao}})<br>
                      </a>
                    {% else %}
                      SEM ORGANIZAÇÃO
                    {% endif %}
                    {% if alocacao.projeto.avancado %}
                      <span style="color:red">(PFE Avançado)</span>
                    {% endif %}
                    {% if alocacao.projeto.proposta.internacional %}
                      <span style="color:red">(Internacional)</span>
                    {% endif %}
                    {% if alocacao.projeto.proposta.intercambio %}
                      <span style="color:red">(Intercâmbio)</span>
                    {% endif %}
                    {% if alocacao.projeto.time_misto %}
                      <span style="color:red">(Time Misto)</span>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </td>
            {% with alocacao=aluno.get_alocacoes|dict_key:ano_semestre %}
              <td>
                <script>
                  var nota_linha = 0;
                  var peso_linha = 0;
                </script>
                {% for aval, nota, peso, descr in aluno.get_notas|dict_key:ano_semestre %} <!-- Notas -->
                    <span style="background-color:#eef;" data-toggle="tooltip" data-html="true" animation="true" 
                    title="{{descr}}">
                      <!-- {{aval}}({% widthratio peso 1 100 %}%)={{nota|stringformat:".1f"|unlocalize}} -->
                      {{aval}}({% widthratio peso 1 100 %}%)={{nota|floatformat:1}}
                    </span>
                    <script>
                      nota_linha += {{nota|unlocalize}}*{{peso|unlocalize}};
                      peso_linha += {{peso|unlocalize}};
                    </script>
                {% endfor %}
              </td>
              <td id="media{{aluno.id}}"> {% comment %} <!-- Média --> {% endcomment %}
                {% if alocacao %}
                  <a href="{% url 'edita_notas' alocacao.id %}" target="_blank" rel="noopener noreferrer"></a>
                  <script>
                    var media_tag = $("#media{{aluno.id}}");

                    {% if alocacao.projeto_alocado_reprovacao.all %}
                      media_tag.html('<a style="color:red" data-toggle="tooltip" data-html="true" animation="true" title="Reprovação por alguma falha de objetivo de aprendizado ou não obtida média individual suficiente" href="{% url 'edita_notas' alocacao.id %}" target="_blank" rel="noopener noreferrer">{{ alocacao.projeto_alocado_reprovacao.last.nota|stringformat:".2f"|unlocalize }}</a>');
                    {% else %}
                      peso_linha = +peso_linha.toFixed(7); // arredonda valores
                      if (peso_linha>0) {
                        var media = nota_linha/peso_linha;
                        media = +media.toFixed(6); // arredonda valores
                        if(peso_linha != 1) {
                          media_tag.html('<a style="color:orange" data-toggle="tooltip" data-html="true" animation="true" title="Pesos da média diferente de 100% (' + (peso_linha*100).toFixed(1)+ '%)" href="{% url 'edita_notas' alocacao.id %}" target="_blank" rel="noopener noreferrer">' + media.toFixed(2) + '</a>');
                        } else {
                          tag_txt = '<a {% if alocacao %}href="{% url 'edita_notas' alocacao.id %}"{% endif %} target="_blank" rel="noopener noreferrer" '
                          if(media < 5) {
                            tag_txt += 'style="color:red"'
                          }
                          tag_txt += '>' + media.toFixed(2) + '</a>'
                          media_tag.html(tag_txt);
                        }
                      }
                    {% endif %}

                  </script>
                {% endif %}
              </td>
            {% endwith %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
        <br>

        <b>Média no semestre = <span id="media"></span></b><br>
        <b>Desvio padrão no semestre = <span id="desvio"></span></b><br>

        <script>

          var sum = 0;
          var count = 0;
          var array = [];
          var all = $('#EstudantesTable > tbody > tr');
          all.each(function() {
              texto = $('td:eq(4)', this).text().trim().replace(",", ".");
              nota = parseFloat(texto)
              if(!isNaN(nota)) {
                sum += nota
                array.push(nota);
                count++;
              }
          });

          if(count > 0) {

            $('#media').html((sum / count).toFixed(3));

            var tamanho = array.length
            var mean = array.reduce((a, b) => a + b) / tamanho
            std = Math.sqrt(array.map(x => Math.pow(x - mean, 2)).reduce((a, b) => a + b) / tamanho)
            $('#desvio').html(std.toFixed(5));

          }
          
        </script>

    {% endif %}

    <script>
      function carrega_pagina() {
      };
      window.onload = carrega_pagina
    </script>

  </div>

  {% with tabela='Estudantes' %}
    {% include "edicoes_ajax.html" %}
  {% endwith %}

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  
{% endblock %}