{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 20 de Abril de 2021
{% endcomment %}

{% block head %}
  {% load static %}
  {% load dictionary %}
  {% load l10n %}
  {% include "tabelas_includes.html" %}

  <style>
    .pesos_aval {display: none;}
    tbody tr:nth-child(even) {background-color: #f2f2f2;}
    tbody tr:nth-child(odd) {background-color: #f9f9f9;}
  </style>

{% endblock %}

{% block content %}

  {% include "edicoes.html" with n_todas=True %}
  {% include "informacoes_ml.html" %}

  <div class="atualizar">
      {% include "tabelas_top_ml.html" with tabela="Estudantes" cabecalhos=cabecalhos %}

          {% for aluno in alunos_list %} 
          <tr class="item">
            <th scope="row" data-order="{{aluno.user.get_full_name}}">
              <a href="{% url 'estudante_detail' aluno.id %}" >
                {{aluno.user.get_full_name}}
                {% if aluno.externo %}<span style="color:red">[{{aluno.externo}}]</span>{% endif %}
              </a>
            </th>

            <td>
              <a href="mailto:{{aluno.user.email}}"> &lt;{{aluno.user.email}}&gt;</a><br>
            </td>

            {% if aluno.curso2 %}
              <td style="color:#{{ aluno.curso2.cor }};">
                {{ aluno.curso2 }}
              </td>
            {% else %}
              <td>
                <span lang="pt">Indefinido</span>
                <span lang="en">Undefined</span>
              </td>
            {% endif %}

            <td>
              {% if aluno.alocacao_set.all %}
                {% for alocacao in aluno.alocacao_set.all %}
                  {% if ano == 0 or alocacao.projeto.ano == ano and alocacao.projeto.semestre == semestre %}
                    {% if alocacao.projeto and alocacao.projeto.organizacao %}
                      [<a href="{% url 'organizacao_completo' alocacao.projeto.organizacao.id %}">{{alocacao.projeto.organizacao}}</a>]
                    {% else %}
                      <span lang="pt">[SEM ORGANIZAÇÃO]</span>
                      <span lang="en">[NO ORGANIZATION]</span>
                    {% endif %}
                    <a href="{% url 'projeto_completo' alocacao.projeto.id %}">{{alocacao.projeto.get_titulo}}</a>
                    {% include "tipo_projeto.html" with projeto=alocacao.projeto %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </td>

            {% with alocacao=aluno.get_alocacoes|dict_key:ano_semestre %}
              <td>
                <script>
                  var nota_linha = 0;
                  var peso_linha = 0;
                  var nota_indiv = 0;
                  var peso_indiv = 0;
                </script>
                {% for aval, nota, peso, descr in aluno.get_notas|dict_key:ano_semestre %} <!-- Notas -->
                    <span data-toggle="tooltip" data-html="true" animation="true" 
                    title="{{descr}}">
                      {{aval}}<span class="pesos_aval">({% widthratio peso 1 100 %}%)</span
                      >={% if peso > 0 %}{{nota|floatformat:1}}{% else %}{% if nota > 5 %}&#128077;{% else %}&#128078;{% endif %}{% endif %}
                      {% if nota == None %}
                        <span style="color:red">??,??</span>
                      {% endif %}
                    </span>
                    {% if nota != None and peso != None %}
                      <script>
                        nota_linha += {{nota|unlocalize}}*{{peso|unlocalize}};
                        peso_linha += {{peso|unlocalize}};
                        {% if aval == "RII" or aval == "RFI" %}
                          nota_indiv += {{nota|unlocalize}}*{{peso|unlocalize}};
                          peso_indiv += {{peso|unlocalize}};
                        {% endif %}
                      </script>
                    {% endif %}
                {% endfor %}
              </td>

              <td id="indiv{{aluno.id}}"> {% comment %} <!-- Individual --> {% endcomment %}
                {% if alocacao %}
                  <script>
                    var indiv_tag = $("#indiv{{aluno.id}}");
                    peso_indiv = +peso_indiv.toFixed(7); // arredonda valores
                    if (peso_indiv>0) {
                      var mindiv = nota_indiv/peso_indiv;
                      mindiv = +mindiv.toFixed(6); // arredonda valores
                      tag_txt = '<a {% if alocacao %}href="{% url 'edita_notas' alocacao.id %}"{% endif %} target="_blank" rel="noopener noreferrer" '
                      if(mindiv < 5) {
                        tag_txt += 'style="color:red"'
                      }
                      tag_txt += '>' + mindiv.toFixed(2)
                      indiv_tag.html(tag_txt);
                    }
                  </script>
                {% endif %}
              </td>

              <td id="media{{aluno.id}}"> {% comment %} <!-- Média --> {% endcomment %}
                {% if alocacao %}
                  <a href="{% url 'edita_notas' alocacao.id %}" target="_blank" rel="noopener noreferrer"></a>
                  <script>
                    var media_tag = $("#media{{aluno.id}}");

                    {% if alocacao.projeto_alocado_reprovacao.all %}
                      media_tag.html('<a style="color:red" data-toggle="tooltip" data-html="true" animation="true" title="Reprovação por alguma falha de objetivo de aprendizado ou não obtida média individual suficiente" href="{% url 'edita_notas' alocacao.id %}" target="_blank" rel="noopener noreferrer">{{ alocacao.projeto_alocado_reprovacao.last.nota|stringformat:".2f"|unlocalize }}</a>');
                    {% else %}
                      peso_linha = +peso_linha.toFixed(7); // arredonda valores
                      if (peso_linha>0) {
                        var media = nota_linha/peso_linha;
                        media = +media.toFixed(6); // arredonda valores
                        if(peso_linha != 1) {
                          media_tag.html('<a style="color:orange" data-toggle="tooltip" data-html="true" animation="true" title="Pesos da média diferente de 100% (' + (peso_linha*100).toFixed(1)+ '%)" href="{% url 'edita_notas' alocacao.id %}" target="_blank" rel="noopener noreferrer">' + media.toFixed(2) + '</a>');
                        } else {
                          tag_txt = '<a {% if alocacao %}href="{% url 'edita_notas' alocacao.id %}"{% endif %} target="_blank" rel="noopener noreferrer" '
                          if(media < 5) {
                            tag_txt += 'style="color:red"'
                          }
                          tag_txt += '>' + media.toFixed(2) + '</a>'
                          media_tag.html(tag_txt);
                        }
                      }
                    {% endif %}
                  </script>
                {% endif %}
              </td>
            {% endwith %}
          </tr>
          {% endfor %}
        </tbody>
        <caption style="text-align:right">
          <small>
            <span style="white-space: nowrap;">BI: Banca Intermediária</span> |
            <span style="white-space: nowrap;">BF: Banca Final</span> |
            <span style="white-space: nowrap;">RIG: Relatório Intermediário de Grupo</span> |
            <span style="white-space: nowrap;">RFG: Relatório Final de Grupo</span> |
            <span style="white-space: nowrap;">RII: Relatório Intermediário Individual</span> |
            <span style="white-space: nowrap;">RFI: Relatório Final Individual</span>
            <br>
            Projetos <u>sublinhados</u> são de Capstone Avançado
          </small>
        </caption>
      </table>
    </div>
   
    {% if alunos_list %}
      <div id="medias" style="padding: 4px;">
        <b><span lang="pt">Média no semestre</span><span lang="en">Semester average</span> = <span id="media"></span></b><br>
        <b><span lang="pt">Desvio padrão no semestre</span><span lang="en">Standard deviation in the semester</span> = <span id="desvio"></span></b><br>
      </div>
      {% if user.tipo_de_usuario == 4 %}
        <br>
        <div style="padding-left: 46px"> 
          <a target="_blank" rel="noopener noreferrer" href="{% url 'blackboard_notas' ano_semestre %}">
            <span lang="pt">Tabela para Blackboard</span>
            <span lang="en">Table for Blackboard</span>
          </a>
        </div>
      {% endif %}
    {% endif %}

    <script>

      var sum = 0;
      var count = 0;
      var array = [];
      var all = $("#EstudantesTable > tbody > tr");
      all.each(function() {
          texto = $("td:eq(4)", this).text().trim().replace(",", ".");
          nota = parseFloat(texto)
          if(!isNaN(nota)) {
            sum += nota
            array.push(nota);
            count++;
          }
      });

      if(count > 0) {
        $("#medias").show();
        $("#media").html((sum / count).toFixed(3));
        var tamanho = array.length
        var mean = array.reduce((a, b) => a + b) / tamanho
        std = Math.sqrt(array.map(x => Math.pow(x - mean, 2)).reduce((a, b) => a + b) / tamanho)
        $("#desvio").html(std.toFixed(5));

      } else {
        $("#medias").hide();
      }
      
      function carrega_pagina() {
        if($("#EstudantesTable th").length > 0) {   // Verifica se os THs foram registrados primeiro
          table = $("#EstudantesTable").dataTable();
          if(table) {
            table.fnSetColumnVis( 1, false );  // esconde e-mail
            table.fnSetColumnVis( 2, false );  // esconde Curso
          }
        }
      };

      function carrega_site() {
        {% include "edicao_puxar_local_ou_versao.js" %}
        carrega_pagina();
      };
      window.onload = carrega_site

    </script>

  </div>

  {% include "edicoes_ajax.html" with tabela="Estudantes" %}
  
{% endblock %}