{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Janeiro de 2020
{% endcomment %}

{% load static %}
{% load certificados %}
{% load linguas %}

{% block head %}
  {% include "reload.html" %}
{% endblock %}

{% block content %}

  {% include "usuario.html" with user=parceiro.user %}

  {% if parceiro.principal_contato %}
    <span data-toggle="tooltip" data-html="true" animation="true" title="Principal Contato">&#x2B50;</span>
  {% endif %}

  {% if parceiro.organizacao %}
    <b>{% lng "Organização:" "Organization:" %}</b>
    <a href="{% url 'organizacao_completo' parceiro.organizacao.id %}">{{parceiro.organizacao.nome}}</a><br>
  {% endif %}

  {% if parceiro.cargo %}
    <b>{% lng "Cargo:" "Position:" %}</b> {{parceiro.cargo}}<br>
  {% endif %}

  {% include "dados_usuario.html" with user=parceiro.user %}
  
  {% if conexoes %}
    <hr>
    <h3>{% lng "Conexões com Projetos" "Connections with Projects" %}</h3>
    <ol>
      {% for conexao in conexoes %}
        {% if conexao.projeto %}
          <li><a href="{% url 'projeto_infos' conexao.projeto.id %}">
          {{conexao.projeto.get_titulo}}
          ({{conexao.projeto.ano}}.{{conexao.projeto.semestre}}) &#x2192;
          {% for papel in conexao.get_papeis %}[{% lng papel.nome papel.nome_en %}] {% endfor %}
          </a></li>
        {% else %}
          {% lng "PROBLEMA AO RECUPERAR PROJETO!" "PROBLEM RETRIEVING PROJECT!" %}
        {% endif %}
      {% endfor %}
    </ol>
  {% endif %}

  {% include "participacoes_usuario.html" with usuario=parceiro.user %}

  {% if user.eh_admin %}
    <a href="{% url 'edita_usuario' parceiro.user.id %}">
      <button class="btn btn-primary" style="float: right;">Editar</button>
    </a>
  {% endif %}
  
{% endblock %}