{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Janeiro de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load certificados %}
  {% load linguas %}
  {% include "reload.html" %}
{% endblock %}

{% block content %}

  {% include "usuario.html" with user=parceiro.user %}

  {% if parceiro.principal_contato %}
      <span data-toggle="tooltip" data-html="true" animation="true" title="Principal Contato">
        &#x2B50;
      </span>
    {% endif %}

  {% if parceiro.organizacao %}
    <b>
      {% lng "Organização:" "Organization:" %}
    </b>
    <a href="{% url 'organizacao_completo' parceiro.organizacao.id %}">
      {{parceiro.organizacao.nome}}
    </a>
    <br>
  {% endif %}

  {% if parceiro.cargo %}
    <b>
      {% lng "Cargo:" "Position:" %}
    </b> {{parceiro.cargo}}<br>
  {% endif %}

  {% include "dados_usuario.html" with user=parceiro.user %}
  
  {% if conexoes %}
    <hr>
    <h3>
      {% lng "Conexões com Projetos" "Connections with Projects" %}
    </h3>
    <ol>
      {% for conexao in conexoes %}
        {% if conexao.projeto %}
          <li><a href="{% url 'projeto_infos' conexao.projeto.id %}">
          {{conexao.projeto.get_titulo}}
          ({{conexao.projeto.ano}}.{{conexao.projeto.semestre}}) &#x2192;
          {% for papel in conexao.get_papeis %}[{{papel.0}}] {% endfor %}
          </a></li>
        {% else %}
          {% lng "PROBLEMA AO RECUPERAR PROJETO!" "PROBLEM RETRIEVING PROJECT!" %}
        {% endif %}
      {% endfor %}
    </ol>
  {% endif %}

  {% if aulas %}
    <hr>
    <h4>Aula{% if aulas|length > 1 %}s{% endif %} Ministrada{% if aulas|length > 1 %}s{% endif %}</h4>
    <ol>{% for aula in aulas %}
        <li> {{aula.startDate}} - {{aula.atividade}} </li>  
    {% endfor %}</ol>
  {% endif %}

  {% if mentorias %}
    <hr>
    <h4>
      {% lng_n mentorias|length "Mentoria em Projeto" "Mentorias em Projetos" "Mentorship in Project" "Mentorship in Projects" %}
    </h4>
    <ol>{% for mentoria in mentorias %}
      <li><a href="{% url 'dinamicas_editar' mentoria.id %}">
      {{mentoria.projeto.get_titulo}}
      [{{mentoria.projeto.ano}}.{{mentoria.projeto.semestre}}]
      em {{mentoria.startDate}}
      </a></li>
    {% endfor %}</ol>
  {% endif %}

  {% if bancas %}
    <hr>
    <h4>Participação em Banca{% if bancas|length > 1 %}s{% endif %}</h4>
    <ol>{% for banca in bancas %}
        <li>
          <a href="{% url 'banca_ver' banca.id %}">
          {% if banca.composicao.exame.sigla == "F" %}
            Certificação Falconi,
          {% else %}
            Desconhecido,
          {% endif %}
          {% if banca.startDate %}
            {{banca.startDate.date}},
          {% endif %}
          </a>
          {% if banca.get_projeto %}
            <a href="{% url 'projeto_infos' banca.get_projeto.id %}">{{banca.get_projeto.get_titulo}}</a>,
          {% endif %}
          {% if banca.get_projeto.organizacao %}
            <a href="{% url 'organizacao_completo' banca.get_projeto.organizacao.id %}">
              {{ banca.get_projeto.organizacao.nome }}
            </a>
          {% endif %}
          {% with certificado=banca|certificado_banca:parceiro.user %}
            {% if certificado %}
              <a href="{{certificado}}" target="_blank" rel="noopener noreferrer">[CERTIFICADO]</a><br>
            {% endif %}
          {% endwith %}
        </li>
    {% empty %}
      Bancas não encontrados
    {% endfor %}</ol>
    
  {% endif %}

  {% if user.eh_admin %}
    <a href="{% url 'edita_usuario' parceiro.user.id %}">
      <button class="btn btn-primary" style="float: right;">Editar</button>
    </a>
  {% endif %}
  
{% endblock %}