{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {# aluno_form.as_p #}

    <h3>Áreas de Interesse</h3>

    <table>

    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="inovacao_social" 
            {% if aluno.inovacao_social %}checked{% endif %}>&nbsp;
        </td>
        <td>Inovação Social</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" 
            {% if aluno.ciencia_dos_dados %}checked{% endif %}>&nbsp;
        </td>
        <td>Ciência dos Dados</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="modelagem_3D" 
            {% if aluno.modelagem_3D %}checked{% endif %}>&nbsp;
        </td>
        <td>Modelagem 3D</td>
    </tr>      
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="manufatura" 
            {% if aluno.manufatura %}checked{% endif %}>&nbsp;
        </td>
        <td>Manufatura</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="resistencia_dos_materiais" 
            {% if aluno.resistencia_dos_materiais %}checked{% endif %}>&nbsp;
        </td>
        <td>Resistência dos Materiais</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="modelagem_de_sistemas" 
            {% if aluno.modelagem_de_sistemas %}checked{% endif %}>&nbsp;
        </td>
        <td>Modelagem de Sistemas</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="controle_e_automacao" 
            {% if aluno.controle_e_automacao %}checked{% endif %}>&nbsp;
        </td>
        <td>Controle e Automação</td>
    </tr>      
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="termodinamica" 
            {% if aluno.termodinamica %}checked{% endif %}>&nbsp;
        </td>
        <td>Termodinâmica</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="fluidodinamica" 
            {% if aluno.fluidodinamica %}checked{% endif %}>&nbsp;
        </td>
        <td>Fluidodinâmica</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="eletronica_digital" 
            {% if aluno.eletronica_digital %}checked{% endif %}>&nbsp;
        </td>
        <td>Eletrônica Digital</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="programacao" 
            {% if aluno.programacao %}checked{% endif %}>&nbsp;
        </td>
        <td>Programação</td>
    </tr>      
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="inteligencia_artificial" 
            {% if aluno.inteligencia_artificial %}checked{% endif %}>&nbsp;
        </td>
        <td>Inteligência Artificial</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="computacao_em_nuvem" 
            {% if aluno.computacao_em_nuvem %}checked{% endif %}>&nbsp;
        </td>
        <td>Computação em Nuvem</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="banco_de_dados" 
            {% if aluno.banco_de_dados %}checked{% endif %}>&nbsp;
        </td>
        <td>Banco de Dados</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="visao_computacional" 
            {% if aluno.visao_computacional %}checked{% endif %}>&nbsp;
        </td>
        <td>Visão Computacional</td>
    </tr>      
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="computacao_de_alto_desempenho" 
            {% if aluno.computacao_de_alto_desempenho %}checked{% endif %}>&nbsp;
        </td>
        <td>Computação de Alto Desempenho</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="robotica" 
            {% if aluno.robotica %}checked{% endif %}>&nbsp;
        </td>
        <td>Robótica</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="realidade_virtual_aumentada" 
            {% if aluno.realidade_virtual_aumentada %}checked{% endif %}>&nbsp;
        </td>
        <td>Realidade Virtual/Aumentada</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="protocolos_de_comunicacao" 
            {% if aluno.protocolos_de_comunicacao %}checked{% endif %}>&nbsp;
        </td>
        <td>Protocolos de Comunicação</td>
    </tr>      
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="eficiencia_energetica" 
            {% if aluno.eficiencia_energetica %}checked{% endif %}>&nbsp;
        </td>
        <td>Eficiência Energética</td>
    </tr>
    <tr><td>&nbsp;<input type="checkbox"  onclick="return false;" value="administracao_economia_financas" 
            {% if aluno.administracao_economia_financas %}checked{% endif %}>&nbsp;
        </td>
        <td>Administração, Economia e Finanças</td>
    </tr>

    </table>
    <p>&nbsp;</p>

    <button type="submit">Enviar</button>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</form>
{% endblock %}