{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 4 de Setembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load certificados %}
  {% load addhttp %}
  {% load linguas %}
  {% include "reload.html" %}
  <link rel="stylesheet" href="{% static 'css/caixa_rolante.css' %}">
{% endblock %}

{% block content %}

  {% include "usuario.html" with user=professor.user %}
  
  <b>{% lng "Tipo" "Type" %}:</b>
  {% if professor.dedicacao %}{{professor.get_dedicacao_display}}{% else %}&lt;&lt;Não Definido&gt;&gt;{% endif %}<br>
  {% if professor.lattes %}<b>Lattes:</b> <a href="{{ professor.lattes }}">{{ professor.lattes }}</a><br>{% endif %}
  {% if professor.website %}<b>website:</b> <a href="{{ professor.website|add_http }}">{{ professor.website }}</a><br>{% endif %}
  {% if professor.areas %}<b>{% lng "Áreas de Interesse" "Areas of Interest" %}:</b> {{ professor.areas }}<br>{% endif %}

  {% include "dados_usuario.html" with user=professor.user %}

  {% if projetos %}
    <hr>
    <h4>{% lng_n projetos|length "Projeto Orientado" "Projetos Orientados" "Supervised Project" "Supervised Projects" %}</h4>
    <ol>
    {% for projeto in projetos %}
      {% if projeto.alocacao_set.all.count > 0 %}
        <li><a href="{% url 'projeto_infos' projeto.id %}">
        {{projeto.ano}}.{{projeto.semestre}}: [{{projeto.organizacao.nome}}] {{projeto.get_titulo}}
        {% templatetag openbrace %}{{projeto.alocacao_set.all.count}} estudante{% if projeto.alocacao_set.all.count > 1 %}s{% endif %}{% templatetag closebrace %}
        </a>
        {% with certificado_orientador=projeto|certificado_orientador %}
          {% if certificado_orientador %}
            <a href="{{ certificado_orientador.last.documento.url }}" target="_blank" rel="noopener noreferrer">{% lng "[CERTIFICADO]" "[CERTIFICATE]" %}</a>
          {% endif %}
        {% endwith %}
        {% comment %} {% if projeto.proposta.intercambio %}
          <sup data-toggle="tooltip" data-html="true" animation="true" title="Professor Responsável">PR</sup>
        {% endif %} {% endcomment %}
        </li>
      {% endif %}
    {% empty %}
      {% lng "Projetos não encontrados" "Projects not found" %}
    {% endfor %}
    </ol>
  {% endif %}

  {% if responsavel %}
    <hr>
    <h4>{% lng "Professor Responsável" "Professor in charge" %}</h4>
    <ol>
    {% for projeto in responsavel %}
      {% if projeto.alocacao_set.all.count > 0 %}
        <li><a href="{% url 'projeto_infos' projeto.id %}">
        {{projeto.ano}}.{{projeto.semestre}}: [{{projeto.organizacao.nome}}] {{projeto.get_titulo}}
        {% templatetag openbrace %}{{projeto.alocacao_set.all.count}} estudante{% if projeto.alocacao_set.all.count > 1 %}s{% endif %}{% templatetag closebrace %}
        </a>
        {% comment %} {% with certificado_orientador=projeto|certificado_responsavel %}
          {% if certificado_orientador %}
            <a href="{{ certificado_orientador.last.documento.url }}" target="_blank" rel="noopener noreferrer">{% lng "[CERTIFICADO]" "[CERTIFICATE]" %}</a>
          {% endif %}
        {% endwith %} {% endcomment %}
        </li>
      {% endif %}
    {% empty %}
      {% lng "Projetos não encontrados" "Projects not found" %}
    {% endfor %}
    </ol>
  {% endif %}

  {% include "participacoes_usuario.html" with usuario=professor.user %}

  {% if user.eh_admin %}
    <a href="{% url 'edita_usuario' professor.user.id %}">
      <button class="btn btn-primary mb-1" style="float: right;">
        {% lng "Editar" "Edit" %}
      </button>
    </a>
  {% endif %}

{% endblock %}