{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 4 de Setembro de 2019
{% endcomment %}

{% block content %}
  
  <span class="titulo">{{professor.user.get_full_name}}</span>
  <br>

  <strong>Regime de Dedicação:</strong>
  {% if professor.dedicacao %}
    {{professor.dedicacao}}
  {% else %}
    &lt;&lt;Não Definido&gt;&gt;
  {% endif %}
  <br>
  {% if professor.lattes %}
    <strong>Lattes:</strong> <a href="{{ professor.lattes }}"> {{ professor.lattes }} </a><br>
  {% endif %}
  {% if professor.user.linkedin %}
    <strong>LinkedIn:</strong> <a href="{{professor.user.linkedin}}" target="_blank">{{professor.user.linkedin}}</a><br>
  {% endif %}
  <strong>e-mail:</strong> <a href="mailto:{{professor.user.email}}"> &lt;{{professor.user.email}}&gt;</a><br>
  {% if professor.website %}
    <strong>website:</strong> <a href="{{ professor.website }}"> {{ professor.website }} </a><br>
  {% endif %}
  {% if professor.areas %}
    <strong>Áreas de Interesse:</strong> {{ professor.areas }}<br>
  {% endif %}
  
  {% if projetos %}
    <hr>
    <h4>Projeto(s) Orientado(s)</h4>
    <ol>
    {% for projeto in projetos %}
      {% if projeto.alocacao_set.all.count > 0 %}
        <li><a href="{% url 'projeto_completo' projeto.id %}">
        [{{projeto.ano}}.{{projeto.semestre}}] -
        {{projeto.get_titulo}}
        ({{projeto.organizacao.nome}})
        { {{ projeto.alocacao_set.all.count }} aluno(s) }
        </a></li>
      {% endif %}
    {% empty %}
      Projetos não encontrados
    {% endfor %}
    </ol>
  {% endif %}

  {% if bancas %}
    <hr>
    <h4>Participação em Banca(s)</h4>
    <ol>
    {% for banca in bancas %}
        <li>
          <a href="{% url 'banca_ver' banca.id %}">
          {% if banca.tipo_de_banca == 0 %}
            Final,
          {% elif banca.tipo_de_banca == 1 %}
            Intermediária,
          {% endif %}
          {% if banca.startDate %}
            {{banca.startDate.date}},
          {% endif %}
          </a>
          {% if banca.projeto %}
            <a href="{% url 'projeto_completo' banca.projeto.id %}">
              {% if banca.projeto.titulo_final %}
                {{banca.projeto.titulo_final}}</a>,
              {% else %}
                {{banca.projeto.titulo}}</a>,
              {% endif %}
          {% endif %}
          {% if banca.projeto.organizacao %}
            <a href="{% url 'organizacao_completo' banca.projeto.organizacao.id %}">
              {{ banca.projeto.organizacao.nome }}
            </a>
          {% endif %}
        </li>
    {% empty %}
      Bancas não encontrados
    {% endfor %}
    </ol>
  {% endif %}


  <p>&nbsp;</p>
  <p>&nbsp;</p>

{% endblock %}