


REMOVER ESSE ARQUIVO, NAO DEVE MAIS SER USADO




{% if certificado.tipo_de_certificado < 100 %} {% comment %} estudantes {% endcomment %}

  {% if certificado.tipo_de_certificado != 0 %}

    {{certificado.usuario.get_full_name}},<br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;
    Parabéns pela conclusão do Projeto Final de Engenharia do Insper.<br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;
    Abaixo se encontra seu certificado no formato digital. Se desejar, você pode publicar em suas redes
    sociais, como o LinkedIn, ou incluir a informação no seu currículo pessoal.<br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;
    Outra opção é incluir a informação no seu
    <a href='http://lattes.cnpq.br/' target='_blank' rel='noopener noreferrer'>Currículo Lattes</a>,
    um canal usado pela comunidade acadêmica para currículos padronizados.<br><br>

  {% endif %}

{% else %}
      {% if certificado.usuario.tipo_de_usuario == 2 or certificado.usuario.tipo_de_usuario == 4 %}
        Prof{% if certificado.usuario.genero == 'F' %}a{% endif %}.
      {% else %}
        Prezad{% if certificado.usuario.genero == 'F' %}a{% else %}o{% endif %}
      {% endif %}
      {{certificado.usuario.get_full_name}},<br><br>

  {% if certificado.tipo_de_certificado == 101 %} {% comment %} orientador {% endcomment %}

      &nbsp;&nbsp;&nbsp;&nbsp;
      Gostaríamos de agradecer sua dedicação na Orientação do Projeto Final de Engenharia.<br>
      <br>
      
      &nbsp;&nbsp;&nbsp;&nbsp;
      Se desejar incluir a informação no seu Currículo Lattes<br>
      Acesse: <a href='http://lattes.cnpq.br/' target='_blank' rel='noopener noreferrer'>http://lattes.cnpq.br/</a><br>
      Escolha: <b>Orientações >> Orientação e supervisão concluída</b><br>
      
      - opção: <b>Trabalho de conclusão de curso de graduação</b><br>
      - título: <b>{{certificado.projeto.get_titulo}}</b><br>
      - ano: <b>{{certificado.projeto.ano}}</b><br>
      - nome do orientando: <b>
      {% for alocacao in certificado.projeto.alocacao_set.all %}
        {{alocacao.aluno.user.get_full_name}}{% if not forloop.last %},{% endif %}
      {% endfor %}
      </b><br>
      - instituição: <b>Insper Instituto de Ensino e Pesquisa</b><br>
      - curso: <b>Engenharia</b><br>
      <br>

  {% elif certificado.tipo_de_certificado == 102 %} {% comment %} coorientador {% endcomment %}

      &nbsp;&nbsp;&nbsp;&nbsp;
      Gostaríamos de agradecer sua dedicação na Coorientação do Projeto Final de Engenharia.<br>
      <br>
      
      &nbsp;&nbsp;&nbsp;&nbsp;
      Se desejar incluir a informação no seu Currículo Lattes<br>
      Acesse: <a href='http://lattes.cnpq.br/' target='_blank' rel='noopener noreferrer'>http://lattes.cnpq.br/</a><br>
      Escolha: <b>Orientações >> Orientação e supervisão concluída</b><br>

      - opção: <b>Orientação de outra natureza</b><br>
      - título: <b>{{certificado.projeto.get_titulo}}</b><br>
      - ano: <b>{{certificado.projeto.ano}}</b><br>
      - nome do orientando: <b>
      {% for alocacao in certificado.projeto.alocacao_set.all %}
        {{alocacao.aluno.user.get_full_name}}{% if not forloop.last %},{% endif %}
      {% endfor %}
      </b><br>
      - instituição: <b>Insper Instituto de Ensino e Pesquisa</b><br>
      - curso: <b>Engenharia</b><br>
      - outras informações: <b>Coorientação de TCC</b><br>
      <br>

  {% elif certificado.tipo_de_certificado == 103 %} {% comment %} b. intermediária {% endcomment %}

      &nbsp;&nbsp;&nbsp;&nbsp;
      Gostaríamos de agradecer sua participação na Banca Intermediária do Projeto Final de Engenharia.<br>
      <br>
      
      &nbsp;&nbsp;&nbsp;&nbsp;
      Se desejar incluir a informação no seu Currículo Lattes<br>
      Acesse: <a href='http://lattes.cnpq.br/' target='_blank' rel='noopener noreferrer'>http://lattes.cnpq.br/</a><br>
      Escolha: <b>Bancas >> Participação em bancas de trabalhos de conclusão</b><br>

      - natureza: <b>Graduação</b><br>
      - título: <b>{{certificado.projeto.get_titulo}}</b><br>
      - ano: <b>{{certificado.projeto.ano}}</b><br>
      - nome do candidato: <b>
      {% for alocacao in certificado.projeto.alocacao_set.all %}
        {{alocacao.aluno.user.get_full_name}}{% if not forloop.last %},{% endif %}
      {% endfor %}
      </b><br>
      - instituição: <b>Insper Instituto de Ensino e Pesquisa</b><br>
      - curso: <b>Engenharia</b><br>
      - outras informações: <b>Banca Intermediária de TCC</b><br>
      <br>

  {% elif certificado.tipo_de_certificado == 104 %} {% comment %} b. final {% endcomment %}

      &nbsp;&nbsp;&nbsp;&nbsp;
      Gostaríamos de agradecer sua participação na Banca Final do Projeto Final de Engenharia.<br>
      <br>

      &nbsp;&nbsp;&nbsp;&nbsp;
      Se desejar incluir a informação no seu Currículo Lattes<br>
      Acesse: <a href='http://lattes.cnpq.br/' target='_blank' rel='noopener noreferrer'>http://lattes.cnpq.br/</a><br>
      Escolha: <b>Bancas >> Participação em bancas de trabalhos de conclusão</b><br>

      - natureza: <b>Graduação</b><br>
      - título: <b>{{certificado.projeto.get_titulo}}</b><br>
      - ano: <b>{{certificado.projeto.ano}}</b><br>
      - nome do candidato: <b>
      {% for alocacao in certificado.projeto.alocacao_set.all %}
        {{alocacao.aluno.user.get_full_name}}{% if not forloop.last %},{% endif %}
      {% endfor %}
      </b><br>
      - instituição: <b>Insper Instituto de Ensino e Pesquisa</b><br>
      - curso: <b>Engenharia</b><br>
      - outras informações: <b>Banca Final de TCC</b><br>
      <br>

  {% elif certificado.tipo_de_certificado == 108 %} {% comment %} b. probation {% endcomment %}

      &nbsp;&nbsp;&nbsp;&nbsp;
      Gostaríamos de agradecer sua participação na Banca de Probation do Projeto Final de Engenharia.<br>
      <br>

      &nbsp;&nbsp;&nbsp;&nbsp;
      Se desejar incluir a informação no seu Currículo Lattes<br>
      Acesse: <a href='http://lattes.cnpq.br/' target='_blank' rel='noopener noreferrer'>http://lattes.cnpq.br/</a><br>
      Escolha: <b>Bancas >> Participação em bancas de trabalhos de conclusão</b><br>

      - natureza: <b>Graduação</b><br>
      - título: <b>{{certificado.projeto.get_titulo}}</b><br>
      - ano: <b>{{certificado.projeto.ano}}</b><br>
      - nome do candidato: <b>
      {% if certificado.alocacao %}
        {{certificado.alocacao.aluno.user.get_full_name}}
      {% endif %}
      </b><br>
      - instituição: <b>Insper Instituto de Ensino e Pesquisa</b><br>
      - curso: <b>Engenharia</b><br>
      - outras informações: <b>Banca Final de TCC</b><br>
      <br>

  {% elif certificado.tipo_de_certificado == 105 %} {% comment %} b. falconi {% endcomment %}

      &nbsp;&nbsp;&nbsp;&nbsp;
      Gostaríamos de agradecer sua participação na Banca de Certificação Falconi do Projeto Final de Engenharia.<br>
      <br>

      &nbsp;&nbsp;&nbsp;&nbsp;
      Sua participação foi muito importante para os nossos estudantes e professores. </b><br>
      <br>

  {% elif certificado.tipo_de_certificado == 106 %} {% comment %} mentoria {% endcomment %}

      &nbsp;&nbsp;&nbsp;&nbsp;
      Gostaríamos de agradecer sua participação como mentor{% if certificado.usuario.genero == 'F' %}a{% endif %} no Projeto Final de Engenharia do Insper.<br>
      <br>

      &nbsp;&nbsp;&nbsp;&nbsp;
      Esperamos que tenha tido uma boa experiência com nossos estudantes e agradecemos muito por todo seu tempo dedicado <b>
      <br>

  {% elif certificado.tipo_de_certificado == 107 %} {% comment %} mentoria técnica {% endcomment %}

      &nbsp;&nbsp;&nbsp;&nbsp;
      Primeiramente muito obrigado pela parceria com o Insper no Projeto Final de Engenharia. 
      Gostaríamos de agradecer sua participação como mentor{% if certificado.usuario.genero == 'F' %}a{% endif %} no Projeto Final de Engenharia do Insper.
      Esperamos que tenha tido uma boa experiência com nossos estudantes e agradecemos muito por todo seu tempo dedicado, bem como todo o apoio da equipe da {{certificado.projeto.organizacao}}. <b><br>
      <br>

      &nbsp;&nbsp;&nbsp;&nbsp;
      Gostaríamos de coletar alguns feedbacks seus, algo bem curto mesmo, para saber se tudo correu bem e se você tem alguma sugestão para fazermos no futuro, são 4 perguntas.
      O link do formulário está em https://pfe.insper.edu.br/organizacoes/projeto_feedback <b><br>

  {% endif %}

{% endif %}

{% if certificado.documento %}
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;
    Preparamos um documento sobre sua contribuição que se encontra em: 
    <a href='{{servidor}}{{ certificado.documento.url }}' target='_blank' rel='noopener noreferrer'>{{servidor}}{{ certificado.documento.url }}</a><br><br>
{% endif %}

<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
atenciosamente, {{configuracao.coordenacao.coordenador_email}} (coordenação%Capstone)