{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 12 de Janeiro de 2021
{% endcomment %}

{% load escape_emails %}

{% if certificado.tipo_de_certificado < 100 %} {% comment %} estudantes {% endcomment %}

  {% if certificado.tipo_de_certificado != 0 %} {% comment %} Não é não definido {% endcomment %}

    {{certificado.usuario.get_full_name|parse_quote}},%0D%0A%0D%0A

    {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
    Parabéns%20pela%20conclusão%20do%20Projeto%20Final%20de%20Engenharia%20do%20Insper.%0D%0A
    %0D%0A

    {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
    Abaixo se encontra seu certificado no formato digital. Se desejar, você pode publicar em suas redes
    sociais, como o LinkedIn, ou incluir a informação no seu currículo pessoal.%0D%0A
    %0D%0A

    {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
    Outra opção é incluir a informação no seu
    {% if formatada %}%3Ca href='http://lattes.cnpq.br/' target='_blank' rel='noopener noreferrer'%3E{% endif %}Currículo Lattes{% if formatada %}%3C%2Fa%3E{% endif %},
    um canal usado pela comunidade acadêmica para currículos padronizados.%0D%0A
    %0D%0A

  {% endif %}

{% else %}
      {% if certificado.usuario.tipo_de_usuario == 2 or certificado.usuario.tipo_de_usuario == 4 %}
        Prof{% if certificado.usuario.genero == 'F' %}a{% endif %}.
      {% else %}
        Prezad{% if certificado.usuario.genero == 'F' %}a{% else %}o{% endif %}
      {% endif %}
      {{certificado.usuario.get_full_name|parse_quote}},%0D%0A%0D%0A

  {% if certificado.tipo_de_certificado == 101 %} {% comment %} orientador {% endcomment %}

      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Gostaríamos de agradecer sua dedicação na Orientação do Projeto Final de Engenharia.%0D%0A
      %0D%0A
      
      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Se desejar incluir a informação no seu Currículo Lattes%0D%0A
      Acesse:%20{% if formatada %}%3Ca href='http://lattes.cnpq.br/' target='_blank' rel='noopener noreferrer'%3E{% endif %}http://lattes.cnpq.br/{% if formatada %}%3C%2Fa%3E{% endif %}%0D%0A
      Escolha:%20{% if formatada %}%3Cb%3E{% endif %}Orientações%20%3E%3E%20Orientação e supervisão concluída{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      
      -%20opção:%20{% if formatada %}%3Cb%3E{% endif %}Trabalho de conclusão de curso de graduação{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20título:%20{% if formatada %}%3Cb%3E{% endif %}{{certificado.projeto.get_titulo|parse_quote}}{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20ano:%20{% if formatada %}%3Cb%3E{% endif %}{{certificado.projeto.ano}}{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20nome do orientando:%20{% if formatada %}%3Cb%3E{% endif %}
      {% for alocacao in certificado.projeto.alocacao_set.all %}
        {{alocacao.aluno.user.get_full_name|parse_quote}}{% if not forloop.last %},{% endif %}
      {% endfor %}
      {% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20instituição:%20{% if formatada %}%3Cb%3E{% endif %}Insper Instituto de Ensino e Pesquisa{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20curso:%20{% if formatada %}%3Cb%3E{% endif %}Engenharia{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      %0D%0A

  {% elif certificado.tipo_de_certificado == 102 %} {% comment %} coorientador {% endcomment %}

      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Gostaríamos de agradecer sua dedicação na Coorientação do Projeto Final de Engenharia.%0D%0A
      %0D%0A
      
      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Se desejar incluir a informação no seu Currículo Lattes%0D%0A
      Acesse:%20{% if formatada %}%3Ca href='http://lattes.cnpq.br/' target='_blank' rel='noopener noreferrer'%3E{% endif %}http://lattes.cnpq.br/{% if formatada %}%3C%2Fa%3E{% endif %}%0D%0A
      Escolha:%20{% if formatada %}%3Cb%3E{% endif %}Orientações%20%3E%3E%20Orientação e supervisão concluída{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A

      -%20opção:%20{% if formatada %}%3Cb%3E{% endif %}Orientação de outra natureza{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20título:%20{% if formatada %}%3Cb%3E{% endif %}{{certificado.projeto.get_titulo|parse_quote}}{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20ano:%20{% if formatada %}%3Cb%3E{% endif %}{{certificado.projeto.ano}}{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20nome do orientando:%20{% if formatada %}%3Cb%3E{% endif %}
      {% for alocacao in certificado.projeto.alocacao_set.all %}
        {{alocacao.aluno.user.get_full_name|parse_quote}}{% if not forloop.last %},{% endif %}
      {% endfor %}
      {% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20instituição:%20{% if formatada %}%3Cb%3E{% endif %}Insper Instituto de Ensino e Pesquisa{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20curso:%20{% if formatada %}%3Cb%3E{% endif %}Engenharia{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20outras informações:%20{% if formatada %}%3Cb%3E{% endif %}Coorientação de TCC{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      %0D%0A

  {% elif certificado.tipo_de_certificado == 103 %} {% comment %} banca intermediária {% endcomment %}

      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Gostaríamos de agradecer sua participação na Banca Intermediária do Projeto Final de Engenharia.%0D%0A
      %0D%0A
      
      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Se desejar incluir a informação no seu Currículo Lattes%0D%0A
      Acesse:%20{% if formatada %}%3Ca href='http://lattes.cnpq.br/' target='_blank' rel='noopener noreferrer'%3E{% endif %}http://lattes.cnpq.br/{% if formatada %}%3C%2Fa%3E{% endif %}%0D%0A
      Escolha:%20{% if formatada %}%3Cb%3E{% endif %}Bancas%20%3E%3E%20Participação em bancas de trabalhos de conclusão{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A

      -%20natureza:%20{% if formatada %}%3Cb%3E{% endif %}Graduação{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20título:%20{% if formatada %}%3Cb%3E{% endif %}{{certificado.projeto.get_titulo|parse_quote}}{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20ano:%20{% if formatada %}%3Cb%3E{% endif %}{{certificado.projeto.ano}}{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20nome do candidato:%20{% if formatada %}%3Cb%3E{% endif %}
      {% for alocacao in certificado.projeto.alocacao_set.all %}
        {{alocacao.aluno.user.get_full_name|parse_quote}}{% if not forloop.last %},{% endif %}
      {% endfor %}
      {% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20instituição:%20{% if formatada %}%3Cb%3E{% endif %}Insper Instituto de Ensino e Pesquisa{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20curso:%20{% if formatada %}%3Cb%3E{% endif %}Engenharia{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20outras informações:%20{% if formatada %}%3Cb%3E{% endif %}Banca Intermediária de TCC{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      %0D%0A


  {% elif certificado.tipo_de_certificado == 104 %} {% comment %} banca final {% endcomment %}

      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Gostaríamos de agradecer sua participação na Banca Final do Projeto Final de Engenharia.%0D%0A
      %0D%0A

      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Se desejar incluir a informação no seu Currículo Lattes%0D%0A
      Acesse:%20{% if formatada %}%3Ca href='http://lattes.cnpq.br/' target='_blank' rel='noopener noreferrer'%3E{% endif %}http://lattes.cnpq.br/{% if formatada %}%3C%2Fa%3E{% endif %}%0D%0A
      Escolha:%20{% if formatada %}%3Cb%3E{% endif %}Bancas%20%3E%3E%20Participação em bancas de trabalhos de conclusão{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A

      -%20natureza:%20{% if formatada %}%3Cb%3E{% endif %}Graduação{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20título:%20{% if formatada %}%3Cb%3E{% endif %}{{certificado.projeto.get_titulo|parse_quote}}{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20ano:%20{% if formatada %}%3Cb%3E{% endif %}{{certificado.projeto.ano}}{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20nome do candidato:%20{% if formatada %}%3Cb%3E{% endif %}
      {% for alocacao in certificado.projeto.alocacao_set.all %}
        {{alocacao.aluno.user.get_full_name|parse_quote}}{% if not forloop.last %},{% endif %}
      {% endfor %}
      {% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20instituição:%20{% if formatada %}%3Cb%3E{% endif %}Insper Instituto de Ensino e Pesquisa{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20curso:%20{% if formatada %}%3Cb%3E{% endif %}Engenharia{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      -%20outras informações:%20{% if formatada %}%3Cb%3E{% endif %}Banca Final de TCC{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      %0D%0A

  {% elif certificado.tipo_de_certificado == 105 %} {% comment %} banca falconi {% endcomment %}

      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Gostaríamos de agradecer sua participação na Banca de Certificação Falconi do Projeto Final de Engenharia.%0D%0A
      %0D%0A

      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Sua participação foi muito importante para os nossos estudantes e professores.%20{% if formatada %}%3C%2Fb%3E{% endif %}%0D%0A
      %0D%0A

  {% elif certificado.tipo_de_certificado == 106 %} {% comment %} mentoria {% endcomment %}

      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Gostaríamos de agradecer sua participação como mentor{% if certificado.usuario.genero == 'F' %}a{% endif %} no Projeto Final de Engenharia do Insper.%0D%0A
      %0D%0A

      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Esperamos que tenha tido uma boa experiência com nossos estudantes e agradecemos muito por todo seu tempo dedicado%20{% if formatada %}%3Cb%3E{% endif %}
      %0D%0A

  {% elif certificado.tipo_de_certificado == 107 %} {% comment %} mentoria técnica {% endcomment %}

      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Primeiramente muito obrigado pela parceria com o Insper no Projeto Final de Engenharia. 
      Gostaríamos de agradecer sua participação como mentor{% if certificado.usuario.genero == 'F' %}a{% endif %} no Projeto Final de Engenharia do Insper.
      Esperamos que tenha tido uma boa experiência com nossos estudantes e agradecemos muito por todo seu tempo dedicado, bem como todo o apoio da equipe da {{certificado.projeto.organizacao|parse_quote}}.%20{% if formatada %}%3Cb%3E{% endif %}%0D%0A
      %0D%0A

      {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
      Gostaríamos de coletar alguns feedbacks seus, algo bem curto mesmo, para saber se tudo correu bem e se você tem alguma sugestão para fazermos no futuro, são 4 perguntas.
      O link do formulário está em https://pfe.insper.edu.br/organizacoes/projeto_feedback%20{% if formatada %}%3Cb%3E{% endif %}%0D%0A

  {% endif %}

{% endif %}

{% if certificado.documento %}
    %0D%0A
    {% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20{% endif %}
    Preparamos um documento sobre sua contribuição que se encontra em:%20
    {% if formatada %}%3Ca href='{{servidor}}{{ certificado.documento.url }}' target='_blank' rel='noopener noreferrer'%3E{% endif %}{{servidor}}{{ certificado.documento.url }}{% if formatada %}%3C%2Fa%3E%3Cbr%3E{% endif %}%0D%0A
{% endif %}

%0D%0A%0D%0A
{% if formatada %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% else %}%20%20%20%20%20%20%20%20{% endif %}
atenciosamente,%20{{configuracao.coordenacao.coordenador_email}}%20(coordenação%Capstone)