.div_arredondado {
  background: #F0F0F0;
  vertical-align: middle;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 12px;
  max-width: 100%;
  width: 800px;
  padding: 8px;
}

.div_arredondado > div {
  display: block;
  max-width: 100%;
}

.div_arredondado_100 {

  background: #f8fafc; /* azul bem claro */
  border: 1px solid #cfd8dc; /* cinza-azulado claro */
  box-shadow: 0 2px 8px rgba(90, 120, 150, 0.05); /* sombra leve */
  vertical-align: middle;
  border-radius: 6px;
  margin-bottom: 12px;
  max-width: 100%;
  width: 100%;
  padding: 8px;
}

.div_arredondado_100 > div {
  /* display: block;  Isso dá problema com o layout modal*/
  max-width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background: #FBFBFB;
  padding: 8px;
  margin-bottom: 10px;
}

.div_arredondado_azulado {
  background: #eff8ffff;
  vertical-align: middle;
  border: 1.2px dashed #90a4ae;
  border-radius: 6px;
  margin-bottom: 12px;
  max-width: 100%;
  width: 800px;
  padding: 8px;
  box-shadow: none;
}

.div_arredondado_azulado > div {
  display: block;
  max-width: 100%;
}

.pintern {
  border: 1px solid grey;
  display: block;
  margin: 6px 0px 0px 0px;
  background-color: #FAFAF3;
  padding: 2px 4px;
}
