
h5 {
  font-size: 1.1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background: linear-gradient(135deg, #f8f8ff 0%, #ffffff 100%);
}

.card:hover {
  transform: translateY(-2px) scale(1.005);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 10px;
  cursor: pointer;
}

.card-content {
  display: none;
  padding: 18px;
  border-top: 1px solid #ddd;
}
 
.link_direto {
  color: inherit;
  text-decoration: none;
}

.card-title {
  cursor: pointer;
  user-select: none;
  margin-bottom: 2px;
  color: #336;
  font-size: 1.2rem;
}

.extra-space {
  margin-top: 18px;
}

.item_lista{
  margin-left: 8px;
}

.circulo{
  font-size: 7px;
  vertical-align: 20%;
  cursor:pointer;
}

.mensagem {
  visibility: hidden;
  min-width: 250px;
  max-width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 12px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  border: 4px solid #909090;
}

.show_mensagem {
  visibility: visible;
  -webkit-animation: fadein_mensagem 0.5s, fadeout_mensagem 0.5s 2.5s;
  animation: fadein_mensagem 0.5s, fadeout_mensagem 0.5s 2.5s;
}

@-webkit-keyframes fadein_mensagem {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein_mensagem {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout_mensagem {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout_mensagem {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.inside_ul {
  list-style-type:none;
  margin-bottom: 0.8em;
}

.c_destaque {
  background: linear-gradient(135deg, rgb(239, 235, 255), rgb(236, 232, 252));
  box-shadow: 0 4px 8px rgba(225, 221, 255, 0.8);
  border-radius: 9px;
  border: 2px solid rgba(135, 121, 155, 0.4);
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}

.c_destaque h5 {
  font-weight: 600;
}

.card-title i {
  color: #5c656d;
  width: 24px;
  text-align: center;
  margin-right: 6px;
  font-size: 1.2em;
}

.card:hover i {
  color: #004baf;
}
