.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.boxed {
  border: 1px solid green ;
  margin: 10px;
  background-color: lightyellow;
  outline: 5px dashed blue;
  outline-offset: 5px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}