/* Evita que objetos sejam maiors que a tela. */
textarea, input, select, label, table {max-width:100%;}

/* não usar div {max-width:100%;} por que gera problema no selectpicker

/* Em geral está confinado e pode preencher tudo */
textarea {width: 100%;}

/* O espaço padrão é muito grande (uso em vários lugares) */
ul, ol {
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.94rem;
}

li {
  line-height: 1.2;
  margin-bottom: 6px;
}

/* Não me parece uma boa ideia */
/* p {
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0;
  margin-right: 0;
} */

.tabela-padrao {
  max-width:100%;
}

.tabela-padrao thead {
  background-color: #bee5eb;
  text-align: center;
  /* cursor: pointer; */
}

.tabela-padrao thead tr,
.tabela-padrao thead tr th {
  border: 1px solid #85cfda;
}

.tabela-padrao td {
  padding: 1px 4px 1px 4px;
  border: 1px solid #ddd;
}

label {
  /* margin-top: .25rem; Não alterar, senão edições da problema */
  margin-bottom: .25rem;
}

/*
VAI QUE PRECISA
tbody tr:nth-child(even) {background-color: #f2f2f2;}
tbody tr:nth-child(odd) {background-color: #f9f9f9;} */

.apontavel {
  cursor: pointer;
}

.signature {
  width: 250px;
  border-bottom: 2px solid #000;
}

/* Para esconder e mostrar elementos */
.hidden {display: none;}
.visible {display: block;}

/* Para adaptar o conteúdo conforme tamanho da tela */
.texto-curto { display: none; white-space: nowrap; }
.texto-longo { display: inline-block; white-space: nowrap; }
@media (max-width: 800px) {
  .texto-curto { display: inline-block; }
  .texto-longo { display: none; }
}
@media (max-width: 480px) {
  .texto-curto { font-size: small; }
}

.texto-alinhado {
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}

.linha-concisa {
  font-size: 0.85em;
  line-height: 1.15;
  margin-bottom: 0.3em;
}

.disabled {
  cursor: default;
  text-decoration: none;
  color: grey;
  opacity: 0.6;
}

.links-claros {color: lightblue;}
.links-claros a {color: lightblue;}

.boxed {
  border: 1px solid green ;
  margin: 10px;
  background-color: lightyellow;
  outline: 5px dashed blue;
  outline-offset: 5px;
}

#mensagem_aviso {
  border: 2px dashed  darkred ;
  color: red;
  margin: 18px;
  padding: 16px 8px 2px 8px;
  background-color: lightyellow;
  outline-offset: 5px;
}

/* Não mais usado */
/* .mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
} */

.striped-border {
  border: 2px dashed #000;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.tooltip-inner {
  max-width: 100% !important;
  text-align: left;
}

.tabulado {
  padding-left: 15px;
}

#canvas-holder {
  width:450px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lh-1 {
  display: inline-block;
  line-height: 1.0;
}

.logotipo {
  max-height: 128px;
  max-width: 128px;
  height: auto;
  width: auto;
  margin-bottom: 4px;
}

.logotipo_pequeno {
  max-height: 64px; 
  max-width: 64px;
  height: auto;
  width: auto;
}

.flutua_dir {
  float: right;
  margin-left: 10px;
}

@media only screen and (max-width: 740px) {
  table, th, td {font-size: 14px;}
  h3 {font-size: 1.17em;}
  h4 {font-size: 1.12em;}
  textarea {font-size: 15px;}
}

@media only screen and (max-width: 480px) {
  #canvas-holder {width:100%;}
  h3 {font-size: 1.09em;}
  h4 {font-size: 1.05em;}
  label {font-size: 15px;}
  input {font-size: 15px;}
  textarea {font-size: 14px;}
} 

@media (max-width: 800px) {
  .container-fluid {padding-right: 8px;padding-left: 8px;}
}

@page {size: auto;}
