.arredondado {
	table-layout: fixed;
	max-width: 100%;
	border-collapse:separate;
	border-spacing: 4px 6px;
	margin-left: 6px;
	margin-right: 12px;
	margin-bottom: 6px;
	border: 0px;
	width: auto;
}

.arredondado tr {
	line-height:1.3;
	height: 1px;
}

.arredondado td {
	background: #F0F0F0;
	vertical-align: middle;
	border: 1px solid grey;
	border-radius: 6px;
	max-width: calc(99vw - 34px);
}

.arredondado th {
	cursor:pointer;
}

.seta-baixo {
	visibility: hidden;
}

.seta-baixo:before {
	content: "\25BC";
	visibility: visible;
	position: relative;
}

.seta-cima {
	visibility: hidden;
}

.seta-cima:before {
	content: "\25B2"; 
	visibility: visible;
	position: relative;
}
 
.hidden_tr {
	display: none;
}

/* 
// Sem grande suporte dos browsers
table:has(#Avaliados input:checked) .hidden_tr {
	display: table-row;
} */
