.tabela_redu_estu {
  border-collapse: collapse;
  border: 0px;
}


.tabela_redu_estu td {
  padding: 0px 6px 0px 6px;
  border: 0px;
}

@media screen and (max-width: 420px) {
  .tabela_redu_estu td {
    padding: 2px 3px;
  }
}