{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 25 de Março de 2021
{% endcomment %}

{% comment %} Esse é para organizacao completo só {% endcomment %}

{% comment %} NÃO USAR MAIS {% endcomment %}
{% comment %} NÃO USAR MAIS {% endcomment %}
{% comment %} NÃO USAR MAIS {% endcomment %}
{% comment %} NÃO USAR MAIS {% endcomment %}

<script>
  {% comment %} var anotacao;
  var url;
  
  $(document).on("click", ".open-annotation", function (e) {
    e.preventDefault();
    var $popup = $("#popup");
    anotacao = $(this).data("anotacao");
    url = $(this).data("url");

    var address = url
    if(anotacao) {
        address += '/'+anotacao+'/';
    }

    $(".modal-content", $popup).load(address, function () {
      $popup.modal("show");
    });
  }); {% endcomment %}

</script>

<script>

  {% comment %} function atualiza(e) {
    
    if (!$("form")[0].checkValidity()) {
        $("form").find('input[type="submit"]').click();
        return false;
    }

    var texto = $("#texto").val();
    var data_hora = $("#data_hora").val();
    var tipo_retorno = $("#tipo_retorno").val();

    var address = url
    if(anotacao) {
        address += '/'+anotacao+'/'
    }

    $.ajax({
        type: "POST",
        url: address,
        data: {
            "texto": texto,
            "data_hora": data_hora,
            "tipo_retorno": tipo_retorno,
            "csrfmiddlewaretoken": "{{ csrf_token }}",
        },
        success: function(response){
          if(response.atualizado) {
            if(anotacao) {
              $("#anotacao"+anotacao).data("anotacao", response.anotacao_id);
              $("#anotacao"+anotacao).text(texto);
              $("#data"+anotacao).text(response.data);
            } else {
              $("#lista_anotacoes").prepend("<li><a class='open-annotation' href='"+url+"' data-url='"+url+"' data-anotacao='"+response.anotacao_id+"'>"+response.autor_nome+" "+response.autor_sobrenome+" [<span id='data"+response.anotacao_id+"'>"+response.data_full+"</span>] : <span id='anotacao"+response.anotacao_id+"'>"+texto+'</span></a></li>');
            }
            $("#sem_anotacoes").hide();
          } else {
            alert("Erro ao atualizar anotação, contactar: <lpsoares@insper.edu.br>");
          }
        },
        {% include "ajax_error_function.js" with com_alerta=True %}
    });

  } {% endcomment %}
</script> 

{% comment %} NÃO USAR MAIS {% endcomment %}
{% comment %} NÃO USAR MAIS {% endcomment %}
{% comment %} NÃO USAR MAIS {% endcomment %}
{% comment %} NÃO USAR MAIS {% endcomment %}
