{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Novembro de 2020
{% endcomment %}

&nbsp;&nbsp;nativamente multidisciplinar: <span id="aplicando_multidisciplinar"></span>
<script>$("#aplicando_multidisciplinar").text(aplicando_multidisciplinar);</script>
<br>

&nbsp;&nbsp;nativamente de computação: <span id="aplicando_computacao"></span>
<script>$("#aplicando_computacao").text(aplicando_computacao);</script>
<br>

&nbsp;&nbsp;nativamente de mecatrônica: <span id="aplicando_mecatronica"></span>
<script>$("#aplicando_mecatronica").text(aplicando_mecatronica);</script>
<br>

&nbsp;&nbsp;nativamente de mecânica: <span id="aplicando_mecanica"></span>
<script>$("#aplicando_mecanica").text(aplicando_mecanica);</script>
<br>
