{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 25 de Fevereiro de 2025
{% endcomment %}

<script>
  
  function abrir_modal(e) {

    if (e != null) e.preventDefault();
    var $popup = $("#popup");
    var url = $(this).data("url");

    //documento = $(this).data("documento");
    //if(documento) {
    //    address += '/'+documento+'/';
    //}

    //data = $(this).data("data");
    //if(data) {url += data}

    $(".modal-content", $popup).load(url, function(response, status, xhr) {
      if(status == "error") {
        alert("Erro ao tentar abrir a janela: " + xhr.status + " " + xhr.statusText );
      } else {
        if ($(".selectpicker").length) {
          $(".selectpicker").selectpicker();
        }
        $popup.modal("show");
        {% include "linguas_ajax.html" %}
      }
    });
  }

   
  $(document).ready(function() {
    if (!$(document).data('modal-event-registered')) {  // Check if the event handler is already registered
      $(document).on("click", ".open-modal", abrir_modal);  // Register the event handler if it is not already registered      
      $(document).data('modal-event-registered', true);  // Set the flag to indicate that the event handler has been registered
    }
  });

</script>