{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Janeiro de 2024
{% endcomment %}

{% load linguas %}

{% if projeto %}

  {% if user.is_authenticated and user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}

    {% if projeto.organizacao %}
      <b>{% lng "Organização" "Organization" %}:</b>
      <a class="imprimir" href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{projeto.organizacao.nome}}</a>
    {% else %}
      {% lng "Organização: Não definida" "Organization: Not defined" %}
    {% endif %}<br>
    
    <b>{% lng "Projeto" "Project" %}:</b>
    <a class="imprimir" href="{% url 'projeto_infos' projeto.id %}">
      {% if com_tit_original and projeto.titulo_final and projeto.titulo_final != projeto.proposta.titulo %}
        {{projeto.titulo_final}}</a><br>
        <div style="font-size: 12px; line-height:1.0; margin-bottom: 6px;">
          {% lng "Título original da proposta" "Original title of the proposal" %}:
          <a class="imprimir" href="{% url 'projeto_infos' projeto.id %}">{{projeto.proposta.titulo}}
        </div>
      {% else %}
        {{projeto.get_titulo}}{% include "tipo_projeto.html" %}<br>
      {% endif %}
    </a>

    {% comment %} Mostrar só se todas edições {% if edicao == "todas" %} {% endcomment %}
    {% if com_semestre %}
      <b>{% lng "Semestre" "Semester" %}:</b>
      {{projeto.ano}}.{{projeto.semestre}}<br>
    {% endif %}

    {% if projeto.orientador %}
      {% if banca.projeto.proposta.intercambio %}
        <b>{% lng_g projeto.orientador.user.genero "Professor Responsável" "Professora Responsável" "Responsible Professor" %}:</b>
      {% else %}
        <b>{% lng_g projeto.orientador.user.genero "Orientador" "Orientadora" "Advisor" %}:</b>
      {% endif %}
      <a class="imprimir" href="{% url 'professor_detail' projeto.orientador.id %}">{{ projeto.orientador.user.get_full_name }}</a>
      {% if not sem_email %}
        <span class="texto-longo"><a href="mailto:{{projeto.orientador.user.email}}">&lt;{{projeto.orientador.user.email}}&gt;</a></span>
        <span class="texto-curto"><a href="mailto:{{projeto.orientador.user.email}}"><i class="far fa-envelope"></i></a></span>
      {% endif %}
    {% else %}
      {% lng "Orientador: Não definido" "Advisor: Not defined" %}
    {% endif %}
    <br>

    {% with coorientadores=banca.get_projeto.coorientador_set.all %}
      {% if coorientadores %}
        <b>{% lng "Coorientação" "Co-advisoring" %}:</b>
        {% for coorientador in coorientadores %}
          <a class="imprimir" href="{% url 'user_detail' coorientador.usuario.id %}">
            {{coorientador.usuario.get_full_name}} 
          </a>
          <a class="email" href="mailto:{{coorientador.usuario.email}}">&lt;{{coorientador.usuario.email}}&gt;</a>
          {% if not forloop.last %}; {% endif %}
        {% endfor %}
        <br>
      {% endif %}
    {% endwith %}
  

    {% if com_grupo %}
      <span style="display: inline-block; margin-top: 2px;">
        <b>{% lng "Grupo" "Group" %}:</b>
      </span>
      <ul>
        {% for alocacao in projeto.alocacao_set.all %}
          <li style="margin-bottom: 0px;">
            <a class="imprimir" href="{% url 'estudante_detail' alocacao.aluno.id %}">
              {{alocacao.aluno.user.get_full_name}}
            </a> 
            <span class="curso">
              <span class="texto-longo">[{{ alocacao.aluno.curso2 }}]</span>
              <span class="texto-curto">[{{ alocacao.aluno.curso2.sigla_curta }}]</span>
            </span>
            {% if alocacao.aluno.externo %}<span class="red-normal">[{{alocacao.aluno.externo}}]</span>{% endif %}
            <span class="emails">
              <span class="texto-longo"><a href="mailto:{{alocacao.aluno.user.email}}">&lt;{{alocacao.aluno.user.email}}&gt;</a></span>
              <span class="texto-curto"><a href="mailto:{{alocacao.aluno.user.email}}"><i class="far fa-envelope"></i></a></span>
            </span>
            
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  {% else %} 

    <b>{% lng "Projeto" "Project" %}:</b>
    {% if user.is_authenticated and user.tipo_de_usuario == 1 %}
      <a class="imprimir" href="{% url 'projeto_infos' projeto.id %}">
        {% if com_tit_original and projeto.titulo_final and projeto.titulo_final != projeto.proposta.titulo %}
          {{projeto.titulo_final}}</a><br>
          <div style="font-size: 12px; line-height:1.0; margin-bottom: 6px;">
            {% lng "Título original da proposta" "Original title of the proposal" %}:
            <a class="imprimir" href="{% url 'projeto_infos' projeto.id %}">{{projeto.proposta.titulo}}
          </div>
        {% else %}
          {{projeto.get_titulo}}{% include "tipo_projeto.html" %}<br>
        {% endif %}
      </a>
    {% else %}
      {{projeto.get_titulo}}{% include "tipo_projeto.html" %}<br>
    {% endif %}

    {% if com_semestre %}
      <b>{% lng "Semestre" "Semester" %}:</b> {{ projeto.get_edicao }}<br>
    {% endif %}

    {% if projeto.organizacao %}
      <b>{% lng "Organização" "Organization" %}:</b> {{projeto.organizacao.nome}}
    {% else %}
      {% lng "Organização: Não definida" "Organization: Not defined" %}
    {% endif %}<br>

    {% if projeto.orientador %}
      {% if banca.projeto.proposta.intercambio %}
        <b>{% lng_g projeto.orientador.user.genero "Professor Responsável" "Professora Responsável" "Responsible Professor" %}:</b>
      {% else %}
        <b>{% lng_g projeto.orientador.user.genero "Orientador" "Orientadora" "Advisor" %}:</b>
      {% endif %}
      {{ projeto.orientador.user.get_full_name }}
      {% if com_email %}
        <span class="texto-longo"><a href="mailto:{{projeto.orientador.user.email}}">&lt;{{projeto.orientador.user.email}}&gt;</a></span>
        <span class="texto-curto"><a href="mailto:{{projeto.orientador.user.email}}"><i class="far fa-envelope"></i></a></span>
      {% endif %}<br>
    {% else %}
      {% lng "Orientador: Não definido" "Advisor: Not defined" %}
    {% endif %}

    {% if com_grupo %}
      <span style="display: inline-block; margin-top: 6px;">
        <b>{% lng "Grupo" "Group" %}:</b>
      </span>
      <ul>
        {% for alocacao in projeto.alocacao_set.all %}
          <li style="margin-bottom: 0px;">
            {{alocacao.aluno.user.get_full_name}}
            <span class="curso">
              <span class="texto-longo">[{{ alocacao.aluno.curso2 }}]</span>
              <span class="texto-curto">[{{ alocacao.aluno.curso2.sigla_curta }}]</span>
            </span>
            {% if alocacao.aluno.externo %}<span class="red-normal">[{{alocacao.aluno.externo}}]</span>{% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  {% endif %}

{% else %}
 <b>{% lng "PROJETO NÃO DEFINIDO" "PROJECT NOT DEFINED" %}</b><br>
{% endif %}