{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Janeiro de 2024
{% endcomment %}

{% if user.is_authenticated and user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}

  {% if projeto.organizacao %}
    <b lang="pt">Organização:</b><b lang="en">Organization:</b>
    <a href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{projeto.organizacao.nome}}</a>
  {% else %}
    <span lang="pt">Organização: Não definida</span><span lang="en">Organization: Not defined</span>
  {% endif %}<br>
  
  <b lang="pt">Projeto:</b><b lang="en">Project:</b>
    <a href="{% url 'projeto_completo' projeto.id %}">{{projeto.get_titulo}}{% include "tipo_projeto.html" %}</a><br>
  <b lang="pt">Semestre:</b><b lang="en">Semester:</b>
    {{projeto.ano}}.{{projeto.semestre}}<br>
  
  {% if projeto.orientador %}
    {% if banca.projeto.proposta.intercambio %}
      <b lang="pt">Professor{% if projeto.orientador.user.genero == 'F' %}a{% endif %} Responsável:</b>
      <b lang="en">Professor in charge:</b>
    {% else %}
      <b lang="pt">Orientador{% if projeto.orientador.user.genero == 'F' %}a{% endif %}:</b>
      <b lang="en">Advisor:</b>
    {% endif %}
      <a href="{% url 'professor_detail' projeto.orientador.id %}">{{ projeto.orientador.user.get_full_name }}</a>
      <span class="opt_full"><a href="mailto:{{projeto.orientador.user.email}}">&lt;{{projeto.orientador.user.email}}&gt;</a></span>
      <span class="opt_short"><a href="mailto:{{projeto.orientador.user.email}}"><i class="far fa-envelope"></i></a></span>
      <br>
  {% else %}
    <span lang="pt">Orientador: Não definido</span>
    <span lang="en">Advisor: Not defined</span>
  {% endif %}

{% else %}

  <b lang="pt">Projeto:</b><b lang="en">Project:</b>
    {{projeto.get_titulo}}{% include "tipo_projeto.html" %}<br>
  <b lang="pt">Semestre:</b><b lang="en">Semester:</b>
    {{projeto.ano}}.{{projeto.semestre}}<br>
  {% if projeto.organizacao %}
  <b lang="pt">Organização:</b><b lang="en">Organization:</b>
    {{projeto.organizacao.nome}}
  {% else %}
    <span lang="pt">Organização: Não definida</span><span lang="en">Organization: Not defined</span>
  {% endif %}<br>

  {% if projeto.orientador %}
    {% if banca.projeto.proposta.intercambio %}
      <b lang="pt">Professor{% if projeto.orientador.user.genero == 'F' %}a{% endif %} Responsável:</b>
      <b lang="en">Professor in charge:</b>
    {% else %}
      <b lang="pt">Orientador{% if projeto.orientador.user.genero == 'F' %}a{% endif %}:</b>
      <b lang="en">Advisor:</b>
    {% endif %}
      {{projeto.orientador.user.get_full_name}}
      {% if com_email %}
        <span class="opt_full"><a href="mailto:{{projeto.orientador.user.email}}">&lt;{{projeto.orientador.user.email}}&gt;</a></span>
        <span class="opt_short"><a href="mailto:{{projeto.orientador.user.email}}"><i class="far fa-envelope"></i></a></span>
      {% endif %}<br>
  {% else %}
    <span lang="pt">Orientador: Não definido</span>
    <span lang="en">Advisor: Not defined</span>
  {% endif %}


{% endif %}
