{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 13 de Junho de 2023
{% endcomment %}

{% load linguas %}

<style>
  {% comment %} Para sempre mostrar a barra de rolagem {% endcomment %}
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
</style>

{% if certificados %}
  {% for documento in certificados %}
    <div style="display: flex; align-items: flex-start;">
      <div style="white-space: nowrap;">
        {% if documento.confidencial %} {% comment %} Para certificados nunca está confidencial. {% endcomment %}
          <i data-toggle="tooltip" data-html="true" animation="true" title="confidencial" class="fa fa-lock" style="color: #500000;"></i>
        {% else %}
          <i data-toggle="tooltip" data-html="true" animation="true" title="público" class="fa fa-unlock" style="color: #005000;"></i>
        {% endif %}
        {% if documento.documento and documento.link %}
            <a href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">({% lng "documento" "document" %})</a>
            <a href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
        {% else %}
          {% if documento.documento %}
            <a href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_certificado}}</a>
          {% endif %}
          {% if documento.link %}
            <a href="{{documento.link}}" target="_blank" rel="noopener noreferrer">{{documento}}</a>
          {% endif %}
        {% endif %}
      </div>

      <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
        {% if not projeto %}
          {% if documento.projeto %}
            &nbsp;- {{documento.projeto.get_titulo}}
          {% endif %}
        {% endif %}  
        {% if documento.usuario %}
          &nbsp;- {{ documento.usuario.get_full_name }}
        {% endif %}
        {% if documento.anotacao %}
          &nbsp;[Obs: {{ documento.anotacao }}]
        {% endif %}
      </div>

      <div style="white-space: nowrap;">
        {% if documento.data %}
          <span class="texto-longo">: {{ documento.data|date:"DATE_FORMAT" }}</span>
          <span class="texto-curto">: {{ documento.data|date:"d/m/Y" }}</span>
        {% endif %}
        {% if documento.lingua_do_documento == 1 %} {% comment %} Inglês {% endcomment %}
          <sup>({% lng "Inglês" "English" %})</sup>
        {% endif %}
      </div>
    </div>

  {% empty %}
    {% lng "Ainda não existem certificados associados." "There are no certificates associated yet." %}
  {% endfor %}

{% endif %}
