{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 6 de Dezembro de 2020
{% endcomment %}

{% comment %} Seletor do filtro de cursos para a pesquisa {% endcomment %}
{% comment %} {% if cursos %} {% endcomment %}

  <label id="labelCurso" for="filterCurso"><b>Curso:</b></label>
  <select class="filter" id="filterCurso">
      <option value="T">todos</option>
      <option value="C">Computação</option>
      <option value="M">Mecânica</option>
      <option value="X">Mecatrônica</option>
  </select>

{% comment %} {% endif %} {% endcomment %}