{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 30 de Novembro de 2024
{% endcomment %}

{% load rubricas %}
{% load linguas %}

<script>
  banca = new Banca();
</script>

<div class="div_arredondado">
  <h5 style="line-height: 1;">
    <div>
      <a style="margin-right: 1em;" href="{% url 'banca_ver' banca.id %}">
        {% lng "Banca" "Examining Board" %}
        {{banca.composicao.exame}} ({{banca.startDate|date:"d/m/y"}})
      </a>
    </div>

    {% if banca.alocacao %}
      <div style="margin: 0.4em;">
      <span style="font-size: 13px; margin-top: 3.4em; border: 2px solid #f00; padding: 0.3em;">
        <b>{% lng "Estudante" "Student" %}:</b>
        <u>
          <a class="imprimir" href="{% url 'estudante_detail' banca.alocacao.aluno.id %}">{{banca.alocacao.aluno.user.get_full_name}}</a>  
        </u>
        <span class="texto-longo curso unselectable">[{{ banca.alocacao.aluno.curso2 }}]</span>
        <span class="texto-curto curso unselectable">[{{ banca.alocacao.aluno.curso2.sigla_curta }}]</span>
        <span class="texto-longo emails"><a class="email" href="mailto:{{banca.alocacao.aluno.user.email}}">&lt;{{banca.alocacao.aluno.user.email}}&gt;</a></span>
        <span class="texto-curto emails"><a class="email" href="mailto:{{banca.alocacao.aluno.user.email}}"><i class="far fa-envelope"></i></a></span>
      </span>
    </div>
    {% endif %}
    
    <small style="font-size: 11px;">★ 
      {% lng "Formulário" "Form" %}:
      <a href="{{request.scheme}}://{{ request.get_host }}{% url "banca_avaliar" banca.slug %}">{{request.scheme}}://{{ request.get_host }}{% url "banca_avaliar" banca.slug %}</a>
    </small>
  </h5>
  {% include "membros_da_banca.html" %}

  <table class="table table-bordered table-striped">
    {% for avaliador, objs in banca.get_avaliadores.items %}
      <tr><td>
        <b>{% lng_g avaliador.genero "Avaliador" "Avaliadora" "Evaluator" %}:</b>
        <a href="{% url 'user_detail' avaliador.id %}">
          {{avaliador.get_full_name}}
        </a><br>
        {% if objs.momento %}
          <b>{% lng "Avaliado em" "Evaluated on" %}:</b>
          {{objs.momento}}<br>
        {% endif %}
        {% if objs.items %}
          <b>{% lng "Conceitos" "Grades" %}:</b><br>
          <ul style="list-style-type: '&#x21A3; ';">
            {% for objetivo, conceito in objs.items %}{% if objetivo != "momento" and objetivo|slice:11 != "observacoes" %}
              <li>
                <span style="font-weight: 500;">{{objetivo.titulo}}</span>: 
                <span data-toggle="tooltip" data-html="true" animation="true" title=
                {% if banca.composicao.exame.sigla == "BI" %} 
                  "{{objetivos|get_rubrica:objetivo.id|get_texto_intermediaria_nota:conceito.nota}}"
                {% else %}
                  "{{objetivos|get_rubrica:objetivo.id|get_texto_final_nota:conceito.nota}}"
                {% endif %}>
              <span id="banca{{banca.id}}_{{avaliador.id}}_{{objetivo.id}}"></span></span></li>
              <script>
                $("#banca{{banca.id}}_{{avaliador.id}}_{{objetivo.id}}").html(
                  {% if conceito.nota is not None %}converteN({{conceito.nota}}){% else %}"N/A"{% endif %}
                );
                objetivo_tmp = new Objetivo();
                objetivo_tmp.titulo = "{{objetivo.titulo}}"
                banca.add_objetivo(objetivo_tmp)
                {% if conceito.nota is not None %}
                  banca.dict[objetivo_tmp.titulo].soma_nota({{conceito.nota}});
                {% endif %}
              </script>

            {% endif %}{% endfor %}
          </ul>
        {% endif %}
        {% if objs.observacoes_estudantes %}  
          &nbsp;<u><span style="font-weight: 500;">
            {% lng "Observações para Estudantes" "Observations for Students" %}:
          </span></u> {{objs.observacoes_estudantes}}<br>
          {% if objs.observacoes_orientador %}<br>{% endif %}
        {% endif %}
        {% if user.prof_a %}
          {% if objs.observacoes_orientador %}
            &nbsp;<u><span style="font-weight: 500;">
              {% lng "Observações para Orientador" "Observations for Advisor" %}:
            </span></u> {{objs.observacoes_orientador}}<br>
          {% endif %}
        {% endif %}
      </td></tr>
    {% endfor %}

    <tr style="background-color: {{banca.get_cor}}; color: darkslategrey"><td>
      <b>
        {% lng "Média das Avaliações da Banca" "Average of the Examining Board" %}
        {{banca.composicao.exame}}:
        <ul id="banca{{banca.id}}_med_aval" style="list-style-type: '&#x21A3; ';"></ul>
      </b>
      <span id="banca{{banca.id}}"></span>
      <script>
        for (var key in banca.dict) {
          if(banca.dict[key].avaliacoes>0) 
            $("#banca{{banca.id}}_med_aval").append(banca.dict[key].nota_texto());
        }
        $("#banca{{banca.id}}").html(banca.media_calculada());
      </script>
    </td></tr>
  </table>

</div>