{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 19 de Janeiro de 2024
{% endcomment %}

{% load static %}
{% load exibe_notas %}
{% load linguas %}

{% if avaliacoes %}
  {% if user.tipo_de_usuario != 1 or projeto|exibe_notas_proj:item.composicao.exame %} {% comment %} Filtra certas avaliações para estudantes não verem {% endcomment %}
    <div style="display: table; width: 100%; padding: 0px;">
      <table class="tab_notas">
        <tr>
          <td class="box_notas" style="width: 15em;"><div class="box_divs">
            {% if avaliacoes.last.objetivo %}
              <b>Avaliação:</b><br>
              <ul>
                {% for avaliacao in avaliacoes %}
                  <li style="margin-left: -0.6em; white-space: nowrap; list-style-type: '&#8227; ';">
                    {% if avaliacao.objetivo %}
                      {{avaliacao.objetivo.titulo}}:
                    {% else %}
                      {% lng "Objetivo não definido" "Objective not defined" %}
                    {% endif %}
                    {{avaliacao.get_conceito}}
                  </li>
                {% endfor %}
              </ul>
              <b>{% lng "Nota" "Grade" %} = {{nota|floatformat:2}}  </b>
            {% else %}
              <b>
                {% lng "Decisão" "Decision" %}:</b><br>
              &#8227;
              {% if avaliacoes.last.nota >= 5 %}
                {% lng "Adequado" "Adequate" %}
              {% else %}
                {% lng "Inadequado" "Inadequate" %}
              {% endif %}
            {% endif %}
            </div></td>

          {% if com_orientador %} 

            {% if observacao.observacoes_estudantes or observacao.observacoes_orientador %}
              <td class="box_notas"><div class="box_divs">
              {% if observacao.observacoes_estudantes %}
                  <b>{% lng "Observações para Estudantes" "Observations for Students" %}:</b><br>
                  {{observacao.observacoes_estudantes}}<br>
                  {% if observacao.observacoes_orientador %}<br>{% endif %}
              {% endif %}
              {% if observacao.observacoes_orientador %} 
                  <b>{% lng "Observações do Orientador" "Supervisor's Observations" %}:</b><br>
                  {{observacao.observacoes_orientador}}
              {% endif %}
              </div></td>
            {% endif %}

          {% else %}

            {% if observacao.observacoes_estudantes %}
              <td class="box_notas"><div class="box_divs">
                <b>{% lng "Observações" "Observations" %}:</b><br>
                {{observacao.observacoes_estudantes}}<br>
              </div></td>
            {% endif %}

          {% endif %}

        </tr>
      </table>
    </div>
  {% else %}
    <div style="height: 6px;"></div>
  {% endif %}

{% else %}
  <div style="height: 6px;"></div>
{% endif %}

