{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Novembro de 2023
{% endcomment %}

{% if documento %}
  {% if nivel == 2 %}
      {% if documento.documento and documento.link %}
        <div class="item_lista"><span class="return">&#x21B3;</span>
          {{documento.tipo_documento}}
          <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
           href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">(documento)</a>
          <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
           href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
          {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
      {% else %}
        {% if documento.documento %}
          <div class="item_lista"><span class="return">&#x21B3;</span>
            <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
             href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
            {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
        {% elif documento.link %}
          <div class="item_lista"><span class="return">&#x21B3;</span>
            <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
             href="{{documento.link}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
            {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
        {% endif %}
      {% endif %}
  {% else %}
    {% if documento.documento and documento.link %}
      <div class="item_lista"><span class="circulo">&#9899;</span>
      {{documento.tipo_documento}}
      <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
        href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">(documento)</a>
      <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
        href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
      {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
    {% else %}
      {% if documento.documento %}
        <div class="item_lista"><span class="circulo">&#9899;</span>
          <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
           href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
          {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
      {% elif documento.link %}
        <div class="item_lista"><span class="circulo">&#9899;</span>
          <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
           href="{{documento.link}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
          {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if request.user.admin %}
    <a href="#" class="open-documento esconder" data-url="{% url 'adiciona_documento_tipo' documento.tipo_documento.sigla %}"> 
      <i class="fas fa-pencil-alt" style="font-size: 0.7em;"></i>
    </a>
  {% endif %}
  </div>
{% endif %}


