{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 13 de Junho de 2023
{% endcomment %}

{% load linguas %}

{% if documentos %}
  {% for documento in documentos %}
    <div style="display: flex; align-items: flex-start;">

      <div style="white-space: nowrap;">
        {% if documento.confidencial %}
          <i data-toggle="tooltip" data-html="true" animation="true" class="fa fa-lock" title="confidencial" style="color: #500000;"></i>
        {% else %}
          <i data-toggle="tooltip" data-html="true" animation="true" class="fa fa-unlock" title="público" style="color: #005000;"></i>
        {% endif %}
        {% if documento.documento and documento.link %}
            {{documento.tipo_documento}}
            <a href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">(documento)</a>
            <a href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
        {% else %}
          {% if documento.documento %}
            <a href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
          {% endif %}
          {% if documento.link %}
            <a href="{{documento.link}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
          {% endif %}
        {% endif %}
      </div>

      <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
        {% if not projeto %}
          {% if documento.projeto %}
            &nbsp;- {{documento.projeto.get_titulo}}
          {% endif %}
        {% endif %}  
        {% if documento.usuario and documento.tipo_documento.individual %}
          &nbsp;- {{ documento.usuario.get_full_name }}
        {% endif %}
        {% if documento.anotacao %}
          &nbsp;[Obs: {{ documento.anotacao }}]
        {% endif %}
      </div>

      <div style="white-space: nowrap;">
        {% if documento.data %}
          <span class="texto-longo">: {{ documento.data|date:"DATE_FORMAT" }}</span>
          <span class="texto-curto">: {{ documento.data|date:"d/m/Y" }}</span>
        {% endif %}
        {% if documento.lingua_do_documento == 1 %} {% comment %} Inglês {% endcomment %}
          <sup>(Inglês)</sup>
        {% endif %}
      </div>
      
      {% if user and user.eh_admin %}
        <a class="open-modal" data-url="{% url 'edita_documento' documento.id %}">&nbsp;<i class="fas fa-pencil-alt" style="font-size: 0.7em;"></i></a>
      {% endif %}

    </div>
  {% empty %}
    {% lng "Ainda não existem documentos associados." "There are no documents associated yet." %}
  {% endfor %}
{% endif %}
