{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 17 de Novembro de 2023
{% endcomment %}

{% load static %}
{% load l10n %}

{% if documento %}
  {% if nivel == 2 %}
    <ul>
      {% if documento.documento and documento.link %}
        <li style="margin-left: -2em; list-style-type: '&#x21B3;';">
          {{documento.tipo_documento}}
          <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
           href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">(documento)</a>
          <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
           href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
          {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
        </li>
      {% else %}
        {% if documento.documento %}
          <li style="margin-left: -2em;list-style-type: '&#x21B3;';">
            <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
             href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
            {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
          </li>
        {% endif %}
        {% if documento.link %}
          <li style="margin-left: -2em;list-style-type: '&#x21B3;';">
            <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
             href="{{documento.link}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
            {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
          </li>
        {% endif %}
      {% endif %}
    </ul>
  {% else %}
    {% if documento.documento and documento.link %}
      <li>
      {{documento.tipo_documento}}
      <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
        href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">(documento)</a>
      <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
        href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
      {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
      </li>
    {% else %}
      {% if documento.documento %}
        <li>
          <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
           href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
          {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
        </li>
      {% endif %}
      {% if documento.link %}
        <li>
          <a {% if documento.data %}data-toggle="tooltip" data-html="true" animation="true" title="Data: {{documento.data|date:"d/m/Y"}}"{% endif %}
           href="{{documento.link}}" target="_blank" rel="noopener noreferrer">{{documento.tipo_documento}}</a>
          {% if documento.lingua_do_documento == 1 %}<sup>(Inglês)</sup>{% endif %}
        </li>
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}


