{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 6 de Dezembro de 2020
{% endcomment %}

{% comment %} Seletor da edição da pesquisa {% endcomment %}
{% if edicoes %}
  <style>
    .separador {margin-right: 16px;}

    @media only screen and (max-width: 575.98px) {
      .to_hide {
        font-size: 0.7rem;
        min-width:22%;
        max-width:fit-content;
        width:2.2rem;
      }
      .to_hide2 {
        font-size: 0.7rem;
        min-width:60%;
        max-width:70%;
      }
      .to_label {
        padding: 4px !important;
      }
      .separador {
        margin-right: 6px;
        width: 92vw;
      }
    }

    @keyframes animatedBackground {
      0% {background-position: right;}
      50% {background-position: left;}
      100% {background-position: right;}
    }
    .label_animado {
      background-image: linear-gradient(90deg, #A0A0A0, #F9F9F9, #A0A0A0);
      background-repeat: repeat-y;
      animation: animatedBackground 4s linear infinite;
      background-size: 400% 100%;
    }

  </style>

  <div id="container_edicao" class="container" style="margin-left: 0px; padding-left: 0px;">
  <div class="row align-items-start justify-content-start mb-1">
    <div class="ml-3 form-inline">
      {% comment %} <div class="input-group input-group-sm"> {% endcomment %}
        {% if not sem_edicao %}
        <div  id="blocoFilterEdicao" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="filterEdicao" onClick="recarregar_pagina()"><span class="to_hide"><span lang="pt">Edição</span><span lang="en" style="display: none;">Edition</span></span></label>
          </div>
          <select class="to_hide filter custom-select w-auto" id="filterEdicao" name="edicao">
            <optgroup class="opt_edi">
            {% comment %} Se não quiser que aparece a opção todas crie uma variavel n_todas com True {% endcomment %}
            {% if not n_todas %}
              <option class="opt_edi" value="todas">Todas</option>
            {% endif %}
            {% for edicao in edicoes %}
                <option class="opt_edi" value="{{edicao}}" 
                    {% if selecionada %}
                      {% if selecionada == edicao %}selected{% endif %}
                    {% else %}
                      {% if forloop.last %}selected{% endif %}
                    {% endif %}
                >{{edicao}}</option>
            {% endfor %}
            </optgroup>
          </select>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if com_cursos %}
        <div id="blocoFilterCurso" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="filterCurso" onClick="recarregar_pagina()"><span class="to_hide"><span lang="pt">Curso</span><span lang="en" style="display: none;">Program</span></span></label>
          </div>
          <select class="to_hide2 filter custom-select w-auto" id="filterCurso" name="curso">
              <option class="opt_edi" value="T">Todos Insper</option>
              {% if cursos %}
                {% for c in cursos %}
                  {% if c.curso_do_insper %}
                    <option class="opt_edi" value="{{c.sigla_curta}}" {% if curso == c.sigla_curta %}selected{% endif %}>&nbsp;&nbsp;&rdsh;&nbsp;{{c.nome}}</option>
                  {% endif %}
                {% endfor %}
                {% if cursos_externos %}
                  <option class="opt_edi" value="TE" {% if com_externos %}selected{% endif %}>Todos Insper + Externos</option>
                  {% for c in cursos_externos %}
                    {% if not c.curso_do_insper %}
                      <option class="opt_edi text-info" value="{{c.sigla_curta}}" {% if curso == c.sigla_curta %}selected{% endif %}>&nbsp;&nbsp;&rdsh;&nbsp;{{c.nome}}</option>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% else %}
                <option class="opt_edi" selected>ERRO / ERROR</option>
              {% endif %}
          </select>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if com_objetivos %}
        <div id="blocoFilterObjetivo" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend">
            <label class="input-group-text" for="filterObjetivo" onClick="recarregar_pagina()"><span class="to_hide"><span lang="pt">Objetivo de Aprendizagem</span><span lang="en" style="display: none;">Learning Goals</span></span></label>
          </div>
          <select class="filter custom-select w-auto" id="filterObjetivo" name="objetivo">
            {% for objetivo in objetivos %}
              <option class="opt_edi" value="{{objetivo.id}}" 
              {% if objetivo.id == obj_selecionado %}selected{% endif %}>{{objetivo.titulo}} - {{objetivo.data_inicial}}</option>
            {% endfor %}
          </select>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if ind_grup %}
        <div id="blocoFilterIndividuais"  class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="individuais" checked >
            <label class="to_label form-check-label" style="line-height: 1.0;" for="individuais"><span class="to_hide"><span lang="pt">Individuais</span><span lang="en" style="display: none;">Individual</span></label>
          </div>
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="grupo" checked >
            <label class="to_label form-check-label" style="line-height: 1.0;" for="grupo"><span class="to_hide"><span lang="pt">Grupo</span><span lang="en" style="display: none;">Group</span></span></label>
          </div>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if so_finais %}
        <div  id="blocoFilterSoFinais" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="so_finais" checked >
            <label class="to_label form-check-label" style="line-height: 1.0;" for="so_finais"><span class="to_hide"><span lang="pt">Só avaliações finais</span><span lang="en" style="display: none;">Only final grades</span></span></label>
          </div>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if avancados %}
        <div  id="blocoFilterAvancado" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="avancados" checked >
            <label class="to_label form-check-label" for="avancados"><span class="to_hide"><span lang="pt">Avancados</span><span lang="en" style="display: none;">Advanced</span></span></label>
          </div>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if com_tipos %}
        <div id="blocoFilterTipo" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="filterTipo" onClick="recarregar_pagina()"><span class="to_hide"><span lang="pt">Tipo</span><span lang="en" style="display: none;">Type</span></span></label>
          </div>
          <select class="to_hide2 filter custom-select w-auto form-control" id="filterTipo" name="tipo">
            <option class="opt_edi" value="estudantes">Estudantes</option>
            <option class="opt_edi" value="propostas">Propostas</option>
            <option class="opt_edi" value="projetos">Projetos</option>
          </select>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if com_entregas %}
          <div id="blocoFilterEntregas" class="input-group input-group-sm mt-1 flex-nowrap">
            <div class="input-group-prepend">
              <label class="input-group-text" for="filterEntregas"><span class="to_hide">Tipo</span></label>
            </div>
            <select class="custom-select w-auto" id="filterEntregas" name="entregas">
              <option class="opt_edi" value="todas">Todas</option>
              {% for entrega in com_entregas %}
                <option class="opt_edi" value="{{entrega.id}}">{{entrega}}</option>
              {% endfor %}
            </select>
            <div class="separador input-group-addon"></div>
          </div>
        {% endif %}

        {% comment %} <div class="input-group input-group-sm mt-1">
          <div id="spinner" class="ml-2 input-group-prepend" style="visibility: hidden">
            <div class="spinner-border text-secondary ml-auto" style="width: 1.8rem; height: 1.8rem;" role="status" aria-hidden="true">
              <span class="sr-only input-group-text">Carregando...</span>
            </div>
          </div>
        </div> {% endcomment %}

    </div>

    {% comment %} <div id="lateral"></div> {% endcomment %}
  </div>

  </div>

  {% comment %} Salva a última edição selecionada {% endcomment %}
  <script>
    window.onbeforeunload = function() {
      const now = new Date().getTime();
      const item = {
          value: $("#filterEdicao").val(),
          expiry: now,
      }
      localStorage.setItem("filterEdicao", JSON.stringify(item));
    }
  </script>

{% endif %}
