{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 6 de Dezembro de 2020
{% endcomment %}

{% load linguas %}

{% comment %} Seletor da edição da pesquisa {% endcomment %}

<style>
  .separador {
    margin-right: 16px;
    max-width: 100%;
  }

  @media only screen and (max-width: 575.98px) {
    .to_hide {
      font-size: 0.7rem;
      min-width: 22%;
      max-width: fit-content;
      width: 2.2rem;
    }
    .to_hide2 {
      font-size: 0.7rem;
      min-width: 60%;
      max-width: 70%;
    }
    .to_label {
      padding: 0px 14px 0px 4px !important;
    }
    .separador {
      margin-right: 6px;
      {% comment %} width: 92vw; {% endcomment %}
      max-width: 100%;
    }
  }

  @keyframes animatedBackground {
    0% {background-position: right;}
    50% {background-position: left;}
    100% {background-position: right;}
  }
  .label_animado {
    background-image: linear-gradient(90deg, #A0A0A0, #F9F9F9, #A0A0A0);
    background-repeat: repeat-y;
    animation: animatedBackground 4s linear infinite;
    background-size: 400% 100%;
  }

  #container_edicao {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0.75rem;
  }

  .bootstrap-select {
    max-width: 100%;
    width: 100%;
  }
  
  .bootstrap-select .dropdown-menu {
      max-width: 97vw;  /* Evita que estoure a tela */
  }
</style>

<div id="container_edicao" class="container">
  <div class="row align-items-start justify-content-start mb-1">
    <div class="ml-3 form-inline">
      {% if edicoes %}
        {% if not sem_edicao %}
          <div  id="blocoFilterEdicao" class="input-group input-group-sm mt-1 flex-nowrap">
            <div class="input-group-prepend">
              <label class="to_label input-group-text" for="filterEdicao" onClick="recarregar_pagina()"><span class="to_hide">
                {% lng "Edição" "Edition" %}
              </span></label>
            </div>
            <select class="to_hide filter custom-select w-auto" id="filterEdicao" name="edicao">
              <optgroup class="opt_edi">
              {% comment %} Se não quiser que aparece a opção todas crie uma variavel n_todas com True {% endcomment %}
              {% if not n_todas %}
                <option class="opt_edi troca_lingua" value="todas" data-pt="Todas" data-en="All">Todas</option>
              {% endif %}
              {% for edicao in edicoes %}
                  <option class="opt_edi" value="{{edicao}}" 
                      {% if selecionada %}
                        {% if selecionada == edicao %}selected{% endif %}
                      {% else %}
                        {% if forloop.last %}selected{% endif %}
                      {% endif %}
                  >{{edicao}}</option>
              {% endfor %}
              {% if com_trancou %}
                <option class="opt_edi troca_lingua" value="trancou" data-pt="trancou" data-en="on hold">trancou</option>
              {% endif %}
              {% if com_proximas %}
                <option class="opt_edi troca_lingua" value="proximas" data-pt="próximas" data-en="next" {% if not selecionada %}selected{% endif %}>próximas</option>
              {% endif %}
              </optgroup>
            </select>
            <div class="separador input-group-addon"></div>
          </div>
        {% endif %}
      {% endif %}

      {% if com_cursos %}
        <div id="blocoFilterCurso" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="filterCurso" onClick="recarregar_pagina()"><span class="to_hide">
              {% lng "Curso" "Program" %}
            </span></label>
          </div>
          <select class="to_hide2 filter custom-select w-auto" id="filterCurso" name="curso">
              <option class="opt_edi troca_lingua" value="T" data-pt="Todos Insper" data-en="All Insper">Todos Insper</option>
              {% if cursos %}
                {% for c in cursos %}
                  {% if c.curso_do_insper %}
                    <option class="opt_edi" value="{{c.sigla_curta}}" {% if curso == c.sigla_curta %}selected{% endif %}>&nbsp;&nbsp;&rdsh;&nbsp;{{c.nome}}</option>
                  {% endif %}
                {% endfor %}
                {% if cursos_externos %}
                  <option class="opt_edi troca_lingua" value="TE" {% if com_externos %}selected{% endif %} data-pt="Todos Insper + Externos" data-en="All Insper + External">Todos Insper + Externos</option>
                  {% for c in cursos_externos %}
                    {% if not c.curso_do_insper %}
                      <option class="opt_edi text-info" value="{{c.sigla_curta}}" {% if curso == c.sigla_curta %}selected{% endif %}>&nbsp;&nbsp;&rdsh;&nbsp;{{c.nome}}</option>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% else %}
                <option class="opt_edi" selected>ERRO / ERROR</option>
              {% endif %}
          </select>
          <div class="separador input-group-addon"></div>
        </div>
      {% endif %}

      {% if com_objetivos %}
        <div id="blocoFilterObjetivo" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend">
            <label class="input-group-text" for="filterObjetivo" onClick="recarregar_pagina()"><span class="to_hide">
              {% lng "Objetivo de Aprendizagem" "Learning Goals" %}
            </span></label>
          </div>
          <select class="filter custom-select w-auto" id="filterObjetivo" name="objetivo">
            {% for objetivo in objetivos %}
              <option class="opt_edi" value="{{objetivo.id}}" 
              {% if objetivo.id == obj_selecionado %}selected{% endif %}>{{objetivo.titulo}} - {{objetivo.data_inicial}}</option>
            {% endfor %}
          </select>
          <div class="separador input-group-addon"></div>
        </div>
      {% endif %}

      {% if ind_grup %}
        <div id="blocoFilterIndividuais"  class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="individuais" checked >
            <label class="to_label form-check-label" style="line-height: 1.0;" for="individuais"><span class="to_hide">
              {% lng "Individuais" "Individual" %}
            </label>
          </div>
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="grupo" checked >
            <label class="to_label form-check-label" style="line-height: 1.0;" for="grupo"><span class="to_hide">
              {% lng "Grupo" "Group" %}
            </span></label>
          </div>
          <div class="separador input-group-addon"></div>
        </div>
      {% endif %}

      {% if so_finais %}
        <div  id="blocoFilterSoFinais" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="so_finais" checked >
            <label class="to_label form-check-label" style="line-height: 1.0;" for="so_finais"><span class="to_hide">
              {% lng "Só avaliações finais" "Only final grades" %}
            </span></label>
          </div>
          <div class="separador input-group-addon"></div>
        </div>
      {% endif %}

      {% if avancados %}
        <div  id="blocoFilterAvancado" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="avancados" checked >
            <label class="to_label form-check-label" for="avancados"><span class="to_hide">
              {% lng "Avancados" "Advanced" %}
            </span></label>
          </div>
          <div class="separador input-group-addon"></div>
        </div>
      {% endif %}

      {% if com_tipos %}
        <div id="blocoFilterTipo" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="filterTipo" onClick="recarregar_pagina()"><span class="to_hide">
              {% lng "Tipo" "Type" %}
            </span></label>
          </div>
          <select class="to_hide2 filter custom-select w-auto form-control" id="filterTipo" name="tipo">
            <option class="opt_edi troca_lingua" value="estudantes" data-pt="Estudantes" data-en="Students">
              Estudantes
            </option>
            <option class="opt_edi troca_lingua" value="propostas" data-pt="Propostas" data-en="Proposals">
              Propostas
            </option>
            <option class="opt_edi troca_lingua" value="projetos" data-pt="Projetos" data-en="Projects">
              Projetos
            </option>
          </select>
          <div class="separador input-group-addon"></div>
        </div>
      {% endif %}

      {% if com_tipo_banca %}
        <div id="blocoFilterTipo" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="filterTipo" onClick="recarregar_pagina()"><span class="to_hide">
              {% lng "Tipo de Banca" "Examination Board Type" %}
            </span></label>
          </div>
          <select class="to_hide2 custom-select w-auto form-control" id="tipo_banca" name="tipo_banca">
            <option value="todos" {% if tipo_banca == "todos" %}selected="todos"{% endif %} class="opt_edi troca_lingua" data-pt="todas" data-en="all">
              todas
            </option>
            <option value="Intermediária" {% if tipo_banca == "Intermediária" %}selected{% endif %} class="opt_edi troca_lingua" data-pt="Intermediária" data-en="Intermediate">
              Intermediária
            </option>
            <option value="Final" {% if tipo_banca == "Final" %}selected{% endif %} class="opt_edi troca_lingua" data-pt="Final" data-en="Final">
              Final</option>
            <option value="Falconi" {% if tipo_banca == "Falconi" %}selected{% endif %} class="opt_edi">Falconi</option>
            <option value="Probation" {% if tipo_banca == "Probation" %}selected{% endif %} class="opt_edi troca_lingua" data-pt="Probatória" data-en="Probation">
              Probatória
            </option>
          </select>
          <div class="separador input-group-addon"></div>
        </div>
      {% endif %}


      {% if com_entregas %}
        <div id="blocoFilterEntregas" class="input-group input-group-sm mt-1 flex-nowrap">
          <div class="input-group-prepend">
            <label class="input-group-text" for="filterEntregas"><span class="to_hide">
              {% lng "Tipo" "Type" %}
            </span></label>
          </div>
          <select class="custom-select w-auto" id="filterEntregas" name="entregas">
            <option class="opt_edi troca_lingua" value="todas" data-pt="Todas" data-en="All">
              {% lng "Todas" "All" %}
            </option>
            {% for entrega in com_entregas %}
              <option class="opt_edi" value="{{entrega.id}}">{{entrega}}</option>
            {% endfor %}
          </select>
          <div class="separador input-group-addon"></div>
        </div>
      {% endif %}

      {% if com_periodo %}
        <div class="input-group input-group-sm mt-1">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="periodo"><span class="to_hide">
              {% lng "Período" "Interval" %}
            </span></label>
          </div>
          <select id="periodo" class="periodo filter to_hide custom-select w-auto" data-tableId="OrganizacoesTable">
            <option value="1" class="troca_lingua" data-pt="1 mês" data-en="1 month">1 mês</option>
            <option value="2" class="troca_lingua" data-pt="2 mêses" data-en="2 months">2 mêses</option>
            <option value="3" selected class="troca_lingua" data-pt="3 mêses" data-en="3 months">3 mêses</option>
            <option value="6" class="troca_lingua" data-pt="6 mêses" data-en="6 months">6 mêses</option>
            <option value="12" class="troca_lingua" data-pt="12 mêses" data-en="12 months">12 mêses</option>
            <option value="9999" class="troca_lingua" data-pt="tudo" data-en="all">tudo</option>
          </select>
          &nbsp;&nbsp;&nbsp;
          <div class="spinner-border spinner-border-sm text-secondary" id="spinner" style="visibility: hidden" role="status" aria-hidden="true">
            <span class="sr-only">
              {% lng "Carregando..." "Loading..." %}
            </span>
          </div>
          &nbsp;&nbsp;&nbsp;
        </div>
      {% endif %}

      {% if com_acompanhamento %}
        <div class="input-group input-group-sm mt-1 mr-4">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="filterAcompanhamento">
              {% lng "Filtrar" "Filter" %}
            </label>
          </div>
          <select id="filterAcompanhamento" class="selectpicker custom-select w-auto form-control form-control-sm" data-tableId="OrganizacoesTable">
            <option value="todas" class="troca_lingua" data-pt="todas contactadas" data-en="all contacted">todas contactadas</option>
            {% for retorno in tipo_retorno %}
              {% ifchanged retorno.grupo_de_retorno %}{% if retorno.grupo_de_retorno %}<option class="special_filter" value="{{retorno.get_grupo_de_retorno_display}}" {% if selecionada_acompanhamento == retorno.grupo_de_retorno %}selected{% endif %}>&#x21a6; {{retorno.get_grupo_de_retorno_display}} &#x21a4;</option>{% else %}<option disabled="disabled">-----------</option>{% endif %}{% endifchanged %}
              <option value="{{retorno.id}}">{{retorno.nome}}</option>
            {% endfor %}
          </select>
        </div>
      {% endif %}

      {% if com_pessoas %}
        <div class="input-group input-group-sm mt-1 mr-4">
            <div class="input-group-prepend">
              <label class="to_label input-group-text" for="usuario"><span class="to_hide">
                {% lng "Pessoa" "Person" %}
              </span></label>
            </div>
            <select id="usuario" class="selectpicker form-control form-control-sm" data-style="mr-sm border " data-width="10em"
                    title="Nada selecionado" multiple>
              <option selected="selected" class="troca_lingua" title="Insper" data-pt="Insper" data-en="Insper">Insper</option>
              <option selected="selected" class="troca_lingua" title="Externo" data-pt="Externo" data-en="External">Externo</option>
            </select>
        </div>
      {% endif %}

      {% if com_linguas %}
        <div class="input-group input-group-sm mt-1 mr-4">
            <div class="input-group-prepend">
              <label class="to_label input-group-text" for="filterLingua" onClick="recarregar_pagina()"><span class="to_hide">{% lng "Línguas" "Languages" %}</span></label>
            </div>
            <select id="filterLingua" class="selectpicker form-control form-control-sm" data-style="mr-sm border" data-width="10em"
                    title="Nada selecionado" multiple>
              <option class="troca_lingua" selected="selected" value="pt" data-pt="Português" data-en="Portuguese">Português</option>
              <option class="troca_lingua" selected="selected" value="en" data-pt="Inglês" data-en="English">Inglês</option>
            </select>
        </div>
      {% endif %}

      {% if grupos_certificados %}
        <div class="input-group input-group-sm mt-1 flex-nowrap">
            <div class="input-group-prepend">
              <label class="to_label input-group-text" for="tipos"><span class="to_hide">
                {% lng "Tipos" "Types" %}
              </span></label>
            </div>
            <select id="tipos" class="selectpicker form-control form-control-sm"
            data-style="mr-sm border " data-width="10em"
            title="Nada selecionado" multiple>
              {% for tipo in grupos_certificados %}
                <option {% if not tipos or tipo.sigla in tipos %}selected="selected"{% endif %} 
                class="troca_lingua" data-pt="{{ tipo.nome }}" data-en="{{ tipo.nome_en }}"
                value="{{ tipo.sigla }}"  title="{{ tipo.sigla }}">{{ tipo.nome }}</option>
              {% endfor %}
            </select>
        </div>
      {% endif %}

    </div>
  </div>
</div>

{% comment %} Salva a última edição selecionada {% endcomment %}
{% if edicoes %}
  {% if not sem_edicao %}
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const filterEdicao = document.getElementById("filterEdicao");
        filterEdicao.addEventListener("change", () => {
            const item = {
                value: filterEdicao.value,
                expiry: Date.now(),
            };
            localStorage.setItem("filterEdicao", JSON.stringify(item));
        });
      });
    </script>
  {% endif %}
{% endif %}
