{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 6 de Dezembro de 2020
{% endcomment %}

{% comment %} Seletor da edição da pesquisa {% endcomment %}
{% if edicoes %}
  <style>
    .separador {
      margin-right: 16px;
    }

    @media only screen and (max-width: 520px) {
      .to_hide {
        font-size: 0.7rem;
        min-width:22%;
        max-width:fit-content;
        width:2rem;
      }
      .to_hide2 {
        font-size: 0.7rem;
        min-width:60%;
        max-width:70%;
      }
      .to_label {
        padding: 4px !important;
      }
      .separador {
        margin-right: 6px;
        width: 92vw;
      }
    }
    
  </style>

  <div class="row align-items-start mb-2" style="display: inline-block; margin-right: 3px;">
    <div class="ml-3 form-inline">
      {% comment %} <div class="input-group input-group-sm"> {% endcomment %}
        {% if not sem_edicao %}
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="filterEdicao" onClick="recarregar_pagina()"><span class="to_hide">Edição</span></label>
          </div>
          <select class="to_hide filter custom-select w-auto" id="filterEdicao" name="edicao">
            <optgroup class="opt_edi">
            {% comment %} Se não quiser que aparece a opção todas crie uma variavel n_todas com True {% endcomment %}
            {% if not n_todas %}
              <option class="opt_edi" value="todas">todas</option>
            {% endif %}
            {% for edicao in edicoes %}
                <option class="opt_edi" value="{{edicao}}" 
                    {% if selecionada %}
                      {% if selecionada == edicao %}selected{% endif %}
                    {% else %}
                      {% if forloop.last %}selected{% endif %}
                    {% endif %}
                >{{edicao}}</option>
            {% endfor %}
            </optgroup>
          </select>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if com_cursos %}
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="filterCurso" onClick="recarregar_pagina()"><span class="to_hide">Curso</span></label>
          </div>
          <select class="to_hide2 filter custom-select w-auto" id="filterCurso" name="curso">
              <option class="opt_edi" value="T">todos</option>
              {% if cursos %}
                {% for c in cursos %}
                  {% if c.curso_do_insper %}
                    <option class="opt_edi" value="{{c.sigla_curta}}" {% if curso == c.sigla_curta %}selected{% endif %}>{{c.nome}}</option>
                  {% endif %}
                {% endfor %}
                {% for c in cursos %}
                  {% if not c.curso_do_insper %}
                    <option class="opt_edi text-info" value="{{c.sigla_curta}}" {% if curso == c.sigla_curta %}selected{% endif %}>{{c.nome}}</option>
                  {% endif %}
                {% endfor %}
              {% else %}
                <option class="opt_edi" selected>ERRO / ERROR</option>
              {% endif %}
          </select>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if com_objetivos %}
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <label class="input-group-text" for="filterObjetivo" onClick="recarregar_pagina()"><span class="to_hide">Objetivo de Aprendizagem</span></label>
          </div>
          <select class="filter custom-select w-auto" id="filterObjetivo" name="objetivo">
            {% for objetivo in objetivos %}
              <option class="opt_edi" value="{{objetivo.id}}" 
              {% if objetivo.id == obj_selecionado %}selected{% endif %}>{{objetivo.titulo}} - {{objetivo.data_inicial}}</option>
            {% endfor %}
          </select>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if ind_grup %}
        <div class="input-group input-group-sm">
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="individuais" checked >
            <label class="to_label form-check-label" style="line-height: 1.0;" for="individuais"><span class="to_hide">Individuais</span></label>
          </div>
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="grupo" checked >
            <label class="to_label form-check-label" style="line-height: 1.0;" for="grupo"><span class="to_hide">Grupo</span></label>
          </div>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if so_finais %}
        <div class="input-group input-group-sm">
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="so_finais" checked >
            <label class="to_label form-check-label" style="line-height: 1.0;" for="so_finais"><span class="to_hide">Só avaliações finais</span></label>
          </div>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if avancados %}
        <div class="input-group input-group-sm">
          <div class="input-group-prepend form-check mb-2 mr-sm-2">
            <input class="filter form-check-input" type="checkbox" id="avancados" checked >
            <label class="to_label form-check-label" for="avancados"><span class="to_hide">Avancados</span></label>
          </div>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        {% if com_tipos %}
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <label class="to_label input-group-text" for="filterTipo" onClick="recarregar_pagina()"><span class="to_hide">Tipo</span></label>
          </div>
          <select class="to_hide2 filter custom-select w-auto form-control" id="filterTipo" name="tipo">
            <option class="opt_edi" value="estudantes">Estudantes</option>
            <option class="opt_edi" value="propostas">Propostas</option>
            <option class="opt_edi" value="projetos">Projetos</option>
          </select>
          <div class="separador input-group-addon"></div>
        </div>
        {% endif %}

        <div class="input-group input-group-sm">
          <div id="spinner" class="ml-2 input-group-prepend" style="visibility: hidden">
            <div class="spinner-border text-secondary ml-auto" style="width: 1.8rem; height: 1.8rem;" role="status" aria-hidden="true">
              <span class="sr-only input-group-text">Carregando...</span>
            </div>
          </div>
        </div>

    </div>
    <div id="lateral"></div>
  </div>

  {% comment %} Salva a última edição selecionada {% endcomment %}
  <script>
    window.onbeforeunload = function() {
      localStorage.setItem("filterEdicao", $('#filterEdicao').val());
    }
  </script>

{% endif %}
