{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 23 de Deembro de 2020
{% endcomment %}

{% load static %}

{% comment %} Para esconder links {% endcomment %}
<style>
    a.desligado {
        color: inherit;
        text-decoration: none;
        pointer-events: none;
        cursor: default;
    }
</style>

<div class="logo_impressoras" style="float: right; margin-top: 4px; margin-left: 8px">
    <img class="logo_impressora" id="impressora" src="{% static 'images/icone_Printer.png' %}" alt="impressora" style="cursor: pointer;">
</div>

<script>

    {% comment %} Esconde informações para impressão {% endcomment %}
    document.getElementById("impressora").addEventListener("click", function() {
        $('#informacoes').hide()
        $('.logo_impressoras').hide()
        $('.topnav').hide()
        $(".imprimir").addClass('desligado');
        $('.esconder').hide()
        $('.email').hide()
        $('.images').hide()
    });

    $(document).keyup(function(e) {
        if (e.key === "Escape") {
            $('#informacoes').show()
            $('.logo_impressoras').show()
            $('.topnav').show()
            $(".imprimir").removeClass('desligado');
            $('.esconder').show()
            $('.email').show()
            $('.images').show()
        }
    });

</script>