{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 24 de Outubro de 2023
{% endcomment %}

{% if informacoes %}

  <style>
    .arrow {
      border: solid black;
      border-width: 0px 2px 2px 0px;
      display: inline-block;
      padding: 2px;
      vertical-align: middle;
    }

    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    #toggle {
      display:inline-block;
      padding-top: 10px;
      display: none;
    }

    #toggle > label {
      margin-left: 10px;
    }

    #toggle > label > input {
      vertical-align: -3px;
    }

    #informacoes_tag {
      padding: 2px 4px 2px 4px;
      cursor: pointer;
      color:gray;
      display: block;
      line-height: 1.0em;
    }

    #informacoes_gerais {
      width:fit-content;
      margin-bottom: 6px;
      margin-top: 4px;
      font-size:0.8rem;
      display: inline-block;
      border: 1px solid lightgray;
      padding: 1px;
    }

  </style>

  <script>
    $(document).on('click','#informacoes_tag',function(){
      if($("#toggle").is(':visible')) $("#informacoes_gerais").css("display", "inline-block");
      else $("#informacoes_gerais").css("display", "block");
      $("#toggle").toggle( "slide" );
    });
  </script>
 
  <div id="informacoes_gerais" class="esconder">
    <span id="informacoes_tag"><b>Informações <i class="arrow right"></i>&nbsp;</b></span>
    <div id="toggle">
      {% for inf in informacoes %}
        {% comment %} O terceiro campo é o nome da classe, mas se for False desliga o botao {% endcomment %}
        <label {% if inf.2 is not None and inf.2 != False %}class="{{inf.2}}"{% endif %}>
          <input id="info_{{inf.1}}"
                 onchange="($(this).prop('checked') ? $(`{{inf.0|safe}}`).show() : $(`{{inf.0|safe}}`).hide())"
                 type="checkbox" {% if inf.2 is None or inf.2 != False %}checked{% endif %} /> 
          {{inf.1}}
        </label>
      {% endfor %}
      &nbsp;&nbsp;
    </div>
  </div>

{% endif %}