{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 2 de Novembro de 2024
{% endcomment %}

{% block head %}

<style>
  .quad_pfe {
    border: solid black 2px;
    border-radius: 8px;
    padding: 16px;
  }

  p {
    text-align: justify;
    margin-bottom: 0.8rem;
  }


</style>
{% endblock %}

{% block content %}

<div class="container-fluid" style="max-width:740px; padding-left: 6px; padding-right: 6px;">
  <div class="row justify-content-around">
    <div class="col-xl-auto" style="margin-bottom: 18px;">
      <div class="quad_pfe">

    <h2>Capstone</h2>
    <br>
    
    <p>Os cursos de Engenharia (Computação, Mecatrônica e Mecânica) e Ciência da Computação do Insper valorizam o preparo profissional dos seus estudantes, proporcionando uma sólida formação técnica e um contínuo aprimoramento de suas habilidades em trabalho em equipe, organização, comunicação, design, empreendedorismo, dentre outras competências. Assim, a integração entre o ambiente acadêmico e o mercado de trabalho é uma característica fundamental dos cursos.</p>
    <p>O Capstone do Insper cumpre esse propósito ao aproximar os estudantes das organizações, permitindo que desenvolvam soluções tecnológicas para demandas reais e genuinamente relevantes. Esse processo oferece uma experiência prática em situações típicas do mercado, possibilitando que os estudantes apliquem conhecimentos e habilidades desenvolvidos ao longo dos cursos. Para as organizações, o Capstone é uma oportunidade de avaliar a viabilidade de novas tecnologias por meio de protótipos, repensar e melhorar o design de produtos ou resolver problemas técnicos que possam estar enfrentando.</p>
    <p>Os cursos do Insper são em período integral (manhã e tarde), e o Capstone ocorre no penúltimo ano, imediatamente antes do estágio, com duração de um semestre letivo e um total de 360 horas de trabalho com uma organização parceira. Durante o Capstone, os estudantes também cursam uma ou duas disciplinas eletivas em paralelo.</p>
    <p>Os projetos das diferentes organizações são apresentados aos estudantes, que aplicam para os projetos de acordo com seu interesse. A partir dessas candidaturas, formam-se grupos, idealmente com quatro membros. Cada grupo contará com um orientador acadêmico, um professor do Insper com experiência técnica e profissional para guiá-los ao longo do projeto. Além disso, são realizadas atividades paralelas para preparar melhor os estudantes na interação com as organizações.</p>
    <p>As organizações que propõem os projetos devem se dispor a acompanhar todo o processo de desenvolvimento ao longo do semestre letivo. Isso inclui a designação de um mentor técnico, que idealmente deve realizar encontros semanais com o grupo. Nesse processo também se pede uma imersão dos estudantes no funcionamento da organização.</p>
    
    <br>
    <p>Você consegue mais detalhes sobre o Capstone em:<br>
    <a href="https://hub.insper.edu.br/projetos-inovadores/projetos-academicos-de-inovacao/capstone" target="_blank">https://hub.insper.edu.br/projetos-inovadores/projetos-academicos-de-inovacao/capstone</a></p>
    
    <br>
    <p>Submissões de projetos em:<br>
      <a href="https://pfe.insper.edu.br/organizacoes/proposta_submissao" target="_blank">https://pfe.insper.edu.br/organizacoes/proposta_submissao</a></p>
    <br>

    <p>Para o calendário dos próximos projetos, por favor consulte a equipe do Capstone.</p>

    <br>
      <div class="contact-info">
        <p><strong>Contato:</strong></p>
        <p>e-mail: <a href="mailto:coordenacaocapstone@insper.edu.br">coordenacaocapstone@insper.edu.br</a></p>
        {% comment %} <p>telefone: 11-4504-2719</p> {% endcomment %}
      </div>

  </div>
</div>
</div>
</div>

{% endblock %}