{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 14 de Dezembro de 2023
{% endcomment %}


{% comment %} REMOVER ESSE DOCUMENTO, NAO DEVE MAIS SER USADO {% endcomment %}

{% comment %} 
<script>

  var data;
  var url;

  function abrir_modal(e) {

    if (e != null) e.preventDefault();
    var $popup = $("#popup");
    data = $(this).data("data");
    url = $(this).data("url");
    console.log("data: " + data);
    var address = url
    if(data) {address += data}

    $(".modal-content", $popup).load(address, function(response, status, xhr) {
      if(status == "error") {
        alert("Erro ao tentar abrir a janela: " + xhr.status + " " + xhr.statusText );
      } else {
        if ($(".selectpicker").length) {
          $(".selectpicker").selectpicker();
        }
        $popup.modal("show");
        {% include "linguas_ajax.html" %}
      }
    });
  }
 
  $(document).ready(function() {
    if (!$(document).data('modal-event-registered')) {  // Check if the event handler is already registered
      $(document).on("click", ".open-modal", abrir_modal);  // Register the event handler if it is not already registered      
      $(document).data('modal-event-registered', true);  // Set the flag to indicate that the event handler has been registered
    }
  });

</script> {% endcomment %}

{% comment %} REMOVER ESSE DOCUMENTO, NAO DEVE MAIS SER USADO {% endcomment %}
