{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 16 de Outubro de 2022
{% endcomment %}

{% comment %} Coloque essa chamada sempre no final do arquivo {% endcomment %}

<script>

  var textos_linguas = {
    pt: {
        decimal:        "",
        emptyTable:     "Tabela vazia",
        info:           "Exibindo de _START_ até _END_ em _TOTAL_ {{tabela}}",
        infoEmpty:      "Exibindo de 0 até 0 em 0 {{tabela}}",
        infoFiltered:   "(filtrado de _MAX_ {{tabela}})",
        infoPostFix:    "",
        thousands:      "",
        lengthMenu:     "Mostrando _MENU_ itens",
        loadingRecords: "Carregando...",
        processing:     "Processando...",
        search:         "Busca:",
        zeroRecords:    "Não foram encontrados registros com a busca",
        paginate: {
            first:      "Primeira",
            last:       "Última",
            next:       "Próxima",
            previous:   "Anterior"
        },
        aria: {
            sortAscending:  ": ativado para ordenar a coluna de forma ascendente",
            sortDescending: ": ativado para ordenar a coluna de forma descendente"
        },
        buttons: {
            colvis: 'Colunas'
        }
    },
    en: {
        decimal:        "",
        emptyTable:     "No data available",
        info:           "Showing _START_ to _END_ of _TOTAL_ {{tabela}}",
        infoEmpty:      "Showing 0 to 0 of 0 {{tabela}}",
        infoFiltered:   "(filtered from _MAX_ total {{tabela}})",
        infoPostFix:    "",
        thousands:      "",
        lengthMenu:     "Show _MENU_ items",
        loadingRecords: "Loading...",
        processing:     "Processing...",
        search:         "Search:",
        zeroRecords:    "No matching records found",
        paginate: {
            first:      "First",
            last:       "Last",
            next:       "Next",
            previous:   "Previous"
        },
        aria: {
            sortAscending:  ": activate to sort column ascending",
            sortDescending: ": activate to sort column descending"
        },
        buttons: {
            colvis: 'Columns'
        }
    }
  };

  {% comment %} VER:
    function loc(number, locale="pt-BR", frac=1) {return number.toLocaleString(locale, {minimumFractionDigits: frac, maximumFractionDigits: frac});}
  {% endcomment %}

  var text_pt = "<span style='cursor: pointer;'>&nbsp;<b>PT</b>|EN&nbsp;</span>";
  var text_en = "<span style='cursor: pointer;'>&nbsp;PT|<b>EN</b>&nbsp;</span>";

  {% comment %} Se tiver tabela com linguagem o seguinte código ajusta a linguagem da tabela {% endcomment %}
  function switchTableLanguage(language) {
    document.querySelectorAll('th[data-lang-pt]').forEach(function(th) {
        if (language === 'pt') {
            th.innerHTML = th.getAttribute('data-lang-pt');
        } else if (language === 'en') {
            th.innerHTML = th.getAttribute('data-lang-en');
        }
    });
  }

  function esconde_lingua() {
    if (localStorage.getItem("lingua") == null) {
      if (navigator.language.startsWith("pt")) {
        localStorage.setItem("lingua", "pt");
      } else {
        localStorage.setItem("lingua", "en");
      }
    }

    if (localStorage.getItem("lingua") == "pt") {
      $("#language_button").html(text_pt);
      $('[lang="pt"]').css("display", "initial");
      $('[lang="en"]').css("display", "none");
      {% if titulo.pt %}document.title = "Capstone - {{ titulo.pt }}";{% endif %}
      switchTableLanguage("pt");
    } else {
      $("#language_button").html(text_en);
      $('[lang="pt"]').css("display", "none");
      $('[lang="en"]').css("display", "initial");
      {% if titulo.en %}document.title = "Capstone - {{ titulo.en }}";{% endif %}
      switchTableLanguage("en");
    }

  }
  
  esconde_lingua();  // Para chamar no carrega_pagina


  {% comment %} function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  } {% endcomment %}

  $(document).ready(function() {

    async function handleLanguageChange() {
      lingua_atual = localStorage.getItem("lingua");
      if (lingua_atual == "pt") {
        $("#language_button").html(text_en);
        $('[lang="pt"]').css("display", "none");
        $('[lang="en"]').css("display", "initial");
        {% if titulo.en %}document.title = "Capstone - {{ titulo.en }}";{% endif %}
        switchTableLanguage("en");
        //await sleep(500);
        localStorage.setItem("lingua", "en");
      } else {
        $("#language_button").html(text_pt);
        $('[lang="pt"]').css("display", "initial");
        $('[lang="en"]').css("display", "none");
        {% if titulo.pt %}document.title = "Capstone - {{ titulo.pt }}";{% endif %}
        switchTableLanguage("pt");
        //await sleep(500);
        localStorage.setItem("lingua", "pt");
      }
    }

    $("body").on("click", "#language_button", function(e) {
      handleLanguageChange();
    });

    {% comment %} Só mostra o botão de linguagem depois de carregar a página {% endcomment %}
    $("#language_button").css("display", "initial");

  });

  {% comment %} 
  // Para PEGAR o idioma do navegador
  function getLang() {
    if (navigator.languages != undefined) 
      return navigator.languages[0]; 
    return navigator.language;
  }
  console.log(getLang());
  {% endcomment %}

  {% comment %} // second_file.js
$(document).ready(function() {
  // Example usage of the function
  atualiza_lingua("en");
}); {% endcomment %}

</script>
