{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 16 de Outubro de 2022
{% endcomment %}

{% comment %} Coloque essa chamada sempre no final do arquivo {% endcomment %}

<script>

  {% comment %} VER:
    function loc(number, locale="pt-BR", frac=1) {return number.toLocaleString(locale, {minimumFractionDigits: frac, maximumFractionDigits: frac});}
  {% endcomment %}

  var text_pt = "<span style='cursor: pointer;'>&nbsp;<b>PT</b>|EN&nbsp;</span>";
  var text_en = "<span style='cursor: pointer;'>&nbsp;PT|<b>EN</b>&nbsp;</span>";

  function esconde_lingua() {
    if (localStorage.getItem("lingua") == null) {
      if (navigator.language.startsWith("pt")) {
        localStorage.setItem("lingua", "pt");
      } else {
        localStorage.setItem("lingua", "en");
      }
    }

    if (localStorage.getItem("lingua") == "pt") {
      $("#language_button").html(text_pt);
      $('[lang="pt"]').css("display", "initial");
      $('[lang="en"]').css("display", "none");
      {% if titulo.pt %}document.title = "Capstone - {{ titulo.pt }}";{% endif %}
    } else {
      $("#language_button").html(text_en);
      $('[lang="pt"]').css("display", "none");
      $('[lang="en"]').css("display", "initial");
      {% if titulo.en %}document.title = "Capstone - {{ titulo.en }}";{% endif %}
    }

  }
  
  esconde_lingua();  // Para chamar no carrega_pagina


  {% comment %} function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  } {% endcomment %}

  $(document).ready(function() {

    async function handleLanguageChange() {
      lingua_atual = localStorage.getItem("lingua");
      if (lingua_atual == "pt") {
        $("#language_button").html(text_en);
        $('[lang="pt"]').css("display", "none");
        $('[lang="en"]').css("display", "initial");
        {% if titulo.en %}document.title = "Capstone - {{ titulo.en }}";{% endif %}
        //await sleep(500);
        localStorage.setItem("lingua", "en");
      } else {
        $("#language_button").html(text_pt);
        $('[lang="pt"]').css("display", "initial");
        $('[lang="en"]').css("display", "none");
        {% if titulo.pt %}document.title = "Capstone - {{ titulo.pt }}";{% endif %}
        //await sleep(500);
        localStorage.setItem("lingua", "pt");
      }
    }

    $("body").on("click", "#language_button", function(e) {
      handleLanguageChange();
    });

    {% comment %} Só mostra o botão de linguagem depois de carregar a página {% endcomment %}
    $("#language_button").css("display", "initial");

  });

  {% comment %} 
  // Para PEGAR o idioma do navegador
  function getLang() {
    if (navigator.languages != undefined) 
      return navigator.languages[0]; 
    return navigator.language;
  }
  console.log(getLang());
  {% endcomment %}

  {% comment %} // second_file.js
$(document).ready(function() {
  // Example usage of the function
  atualiza_lingua("en");
}); {% endcomment %}

</script>
