{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 26 de Setembro de 2024
{% endcomment %}

{% if alocacao %}
  {% if user.is_authenticated %}
    <a class="imprimir" href="{% url 'estudante_detail' alocacao.aluno.id %}">{{alocacao.aluno.user.get_full_name}}</a>
  {% else %}
    {{alocacao.aluno.user.get_full_name}}
  {% endif %}
  <span class="texto-longo curso unselectable">[{{ alocacao.aluno.curso2 }}]</span>
  <span class="texto-curto curso unselectable">[{{ alocacao.aluno.curso2.sigla_curta }}]</span>
  {% if alocacao.aluno.externo %}<span style="color:red">[{{alocacao.aluno.externo}}]</span>{% endif %}
  <span class="texto-longo emails"><a class="email" href="mailto:{{alocacao.aluno.user.email}}">&lt;{{alocacao.aluno.user.email}}&gt;</a></span>
  <span class="texto-curto emails"><a class="email" href="mailto:{{alocacao.aluno.user.email}}"><i class="far fa-envelope"></i></a></span>
{% else %}
  <span class="texto-longo">Estudante não alocado</span>
{% endif %}
