
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 16 de Setembro de 2025
{% endcomment %}

{% load static %}
{% load linguas %}

<div class="mt-4 alert alert-light p-2" style="max-width: 854px;">
  {% if variaveis %}
    <b>{% lng "Variáveis" "Variables" %}</b>:<br>
    {% for chave, valor in variaveis.items %}
      &#123;&#123;{{chave}}&#125;&#125; - {% lng valor.pt valor.en %}<br>
      {% if valor.atributos %}
        <small>&nbsp;&nbsp;{% lng "atributos" "attributes" %}: {{valor.atributos}}<br></small>
      {% endif %}
      {% if valor.exemplos %}
        <small>&nbsp;&nbsp;{% lng "exemplos" "examples" %}: {{valor.exemplos}}<br></small>
      {% endif %}
    {% endfor %}
    <br>
  {% endif %}
  {% if filtros %}
    <b>{% lng "Filtros" "Filters" %}</b>:<br>
    {% for chave, valor in filtros.items %}
      |{{chave}}: - {% lng valor.pt valor.en %}<br>
    {% endfor %}
    <br>
  {% endif %}
  {% if tipos %}
    <b>{% lng "Link Documentos" "Document Links" %}</b>:<br>
    base - {{request.scheme}}://{{request.get_host}}{% url 'doc' %}[DOC]<br>
    {% for tipo in tipos %}
      <i>{{tipo.sigla}}</i>: {% lng tipo.nome tipo.nome_en %}<br>
    {% endfor %}
  {% endif %}
</div>