{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 12 de Novembro de 2020
{% endcomment %}

{% if proposta.nome_organizacao or proposta.organizacao %}
  <hr>

  <style>
    #logotipo {
      max-height:128px;
      max-width:128px;
      height:auto;
      width:auto;
      float: right;
    }
  </style>
  
  {% if proposta.organizacao.logotipo %}
    <img id="logotipo" src="{{ proposta.organizacao.logotipo.url }}" alt="{{ proposta.organizacao.sigla }}">
  {% endif %}

  <span class="titulo">
    <b>Organização:</b>
    {% if proposta.organizacao and proposta.organizacao.nome %}
        {% if completo %}
            <a id="organizacao_link" data-toggle="tooltip" data-html="true" animation="true" title="Nome da organização/empresa que está propondo o projeto."
              href="{% url 'organizacao_completo' proposta.organizacao.id %}">
        {% endif %}
        <span id="organizacao_nome">
          {{proposta.organizacao.nome}}
        </span>
        {% if completo %}
            </a>
        {% endif %}
    {% elif proposta.nome_organizacao %}
      <span data-toggle="tooltip" data-html="true" animation="true" title="Nome da organização/empresa que está propondo o projeto.">
        {{proposta.nome_organizacao}}
      </span>
    {% else %}
      <u>Organização não definida.</u>
    {% endif %}
    <span class="esconder">
      <a
        data-proposta='{{proposta.id}}'
        class="link-organizacao"
        href="{% url 'link_organizacao' proposta.id %}"
        data-url="{% url 'link_organizacao' proposta.id %}"
        ><small>&#128279;</small></a
      >
    </span>
    <br>
  </span>
  
  <p>
    {% if proposta.endereco %}
      <strong data-toggle="tooltip" data-html="true" animation="true" title="
       Endereço onde os alunos deverão se deslocar para desenvolver o projeto.
      ">
       Endereço Local:
      </strong>
      <a href="http://maps.google.com/maps?q={{proposta.endereco}}">
        {{proposta.endereco|linebreaks}}
      </a>
    {% elif proposta.organizacao and proposta.organizacao.endereco %}
      <strong data-toggle="tooltip" data-html="true" animation="true" title="
       Endereço da matriz da organização parceira.
      ">
       Endereço Matriz:
      </strong>
      <a id="organizacao_endereco" href="http://maps.google.com/maps?q={{proposta.organizacao.endereco}}">
        {{proposta.organizacao.endereco|linebreaks}}
      </a>
    {% else %}
      <u>não definido.</u>
    {% endif %}
    <br>
  </p>

  <p>
    <strong data-toggle="tooltip" data-html="true" animation="true" title="
     Site da organização e/ou projeto.
    ">
        website:
    </strong>
    {% if proposta.website %}
        <a href="{{proposta.website}}">{{proposta.website}}</a>
    {% elif proposta.organizacao and proposta.organizacao.website %}
        <a href="{{proposta.organizacao.website}}">{{proposta.organizacao.website}}</a>
    {% else %}
        <u>website não definido.</u>
    {% endif %}
    <br><br>
  </p>

  {% comment %} Campo opcional {% endcomment %}
  {% if proposta.descricao_organizacao %}    
    <p><strong>Informações sobre a empresa:</strong>
    {{proposta.descricao_organizacao|linebreaks|urlize}}
    <br></p>
  {% elif proposta.organizacao and proposta.organizacao.informacoes %}
    <p><strong>Informações sobre a empresa:</strong>
    {{proposta.organizacao.informacoes|linebreaks|urlize}}
    <br></p>
  {% endif %}

  {% comment %} Campo opcional {% endcomment %}
  {% if proposta.departamento %}
    <p><strong>Informações sobre o departamento na organização:</strong>
    {{proposta.departamento|linebreaks|urlize}}<br></p>
  {% endif %}

  {% include "organizacao-modal.html" %}

{% else %}

    <strong>Não foi possível carregar dados da Organização Parceira!</strong>

{% endif %}