{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 12 de Novembro de 2020
{% endcomment %}

{% if proposta.nome_organizacao or proposta.organizacao or proposta.website %}
  <hr>

  <style>
    #logotipo {
      max-height:128px;
      max-width:128px;
      height:auto;
      width:auto;
      float: right;
    }

    .pulsar {
      display: inline-block;
      line-height: 1.1em;
      font-size: 1.1em;
      animation: pulse-text ease-in-out infinite;
      animation-duration: 2s;
    }
    
    .entrada_pri {
      font-size: 25px;
      display: inline-block;
      padding-bottom: 0.25em;
      padding-top: 10px;
    }

    @media only screen and (max-width: 740px) {
      .entrada_pri {
        font-size: 22px;
        padding-bottom: 0.15em;  
      }
    }
    
    @media only screen and (max-width: 480px) {
      .entrada_pri {
        font-size: 19px;
        padding-bottom: 0.05em;  
      }
    } 

    @keyframes pulse-text {
      0% {font-size: 1em;}
      50% {font-size: 1.1em;}
      100% {font-size: 1em;}
    }

  </style>
  
  {% if proposta.organizacao.logotipo %}
    <img id="logotipo" src="{{ proposta.organizacao.logotipo.url }}" alt="{{ proposta.organizacao.sigla }}">
  {% endif %}

  <span class="entrada_pri">
    <b>Organização:</b>
    {% if proposta.organizacao and proposta.organizacao.nome %}
        {% if completo %}
            <a id="organizacao_link" data-toggle="tooltip" data-html="true" animation="true" title="Nome da organização/empresa que está propondo o projeto."
              href="{% url 'organizacao_completo' proposta.organizacao.id %}">
        {% endif %}
        <span id="organizacao_nome">
          {{proposta.organizacao.nome}}
        </span>
        {% if completo %}
            </a>
        {% endif %}
    {% elif proposta.nome_organizacao %}
      <a id="organizacao_link">
        <span data-toggle="tooltip" data-html="true" animation="true" title="<b>Organização/empresa não linkada.</b>">
          <span style="color:gray">{{proposta.nome_organizacao}}</span>
        </span>
      </a>
    {% else %}
      <a id="organizacao_link">
        <u>Organização não definida.</u>
      </a>
    {% endif %}
    {% if completo %}
      <span class="esconder">
        {% if not proposta.organizacao %}
        <div class="pulsar">
        {% endif %}
          <a
            data-proposta='{{proposta.id}}'
            class="link-organizacao"
            href="{% url 'link_organizacao' proposta.id %}"
            data-url="{% url 'link_organizacao' proposta.id %}"
            ><small>&#128279;</small></a
          >
        {% if not proposta.organizacao %}
        </div>
        {% endif %}
      </span>
    {% endif %}
    <br>
  </span>
  
  <p>
    {% if proposta.endereco %}
      <strong data-toggle="tooltip" data-html="true" animation="true" title="
       Endereço onde os alunos deverão se deslocar para desenvolver o projeto.
      ">
       Endereço Local:
      </strong>
      <a id="organizacao_endereco" href="http://maps.google.com/maps?q={{proposta.endereco}}">
        {{proposta.endereco|linebreaks}}
      </a>
    {% elif proposta.organizacao and proposta.organizacao.endereco %}
      <strong data-toggle="tooltip" data-html="true" animation="true" title="
       Endereço da matriz da organização parceira.
      ">
       Endereço Matriz:
      </strong>
      <a id="organizacao_endereco" href="http://maps.google.com/maps?q={{proposta.organizacao.endereco}}">
        {{proposta.organizacao.endereco|linebreaks}}
      </a>
    {% else %}
      <u>não definido.</u>
    {% endif %}
    <br>
  </p>

  <p>
    <strong data-toggle="tooltip" data-html="true" animation="true" title="
     Site da organização e/ou projeto.
    ">
        website:
    </strong>
    {% if proposta.website %}
        <a id="organizacao_website" href="{{proposta.website}}">{{proposta.website}}</a>
    {% elif proposta.organizacao and proposta.organizacao.website %}
        <a id="organizacao_website" href="{{proposta.organizacao.website}}">{{proposta.organizacao.website}}</a>
    {% else %}
        <a id="organizacao_website"><u>website não definido.</u></a>
    {% endif %}
    <br><br>
  </p>

  {% comment %} Campo opcional {% endcomment %}
  {% if proposta.descricao_organizacao %}    
    <p><strong>Informações sobre a empresa:</strong>
    {{proposta.descricao_organizacao|linebreaks|urlize}}
    <br></p>
  {% elif proposta.organizacao and proposta.organizacao.informacoes %}
    <p><strong>Informações sobre a empresa:</strong>
    {{proposta.organizacao.informacoes|linebreaks|urlize}}
    <br></p>
  {% endif %}

  {% comment %} Campo opcional {% endcomment %}
  {% if proposta.departamento %}
    <p><strong>Informações sobre o departamento na organização:</strong>
    {{proposta.departamento|linebreaks|urlize}}<br></p>
  {% endif %}

  {% include "organizacao-modal.html" %}

{% else %}

    <strong>Não foi possível carregar dados da Organização Parceira!</strong>

{% endif %}