{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 12 de Novembro de 2020
{% endcomment %}

{% if proposta %}
  <h5>Perfil de Estudantes Esperados para Proposta de Projeto</h5>
  <table>
    <tr>
        <th style="text-align:center; width:112px" >
            Estudante
        </th>
        <th style="text-align:center; width:138px" >
            Computação
            {% if editavel %}<input type="checkbox" id="alunosC">{% endif %}
        </th>
        <th style="text-align:center; width:138px" >
            Mecânica
            {% if editavel %}<input type="checkbox" id="alunosM">{% endif %}
        </th>
        <th style="text-align:center; width:138px" >
            Mecatrônica
            {% if editavel %}<input type="checkbox" id="alunosX">{% endif %}
        </th>
    </tr>
    <tr> {% comment %} NAO EH A FORMA MAIS ELEGANTE MAS FUNCIONA POR ENQUANTO {% endcomment %}
      <td>Estudante&nbsp;1</td>

      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosC1" name="alunosC1" value="C1" 
        {% if proposta.perfil_aluno1_computacao %}checked{% endif %}></label>
      {% else %}
        {% if proposta.perfil_aluno1_computacao %}&#x2713;{% endif %}
      {% endif %}
      </td>
      
      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosM1" name="alunosM1" value="M1" 
        {% if proposta.perfil_aluno1_mecanica %}checked{% endif %}></label>
      {% else %}
        {% if proposta.perfil_aluno1_mecanica %}&#x2713;{% endif %}
      {% endif %}
      </td>
      
      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosX1" name="alunosX1" value="X1" 
        {% if proposta.perfil_aluno1_mecatronica %}checked{% endif %}></label>
      {% else %}
        {% if proposta.perfil_aluno1_mecatronica %}&#x2713;{% endif %}
      {% endif %}
      </td>
      
    </tr>

    <tr>

      <td>Estudante&nbsp;2</td>

      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosC2" name="alunosC2" value="C2" 
        {% if proposta.perfil_aluno2_computacao %}checked{% endif %}></label>
      {% else %}
        {% if proposta.perfil_aluno2_computacao %}&#x2713;{% endif %}
      {% endif %}
      </td>

      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosM2" name="alunosM2" value="M2" 
        {% if proposta.perfil_aluno2_mecanica %}checked{% endif %}></label></td>
      {% else %}
        {% if proposta.perfil_aluno2_mecanica %}&#x2713;{% endif %}
      {% endif %}
      </td>

      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosX2" name="alunosX2" value="X2" 
        {% if proposta.perfil_aluno2_mecatronica %}checked{% endif %}></label>
      {% else %}
        {% if proposta.perfil_aluno2_mecatronica %}&#x2713;{% endif %}
      {% endif %}
      </td>

    </tr>

    <tr>
      <td>Estudante&nbsp;3</td>

      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosC3" name="alunosC3" value="C3"
        {% if proposta.perfil_aluno3_computacao %}checked{% endif %}></label>
      {% else %}
        {% if proposta.perfil_aluno3_computacao %}&#x2713;{% endif %}
      {% endif %}
      </td>

      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosM3" name="alunosM3" value="M3"
        {% if proposta.perfil_aluno3_mecanica %}checked{% endif %}></label>
      {% else %}
        {% if proposta.perfil_aluno3_mecanica %}&#x2713;{% endif %}
      {% endif %}
      </td>

      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosX3" name="alunosX3" value="X3"
        {% if proposta.perfil_aluno3_mecatronica %}checked{% endif %}></label>
      {% else %}
        {% if proposta.perfil_aluno3_mecatronica %}&#x2713;{% endif %}
      {% endif %}
      </td>

    </tr>
    <tr>
      <td>Estudante&nbsp;4</td>

      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosC4" name="alunosC4" value="C4"
        {% if proposta.perfil_aluno4_computacao %}checked{% endif %}></label>
      {% else %}
        {% if proposta.perfil_aluno4_computacao %}&#x2713;{% endif %}
      {% endif %}
      </td>

      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosM4" name="alunosM4" value="M4" 
        {% if proposta.perfil_aluno4_mecanica %}checked{% endif %}></label>
      {% else %}
        {% if proposta.perfil_aluno4_mecanica %}&#x2713;{% endif %}
      {% endif %}
      </td>

      <td style="text-align:center;">
      {% if editavel %}
        <label style="line-height:0.6em;"><input class="alunos" type="checkbox" id="alunosX4" name="alunosX4" value="X4" 
        {% if proposta.perfil_aluno4_mecatronica %}checked{% endif %}></label>
      {% else %}
        {% if proposta.perfil_aluno4_mecatronica %}&#x2713;{% endif %}
      {% endif %}
      </td>

    </tr>
  </table>

  {% if editavel %}
    <script>

      function atualiza_colunas() {

        if( $("#alunosC1").is(':checked') && $("#alunosC2").is(':checked') && $("#alunosC3").is(':checked') && $("#alunosC4").is(':checked') ) {
          $("#alunosC").prop("checked", true); 
          $("#alunosC").prop("indeterminate", false);
        } else if( (! $("#alunosC1").is(':checked')) && (! $("#alunosC2").is(':checked')) && (! $("#alunosC3").is(':checked')) && (! $("#alunosC4").is(':checked')) ) {
          $("#alunosC").prop("checked", false); 
          $("#alunosC").prop("indeterminate", false);
        } else {
          $("#alunosC").prop("indeterminate", true);
        }

        if( $("#alunosM1").is(':checked') && $("#alunosM2").is(':checked') && $("#alunosM3").is(':checked') && $("#alunosM4").is(':checked') ) {
          $("#alunosM").prop("checked", true); 
          $("#alunosM").prop("indeterminate", false);
        } else if( (! $("#alunosM1").is(':checked')) && (! $("#alunosM2").is(':checked')) && (! $("#alunosM3").is(':checked')) && (! $("#alunosM4").is(':checked')) ) {
          $("#alunosM").prop("checked", false); 
          $("#alunosM").prop("indeterminate", false);
        } else {
          $("#alunosM").prop("indeterminate", true);
        }

        if( $("#alunosX1").is(':checked') && $("#alunosX2").is(':checked') && $("#alunosX3").is(':checked') && $("#alunosX4").is(':checked') ) {
          $("#alunosX").prop("checked", true); 
          $("#alunosX").prop("indeterminate", false);
        } else if( (! $("#alunosX1").is(':checked')) && (! $("#alunosX2").is(':checked')) && (! $("#alunosX3").is(':checked')) && (! $("#alunosX4").is(':checked')) ) {
          $("#alunosX").prop("checked", false);
          $("#alunosX").prop("indeterminate", false);
        } else {
          $("#alunosX").prop("indeterminate", true);
        }

      }

      atualiza_colunas();

      $('.alunos').change(function() {
        atualiza_colunas();
      });

      $('#alunosC').change(function() {
        if( $("#alunosC").is(':checked') ) {
          $("#alunosC1").prop("checked", true).change();;
          $("#alunosC2").prop("checked", true).change();;
          $("#alunosC3").prop("checked", true).change();;
          $("#alunosC4").prop("checked", true).change();;
        } else {
          $("#alunosC1").prop("checked", false).change();;
          $("#alunosC2").prop("checked", false).change();;
          $("#alunosC3").prop("checked", false).change();;
          $("#alunosC4").prop("checked", false).change();;
        }
      });

      $('#alunosM').change(function() {
        if( $("#alunosM").is(':checked') ) {
          $("#alunosM1").prop("checked", true).change();;
          $("#alunosM2").prop("checked", true).change();;
          $("#alunosM3").prop("checked", true).change();;
          $("#alunosM4").prop("checked", true).change();;
        } else {
          $("#alunosM1").prop("checked", false).change();;
          $("#alunosM2").prop("checked", false).change();;
          $("#alunosM3").prop("checked", false).change();;
          $("#alunosM4").prop("checked", false).change();;
        }
      });

      $('#alunosX').change(function() {
        if( $("#alunosX").is(':checked') ) {
          $("#alunosX1").prop("checked", true).change();;
          $("#alunosX2").prop("checked", true).change();;
          $("#alunosX3").prop("checked", true).change();;
          $("#alunosX4").prop("checked", true).change();;
        } else {
          $("#alunosX1").prop("checked", false).change();;
          $("#alunosX2").prop("checked", false).change();;
          $("#alunosX3").prop("checked", false).change();;
          $("#alunosX4").prop("checked", false).change();;
        }
      });

    </script>
  {% endif %}

{% else %}

    <strong>Não foi possível carregar dados da Proposta!</strong>

{% endif %}