{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 1 de Maio de 2024
{% endcomment %}

{% load static %}
{% load l10n %}
{% load cores %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/chartjs-plugin-annotation.min.js' %}"></script>
{% comment %} <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script> {% endcomment %}
  
<div class="container-fluid">
    <canvas id="bar-chart-horizontal" style="max-height: 300px; max-width:660px;"></canvas>
</div>

<script>
  Chart.plugins.register({
    beforeInit: function(chart) {
      chart.data.datasets.forEach(function(dataset, i) {
        if (dataset.labelColor) {
          chart.options.legend.labels.generateLabels = function(chart) {
            return Chart.defaults.global.legend.labels.generateLabels.apply(this, [chart]).map(function(item, i) {
              item.fillStyle = chart.data.datasets[i].labelColor;
              return item;
            });
          };
        }
      });
    }
  });

  new Chart(document.getElementById("bar-chart-horizontal"), {
    type: "horizontalBar",
    data: {
      labels: [{% for curso in vagas %}"{{curso}}", {% endfor %}],
      datasets: [{
        label: "proporção de vagas disponíveis",
        labelColor: "#444444",
        backgroundColor: [{% for curso in vagas %}"#{{curso.cor}}", {% endfor %}],
        data: [{% for value in vagas.values %}100*({{value.prop_disp|unlocalize}}/{{value.neces}}), {% endfor %}],
        stack: "Stack 0",
        {% comment %} xAxisID: "bar-x-disponiveis", {% endcomment %}
      },{
        label: "proporção de vagas totais (incluindo as não disponíveis)",
        labelColor: "#DDDDDD",
        backgroundColor: [{% for curso in vagas %}"#{{curso.cor|clarear}}60", {% endfor %}],  // Mais brilho e transparência
        data: [{% for value in vagas.values %}100*({{value.prop|unlocalize}}/{{value.neces}}), {% endfor %}],
        stack: "Stack 0",
        {% comment %} xAxisID: "bar-x-totais", {% endcomment %}
      }]
    },
    options: {
      legend: {
        display: true,
        position: "bottom",
      },
      title: {
        display: true,
        text: "Preenchimento de vagas (%)",
      },
      scales: {
        xAxes: [{
          stacked: false,
          ticks: {
            beginAtZero: true,
            suggestedMax: 100,
          },
        }],
      },

      annotation: {
        annotations: [
          {
            type: "line",
            mode: "vertical",
            scaleID: "x-axis-0",
            value: 100,
            borderColor: "rgb(225, 225, 12)",
            borderWidth: 6,
            label: {enabled: false,}
          }
        ]
      },
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var label = data.datasets[tooltipItem.datasetIndex].label || '';
            if (label) {label += ': ';}
            label += Math.round(tooltipItem.xLabel * 100) / 100;
            label += "%";
            return label;
          }
        }
      }
    }
});
</script>