{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Maio de 2021
{% endcomment %}

{% load linguas %}

<div class="card card-recomendadas shadow-sm mb-4" style="max-width: 800px;">
  <div class="card-header text-white">
    <h5 class="mb-0" style="font-size: 1rem;">
      <i class="fas fa-chart-line mr-2"></i>
      {% lng "Procura da Proposta" "Proposal Demand" %}
    </h5>
  </div>
  <div class="card-body">
    <small>
      {% lng "Quantidade de estudantes em cada opção para esta proposta:" "Number of students in each option for this proposal:" %}
      <br>
    </small>
    <div class="container-fluid">
      <div class="row align-self-start">
        <div class="col">
          <canvas style="height: 112px;" id="horizontal"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var config_horizontal = {
      type: "horizontalBar",
      data: { 
        labels_pt: ["Procura",],
        labels_en: ["Demand",],
        datasets: [
          {
            label_pt: "Opção #1",
            label_en: "Option #1",
            backgroundColor: "{{cores_opcoes.0}}",
            data: [{{procura.1}},],
          },
          {
            label_pt: "Opção #2",
            label_en: "Option #2",
            backgroundColor: "{{cores_opcoes.1}}",
            data: [{{procura.2}},],
          },
          {
            label_pt: "Opção #3",
            label_en: "Option #3",
            backgroundColor: "{{cores_opcoes.2}}",
            data: [{{procura.3}},],
          },
          {
            label_pt: "Opção #4",
            label_en: "Option #4",
            backgroundColor: "{{cores_opcoes.3}}",
            data: [{{procura.4}},],
          },
          {
            label_pt: "Opção #5",
            label_en: "Option #5",
            backgroundColor: "{{cores_opcoes.4}}",
            data: [{{procura.5}},],
          }
        ]
      },
      options: {
          legend: { display: true },
          title: {
              display: false,
              text: "Procura"
          },
          responsive: true,
          maintainAspectRatio: false,
          legend: { position: "bottom" },
          tooltips: { enabled: false },
          scales: {
              x: { stacked: true },
              y: { stacked: true },
              yAxes: [{
                  stacked: true,
                  ticks: {
                      min: 0,
                      beginAtZero: true,
                      precision: 0,
                  }
              }],

              xAxes: [{
                  stacked: true,
                  ticks: {
                      min: 0,
                      beginAtZero: true,
                      precision: 0,
                  }
              }]
          },
          plugins: {
              datalabels: {
                  formatter: (value, ctx) => {
                      if(value>0) {
                          return (value).toFixed(0);
                      } else {
                          return " ";
                      }
                  },
                  color: "#000",
              }
          },
      }
    }

  function lingua_grafico() {
    if(window.horizontal.data == undefined) {return;}
    if(localStorage.getItem("lingua") == "pt") {
      window.horizontal.data.labels = window.horizontal.data.labels_pt;
      window.horizontal.data.datasets[0].label = window.horizontal.data.datasets[0].label_pt;
      window.horizontal.data.datasets[1].label = window.horizontal.data.datasets[1].label_pt;
      window.horizontal.data.datasets[2].label = window.horizontal.data.datasets[2].label_pt;
      window.horizontal.data.datasets[3].label = window.horizontal.data.datasets[3].label_pt;
      window.horizontal.data.datasets[4].label = window.horizontal.data.datasets[4].label_pt;
    } else {
      window.horizontal.data.labels = window.horizontal.data.labels_en;
      window.horizontal.data.datasets[0].label = window.horizontal.data.datasets[0].label_en;
      window.horizontal.data.datasets[1].label = window.horizontal.data.datasets[1].label_en;
      window.horizontal.data.datasets[2].label = window.horizontal.data.datasets[2].label_en;
      window.horizontal.data.datasets[3].label = window.horizontal.data.datasets[3].label_en;
      window.horizontal.data.datasets[4].label = window.horizontal.data.datasets[4].label_en;
    }
    window.horizontal.update();
  }
  
  document.addEventListener("languageChanged", lingua_grafico);

  function carrega_pagina() {     
    var horizontal = document.getElementById('horizontal').getContext('2d');
    window.horizontal = new Chart(horizontal, config_horizontal);
    lingua_grafico();
  }

  window.onload = carrega_pagina

</script>