{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 10 de Novembro de 2020
{% endcomment %}

{% load static %}
{% load bleach %}
{% load get_field %}
{% load addhttp %}

<span style="display: block; margin-bottom: 14px">
  {% if alocado.projeto.titulo_final and alocado.projeto.titulo_final != alocado.projeto.proposta.titulo %}
    <h3>[{{alocado.projeto.organizacao}}]
       {{alocado.projeto.titulo_final}} ({{alocado.projeto.ano}}.{{alocado.projeto.semestre}})</h3>
    <small>&nbsp;&nbsp;&nbsp;&nbsp;<b>
      <span lang="pt">Título original da proposta</span>
      <span lang="en" style="display:none">Original title of the proposal</span>
    </b>: {{alocado.projeto.proposta.titulo}}</small><br>
  {% else %}
    <h3>{{alocado.projeto.get_titulo}} [{{alocado.projeto.ano}}.{{alocado.projeto.semestre}}]</h3>
  {% endif %}
</span>

<div>

  <form {% if alocado.projeto %}action="{% url 'upload_estudantes_projeto' alocado.projeto.id %}"{% endif %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="titulo_final"><strong>
      <span lang="pt">Título Final do Projeto</span>
      <span lang="en" style="display:none">Final Title of the Project</span>
    </strong></label><br>
    <textarea id="titulo_final" name="titulo_final" rows="1" maxlength="{% max_length Projeto 'titulo_final' %}"
    placeholder="Indique o título final do projeto usado no relatório (se diferente do título original da proposta)"
    >{% if alocado.projeto.titulo_final %}{{alocado.projeto.titulo_final}}{% endif %}</textarea>
    <br><br>

    <label for="resumo"><strong>
      <span lang="pt">Resumo (português)</span>
      <span lang="en" style="display:none">Resumo (portuguese)</span>
    </strong></label><br>
    <textarea id="resumo" name="resumo" rows="6" maxlength="{% max_length Projeto 'resumo' %}"
    placeholder="Informe o resumo em português do projeto do relatório. Copie diretamente do seu relatório."
    >{% if alocado.projeto.resumo %}{{alocado.projeto.resumo}}{% endif %}</textarea>
    <br><br>

    <label for="abstract"><strong>
      <span lang="pt">Abstract (inglês)</span>
      <span lang="en" style="display:none">Abstract (english)</span>
    </strong></label><br>
    <textarea id="abstract" name="abstract" rows="6" maxlength="{% max_length Projeto 'abstract' %}"
    placeholder="Informe o resumo em inglês do projeto do relatório. Copie diretamente do seu relatório."
    >{% if alocado.projeto.abstract %}{{alocado.projeto.abstract}}{% endif %}</textarea>
    <br><br>

    <label for="palavras_chave"><strong>
      <span lang="pt">Palavras-chave</span>
      <span lang="en" style="display:none">Keywords</span>
    </strong></label><br>
    <textarea id="palavras_chave" name="palavras_chave" rows="1" maxlength="{% max_length Projeto 'palavras_chave' %}"
    placeholder="Informe as palavras-chave do projeto do relatório. Copie diretamente do seu relatório."
    >{% if alocado.projeto.palavras_chave %}{{alocado.projeto.palavras_chave}}{% endif %}</textarea>
    <br>
    <small>
      <span lang="pt">
        Ao final do semestre, inserir/atualizar o resumo, abstract e palavras-chave para indexação do relatório.
        Copie diretamente do seu relatório.
      </span>
      <span lang="en" style="display:none">
        At the end of the semester, insert/update the summary, abstract and keywords for indexing the report.
        Copy directly from your report.
      </span>
    </small>
    <div class="text-right">
      <input class="btn btn-primary btn-sm" type="submit" name="Salvar" value="Salvar" {% if professor or not alocado.projeto %}disabled{% endif %}>
    </div>
  </form>
</div>


<div>
  <form {% if alocado.projeto %}action="{% url 'upload_site_e_pastas' alocado.projeto.id %}"{% endif %} method="post" enctype="multipart/form-data">
  {% csrf_token %}

    <label for="site"><b>
      <span lang="pt">Site do projeto (opcional)</span>
      <span lang="en" style="display:none">Project site (optional)</span>
    </b></label>
    {% with site=alocado.projeto.get_site %}
    <div class="row">
      <div class="col-md-6">
        {% if site %}
          <i>
            <span lang="pt">site estático:</span>
            <span lang="en" style="display:none">static site:</span>
          </i>
          <a style="background-color: #FFFFFF; padding: 4px;"
             href="{{site}}" target="_blank">{{request.scheme}}://{{request.get_host}}{{site}}</a>
          <br>
        {% else %}
          <input type="text" size="73" maxlength="{% max_length Projeto "site" %}" 
                 style="max-width: 95%;" id="site" name="site" {% if alocado.projeto.site %}
                 value="{{alocado.projeto.site}}" {% endif %} placeholder="https://www.insper.edu.br/"><br>
          <div style="font-size: 12px; line-height:1.0;">site do projeto em repositório externo</div>
          <br>
        {% endif %}
      </div>
      <div class="col-md-6">
        <input type="file" id="zipsite" name="zipsite" accept=".zip" {% if professor or not alocado.projeto %}disabled{% endif %}>
        <input class="btn btn-info btn-sm" type="submit" id="Carregar" name="Carregar" value="Carregar" disabled>
        {% if alocado.projeto %}
          <script>
            document.getElementById("zipsite").addEventListener("change", function() {
              if (this.value) {
                  document.getElementById("Carregar").disabled = false;
              } else {
                  document.getElementById("Carregar").disabled = true;
              }
            });
          </script>
        {% endif %}
        {% if site %}
          <input class="btn btn-danger btn-sm" type="submit" name="Remover" value="Remover" {% if professor or not alocado.projeto %}disabled{% endif %}>
        {% endif %}
        <br>
        <div style="font-size: 12px; line-height:1.0;">
          <span lang="pt">carrega um arquivo .zip com um site estático para o projeto</span>
          <span lang="en" style="display:none">uploads a .zip file with a static site for the project</span>
        </div>
        <br>
      </div>
    </div>
    {% endwith %}
    

    <label for="pastas_do_projeto"><strong>
      <span lang="pt">Pastas do projeto (opcional)</span>
      <span lang="en" style="display:none">Project folders (optional)</span>
    </strong></label><br>
    <textarea id="pastas_do_projeto" name="pastas_do_projeto" rows="6" maxlength="{% max_length Projeto 'pastas_do_projeto' %}"
    >{% if alocado.projeto.pastas_do_projeto %}{{alocado.projeto.pastas_do_projeto}}{% endif %}</textarea>
    <div style="font-size: 12px; line-height:1.0;">
      <span lang="pt">Links para repositórios com dados/códigos dos projeto (para orientador acessar / mantenha privado)</span>
      <span lang="en" style="display:none">Links to repositories with project data/code (for advisor access / keep private)</span>
    </div>

    <div class="text-right">
      <input class="btn btn-primary btn-sm" type="submit" name="Salvar" value="Salvar" {% if professor or not alocado.projeto %}disabled{% endif %}>
    </div>
  </form>
</div>


<div>
  <strong>
    <span lang="pt">Descrição da proposta (escrito pela organização parceira):</span>
    <span lang="en" style="display:none">Proposal description (written by the partner organization):</span>
  </strong> {{alocado.projeto.proposta.descricao|linebreaks|bleach_urlize|safe}}<br>

  {% if alocado.projeto.proposta.expectativas %}
    <strong>
      <span lang="pt">Expectativas de resultados/entregas:</span>
      <span lang="en" style="display:none">Expectations of results/deliverables:</span>
    </strong> {{alocado.projeto.proposta.expectativas|linebreaks|bleach_urlize|safe}}<br>
  {% endif %}

  {% if alocado.projeto.proposta.recursos %}
    <strong>
      <span lang="pt">Recursos a serem disponibilizados aos Estudantes:</span>
      <span lang="en" style="display:none">Resources to be made available to Students:</span>
    </strong> {{ alocado.projeto.proposta.recursos|linebreaks|bleach_urlize|safe}}
    {% if alocado.projeto.proposta.observacoes %}
      <strong>
        <span lang="pt">Outras observações:</span>
        <span lang="en" style="display:none">Other observations:</span>
      </strong> {{ alocado.projeto.proposta.observacoes|linebreaks|bleach_urlize|safe}}<br>
    {% endif %}
  {% endif %}
</div>

<div>
  {% if alocado.projeto.organizacao.logotipo %}
    <img id="logotipo" class="logotipo flutua_dir" src="{{ alocado.projeto.organizacao.logotipo.url }}" alt="{{ alocado.projeto.organizacao.sigla }}">
  {% endif %}

  <h5>
    <span lang="pt">Organização:</span>
    <span lang="en" style="display:none">Organization:</span>
    {{ alocado.projeto.organizacao.nome }}
  </h5>
  <strong>
    <span lang="pt">endereço:</span>
    <span lang="en" style="display:none">address:</span>
  </strong> {{ alocado.projeto.organizacao.endereco|linebreaks }}<br>
  <strong>website:</strong> <a href="{{ alocado.projeto.organizacao.website|add_http }}">{{ alocado.projeto.organizacao.website }}</a><br>
</div>

<div>
  {% if alocado.projeto.orientador %}
    <h5>
      <span lang="pt">Orientador{% if alocado.projeto.orientador.user.genero == 'F' %}a{% endif %}</span>
      <span lang="en" style="display:none">Advisor</span>
    </h5>
    <ul>
      <li><a href="mailto:{{alocado.projeto.orientador.user.email}}">{{ alocado.projeto.orientador.user.get_full_name}}</a>
        <span class="texto-longo emails"><a class="email" href="mailto:{{alocado.projeto.orientador.user.email}}">&lt;{{alocado.projeto.orientador.user.email}}&gt;</a></span>
        <span class="texto-curto emails"><a class="email" href="mailto:{{alocado.projeto.orientador.user.email}}"><i class="far fa-envelope"></i></a></span>
      </li>
    </ul>
  {% endif %}

  <h5>
    <span lang="pt">Estudantes do Grupo</span>
    <span lang="en" style="display:none">Group Students</span>
  </h5>
  <ul>
    {% for membro in alocado.projeto.alocacao_set.all %} 
      <li>
        <a href="mailto:{{membro.aluno.user.email}}">{{membro.aluno.user.get_full_name}}</a>
        <span class="texto-longo curso unselectable">[{{ membro.aluno.curso2 }}]</span>
        <span class="texto-curto curso unselectable">[{{ membro.aluno.curso2.sigla_curta }}]</span>
        {% if membro.aluno.externo %}<span style="color:red">[{{membro.aluno.externo}}]</span>{% endif %}
        <span class="texto-longo emails"><a class="email" href="mailto:{{membro.aluno.user.email}}">&lt;{{membro.aluno.user.email}}&gt;</a></span>
        <span class="texto-curto emails"><a class="email" href="mailto:{{membro.aluno.user.email}}"><i class="far fa-envelope"></i></a></span>
      </a></li>
    {% endfor %}
  </ul>
</div>

<script>
  $(document).ready(function(){	
    // Ajusta a altura de todas as textareas
    $("textarea").each(function(){
      if($(this).is(":visible")) {
        $(this).css("height", this.scrollHeight + "px");
      }
    });
  });
</script>