{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 12 de Novembro de 2020
{% endcomment %}

<style>
  .obs {
    font-size: 12px;
    display: block;
  }
</style>

{% if proposta %}

  {% if proposta.recomendada_set.all or editavel %}
    <hr>
    <h4>
    <h5 style="margin-bottom: 0px;">
      <span lang="pt">Disciplina(s) Recomendada(s)</span>
      <span lang="en" style="display:none;">Recommended Courses(s)</span>
    </h5>
    <small class="obs">
      <span lang="pt">Disciplinas recomendadas que estudantes tenham ou estejam cursando para aplicar na proposta</span>
      <span lang="en" style="display:none;">Recommended courses that students should have or be taking to apply to the proposal</span>
    </small>
    
    <table id="disciplinas_recomendadas" style="margin-top: 10px; border: 0px;">
      <tr>
        <th style="border: 0px;">
          <span lang="pt">Nome da Disciplina</span>
          <span lang="en" style="display:none;">Course Name</span>
          {% if editavel %}
            <small class="esconder">
              <a
                data-proposta='{{proposta.id}}'
                class="link-disciplina"
                href="{% url 'link_disciplina' proposta.id %}"
                data-url="{% url 'link_disciplina' proposta.id %}"
                >&#10133;</a>
            </small>
          {% endif %}
        </th>
      </tr>
      {% for rec in proposta.recomendada_set.all %}
          <tr id="disciplina{{rec.disciplina.id}}"><td style="border: 0px;">
              {% if rec.disciplina %}
                {{rec.disciplina.nome}}
              {% else %}
                <span style="color:red">
                  <span lang="pt">ERRO: NOME DA DISCINPLINA NÃO DEFINIDO</span>
                  <span lang="en" style="display:none;">ERROR: COURSE NAME NOT DEFINED</span>
                </span>
              {% endif %}
              {% if editavel %}
                <div class="esconder" style="float:right;">
                  &nbsp;
                  <a onclick="event.preventDefault(); remove_disciplina($(this));"
                    data-disciplina='{{rec.disciplina.id}}'
                    data-proposta='{{proposta.id}}'>
                    <i class="far fa-trash-alt"></i>
                  </a>
                </div>
              {% endif %}
          </td></tr>
      {% endfor %}
    </table>

    {% if editavel %}
      {% include "disciplina-modal.html" %}
    {% endif %}

  {% endif %}
  <br>

  <script>
    function remove_disciplina(aqui) {
      url = "{% url 'remover_disciplina' %}";
      data = {
          "disciplina_id": aqui.data("disciplina"),
          "proposta_id": aqui.data("proposta"),
      };
      function success(response){
        $("#disciplina"+data["disciplina_id"]).remove();
      }
      {% include "ajax_default_function.js" %}
    }
  </script>

{% endif %}