{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 20 de Fevereiro de 2022
{% endcomment %}

{% load static %}
{% load i18n %}
{% load relatos %}
{% load linguas %}
{% load alocacao %}
{% load relatos %}

<link rel="stylesheet" href="{% static 'css/tabela_reduzida_estudantes.css' %}">

{% if projeto %}
  <table class="tabela_redu_estu table-striped"><tbody>
  {% for evento, relatos, avaliados, observacoes in projeto|busca_relatos %}
    <tr style="padding-left: 18px;">
        <td><a href="{% url 'relato_avaliar' projeto.id evento.id %}" {% if evento.em_prazo %}style="color: lightgray;"{% endif %}>{{ forloop.counter }}&ordm;</a></td>
        <td><a href="{% url 'relato_avaliar' projeto.id evento.id %}" {% if evento.em_prazo %}style="color: lightgray;"{% endif %}>
          <span lang="pt">
            {% language "pt-br" %}
              <span class="texto-longo">{{ evento.endDate|date:"DATE_FORMAT" }}</span>
              <span class="texto-curto">{{ evento.endDate|date:"d/m/Y" }}</span>
            {% endlanguage %}
          </span>
          <span lang="en" style="display:none">
            {% language "en" %}
              <span class="texto-longo">{{ evento.endDate|date:"F d, Y" }}</span>
              <span class="texto-curto">{{ evento.endDate|date:"M d, Y" }}</span>
            {% endlanguage %}
          </span>
        </a></td>
        <td>
          <div style="white-space: nowrap;">{% for alocacao in alocacoes %}<a
          href="{% url 'relato_avaliar' projeto.id evento.id %}#{{alocacao.id}}"
               ><small><span style="width:20em;" class="eventor_{{evento.id}}" id="s{{alocacao.aluno.id}}_e{{evento.id}}" data-toggle="tooltip" data-html="true" animation="true" title="{{alocacao.aluno}}"
               >{% if alocacao.id in relatos|alocacoes_puxa_ids %}&#9989;{% else %}&#10060;{% endif %}</span></small></a
           >{% endfor %}</div>
        </td>
        <td>
        {% if evento.em_prazo %}
          <span style="color:#edc300">
            {% lng "Aguardando relatos" "Awaiting reports" %}
          </span>
        {% else %}
          {% if relatos %}
            {% with paval=avaliados|porcentagem_relatos_avaliados %}
            {% if paval > 0 %}
              <a href="{% url 'relato_avaliar' projeto.id evento.id %}">
                {% if paval < 1 %}
                  <span style="color:brown">
                    {% lng "Avaliado parcialmente pelo orientador" "Partially evaluated by the advisor" %}
                  </span>
                {% else %}
                  <span style="color:green">
                    {% lng "Avaliado pelo orientador" "Evaluated by the advisor" %}
                  </span>
                {% endif %}

                {% for alocacao, relato in avaliados.items %}
                  {% with ultimo=relato|last %}
                    <script>
                      {% comment %} O primeiro relato deveria ser o último avaliado pelo orientador (não está ordenado por data de avaliação) {% endcomment %}
                      {% if ultimo.avaliacao > 0 %}
                        $("#s{{alocacao.aluno.id}}_e{{evento.id}}").html("&#x1F44D;");
                      {% elif ultimo.avaliacao == 0 %}
                        $("#s{{alocacao.aluno.id}}_e{{evento.id}}").html("&#x1F44E;");
                      {% else %}
                        {% comment %} Não avaliado ainda {% endcomment %}
                        $("#s{{alocacao.aluno.id}}_e{{evento.id}}").html("&#8987;");
                      {% endif %}
                    </script>
                  {% endwith %}
                {% endfor %}
                {% if observacoes %}
                  <span data-toggle="tooltip" data-html="true" animation="true" title="{{ observacoes.observacoes_orientador}}">&#x1F4AC;</span>
                {% endif %}
              </a>
            {% else %}
              <a href="{% url 'relato_avaliar' projeto.id evento.id %}">
                <span style="color:brown">
                  {% lng "Aguardando avaliação do orientador" "Awaiting advisor evaluation" %}
                </span>
              </a>
            {% endif %}
            {% endwith %}
          {% else %}
            <span style="color:red">
              {% lng "Sem relatos dos estudantes" "No reports from students" %}
            </span>
          {% endif %}          
        {% endif %}
      </td></tr>
  {% empty %}
    <tr><td colspan="4">
      {% lng "Nenhum relato para ser analisado no momento" "No report to be analyzed at the moment" %}
    </td></tr>
  {% endfor %}
    </tbody></table>
{% endif %}
