{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 26 de Março de 2025
{% endcomment %}

{% comment %} Somente mostra elemento selecionado {% endcomment %}
var incluir_default = false;  // Incluir "default" na lista de opções do selectpicker se não existir
$("#{{tabela}}Table tbody tr").each(function() {   // Garantir que todas as linhas tenham o atributo data-{{data}}
  if (!$(this).attr("data-{{data}}")) {
    $(this).attr("data-{{data}}", "default");
    incluir_default = true;
  }
});

if (incluir_default) {  // Se alguma linha foi alterada, atualizar o selectpicker
  if ($("#{{select}} option[value='default']").length === 0) {
    $("#{{select}}").append('<option value="default">Sem classificação</option>');
    $("#{{select}}").selectpicker('refresh');
  }
} else { // remove se existir
  $("#{{select}} option[value='default']").remove();
  $("#{{select}}").selectpicker('refresh');
}


$(document).ready(function () {  
  {% comment %} Somente mostra elemento selecionado {% endcomment %}
  function mostra_elem_selecionado() {
    // Código original sem alterações
    table = $("#{{tabela}}Table").DataTable();
    $.fn.dataTable.ext.search.push(
      function(settings, data, dataIndex) {
        var val = $("#{{select}}").selectpicker("val");
        if(!val || val.length === 0) {return false;}
        if(table && typeof table.row === "function") {
          const rowUser = $(table.row(dataIndex).node()).attr("data-{{data}}");
          return val.includes(rowUser);
        }
        return true;
      }
    );
    table.draw();
  }
  $("#{{select}}").on("changed.bs.select", mostra_elem_selecionado);
  document.addEventListener("edicaoEvent", mostra_elem_selecionado);
});