{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 23 de Dezembro de 2024
{% endcomment %}

{% load linguas %}

<table id="SemBancasTable" class="table table-borderless table-sm arredondado"><tbody>
  {% for projeto in sem_banca %}

    <tr class="item">
      <td>
        <div class="agendamento">
          <div>
            {% include "cabecalho_projeto.html" with com_tit_original=True %}
            <br>
            <b>{% lng "Mensagem" "Message" %}:</b>
            <a data-toggle="tooltip" data-html="true" animation="true" title="Janela de Mensagem" class="open-modal"
              data-url="{% url 'mensagem_email' 'banca_projeto' projeto.pk %}" href="{% url 'mensagem_email' 'banca_projeto' projeto.pk %}"> 
              avaliadores
            </a>
          </div>

          <div class="editar esconder">
            <a class="open-modal"
              data-url="{% url 'bancas_criar' %}" href="{% url 'bancas_criar'%}">
              <button class="btn btn-primary mb-1"
              {% if user.tipo_de_usuario != 4 and user != projeto.orientador.user %}disabled{% endif %}>
                {% lng "Criar" "Create" %}
              </button>
            </a>
          </div>
        </div>
  
  {% endfor %}
</tbody></table>