{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 27 de Dezembro de 2022
{% endcomment %}

{% comment %} Somente para a parte de cima das tabelas comuns {% endcomment %}
<div class="table-responsive">
  <table id="{{tabela}}Table" class="table table-bordered table-hover table-sm" style="width: 100%;">
  <thead class="table-info">
    <tr>
      {% for cabecalho in cabecalhos %}
        <th scope="col" class="text-center"><span style="margin-right: 0.6ex;">{{cabecalho|safe}}</span></th>
      {% endfor %}
    </tr>
  </thead>