{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Janeiro de 2024
{% endcomment %}

{% load linguas %}

<style>
  .tab_avaliacao th, .tab_avaliacao td {
    border: 1px solid lightgray;
    padding: 4px;
  }

  .vermelho_forte {
    background-color: #971F1F !important;
  }
  .vermelho_medio {
    background-color: #905F5F !important;
  }

</style>

{% if pesos %}

  {% with exame_sigla=banca.composicao.exame.sigla %}
    <br><h5>{% lng "Objetivos de Aprendizagem" "Learning Goals" %}</h5><br>
    {% for peso in pesos %}
      <b>{% lng peso.objetivo.titulo peso.objetivo.titulo_en %}</b>:
      {% lng peso.objetivo.objetivo  peso.objetivo.objetivo_en %}
      
      <div class="table-responsive">
      <table style="width:100%;" class="tab_avaliacao">

        <tr>
          {% for nivel in niveis_objetivos %}
            {% if exame_sigla != nivel.esconde %}  {% comment %} Esconde em certas avaliações {% endcomment %}
              <th class="nav-side-wrapper th_objetivos tabela{{peso.objetivo.id}} {% for s in nivel.siglas %}objetivo{{peso.objetivo.id}}{{s.escape}} {% endfor %} {% if atrasado and peso.bloqueio_atraso < nivel.nota %} vermelho_forte{% endif %} {% if nivel.nota > 0 and sem_documentos %} vermelho_forte{% endif %}" 
              style="width:18%">
                <div class="nav-side">
                  {% for s in nivel.siglas %}
                    {% if forloop.first or exame_sigla != "P" %}
                      <label class="labels" for="objetivo{{peso.objetivo.id}}{{s.escape}}">
                        {% if forloop.first %}<span class="nivel">{% lng nivel.pt nivel.en %}&nbsp;</span>{% endif %}
                        ({{s.letra}})
                        <input type="radio" class="tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}{{s.escape}} inputOA" 
                          id="objetivo{{peso.objetivo.id}}{{s.escape}}" name="objetivo.{{peso.objetivo.id}}" value="{{peso.objetivo.id}}.{{s.letra}}" 
                          required {% if not editor %}disabled {% endif %} {% if atrasado and peso.bloqueio_atraso < nivel.nota %}disabled{% endif %} {% if nivel.nota > 0 and sem_documentos %}disabled{% endif %}/>
                      </label>
                      {% comment %} Não sei exatamento por que, mas o segundo conenceito (com +) também tinha a classe do objetivo sem o +, mas tirei no momento.
                      <input type="radio" class="tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}C objetivo{{peso.objetivo.id}}CX inputOA"  {% endcomment %}
                    {% endif %}
                  {% endfor %}
                </div>
              </th>
            {% endif %}
          {% endfor %}        
        </tr>

        <tr>
          {% if periodo_para_rubricas == 1 %} {% comment %} Rubricas Intermediárias {% endcomment %}

            {% if individual %}
              {% with r=peso.objetivo.get_rubrica.intermediaria.individual %}
                <td class="td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}I" ><label for="objetivo{{peso.objetivo.id}}I">{% lng r.I.pt r.I.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 2 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}D" ><label for="objetivo{{peso.objetivo.id}}D">{% lng r.D.pt r.D.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 5 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}C objetivo{{peso.objetivo.id}}CX"><label for="objetivo{{peso.objetivo.id}}C">{% lng r.C.pt r.C.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 7 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}B objetivo{{peso.objetivo.id}}BX"><label for="objetivo{{peso.objetivo.id}}B">{% lng r.B.pt r.B.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 9 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}A objetivo{{peso.objetivo.id}}AX"><label for="objetivo{{peso.objetivo.id}}A">{% lng r.A.pt r.A.en %}</label></td>
              {% endwith %}
            {% else %}
              {% with r=peso.objetivo.get_rubrica.intermediaria.grupo %}
                <td class="td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}I" ><label for="objetivo{{peso.objetivo.id}}I">{% lng r.I.pt r.I.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 2 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}D" ><label for="objetivo{{peso.objetivo.id}}D">{% lng r.D.pt r.D.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 5 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}C objetivo{{peso.objetivo.id}}CX" ><label for="objetivo{{peso.objetivo.id}}C">{% lng r.C.pt r.C.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 7 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}B objetivo{{peso.objetivo.id}}BX" ><label for="objetivo{{peso.objetivo.id}}B">{% lng r.B.pt r.B.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 9 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}A objetivo{{peso.objetivo.id}}AX" ><label for="objetivo{{peso.objetivo.id}}A">{% lng r.A.pt r.A.en %}</label></td>
              {% endwith %}
            {% endif %}

          {% elif periodo_para_rubricas == 2 %} {% comment %} Rubricas Finais {% endcomment %}

            {% if individual %}
              {% with r=peso.objetivo.get_rubrica.final.individual %}
                {% if banca.composicao.exame.sigla != "P" %}{% comment %} Não é probation {% endcomment %}
                  <td class="td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}I" ><label for="objetivo{{peso.objetivo.id}}I">{% lng r.I.pt r.I.en %}</label></td>
                {% endif %}
                <td class="{% if atrasado and peso.bloqueio_atraso < 2 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}D" ><label for="objetivo{{peso.objetivo.id}}D">{% lng r.D.pt r.D.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 5 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}C objetivo{{peso.objetivo.id}}CX" ><label for="objetivo{{peso.objetivo.id}}C">{% lng r.C.pt r.C.en %}</label></td>
                {% if banca.composicao.exame.sigla != "P" %}{% comment %} Não é probation {% endcomment %}
                  <td class="{% if atrasado and peso.bloqueio_atraso < 7 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}B objetivo{{peso.objetivo.id}}BX" ><label for="objetivo{{peso.objetivo.id}}B">{% lng r.B.pt r.B.en %}</label></td>
                  <td class="{% if atrasado and peso.bloqueio_atraso < 9 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}A objetivo{{peso.objetivo.id}}AX" ><label for="objetivo{{peso.objetivo.id}}A">{% lng r.A.pt r.A.en %}</label></td>
                {% endif %}
              {% endwith %}
            {% else %}
              {% with r=peso.objetivo.get_rubrica.final.grupo %}
                <td class="td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}I" ><label for="objetivo{{peso.objetivo.id}}I">{% lng r.I.pt r.I.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 2 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}D" ><label for="objetivo{{peso.objetivo.id}}D">{% lng r.D.pt r.D.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 5 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}C objetivo{{peso.objetivo.id}}CX" ><label for="objetivo{{peso.objetivo.id}}C">{% lng r.C.pt r.C.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 7 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}B objetivo{{peso.objetivo.id}}BX" ><label for="objetivo{{peso.objetivo.id}}B">{% lng r.B.pt r.B.en %}</label></td>
                <td class="{% if atrasado and peso.bloqueio_atraso < 9 %} vermelho_medio{% endif %} {% if sem_documentos %} vermelho_medio{% endif %} td_objetivos tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}A objetivo{{peso.objetivo.id}}AX" ><label for="objetivo{{peso.objetivo.id}}A">{% lng r.A.pt r.A.en %}</label></td>
              {% endwith %}
            {% endif %}

          {% else %}
            <td colspan="6">ERRO</td>
          {% endif %}
        </tr>
      </table>

      {% if not sem_NA %}
        <table style="width:100%;">
          <tr style="width:100%;">
            <td class="nav-side-wrapper th_na tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}NA" 
              colspan="{% if banca.composicao.exame.sigla != "P" %}6{% else %}5{% endif %}">
                <label style="margin-left: 8px;" for="objetivo{{peso.objetivo.id}}NA">
                  <input style="padding-bottom:2px;" type="radio" class="tabela{{peso.objetivo.id}} objetivo{{peso.objetivo.id}}NA inputNA" id="objetivo{{peso.objetivo.id}}NA" name="objetivo.{{peso.objetivo.id}}" value="{{peso.objetivo.id}}.NA" required {% if not editor %}disabled {% endif %}/> 
                  {% lng "Prefiro não avaliar este objetivo de aprendizagem" "I prefer not to evaluate this learning goal" %}
                </label>
            </td>
          </tr>
        </table>
      {% endif %}

      </div>
      <br>
    {% endfor %}
  {% endwith %}

{% else %}
  <span class="red-bold">
    {% lng "Não foram definidos Objetivos de Aprendizagem para essa Avaliação." "No Learning Goals were defined for this Assessment." %}
  </span><br>
{% endif %}
