{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Janeiro de 2025
{% endcomment %}

<div class="indicadores"><span data-type="0" data-color="lightblue" data-hide="false" class="show-hide" style="background-color:lightblue;">&nbsp;&nbsp;&nbsp;</span> Sondada <span id="so_contactados" class="calc_indicadores"></span></div>
<div class="indicadores"><span data-type="1" data-color="lemonchiffon" data-hide="false" class="show-hide" style="background-color:lemonchiffon;">&nbsp;&nbsp;&nbsp;</span> Interessada <span id="interessados" class="calc_indicadores"></span></div>
<div class="indicadores"><span data-type="2" data-color="lightgreen" data-hide="false" class="show-hide" style="background-color:lightgreen;">&nbsp;&nbsp;&nbsp;</span> Confirmada <span id="confirmados" class="calc_indicadores"></span></div>
<div class="indicadores"><span data-type="3" data-color="pink" data-hide="false" class="show-hide" style="background-color:pink;">&nbsp;&nbsp;&nbsp;</span> Declinou <span id="recusados" class="calc_indicadores"></span></div>
<div class="indicadores"><span data-type="4" data-color="yellow" data-hide="false" class="show-hide" style="background-color:yellow;">&nbsp;&nbsp;&nbsp;</span> Notificada de Grupo Fechado <span id="notificada" class="calc_indicadores"></span></div>
<div class="indicadores"><span data-type="12" data-color="#FFD580" data-hide="false" class="show-hide" style="background-color:#FFD580;">&nbsp;&nbsp;&nbsp;</span> Contrato em análise <span id="contrato_anal" class="calc_indicadores"></span></div>
<div class="indicadores"><span data-type="13" data-color="#FFDAB9" data-hide="false" class="show-hide" style="background-color:#FFDAB9;">&nbsp;&nbsp;&nbsp;</span> Acionada para assinatura <span id="acionada_ass" class="calc_indicadores"></span></div>
<div class="indicadores"><span data-type="6" data-color="green" data-hide="false" class="show-hide" style="background-color:aquamarine;">&nbsp;&nbsp;&nbsp;</span> Contrato Fechado para Projeto <span id="documentada" class="calc_indicadores"></span></div>
<div class="indicadores"><span data-type="5" data-color="#e289df" data-hide="false" class="show-hide" style="background-color:#e289df;">&nbsp;&nbsp;&nbsp;</span> Avisada que não fechou grupo <span id="sem_grupo" class="calc_indicadores"></span></div>
<div class="indicadores"><span data-type="254" data-color="#FFFFFF" data-hide="false" class="show-hide" style="background-color:#FFFFFF;">&nbsp;&nbsp;&nbsp;</span> Outros <span id="outros" class="calc_indicadores"></span></div>

