{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Julho de 2023
{% endcomment %}

{% if projeto.avancado or projeto.proposta.internacional or projeto.proposta.intercambio or projeto.time_misto or projeto.proposta.colaboracao %}

  {% if com_tipo %}
    <p><strong>Tipo</strong>: 
  {% endif %}

  <strong style="color:red">
  {% if projeto.avancado %}
    [Avançado]
  {% endif %}
  {% if projeto.proposta.internacional %}
    [Internacional]
  {% endif %}
  {% if projeto.proposta.intercambio %}
    [Intercâmbio]
  {% endif %}
  {% if projeto.time_misto %}
    [Time Misto]
  {% endif %}
  {% if projeto.proposta.colaboracao %}
    [Em colaboração com: {{ projeto.proposta.colaboracao }}]
  {% endif %}
  </strong>

  {% if com_tipo %}
    </p>
  {% endif %}

{% endif %}