{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 22 de Agosto de 2024
{% endcomment %}

{% load linguas %}

<strong>
  <span lang="pt">Nome completo:</span>
  <span lang="en">Full name:</span>
</strong> {{user.get_full_name}}<br>

{% if not user.is_active %}
  <p style="color: red;">
    <span lang="pt">- NÃO ATIVO -</span>
    <span lang="en" style="display: none;">- NOT ACTIVE -</span>
  </p><br>
{% endif %}

<strong lang="pt">Usuário:</strong>
<strong lang="en" style="display: none;">User:</strong>
{{ user.username }}

{% if user.membro_comite %}
  <i lang="pt">(Membro do Comitê)</i>
  <i lang="en" style="display: none;">(Committee Member)</i>
{% endif %}
<br>

