{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 22 de Agosto de 2024
{% endcomment %}

{% load linguas %}

<div class="user-info-row">
  <label>{% lng "Nome completo:" "Full name:" %}</label>
  <span>{{ user.get_full_name }}</span>
</div>

<div class="user-info-row">
  <label>{% lng "Usuário" "User" %}:</label>
  <span>
    {{ user.username }}
    {% if user.membro_comite %}
      <span class="badge badge-info">{% lng "Membro do Comitê" "Committee Member" %}</span>
    {% endif %}
  </span>
</div>

{% if not user.is_active %}
  <div class="user-info-row user-info-inactive">
    <label>{% lng "Situação:" "Status:" %}</label>
    <span class="text-danger">{% lng "NÃO ATIVO" "NOT ACTIVE" %}</span>
  </div>
{% endif %}
