{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 26 de Março de 2024
{% endcomment %}

{% load static %}
{% load date_extras %}

{% if documentos %}
    <b lang="pt">Documento{% if documentos|length > 1 %}s{% endif %}:</b><b lang="en">Document{% if documentos|length > 1 %}s{% endif %}:</b><br>
    <ul style="padding-left: 22px; width: fit-content;">
        {% for documento in documentos %}
        <li style="list-style-type:'';">
            <span class="fa fa-file"></span>
            {{documento.tipo_documento}}:
            {% if documento.documento and documento.link %} 
            <span lang="pt">Entregue</span><span lang="en">Submitted</span>
            <span class="opt_full">{{ documento.data|date:"DATETIME_FORMAT" }}</span>
            <span class="opt_short">{{ documento.data|date:"d/m/y H:i" }}</span>
            <a 
                {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                href="{% url 'banca_avaliar' banca.slug %}/{{documento.id}}" target="_blank" rel="noopener noreferrer">(documento)</a>
            <a 
                {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
            {% else %}
            {% if documento.documento %}
                <a 
                {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                href="{% url 'banca_avaliar' banca.slug %}/{{documento.id}}" target="_blank" rel="noopener noreferrer"><span lang="pt">Entregue</span><span lang="en">Submitted</span>
                <span class="opt_full">{{ documento.data|date:"DATETIME_FORMAT" }}</span>
                <span class="opt_short">{{ documento.data|date:"d/m/y H:i" }}</span>
                </a>
            {% endif %}
            {% if documento.link %}
                <a
                {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                href="{{documento.link}}" target="_blank" rel="noopener noreferrer"><span lang="pt">Entregue</span><span lang="en">Submitted</span>
                <span class="opt_full">{{ documento.data|date:"DATETIME_FORMAT" }}</span>
                <span class="opt_short">{{ documento.data|date:"d/m/y H:i" }}</span>
                </a>
            {% endif %}
            {% endif %}
            {% if documento.data|diff_days:evento.endDate > 0 %}<span style="color: red;">[FORA DO PRAZO]</span>{% endif %}
            {% if not forloop.first %}(Versão desatualizada){% endif %}
        </li>
        {% empty %}
        Não entregue
        {% endfor %} 
    </ul><br>
{% endif %}
