{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 3 de Dezembro de 2023
{% endcomment %}

{% block head %}
  {% load static %}
  {% load i18n %}
  {% load l10n %}
  {% load linguas %}
  <script src="{% static 'js/sort.js' %}"></script>
{% endblock %}

{% block content %}

  <div class="atualizar">
    {% include "tabelas_top_ml.html" with tabela="ExamesPesos" cabecalhos=cabecalhos tabela_simples=True %}
      {% for ano, semestre, composicoes in semestres reversed %}
        <script> var peso = 0; </script>
        <tr class="item" id="peso{{forloop.counter0}}">
          <td class="text-center">{{ano}}.{{semestre}}</td>
          <td>
            <ul>
            {% for composicao in composicoes %}
              <li><span style="display: inline-block; width: 30em;">{{composicao.exame}}
                ({% lng_d composicao.data_inicial " a" " to" %}
                {% if composicao.data_final%}
                  {% lng_d composicao.data_final %}{% else %}{% lng "atualmente" "currently" %}{% endif %}):</span>
                
                <span style="display: inline-block; width: 34em;">
                  <b id="m{{ano}}{{semestre}}{{forloop.counter0}}" style="display: inline-block; width: 4em; text-align:right;"></b>
                  <script> peso_tmp = 0; </script>
                  {% for peso in composicao.peso_set.all %}                    
                    {% if peso.objetivo %}
                      [<span data-toggle="tooltip" data-placement="bottom" title="{{peso.objetivo}}">{{peso.objetivo.sigla}}{% else %}>Única{% endif %}={% lng_2 peso.peso %}</span>]
                    {% if peso.peso %}
                      <script> peso_tmp += {{peso.peso|unlocalize}}; </script>
                    {% endif %}
                  {% endfor %}
                </span>
              </li>
              <script> peso += peso_tmp; </script>
              <script> document.getElementById("m{{ano}}{{semestre}}{{forloop.counter0}}").innerHTML = peso_tmp.toFixed(2)+"%"; </script>
            {% endfor %}
            </ul>
          </td>
          <td style="display: none;"><span id="peso2{{forloop.counter0}}"></span></td>
        </tr>
        <script>
          document.getElementById("peso2{{forloop.counter0}}").innerHTML = peso.toFixed(2);
          if (peso > 100.1 || peso < 99.9) {
            document.getElementById("peso{{forloop.counter0}}").style.background = "LightSalmon";
            $("#ExamesPesosTable tr > *:nth-child(3)").show();
          }
        </script>
      {% endfor %}
    {% include "tabelas_bottom.html" %}
  </div>

  <small>
    {% lng "Terminar o semestre até junho e iniciar a partir de agosto." "End the semester by June and start from August." %}
  </small>

{% endblock %}
