{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 31 de Maio de 2021
{% endcomment %}

{% block head %}
  {% load static %}
  {% load define_action %}
  {% load linguas %}
  <script src="{% static 'js/aviso_perda_edicao.js' %}"></script>
  <style>
    label {
      margin-bottom: 0px;
      margin-top: 8px;
    }
  </style>
{% endblock %}

{% block content %}

  {% if edicao and liberadas_propostas %}
    <h3 class="red-bold">Propostas de Projetos já liberadas para estudantes, edição desabilitada.</h3>
    {% if user.tipo_de_usuario == 4 %} {% comment %} tipo_de_usuario == 4 >>> Administrador {% endcomment %}
      <h5 class="red-bold">Você está logado como administrador e pode editar a proposta.</h3>
    {% endif %}
    <br>
  {% endif %}

  {% if professor %}
    <strong>Seu Perfil é de Professor, você está preenchendo para alguma organização.</strong><br>
  {% elif administrador %}
    <strong>Seu Perfil é de Administrador, você está preenchendo para alguma organização.</strong><br>
  {% endif %}
  
  <br>

  <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}  

    <label for="nome" style="width: 3.4em;">{% lng "Nome:" "Name:" %}</label> <input type="text" size="75" maxlength="127" id="nome" name="nome" value="{% if parceiro %}{{full_name}}{% endif %}" 
      pattern="^[\s]*\S+(?:[\s]+\S+){1,99}[\s]*$" oninvalid="this.setCustomValidity('Digite o nome completo')" oninput="this.setCustomValidity('')" required><br>
    <label for="email" style="width: 3.4em;">e-mail:</label> <input type="text" size="75"  maxlength="80" id="email" name="email" value="{% if parceiro %}{{email}}{% endif %}" 
      pattern="^[\s]*([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,99}[\s]*([;,][\s]*([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})*[\s]*$" oninvalid="this.setCustomValidity('Digite um ou mais endereços de e-mail (e-mails separados por ponto e vírgula)')" oninput="this.setCustomValidity('')" required><br><br>
    
    <label for="arquivo" style="margin-left: 2em;">
      {% lng "Arquivo PDF:" "PDF File:" %}
    </label> 
    {% include "selecionar_arquivo.html" with arquivo_nome="arquivo" arquivo_accept="application/pdf" required=True %}<br><br>

    <button type="submit" class="btn btn-primary mb-1 mr-4">
      {% lng "Enviar Proposta de Projeto" "Send Project Proposal" %}
    </button>
    
    {% if not liberadas_propostas %}
      <span style="white-space: nowrap;">
        <input style="position: relative; top: 2px;" type="checkbox" name="mensagem" value="enviar" checked>
        <label data-toggle="tooltip" data-html="true" animation="true" 
              title="Após preencher o documento, você receberá um e-mail com o link para, se desejar, editar essa proposta." 
              for="mensagem">
                {% lng "Enviar mensagem (e-mail) de confirmação" "Send confirmation message (e-mail)" %}
              </label>
      </span>
    {% endif %}
    
  </form>

  <script>
    aviso_perda_edicao("form", "Você tem alterações não salvas. Tem certeza que deseja sair?");
  </script>

{% endblock %}