{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 1 de Junho de 2021
{% endcomment %}

{% load static %}
{% load get_field %}

<form id="meuForm" method="post" enctype="multipart/form-data">

  {% csrf_token %}

  <div class="modal-header">
    <h5 id="documentacao" class="modal-title">{% if documentos %}Editar{% else %}Adicionar{% endif %} Documento</h5>    
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="mb-3 row">
      {% if projeto %}
        <div class="col-sm form-label">
          <span for="organizacao">Organização:</span>
          <input type="hidden" id="organizacao" name="organizacao" value="{{projeto.organizacao.id}}"/>
          {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
          <a href="{% url 'organizacao_completo' projeto.organizacao.id %}">
          {% endif %}
            {{projeto.organizacao.nome}}
          {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
          </a>
          {% endif %}
        </div>
      {% elif organizacao %}
      <div class="col-sm form-label">
        <span for="organizacao">Organização:</span>
        <input type="hidden" id="organizacao" name="organizacao" value="{{organizacao.id}}"/>
        {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
          <a href="{% url 'organizacao_completo' organizacao.id %}">
        {% endif %}
          {{organizacao.nome}}
        {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
          </a>
        {% endif %}
      </div>
      {% else %}
        <label for="organizacao" class="col-sm-1 col-form-label" style="overflow: clip; overflow-clip-margin: 0.1em;">Organização</label>
        <div class="col-sm-11">
          <select id="organizacao" name="organizacao" class="form-control">
            <option selected value> -- selecione uma organização -- </option>
            {% for org in organizacoes %}
              <option value="{{org.id}}" {% if org.id == organizacao.id %}selected="selected"{% endif %}>
                {{org.nome|slice:":90"}}
              </option>
            {% endfor %}
          </select>
        </div>
      {% endif %}
    </div>

    <div class="mb-3 row">
      {% if projeto %}
        <div class="col-sm form-label">
          <span for="projeto">Projeto:</span>
          <input type="hidden" id="projeto" name="projeto" value="{{projeto.id}}"/>
          {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
            <a href="{% url 'projeto_completo' projeto.id %}">
          {% endif %}
            {{projeto.get_titulo}} ({{projeto.ano}}.{{projeto.semestre}})
          {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
            </a>  
          {% endif %}
        </div>
      {% else %}
        <label for="projeto" class="col-sm-1 col-form-label" style="overflow: clip; overflow-clip-margin: 0.1em;">Projeto</label>
        <div class="col-sm-11">
        <select id="projeto" name="projeto" class="form-control">
          <option selected value> -- selecione um projeto -- </option>
          {% for proj in projetos %}
            <option value="{{proj.id}}" {% if proj.id == projeto.id %}selected="selected"{% endif %}>
              {{proj.get_titulo|slice:":90"}} ({{proj.ano}}.{{proj.semestre}})
              {% include "tipo_projeto.html" with projeto=proj %}
            </option>
          {% endfor %}
        </select>
        </div>
      {% endif %}
    </div>

    <div class="mb-3 row">
      {% if tipo %}
        <div class="col-sm form-label">
          <span for="tipo_documento">Tipo:</span>
          <input type="hidden" id="tipo_documento" name="tipo_documento" value="{{tipo}}"/>
          {{tipo_documento}}
        </div>
      {% else %}
        <label for="tipo_documento" class="col-sm-1 col-form-label">Tipo</label>
        <div class="col-sm-11">
        <select id="tipo_documento" name="tipo_documento" class="form-control" required="required" >
          <option disabled selected value> -- selecione tipo de documento -- </option>
          {% for retorno in tipos_documentos %}
            <option value="{{retorno.id}}" {% if retorno.id == tipo %}selected="selected"{% endif %}>
              {{retorno.nome}}
            </option>
          {% endfor %}
        </select>
        </div>
      {% endif %}
    </div>

    <div class="mb-3 row">
      {% if travado %}
        <div class="col-sm form-label">
          <label>Data:</label> <span id="datetime"></span>
        </div>
        <script>
          function updateDateTime() {
            const now = new Date();
            const currentDateTime = now.toLocaleString();
            document.querySelector('#datetime').textContent = currentDateTime;
          }
          updateDateTime();
          setInterval(updateDateTime, 1000);
        </script>
      {% else %}
        <label for="data" class="col-sm-1 col-form-label">Data</label>
        <div class="col-sm-11">
          <input id="data" class="form-control" type="datetime-local" name="data" value="{{data|date:'Y-m-d\TH:i'}}">
        </div>
      {% endif %}
    </div>

    <div class="mb-3 row">
      <label for="arquivo" class="col-sm-1 col-form-label" style="overflow: clip; overflow-clip-margin: 0.5em;">Arquivo</label>
      <div class="col-sm-11">
        <input required id="arquivo" type="file" name="arquivo" class="form-control" style="border: 0px; padding-left: 0px;"
               accept="text/plain, application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, image/*, video/mp4, video/x-m4v, video/webm, video/x-matroska, video/*, .mkv">
        {% if documentos %}
          <input type="hidden" id="documentos" name="documentos" value="{{documento_id}}"/>
          <small>Arquivo atual: {% include "documentos.html" %}</small>
        {% endif %}
      </div>
    </div>
    
    {% if configuracao.maxMB_filesize %}
      <script>
        document.getElementById("arquivo").onchange = function() {
          if(this.files && this.files[0] && this.files[0].size > {{configuracao.maxMB_filesize}}*1048576){
            alert("Tamanho do arquivo maior que o permitido de {{configuracao.maxMB_filesize}}Mb");
            this.value = "";
          }
        }
      </script>
    {% endif %}
    
    <div class="mb-3 row">
      <label for="link" class="col-sm-1 col-form-label">Link</label>
      <div class="col-sm-11">
        <input class="form-control" type="text" style="max-width:100%;display:block" size="73" maxlength="{% max_length Documento "link" %}" id="link" name="link" placeholder="https://">
      </div>
    </div>

    <div class="mb-3 row">
      <label for="lingua_do_documento" class="col-sm-1 col-form-label" style="overflow: clip; overflow-clip-margin: 0.2em;">Língua</label>
      <div class="col-sm-11">
        <select id="lingua_do_documento" name="lingua_do_documento" class="form-control" required="required" >
          <option value="portugues" selected="selected">Português</option>
          <option value="ingles">Inglês</option>
        </select>
      </div>
    </div>

    {% if not travado %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="confidencial" name="confidencial" value="true" checked>
        <label class="form-check-label" for="confidencial">Confidencial</label>
      </div>
    {% endif %}

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    <button id="atualiza" type="submit" class="btn btn-primary">Enviar</button>
  </div>

  <script>
    $('#tipo_documento').change(function() {
      if($(this).val()==26) { //  (26, 'Relatório Publicado'),
        $('#confidencial').prop("checked", false);
      } else {
        $('#confidencial').prop("checked", true);
      }
    });

    // Pelo menos um campo deve ser selecionado
    $('#arquivo').change(function() {
      if($(this).val()) {
        $('#link').prop('required', false);
      } else {
        $('#link').prop('required', true);
      }
    });
    //$inputs.not(this).prop('required', !$(this).val().length);

    $('#link').on('input',function(e){
      if($(this).val()) {
        $('#arquivo').prop('required', false);
      } else {
        $('#arquivo').prop('required', true);
      }
    });

  </script>

</form>

<script>
  
  $("form#meuForm").submit(function(e){
      e.preventDefault();

      $('#popup').modal('hide');
      
      $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
      });

      var form = $("form#meuForm").closest("form");
      var formData = new FormData(form[0]);

      $.ajax({
        type: "POST",
        {% if documento_id %}
          url: "{% url 'adiciona_documento' organizacao.id projeto.id tipo documento_id %}",
        {% elif tipo %}
          url: "{% url 'adiciona_documento' organizacao.id projeto.id tipo %}",
        {% elif projeto %}
          url: "{% url 'adiciona_documento' organizacao.id projeto.id %}",
        {% elif organizacao %}
          url: "{% url 'adiciona_documento' organizacao.id %}",
        {% else %}
          url: "{% url 'adiciona_documento' %}",
        {% endif %}
        data: formData,
        processData: false,
        contentType: false,
        success: function(response){
          //console.log("sucesso");
          location.reload();
        },
        error: function (request, status, error) {
          {% if user.tipo_de_usuario == 4 %} 
            alert(request.responseText);
            jQuery("body").html(request.responseText.replace(/\n/g,"<br>"));
            console.log('error'+request.responseText);
          {% else %}
            jQuery("body").html("Erro no servidor do PFE. Por favor contactar: <a href='mailto:lpsoares@insper.edu.br'>lpsoares@insper.edu.br</a>");
          {% endif %}
        }
    });
    return false;
  });
</script> 
