{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load format_cnpj %}
  {% load order_by %}
  {% load linguas %}
  {% include "reload.html" %}
  <link rel="stylesheet" href="{% static 'css/caixa_rolante.css' %}">
{% endblock %}

{% block content %}
  
  {% if organizacao.logotipo %}
    <img id="logotipo" class="logotipo flutua_dir" src="{{ organizacao.logotipo.url }}" alt="{{ organizacao.sigla }}">
  {% endif %}

  <h4>{{organizacao.nome}}</h4>
  
  {% if organizacao.website %}
    <b>website:</b>
    <a href="{{ organizacao.website }}"> {{ organizacao.website }} </a><br>  
  {% endif %}
  {% if organizacao.informacoes %}
    <b>{% lng "Informações sobre a empresa" "Company information" %}:</b>
    {{ organizacao.informacoes|linebreaks }}
  {% endif %}

  {% if organizacao.area_curso.all %}
    <b>{% lng "Áreas de projetos" "Project areas" %}:</b>
    {% for curso in organizacao.area_curso.all %}{% if not forloop.first %}, {% endif %}{{curso.nome}}{% endfor %}.<br>
  {% endif %}

  <br>
  <b>{% lng "contato(s)" "contact(s)" %}:</b>
  <small class="esconder"><a href="{% url 'cadastrar_usuario' %}?tipo=parceiro&organizacao={{organizacao.id}}">&#10133;</a></small>
  <br>
  <ul>
  {% for parceiro in organizacao.parceiro_set.all|order_by:"-user__is_active, -principal_contato, user" %}
    <li style="margin-bottom: 6px;" {% if not parceiro.user.is_active %}class="links-claros"{% endif %}> 
      <a href="{% url 'parceiro_detail' parceiro.id %}">{{parceiro.user.get_full_name}}</a>
      {% if parceiro.principal_contato %}
        <span data-toggle="tooltip" data-html="true" animation="true" title="Principal Contato">&#x2B50;</span>
      {% endif %}
      {% if parceiro.cargo %}
        <div style="margin-top: -4px; font-size:13px; line-height:1.3;">{{parceiro.cargo}}</div>
      {% endif %}
      <div style="line-height:0.95;">
        <i class="far fa-envelope"></i>
        <a href="mailto:{{parceiro.user.email}}">{{parceiro.user.email}}</a>
      </div>
      {% if parceiro.user.telefone %}
        <div style="line-height:0.95;">
          &#x260F;
          <a href="tel:{{parceiro.user.telefone}}">{{parceiro.user.telefone}}</a>
        </div>
      {% endif %}
      {% if parceiro.user.celular %}
        <div>
          {% if not parceiro.user.is_active %}<span style="color: transparent; text-shadow: 0 0 0 lightgrey;">&#x1F4F1;</span>{% else %}&#x1F4F1;{% endif %}
          <a href="tel:{{parceiro.user.celular}}">{{parceiro.user.celular}}</a>&nbsp;
          <a href="https://wa.me/{{parceiro.user.celular|cut:' '}}"><img src="{% static 'images/whatsapp.svg' %}" alt="whatsapp" style="width:16px;height:16px; {% if not parceiro.user.is_active %}opacity: 0.4;filter: alpha(opacity=40);{% endif %}"></a>
        </div>
      {% endif %}
      {% if parceiro.user.instant_messaging %}
        <div>
          <img src="{% static 'images/skype.png' %}" alt="instant_messaging" style="width:16px;height:16px;">
          {{parceiro.user.instant_messaging}}
        </div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

  <br>
  <b>{% lng "Dados de contato" "Contact data" %}:</b><br>
  &nbsp;&nbsp;&nbsp;Razão Social:
  {% if organizacao.razao_social %}
    {{ organizacao.razao_social }}
  {% else %}
    <i style="color:red">{% lng "Não disponível" "Not available" %}</i>
  {% endif %}
  &nbsp;&nbsp;&nbsp;
  <br>
  &nbsp;&nbsp;&nbsp;Ramo de Atividade:
  {% if organizacao.ramo_atividade %}
    {{ organizacao.ramo_atividade }}
  {% else %}
    <i style="color:red">{% lng "Não disponível" "Not available" %}</i>
  {% endif %}
  &nbsp;&nbsp;&nbsp;
  <br>
  &nbsp;&nbsp;&nbsp;CNPJ:
  {% if organizacao.cnpj %}
  <a href="http://servicos.receita.fazenda.gov.br/Servicos/cnpjreva/Cnpjreva_Solicitacao.asp?cnpj={{organizacao.cnpj}}">
    {{ organizacao.cnpj|cnpj }}
  </a>
  {% else %}
    <i style="color:red">{% lng "Não disponível" "Not available" %}</i>
  {% endif %}
  &nbsp;&nbsp;&nbsp;
  Inscrição Estadual:
  {% if organizacao.inscricao_estadual %}
    <a href="http://www.sintegra.gov.br/">
      {{ organizacao.inscricao_estadual }}
    </a>
  {% else %}
    <i style="color:red">{% lng "Não disponível" "Not available" %}</i>
  {% endif %}
  <br>
  &nbsp;&nbsp;&nbsp;{% lng "Endereço" "Address" %}:
  {% if organizacao.endereco %}
    <a style="margin-left:16px;display:block;" href="http://maps.google.com/maps?q={{organizacao.endereco}}">
      {{ organizacao.endereco|linebreaks }}
    </a>
  {% else %}
    <i style="color:red">{% lng "Não disponível" "Not available" %}</i>
  {% endif %}

  <hr>
  <h3>
    {% lng "Documentos" "Documents" %}
    <small class="esconder">
      <a class="open-modal" style="cursor:pointer;"
         data-url="{% url 'adiciona_documento' organizacao.id %}"
      >&#10133;</a>
    </small>
  </h3>
  <div class="caixa_rolante">
    {% include "documentos.html" with documentos=organizacao.documento_set.all %}
  </div>

  <hr>
  <h3>
    {% lng "Certificados" "Certificates" %}
    <small class="esconder">
      <a href="{% url 'carregar_certificado' %}">&#10133;</a>
    </small>
  </h3>
  <div class="caixa_rolante">
    {% for projeto in projetos %}
      {% include "certificados.html" with certificados=projeto.certificado_set.all %}
    {% endfor %}
  </div>

  {% with propostas=organizacao.proposta_set.all %}
  {% if propostas %}
    <hr>
    <h3>
      {% lng "Propostas" "Proposals" %}
      <small class="esconder"><a href="{% url 'proposta_submissao' %}?organizacao={{organizacao.id}}">&#10133;</a></small>
    </h3>
    <div class="caixa_rolante">
    <ol reversed>
      {% for proposta in propostas reversed %}
        <a href="{% url 'proposta_completa' proposta.id %}">
          {% with projeto_fechado=proposta.projeto_set.exists %}
          <li>
            {% if projeto_fechado %}<u>{% endif %}
            {{proposta.titulo}} ({{proposta.ano}}.{{proposta.semestre}})
            {% if projeto_fechado %}</u>{% endif %}
          </li>
          {% endwith %}
        </a>
      {% endfor %}
    </ol>
    </div>
  {% endif %}
  {% endwith %}

  {% if projetos %}
    <hr>
    <h3>{% lng "Projetos" "Projects" %}</h3>
    <div class="caixa_rolante">
    <ol reversed>
      {% for projeto in projetos reversed %}
        {% if projeto.alocacao_set.count %}
          <a href="{% url 'projeto_infos' projeto.id %}">
            <li>
              {{projeto.get_titulo}} ({{projeto.ano}}.{{projeto.semestre}})
              {% include "tipo_projeto.html" %}
              {% if projeto.orientador %}
                { {{projeto.orientador.user.get_full_name}} }
              {% endif %}
            </li>
          </a>
        {% endif %}
      {% endfor %}
    </ol>
    </div>
  {% endif %}
  
  <hr>
  <h3>
    {% lng "Anotações" "Annotations" %}
    <small class="esconder">
    <a class="open-modal"
      href="{% url 'anotacao' organizacao.id %}?lista=true"
      data-url="{% url 'anotacao' organizacao.id %}?lista=true"
      >&#10133;</a>
    </small>
  </h3>
  
  <div class="caixa_rolante">
    <ul id="lista_anotacoes" style="padding-left: 18px;">
      {% for anotacao in organizacao.anotacao_set.all|dictsortreversed:"momento" %}
        <li>
          <a class="open-modal" id="anotacao{{anotacao.id}}"
             data-confirmar="true"
             href="{% url 'anotacao' organizacao.id anotacao.id %}?lista=true"
             data-url="{% url 'anotacao' organizacao.id anotacao.id %}?lista=true">
               {{anotacao.autor.get_full_name}}
               [<span id="data_anot{{anotacao.id}}">{{anotacao.momento.date|date:"d/m/Y"}}</span>]:
               <span id="texto_anot{{anotacao.id}}">{{anotacao.texto}}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <span id="sem_anotacoes" {% if organizacao.anotacao_set.all %}style="visibility: hidden;"{% endif %}>
    {% lng "Ainda não existem anotações para essa organização." "There are no annotations for this organization yet." %}
  </span>
  
  {% if user.eh_admin %}
    <br>
    <a href="{% url 'edita_organizacao' organizacao.id %}">
      <button class="btn btn-primary mb-1" style="float: right;">
        {% lng "Editar" "Edit" %}
      </button>
    </a>
  {% endif %}

  {% include "base-modal.html" %}

{% endblock %}