{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  <span class="esconder">
    <a href="{% url 'cadastrar_organizacao' %}">
      <i class="fas fa-plus"></i> 
      {% lng "Cadastrar Nova Organização" "Register New Organization" %}
    </a>
  </span>

  {% include "tabelas_top_ml.html" with tabela="Organizacoes" captions=captions cabecalhos=cabecalhos %}
    {% for organizacao, fechados, desde, contato, grupos in organizacoes_list %} 
      <tr class="item">

      <th scope="row" data-sort="{{organizacao.nome}}">
        <a href="{% url 'organizacao_completo' organizacao.id %}">{{organizacao.nome}}</a>
      </th>

      <td>
        {% if organizacao.segmento %}
          <span class="texto-longo">{% lng organizacao.segmento.nome organizacao.segmento.nome_en %} </span>
          <span class="texto-curto">
            <div class="text-center">{{organizacao.segmento.icone}}</div>
          </span>
        {% endif %}
      </td>

      <td>
        {% if contato == '---------' %}
          ---------
        {% else %}
          {{contato.momento|date:"m/Y"}}
        {% endif %}
        </td>

        <td>{{desde}}</td>

        <td class="text-center">{{organizacao.proposta_set.count|stringformat:"03d"}}</td>

        <td class="text-center">{{fechados|stringformat:"03d"}}</td>

        <td class="text-center">{{grupos}}</td>

      </tr>
    {% endfor %}
  {% include "tabelas_bottom.html" %}

  <b>{% lng "Total de Propostas Submetidas" "Total of Submitted Proposals" %}:</b> {{ total_submetidos }}<br>
  <b>{% lng "Total de Projetos Fechados" "Total of Confirmed Projects" %}:</b>: {{ total_fechados }}<br>

  <script>
    function carrega_pagina(){
      {% include "tabelas_scripts.html" with tabela="Organizacoes" %}
    }
    window.onload = carrega_pagina
  </script>

{% endblock %}