{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 8 de Janeiro de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  {% include "impressora.html" %}

  <span class="titulo">Alocação de Organizações Parceiras</span>

  <div class="table-responsive">

    {% for organizacoes,periodo in anos %} 
      <big>{{periodo}}</big>
      <table id="organizacoes"class="table table-bordered table-hover table-sm" style="width: auto;">
        <thead class="table-info">
          <tr>
            <th scope="col" style="text-align: center;width:425px;">Organização</th>
            <th scope="col" style="text-align: center;width:70px;">Projetos</th>
          </tr>
        </thead>
        {% for organizacao,projetos in organizacoes %} 
          <tr class="item">
            <td>
              <a class="imprimir" href="{% url 'organizacao_completo' organizacao.id %}">
                {{organizacao.nome}}
              </a>
            </td>
            <td style="text-align: center;" data-toggle="tooltip" data-html="true" animation="true" title="
              {% for projeto in projetos %}
                &bull;
                {{projeto.get_titulo}}
                [{{projeto.orientador}}]
                <br>
              {% endfor %}
            "> 
              {{projetos|length}}
            </td>
          </tr>
        {% endfor %}
      </table>
      <br>
    {% endfor %}
  
  </div>

  <br>
  <br>

  {% include "tabelas_simples_scripts.html" %}

{% endblock %}