{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  <span class="titulo">{{titulo}}<small><a
      href="{% url 'cadastrar_organizacao' %}"
      >&#10133;</a></small>
  </span>

  {% include "tabelas_top.html" with tabela="Organizacoes" cabecalhos=cabecalhos %}
        {% for organizacao,fechados,desde,contato, grupos in organizacoes_list %} 
          <tr class="item">

          <th scope="row" data-sort="{{organizacao.nome}}">
            <a href="{% url 'organizacao_completo' organizacao.id %}">
              {{organizacao.nome}}
            </a>
          </th>

          <td>
            {% if contato == '---------' %}
              ---------
            {% else %}
              {{contato.momento|date:"m/Y"}}
            {% endif %}
            </td>

            <td>
              {{desde}}
            </td>

            <td class="text-center">
              {{organizacao.proposta_set.count|stringformat:"03d"}}
            </td>

            <td class="text-center">
              {{fechados|stringformat:"03d"}}
            </td>

            <td class="text-center">
              {{grupos}}
            </td>

          </tr>
        {% endfor %}
      </table>
    </div>

    <strong>{% if lingua == 'pt' %}Total de Propostas Submetidas{% else %}Total of Submitted Proposals{% endif %}:</strong> {{ total_submetidos }}<br>
    <strong>{% if lingua == 'pt' %}Total de Projetos Fechados{% else %}Total of Closed Projects{% endif %}:</strong> {{ total_fechados }}<br>

  <script>
    function carrega_pagina(){
      {% include "tabelas_scripts.html" with tabela='Organizacoes' %}
    }
    window.onload = carrega_pagina
  </script>

{% endblock %}