{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}

  {% load static %}

  {% load format_cnpj %}
  {% load order_by %}

  {% comment %} Para recarregar a página em caso de um botão back ou similar {% endcomment %}
  {% include "reload.html" %}
  
  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

  <style>
    #logotipo {
      max-height:128px;
      max-width:128px;
      height:auto;
      width:auto;
      float: right;
    }

    ul, ol {padding-left: 1.4em;}

  </style>

{% endblock %}

{% block content %}
  {% if organizacao.logotipo %}
    <img id="logotipo" src="{{ organizacao.logotipo.url }}" alt="{{ organizacao.sigla }}">
  {% endif %}

  <span class="titulo">Organização: {{ organizacao.nome }}</span>
  
  {% if organizacao.website %}
    <strong>website:</strong> <a href="{{ organizacao.website }}"> {{ organizacao.website }} </a><br>  
  {% endif %}
  {% if organizacao.informacoes %}
    <strong>Informações sobre a empresa :</strong> {{ organizacao.informacoes|linebreaks }}
  {% endif %}

  {% if organizacao.area_curso.all %}
    <strong>Áreas de projetos :</strong>
    {% for curso in organizacao.area_curso.all %}{% if not forloop.first %}, {% endif %}{{curso.nome}}{% endfor %}.<br>
  {% endif %}

  <br><strong>contato(s):</strong>
  <small><a href="{% url 'cadastrar_usuario' %}?tipo=parceiro&organizacao={{organizacao.id}}">&#10133;</a></small>
  <br>
  {% for parceiro in organizacao.parceiro_set.all|order_by:"-principal_contato,user" %}
    {% if parceiro.user.is_active %}
    <li style="margin-bottom: 6px;" >
      <a href="{% url 'parceiro_detail' parceiro.id %}">
        {{parceiro.user.get_full_name}}
      </a>
      {% if parceiro.principal_contato %}
        <span data-toggle="tooltip" data-html="true" animation="true" title="Principal Contato">
          &#x2B50;
        </span>
      {% endif %}
      &nbsp;
      {% if parceiro.cargo %} <p style="margin-top: -4px; font-size:13px; line-height:1.3;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parceiro.cargo}}</p>{% endif %}
      <p style="line-height:0.95;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-envelope"></i> <a href="mailto:{{parceiro.user.email}}">&nbsp;{{parceiro.user.email}}</a></p>

      {% if parceiro.user.telefone %}&nbsp;&nbsp;&nbsp;&nbsp;&#x260F; 
        <a href="tel:{{parceiro.user.telefone}}">{{parceiro.user.telefone}}</a>&nbsp;<br>
      {% endif %}

      {% if parceiro.user.celular %}&nbsp;&nbsp;&nbsp;&nbsp;&#x1F4F1;
        <a href="tel:{{parceiro.user.celular}}">{{parceiro.user.celular}}</a>&nbsp;
        <a href="https://wa.me/{{parceiro.user.celular|cut:' '}}"><img src="{% static 'images/whatsapp.svg' %}" alt="whatsapp" style="width:16px;height:16px;"></a>
        <br>
      {% endif %}
      
      {% if parceiro.user.instant_messaging %}&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'images/skype.png' %}" alt="instant_messaging" style="width:16px;height:16px;">
        {% comment %} <a href="instant_messaging:{{parceiro.instant_messaging}}">{% endcomment %}{{parceiro.user.instant_messaging}}{% comment %}</a>{% endcomment %}&nbsp;<br> 
      {% endif %}

    </li>
    {% endif %}
  {% endfor %}

  {% for parceiro in organizacao.parceiro_set.all|dictsort:"principal_contato" %}
    {% if not parceiro.user.is_active %}
    <li style="color: lightgrey;">
      <a href="{% url 'parceiro_detail' parceiro.id %}" style="color: LightBlue;">
        {{parceiro.user.get_full_name}}
      </a>
      {% if parceiro.principal_contato %}
        <span style="color: transparent; text-shadow: 0 0 0 lightgrey;" data-toggle="tooltip" data-html="true" animation="true" title="Principal Contato">
          &#x2B50;
        </span>
      {% endif %}
      &nbsp;
      {% if parceiro.cargo %} <p style="margin-top: -4px; font-size:13px; line-height:1.3;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parceiro.cargo}}</p>{% endif %}
      <p style="color: transparent; text-shadow: 0 0 0 lightgrey;line-height:0.95;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-envelope"></i> <a href="mailto:{{parceiro.user.email}}" style="color: LightBlue; pointer-events: none; cursor: default;">&nbsp;{{parceiro.user.email}}</a></p>
      {% if parceiro.user.telefone %} <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x260F; {{parceiro.user.telefone}} &nbsp;</p>{% endif %}
      {% if parceiro.user.celular %} 
        <p style="color: transparent; text-shadow: 0 0 0 lightgrey;">
          &nbsp;&nbsp;&nbsp; &#x1F4F1; {{parceiro.user.celular}}
          <a href="https://wa.me/{{parceiro.user.celular|cut:' '}}" style="pointer-events: none; cursor: default;"><img src="{% static 'images/whatsapp.svg' %}" alt="whatsapp" style="width:16px;height:16px;opacity: 0.4;filter: alpha(opacity=40);"></a>
        </p>
      {% endif %}
      {% if parceiro.user.instant_messaging %} <p style="color: transparent; text-shadow: 0 0 0 lightgrey;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'images/skype.png' %}" alt="instant_messaging" style="width:16px;height:16px;opacity: 0.4;filter: alpha(opacity=40);">
      {% comment %} <a href="instant_messaging:{{parceiro.instant_messaging}}" style="color: LightBlue;"> {% endcomment %}
      {{parceiro.user.instant_messaging}}
      {% comment %} </a> {% endcomment %}
      &nbsp;</p>{% endif %}

    </li>
    {% endif %}
  {% endfor %}

  <br>
  <strong>Dados Cadastrais:</strong><br>
  &nbsp;&nbsp;&nbsp;Razão Social:
  {% if organizacao.razao_social %}
    {{ organizacao.razao_social }}
  {% else %}
    <i style="color:red">Não disponível</i>
  {% endif %}
  &nbsp;&nbsp;&nbsp;
  <br>
  &nbsp;&nbsp;&nbsp;Ramo de Atividade:
  {% if organizacao.ramo_atividade %}
    {{ organizacao.ramo_atividade }}
  {% else %}
    <i style="color:red">Não disponível</i>
  {% endif %}
  &nbsp;&nbsp;&nbsp;
  <br>
  &nbsp;&nbsp;&nbsp;CNPJ:
  {% if organizacao.cnpj %}
  <a href="http://servicos.receita.fazenda.gov.br/Servicos/cnpjreva/Cnpjreva_Solicitacao.asp?cnpj={{organizacao.cnpj}}">
    {{ organizacao.cnpj|cnpj }}
  </a>
  {% else %}
    <i style="color:red">Não disponível</i>
  {% endif %}
  &nbsp;&nbsp;&nbsp;
  Inscrição Estadual:
  {% if organizacao.inscricao_estadual %}
    <a href="http://www.sintegra.gov.br/">
      {{ organizacao.inscricao_estadual }}
    </a>
  {% else %}
    <i style="color:red">Não disponível</i>
  {% endif %}
  <br>
  &nbsp;&nbsp;&nbsp;endereço(s):
  {% if organizacao.endereco %}
    <a style="margin-left:16px;display:block;" href="http://maps.google.com/maps?q={{organizacao.endereco}}">
      {{ organizacao.endereco|linebreaks }}
    </a>
  {% else %}
    <i style="color:red">Não disponível</i>
  {% endif %}

  <hr>
  <h3>Documentos
    <small>
      <a
        class="open-documento" style="cursor:pointer;"
        {% comment %} href="{% url 'adiciona_documento' organizacao.id %}" {% endcomment %}
        data-url="{% url 'adiciona_documento' organizacao.id %}"
        >&#10133;</a
      >
    </small>
  </h3>
  {% include "documentos.html" with documentos=organizacao.documento_set.all %}

  <hr>
  <h3>Certificados
    <small>
      <a href="{% url 'carregar_certificado' %}"
        >&#10133;</a
      >
    </small>
  </h3>
  {% for entrada in organizacao.projeto_set.all %}
    {% include "certificados.html" with certificados=entrada.certificado_set.all %}
  {% endfor %}

  
  {% if organizacao.proposta_set.all %}
    <hr>
    <h3>Propostas <small><a href="{% url 'proposta_submissao' %}?organizacao={{organizacao.id}}">&#10133;</a></small></h3>
    <ol>
      {% for proposta in organizacao.proposta_set.all %}
        <a href="{% url 'proposta_completa' proposta.id %}">
          {% with projeto_fechado=proposta.projeto_set.exists %}
          <li>
            {% if projeto_fechado %}<u>{% endif %}
            {{proposta.titulo}} ({{proposta.ano}}.{{proposta.semestre}})
            {% if projeto_fechado %}</u>{% endif %}
          </li>
          {% endwith %}
        </a>
      {% endfor %}
    </ol>
  {% endif %}

  {% if organizacao.projeto_set.all %}
    <hr>
    <h3>Projetos</h3>
    <ol>
      {% for projeto in organizacao.projeto_set.all %}
        {% if projeto.alocacao_set.count %}
          <a href="{% url 'projeto_completo' projeto.id %}">
            <li>
              {{projeto.get_titulo}} ({{projeto.ano}}.{{projeto.semestre}})
              {% include "tipo_projeto.html" %}<br>
            </li>
          </a>
        {% endif %}
      {% endfor %}
    </ol>
  {% endif %}
  
  <hr>
  <h3>Anotações <small>
    <a
      class="open-annotation"
      href="{% url 'anotacao' organizacao.id %}"
      data-url="{% url 'anotacao' organizacao.id %}"
      >&#10133;</a
    >
  </small></h3>
  
  <ul id="lista_anotacoes" style="padding-left: 18px;">
    {% for anotacao in organizacao.anotacao_set.all|dictsortreversed:"momento" %}
      <li>
        <a
          class="open-annotation"
          href="{% url 'anotacao' organizacao.id %}"
          data-url="{% url 'anotacao' organizacao.id %}"
          data-anotacao="{{anotacao.id}}"
        >
          {{anotacao.autor.get_full_name}} [<span id='data{{anotacao.id}}'>{{anotacao.momento.date|date:"d/m/Y"}}</span>] : <span id='anotacao{{anotacao.id}}'>{{anotacao.texto}}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
  
  <span id="sem_anotacoes" {% if organizacao.anotacao_set.all %}style="visibility: hidden;"{% endif %}>
    Ainda não existem anotações para essa organização.
  </span>
  
  {% if user.tipo_de_usuario == 4 %}
    <a href="{% url 'edita_organizacao' organizacao.id %}">
    <button class="btn btn-primary mb-1" style="float: right;">Editar</button>
    </a>
  {% endif %}

  {% include "documento-modal.html" %}
  {% include "annotation-modal2.html" %}

{% endblock %}