{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 8 de Janeiro de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en">{{ titulo.en }}</span>
  </span>

  <div class="table-responsive">

    {% for organizacoes,periodo in anos %} 
      <big>{{periodo}}</big>
      <table id="organizacoes"class="table table-bordered table-hover table-sm" style="width: auto;">
        <thead class="table-info">
          <tr>
            <th scope="col" style="text-align: center;width:425px;"><span style="margin-right: 0.6ex;">
              <span lang="pt">Organização</span>
              <span lang="en">Organization</span>
            </span></th>
            <th scope="col" style="text-align: center;width:70px;"><span style="margin-right: 0.6ex;">
              <span lang="pt">Projetos</span>
              <span lang="en">Projects</span>
            </span></th>
          </tr>
        </thead>
        {% for organizacao,projetos in organizacoes %} 
          <tr class="item">
            <td>
              <a class="imprimir" href="{% url 'organizacao_completo' organizacao.id %}">
                {{organizacao.nome}}
              </a>
            </td>
            <td style="text-align: center;" data-toggle="tooltip" data-html="true" animation="true" title="
              {% for projeto in projetos %}
                &bull;
                {{projeto.get_titulo}}
                [{{projeto.orientador}}]
                <br>
              {% endfor %}
            "> 
              {{projetos|length}}
            </td>
          </tr>
        {% endfor %}
      </table>
      <br>
    {% endfor %}
  
  </div>

  {% include "tabelas_simples_scripts.html" %}
  {% include "linguas.html" %}

{% endblock %}