{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 1 de Abril de 2024
{% endcomment %}

{% block head %}
  {% load static %}
  <script src="{% static 'js/sort.js' %}"></script>
{% endblock %}

{% block content %}

  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en">{{ titulo.en }}</span>
  </span>

  <b>
    <span lang="pt">Organização</span>
    <span lang="en">Organization</span>
  </b>:
  {% if organiza %}
     {{ organizacao }}
  {% else %}
    <span lang="pt">NÃO DEFINIDA (Essa área é para ser usada apenas por usuários de organizações cadastradas no sistema)</span>
    <span lang="en">NOT DEFINED (This area is to be used only by users from organizations registered in the system)</span>
  {% endif %}
  <br><br>

  <div class="table-responsive">
    <table id="ProjetosTable" class="table-bordered table-sm">
      <thead class="table-info">
        <tr>
          <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(1)')" style="cursor:pointer" class="text-center">Projeto</th>
          <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(2)')" style="cursor:pointer" class="text-center">Período</th>
        </tr>
      </thead>
      <tbody>
        {% for projeto in projetos %} 
          <tr class="item">
              <td><a href="{% url 'projeto_organizacao' projeto.id %}">{{projeto.get_titulo}}</a><br></td>
              <td class="text-center">{{projeto.ano}}.{{projeto.semestre}}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">
              <span lang="pt">Não existem projetos disponíveis pela sua organização.</span>
              <span lang="en">There are no projects available from your organization.</span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <p>&nbsp;</p>
  <strong>
    <span lang="pt">Número Total de Projetos:</span>
    <span lang="en">Total Number of Projects:</span>
  </strong>
  {{ projetos.count }}<br>

{% endblock %}
