{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 16 de Dezembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  <script src="{% static 'js/aviso_perda_edicao.js' %}"></script>

  <style>

    datalist {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: -10px;
      padding-left: 50px;
      padding-right: 50px;
    }

    option {
      font-size: 1em;
      width: 2ex;
      display: flex;
      justify-content: center;
      z-index: -1;
    }

    @media only screen and (max-width: 400px) {
      option {font-size: 3vw;}
    }

    .col_texto {
      width: 860px;
    }

  </style>
{% endblock %}

{% block content %}

  <form action="" method="post"> {% csrf_token %}  

    <div class="form-group mt-4">

      <div class="form-group row" style="max-width: 700px;">
        <label for="nome" class="col-sm-2 col-form-label">
          <span lang="pt">Nome</span>
          <span lang="en">Name</span>
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="nome" name="nome" {% if user.tipo_de_usuario == 3 %}value="{{user.get_full_name}}"{% endif %}>
        </div>
      </div>
      <div class="form-group row" style="max-width: 700px;">
        <label for="email" class="col-sm-2 col-form-label">e&#8209;mail</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" name="email" {% if user.tipo_de_usuario == 3 %}value="{{user.email}}"{% endif %}>
        </div>
      </div>
      <div class="form-group row" style="max-width: 700px;">
        <label for="empresa" class="col-sm-2 col-form-label">
          <span lang="pt">Empresa</span>
          <span lang="en">Company</span>
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="empresa" name="empresa" {% if user.tipo_de_usuario == 3 and user.parceiro.organizacao %}value="{{user.parceiro.organizacao}}"{% endif %}>
        </div>
      </div>

      
      <p class="text-danger">
        <span lang="pt">O preenchimento das identificações acima é opcional.</span>
        <span lang="en">Completing the identifications above is optional.</span>
      </p>

      <label for="tecnico" class="mt-5 col_texto">
        <span lang="pt">O projeto avançou conforme o esperado? Se SIM, você sabe qual foi a fórmula do sucesso?
          Se NÃO, consegue identificar os motivos? Por exemplo: demora em fechar o escopo, estudantes
          pouco engajados, estudantes com dúvidas básicas em determinado assunto, equipe não entrosada, ...</span>
        <span lang="en">Did the project progress as expected? If YES, do you know what the success formula was?
          If NO, can you identify the reasons? For example: delay in closing the scope,
          students who are not very engaged, students with basic doubts about a certain subject,
          a team that is not engaged, ...</span>
      </label>
      <textarea name="tecnico" class="form-control col_texto" rows="5" id="tecnico" maxlength="1000"></textarea>

      <label for="comunicacao" class="mt-5 col_texto">
        <span lang="pt">Parte do esperado com essa atividade era que os estudantes entendessem melhor qual era o desafio
          proposto e discutissem com vocês como prototipar e implementar o acordado. Os estudantes foram
          ativos em se comunicar, entendendo o desejo de vocês (e de seus usuários finais se for o
          caso) e discutir possíveis soluções? Você pode comentar brevemente como foram essas interações?</span>
        <span lang="en">Part of what was expected with this activity was that students would better understand what
          the proposed challenge was and discuss with you how to prototype and implement the agreed upon.
          Were students active in communicating, understanding your (and your end-users', if applicable) wishes and discussing possible solutions?
          Can you briefly comment on how these interactions were?</span>
      </label>    
      <textarea name="comunicacao" class="form-control col_texto" rows="5" id="comunicacao" maxlength="1000"></textarea>
    
      <label for="organizacao" class="mt-5 col_texto">
        <span lang="pt">A equipe de estudantes alocada para o seu projeto estava devidamente organizada? Por exemplo:
          os estudantes foram pontuais nos encontros, se portaram de forma adequada, todos se dedicaram
          de acordo, apresentaram uma proposta de condução do projeto adequada?</span>
        <span lang="en">Was the team of students allocated to your project properly organized?
          For example: were the students punctual in the meetings, did they behave properly,
          did they all dedicate themselves accordingly, did they present an adequate proposal
          for conducting the project?</span>
      </label>
      <textarea name="organizacao" class="form-control col_texto" rows="5" id="organizacao" maxlength="1000"></textarea>

      <label for="outros" class="mt-5 col_texto">
        <span lang="pt">Tem outras observações que gostaria de compartilhar conosco? Por exemplo o processo de
          interação com o Insper, ou algo que o Insper devia ter previsto nesta proposta de parceria?</span>
        <span lang="en">Do you have any other observations you'd like to share with us? For example,
          the interaction process with Insper, or something that Insper should have foreseen in this
          partnership proposal?</span>
      </label>
      <textarea name="outros" class="form-control col_texto" rows="5" id="outros" maxlength="1000"></textarea>

      <label for="nps" class="mt-5 col_texto">
        <span lang="pt">Em uma escala de 0 a 10, o quanto você recomendaria o Capstone/PFE para colegas ou parceiros de outras empresas?</span>
        <span lang="en">On a scale of 0 to 10, how much would you recommend the Capstone/PFE to colleagues or partners from other companies?</span>        
      </label>
      <div style="position: relative; max-width: 860px;">
        
        <span id="cor_texto" style="position: absolute; color: red; min-width: 100px;">
          <span id="myValue"></span>
        </span>
        
        <input type="range" class="custom-range" id="nps" name="nps" min="-1" max="10" list="ticks" value="-1" style="padding-left: 50px; padding-right: 50px;">
        <datalist id="ticks">
            <option>N/D</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </datalist>
      </div>

      <script charset="utf-8">
        var myRange = document.querySelector("#nps");
        var myValue = document.querySelector("#myValue");

        var off = (myRange.offsetWidth - (parseInt(myRange.style.paddingRight) + parseInt(myRange.style.paddingLeft) ) ) / (parseInt(myRange.max) - parseInt(myRange.min));

        function desenha_numero(){
          let px = ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetWidth / 2) + parseInt(myRange.style.paddingLeft);
          if(myRange.value < 0) {
            myValue.innerHTML = "N/D";  
            $("#cor_texto").css("color", "red");
          } else {
            myValue.innerHTML = myRange.value;
            $("#cor_texto").css("color", "blue");
          }
        };

        myRange.oninput = desenha_numero;

        desenha_numero();

      </script>

      <br><br><br>
      <button type="submit" class="btn btn-primary mb-1">
        <span lang="pt">Enviar</span>
        <span lang="en">Submit</span>
      </button>

    </div>

  </form>

  <script>
    aviso_perda_edicao("form", "Você tem alterações não salvas. Tem certeza que deseja sair?");
  </script>

{% endblock %}