{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 8 de Março de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  {% load define_action %}
  {% load propostas %}
  <script src="{% static 'js/aviso_perda_edicao.js' %}"></script>

  <style>
    .quad_pfe {
      border: solid black 2px;
      border-radius: 8px;
      padding: 16px;
    }

    .topico {
      font-weight: bold;
      margin-top: 8px;
      margin-bottom: 1px;
    }

    .obs {
      font-size: 12px;
      display: block;
    }

    .requiredField {
      border-radius: 2px;
      border-width: thin;
      border-color: #CC0000; 
    }

    .principal {
      max-width:740px;
      padding-left: 6px;
      padding-right: 6px;
    } 

    .tab_contatos {
      width: 100%;
      margin-bottom: 8px;
    }

    .tab_contatos td {
      padding: 2px 0px;
    }

    .tab_contatos td input {
      border-width: thin;
    }

    @media (max-width: 700px) {
      .tab_contatos, .tab_contatos tbody, .tab_contatos tbody th, .tab_contatos tbody td, .tab_contatos tbody tr {
        display: block;
      }

      .tab_contatos thead {
        display: none;
      }

      .tab_contatos tr {
        margin-bottom: 5px;
        border: 1px solid #ccc;
        padding: 5px;
      }

      .tab_contatos td {
        text-align: left;
        position: relative;
      }

      .tab_contatos td input {
        margin-left: 60px;
        width: calc(100% - 60px) !important;
      }

      .tab_contatos td:before {
        content: attr(data-label);
        position: absolute;
        left: 0px;
        width: 60px;
        white-space: nowrap;
        text-align: left;
        font-weight: 500;
        font-size: 0.9em;
      }

    }

    .campo_contatos {
      font-weight: 500;
      font-size: 0.9em;
    }
  </style>
{% endblock %}

{% block content %}

  <div class="container-fluid principal">
    <div class="row justify-content-around">
      <div class="col-xl-auto">
        {% if edicao and liberadas_propostas %}
          <h5 class="red-bold">
            {% lng "Propostas de Projetos já liberadas para estudantes, edição desabilitada." "Project Proposals already released to students, edition disabled." %}
          </h5>
          {% if user.eh_admin %}
            <h5 class="red-bold">
              {% lng "Você está logado como administrador e pode editar a proposta." "You are logged in as an administrator and can edit the proposal." %}
            </h5>
          {% endif %}
          <br>
        {% endif %}

        {% comment %} Isso permite o Administrador continuar editando a proposta {% endcomment %}
        {% if user.eh_admin %}{% define False as liberadas_propostas %}{% endif %}

        {% if request.user.eh_prof %}
          <b>{% lng "Seu Perfil é de Professor, você está preenchendo para alguma organização." "Your Profile is of Professor, you are filling in for some organization." %}</b><br>
        {% elif request.user.eh_admin %}
          <b>{% lng "Seu Perfil é de Administrador, você está preenchendo para alguma organização." "Your Profile is of Administrator, you are filling in for some organization." %}</b><br>
        {% endif %}
        
      </div>

      <div class="col-xl-auto ">
        <form method="post" enctype="multipart/form-data"> {% csrf_token %} 
          <div class="quad_pfe">

            <label class="topico" for="nome">{% lng "Nome" "Name" %}:</label>
            <input class="requiredField" type="text" size="75" maxlength="127" 
              id="nome" name="nome" value="{% if request.user.is_authenticated %}{{request.user.get_full_name}}{% endif %}" 
              pattern="^[\s]*\S+(?:[\s]+\S+){1,99}[\s]*$" oninvalid="this.setCustomValidity('Digite o nome completo')" 
              oninput="this.setCustomValidity('')" required {% if edicao and liberadas_propostas %}disabled{% endif %}><br>
            <label class="topico" for="email">e-mail:</label>
            <input class="requiredField" autocomplete="on" type="email" size="75" maxlength="80" 
              id="email" name="email" value="{% if request.user.is_authenticated %}{{request.user.email}}{% endif %}" 
              pattern="^[\s]*([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,99}[\s]*([;,][\s]*([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})*[\s]*$" 
              oninvalid="this.setCustomValidity('Digite um ou mais endereços de e-mail (e-mails separados por ponto e vírgula)')" 
              oninput="this.setCustomValidity('')" required {% if edicao and liberadas_propostas %}disabled{% endif %}>
            <small class="obs">
              {% lng "Identifique quem está enviando ou atualizando a proposta" "Identify who is sending or updating the proposal" %}
            </small>
            <hr>

            <label class="topico" for="organizacao">
              {% lng "Nome da Instituição/Empresa" "Name of the Institution/Company" %}<br>
              <small class="obs">
                {% lng "sigla e nome comercial/fantasia (não é necessário indicar a Razão Social)" "acronym and commercial/fantasy name (it is not necessary to indicate the Corporate Name)" %}
              </small>
            </label><br>
            <input class="requiredField" type="text" id="organizacao" name="organizacao" size="100" maxlength="120"  
              value="{% if proposta.nome_organizacao %}{{ proposta.nome_organizacao }}{% elif organizacao and organizacao.nome %}{{organizacao.nome}}{% endif %}"
              {% if edicao and liberadas_propostas %}disabled{% endif %} required>
            <br>

            <label class="topico" for="website">website:</label>
            <input class="requiredField" type="text" size="75"  maxlength="250" id="website" name="website" 
              value="{% if proposta.website %}{{proposta.website}}{% elif organizacao and organizacao.website %}{{organizacao.website}}{% endif %}"
              placeholder="https://www.insper.edu.br" required 
              {% if edicao and liberadas_propostas %}disabled{% endif %}><br><br>

            <label class="topico" for="endereco">
              {% lng "Endereço" "Address" %}<br>
              <small class="obs">
                {% lng "Local de possíveis reuniões, visitas técnicas ou apresentações de resultados (opcional)" "Place for possible meetings, technical visits or presentation of results (optional)" %}
              </small>
            </label><br>
            <textarea id="endereco" name="endereco" rows="3" cols="120" maxlength="400" 
              {% if edicao and liberadas_propostas %}disabled{% endif %}
              >{% if proposta.endereco %}{{proposta.endereco}}{% elif organizacao and organizacao.endereco %}{{organizacao.endereco}}{% endif %}</textarea>
            
            <label class="topico" for="contatos_tecnicos">
              {% lng "Contatos Técnicos" "Technical Contacts" %}<br>
              <small class="obs">
                {% lng "nome/e-mail/telefone para que estudantes e orientadores entrem em contato a cerca do desenvolvimento do projeto" "name/e-mail/phone for students and advisors to contact about the project development" %}
              </small>
            </label><br>

            {% if proposta.contatos_tecnicos %} {% comment %} O campo contatos_tecnicos é um campo de texto livre que não é mais usado. {% endcomment %}
              <textarea id="contatos_tecnicos" name="contatos_tecnicos" rows="3" cols="120" maxlength="400" 
                {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.contatos_tecnicos %}{{proposta.contatos_tecnicos}}{% endif %}</textarea>
            {% endif %}
            <table class="tab_contatos">
              <thead>
                <tr>
                  <td><label class="campo_contatos" for="contato_T_nome_0">{% lng "Nome" "Name" %}</label></td>
                  <td><label class="campo_contatos" for="contato_T_email_0">e-mail</label></td>
                  <td><label class="campo_contatos" for="contato_T_tel_0">{% lng "Telefone" "Phone" %}</label></td>
                  <td><label class="campo_contatos" for="contato_T_cargo_0">{% lng "Cargo" "Position" %}</label></td>
                </tr>
              </thead>
              <tbody>
                {% with tipo="T" %}
                  {% for contato in proposta|contatos_tec3 %}
                    <tr>
                      <td data-label="Nome"><input {% if forloop.first %}class="requiredField" required{% endif %} type="text" maxlength="250" id="contato_{{tipo}}_nome_{{forloop.counter0}}" name="contato_{{tipo}}_nome_{{forloop.counter0}}" style="width: 190px;"
                        value="{% if contato.nome %}{{contato.nome}}{% endif %}"  
                        {% if edicao and liberadas_propostas %}disabled{% endif %}></td>
                      <td data-label="e-mail"><input {% if forloop.first %}class="requiredField" required{% endif %} type="email" maxlength="250" id="contato_{{tipo}}_email_{{forloop.counter0}}" name="contato_{{tipo}}_email_{{forloop.counter0}}" style="width: 180px;"
                        value="{% if contato.email %}{{contato.email}}{% endif %}" 
                        {% if edicao and liberadas_propostas %}disabled{% endif %}></td>
                      <td data-label="Telefone"><input type="tel" maxlength="250" id="contato_{{tipo}}_tel_{{forloop.counter0}}" name="contato_{{tipo}}_tel_{{forloop.counter0}}" style="width: 150px;"
                        value="{% if contato.telefone %}{{contato.telefone}}{% endif %}" 
                        {% if edicao and liberadas_propostas %}disabled{% endif %}></td>
                      <td data-label="Cargo"><input type="text" maxlength="250" id="contato_{{tipo}}_cargo_{{forloop.counter0}}" name="contato_{{tipo}}_cargo_{{forloop.counter0}}" style="width: 160px;"
                        value="{% if contato.cargo %}{{contato.cargo}}{% endif %}" 
                        {% if edicao and liberadas_propostas %}disabled{% endif %}></td>
                    </tr>
                  {% endfor %}
                {% endwith %}
              </tbody>
            </table>

            <label class="topico" for="contatos_adm">
              {% lng "Contatos Administrativos" "Administrative Contacts" %}<br>
              <small class="obs">
                {% lng "nome/e-mail/telefone para quem devemos entrar em contato para resolver questões contratuais ou RH" "name/e-mail/phone for who we should contact to resolve contractual or HR issues" %}
              </small>
            </label><br>
            {% if proposta.contatos_administrativos %}
              <textarea id="contatos_adm" name="contatos_adm" rows="3" cols="120" maxlength="400" 
                {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.contatos_administrativos %}{{proposta.contatos_administrativos}}{% endif %}</textarea>
            {% endif %}
            <table class="tab_contatos">
              <thead>
                <tr>
                  <td><label class="campo_contatos" for="contato_A_nome_0">{% lng "Nome" "Name" %}</label></td>
                  <td><label class="campo_contatos" for="contato_A_email_0">e-mail</label></td>
                  <td><label class="campo_contatos" for="contato_A_tel_0">{% lng "Telefone" "Phone" %}</label></td>
                  <td><label class="campo_contatos" for="contato_A_cargo_0">{% lng "Cargo" "Position" %}</label></td>
                </tr>
              </thead>
              <tbody>
                {% with tipo="A" %}
                  {% for contato in proposta|contatos_adm3 %}
                    <tr>
                      <td data-label="Nome"><input {% if forloop.first %}class="requiredField" required{% endif %} type="text" maxlength="250" id="contato_{{tipo}}_nome_{{forloop.counter0}}" name="contato_{{tipo}}_nome_{{forloop.counter0}}" size="19"
                        value="{% if contato.nome %}{{contato.nome}}{% endif %}"  
                        {% if edicao and liberadas_propostas %}disabled{% endif %}></td>
                      <td data-label="e-mail"><input {% if forloop.first %}class="requiredField" required{% endif %} type="email" maxlength="250" id="contato_{{tipo}}_email_{{forloop.counter0}}" name="contato_{{tipo}}_email_{{forloop.counter0}}" size="18" 
                        value="{% if contato.email %}{{contato.email}}{% endif %}" 
                        {% if edicao and liberadas_propostas %}disabled{% endif %}></td>
                      <td data-label="Telefone"><input type="tel" maxlength="250" id="contato_{{tipo}}_tel_{{forloop.counter0}}" name="contato_{{tipo}}_tel_{{forloop.counter0}}" size="15" 
                        value="{% if contato.telefone %}{{contato.telefone}}{% endif %}" 
                        {% if edicao and liberadas_propostas %}disabled{% endif %}></td>
                      <td data-label="Cargo"><input type="text" maxlength="250" id="contato_{{tipo}}_cargo_{{forloop.counter0}}" name="contato_{{tipo}}_cargo_{{forloop.counter0}}" size="16"
                        value="{% if contato.cargo %}{{contato.cargo}}{% endif %}" 
                        {% if edicao and liberadas_propostas %}disabled{% endif %}></td>
                    </tr>
                  {% endfor %}
                {% endwith %}
              </tbody>
            </table>

            <label class="topico" for="descricao_organizacao">
              {% lng "Informações sobre a instituição/empresa" "Information about the institution/company" %}<br>
              <small class="obs">
                {% lng "descreva a instituição/empresa para estudantes conhecerem o que ela faz (opcional)" "describe the institution/company for students to know what it does (optional)" %}
              </small>
            </label><br>
            <textarea id="descricao_organizacao" name="descricao_organizacao" rows="8" cols="120" maxlength="3000"
              {% if edicao and liberadas_propostas %}disabled{% endif %}
              >{% if proposta.descricao_organizacao %}{{proposta.descricao_organizacao}}{% elif organizacao and organizacao.informacoes %}{{organizacao.informacoes}}{% endif %}</textarea>
            
            <label class="topico" for="info_departamento">
              {% lng "Informações sobre o departamento" "Information about the department" %}<br>
              <small class="obs">
                {% lng "descreva o departamento/área para estudantes conhecerem o que ele faz (opcional)" "describe the department/area for students to know what it does (optional)" %}
              </small>
            </label><br>
            <textarea id="info_departamento" name="info_departamento" rows="8" cols="120" maxlength="3000" 
              {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.departamento %}{{proposta.departamento}}{% endif %}</textarea>
            <hr>

            <label class="topico" for="titulo">
              {% lng "Título provisório do Projeto" "Provisional Title of the Project" %}<br>
              <small class="obs">
                {% lng "título para ser apresentado aos estudantes e ao longo do projeto, será possível revisar esse título" "title to be presented to students and throughout the project, it will be possible to review this title" %}
              </small>
            </label><br>
            <input class="requiredField" type="text" size="80" maxlength="160" id="titulo_prop" name="titulo_prop" 
              {% if proposta.titulo %}value="{{proposta.titulo}}"{% endif %} required {% if edicao and liberadas_propostas %}disabled{% endif %}>
            <br><br>

            <label class="topico" for="desc_projeto">
              {% lng "Descrição da Proposta de Projeto" "Description of the Project Proposal" %}<br>
              <small class="obs">
                {% lng "descrição para discussão entre professores e que será visualizada pelos estudantes" "description for discussion among teachers and that will be viewed by students" %}
              </small>
            </label><br>
            <textarea id="desc_projeto" class="requiredField" name="desc_projeto" rows="10" cols="120" maxlength="3000" required 
            {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.descricao %}{{proposta.descricao}}{% endif %}</textarea>

            <label class="topico" for="expectativas">
              {% lng "Expectativas de resultados/entregas" "Expectations of results/deliveries" %}<br>
              <small class="obs">
                {% lng "exemplo: protótipos, modelos, ferramentas, estudos, validações, testes, padrões" "example: prototypes, models, tools, studies, validations, tests, standards" %}
              </small>
            </label><br>
            <textarea id="expectativas" class="requiredField" name="expectativas" rows="8" cols="120" maxlength="3000" required 
              {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.expectativas %}{{proposta.expectativas}}{% endif %}</textarea>

            <label class="topico" for="recursos">
              {% lng "Recursos a serem disponibilizados ao grupo de estudantes" "Resources to be made available to the group of students" %}<br>
              <small class="obs">
                {% lng "algo será fornecido para os estudantes? ex: kits de desenvolvimento, matérias primas, acesso a infra de cloud (opcional)" "something will be provided to students? ex: development kits, raw materials, access to cloud infrastructure (optional)" %}
              </small>
            </label><br>
            <textarea id="recursos" name="recursos" rows="5" cols="120" maxlength="1000"
              {% if edicao and liberadas_propostas %}disabled{% endif %}
              >{% if proposta.recursos and proposta.recursos != None and proposta.recursos != "None" %}{{proposta.recursos}}{% endif %}</textarea>

            <label class="topico" for="observacoes">
              {% lng "Outras observações que considere relevante para os estudantes" "Other observations that you consider relevant for students" %}<br>
              <small class="obs">
                {% lng "caso desejar apresentar alguma informação adicional aos estudantes (opcional)" "if you wish to present additional information to students (optional)" %}
              </small>
            </label><br>
            <textarea id="observacoes" name="observacoes" rows="5" cols="120" maxlength="3000" 
              {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.observacoes and proposta.observacoes != None and proposta.observacoes != "None" %}{{proposta.observacoes}}{% endif %}</textarea>

            <label class="topico" for="arquivo">{% lng "Anexos" "Attachments" %}</label>
            {% include "selecionar_arquivo.html" with arquivo_nome="arquivo" arquivo_accept="text/plain, application/pdf, application/zip, application/x-zip, application/x-zip-compressed, .zip, .rar, .7zip, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, image/*, video/mp4, video/x-m4v, video/webm, video/x-matroska, video/*, .mkv" %}

            <small class="obs">
              {% lng "arquivo que contenha informações adicionais para os estudantes analisarem sobre o projeto (opcional)" "file containing additional information for students to analyze about the project (optional)" %}
            </small>
            
            {% if proposta.anexo %}
              <br><small>
                {% lng "Arquivo atual" "Current file" %}:
                <a href="{{request.scheme}}://{{request.get_host}}{{proposta.anexo.url}}">{{proposta.get_anexo}}</a>
              </small>
            {% endif %}
            <br><br>

            {% if configuracao.maxMB_filesize and not user.eh_admin %}
              {% comment %} Administrador pode enviar arquivos maiores que limite. {% endcomment %}
              <script>
                document.getElementById("arquivo").onchange = function() {
                  if(this.files && this.files[0] && this.files[0].size > {{configuracao.maxMB_filesize}}*1048576){
                    alert("Tamanho do arquivo maior que o permitido de {{configuracao.maxMB_filesize}}Mb");
                    this.value = "";
                  }
                }
              </script>
            {% endif %}

            <span class="topico">
              {% lng "Áreas/Habilidades envolvidas no projeto" "Areas/Skills involved in the project" %}
            </span><br>
            {% if proposta %}
              {% with areas_de_interesse_selecionadas=proposta.areadeinteresse_set.all %}
                {% if edicao and liberadas_propostas %}
                  {% with vencido=True %}
                    {% include "areas.html" %}
                  {% endwith %}
                {% else %}
                  {% include "areas.html" %}
                {% endif %}
              {% endwith %}
            {% else %}
              {% if edicao and liberadas_propostas %}
                {% with vencido=True %}
                  {% include "areas.html" %}
                {% endwith %}
              {% else %}
                {% include "areas.html" %}
              {% endif %}
            {% endif %}
            <br>

            <div class="topico" for="interesses">
              {% lng "Os principais interesses com o projeto são" "The main interests with the project are" %}:<br>
              <small class="obs">
                {% lng "não será apresentado aos estudantes (opcional)" "will not be shown to students (optional)" %}
              </small>
            </div>
            {% for interesse in interesses %}
              <label style="font-size: 13px;" for="{{interesse.0}}">
                &nbsp;<input style="position: relative; top: 2px;" type="checkbox" name="{{interesse.0}}" id="{{interesse.0}}"
                {% if interesse.2 %}checked{% endif %}
                {% if vencido %}disabled{% endif %}
                {% if edicao and liberadas_propostas %}disabled{% endif %}
                >
                {% lng interesse.1.1 interesse.1.2 %}}
              </label><br>
            {% endfor %}
            <br>
            <hr>
            <small style="display: block; line-height: 1.2;">
              {% lng obs.pt obs.en %}
            </small>
  
          </div>

          <br>
          
          {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}

            <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
            <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>

            <div class="quad_pfe" style="border-color: red;">
              <div style="margin-bottom: 8px; color: red; font-weight: 600;">
                {% lng "Área Reservada ao Insper" "Insper Reserved Area" %}
              </div>

              <label style="font-size: 13px;" for="internacional">
                &nbsp;<input style="position: relative; top: 2px;" type="checkbox" name="internacional" id="internacional" {% if proposta.internacional %}checked{% endif %}>
                <b>{% lng "Internacional" "International" %}</b>
                {% lng "(projeto sendo realizado com uma instituição no estrangeiro)" "(project being carried out with an institution abroad)" %}
              </label><br>

              <label style="font-size: 13px;" for="intercambio">
                &nbsp;<input style="position: relative; top: 2px;" type="checkbox" name="intercambio" id="intercambio" {% if proposta.intercambio %}checked{% endif %}>
                <b>{% lng "Intercâmbio" "Exchange" %}</b>
                {% lng "(estudantes farão projeto no intercâmbio com acompanhamento do Insper)" "(students will do project on exchange with Insper monitoring)" %}
              </label><br>

              <label style="font-size: 13px;" for="empreendendo">
                &nbsp;<input style="position: relative; top: 2px;" type="checkbox" name="empreendendo" id="empreendendo" {% if proposta.empreendendo %}checked{% endif %}>
                <b>{% lng "Estudantes Empreendedores" "Entrepeneur Students" %}</b> 
                {% lng "(proposta de grupo de estudantes regulares empreendendo em próprio projeto)" "(proposal of group of regular students undertaking in own project)" %}
              </label><br>

              <label style="font-size: 13px;" for="colaboracao">
                <b>{% lng "Colaboração" "Collaboration" %}</b> 
                {% lng "(proposta foi desenvolvida com a colaboração de uma outra organização)" "(proposal was developed with the collaboration of another organization)" %}:
              </label>
              <select name="colaboracao" id="colaboracao" class="selectpicker" data-live-search="true" data-width="100%" data-size="10">
                  <option value=""> -- nenhuma organização -- </option>
                  {% for organizacao in organizacoes %}
                    <option value="{{organizacao.id}}" {% if proposta.colaboracao.id == organizacao.id %}selected="selected"{% endif %}>
                      {{organizacao.nome}}
                    </option>  
                  {% endfor %}
              </select>
              <br>
            </div>
          {% endif %}

          <div class="col-xl-auto mt-3 p-0">
            <div class="container">
              <div class="row justify-content-center">
                <div class="form-check p-0 text-center">

                  <button type="submit" class="btn btn-primary mb-1" 
                    {% if vencida or liberadas_propostas %}disabled{% endif %}
                    {% if edicao %}name="update">{% lng "Atualizar Proposta de Projeto" "Update Project Proposal" %}
                    {% else %}name="new">{% lng "Enviar Proposta de Projeto" "Submit Project Proposal" %}
                    {% endif %}
                  </button>
                  {% if proposta and not liberadas_propostas %}
                    {% if vencida %}
                      <button type="submit" class="btn btn-primary mb-1" name="new">
                        {% lng "Nova Proposta de Projeto " "New Project Proposal" %}
                      </button>
                    {% endif %}
                    <button type="submit" class="btn btn-warning mb-1" name="remover"
                      onclick="return confirm('Você tem certeza que deseja remover esta proposta de projeto?');"
                      {% if vencida %}disabled{% endif %}>
                      {% lng "Remover Proposta de Projeto" "Remove Project Proposal" %}
                    </button>
                    {% if vencida %}
                      <span class="red-bold" style="display: block;">
                        {% lng "Essa proposta foi submetida em um semestre anterior, ao clicar em Nova Proposta, você gerará uma nova proposta para ser apresentada agora para os estudantes." "This proposal was submitted in a previous semester, by clicking on New Proposal, you will generate a new proposal to be presented now to the students." %}
                      <br></span>  
                    {% endif %}
                  {% endif %}
                </div>

                {% if not liberadas_propostas %}
                  <div class="form-check" style="margin: 0px 12px 0px 12px;">
                    &nbsp;
                    <label data-toggle="tooltip" data-html="true" animation="true" 
                          title="Após preencher o documento, você receberá um e-mail com o link para, se desejar, editar essa proposta." 
                          class="form-check-label" for="mensagem">
                      <input style="position: relative; top: 2px;" class="form-check-input" type="checkbox" id="mensagem" name="mensagem" value="enviar" checked>
                      {% lng "enviar mensagem (e-mail) de confirmação" "send confirmation message (e-mail)" %}
                    </label>
                  </div>
                {% endif %}
              </div>

              {% if proposta and request.user.eh_prof_a %}
                <div class="form-check p-0 text-center mt-3">
                  <a href="{% url 'proposta_completa' proposta.id %}" 
                    class="btn btn-info mb-1" 
                    role="button">
                    {% lng "Ver Proposta" "View Proposal" %}
                  </a>
                </div>
              {% endif %}

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){	
      // Ajusta a altura de todas as textareas
      $("textarea").each(function(){
        if($(this).is(":visible")) {
          $(this).css("height", this.scrollHeight + "px");
        }
      });
    });
  </script>

{% endblock %}