{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 8 de Março de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load define_action %}
  <script src="{% static 'js/aviso_perda_edicao.js' %}"></script>

  <style>
    textarea {
      max-width:100%;
      margin-bottom: 4px; 
    }

    .quad_pfe {
      border: solid black 2px;
      border-radius: 8px;
      padding: 16px;
    }

    .topico {
      font-weight: bold;
      margin-top: 8px;
      margin-bottom: 1px;
    }

    .obs {
      font-size: 12px;
      display: block;
    }

    .requiredField {
      border-radius: 2px;
      border-width: thin;
      border-color: #CC0000; 
    }

  </style>
{% endblock %}

{% block content %}

  <div class="container-fluid" style="max-width:740px; padding-left: 6px; padding-right: 6px;">
    <div class="row justify-content-around">
      <div class="col-xl-auto" style="margin-bottom: 18px;">
        {% if edicao and liberadas_propostas %}
          <h5 class="red-bold">Propostas de Projetos já liberadas para estudantes, edição desabilitada.</h5>
          {% if user.tipo_de_usuario == 4 %} {% comment %} tipo_de_usuario == 4 >>> Administrador {% endcomment %}
            <h5 class="red-bold">Você está logado como administrador e pode editar a proposta.</h5>
          {% endif %}
          <br>
        {% endif %}

        {% comment %} Isso permite o Administrador continuar editando a proposta {% endcomment %}
        {% if user.tipo_de_usuario == 4 %}
          {% define False as liberadas_propostas %}
        {% endif %}

        <span class="titulo">
          {% if edicao %}
            Edição
          {% else %}
            Submissão
          {% endif %}
          de Proposta de Projeto
          (Capstone {{ano_semestre}})
        </span>

        {% if professor %}
          <strong>Seu Perfil é de Professor, você está preenchendo para alguma organização.</strong><br>
        {% elif administrador %}
          <strong>Seu Perfil é de Administrador, você está preenchendo para alguma organização.</strong><br>
        {% endif %}
        
      </div>

      <div class="col-xl-auto ">
        <form method="post" enctype="multipart/form-data"> {% csrf_token %} 
          <div class="quad_pfe">

            <label style="width: 3.5em; white-space: nowrap;" class="topico" for="nome">Nome:</label> <input class="requiredField" style="max-width: 100%;" type="text" size="75" maxlength="127" id="nome" name="nome" value="{% if parceiro %}{{full_name}}{% elif request.user.is_authenticated %}{{request.user.get_full_name}}{% endif %}" 
              pattern="^[\s]*\S+(?:[\s]+\S+){1,99}[\s]*$" oninvalid="this.setCustomValidity('Digite o nome completo')" oninput="this.setCustomValidity('')" required {% if edicao and liberadas_propostas %}disabled{% endif %}><br>
            <label style="width: 3.5em; white-space: nowrap;" class="topico" for="email">e-mail:</label> <input class="requiredField" autocomplete="on" style="max-width: 100%;" type="text" size="75"  maxlength="80" id="email" name="email" value="{% if parceiro %}{{email}}{% elif request.user.is_authenticated %}{{request.user.email}}{% endif %}" 
              pattern="^[\s]*([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,99}[\s]*([;,][\s]*([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5}){1,25})*[\s]*$" oninvalid="this.setCustomValidity('Digite um ou mais endereços de e-mail (e-mails separados por ponto e vírgula)')" oninput="this.setCustomValidity('')" required {% if edicao and liberadas_propostas %}disabled{% endif %}>
            <small class="obs">Identifique quem está enviando ou atualizando a proposta</small>
            <hr>

            <label class="topico" for="organizacao">Nome da Instituição/Empresa
            <small class="obs">sigla e nome comercial/fantasia (não é necessário indicar a Razão Social)</small>
            </label><br>
            <textarea class="requiredField" id="organizacao" name="organizacao" rows="1" cols="120" maxlength="120" required {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.nome_organizacao %}{{ proposta.nome_organizacao }}{% endif %}</textarea>

            <label class="topico" for="website">website:</label> <input class="requiredField" style="max-width: 100%;" type="text" size="75"  maxlength="250" id="website" name="website" {% if proposta.website %}value="{{proposta.website}}"{% endif %} placeholder="https://www.insper.edu.br" required {% if edicao and liberadas_propostas %}disabled{% endif %}><br><br>

            <label class="topico" for="endereco">Endereço<br>
            <small class="obs">Local de possíveis reuniões, visitas técnicas ou apresentações de resultados (opcional)</small>
            </label><br>
            <textarea id="endereco" name="endereco" rows="3" cols="120" maxlength="400" 
              {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.endereco %}{{proposta.endereco}}{% endif %}</textarea>
            
            <label class="topico" for="contatos_tecnicos">Contatos Técnicos<br>  
            <small class="obs">nome/e-mail/telefone para que estudantes e orientadores entrem em contato a cerca do desenvolvimento do projeto</small>
            </label><br>
            <textarea id="contatos_tecnicos" class="requiredField" name="contatos_tecnicos" rows="3" cols="120" maxlength="400" required 
              {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.contatos_tecnicos %}{{proposta.contatos_tecnicos}}{% endif %}</textarea>
        
            <label class="topico" for="contatos_adm">Contatos Administrativos<br>     
            <small class="obs">nome/e-mail/telefone para quem devemos entrar em contato para resolver questões contratuais ou RH (opcional)</small>
            </label><br>
            <textarea id="contatos_adm" name="contatos_adm" rows="3" cols="120" maxlength="400" 
              {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.contatos_administrativos %}{{proposta.contatos_administrativos}}{% endif %}</textarea>

            <label class="topico" for="descricao_organizacao">Informações sobre a instituição/empresa<br>
            <small class="obs">descreva a instituição/empresa para estudantes conhecerem o que ela faz (opcional)</small>
            </label><br>
            <textarea id="descricao_organizacao" name="descricao_organizacao" rows="8" cols="120" maxlength="3000"
              {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.descricao_organizacao %}{{proposta.descricao_organizacao}}{% endif %}</textarea>
            
            <label class="topico" for="info_departamento">Informações sobre a departamento<br>
            <small class="obs">descreva o departamento/área para estudantes conhecerem o que ele faz (opcional)</small>
            </label><br>
            <textarea id="info_departamento" name="info_departamento" rows="8" cols="120" maxlength="3000" 
              {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.departamento %}{{proposta.departamento}}{% endif %}</textarea>
            <hr>

            <label class="topico" for="titulo">Título provisório do projeto<br>
            <small class="obs">um título para ser apresentado aos estudantes e ao longo do projeto, será possível revisar esse título</small>
            </label><br>
            <input class="requiredField" type="text" size="80" maxlength="160" style="max-width: 100%;" id="titulo_prop" name="titulo_prop" {% if proposta.titulo %}value="{{proposta.titulo}}"{% endif %} required {% if edicao and liberadas_propostas %}disabled{% endif %}>
            <br><br>

            <label class="topico" for="desc_projeto">Descrição da Proposta de Projeto<br>
            <small class="obs">para discussão entre professores e que será visualizada pelos estudantes</small>
            </label><br>
            <textarea id="desc_projeto" class="requiredField" name="desc_projeto" rows="10" cols="120" maxlength="3000" required 
            {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.descricao %}{{proposta.descricao}}{% endif %}</textarea>

            <label class="topico" for="expectativas">Expectativas de resultados/entregas<br>
            <small class="obs">exemplo: protótipos, modelos, ferramentas, estudos, validações, testes, padrões</small>
            </label><br>
            <textarea id="expectativas" class="requiredField" name="expectativas" rows="8" cols="120" maxlength="3000" required 
              {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.expectativas %}{{proposta.expectativas}}{% endif %}</textarea>

            <label class="topico" for="recursos">Recursos a serem disponibilizados ao grupo de estudantes<br>
            <small class="obs">algo será fornecido para os estudantes? ex: kits de desenvolvimento, matérias primas, acesso a infra de cloud. (opcional)</small>
            </label><br>
            <textarea id="recursos" name="recursos" rows="5" cols="120" maxlength="1000"
              {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.recursos and proposta.recursos != None and proposta.recursos != "None" %}{{proposta.recursos}}{% endif %}</textarea>

            <label class="topico" for="observacoes">Outras observações que considere relevante para os estudantes<br>
            <small class="obs">caso desejar apresentar alguma informação adicional aos estudantes (opcional)</small>
            </label><br>
            <textarea id="observacoes" name="observacoes" rows="5" cols="120" maxlength="3000" 
              {% if edicao and liberadas_propostas %}disabled{% endif %}>{% if proposta.observacoes and proposta.observacoes != None and proposta.observacoes != "None" %}{{proposta.observacoes}}{% endif %}</textarea>

            <label class="topico" for="arquivo">Anexos
            <input id="arquivo" name="arquivo" {% include "formatos_suportados.html" %} type="file">
            <small class="obs">arquivo que contenha informações adicionais para os estudantes analisarem sobre o projeto (opcional)</small>
            </label>
            {% if proposta.anexo %}
              <br><small>Arquivo atual:
                <a href="{{request.scheme}}://{{request.get_host}}{{proposta.anexo.url}}">{{proposta.get_anexo}}</a>
              </small>
            {% endif %}
            <br><br>

            {% if configuracao.maxMB_filesize and user.tipo_de_usuario != 4 %}
              {% comment %} Administrador pode enviar arquivos maiores que limite. {% endcomment %}
              <script>
                document.getElementById("arquivo").onchange = function() {
                  if(this.files && this.files[0] && this.files[0].size > {{configuracao.maxMB_filesize}}*1048576){
                    alert("Tamanho do arquivo maior que o permitido de {{configuracao.maxMB_filesize}}Mb");
                    this.value = "";
                  }
                }
              </script>
            {% endif %}

            <span class="topico">Áreas/Habilidades envolvidas no projeto</span><br>
            {% if proposta %}
              {% with aa=proposta.areadeinteresse_set.all %}
                {% if edicao and liberadas_propostas %}
                  {% with vencido=True %}
                    {% include "areas.html" %}
                  {% endwith %}
                {% else %}
                  {% include "areas.html" %}
                {% endif %}
              {% endwith %}
            {% else %}
              {% if edicao and liberadas_propostas %}
                {% with vencido=True %}
                  {% include "areas.html" %}
                {% endwith %}
              {% else %}
                {% include "areas.html" %}
              {% endif %}
            {% endif %}
            <br>

            <div class="topico" for="interesses">Os principais interesses com o projeto são:<br>
              <small class="obs">não será apresentado aos estudantes (opcional)</small>
            </div>
            {% for interesse in interesses %}
              <label style="font-size: 13px;" for="{{interesse.0}}">
                &nbsp;<input style="position: relative; top: 2px;" type="checkbox" name="{{interesse.0}}" id="{{interesse.0}}"
                {% if interesse.2 %}checked{% endif %}
                {% if vencido %}disabled{% endif %}
                {% if edicao and liberadas_propostas %}disabled{% endif %}
                >
                {{ interesse.1 }}
              </label><br>
            {% endfor %}
            <br>
            <hr>
            <small style="display: block; line-height: 1.2;">
            Obs.: Ao submeter o projeto, deve ficar claro que a intenção do Capstone é 
            que os estudantes tenham um contato próximo com as pessoas responsáveis nas instituições parceiras 
            para o desenvolvimento de uma solução em engenharia. Em geral os estudantes se comunicam uma vez 
            por semana para entender melhor o desafio, demonstrar resultados preliminares, fazerem 
            planejamentos em conjunto, dentre de outros pontos que podem variar de projeto para projeto. 
            Também deve ficar claro que embora não exista um custo direto para as instituições parceiras, 
            essas terão de levar em conta que pelo menos um profissional deverá dedicar algumas horas 
            semanalmente para acompanhar os estudantes. Além disso se a proposta contemplar gastos, como por 
            exemplo servidores, matéria prima de alguma forma, o Insper não terá condição de bancar tais 
            gastos e isso terá de ficar a cargo da empresa, contudo os estudantes terão acesso aos 
            laboratórios do Insper para o desenvolvimento do projeto em horários agendados.
            </small>
  
          </div>

          <br>
          
          {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}

            <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
            <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>

            <div class="quad_pfe" style="border-color: red;">
              <div style="margin-bottom: 8px; color: red; font-weight: 600;">Área Reservada ao Insper</div>

                <label style="font-size: 13px;" for="internacional">
                  &nbsp;<input style="position: relative; top: 2px;" type="checkbox" name="internacional" id="internacional" {% if proposta.internacional %}checked{% endif %}>
                  <b>Internacional</b> (projeto sendo realizado com uma instituição no estrangeiro)
                </label><br>

                <label style="font-size: 13px;" for="intercambio">
                  &nbsp;<input style="position: relative; top: 2px;" type="checkbox" name="intercambio" id="intercambio" {% if proposta.intercambio %}checked{% endif %}>
                  <b>Intercâmbio</b> (estudantes farão projeto no intercâmbio com acompanhamento do Insper)
                </label><br>

                <label style="font-size: 13px;" for="empreendendo">
                  &nbsp;<input style="position: relative; top: 2px;" type="checkbox" name="empreendendo" id="empreendendo" {% if proposta.empreendendo %}checked{% endif %}>
                  <b>Estudantes Empreendendo</b> (proposta de grupo de estudantes regulares empreendendo em próprio projeto)
                </label><br>

                <label style="font-size: 13px;" for="colaboracao"><b>Colaboração</b> (proposta foi desenvolvida com a colaboração de uma outra organização)</label>:
                <select name="colaboracao" id="colaboracao" class="selectpicker" data-live-search="true" data-width="100%" data-size="10">
                    <option value=""> -- nenhuma organização -- </option>
                    {% for organizacao in organizacoes %}
                      <option value="{{organizacao.id}}" {% if proposta.colaboracao.id == organizacao.id %}selected="selected"{% endif %}>
                        {{organizacao.nome}}
                      </option>  
                    {% endfor %}
                </select>
              <br>
            </div>
          {% endif %}

          <div class="col-xl-auto" style="margin-top: 20px;">
            <div class="container">
              <div class="row justify-content-center">
                <div class="form-check" style="margin: 0px 12px 0px 12px; padding-left: 0px;">
                  {% if not liberadas_propostas %}
                    <input type="submit" class="btn btn-primary mb-1" name="{% if edicao %}update" value="Atualizar{% else %}new" value="Enviar{% endif %} Proposta de Projeto">
                    {% if proposta and vencida %}
                      <input type="submit" class="btn btn-primary mb-1" name="new" value="Nova Proposta de Projeto ">
                      <span class="red-bold" style="display: block;">Essa proposta foi submetida em um semestre anterior,
                        ao clicar em Nova Proposta, você gerará uma nova proposta para ser apresentada agora para os estudantes.<br></span>  
                    {% endif %}
                  {% endif %}
                </div>

                {% if not liberadas_propostas %}
                  <div class="form-check" style="margin: 0px 12px 0px 12px;">
                    &nbsp;
                    <label data-toggle="tooltip" data-html="true" animation="true" 
                          title="Após preencher o documento, você receberá um e-mail com o link para, se desejar, editar essa proposta." 
                          class="form-check-label" for="mensagem">
                    <input style="position: relative; top: 2px;" class="form-check-input" type="checkbox" id="mensagem" name="mensagem" value="enviar" checked>
                    enviar mensagem (e-mail) de confirmação</label>
                  </div>
                {% endif %}

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){	
      // Ajusta a altura de todas as textareas
      $("textarea").each(function(){
        if($(this).is(":visible")) {
          $(this).css("height", this.scrollHeight + "px");
        }
      });
    });
  </script>

  <script>
    aviso_perda_edicao("form", "Você tem alterações não salvas. Tem certeza que deseja sair?");
  </script>

{% endblock %}