{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 18 de Novembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}

  {% comment %} Para recarregar a página em caso de um botão back ou similar {% endcomment %}
  {% include "reload.html" %}

  <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
  <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>
{% endblock %}

{% block content %}

  <span class="titulo">Selecione Conexões</span>
  <br>
  <span>Projeto: {{projeto}}</span>
  <br><br>

  <form method="post" id="conexoesform" enctype="multipart/form-data"> {% csrf_token %}

    {% if parceiros %}
      <div class="table-responsive">
      <table id="ParceirosTable" class="table table-bordered table-hover table-sm">
        <caption style="text-align:right">
          {% for _,captions  in Conexao.papel.items %}
            {{captions.1}}: {{captions.0}}
            {% if not forloop.last %}/{% endif %}
          {% endfor %}
        </caption>
        <thead class="table">
          <tr>
            <th scope="col" class="text-center">GR</th>
            <th scope="col" class="text-center">MT</th>
            <th scope="col" class="text-center">AA</th>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Cargo</th>
            <th scope="col" class="text-center">e-mail</th>
            <th scope="col" class="text-center">telefone</th>
          </tr>
        </thead>
        {% for parceiro in parceiros %}
        {% with conexoes=parceiro.conexao_set.all %}
          <tr class="item" {% if not parceiro.user.is_active %} style="color: lightgrey;" {% endif %}>
            <th scope="row" style="text-align: center;">
              <input type="checkbox" name="gestor_responsavel" value="{{parceiro.id}}"
                {% for conexao in conexoes %}
                  {% if conexao.projeto == projeto %} 
                    {% if conexao.gestor_responsavel %}
                      checked
                    {% endif %}
                  {% endif %}
                {% endfor %}
              >
            </th>
            <th scope="row" style="text-align: center;">
              <input type="checkbox" name="mentor_tecnico" value="{{parceiro.id}}"
                {% for conexao in conexoes %}
                  {% if conexao.projeto == projeto %}
                    {% if conexao.mentor_tecnico %}
                      checked
                    {% endif %}
                  {% endif %}
                {% endfor %}
              >   
            </th>
            <th scope="row" style="text-align: center;">
              <input type="checkbox" name="recursos_humanos" value="{{parceiro.id}}"
                {% for conexao in conexoes %}
                  {% if conexao.projeto == projeto %}
                    {% if conexao.recursos_humanos %}
                      checked
                    {% endif %}
                  {% endif %}
                {% endfor %}
              >   
            </th>
            <td>    
              <a href="{% url 'parceiro_detail' parceiro.id %}"
              {% if not parceiro.user.is_active %} style="color: LightBlue;" {% endif %}>
                {{parceiro.user.get_full_name}} 
              </a>
            </td>
            <td>
              {{parceiro.cargo}} 
            </td>
            
            
            <td>
              <a href="mailto:{{parceiro.user.email}}"
              {% if not parceiro.user.is_active %} style="color: LightBlue;" {% endif %}>
                &lt;{{parceiro.user.email}}&gt;
              </a>
            </td>
            <td>
              {% if parceiro.user.telefone %}
                {{parceiro.user.telefone}}
                {% if parceiro.user.celular %} 
                  &nbsp;/&nbsp;
                  {{parceiro.user.celular}}
                {% endif %}
              {% elif parceiro.user.celular %}
                {{parceiro.user.celular}}
              {% endif %}
            </td>
          </tr>
        {% endwith %}
        {% endfor %}
      </table>
      </div>
    {% else %}
      <p>Não existem parceiros cadastradas para essa organização.</p>
    {% endif %}

    <label for="colaboracao">Colaboração Externa (CE)</label></b>:
    <select class="selectpicker" name="colaboracao" id="colaboracao" title="Selecione quem está colaborando com o projeto"
    data-live-search="true" data-width="560px">
        <option selected value> -- selecione um colaborador(a) -- </option>
        <optgroup label="Organização">
        {% for colaborador in todos_parceiros %}  
          <option value="{{colaborador.id}}" {% if colaborador.id == colaboradores.id %}selected{% endif %}>
            {{colaborador.user.get_full_name}} [{{colaborador.organizacao}}]
          </option>
        {% endfor %}
        </optgroup>
    </select>
    <br><br><br>

    <small><button onclick="location.href='{% url "cadastrar_usuario" %}?tipo=parceiro&organizacao={{projeto.organizacao.id}}'" type="button" style="float: right;">
      Cadastrar Novo Parceiro
    </button></small>

    <input type="submit" value="Fechar Conexões">

    &nbsp;&nbsp;

  </form>

  <script>
    function carrega_pagina(){
      {% include "tooltip.js" %}
    }
    window.onload = carrega_pagina
  </script>

{% endblock %}