{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 18 de Novembro de 2019
{% endcomment %}

{% load static %}
{% load linguas %}

{% block head %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  {% include "edicoes.html" with com_cursos=True %}

  {% if user.eh_prof_a %}
    {% comment %} <a href="{% url 'cadastrar_usuario' %}?tipo=parceiro&organizacao={{projeto.organizacao.id}}"> {% endcomment %}
    {% include "botao_adiciona.html" with url_add="cadastrar_usuario" url_path="?tipo=parceiro" txt_pt="Cadastrar Novo Parceiro" txt_en="Register New Partner" %}
  {% endif %}

  <div id="atualizar">

    {% include "tabelas_top_ml.html" with tabela="Parceiros" cabecalhos=cabecalhos %}
      {% for parceiro in parceiros %}
        <tr class="item" {% if not parceiro.user.is_active %} style="color: lightgrey;" {% endif %}>
          <th scope="row" data-sort="{{parceiro.user.get_full_name}}">
            <a href="{% url 'parceiro_detail' parceiro.id %}"
              {% if not parceiro.user.is_active %} style="color: LightBlue;" {% endif %}>
              {{parceiro.user.get_full_name}} 
            </a>
          </th>
          <td>{{parceiro.user.genero}}</td>
          <td>{{parceiro.cargo}}</td>
          <td class="text-center">
            {% if parceiro.organizacao %}
            <a href="{% url 'organizacao_completo' parceiro.organizacao.id %}"
              {% if not parceiro.user.is_active %} style="color: LightBlue;" {% endif %}>
              {{parceiro.organizacao.sigla}}
            </a>
            {% else %}
              {% lng "Organização não identificada" "Organization not identified" %}
            {% endif %}
          </td>

          <td>
            <a href="mailto:{{parceiro.user.email}}" {% if not parceiro.user.is_active %} style="color: LightBlue;" {% endif %}>
              {{parceiro.user.email}}
            </a>
          </td>
          <td>
            {% if parceiro.user.telefone %}
              {{parceiro.user.telefone}}
              {% if parceiro.user.celular %} 
                &nbsp;/&nbsp;
                {{parceiro.user.celular}}
              {% endif %}
            {% elif parceiro.user.celular %}
              {{parceiro.user.celular}}
            {% endif %}
          </td>
          <td>
            {% with conexoes=parceiro.conexao_set.all %}
              {% for conexao in conexoes %}
                {% if edicao == "todas" %}
                  {% if conexao.projeto %}
                    <a href="{% url 'projeto_infos' conexao.projeto.id %}">
                      {% for papel in conexao.get_papeis %}[{{papel.sigla}}] {% endfor %}
                    </a>
                  {% endif %}
                {% else %}
                  {% if conexao.projeto and conexao.projeto.get_edicao == edicao %}
                    {% for papel in conexao.get_papeis %}[{{papel.sigla}}] {% endfor %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    {% include "tabelas_bottom.html" %}
  </div>

  <script>
    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
    }
    window.onload = carrega_site
  </script>

  {% include "edicoes_ajax.html" with tabela="Parceiros" com_cursos=True %}

{% endblock %}
