{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 18 de Novembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  <div id="language_button" style="user-select: none; border-radius: 10px;border: 2px solid #AAAAAA;float: right; margin-top: 4px; margin-left: 8px;"></div>

  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en">{{ titulo.en }}</span>
    <small class="esconder">
    <a href="{% url 'cadastrar_usuario' %}?tipo=parceiro">&#10133;</a></small>
  </span>

  {% comment %} Seletor da edição da pesquisa {% endcomment %}
  {% include "edicoes.html" %}

  <div class="atualizar">

    {% include "tabelas_top_ml.html" with tabela="Parceiros" cabecalhos=cabecalhos %}
      {% for parceiro in parceiros %}
        <tr class="item" {% if not parceiro.user.is_active %} style="color: lightgrey;" {% endif %}>
          <th scope="row" data-sort="{{parceiro.user.get_full_name}}">
            <a href="{% url 'parceiro_detail' parceiro.id %}"
              {% if not parceiro.user.is_active %} style="color: LightBlue;" {% endif %}>
              {{parceiro.user.get_full_name}} 
            </a>
          </th>
          <td>
            {{parceiro.cargo}} 
          </td>
          <td class="text-center">
            {% if parceiro.organizacao %}
            <a href="{% url 'organizacao_completo' parceiro.organizacao.id %}"
              {% if not parceiro.user.is_active %} style="color: LightBlue;" {% endif %}>
              {{parceiro.organizacao.sigla}}
            </a>
            {% else %}
              Organização não identificada
            {% endif %}
          </td>
          <td>
            <a href="mailto:{{parceiro.user.email}}"
              {% if not parceiro.user.is_active %} style="color: LightBlue;" {% endif %}>
              &lt;{{parceiro.user.email}}&gt;
            </a>
          </td>
          <td>
            {% if parceiro.user.telefone %}
              {{parceiro.user.telefone}}
              {% if parceiro.user.celular %} 
                &nbsp;/&nbsp;
                {{parceiro.user.celular}}
              {% endif %}
            {% elif parceiro.user.celular %}
              {{parceiro.user.celular}}
            {% endif %}
          </td>
          <td>
            {% with conexoes=parceiro.conexao_set.all %}
              {% for conexao in conexoes %}
                {% if edicao == "todas" %}
                  {% if conexao.projeto %}
                    <a href="{% url 'projeto_completo' conexao.projeto.id %}">
                      {% for papel in conexao.get_papeis %}[{{papel.0}}] {% endfor %}]
                    </a>
                  {% endif %}
                {% else %}
                  {% if conexao.projeto and conexao.projeto.get_edicao == edicao %}
                    {% for papel in conexao.get_papeis %}[{{papel.0}}] {% endfor %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
      {% comment %} Não mudar o caption para varias linhas pois o PDF será gerado errado {% endcomment %}
      <caption style="text-align:right;"><small>{% for _,captions  in Conexao.papel.items %}<span style="white-space: nowrap;">{{captions.1}}: {{captions.0}}</span>{% if not forloop.last %} / {% endif %}{% endfor %}</small></caption>
    </table> 
    </div> {% comment %} do "tabelas_top.html" {% endcomment %}

    <script>
      function carrega_pagina() {};
      function carrega_site(){
        carrega_pagina();
      };
      window.onload = carrega_site
    </script>

  </div>

  {% include "edicoes_ajax.html" with tabela='Parceiros' %}

  {% comment %} Sistema de controle de exibição de linguas. {% endcomment %}
  {% include "linguas.html" %}

{% endblock %}