{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}


<a href="{% url 'servico' %}">Habilitar Aviso de Manutenção</a><br>
<a href="{% url 'configurar' %}">Configurar Sistema</a><br>
<br>

<h5>Cadastrar</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'cadastrar_organizacao' %}">Organização</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'cadastrar_usuario' %}">Usuário</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'cadastrar_disciplina' %}">Disciplina</a></div>
<br>

<h5>Contas e Senhas</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'contas_senhas' %}">Envia Contas e Senhas para Estudantes</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'nomes' %}">Ajustar Maiúsculas e Minúsculas de Nomes de Usuários</a></div>
<br>

<h5>Dados</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'index_carregar' %}">Carregar Dados</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'exportar' 'relatorios' %}">Gerar Relatórios</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'exportar' 'dados' %}">Exportar Dados</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'exportar_documentos_projetos' %}">Exportar Relatórios dos Projetos</a></div>
<br>

<h5>Supervisão de Sistema</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'conexoes_estabelecidas' %}">Usuários Conectados</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'logs' %}">Logs de Sistema</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'bloqueados' %}">Usuários/IPs Bloqueados</a></div>
