{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 27 de Abril de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load get_field %}

  <style>
    textarea {
      max-width:100%;
    }
  </style>

  {% comment %} <script src="https://www.geradorcnpj.com/assets/js/jquery.maskedinput-1.1.4.pack.js"></script> {% endcomment %}
  {% comment %} <script src="{% static 'js/jquery.maskedinput-1.1.4.pack.js' %}"></script> {% endcomment %}
  <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function(){	
      $("#cnpj").mask("99.999.999/9999-99");
    });
  </script>

{% endblock %}

{% block content %}

  <span class="titulo">
    {% if edicao %}
      Edição
    {% else %}
      Cadastro
    {% endif %}
    de Organização
  </span>
  <br>

  <form method="post" id="organizacaoform" enctype="multipart/form-data"> {% csrf_token %}
    
    <label for="organizacao">Nome da Organização:<br></label><br>
    <textarea id="nome" name="nome" rows="1" cols="80" maxlength="{% max_length organizacao "nome" %}" required>{% if organizacao.nome %}{% slice_max_length organizacao "nome" %}{% elif proposta.nome_organizacao %}{% slice_other_max_length proposta.nome_organizacao organizacao "nome" %}{% endif %}</textarea>
    <br><br>

    <label for="sigla">Sigla:</label> <input type="text" size="48" maxlength="{% max_length organizacao "sigla" %}" id="sigla" name="sigla" value="{% if organizacao.sigla %}{% slice_max_length organizacao "sigla" %}{% elif proposta.nome_organizacao %}{% slice_other_max_length_upper proposta.nome_organizacao organizacao "sigla" %}{% endif %}" required><br><br>

    <label for="endereco">Endereço:<br></label><br>
    <textarea id="endereco" name="endereco" rows="3" cols="80" maxlength="{% max_length organizacao "endereco" %}">{% if organizacao.endereco %}{% slice_max_length organizacao "endereco" %}{% elif proposta.endereco %}{% slice_other_max_length proposta.endereco organizacao "endereco" %}{% endif %}</textarea>
    <br><br>

    <label for="website">website:</label><input type="text" size="73" maxlength="{% max_length organizacao "website" %}" id="website" name="website" value="{% if organizacao.website %}{% slice_max_length organizacao "website" %}{% elif proposta.website %}{% slice_other_max_length proposta.website organizacao "website" %}{% endif %}" placeholder="https://www.insper.edu.br"><br><br>

    <label for="informacoes">Informações sobre a organização:</label><br>
    <textarea id="informacoes" name="informacoes" rows="4" cols="80" maxlength="{% max_length organizacao "informacoes" %}">{% if organizacao.informacoes %}{% slice_max_length organizacao "informacoes" %}{% elif proposta.descricao_organizacao %}{% slice_other_max_length proposta.descricao_organizacao organizacao "informacoes" %}{% endif %}</textarea>
    <br><br>

    <label for="logo">Logotipo da organização:</label>
    <input id="logo" type="file" name="logo" accept="image/*">
    {% if organizacao and organizacao.logotipo %}
      <br><a href="http://{{request.get_host}}{{organizacao.logotipo.url}}">
        <span class="full-text">http://{{request.get_host}}{{organizacao.logotipo.url}}</span>
      </a>
    {% endif %}
    
    <br><br>

    <label for="cnpj">CNPJ:</label> <input type="text" id="cnpj" name="cnpj" size="19" value="{% if organizacao.cnpj %}{{organizacao.cnpj}}{% endif %}"><br>

    <label for="inscricao_estadual">Inscrição Estadual:</label> <input type="text" size="48" id="inscricao_estadual" name="inscricao_estadual" value="{% if organizacao.inscricao_estadual%}{{organizacao.inscricao_estadual}}{% endif %}"><br>
    <label for="razao_social">Razão Social:</label> <input type="text" size="48" id="razao_social" name="razao_social" value="{% if organizacao.razao_social %}{{organizacao.razao_social}}{% endif %}"><br>
    
    <label for="ramo_atividade">Ramo de Atividade:</label><br>
    <textarea id="ramo_atividade" name="ramo_atividade" rows="4" cols="80" maxlength="256">{% if organizacao.ramo_atividade%}{{organizacao.ramo_atividade}}{% endif %}</textarea>
    <br><br>

    <input type="submit" value="{% if edicao %}Atualizar{% else %}Cadastrar{% endif %} Organização Parceira">
    
  </form>

{% endblock %}