{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 30 de Abril de 2020
{% endcomment %}

{% block head %}
  <style>
    textarea {
      max-width:100%;
    }
  </style>
{% endblock %}

{% block content %}

  <span class="titulo">
    {% if usuario %}
      Edição
    {% else %}
      Cadastro
    {% endif %}
    de Usuário
  </span>
  <br>

  <form class="myForm" action="" method="post"> {% csrf_token %}
  
    <input type="radio" class="tipo" name="tipo_de_usuario" id="estudante" value="estudante" required {% if tipo == "estudante"%}checked="checked"{% endif %}> <label for="estudante"> Estudante</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" class="tipo" name="tipo_de_usuario" id="professor" value="professor" required {% if tipo == "professor"%}checked="checked"{% endif %}> <label for="professor"> Professor</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" class="tipo" name="tipo_de_usuario" id="parceiro" value="parceiro" required {% if tipo == "parceiro"%}checked="checked"{% endif %}> <label for="parceiro"> Parceiro</label>
    <br><br>

    <label for="nome">Nome do Usuário<br></label><br>
    <input type="text" size="80" maxlength="80" id="nome" name="nome" value="{{usuario.get_full_name}}"
      pattern="^[\s]*\S+(?:[\s]+\S+){1,99}[\s]*$" oninvalid="this.setCustomValidity('Digite o nome completo')" oninput="this.setCustomValidity('')" required><br>
    <br><br>

    <label for="email">e-mail:</label> <input type="email" size="73" maxlength="73" id="email" name="email" value="{{usuario.email}}" oninvalid="this.setCustomValidity('Digite um e-mail válido')" oninput="this.setCustomValidity('')" required><br><br>

    <input type="radio" name="genero" id="masculino" value="masculino" {% if usuario.genero == 'M'%}checked{% endif %}> <label for="masculino"> Masculino</label>&nbsp;&nbsp;&nbsp;
    <input type="radio" name="genero" id="feminino" value="feminino" {% if usuario.genero == 'F'%}checked{% endif %}> <label for="feminino"> Feminino</label>

    <br><br>

    <label for="linkedin">LinkedIn:</label> <input type="text" size="73" maxlength="73" id="linkedin" name="linkedin" value="{% if usuario.linkedin %}{{usuario.linkedin}}{% endif %}" placeholder="https://www.linkedin.com/"><br>

    <br><label for="lingua">Língua</label>:
    <select name="lingua" id="lingua" title="Linguagem">
      <option value=1 selected>Português</option>  
      <option value=2>Inglês</option>  
    </select><br>

    {% comment %}
    <input type="checkbox" id="membro_comite" name="membro_comite" value="True">
    <label for="membro_comite"> Membro do Comitê</label><br>  
    {% endcomment %}

    <br><br>

    {% comment %} Estudante {% endcomment %}
    <div style="display: block; padding-left: 32px" class="row" data-type="estudante">

      <label for="matricula">Matrícula: </label> <input type="text" size="8" maxlength="8" id="matricula" name="matricula" value="{{usuario.aluno.matricula}}"><br>
 
      Curso: 
      <input type="radio" name="curso" id="computacao" value="computacao" {% if usuario.aluno.curso == 'C' %}checked{% endif %} required> <label for="computacao"> Computação</label>&nbsp;&nbsp;&nbsp;
      <input type="radio" name="curso" id="mecanica" value="mecanica" {% if usuario.aluno.curso == 'M' %}checked{% endif %} required> <label for="mecanica"> Mecânica</label>&nbsp;&nbsp;&nbsp;
      <input type="radio" name="curso" id="mecatronica" value="mecatronica" {% if usuario.aluno.curso == 'X' %}checked{% endif %} required> <label for="mecatronica"> Mecatrônica</label>
      <br>
      <label for="ano">Ano PFE: </label> 
      <input type="number" id="ano" name="ano" min="2018" max="3018" value="{{usuario.aluno.anoPFE}}" required>&nbsp;&nbsp;&nbsp;
      <label for="semestre">Semestre PFE: </label> 
      <input type="number" id="semestre" name="semestre" min="1" max="2" value="{{usuario.aluno.semestrePFE}}" required>

    </div>

    {% comment %} Professor {% endcomment %}
    <div style="display: block; padding-left: 32px" class="row" data-type="professor">

      Dedicação: 
      <input type="radio" name="dedicacao" id="ti" value="ti" {% if usuario.professor.dedicacao == "TI" %}checked{% endif %} required> <label for="ti"> TI</label>&nbsp;&nbsp;&nbsp;
      <input type="radio" name="dedicacao" id="tp" value="tp" {% if usuario.professor.dedicacao == "TP" %}checked{% endif %} required> <label for="tp"> TP</label>
      <br>

      <label for="areas">Áreas de interesse: </label> <input type="text" size="75" maxlength="500" id="areas" name="areas" value="{{usuario.professor.areas}}"><br>
 
      <label for="website">website:</label><input type="text" size="73" maxlength="250" id="website" name="website" value="{{usuario.professor.website}}" placeholder="https://www.insper.edu.br/"><br>
      <label for="lattes">lattes:</label><input type="text" size="73" maxlength="73" id="lattes" name="lattes" value="{{usuario.professor.lattes}}" placeholder="https://lattes.cnpq.br/"><br>

    </div>

    {% comment %} Parceiro {% endcomment %}
    <div style="display: block; padding-left: 32px" class="row" data-type="parceiro">

      <br><b><label for="organizacao">Organização</label></b>:
      <select name="organizacao" id="organizacao" title="Selecione organização" required>
          <option disabled selected value> -- selecione uma organização -- </option>
          {% for organizacao in organizacoes %}
            <option value="{{organizacao.id}}" {% if organizacao_selecionada.id == organizacao.id %}selected="selected"{% endif %} >
              {{organizacao.nome}}
            </option>  
          {% endfor %}
      </select><br>

      <label for="cargo">cargo:</label><input type="text" size="50" maxlength="90" id="cargo" name="cargo" value="{{usuario.parceiro.cargo}}"><br>
      
      <label for="telefone">telefone:</label><input type="text" size="20" maxlength="20" id="telefone" name="telefone" value="{{usuario.parceiro.telefone}}"><br>
      <label for="celular">celular:</label><input type="text" size="20" maxlength="20" id="celular" name="celular" value="{{usuario.parceiro.celular}}"><br>
      <label for="skype">skype:</label><input type="text" size="32" maxlength="32" id="skype" name="skype" value="{{usuario.parceiro.skype}}"><br>

      <label for="observacao">Observações:</label><br>
      <textarea id="observacao" name="observacao" rows="4" cols="80" maxlength="500">{{usuario.parceiro.observacao}}</textarea><br>

      <input type="checkbox" id="principal_contato" name="principal_contato" value="True" {% if usuario.parceiro.principal_contato %}checked{% endif %}>
      <label for="principal_contato"> Principal Contato</label><br>

    </div>

    <br><br>
    <input type="submit" value="{% if usuario %}Atualiza{% else %}Cadastrar{% endif %} Usuário">
    
    {% comment %}
        <label for="endereco">Endereço<br></label><br>
    <textarea id="endereco" name="endereco" rows="3" cols="80" maxlength="1000">{{endereco}}</textarea>
    <br><br>

      {% if edicao %}
        <input type="submit" value="Atualizar Dados do Usuário">
      {% else %}
      {% endif %}
    {% endcomment %}

  </form>


  <script type="text/javascript">

    function filtra_data() {
      var filterValue = $("input:radio[name=tipo_de_usuario]:checked").val()
      var row = $('.row'); 
      row.hide();

      row.each(function(i, el) {
        if( filterValue == $(el).attr('data-type') ) {
            $(el).show();
        }
      });

      // Para não validar o que está escondido
      $("div:hidden").children('input').attr("disabled", true);
      $("div:hidden").children('select').attr("disabled", true);

      // Para validar o que está visível
      $("div:visible").children('input').attr("disabled", false);
      $("div:visible").children('select').attr("disabled", false);

    }

    $(".tipo").change(function(){
      filtra_data();
    });  

    $(document).ready(function(){
      filtra_data();
    });
  
  </script>

  <p>&nbsp;</p>

{% endblock %}