{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Dezembro de 2023
{% endcomment %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/tab_simples.css' %}">
  <script src="{% static 'js/w3.js' %}"></script>
{% endblock %}

{% block content %}

  <span class="titulo">Conexões Abertas</span>

  <div class="table-responsive">
    <table id="UsuariosTable" class="table-bordered table-sm">
      <thead class="table-info">
        <tr>
          <th onclick="w3.sortHTML('#UsuariosTable', '.item', 'td:nth-child(1)')">Usuário</th>
          <th onclick="w3.sortHTML('#UsuariosTable', '.item', 'td:nth-child(2)')">Tipo</th>
          <th onclick="w3.sortHTML('#UsuariosTable', '.item', 'td:nth-child(3)')">Autenticado</th>
          <th onclick="w3.sortHTML('#UsuariosTable', '.item', 'td:nth-child(4)')">Conectado desde</th>
          <th onclick="w3.sortHTML('#UsuariosTable', '.item', 'td:nth-child(5)')">Permissões</th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %} 
          <tr class="item">
            <td>{{ usuario.usuario.get_full_name }}</td>
            <td>{{ usuario.usuario.get_tipo_de_usuario_display }}</td>
            <td>{{ usuario.autenticado }}</td>
            <td>{{ usuario.desde }}</td>
            <td>{{ usuario.permissoes }}</td>
          </tr>
        {% empty %}
          <tr><td colspan="5">Nenhum usuário conectado</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>

  <strong>Total de Conexões Válidas:</strong> {{ usuarios|length }}<br>

  <br><br>
  {% if mensagem %}
    <span class="red-bold">{{mensagem|linebreaks}}</span>
  {% endif %}
  <br>

{% endblock %}
