{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 30 de Maio de 2020
{% endcomment %}

{% block head %}
  <style>
    .signature {
      width: 250px;
      border-bottom: 2px solid #000;
    }
  </style>
{% endblock %}

{% block content %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <span class="titulo">Configurar</span>

    <br>
    
    Período Liberado&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;<label for="periodo_ano">ano:</label> <input id="periodo_ano" name="periodo_ano" type="number" min="2018" max="9999" step="1" value="{{configuracao.ano}}"/>
    &nbsp;&nbsp;&nbsp;<label for="periodo_semestre">semestre:</label> <input id="periodo_semestre" name="periodo_semestre" type="number" min="1" max="2" step="1" value="{{configuracao.semestre}}"/>
    <small><br>(Somente troque quando o semestre mudar oficialmente, em geral trocar um pouco antes do começo das aulas)</small>
    
    <br><br><hr><br>
    <label for="limite_propostas">Prazo limite para seleção de propostas por estudantes:</label> <input id="limite_propostas" type = "datetime-local" name="limite_propostas" value="{{configuracao.prazo|date:'Y-m-d\TH:i:s'}}">
    <br>
    <input type="checkbox" id="liberadas_propostas" name="liberadas_propostas" {% if configuracao.liberadas_propostas %}checked{% endif %}>
    <label for="liberadas_propostas"> Propostas Liberadas para Estudantes</label>
    <small>(Estudantes conseguirão ver as propostas para aplicar)</small>
    <br>
    
    <input type="checkbox" id="liberados_projetos" name="liberados_projetos" {% if configuracao.liberados_projetos %}checked{% endif %}>
    <label for="liberados_projetos"> Projetos Liberados para Estudantes</label>
    <small>(Estudantes conseguirão ver os projetos em que foram alocados)</small>

    <br><br><hr><br>
    <label for="prazo_preencher_banca">Prazo para avaliadores preencherem a avaliação de banca:</label> <input id="prazo_preencher_banca" name="prazo_preencher_banca" style="text-align:right;" type="number" min="0" max="9999" step="1" value="{{configuracao.prazo_preencher_banca}}"/> dias
    
    <br><br><hr><br>
    <label for="coordenador">Nome do coordenador:</label> <input id="coordenador" name="coordenador" type="text" size="36" maxlength="{{coord_length|add:-2}}" value="{{configuracao.coordenador}}"/><br>
    <label for="assinatura">Assinatura (proporção ~250x70):</label>
    <input id="assinatura" type="file" name="assinatura" accept="image/*">
    {% if configuracao.assinatura %}
      <br><a href="http://{{request.get_host}}{{configuracao.assinatura.url}}">
        <span class="full-text">http://{{request.get_host}}{{configuracao.assinatura.url}}</span><br>
        <img class="signature" src="{{configuracao.assinatura.url}}">
      </a>
    {% endif %}
    
    <br><br><br><br>
    <button type="submit">Confirmar</button>
  </form>
{% endblock %}