{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 30 de Maio de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load get_field %}
  <style>
    .signature {
      width: 250px;
      border-bottom: 2px solid #000;
    }
  </style>
{% endblock %}

{% block content %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <span class="titulo">Configurar</span>
    <br>

    Copia calendário:
    
    <a class="btn btn-primary mb-1" href="{% url 'copia_calendario' %}" onClick="return confirm('Tem certeza que deseja dupplicar todos os eventos de um semestre para o outro?')" >{{configuracao.periodo}} =&gt; {{configuracao.proximo_periodo}}</a>
    <br><br>

    Período Liberado&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;<label for="periodo_ano">ano:</label> <input id="periodo_ano" name="periodo_ano" type="number" min="2018" max="9999" step="1" value="{{configuracao.ano}}"/>
    &nbsp;&nbsp;&nbsp;<label for="periodo_semestre">semestre:</label> <input id="periodo_semestre" name="periodo_semestre" type="number" min="1" max="2" step="1" value="{{configuracao.semestre}}"/>
    <small>
      <br>(Somente troque quando o semestre mudar oficialmente, em geral trocar um pouco antes do começo das aulas)
      <br>(Estudantes conseguirão ver os projetos em que foram alocados a partir da data liberada e do projeto)
      <br>
    </small>
    <br><br><hr><br>
    <label for="prazo_preencher_banca">Prazo para avaliadores preencherem a avaliação de banca:</label> <input id="prazo_preencher_banca" name="prazo_preencher_banca" style="text-align:right;" type="number" min="0" max="9999" step="1" value="{{configuracao.prazo_preencher_banca}}"/> dias
    
    <br><br><hr><br>

    <label for="coordenacao"><span lang="pt">Coordenador PFE</span>: </label>
    <select name="coordenacao" id="coordenacao" title="Selecione o coordenador do PFE" required>
      {% for administrador in administradores %}
        <option value="{{administrador.id}}" {% if administrador.id == configuracao.coordenacao.id %}selected{% endif %}>
          {{administrador.user.get_full_name}}
        </option>
      {% endfor %}
    </select>
    <br>

    <label for="coordenador">Nome para certificados:</label> <input id="coordenador" name="coordenador" type="text" size="36" maxlength="{% max_length configuracao "coordenador" %}" value="{{configuracao.coordenador}}"/><br>
    <label for="assinatura">Assinatura (proporção ~250x70):</label>
    <input id="assinatura" type="file" name="assinatura" accept="image/*">
    {% if configuracao.assinatura %}
      <br><a href="{{request.scheme}}://{{request.get_host}}{{configuracao.assinatura.url}}">
        <span class="full-text">{{request.scheme}}://{{request.get_host}}{{configuracao.assinatura.url}}</span><br>
        <div style="border: 1px solid #000; border-style: dotted; padding: 8px; width:fit-content;"><img class="signature" src="{{configuracao.assinatura.url}}"></div>
      </a><br>

    {% endif %}
     
    <br><br>
    <button class=" mb-1" type="submit">Confirmar</button>
  </form>
{% endblock %}