{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 13 de Outubro de 2024
{% endcomment %}

{% block head %}
<style>
  td {
    padding-right: 6px;
    padding-left: 6px;
  }
</style>
{% endblock %}

{% block content %}

  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en">{{ titulo.en }}</span>
  </span>

  <form method="post"> {% csrf_token %}

    {% include "edicoes.html" %}
    <br>

    {% if modo == "relatorios" %}
      <table>
        {% for nome, dado in relatorios %}
          <tr>
            <td>{{ nome }}</td>
            <td><a href="{% url 'relatorio' dado 'HTML'%}">HTML</a></td>
            <td><a href="{% url 'relatorio' dado 'PDF'%}">PDF</a></td>
          </tr>
        {% endfor %}
      </table>
      <br><br>
    {% endif %}

    {% if modo == "dados" %}
      <table>
        <tr>
          <td>Tudo</td>
          <td></td>
          <td><b><a href="{% url 'backup' 'xls'%}">XLS</a></b></td>
          <td><b><a href="{% url 'backup' 'json'%}">JSON</a></b></td>
        </tr>
        {% for nome, dado in dados %}
          <tr>
            <td>{{ nome }}</td>
            <td><a href="{% url 'export' dado 'csv'%}">CSV</a></td>
            <td><a href="{% url 'export' dado 'xls'%}">XLS</a></td>
            <td><a href="{% url 'export' dado 'json'%}">JSON</a></td>
          </tr>
        {% endfor %}
      </table>
      <br>
      <br>
    {% endif %}

    Envia mensagem com dados<br>
    <label for="email">e-mail:</label> <input type="email" size="40" id="email" name="email" value="{{user.email}}" oninvalid="this.setCustomValidity('Digite um e-mail válido')" oninput="this.setCustomValidity('')" required><br>
    <input type="submit" class="btn btn-primary mb-1 mt-2" value="Enviar">

  </form>

{% endblock %}
