{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 12 de Novembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load escape_emails %}
  <script>{% include "tooltip.js" %}</script>
  <script>
    function manda(estudantes, orientador, parceiros, projeto, avancado) {
      mailto = "mailto:";
      if($('.estudantes:checked').val()) {
        mailto += estudantes;
      }
      if($('.orientador:checked').val()) {
        mailto += orientador;
      }
      if($('.parceiros:checked').val()) {
        mailto += parceiros;
      }
      mailto += "?cc=Luciano%20Pereira%20Soares<lpsoares@insper.edu.br>,PFE<pfe@insper.edu.br>";
      mailto += "&bcc=Comite%20PFE<comitepfe@insper.edu.br>";
      mailto += "&subject=PFE%20"
      if(avancado) {
        mailto += "Avançado%20";
      }
      mailto += "-%20Projeto:%20"
      mailto += projeto
      mailto += "&body=Caros,%0D%0A%0D%0A";
      mailto += "atenciosamente,%20coordenação%20PFE";
      window.open(mailto);
    }
  </script>
{% endblock %}

{% block content %}

  <span class="titulo">Listas de e-mails</span>

  {% if membros_comite %}
    <a href="
      mailto:{% for membro in membros_comite %}{{membro.first_name|parse_quote}}%20{{membro.last_name|parse_quote}}%20&lt;{{membro.email|parse_quote}}&gt;,{% endfor %}
      ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
      &amp;subject=PFE%20Comitê&amp;body=Caros%20membros%20do%20comitê%20do%20PFE,%0D%0A%0D%0A
      atenciosamente,%20coordenação%20PFE
    ">Comitê do PFE</a><br>
    <br>
  {% endif %}

  Todos do semestre
  <table>
    {% for semestre,alunos,orientadores,parceiros,bancas in email_todos %}
      <tr>
        <td>{{semestre}}</td>
        <td>
          {% if alunos %}
            <a href="
              mailto:{% for aluno in alunos %}{{aluno.user.first_name|parse_quote}}%20{{aluno.user.last_name|parse_quote}}%20&lt;{{aluno.user.email|parse_quote}}&gt;,{% endfor %}
              ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
              &amp;bcc=Comite%20PFE&lt;comitepfe@insper.edu.br&gt;
              &amp;subject=PFE%20{{semestre}}&amp;body=Caros%20alunos,%0D%0A%0D%0A
              atenciosamente,%20coordenação%20PFE
            ">Alunos</a><br>
          {% endif %}
        </td>
        <td>
          {% if orientadores %}
            <a href="
              mailto:{% for orientador in orientadores %}{{orientador.user.first_name|parse_quote}}%20{{orientador.user.last_name|parse_quote}}%20&lt;{{ orientador.user.email|parse_quote }}&gt;,{% endfor %}
              ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
              &amp;bcc=Comite%20PFE&lt;comitepfe@insper.edu.br&gt;
              &amp;subject=PFE%20{{semestre}}&amp;body=Caros%20orientadores,%0D%0A%0D%0A
              atenciosamente,%20coordenação%20PFE
            ">Orientadores</a><br>
          {% endif %}
        </td>
        <td>
          {% if parceiros %}
            <a href="
              mailto:{% for parceiro in parceiros %}{{parceiro.user.first_name|parse_quote}}%20{{parceiro.user.last_name|parse_quote}}%20&lt;{{ parceiro.user.email|parse_quote }}&gt;,{% endfor %}
              ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
              &amp;bcc=Comite%20PFE&lt;comitepfe@insper.edu.br&gt;
              &amp;subject=PFE%20{{semestre}}&amp;body=Caros%20parceiro%20do%20PFE,%0D%0A%0D%0A
              atenciosamente,%20coordenação%20PFE
            ">Parceiros</a><br>
          {% endif %}
        </td>
        <td>
          {% if bancas %}
            <a href="
              mailto:{% for banca in bancas %}{{banca.first_name|parse_quote}}%20{{banca.last_name|parse_quote}}%20&lt;{{ banca.email|parse_quote }}&gt;,{% endfor %}
              ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
              &amp;bcc=Comite%20PFE&lt;comitepfe@insper.edu.br&gt;
              &amp;subject=PFE%20{{semestre}}&amp;body=Caros%20membros%20de%20bancas%20do%20PFE,%0D%0A%0D%0A
              atenciosamente,%20coordenação%20PFE
            ">Bancas</a><br>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <br>

  Todos divididos por projeto (
  <label for="estudantes">Estudantes</label><input id="estudantes" class="estudantes" type="checkbox" checked>&nbsp;
  <label for="orientador">Orientador</label><input id="orientador" class="orientador" type="checkbox" checked>&nbsp;
  <label for="parceiros">Conexões</label><input id="parceiros" class="parceiros" type="checkbox" checked>&nbsp;
  ):
  <table>
    {% for semestre,projetos in email_p_semestre %}
      {% if projetos %}
        <tr>
          <td>{{semestre}}</td>
          {% for projeto, pessoas in projetos.items %}
            <td>
              {% if pessoas %}
                <a href="javascript:manda(
                  '{% for pessoa in pessoas.estudantes %}{%if pessoa %}{{pessoa.user.first_name|parse_quote}}%20{{pessoa.user.last_name|parse_quote}}%20&lt;{{ pessoa.user.email|parse_quote }}&gt;,{% endif %}{% endfor %}',
                  '{% for pessoa in pessoas.orientador %}{%if pessoa %}{{pessoa.user.first_name|parse_quote}}%20{{pessoa.user.last_name|parse_quote}}%20&lt;{{ pessoa.user.email|parse_quote }}&gt;,{% endif %}{% endfor %}',
                  '{% for pessoa in pessoas.conexoes %}{%if pessoa %}{{pessoa.parceiro.user.first_name|parse_quote}}%20{{pessoa.parceiro.user.last_name|parse_quote}}%20&lt;{{ pessoa.parceiro.user.email|parse_quote }}&gt;,{% endif %}{% endfor %}',
                  '{{projeto}}',
                  {% if projeto.avancado %}true{% else %}false{% endif %}
                );
                "
                data-toggle="tooltip" data-html="true" animation="true" title="
                  {{projeto}}
                "
                >p{{projeto.pk}}</a><br>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  <br>

  {% if todos_alunos %}
    <a href="
      mailto:{% for aluno in todos_alunos %}{{aluno.user.first_name|parse_quote}}%20{{aluno.user.last_name|parse_quote}}%20&lt;{{ aluno.user.email|parse_quote }}&gt;,{% endfor %}
      ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
      &amp;bcc=ComitePFE&lt;comitepfe@insper.edu.br&gt;
      &amp;subject=PFE%20&amp;body=Caros%20alunos,%0D%0A%0D%0A
      atenciosamente,%20coordenação%20PFE
    ">Todos os alunos do PFE</a><br>
  {% endif %}

  {% if todos_professores %}
    <a href="
      mailto:{% for professor in todos_professores %}{{professor.user.first_name|parse_quote}}%20{{professor.user.last_name|parse_quote}}%20&lt;{{ professor.user.email|parse_quote }}&gt;,{% endfor %}
      ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
      &amp;bcc=Comite%20PFE&lt;comitepfe@insper.edu.br&gt;
      &amp;subject=PFE&amp;body=Caros%20professores%20do%PFE,%0D%0A%0D%0A
      atenciosamente,%20coordenação%20PFE
    ">Todos os professores do PFE</a><br>
  {% endif %}

  {% if todos_parceiros %}
    <a href="
      mailto:{% for parceiro in todos_parceiros %}{{parceiro.user.first_name|parse_quote}}%20{{parceiro.user.last_name|parse_quote}}%20&lt;{{ parceiro.user.email|parse_quote }}&gt;,{% endfor %}
      ?cc=Luciano%20Pereira%20Soares&lt;lpsoares@insper.edu.br&gt;,PFE&lt;pfe@insper.edu.br&gt;
      &amp;bcc=Comite%20PFE&lt;comitepfe@insper.edu.br&gt;
      &amp;subject=PFE&amp;body=Caros%20parceiro%20do%PFE,%0D%0A%0D%0A
      atenciosamente,%20coordenação%20PFE
    ">Todos os parceiros do PFE</a><br>
  {% endif %}

{% endblock %}