{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 4 de Agosto de 2019
{% endcomment %}

{% block head %}
<style>
  td {
    padding-right: 6px;
    padding-left: 6px;
  }
</style>
{% endblock %}

{% block content %}

  <span class="titulo">{{ titulo }}</span>

  <form method="post"> {% csrf_token %}

    {% include "edicoes.html" %}
    <br>

    <table>
      {% for nome, dado in dados %}
        <tr>
          <td>{{ nome }}</td>
          <td><input type="checkbox" name="dados" value="{{dado}}"></td>
        </tr>
      {% endfor %}
    </table>
    <br>
    
    <input type="submit" class="btn btn-primary mb-1 mt-2" name="formato" value="CSV">
    <input type="submit" class="btn btn-primary mb-1 mt-2" name="formato" value="XLS">
    <input type="submit" class="btn btn-primary mb-1 mt-2" name="formato" value="JSON">

  </form>

  <script>

    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
    };

    window.onload = carrega_site

  </script>

{% endblock %}
