{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 25 de Junho de 2020
{% endcomment %}

{% load static %}
{% load bleach %}
{% load conexoes %}
{% load linguas %}
{% load propostas %}

{% block head %}
  <style>
    .projeto_sel {
      border: 1px solid #ccc;
      padding: 12px;
      margin-bottom: 5px;
      rouding: 5px;
      border-radius: 5px;
      background: #FFFFFF;
    }

    #lista_projetos {
      display: block;
      width: calc(100% - 29em);
    }

    .contatos_apres {
      border:1px solid grey;
      padding: 2px 4px 2px 4px;
      margin: 6px 2px 2px 10px;
      border-radius: 5px;
      width: 90%;
    }

    @media (max-width: 1200px) {
      #lista_projetos {
        width: 100%;
      }
      .contatos_apres {
        width: calc(100% - 8px);
      }
    }

    .btn-outline-success:hover {
      background-color: lightgreen !important;
    }

  </style>

{% endblock %}

{% block content %}

  <div id="lista_projetos">
  {% if projetos %}

    {% for projeto in projetos %}
    <div class="projeto_sel" >
      <a href="{% url 'organizacao_completo' projeto.organizacao.id %}" class="dark-blue-bold">{{ projeto.organizacao.nome }}</a> -
      <a href="{% url 'projeto_infos' projeto.id %}"> {{projeto.get_titulo}}</a>
      <br>
      
      {% with conexoes=projeto.conexao_set.all %}
      <table class="table table-borderless table-sm" style="width: 51.5em; border-collapse:separate; border-spacing: 4px 6px; margin-left: 6px; margin-right: 12px; margin-bottom: 6px; border: 0px;">
        <tbody>
          {% for parceiro in projeto.organizacao.parceiro_set.all %}
            <tr style="background: #F0F0F0; line-height:1; height: 1px;">
              <td class="nomes_conec" style="width: 97%;  vertical-align: middle;">
                <a href="{% url 'parceiro_detail' parceiro.id %}">{{ parceiro.user.get_full_name }}</a>
                <a href="mailto:{{parceiro.user.email}}"> &lt;{{parceiro.user.email}}&gt;</a>
                {% comment %} {% for papel in parceiro.get_papeis %} CREIO NAO ESTAR SENDO USADO
                  <span class="texto-longo">[{{papel.sigla}}]</span>
                  <span class="texto-curto" data-toggle="tooltip" data-html="true" animation="true" title="{{papel.sigla}}">[{{papel.nome}}]</span>
                {% endfor %} {% endcomment %}
                {% if parceiro..user.observacoes %}&nbsp;&nbsp;obs: {{parceiro..user.observacoes}}{% endif %}
              </td>
              {% with conexao=conexoes|get_conexao:parceiro %}
                  <td style="text-align: center; padding: 0px; width: 1%; height: inherit;">
                      <div class="btn-group-toggle" data-toggle="buttons" style="height: 100%;">
                        <label class="btn btn-outline-success btn-sm
                        {% if conexao and conexao.gestor_responsavel %}active{% endif %}
                        " style="padding-bottom: 1px; padding-top: 1px; height: 100%; display: flex; align-items: center;">
                          <input class="conexao" type="checkbox" data-projeto="{{projeto.id}}"
                                 name="gestor_responsavel" value="{{parceiro.id}}" checked>GR</label>
                      </div>
                    </td>
                  <td style="text-align: center; padding: 0px; width: 1%; height: inherit;">
                      <div class="btn-group-toggle" data-toggle="buttons" style="height: 100%;">
                        <label class="btn btn-outline-success btn-sm
                        {% if conexao and conexao.mentor_tecnico %}active{% endif %}
                        " style="padding-bottom: 1px; padding-top: 1px; height: 100%; display: flex; align-items: center;">
                          <input class="conexao" type="checkbox" data-projeto="{{projeto.id}}"
                                 name="mentor_tecnico" value="{{parceiro.id}}" checked>MT</label>
                      </div>
                    </td>
                  <td style="text-align: center; padding: 0px; width: 1%; height: inherit;">
                      <div class="btn-group-toggle" data-toggle="buttons" style="height: 100%;">
                        <label class="btn btn-outline-success btn-sm
                        {% if conexao and conexao.recursos_humanos %}active{% endif %}
                        " style="padding-bottom: 1px; padding-top: 1px; height: 100%; display: flex; align-items: center;">
                          <input class="conexao" type="checkbox" data-projeto="{{projeto.id}}"
                                 name="recursos_humanos" value="{{parceiro.id}}" checked>AA</label>
                      </div>
                    </td>
              {% endwith %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="contatos_apres" style="background: #F5F5F5;">
        <strong>{% lng "Proposta criado por" "Proposal created by" %}:</strong>
        {{projeto.proposta.nome}} 
        <a href="mailto:{{projeto.proposta.email}}">&lt;{{projeto.proposta.email}}&gt;</a>
      </div>
      <div class="contatos_apres" style="background: #F5F5F5;">
        <strong>
          {% lng "Contatos Técnicos apresentados na Proposta" "Technical Contacts presented in the Proposal" %}
        </strong><br>
        <div class="row g-2 ml-1 mt-2">
          {% if projeto.proposta.contatos_tecnicos.strip %}
            <div class="col-11">
              <div class="card shadow-sm mb-2 border-primary">
                <div class="card-body py-1 pl-2 pr-1">
                  {{projeto.proposta.contatos_tecnicos|linebreaks|bleach_urlize|safe}}
                  <div style="margin-top: 2px;">
                    <a class="btn btn-sm btn-success px-1 py-1 float-right" style="font-size: 0.6em; line-height: 1.0;" target="_blank" rel="noopener noreferrer"
                      href='{% url "cadastrar_usuario" %}?tipo=parceiro&organizacao={{projeto.organizacao.id}}&proposta={{projeto.proposta.id}}'>
                      <i class="fa fa-user-plus"></i> {% lng "Cadastrar" "Register" %}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% elif projeto.proposta|contatos_tec %}
            {% for contato in projeto.proposta|contatos_tec %}
              <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm mb-2 border-primary">
                  <div class="card-body py-1 pl-2 pr-1">
                    <h6 class="card-title mb-1">
                      <i class="fa fa-user-circle text-primary"></i> {{ contato.nome }}
                    </h6>
                    <ul class="list-unstyled mb-0 small">
                      {% if contato.email %}
                        <li class="mb-0 mt-1">
                          <i class="fa fa-envelope text-secondary"></i>
                          <a href="mailto:{{ contato.email }}">{{ contato.email }}</a>
                        </li>
                      {% endif %}
                      {% if contato.telefone %}
                        <li class="mb-0 mt-1">
                          <i class="fa fa-phone text-secondary"></i>
                          {{ contato.telefone }}
                        </li>
                      {% endif %}
                      {% if contato.cargo %}
                        <li class="mb-0 mt-1">
                          <i class="fa fa-briefcase text-secondary"></i>
                          {{ contato.cargo }}
                        </li>
                      {% endif %}
                    </ul>
                    <div class="d-flex justify-content-end" style="margin-top: 2px;">
                      <a class="btn btn-sm btn-success px-1 py-1" style="font-size: 0.6em; line-height: 1.0;" target="_blank" rel="noopener noreferrer"
                        href='{% url "cadastrar_usuario" %}?tipo=parceiro&organizacao={{projeto.organizacao.id}}&nome={{ contato.nome }}&email={{ contato.email }}&telefone={{ contato.telefone }}&cargo={{ contato.cargo }}'> 
                        <i class="fa fa-user-plus"></i> {% lng "Cadastrar" "Register" %}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <span style="color: red;">
              {% lng "Não foram informados contatos técnicos na proposta." "No technical contacts were informed in the proposal." %}
            </span>
          {% endif %}
        </div>
      </div>

      <div class="contatos_apres" style="background: #F5F5F5;">
        <strong>
          {% lng "Contatos Administrativos apresentados na Propota" "Administrative Contacts presented in the Proposal" %}
        </strong><br>
        <div class="row g-2 ml-1 mt-2">
          {% if projeto.proposta.contatos_administrativos.strip %}
            <div class="col-11">
              <div class="card shadow-sm mb-2 border-primary">
                <div class="card-body py-1 pl-2 pr-1">
                  {{projeto.proposta.contatos_administrativos|linebreaks|bleach_urlize|safe}}
                  <div style="margin-top: 2px;">
                    <a class="btn btn-sm btn-success px-1 py-1 float-right" style="font-size: 0.6em; line-height: 1.0;" target="_blank" rel="noopener noreferrer"
                      href='{% url "cadastrar_usuario" %}?tipo=parceiro&organizacao={{projeto.organizacao.id}}&proposta={{projeto.proposta.id}}'>
                      <i class="fa fa-user-plus"></i> {% lng "Cadastrar" "Register" %}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {% elif projeto.proposta|contatos_adm %}
            {% for contato in projeto.proposta|contatos_adm %}
              <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm mb-2 border-primary">
                  <div class="card-body py-1 pl-2 pr-1">
                    <h6 class="card-title mb-1">
                      <i class="fa fa-user-circle text-primary"></i> {{ contato.nome }}
                    </h6>
                    <ul class="list-unstyled mb-0 small">
                      {% if contato.email %}
                        <li class="mb-0 mt-1">
                          <i class="fa fa-envelope text-secondary"></i>
                          <a href="mailto:{{ contato.email }}">{{ contato.email }}</a>
                        </li>
                      {% endif %}
                      {% if contato.telefone %}
                        <li class="mb-0 mt-1">
                          <i class="fa fa-phone text-secondary"></i>
                          {{ contato.telefone }}
                        </li>
                      {% endif %}
                      {% if contato.cargo %}
                        <li class="mb-0 mt-1">
                          <i class="fa fa-briefcase text-secondary"></i>
                          {{ contato.cargo }}
                        </li>
                      {% endif %}
                    </ul>
                    <div class="d-flex justify-content-end" style="margin-top: 2px;">
                      <a class="btn btn-sm btn-success px-1 py-1" style="font-size: 0.6em; line-height: 1.0;" target="_blank" rel="noopener noreferrer"
                        href='{% url "cadastrar_usuario" %}?tipo=parceiro&organizacao={{projeto.organizacao.id}}&nome={{ contato.nome }}&email={{ contato.email }}&telefone={{ contato.telefone }}&cargo={{ contato.cargo }}'> 
                        <i class="fa fa-user-plus"></i> {% lng "Cadastrar" "Register" %}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      {% endwith %}



    </div>
    {% endfor %}

  {% else %}
    {% lng "Não existem projetos fechados nesse semestre." "There are no closed projects in this semester." %}
    <br><br>
  {% endif %}

  <small>{% lng "GR: Gestor Responsável | MT: Mentor Técnico | AA: Apoio Administrativo" "GR: Responsible Manager | MT: Technical Mentor | AA: Administrative Support" %}</small>
  <br><br>
  <b>{% lng "Total de projetos" "Total of projects" %}:</b>
  {{projetos|length}}<br>

  </div>

  <br>
  <h5>Links:</h5>
  <ul>
    <li><a href="{% url 'projetos_fechados' %}"> 
      {% lng "Visualizar Projetos Fechados" "View Closed Projects" %}
    </a></li>
  </ul>

  <script>
    $(".conexao").change(function(evt){
      
      $.ajax({
        url: "{% url 'seleciona_conexoes' %}?projeto="+evt.target.dataset.projeto,
        data: {
          "csrfmiddlewaretoken": "{{ csrf_token }}",
          "tipo": evt.target.name,
          "parceiro_id": evt.target.value,
          "checked": evt.target.checked,
        },
        type: "POST",
        dataType: "json",
        success: function (data) {
          {% comment %} if (data.atualizado) {} {% endcomment %}
        },
        {% include "ajax_error_function.js" %}
      });
    
    });

  </script>

{% endblock %}