{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 22 de Junho de 2019
{% endcomment %}

{% block head %}
  {% load linguas %}
{% endblock %}

{% block content %}

  <strong>- idealmente separado por vírgula (evitar ponto e vírgula)</strong><br>
  <strong>- não mudar o maiúscula e minúscula dos nomes das colunas, nem deixar espaços em branco ao redor</strong><br>
  <strong>- se o campo já existir (ex: já tem o estudante), não será criada uma cópia, porém os dados atualizados
    (serão informados os criados e os atualizados)
  </strong><br>

  <br>
  <h6>{% lng "Campos Permitidos" "Allowed Fields" %}:</h6>
  <ul>
  {% for campo in campos_permitidos %}
    <li>{{campo}}</li>
  {% endfor %}
  </ul>
  <br>
  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% include "selecionar_arquivo.html" with arquivo_nome="arquivo" arquivo_accept=".csv" %}<br><br>
    <button class="btn btn-primary mb-1" type="submit">
      {% lng "Carregar Arquivo" "Load File" %}
    </button>
  </form>

{% endblock %}