{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 17 de Dezembro de 2019
{% endcomment %}

{% block head %}

  {% load static %}
  {% load dictionary %}
  {% load aderencia_aluno %}

  <script src="{% static 'js/w3.js' %}"></script>
  
  <style>

    th.bottom {
      vertical-align:bottom;
    }

    th.rotate {
      height: 140px;
      white-space: nowrap;
    }

    th.rotate > div {
      transform: 
        /* Magic Numbers */
        translate(13px, 55px)
        /* 45 is really 360 - 45 */
        rotate(300deg);
      width: 26px;
    }

    th.rotate > div > span {
      border-bottom: 1px  solid black;
      padding: 1px 0px;
    }

    table, th {
      border-collapse: collapse;
      border: 0px solid black;
      padding-left: 2px;
      padding-right: 2px;
      text-align: center;
      font-size: 16px;
    }

    a.prioridade {
      color: inherit;
    }


  </style>

{% endblock %}

{% block content %}

  <span class="titulo">Propor Montagem de Grupos para Propostas</span>

  <form method="post" enctype="multipart/form-data"> {% csrf_token %}

    {% include "informacoes.html" %}

    <div class="atualizar">
      
      <div class="table-responsive">
      <div id="tabela">

        {% if propostas %}
          <table id="MapeamentoTable">
            <tr>
              <th onclick="w3.sortHTML('#MapeamentoTable', '.item', 'td:nth-child(1)')" style="cursor:pointer" class="bottom">Estudante</th>
              <th onclick="w3.sortHTML('#MapeamentoTable', '.item', 'td:nth-child(2)')" style="cursor:pointer" class="bottom">Eng</th>
              <th onclick="w3.sortHTML('#MapeamentoTable', '.item', 'td:nth-child(3)')" style="cursor:pointer" class="bottom">CR</th>
              {% for proposta in propostas %}   
                <th onclick="w3.sortHTML('#MapeamentoTable', '.item', 'td:nth-child({{ forloop.counter|add:"3" }})')" style="cursor:pointer;
                {% if not proposta.disponivel %}color:lightgray;{% endif %}"
                class="rotate">
                  <div>
                    <span>
                      {% if proposta.organizacao %}
                        {{proposta.organizacao.sigla}}
                        {% if proposta.id in proposta_indice %}
                          <sup>{{ proposta_indice|get_value:proposta.id }}</sup>
                        {% endif %}
                      {% else %}
                        {{proposta.nome_organizacao}}
                        {% if proposta.id in proposta_indice %}
                          <sup>{{ proposta_indice|get_value:proposta.id }}</sup>
                        {% endif %}
                      {% endif %}
                    </span>
                  </div>
                </th>
              {% endfor %}
            </tr>      
            {% for estudante,opcoes in estudantes %} 
              <tr class="item">
                <td style="text-align:right">
                  <a href="{% url 'estudante_detail' estudante.id %}">
                    {{estudante.user.get_full_name}}
                  </a>
                </td>
                <td style="text-align:center">
                  <a href="{% url 'estudante_detail' estudante.id %}">
                    {{estudante.curso2.sigla_curta}}
                  </a>
                </td>
                <td style="text-align:left;border-right: 2px solid black;">
                  <a href="{% url 'estudante_detail' estudante.id %}">
                    {{estudante.cr|floatformat:4}}
                  </a>
                </td>
                {% for opcao in opcoes %}
                  {% if opcao %}
                    <td style="text-align:center;
                        {% with alocacoes=estudante.alocacao_set %}
                          {% if alocacoes.count and opcao.proposta == alocacoes.last.projeto.proposta %}
                            border: 2px solid #ff0000;
                          {% endif %}
                          {% if opcao.proposta == estudante.pre_alocacao %}
                            background-color:yellow;
                          {% elif opcao.prioridade == 1 and not estudante.pre_alocacao %}
                            background-color:yellow;
                          {% endif %}
                        {% endwith %}"
                        class="{% if opcao.prioridade == 0 %}red-bold{% elif opcao.prioridade <= 5 %}green-bold{% else %}yellow-bold{% endif %}">
                      <a class="prioridade" href="{% url 'proposta_completa' opcao.proposta.id %}"
                        data-toggle="tooltip" data-html="true" animation="true" title="
                        {{ opcao.proposta.titulo }} ({{ opcao.proposta.organizacao.sigla }})
                        "
                      >
                        {% if opcao.prioridade == 0 %}
                          X
                        {% else %}
                          {{opcao.prioridade}}
                        {% endif %}
                      </a>
                    </td>
                  {% else %}
                    <td>&nbsp;</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
            {% if media_cr %}
              <tr>
                <td style="text-align:right"><b>Quantidad de estudantes</b></td>
                <td style="text-align:center"><b>&#8704;</b></td>
                <td>{{media_cr|floatformat:4}}</td>
                {% for s in qtd %}
                  <td style="text-align:center"><b>{{s}}</b></td>
                {% endfor %}
              </tr>
            {% endif %}
          </table>
        {% endif %}

        <script>
          {% for proposta in propostas %}
            {% if not proposta.disponivel %}  
              $('table td:nth-child({{ forloop.counter|add:"3" }})').css('border','dotted 2px gray');
            {% endif %}
          {% endfor %}

          $('#MapeamentoTable tr td:nth-child(4)').css('border-left','3px solid black');
          $('#MapeamentoTable tr > *:nth-child(3)').hide();
        </script>

      </div>

    </div>
    </div>
    
    <small style="font-size:12px">
      {% for curso in cursos %}
        <b>{{curso.sigla_curta}}</b>: {{curso.nome}}
        {% if not forloop.last %}|{% endif %}
      {% endfor %}
    </small>
    <p>&nbsp;</p>

    <button type="submit" id="propor">Propor</button>

  </form>

{% endblock %}