{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 13 de Outubro de 2024
{% endcomment %}

{% block head %}
<style>
  td {
    padding-right: 6px;
    padding-left: 6px;
  }
</style>
{% endblock %}

{% block content %}

  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en">{{ titulo.en }}</span>
  </span>

  <form method="post"> {% csrf_token %}

    {% include "edicoes.html" %}
    <br>

    <table>
      {% for nome, dado in relatorios %}
        <tr>
          <td>{{ nome }}</td>
          <td><a href="{% url 'relatorio' dado 'HTML'%}">HTML</a></td>
          <td><a href="{% url 'relatorio' dado 'PDF'%}">PDF</a></td>
        </tr>
      {% endfor %}
    </table>
    <br><br>

    {% comment %} <button type="submit" class="btn btn-primary mb-1 mt-2">
      <span lang="pt">Enviar</span>
      <span lang="en">Send</span>
    </button> {% endcomment %}

  </form>

  {% include "linguas.html" %}

{% endblock %}
