{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 18 de Junho de 2019
{% endcomment %}

{% block head %}
  <style>
    @page {
      size: a4 portrait; /*landscape*/
      margin: 1.5cm  1.5cm  1.5cm  1.5cm; /* top  right bottom left */
    }
  </style>
{% endblock %}

{% block content %}

  <h3>Estudantes - {{configuracao.ano}}.{{configuracao.semestre}}</h3>

  {% for aluno in alunos %} 
    <p style="page-break-before: always"></p>

    <h3>Aluno: {{aluno.user.get_full_name}}</h3>
    <strong>Curso:</strong> {{aluno.curso2}} <br>
    <strong>CR:</strong> {{aluno.cr}} <br>
    {% if aluno.externo %}<span style="color:red">[{{aluno.externo}}]</span><br>{% endif %}

    {% with areas_de_interesse_selecionadas=aluno.user.areadeinteresse_set.all vencido=True %}
      <strong>Áreas de interesse selecionadas:</strong>
      {% include "areas.html" %}
    {% endwith %}

      <br>
      <strong>Projetos Selecionados</strong>
      {% for opcao in aluno.opcao_set.all %}
        {% if opcao.projeto.ano == opcao.aluno.ano and opcao.projeto.semestre == opcao.aluno.semestre %}
            <a href="{% url 'projeto_infos' opcao.projeto.id %}">
                <p style="margin-top: 0px; margin-bottom: 0px;"><b>{{opcao.prioridade}}</b> - 
                    {{opcao.projeto.organizacao.nome}}, {{opcao.projeto.get_titulo}} 
                </p>
            </a>
        {% endif %}            
      {% endfor %}
      <hr class="striped-border">
  {% empty %}
    <p>Não existem projetos disponíveis.</p>
  {% endfor %}

{% endblock %}