{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 5 de Dezembro de 2024
{% endcomment %}
    
{% load static %}
{% load bleach %}

{% block head %}
  <style>
    @page {
      size: a4 portrait;
      margin: 1.5cm  1.5cm  1.5cm  1.5cm;
    }
  </style>
{% endblock %}

{% block content %}
    
  <h3>Propostas Disponíveis</h3>

  {% for proposta in propostas %} 

    <p style="page-break-before: always"></p>

      {% with completo=False %}
        {% include "proposta.html" %}
      {% endwith %}

      {% with completo=False %}
        {% include "organizacao.html" %}
      {% endwith %}

    <hr class="striped-border">

  {% empty %}
    <p>Não existem propostas disponíveis.</p>
  {% endfor %}

{% endblock %}