{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 17 de Maio de 2021
{% endcomment %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <label for="disciplina">Disciplina:</label>
    <select id="disciplina" name="disciplina" class="form-control" required>
      {% if not organizacoes %}
        <option disabled selected value> -- selecione  disciplina -- </option>
      {% endif %}
      {% for disciplina in disciplinas %}
        <option value="{{disciplina.id}}" {% if proposta.organizacao == organizacao %}selected{% endif %} >{{disciplina.nome}}</option>
      {% endfor %}
    </select>
    <input type="submit" style="display:none;"/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    <button id="atualiza" type="button" class="btn btn-primary" data-dismiss="modal">Incluir</button>
  </div>

</form>

<script>
  $('#atualiza').on('click', atualiza);
</script>