{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Dezembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load dictionary %}
  {% load aderencia_aluno %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'propostas/css/map_est_proj.css' %}">
  <script src="{% static 'js/sort.js' %}"></script>

{% endblock %}

{% block content %}

  {% include "edicoes.html" with n_todas=True %}
  {% include "informacoes_ml.html" %}

  <div class="atualizar">
    
    <div class="table-responsive">
      <table id="MapeamentoTable">
        <thead>
          <tr>
            <th onclick="sort('#MapeamentoTable', '.item', 'td:nth-child(1)')" class="bottom estudante">
              {% lng "Estudante" "Student" %} ({{ qtd_estudantes }})
            </th>
            <th onclick="sort('#MapeamentoTable', '.item', 'td:nth-child(2)')" class="bottom pequeno">
              {% lng "Curso" "Program" %}
            </th>
            <th onclick="sort('#MapeamentoTable', '.item', 'td:nth-child(3)')" class="bottom pequeno">
              {% lng "CR" "GPA" %}
            </th>
            {% for proposta in propostas %}   
              <th onclick="sort('#MapeamentoTable', '.item', 'td:nth-child({{ forloop.counter|add:"3" }})')"
              style="{% if not proposta.disponivel %}color:lightgray;{% endif %}" class="rotate">
                <div><span>
                    {% if proposta.organizacao %}
                      {{proposta.organizacao.sigla}}
                    {% else %}
                      {{proposta.nome_organizacao}}
                    {% endif %}
                    {% if proposta.id in proposta_indice %}
                      <sup>{{ proposta_indice|get_value:proposta.id }}</sup>
                    {% endif %}
                </span></div>
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for estudante,opcoes,aloc_proj in estudantes %} 
          <tr class="item">
            <td>
              <a href="{% url 'estudante_detail' estudante.id %}">
                {{estudante.user.get_full_name}}
                {% if estudante.externo %}<span style="color:darkred;">({{estudante.externo}})</span>{% endif %}
              </a>
            </td>
            <td>
              <a href="{% url 'estudante_detail' estudante.id %}">
                {{estudante.curso2.sigla_curta}}
              </a>
            </td>
            <td class="divisao">
              <a href="{% url 'estudante_detail' estudante.id %}">
                {{estudante.cr|floatformat:2}}
              </a>
            </td>

            {% for opcao in opcoes %}
              {% if opcao %}
                <td 
                 style="{% if opcao.proposta == aloc_proj %}border: 2px solid #ff0000;{% endif %}
                      {% if opcao.proposta == estudante.pre_alocacao %}
                        background-color:yellow;
                      {% elif opcao.prioridade == 1 and not estudante.pre_alocacao %}
                        background-color:lightgreen;
                      {% endif %}"
                    class="{% if opcao.prioridade == 0 %}red-bold{% elif opcao.prioridade <= 5 %}green-bold{% else %}yellow-bold{% endif %}">
                  <a class="prioridade" href="{% url 'proposta_completa' opcao.proposta.id %}"
                   data-toggle="tooltip" data-html="true" animation="true"
                   title="{{ opcao.proposta.titulo }} ({{ opcao.proposta.organizacao.sigla }})">
                    {% if opcao.prioridade == 0 %}X{% else %}{{opcao.prioridade}}{% endif %}
                  </a>
                </td>
              {% else %}
                <td></td>
              {% endif %}
            {% endfor %} 

          </tr>
        {% endfor %}
        {% if media_cr %}
          <tr>
            <td style="text-align:right">
              <b>{% lng "Quantidad de estudantes" "Number of students" %}</b>
            </td>
            <td><b>&#8704;</b></td>
            <td>{{media_cr|floatformat:4}}</td>
            {% for s in qtd %}
              <td><b>{{s}}</b></td>
            {% endfor %}
          </tr>
        {% endif %}
        </tbody>
        <caption class="captions">
          <div class="cap_legendas">
            <span><span class="legenda_info" style="background-color:lightgreen;">&nbsp;</span>
              {% lng "Sem pré-alocação (padrão 1&ordf; opção)" "No pre-allocation (default 1<sup>st</sup> option)" %}
            </span>&nbsp;|
            <span><span class="legenda_info" style="background-color:yellow;">&nbsp;</span>
              {% lng "Pré-alocado em Proposta" "Pre-allocated in Proposal" %}
            </span>&nbsp;|
            <span><span class="legenda_info" style="border: 2px solid red;">&nbsp;</span>
              {% lng "Alocado em Proposta" "Allocated in Proposal" %}
            </span>&nbsp;|
            <span><span class="legenda_info" style="border: 2px solid red;">X</span>
              {% lng "Alocado fora de opções" "Allocated outside of options" %}
            </span>&nbsp;|
            <span><span class="legenda_info" style="border: dotted 2px gray;">&nbsp;</span>
              {% lng "Proposta não disponibilizada" "Proposal not available" %}
            </span>
          </div>
          <div class="cap_cursos">
            {% for curso in cursos %}
              <span><b>{{curso.sigla_curta}}</b>: {{curso.nome}}</span>
              {% if not forloop.last %}|{% endif %}
            {% endfor %}
          </div>
        </caption>
      </table>

      <script>
        {% for proposta in propostas %}
          {% if not proposta.disponivel %}  
            $('table td:nth-child({{ forloop.counter|add:"3" }})').css("border","dotted 2px gray");
          {% endif %}
        {% endfor %}
        $("#MapeamentoTable tr td:nth-child(4)").css("border-left","3px solid black");
        $("#MapeamentoTable tr > *:nth-child(3)").hide();
      </script>

    </div>
  </div>

  <script>
    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
    };
    window.onload = carrega_site
  </script>

  {% include "edicoes_ajax.html" %}

{% endblock %}