{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 23 de Maio de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Chart.min.css' %}">
  <style>
    #chart-container {
      position: relative;
      width: 100%;
      left: 0px;
    }
  </style>
{% endblock %}

{% block content %}
  
  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en">{{ titulo.en }}</span>
  </span>

  {% include "edicoes.html" with com_cursos=True %}

  <div class="atualizar">

    <div id="chart-container" style=" height:{{tamanho}}vh;">
      <canvas id="chart-area"></canvas>
    </div>
  
    <script>

      var barChartData = {
        labels: [{% for proposta in propostas %}"[{{proposta.organizacao.sigla|escapejs}}] {{proposta.titulo}}", {% endfor %}],
        datasets:
        [{% for escolha in escolhas %} {
              label: "Opção #{{ forloop.counter }}",
              barPercentage: 0.5,
              backgroundColor: "{{escolha.cor}}",
              data: [{% for prioridade in escolha.prioridades %}{{prioridade}}, {% endfor %}],
              estudantes: [{% for estudante in escolha.estudantes %}"{{estudante}}", {% endfor %}]
            }{% if not forloop.last %},{% endif %}
        {% endfor %}]
      };

      var textos = []

      function titulos(animation) {
        const chartInstance = this.chart;
        const ctx = chartInstance.ctx;
        const dataset = this.data.datasets[0];
        const meta = chartInstance.controller.getDatasetMeta(0);

        // Label
        textos = []
        counter = 1
        Chart.helpers.each(meta.data.forEach((bar, index) => {
          const label = this.data.labels[index]
          const labelPositionX = bar._model.base + 2
          const labelPositionY = bar._model.y-(bar._model.height/2)
          const labelWidth = ctx.measureText(label).width

          ctx.textBaseline = "bottom"
          ctx.textAlign = "left"
          ctx.fillStyle = "#000000"
          ctx.font = "12px Open Sans"
          var espaco = 13
          if(counter>9) {
            espaco = 19
          }
          label_limpo = label.replace("&amp;", "&")
          ctx.fillText(label_limpo, labelPositionX+espaco, labelPositionY)
          ctx.fillText(counter.toString()+"º", labelPositionX, labelPositionY)
          counter = counter + 1

          var campo = {
              label: label,
              x: labelPositionX,
              y: labelPositionY,
              w: labelWidth,
              h: 12,
          };

          textos.push(campo)

        }));
      }

      function numeros(animation) {

        const chartInstance = this.chart;
        const ctx = chartInstance.ctx;
        const dataset = this.data.datasets[0];
        const meta = chartInstance.controller.getDatasetMeta(0);

        ctx.textAlign = "center";
        ctx.textBaseline = "top";
        ctx.font = "10px Open Sans";
        ctx.fillStyle = "#000000";

        // Numeros
        Chart.helpers.each(this.data.datasets.forEach(function (dataset, i) {
            var meta = chartInstance.controller.getDatasetMeta(i);
            Chart.helpers.each(meta.data.forEach(function (bar, index) {
                data = dataset.data[index];
                var key = Object.keys(dataset._meta)[0];
                if(data>0 && dataset._meta[key] !== null && dataset._meta[key] !== undefined) {
                  if(dataset._meta[key].hidden != true) {
                    ctx.fillText(data, bar._model.x-7, bar._model.y-4);
                  }
                }
            }),this)
        }),this);
      }

      var config = {
        type: "horizontalBar",
          data: barChartData,
          options: {
            title: {
              display: false,
              text: "Procura de Propostas de Projetos"
            },
            layout: {
              padding: {
                top: 6,
              }
            },
            tooltips: {
              enabled: false,
              itemSort: function(a, b) {
                return a.datasetIndex - b.datasetIndex
              },
              callbacks: {
                label: function (tooltipItems, data) {
                  texto1 = data.datasets[tooltipItems.datasetIndex].label + ": " + tooltipItems.xLabel
                  texto2 = ""
                  if(tooltipItems.xLabel > 0) {
                    texto2 = "  (" + data.datasets[tooltipItems.datasetIndex].estudantes[tooltipItems.index] + ")"; 
                  }
                  return texto1 + texto2
                }
              },
              custom: function(tooltipModel) {
                  // Tooltip Element
                  var tooltipEl = document.getElementById("chartjs-tooltip");

                  // Create element on first render
                  if (!tooltipEl) {
                      tooltipEl = document.createElement("div");
                      tooltipEl.id = "chartjs-tooltip";
                      tooltipEl.innerHTML = '<table style="background-color: #050505; border-radius: 8px; border: 0px; padding: 20px; border-spacing: 40px 10px;"></table>';
                      document.body.appendChild(tooltipEl);
                  }

                  // Hide if no tooltip
                  if (tooltipModel.opacity === 0) {
                      tooltipEl.style.opacity = 0;
                      return;
                  }

                  function getBody(bodyItem) {
                      return bodyItem.lines;
                  }

                  // Set Text
                  if (tooltipModel.body) {
                      var bodyLines = tooltipModel.body.map(getBody);

                      var innerHtml = "<tbody>";
                      bodyLines.forEach(function(body, i) {
                          var colors = tooltipModel.labelColors[i];
                          var style = "background:" + colors.backgroundColor;
                          style += "; border-color:" + colors.borderColor;
                          style += "; border-width: 2px";
                          
                          innerHtml += '<tr><td style="padding: 3px; border: 0px; font-size: 9px; height: 8px;"><span style="color:white">' 
                          innerHtml += '&nbsp;<span style="' + style + '">&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                          innerHtml += "&nbsp;&nbsp;" + body + "</span>&nbsp;</td></tr>";
                      });
                      innerHtml += "</tbody>";

                      var tableRoot = tooltipEl.querySelector("table");
                      tableRoot.innerHTML = innerHtml;
                  }

                  // `this` will be the overall tooltip
                  var position = this._chart.canvas.getBoundingClientRect();

                  // Display, position, and set styles for font
                  tooltipEl.style.opacity = 1.0;
                  tooltipEl.style.position = "absolute";
                  tooltipEl.style.left = position.left + window.pageXOffset + 22 + "px";
                  tooltipEl.style.top = position.top + window.pageYOffset + tooltipModel.caretY + "px";
                  tooltipEl.style.padding = tooltipModel.yPadding + "px " + tooltipModel.xPadding + "px";
                  tooltipEl.style.pointerEvents = "none";
              }
            },
            responsive: true,

            maintainAspectRatio: false,
            legend: {position: "bottom"},
            scales: {
              xAxes: [{
                stacked: true,
                ticks: {stepSize: 1,},
              }],
              yAxes: [{
                stacked: true,
                display: false
              }]
            },
            animation: {
              onProgress: titulos,
              onComplete: numeros,
            },
    
          }
      };

      function carrega_graficos() {

        var canvasP = document.getElementById("chart-area");
        var ctx = canvasP.getContext("2d");
        
        {% if tamanho > 0 %}
          var histograma = new Chart(ctx, config);
        {% endif %}

        canvasP.onclick = function(e) {

          const rect = canvasP.getBoundingClientRect()
          const x = event.clientX - rect.left
          const y = event.clientY - rect.top

          var label = ""

          textos.forEach((element) => {
            if( y >= element.y-element.h && y <= element.y ) {
              label = element.label
            }
          })

          if (label == "") {
            var slice = histograma.getElementAtEvent(e);
            if (!slice.length) return;
            label = slice[0]._model.label;
          }
          
          switch (label) {
            {% for proposta in propostas %} 
              case "[{{proposta.organizacao.sigla|escapejs}}] {{proposta.titulo}}":
                location.href = "{% url 'proposta_completa' proposta.id %}";
                break;
            {% endfor %}
          }

        }

      };
    
    </script>
    <br>

    <b lang="pt">Estudantes no Semestre</b>
    <b lang="en" style="display: none;">Students in the Semester</b>
    <br>
    <span style="margin-left: 10px;">
      <span lang="pt">Total de estudantes: </span>
      <span lang="en" style="display: none;">Total of students: </span>
      {{qtd_estudantes}}
    </span><br>
    <span style="margin-left: 10px;">
      <span lang="pt">Estudantes que preencheram opções: </span>
      <span lang="en" style="display: none;">Students who filled in options: </span>
      {{qtd_estudantes_opc}}
      ({% widthratio qtd_estudantes_opc qtd_estudantes 100 %}%)
    </span><br>
    <ul>
      {% for curso, qtds in qtd_estudantes_curso.items %}
        <li>{{curso.nome}}: {{qtds.opc}}/{{qtds.qtd}} ({% widthratio qtds.opc qtds.qtd 100 %}%)</li>
      {% endfor %}
    </ul>
    <br>

    <b lang="pt">Estudantes Aplicando como Primeira Opção</b>
    <b lang="en">Students Applying as First Option</b>
    <br>
    <span style="margin-left: 10px;">
      <span lang="pt">nativamente multidisciplinar: </span>
      <span lang="en" style="display: none;">multidisciplinary natively: </span>
      {{aplicando_multidisciplinar}}
    </span><br>
    {% for key, value in aplicando_opcoes.items %} {% if value > 0 %}
      <span style="margin-left: 10px;">
        <span lang="pt">nativamente de </span>
        <span lang="en" style="display: none;">natively in </span>
        {{key.nome}}: {{value}}
      </span><br>
    {% endif %} {% endfor %} 
    <br>

    <b lang="pt">Disponibilidade de Propostas</b>
    <b lang="en">Proposals Availability</b>
    <br>
    {% with nao_disponivel=False %}
      {% include "propostas_nativamente.html" %}
    {% endwith %}
    <br>

    <b lang="pt">Áreas mais frequente em relação a busca e projetos</b>
    <b lang="en">Most frequent areas in relation to demand and projects</b>
    <br>
    <ol>
    {% for area, quantidade in areaspfe.items|dictsortreversed:1 %}
      <li>{{area}}: {{quantidade.0}}</li>
    {% endfor %}
    </ol>

  </div>

  {% include "edicoes_ajax.html" with com_cursos=True graficos=True %}
  {% include "linguas.html" %}

{% endblock %}
