{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}

{% block head %}

  {% load static %}

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

  {% comment %} Para o gráfico no final da página {% endcomment %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Chart.min.css' %}">

{% endblock %}

{% block content %}

  {% include "proposta.html" %}

  {% include "organizacao.html" %}

  {% include "recomendadas.html" %}

  {% include "perfil_estudantes.html" %}

  {% include "prioridades.html" %}

  <hr>
  <br><b><label for="autorizador">Membro do comitê do Capstone responsável pela proposta</label></b>:
  <span id="autorizador">
    {{ proposta.autorizado.get_full_name }}
    <a href="mailto:{{proposta.autorizado.email}}"> &lt;{{proposta.autorizado.email}}&gt;</a>
  </span><br>
  <small>Obs: O responsável da proposta não necessariamente será o orientador do projeto, e muitas vezes não é.
         Use esse contato para tirar dúvidas da proposta. Perceba também que o responsável pode demorar para responder suas dúvidas.
         Não espere respostas imediatas, pois não as terá.
  </small>
  
  <p>&nbsp;</p>
{% endblock %}
