{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Dezembro de 2020
{% endcomment %}

<h5>
  <span lang="pt">Prospecção</span>
  <span lang="en">Prospection</span>
</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'estudantes_inscritos' %}">
  <span lang="pt">Estudantes Inscritos no Semestre</span>
  <span lang="en" style="display: none;">Students Enrolled in the Semester</span>
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'organizacoes_prospect' %}">
  <span lang="pt">Prospecção de Organizações</span>
  <span lang="en" style="display: none;">Prospection of Organizations</span>
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'distribuicao_areas' %}">
  <span lang="pt">Tendência de Áreas de Interesse</span>
  <span lang="en" style="display: none;">Trend of Areas of Interest</span>
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'propostas_apresentadas' %}">
  <span lang="pt">Propostas Apresentadas</span>
  <span lang="en" style="display: none;">Proposals Presented</span>
</a></div>
<br>

<h5>
  <span lang="pt">Período de seleção</span>
  <span lang="en">Selection Period</span>
</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'publicar_propostas' %}">
  <span lang="pt">Publicação das Propostas</span>
  <span lang="en" style="display: none;">Publication of Proposals</span>
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'procura_propostas' %}">
  <span lang="pt">Procura pelas Propostas</span>
  <span lang="en" style="display: none;">Search for Proposals</span>
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'mapeamento_estudantes_propostas' %}">
  <span lang="pt">Mapeamento Estudantes e Propostas</span>
  <span lang="en" style="display: none;">Mapping Students and Proposals</span>
</a></div>
<br>

<h5>
  <span lang="pt">Fechamento dos Projetos</span>
  <span lang="en">Closing Projects</span>
</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'montar_grupos' %}">
  <span lang="pt">Planejamento de Grupos por Proposta</span>
  <span lang="en" style="display: none;">Planning Groups by Proposal</span>
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'selecionar_orientadores' %}">
  <span lang="pt">Selecionar Orientadores</span>
  <span lang="en" style="display: none;">Select Advisors</span>
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'fechar_conexoes' %}">
  <span lang="pt">Selecionar Conexões com Organizações</span>
  <span lang="en" style="display: none;">Select Connections with Organizations</span>
</a></div>
<br>