{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 24 de Abril de 2020
{% endcomment %}

{% block head %}
  <style>
    .myButton {
      box-shadow:inset 0px 1px 0px 0px #f9eca0;
      background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
      background-color:#f0c911;
      border-radius:8px;
      border:2px solid #e65f44;
      display:inline-block;
      cursor:pointer;
      color:#c92200;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:4px 22px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ded17c;
    }
    .myButton:hover {
      background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
      background-color:#f2ab1e;
    }
    .myButton:active {
      position:relative;
      top:1px;
    }
  </style>
  <style type="text/css">
    td label { 
       display: block;
       text-align: center;
    }
  </style>

{% endblock %}

{% block content %}

  {% with completo=True %}
    {% include "proposta.html" %}
  {% endwith %}

  {% with completo=True %}
    {% include "organizacao.html" %}
  {% endwith %}

  <strong>Submetido por:</strong><br>
  {{proposta.nome}}<br><br>

  {% if proposta.contatos_tecnicos %}
    <strong>Contatos Técnicos</strong><br>
    {{proposta.contatos_tecnicos|linebreaks|urlize}}
    <br><br>
  {% endif %}

  {% if proposta.contatos_administrativos %}
    <strong>Contatos Administrativos</strong><br>
    {{proposta.contatos_administrativos|linebreaks|urlize}}
    <br><br>
  {% endif %}

  <h4>Áreas de Interesse</h4>
  {% with aa=proposta.areadeinteresse_set.all %}
    {% with vencido=True %}
      {% include "areas.html" %}
    {% endwith %}
  {% endwith %}
  <br>

  {% include "recomendadas.html" %}

  <h4>Aluno(s) Aplicando para a Proposta</h4>

  {% for estudante in sem_opcao %}
    <a href="{% url 'estudante_detail' estudante.id %}"
      class="dark-green-bold">
        {{estudante.user.get_full_name}}
        [{{ estudante.get_curso_display }}]
        &nbsp;=>&nbsp;SEM PRIORIDADE DEFINIDA
        &nbsp;|
        {% comment %} &nbsp;{ {{estudante.anoPFE}}.{{estudante.semestrePFE}} } {% endcomment %}
        &nbsp;CR={{estudante.cr}}
      <br>
    </a>
  {% endfor %}

  {% for opcao in proposta.opcao_set.all %}
    {% if proposta.ano == opcao.aluno.anoPFE and proposta.semestre == opcao.aluno.semestrePFE %}
    <a href="{% url 'estudante_detail' opcao.aluno.id %}"
       class="
       {% if opcao.aluno in estudantes %}
        {% if opcao.prioridade <= 5 %}green-bold{% else %}yellow-bold{% endif %}
       {% else %}
        {% if opcao.prioridade <= 5 %}green-normal{% else %}yellow-normal{% endif %}
       {% endif %}
       ">
        {{opcao.aluno.user.get_full_name}}
        [{{ opcao.aluno.get_curso_display }}]
        &nbsp;=>&nbsp;opção #{{opcao.prioridade}}
        &nbsp;|
        &nbsp;CR={{opcao.aluno.cr}}
      <br>
    </a>
    {% endif %}
  {% endfor %}
  <p style="line-height:2px">
    --------------------------------------------------------------------------------------
  </p>
  {% for opcao in proposta.opcao_set.all %}
    {% if proposta.ano != opcao.aluno.anoPFE or proposta.semestre != opcao.aluno.semestrePFE %}
    <a href="{% url 'estudante_detail' opcao.aluno.id %}" class="{% if opcao.aluno in estudantes %}red-bold{% else %}red-normal{% endif%}">
        {{opcao.aluno.user.get_full_name}}
        [{{ opcao.aluno.get_curso_display }}]
        &nbsp;=>&nbsp;opção #{{opcao.prioridade}}
        &nbsp;|&nbsp;{ {{opcao.aluno.anoPFE}}.{{opcao.aluno.semestrePFE}} }
        &nbsp;CR={{opcao.aluno.cr}}
      <br>
    </a>
    {% endif %}
  {% endfor %}
  <br>

  {% with editavel=True %}
    {% include "perfil_estudantes.html" %}
  {% endwith %}
  
  <form method="post" id="disponibilizacaoform" enctype="multipart/form-data">
    {% csrf_token %}
    <br><b><label for="autorizador">Autorizado por</label></b>:
    <select class="fechar_proposta" name="autorizador" id="autorizador" title="Selecione quem autorizou proposta" required>
        <option value='0'> ---- </option>
        {% for pessoa in comite %}
          <option value="{{pessoa.id}}" {% if pessoa.id == proposta.autorizado.id %}selected{% endif %}>
            {{pessoa}}
          </option>  
        {% endfor %}
    </select>

    <br><b>Disponibilizar: </b>
    <label><input class="fechar_proposta" type="radio" name="disponibilizar" value="sim"
      {% if proposta.disponivel %}checked{% endif %}
    > Sim</label>
    <label><input class="fechar_proposta" type="radio" name="disponibilizar" value="nao"
      {% if not proposta.disponivel %}checked{% endif %}
    > Não</label>


    <br><br>
    <a class="myButton" href="{% url 'proposta_editar' proposta.slug %}">Editar Proposta</a>
    <a class="myButton" href="{% url 'proposta_detalhes' proposta.id %}">Visão do Estudante</a>

    {% for projeto in projetos %}
      <a class="myButton" href="{% url 'projeto_completo' projeto.id %}">Projeto {{projeto.ano}}.{{projeto.semestre}}</a>
    {% endfor %}
    <br><br>

  </form>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

<script>

     function fechar_proposta() {
      var autorizador = $("#autorizador option:selected").attr("value");
      var disponibilizar = $('input[name=disponibilizar]:checked', '#disponibilizacaoform').val();

      $.ajax({
          type: "POST",
          data: {    
              autorizador: autorizador,
              disponibilizar: disponibilizar,
              'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          success: function(response){
            if (response.atualizado) {
              console.log("Valor atualizado.");
            }
          },
          error: function(response) {
              console.log('error')
          }
      });
    }

    $(".fechar_proposta").change(fechar_proposta);

  </script>

  <script>
    $(".alunos").change(function () {
      var vaga = $(this).val();
      var checked = $(this).prop('checked');

      $.ajax({
        url: '{% url "validate_alunos" %}',
        data: {
          'proposta': {{proposta.id}},
          'vaga': vaga,
          'checked': checked,
        },
        dataType: 'json',
        success: function (response) {
          if (response.atualizado) {
            console.log("Valor atualizado.");
          }
        },
        error: function(response) {
            console.log('error')
        }
      });
    });
  </script>

{% endblock %}