{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Dezembro de 2020
{% endcomment %}


{% load linguas %}

<h5>{% lng "Prospecção" "Prospection" %}</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'estudantes_inscritos' %}">
  {% lng "Estudantes Inscritos no Semestre" "Students Enrolled in the Semester" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'organizacoes_prospect' %}">
  {% lng "Prospecção de Organizações" "Prospection of Organizations" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'distribuicao_areas' %}">
  {% lng "Tendência de Áreas de Interesse" "Trend of Areas of Interest" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'propostas_apresentadas' %}">
  {% lng "Propostas Apresentadas" "Proposals Presented" %}
</a></div>
<br>

<h5>{% lng "Período de seleção" "Selection Period" %}</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'publicar_propostas' %}">
  {% lng "Publicação das Propostas" "Publication of Proposals" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'procura_propostas' %}">
  {% lng "Procura pelas Propostas" "Search for Proposals" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'mapeamento_estudantes_propostas' %}">
  {% lng "Mapeamento Estudantes e Propostas" "Mapping Students and Proposals" %}
</a></div>
<br>

<h5>{% lng "Fechamento dos Projetos" "Closing Projects" %}</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'montar_grupos' %}">
  {% lng "Planejamento de Grupos por Proposta" "Planning Groups by Proposal" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'selecionar_orientadores' %}">
  {% lng "Selecionar Orientadores" "Select Advisors" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'fechar_conexoes' %}">
  {% lng "Selecionar Conexões com Organizações" "Select Connections with Organizations" %}
</a></div>
<br>