{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Dezembro de 2020
{% endcomment %}

<h5>Prospecção</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'estudantes_inscritos' %}">Estudantes Inscritos no Semestre</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'organizacoes_prospect' %}">Prospecção de Organizações</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'distribuicao_areas' %}">Tendência de Áreas de Interesse</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'propostas_apresentadas' %}">Propostas Apresentadas</a></div>
<br>

<h5>Período de seleção</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'publicar_propostas' %}">Publicação das Propostas</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'procura_propostas' %}">Procura pelas Propostas</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'mapeamento_estudantes_propostas' %}">Mapeamento Estudantes e Propostas</a></div>
<br>

<h5>Fechamento dos Projetos</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'montar_grupos' %}">Planejamento de Grupos por Proposta</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'selecionar_orientadores' %}">Selecionar Orientadores</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'fechar_conexoes' %}">Selecionar Conexões com Organizações</a></div>
<br>