{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 24 de Abril de 2020
{% endcomment %}

{% block head %}
  
  {% load static %}

  <script type="text/javascript" src="{% static 'js/pfe_pulsa_texto.js' %}"></script>

  {% comment %} Para o gráfico no final da página {% endcomment %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Chart.min.css' %}">

  <style>
    .t_f {display: inline;}
    .t_s {display: none;}

    label {
      margin-bottom: 2px;
      line-height: 1.0;
    }

    select {
      max-width:100%;
      margin-bottom: 12px;
    }
    
    @media only screen and (max-width: 700px) {
      .t_f {display: none;}
      .t_s {display: inline;}
    }
  </style>

{% endblock %}

{% block content %}

  {% with completo=True %}
    {% include "proposta.html" %}
  {% endwith %}

  {% with completo=True %}
    {% include "organizacao.html" %}
  {% endwith %}

  <strong>Submetido por:</strong><br>
  {{proposta.nome}}<br><br>

  {% if proposta.contatos_tecnicos %}
    <strong>Contatos Técnicos</strong><br>
    {{proposta.contatos_tecnicos|linebreaks|urlize}}
    <br><br>
  {% endif %}

  {% if proposta.contatos_administrativos %}
    <strong>Contatos Administrativos</strong><br>
    {{proposta.contatos_administrativos|linebreaks|urlize}}
    <br><br>
  {% endif %}

  <h5 style="margin-bottom: 4px;">Áreas de Interesse</h5>
  {% with aa=proposta.areadeinteresse_set.all %}
    {% with vencido=True %}
      {% include "areas.html" %}
    {% endwith %}
  {% endwith %}
  <br>

  {% with editavel=True %}
    {% include "recomendadas.html" %}
  {% endwith %}

  {% with editavel=True %}
    {% include "perfil_estudantes.html" %}
  {% endwith %}

  <hr>

  <form method="post" id="disponibilizacaoform" enctype="multipart/form-data">
    {% csrf_token %}

    <br><b>Conformidade de Proposta: </b>
    {% include "conformidade.html" %}

    <br><b><label for="autorizador" data-toggle="tooltip" data-html="true" animation="true" 
      title="Mesmo ao autorizar uma proposta, esta só será visivel para os estudantes<br>depois que a liberação de visualização for habilitada.">
      Autorizada por</label></b>:
    <select class="fechar_proposta" name="autorizador" id="autorizador" title="Selecione quem autorizou proposta" required>
        <option value='0'> ---- </option>
        {% for pessoa in comite %}
          <option value="{{pessoa.id}}" {% if pessoa.id == proposta.autorizado.id %}selected{% endif %}>
            {{pessoa}}
          </option>  
        {% endfor %}
    </select>

    <br><b data-toggle="tooltip" data-html="true" animation="true" 
           title="Mesmo ao disponibilizar uma proposta, esta só será visivel para os estudantes<br>depois que a liberação de visualização for habilitada.">
      Disponibilizar:
    </b>
    <label style="margin: 2px;"><input class="fechar_proposta" type="radio" name="disponibilizar" value="sim"
      {% if proposta.disponivel %}checked{% endif %}
    > Sim</label>
    <label style="margin: 2px;"><input class="fechar_proposta" type="radio" name="disponibilizar" value="nao"
      {% if not proposta.disponivel %}checked{% endif %}
    > Não</label>
    &nbsp;&nbsp;<small style="font-size: 12px; display: block;">Previsão para liberar visualização de propostas para estudantes em: {{liberacao_visualizacao.startDate}}</small> 

    <div id="valor_atualizado" style="display: none; width: fit-content;padding-left: 8px;padding-right: 8px;"></div>

    <br><br>
    <div style="max-width: 56em; text-align: center;">
    <a class="myButton" style="width: 13em; " href="{% url 'proposta_editar' proposta.slug %}">Editar Proposta</a>
    <a class="myButton" style="width: 13em;" href="{% url 'proposta_detalhes' proposta.id %}">Visão do Estudante</a>
    
    {% for projeto in projetos %}
      <a class="myButton" style="width: 13em; padding-bottom: 3px;" href="{% url 'projeto_completo' projeto.id %}">Projeto {{projeto.ano}}.{{projeto.semestre}}</a>
      <a class="myButton" style="width: 13em; padding-bottom: 3px;color:white;" onClick="return confirm('Proposta possui um projeto e não pode ser removida')" >Remove Proposta</a>
    {% empty %}
      <a class="myButton" data-toggle="tooltip" data-html="true" animation="true" title="criar projeto dessa proposta"
      onclick="cria_projeto()" style="width: 13em; padding-bottom: 3px; color:white;">Criar Projeto</a>
      <a class="myButton" style="width: 13em; padding-bottom: 3px;" href="{% url 'proposta_remover' proposta.slug %}" onClick="return confirm('Tem certeza que deseja remover proposta definitivamente?')" >Remove Proposta</a>
    {% endfor %}
    </div>
    <br>

  {% if not projetos %}
    <script>
      function cria_projeto() {
        if (confirm('Não existe um projeto para essa proposta, deseja criar?')) {
          window.open("{% url 'projeto_criar' proposta.id %}");
        }
      }
    </script>
  {% endif %}

  </form>

  {% include "prioridades.html" %}

  <br>
  <h5>Estudantes Aplicando para a Proposta</h5>

  {% for estudante in sem_opcao %}
    <a href="{% url 'estudante_detail' estudante.id %}"
      class="dark-green-bold">
        {{estudante.user.get_full_name}}
        [{{ estudante.curso2 }}]
        &nbsp;=>&nbsp;SEM PRIORIDADE DEFINIDA
        &nbsp;|
        {% comment %} &nbsp;{ {{estudante.anoPFE}}.{{estudante.semestrePFE}} } {% endcomment %}
        &nbsp;CR={{estudante.cr}}
      <br>
    </a>
  {% endfor %}

  {% for opcao in proposta.opcao_set.all %}
    {% if proposta.ano == opcao.aluno.anoPFE and proposta.semestre == opcao.aluno.semestrePFE %}
    <a href="{% url 'estudante_detail' opcao.aluno.id %}"
       class="
       {% if opcao.aluno in estudantes %}
        {% if opcao.prioridade <= 5 %}green-bold{% else %}yellow-bold{% endif %}
       {% else %}
        {% if opcao.prioridade <= 5 %}green-normal{% else %}yellow-normal{% endif %}
       {% endif %}
       ">
        {{opcao.aluno.user.get_full_name}}
        <span class="t_f">
          [{{ opcao.aluno.curso2 }}]
          &#10140; opção 
        </span>
        <span class="t_s">
          [{{ opcao.aluno.curso2.sigla_curta }}]
          &#10140; op
        </span>
          #{{opcao.prioridade}} | CR={{opcao.aluno.cr|floatformat:2}}
      <br>
    </a>
    {% endif %}
  {% endfor %}
  <hr style="line-height:2px"/>
  {% for opcao in proposta.opcao_set.all %}
    {% if proposta.ano != opcao.aluno.anoPFE or proposta.semestre != opcao.aluno.semestrePFE %}
    <a href="{% url 'estudante_detail' opcao.aluno.id %}" class="{% if opcao.aluno in estudantes %}red-bold{% else %}red-normal{% endif%}">
        {{opcao.aluno.user.get_full_name}}
        [{{ opcao.aluno.curso2 }}]
        &nbsp;=>&nbsp;opção #{{opcao.prioridade}}
        &nbsp;|&nbsp;{ {{opcao.aluno.anoPFE}}.{{opcao.aluno.semestrePFE}} }
        &nbsp;CR={{opcao.aluno.cr}}
      <br>
    </a>
    {% endif %}
  {% endfor %}

  <script>
      
     function fechar_proposta() {
      var autorizador = $("#autorizador option:selected").attr("value");
      var disponibilizar = $('input[name=disponibilizar]:checked', '#disponibilizacaoform').val();

      var dict = {};
      $(".fechar_proposta").each(function() {
        dict[$(this).attr("name")] = $(this).is(':checked');
      })

      $.ajax({
          type: "POST",
          data: {    
              autorizador: autorizador,
              disponibilizar: disponibilizar,
              dict: dict,
              'csrfmiddlewaretoken': '{{ csrf_token }}',
          },
          success: function(response){
            //if (response.atualizado) {
            // ------- RECURSO PARA ALGUM FEEDBACK   -------/////
            pulsa_texto(response.atualizado, "valor_atualizado");
            // ---------------------------------------------////
            //}
          },
          error: function (request, status, error) {
            {% if user.tipo_de_usuario == 4 %} 
              alert(request.responseText);
              jQuery("body").html(request.responseText.replace(/\n/g,"<br>"));
              console.log('error'+request.responseText);
            {% else %}
              jQuery("body").html("Erro no servidor do PFE. Por favor contactar: <a href='mailto:lpsoares@insper.edu.br'>lpsoares@insper.edu.br</a>");
            {% endif %}
          }
      });
    }

    $(".fechar_proposta").change(fechar_proposta);

    $(".alunos").change(function () {
      var vaga = $(this).val();
      var checked = $(this).prop('checked');

      $.ajax({
        url: '{% url "validate_alunos" %}',
        data: {
          'proposta': {{proposta.id}},
          'vaga': vaga,
          'checked': checked,
        },
        dataType: 'json',
        success: function (response) {
          if (response.atualizado) {
            console.log("Valor atualizado.");
          }
        },
        error: function (request, status, error) {
          {% if user.tipo_de_usuario == 4 %} 
            alert(request.responseText);
            jQuery("body").html(request.responseText.replace(/\n/g,"<br>"));
            console.log('error'+request.responseText);
          {% else %}
            jQuery("body").html("Erro no servidor do PFE. Por favor contactar: <a href='mailto:lpsoares@insper.edu.br'>lpsoares@insper.edu.br</a>");
          {% endif %}
        }
      });
    });
  </script>

{% endblock %}