{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 24 de Abril de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load aderencia_aluno %}

  <style>
		line.axis {
			stroke-width: 2;
			stroke: #c3c3c3;
		}
		line.tick {
			stroke-width: 1;
			stroke: #c3c3c3;
		}

		line.tick-a, text.tick-a {
			stroke: #c30000;
		}

		line.tick-b, text.tick-b {
			stroke: #0000c3;
		}

		line.tick-c, text.tick-c {
			stroke: #008000;
		}

    line.tick-p, text.tick-p {
			stroke: #00A0A0;
		}

    line.tick-y, text.tick-y {
			stroke: brown;
		}

		text.tick-text {
			font-family: "arial";
			font-size: 10px;
      fill-opacity:1;
      stroke-width:1px;
      stroke-linecap:butt;
      stroke-linejoin:miter;
      stroke-opacity:1;
      font-weight: 800;
		}

    text.tick-text2 {
			font-family: "arial";
			font-size: 14px;
			fill: #000000;
		}

	</style>

  {% include "tabelas_includes.html" %}

{% endblock %}

{% block content %}

  <span class="titulo">Propostas<a
    href="{% url 'proposta_submissao' %}"
    >&#10133;</a>
  </span>

  {% comment %} Seletor da edição da pesquisa {% endcomment %}
  {% include "edicoes.html" %}

  {% comment %} Tabela com todos as propostas selecionadas pelo filtro {% endcomment %}
  <div class="atualizar">

    <script>
      var publicados = 0
      var fechados = 0
      var tmp_computacao = 0
      var tmp_mecatronica = 0
      var tmp_mecanica = 0
      var alunos_computacao = 0
      var alunos_mecatronica = 0
      var alunos_mecanica = 0
      var alunos_computacao_disponivel = 0
      var alunos_mecatronica_disponivel = 0
      var alunos_mecanica_disponivel = 0
      var proposta_computacao = 0
      var proposta_mecatronica = 0
      var proposta_mecanica = 0
      var proposta_multidisciplinar = 0
      var proposta_computacao_disponivel = 0
      var proposta_mecatronica_disponivel = 0
      var proposta_mecanica_disponivel = 0
      var proposta_multidisciplinar_disponivel = 0
    </script>

    {% if propostas %}
      <div class="table-responsive">
      <table id="PropostasTable" class="table table-bordered table-hover table-sm" style="width: 100%;">
        <caption style="text-align:right">
          <small style="font-size:12px"><b>C</b>: Computação | <b>X</b>: Mecatrônica | <b>M</b>: Mecânica</small>
        </caption>
        <thead class="table-info">
        <tr>
          <th scope="col" class="estados text-center" style="font-size: 12px;" data-toggle="tooltip" data-html="true" animation="true" title="Algum professor autorizou que o projeto seja publicado para os estudantes">Autorizado</th>
          <th scope="col" class="estados text-center" style="font-size: 12px;" data-toggle="tooltip" data-html="true" animation="true" title="A proposta se encontra disponível para os alunos aplicarem">Disponível</th>
          <th scope="col" class="estados text-center" style="font-size: 12px;" data-toggle="tooltip" data-html="true" animation="true" title="Foi formado um grupo de estudantes para essa proposta de projeto">Fechado</th>
          <th scope="col" class="text-center">Proposta</th>
          {% if edicao == "todas" %}
            <th scope="col" class="periodo text-center">Período</th>
          {% endif %}
          <th scope="col" class="text-center organizacao">Organização</th>
          <th scope="col" class="estudantes text-center" style="font-size: 12px;">Estudante1</th>
          <th scope="col" class="estudantes text-center" style="font-size: 12px;">Estudante2</th>
          <th scope="col" class="estudantes text-center" style="font-size: 12px;">Estudante3</th>
          <th scope="col" class="estudantes text-center" style="font-size: 12px;">Estudante4</th>
          <th scope="col" class="text-center" style="font-size: 12px;">Disciplinas Recomendadas</th>
        </tr>
        </thead>
        {% for proposta in propostas %} 
        {% with disponivel=proposta.disponivel %}
        
          <tr class="item"> 

            {% comment %} Autorizado {% endcomment %}
            <td style="text-align:center; font-size: large; font-weight: bold;" class="estados
            {% if proposta.autorizado  %}
              text-success">&#x2713
            {% else %}
              text-danger">&#x2718;
            {% endif %}
            </td>

            {% comment %} Disponível {% endcomment %}
            {% if disponivel %}
              <script>publicados += 1</script>
            {% endif %}
            <td style="text-align:center; font-size: large; font-weight: bold;" class="estados
              {% if disponivel %}
                text-success">&#x2713
              {% else %}
                text-danger">&#x2718;
              {% endif %}
            </td>

            {% comment %} Fechado {% endcomment %}
            {% with fechada=proposta.projeto_set.exists %}
            {% if fechada %}
              <script>fechados += 1</script>
            {% endif %}
            <td style="text-align:center; font-size: large; font-weight: bold;" class="estados
              {% if fechada  %}
                text-success">&#x2713
              {% else %}
                text-danger">&#x2718;
              {% endif %}            
            </td>
            {% endwith %}

            <th scope="row">
            
              <a href="{% url 'proposta_completa' proposta.id %}"
                target="_blank" rel="noopener noreferrer"
                data-toggle="tooltip" data-html="true" animation="true" title="
                {% for opcaop in proposta.opcao_set.all %}
                  {% with alocacoes=opcaop.aluno.alocacao_set %}
                    {% if alocacoes.count %}
                      {% if opcaop.proposta == alocacoes.last.proposta %}
                        <u>
                        {% if opcaop.aluno %}
                          {{opcaop.aluno.user.get_full_name}} [{{opcaop.aluno.get_curso_display}}]
                        {% endif %}
                        #{{ opcaop.prioridade }}
                        </u>
                      {% else %}
                        {% if opcaop.aluno %}
                          {{opcaop.aluno.user.get_full_name}} [{{opcaop.aluno.get_curso_display}}]
                        {% endif %}
                        #{{ opcaop.prioridade }}
                      {% endif %}
                    {% else %}
                      {% if opcaop.aluno %}
                        {{opcaop.aluno.user.get_full_name}} [{{opcaop.aluno.get_curso_display}}]
                      {% endif %}
                      #{{ opcaop.prioridade }}
                    {% endif %}
                    |{% mede_aderencia opcaop.aluno proposta %}%|<br>
                  {% endwith %}
                {% empty %}
                  Nenhum aluno escolheu essa proposta
                {% endfor %}
                "            
              >
                {% if proposta.titulo_final %}
                  {{proposta.titulo_final}}<br>
                  <small>Título original: {{proposta.titulo}}</small>
                {% else %}
                  {{proposta.titulo}}
                {% endif %}
              </a>
              
            </th>

            {% if edicao == "todas" %}
              <td class="text-center periodo">
                {{proposta.ano}}.{{proposta.semestre}}
              </td>
            {% endif %}

            <td class="organizacao">
              <div id="proposta{{proposta.id}}" style="float:left;width: 85%;">
                {% if proposta.organizacao %}
                  <a href="{% url 'organizacao_completo' proposta.organizacao.id %}">
                    {{ proposta.organizacao.nome }}
                  </a>
                {% elif proposta.nome_organizacao %}
                  {{ proposta.nome_organizacao }}
                {% else %}
                  Organização não definida.
                {% endif %}  
              </div>
              <div class="esconder" style="float:right;">
                <a
                  data-proposta='{{proposta.id}}'
                  class="link-organizacao"
                  href="{% url 'link_organizacao' proposta.id %}"
                  data-url="{% url 'link_organizacao' proposta.id %}"
                  ><small>&#128279;</small></a
                >
              </div>
              
            </td>

            {% spaceless %}
            <td class="text-center estudantes">
              {% if proposta.perfil_aluno1_computacao %}
                {% if proposta.get_nativamente == "C" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de computação">{% endif %}
                  <span>C&nbsp;</span>
                {% if proposta.get_nativamente == "C" %}</b>{% endif %}
                <script>tmp_computacao += 1</script>
              {% endif %}
              {% if proposta.perfil_aluno1_mecatronica %}
                {% if proposta.get_nativamente == "X" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de mecatrônica">{% endif %}
                  <span>X&nbsp;</span>
                {% if proposta.get_nativamente == "X" %}</b>{% endif %}
                <script>tmp_mecatronica += 1</script>
              {% endif %}
              {% if proposta.perfil_aluno1_mecanica %}
                {% if proposta.get_nativamente == "M" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de mecânica">{% endif %}
                  <span>M&nbsp;</span>
                {% if proposta.get_nativamente == "M" %}</b>{% endif %}
                <script>tmp_mecanica += 1</script>
              {% endif %}
              
              <!-- Se não defido conta para os 3 cursos -->
              {% if not proposta.perfil_aluno1_computacao and not proposta.perfil_aluno1_mecatronica and not proposta.perfil_aluno1_mecanica %}
                <script>tmp_computacao += 1</script>
                <script>tmp_mecatronica += 1</script>
                <script>tmp_mecanica += 1</script>
                {% if not disponivel %}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% else %}
                  ?
                {% endif %}
              {% endif %}
            </td>
            <td class="text-center estudantes">
              {% if proposta.perfil_aluno2_computacao %}
                {% if proposta.get_nativamente == "C" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de computação">{% endif %}
                  <span>C&nbsp;</span>
                {% if proposta.get_nativamente == "C" %}</b>{% endif %}
                <script>tmp_computacao += 1</script>
              {% endif %}
              {% if proposta.perfil_aluno2_mecatronica %}
                {% if proposta.get_nativamente == "X" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de mecatrônica">{% endif %}
                  <span>X&nbsp;</span>
                {% if proposta.get_nativamente == "X" %}</b>{% endif %}
                <script>tmp_mecatronica += 1</script>
              {% endif %}
              {% if proposta.perfil_aluno2_mecanica %}
                {% if proposta.get_nativamente == "M" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de mecânica">{% endif %}
                  <span>M&nbsp;</span>
                {% if proposta.get_nativamente == "M" %}</b>{% endif %}
                <script>tmp_mecanica += 1</script>
              {% endif %}
              <!-- Se não defido conta para os 3 cursos -->
              {% if not proposta.perfil_aluno2_computacao and not proposta.perfil_aluno2_mecatronica and not proposta.perfil_aluno2_mecanica %}
                <script>tmp_computacao += 1</script>
                <script>tmp_mecatronica += 1</script>
                <script>tmp_mecanica += 1</script>
                {% if not disponivel %}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% else %}
                  ?
                {% endif %}
              {% endif %}
            </td>
            <td class="text-center estudantes">
              {% if proposta.perfil_aluno3_computacao %}
                {% if proposta.get_nativamente == "C" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de computação">{% endif %}
                  <span>C&nbsp;</span>
                {% if proposta.get_nativamente == "C" %}</b>{% endif %}
                <script>tmp_computacao += 1</script>
              {% endif %}
              {% if proposta.perfil_aluno3_mecatronica %}
                {% if proposta.get_nativamente == "X" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de mecatrônica">{% endif %}
                  <span>X&nbsp;</span>
                {% if proposta.get_nativamente == "X" %}</b>{% endif %}
                <script>tmp_mecatronica += 1</script>
              {% endif %}
              {% if proposta.perfil_aluno3_mecanica %}
                {% if proposta.get_nativamente == "M" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de mecânica">{% endif %}
                  <span>M&nbsp;</span>
                {% if proposta.get_nativamente == "M" %}</b>{% endif %}
                <script>tmp_mecanica += 1</script>
              {% endif %}
              <!-- Se não defido conta para os 3 cursos -->
              {% if not proposta.perfil_aluno3_computacao and not proposta.perfil_aluno3_mecatronica and not proposta.perfil_aluno3_mecanica %}
                <script>tmp_computacao += 1</script>
                <script>tmp_mecatronica += 1</script>
                <script>tmp_mecanica += 1</script>
                {% if not disponivel %}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% else %}
                  ?
                {% endif %}
              {% endif %}
            </td>
            <td class="text-center estudantes">
              {% if proposta.perfil_aluno4_computacao %}
                {% if proposta.get_nativamente == "C" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de computação">{% endif %}
                  <span>C&nbsp;</span>
                {% if proposta.get_nativamente == "C" %}</b>{% endif %}
                <script>tmp_computacao += 1</script>
              {% endif %}
              {% if proposta.perfil_aluno4_mecatronica %}
                {% if proposta.get_nativamente == "X" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de mecatrônica">{% endif %}
                  <span>X&nbsp;</span>
                {% if proposta.get_nativamente == "X" %}</b>{% endif %}
                <script>tmp_mecatronica += 1</script>
              {% endif %}
              {% if proposta.perfil_aluno4_mecanica %}
                {% if proposta.get_nativamente == "M" %}<b data-toggle="tooltip" data-html="true" animation="true" title="proposta nativamente para estudantes de mecânica">{% endif %}
                  <span>M&nbsp;</span>
                {% if proposta.get_nativamente == "M" %}</b>{% endif %}
                <script>tmp_mecanica += 1</script>
              {% endif %}
              {% if not proposta.perfil_aluno4_computacao and not proposta.perfil_aluno4_mecatronica and not proposta.perfil_aluno4_mecanica %}
                <script>tmp_computacao += 1</script>
                <script>tmp_mecatronica += 1</script>
                <script>tmp_mecanica += 1</script>
                {% if not disponivel %}
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {% else %}
                  ?
                {% endif %}
              {% endif %}
            </td>
            {% endspaceless %}

            <td style="font-size: 12px;">
              <ul style="margin-bottom: 2px; padding-left: 16px;">
                {% for recomendada in proposta.recomendada_set.all %}
                  <li>{{recomendada.disciplina.nome}};<br></li>
                {% endfor %}
              </ul>
            </td>

          </tr>

          <script>
            {% if proposta.get_nativamente  == "C" %} 
              proposta_computacao += 1
              {% if disponivel %}proposta_computacao_disponivel += 1;{% endif %}  
            {% elif proposta.get_nativamente  == "X" %} 
              proposta_mecatronica += 1
              {% if disponivel %}proposta_mecatronica_disponivel += 1;{% endif %}
            {% elif proposta.get_nativamente  == "M" %} 
              proposta_mecanica += 1
                {% if disponivel %}proposta_mecanica_disponivel += 1;{% endif %}
            {% else %} 
              proposta_multidisciplinar += 1
              {% if disponivel %}proposta_multidisciplinar_disponivel += 1;{% endif %}
            {% endif %}
            
            alunos_computacao += tmp_computacao;
            alunos_mecatronica += tmp_mecatronica;
            alunos_mecanica += tmp_mecanica;

            {% if disponivel %}
              alunos_computacao_disponivel += tmp_computacao;
              alunos_mecatronica_disponivel += tmp_mecatronica;
              alunos_mecanica_disponivel += tmp_mecanica;
            {% endif %}

            tmp_computacao = 0;
            tmp_mecatronica = 0;
            tmp_mecanica = 0;
          </script>

        {% endwith %}
        {% endfor %}
        
      
        
      </table>
      </div>

      <p>&nbsp;</p>
      <strong>Número Total de Propostas Publicadas:</strong> 
        <span id="propostas_publicadas"></span>
        <script>$("#propostas_publicadas").html(publicados);</script>
        <a data-toggle="tooltip" data-html="true" animation="true" title="Contando propostas que a organização desistiua após pubicação ou que não foram aprovados pelo comitê do PFE.">
          ({{ propostas.count }})
        </a><br>
      
      <strong>Número Total de Propostas Fechadas:</strong> 
      <span id="propostas_fechadas"></span><br>
        <script>$("#propostas_fechadas").html(fechados);</script>
      <strong>Número Total de Organizações Participando:</strong> {{num_organizacoes}}<br>

      <p>&nbsp;</p>
      <b>Disponibilidade de Propostas:</b><br>
      {% with nao_disponivel=True %}
        {% include "propostas_nativamente.html" %}
      {% endwith %}
    
      <p>&nbsp;</p>
      <strong>Vagas para estudantes de computação:</strong> 
      
      <span id="alunos_computacao_disponivel"></span>
        <script>$("#alunos_computacao_disponivel").html(alunos_computacao_disponivel);</script>
                <a data-toggle="tooltip" data-html="true" animation="true" title="Contando propostas que a organização desistiua após pubicação ou que não foram aprovados pelo comitê do PFE.">
          (<span id="alunos_computacao"></span>
        <script>$("#alunos_computacao").html(alunos_computacao);</script>)
        </a><br>

      <strong>Vagas para estudantes de mecatrônica:</strong> 
      <span id="alunos_mecatronica_disponivel"></span>
        <script>$("#alunos_mecatronica_disponivel").html(alunos_mecatronica_disponivel);</script>

                    <a data-toggle="tooltip" data-html="true" animation="true" title="Contando propostas que a organização desistiua após pubicação ou que não foram aprovados pelo comitê do PFE.">
          (<span id="alunos_mecatronica"></span>
        <script>$("#alunos_mecatronica").html(alunos_mecatronica);</script>)
        </a><br>

      <strong>Vagas para estudantes de mecânica:</strong> 
      
      <span id="alunos_mecanica_disponivel"></span>
        <script>$("#alunos_mecanica_disponivel").html(alunos_mecanica_disponivel);</script>
        <a data-toggle="tooltip" data-html="true" animation="true" title="Contando propostas que a organização desistiua após pubicação ou que não foram aprovados pelo comitê do PFE.">
          (<span id="alunos_mecanica"></span>
        <script>$("#alunos_mecanica").html(alunos_mecanica);</script>)
        </a><br>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

  <h5>Plot Ternário de Propostas entre Cursos</h5>
  <div id="plot">
  </div>

  {% include "organizacao-modal.html" %}

  {% comment %} <script charset="UTF-8" src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.2.0/d3.min.js"></script> {% endcomment %}
  <script charset="UTF-8" src="{% static 'd3/d3.min.js' %}"></script>

  <!-- https://gist.github.com/widged/5780720 -->
  <script>
  (function() {
    var svg = d3.select('#plot').append('svg')
                .attr("width", 400)
                .attr("height", 400);

      var w = 300;
      var h = 260;
      var m = 20;

      svg.append("text")
          .attr("x", -230)
          .attr("y", 140 )
          .attr("transform", "rotate(-60)")
          .text("Computação")
          .classed('tick-text tick-a', true);

      svg.append("text")
          .attr("x", 280)
          .attr("y", 300 )
          .text("Mecatrônica")
          .classed('tick-text tick-b', true);

      svg.append("text")
          .attr("x", 117)
          .attr("y", -155 )
          .attr("transform", "rotate(60)")
          .text("Mecânica")
          .classed('tick-text tick-c', true);

    svg.append("circle")
      .attr("cx", 70)
      .attr("cy", 317)
      .attr("r", 7)
      .attr("fill", "teal");
      
    svg.append("text")
      .attr("x", 80)
      .attr("y", 320)
      .text("autorizado")
      .classed('tick-text2 tick-p', true);

    svg.append("circle")
      .attr("cx", 200)
      .attr("cy", 317)
      .attr("r", 7)
      .attr("fill", "brown");
      
    svg.append("text")
      .attr("x", 210)
      .attr("y", 320)
      .text("pendente")
      .classed('tick-text2 tick-y', true);


    var corners = [[m,h+m], [w+m,h+m], [(w/2)+m,m]]

    corners.forEach(function(corner, idx) { 
      var c1 = idx, c2 = idx + 1; if(c2 >= corners.length) { c2 = 0;}
      svg.append("line")
        .attr("x1", corners[c1][0])
        .attr("y1", corners[c1][1])
        .attr("x2", corners[c2][0])
        .attr("y2", corners[c2][1])
        .classed('axis', true);	
    })

    var ticks = [0,20,40,60,80,100], n = ticks.length;
    ticks.forEach(function(v) {
      
      var coord1 = coord(v, 0, 100-v);
      var coord2 = coord(v, 100-v, 0);
      var coord3 = coord(0, 100-v, v);
      var coord4 = coord(100-v, 0, v);

      if(v !== 0 && v !== 100) {

        svg.append("line")
          .attr("x1", coord1[0])
          .attr("y1", coord1[1])
          .attr("x2", coord2[0])
          .attr("y2", coord2[1])
          .classed('tick tick-a', true);	

        svg.append("line")
          .attr("x1", coord2[0])
          .attr("y1", coord2[1])
          .attr("x2", coord3[0])
          .attr("y2", coord3[1])
          .classed('tick tick-b', true);	

        svg.append("line")
          .attr("x1", coord3[0])
          .attr("y1", coord3[1])
          .attr("x2", coord4[0])
          .attr("y2", coord4[1])
          .classed('tick tick-c', true);	

      }
      svg.append("text")
        .attr("x", coord1[0] - 15)
              .attr("y", coord1[1]  )
              .text( function (d) { return v; })
              .classed('tick-text tick-a', true);

      svg.append("text")
        .attr("x", coord2[0] - 6)
              .attr("y", coord2[1] + 10 )
              .text( function (d) { return (100- v); })
              .classed('tick-text tick-b', true);

      svg.append("text")
        .attr("x", coord3[0] + 6)
              .attr("y", coord3[1] )
              .text( function (d) { return v; })
              .classed('tick-text tick-c', true);

      })

      dados_aprovados = [
        {% for ter in ternario_aprovados %}
          coord({{ter.0}}, {{ter.1}}, {{ter.2}}, {{ter.3}}, "{{ter.4}}"),
        {% endfor %} 
      ]

      dados_pendentes = [
        {% for ter in ternario_pendentes %}
          coord({{ter.0}}, {{ter.1}}, {{ter.2}}, {{ter.3}}, "{{ter.4}}"),
        {% endfor %} 
      ]

      var circles_aprovados = svg.selectAll("circle_a").data(dados_aprovados);

      circles_aprovados.enter().append("circle")
        .attr("cx", function (d) { return d[0]; })
        .attr("cy", function (d) { return d[1]; })
        .attr("r", function (d) { return d[2]; })
        .attr("fill", "teal");
        
      circles_aprovados.enter().append("text")
        .attr("x", function (d) { return d[0]+d[2]; })
        .attr("y", function (d) { return d[1]-d[2]; })
        .text( function (d) { return d[3]; })
        .classed('tick-text tick-p', true);

      var circles_pendentes = svg.selectAll("circle_p").data(dados_pendentes);

      circles_pendentes.enter().append("circle")
        .attr("cx", function (d) { return d[0]; })
        .attr("cy", function (d) { return d[1]; })
        .attr("r", function (d) { return d[2]; })
        .attr("fill", "brown");
        
      circles_pendentes.enter().append("text")
        .attr("x", function (d) { return d[0]+d[2]; })
        .attr("y", function (d) { return d[1]+7+(d[2]/2); })
        .text( function (d) { return d[3]; })
        .classed('tick-text tick-y', true);


      function coord(a, b, c, r, t){
        var sum, pos = [0,0];
          sum = a + b + c;
          if(sum !== 0) {
            a /= sum;
            b /= sum;
            c /= sum;

          pos[0] =  corners[0][0]  * a + corners[1][0]  * b + corners[2][0]  * c;
          pos[1] =  corners[0][1]  * a + corners[1][1]  * b + corners[2][1]  * c;
          pos[2] = r;
          pos[3] = t;
        }
          return pos;
      }
      function scale(/* point */ p, factor) {
          return [p[0] * factor, p[1] * factor];
      }
    })()

    </script>

    {% endif %}

    <script>
      function carrega_pagina() {
      };
      window.onload = carrega_pagina
    </script>

  </div>
  <p>&nbsp;</p>

  {% with tabela='Propostas' %}
    {% include "edicoes_ajax.html" %}
  {% endwith %}

{% endblock %}