{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 24 de Abril de 2020
{% endcomment %}

{% block head %}
  
  {% load static %}
  {% load bleach %}

  <script src="{% static 'js/pfe_pulsa_texto.js' %}"></script>

  {% comment %} Para o gráfico no final da página {% endcomment %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/chartjs-plugin-datalabels.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Chart.min.css' %}">

  <style>
    label {
      margin-bottom: 2px;
      line-height: 1.0;
    }
    select {margin-bottom: 12px;}
  </style>

{% endblock %}

{% block content %}

  {% if not projeto.organizacao %}
  <h2 class="text-warning">
    <span lang="pt">Proposta ainda sem organização definitiva</span>
    <span lang="en" style="display: none;">Proposal still without definitive organization</span>
  </h2><br>
  {% endif %}

  {% with completo=True %}
    {% include "proposta.html" %}
  {% endwith %}

  {% with completo=True %}
    {% include "organizacao.html" %}
  {% endwith %}

  <strong>
    <span lang="pt">Submetido por:</span>
    <span lang="en" style="display: none;">Submitted by:</span>
  </strong><br>
  {{proposta.nome}}<br><br>

  {% if proposta.contatos_tecnicos %}
    <strong>
      <span lang="pt">Contatos Técnicos</span>
      <span lang="en" style="display: none;">Technical Contacts</span>
    </strong><br>
    {{proposta.contatos_tecnicos|linebreaks|bleach_urlize|safe}}
    <br><br>
  {% endif %}

  {% if proposta.contatos_administrativos %}
    <strong>
      <span lang="pt">Contatos Administrativos</span>
      <span lang="en" style="display: none;">Administrative Contacts</span>
    </strong><br>
    {{proposta.contatos_administrativos|linebreaks|bleach_urlize|safe}}
    <br><br>
  {% endif %}

  <h5 style="margin-bottom: 4px;">
    <span lang="pt">Áreas de Interesse</span>
    <span lang="en" style="display: none;">Areas of Interest</span>
  </h5>
  {% with aa=proposta.areadeinteresse_set.all %}
    {% with vencido=True %}
      {% include "areas.html" %}
    {% endwith %}
  {% endwith %}
  <br>

  {% with editavel=True %}
    {% include "recomendadas.html" %}
  {% endwith %}

  {% with editavel=True %}
    {% include "perfil_estudantes.html" %}
  {% endwith %}

  <hr>

  <form method="post" id="disponibilizacaoform" enctype="multipart/form-data">
    {% csrf_token %}

    <div style="margin-top: 22px; margin-bottom: 8px;">
      <b><label for="autorizador" data-toggle="tooltip" data-html="true" animation="true" 
        title="Mesmo ao autorizar uma proposta, esta só será visivel para os estudantes<br>depois que a liberação de visualização for habilitada.">
        <span lang="pt">Analisada por</span>
        <span lang="en" style="display: none;">Analyzed by</span>
      </label></b>:
      <select class="fechar_proposta" name="autorizador" id="autorizador" title="Selecione quem autorizou proposta" required>
          <option value='0'> ---- </option>
          {% for pessoa in comite %}
            <option value="{{pessoa.id}}" {% if pessoa.id == proposta.autorizado.id %}selected{% endif %}>
              {{pessoa}}
            </option>
          {% endfor %}
      </select>
    </div>

    <b>
      <span lang="pt">Conformidade de Proposta</span>
      <span lang="en" style="display: none;">Proposal Conformity</span>
    </b>
    {% include "conformidade.html" %}

    <b data-toggle="tooltip" data-html="true" animation="true" 
           title="Mesmo ao disponibilizar uma proposta, esta só será visivel para os estudantes<br>depois que a liberação de visualização for habilitada.">
      <span lang="pt">Disponibilizar:</span>
      <span lang="en" style="display: none;">Make Available: </span>
    </b>
    <label style="margin: 2px;"><input class="fechar_proposta disponibilizar" type="radio" name="disponibilizar" value="sim"
      {% if proposta.disponivel %}checked{% endif %}>
      <span lang="pt">Sim</span>
      <span lang="en" style="display: none;">Yes</span>
    </label>
    <label style="margin: 2px;"><input class="fechar_proposta disponibilizar" type="radio" name="disponibilizar" value="nao"
      {% if not proposta.disponivel %}checked{% endif %}>
      <span lang="pt">Não</span>
      <span lang="en" style="display: none;">No</span>
    </label>
    &nbsp;&nbsp;<small style="font-size: 12px; display: block;">
      <span lang="pt">Previsão para liberar visualização de propostas para estudantes em:</span>
      <span lang="en" style="display: none;">Forecast to release proposal visualization for students on:</span>
      {{liberacao_visualizacao.startDate}}
    </small> 

    <div id="valor_atualizado" style="display: none; width: fit-content;padding-left: 8px;padding-right: 8px;"></div>

    <script>
      $(document).ready(function() {
        function toggleConformidade() {
            var autorizadorValue = $("#autorizador").val();
            if (autorizadorValue === '0' || autorizadorValue === '') {
                $(".conformidade").prop("disabled", true);
            } else {
                $(".conformidade").prop("disabled", false);
            }
        }

        // Primeira interação
        toggleConformidade();

        // Sempre que mudar verificar
        $("#autorizador").change(function() {
            toggleConformidade();
        });

        function toggleDisponibilizar() {
          var allChecked = true;
          $(".conformidade").each(function() {
              if (!$(this).is(":checked")) {
                  allChecked = false;
              }
          });

          if (allChecked) {
              $(".disponibilizar").prop("disabled", false);
          } else {
              $(".disponibilizar").prop("disabled", true);
          }
        }

        // Initial check
        toggleDisponibilizar();

        // Check on change
        $(".conformidade").change(function() {
            toggleDisponibilizar();
        });

      });

    </script>

    <br><br>
    <div style="max-width: 56em; text-align: center;">
      <a class="btn btn-primary mb-1 mt-2" style="width: 13em;" href="{% url 'proposta_editar' proposta.slug %}">
        <span lang="pt">Editar Proposta</span>
        <span lang="en" style="display: none;">Edit Proposal</span>
      </a>
      <a class="btn btn-primary mb-1 mt-2" style="width: 13em;" href="{% url 'proposta_detalhes' proposta.id %}">
        <span lang="pt">Visão do Estudante</span>
        <span lang="en" style="display: none;">Student View</span>
      </a>
      
      {% for projeto in projetos %}
        <a class="btn btn-primary mb-1 mt-2" style="width: 13em;" href="{% url 'projeto_completo' projeto.id %}">
          <span lang="pt">Projeto</span>
          <span lang="en" style="display: none;">Project</span>
          {{projeto.ano}}.{{projeto.semestre}}
        </a>
        <a class="btn btn-danger mb-1 mt-2" style="width: 13em; color:white;" onClick="return confirm('Proposta possui um projeto e não pode ser removida')">
          <span lang="pt">Remover Proposta</span>
          <span lang="en" style="display: none;">Remove Proposal</span>
        </a>
      {% empty %}
        <a class="btn btn-primary mb-1 mt-2" data-toggle="tooltip" data-html="true" animation="true" title="criar projeto dessa proposta"
        onclick="cria_projeto()" style="width: 13em; padding-bottom: 3px; color:white;">Criar Projeto</a>
        <a class="btn btn-danger mb-1 mt-2" style="width: 13em; color:white;" href="{% url 'proposta_remover' proposta.slug %}" onClick="return confirm('Tem certeza que deseja remover proposta definitivamente?')">
          <span lang="pt">Remover Proposta</span>
          <span lang="en" style="display: none;">Remove Proposal</span>
        </a>
      {% endfor %}
    </div>
    <br>

  {% if not projetos %}
    <script>
      function cria_projeto() {
        if (confirm('Não existe um projeto para essa proposta, deseja criar?')) {
          window.open("{% url 'projeto_criar' proposta.id %}");
        }
      }
    </script>
  {% endif %}

  </form>

  {% include "prioridades.html" %}

  <br>
  <h5>
    <span lang="pt">Estudantes Aplicando para a Proposta</span>
    <span lang="en" style="display: none;">Students Applying for the Proposal</span>
  </h5>

  {% for estudante in sem_opcao %}
    <a href="{% url 'estudante_detail' estudante.id %}"
      class="dark-green-bold">
        {{estudante.user.get_full_name}}
        [{{ estudante.curso2 }}]
        &nbsp;=>&nbsp;SEM PRIORIDADE DEFINIDA
        &nbsp;|
        {% comment %} &nbsp;{ {{estudante.anoPFE}}.{{estudante.semestrePFE}} } {% endcomment %}
        &nbsp;CR={{estudante.cr}}
      <br>
    </a>
  {% empty %}
    <p>
      &nbsp;&nbsp;
      <span lang="pt">Ainda nenhum estudante aplicou para esta proposta.</span>
      <span lang="en" style="display: none;">No student has applied for this proposal yet.</span>
    </p>
  {% endfor %}

  {% for opcao in proposta.opcao_set.all %}
    <a href="{% url 'estudante_detail' opcao.aluno.id %}"
       class="
       {% if opcao.aluno in estudantes %}
        {% if opcao.prioridade <= 5 %}green-bold{% else %}yellow-bold{% endif %}
       {% else %}
        {% if opcao.prioridade <= 5 %}green-normal{% else %}yellow-normal{% endif %}
       {% endif %}
       ">
        {{opcao.aluno.user.get_full_name}}
        <span class="texto-longo">
          [{{ opcao.aluno.curso2 }}]
          &#10140; opção 
        </span>
        <span class="texto-curto">
          [{{ opcao.aluno.curso2.sigla_curta }}]
          &#10140; op
        </span>
          #{{opcao.prioridade}} | CR={{opcao.aluno.cr|floatformat:2}}
      <br>
    </a>
    
  
  {% endfor %}

  <script>
      
    function fechar_proposta() {
      var autorizador = $("#autorizador option:selected").attr("value");
      var disponibilizar = $("input[name=disponibilizar]:checked", "#disponibilizacaoform").val();

      var dict = {};
      $(".fechar_proposta").each(function() {
        dict[$(this).attr("name")] = $(this).is(":checked");
      })

      url = "{% url 'ajax_proposta' proposta.id %}";

      data = {
        autorizador: autorizador,
        disponibilizar: disponibilizar,
        dict: dict,
      };

      function success(response){
        pulsa_texto(response.atualizado, "valor_atualizado");
      };

      {% include "ajax_default_function.js" %}
    
    }

    $(".fechar_proposta").change(fechar_proposta);

  </script>

  {% include "forum_respostas.html" %}

{% endblock %}