{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Dezembro de 2023
{% endcomment %}

{% block head %}
  {% load static %}
  {% include "reload.html" %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  <span class="esconder">
    <a href="{% url 'proposta_submissao'%}" style="cursor:pointer;">
      <i class="fas fa-plus"></i>
      <span lang="pt">Adicionar Proposta</span>
      <span lang="en" style="display: none;">Add Proposal</span>
    </a>
  </span>

  {% include "edicoes.html" %}

  {% comment %} Tabela com todos as propostas selecionadas pelo filtro {% endcomment %}
  <div class="atualizar">

    {% include "tabelas_top_ml.html" with tabela="Propostas" cabecalhos=cabecalhos %}

      {% for proposta in propostas %} 
      
        <tr class="item"> 

          <th scope="row">
            <a href="{% url 'proposta_completa' proposta.id %}">
              {{proposta.titulo}}
            </a>  
          </th>

          {% comment %} {% if edicao == "todas" %} {% endcomment %}
            <td class="text-center periodo">
              {{proposta.ano}}.{{proposta.semestre}}
            </td>
          {% comment %} {% endif %} {% endcomment %}

          <td>
            {% if proposta.organizacao %}
              <a href="{% url 'organizacao_completo' proposta.organizacao.id %}">
                {{ proposta.organizacao.nome }}
              </a>
            {% elif proposta.nome_organizacao %}
              {{ proposta.nome_organizacao }}
            {% else %}
              Organização não definida.
            {% endif %}  
          </td>

          <td class="text-center">
            {% include "tipo_proposta.html" %}
          </td>

        </tr>

      {% endfor %}

    </table>
    </div>

    {% comment %} <p>&nbsp;</p>
    <strong>Número Total de Propostas:</strong> 
    <span id="propostas_publicadas">{{propostas|length}}</span>
      {% endcomment %}


    <script>
      function carrega_pagina(){
        if($("#PropostasTable th").length > 0) {   // Verifica se os THs foram registrados primeiro
          table = $("#PropostasTable").dataTable();
          if(table) {
            // Hide/Esconde certas colunas
            table.fnSetColumnVis( 1, !($("#filterEdicao").val()!="todas" ));  // esconde Período
          }
        }
      }
      window.onload = carrega_pagina
    </script>

  </div>
  
  {% include "edicoes_ajax.html" with tabela="Propostas" %}

{% endblock %}