{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 30 de Maio de 2020
{% endcomment %}

{% block head %}

  {% load static %}
  <script>{% include "tooltip.js" %}</script>
  
  <style>
    #liberadas {
      padding: 16px;
      border-radius: 5px;
      width: fit-content;
      margin-left: 20px;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid black; 
    }
    .obs {
      font-size: 12px;
      display: block;
    }
  </style>
{% endblock %}

{% block content %}
  <span class="titulo">{{ titulo }}</span>
  
  <div>
    <span>Data planejada para liberar propostas de projetos para estudantes:</span>
    {% if data_planejada %}
      <span style="font-weight:bold;" id="data_planejada">{{data_planejada}}.</span>
      <small class="obs">(Estudantes conseguirão ver as propostas disponíveis para aplicar nessa data)</small>
    {% else %}
      <span style="font-weight:bold;" id="data_planejada">Data para liberar propostas de projetos ainda não foi definida na agenda.</span>
    {% endif %}
  </div>
  
  <div style="margin-top: 6px;">
    <span>Prazo limite para seleção de propostas por estudantes: </span>
    {% if limite_propostas %}
      <span style="font-weight:bold;" id="limite_propostas">{{limite_propostas}}</span>
    {% else %}
      <span style="font-weight:bold;" id="limite_propostas">Data para indicação de interesse nos projetos do próximo semestre pelos estudante não foi definida na agenda.</span>
    {% endif %}
  </div>

  <br>

  <label for="min_props">Mínimo de Propostas para Estudantes Selecionarem:</label>
  <input class="liberar" id="min_props" name="min_props" type="number" min="0" max="99" step="1" style="text-align:right;"
         {% if user.tipo_de_usuario != 4 %}disabled data-toggle="tooltip" data-placement="bottom" title="Somente coordenadores podem alterar valor!"{% endif %}
         value="{{min_props}}"/>
  <span id="mess_atual" style="display: None;"> atualizado!</span>
  <br><br>

  <div id="liberadas"></div>

  <script>

  function mess_liberadas(valor) {
    if (valor) {
      $("#liberadas").css("background-color", "green");
      $("#liberadas").html("Propostas Liberadas");
    } else {
      $("#liberadas").css("background-color", "yellow");
      $("#liberadas").html("Propostas Não Liberadas");
    }
  }
  
  mess_liberadas({{liberadas_propostas|lower}})

  $(".liberar").change(function(evt){

    data = {
      "liberadas_propostas": $("#liberadas_propostas").prop('checked'),
      "min_props": $("#min_props").val(),
      "csrfmiddlewaretoken": "{{ csrf_token }}",
    };

    $.ajax({
      type: "POST",
      data: data,
      dataType: "JSON",
      success: function (data) {
        if (data.atualizado) {
          mess_liberadas(data.liberadas_propostas);
          if(data.hasOwnProperty("min_props")) {
            $("#min_props").val(data.min_props);
            $("#mess_atual").show();
            $("#mess_atual").fadeOut(2000);
          }
        } else {
          $("#liberadas").css("background-color", "red");
          $("#liberadas").html("Erro de Atualização");
        }
      },
      {% include "ajax_error_function.js" %}
    });
  
  });

  </script>

{% endblock %}