{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 18 de Outubro de 2019
{% endcomment %}

{% load static %}
{% load class_tag %}
{% load linguas %}

{% block head %}
  {% include "reload.html" %}
  <style>
    #AvisosTable tr td, #AvisosTable tr th {
      vertical-align: middle;
    }
  </style>
    
{% endblock %}

{% block content %}

  <label for="filter">{% lng "Filtro" "Filter" %}:</label>
  <select id="filter" class="filter" data-tableId="projetos">
    <option value="todos" {% if filtro == "todos" %}selected="selected"{% endif %}
     class="troca_lingua" data-pt="todos" data-en="all">todos</option>
    <option value="Co" {% if filtro == "Co" %}selected="selected"{% endif %}
     class="troca_lingua" data-pt="Coordenação" data-en="Coordination">Coordenação</option>
    <option value="Op" {% if filtro == "Op" %}selected="selected"{% endif %}
     class="troca_lingua" data-pt="Operacional" data-en="Operational">Operacional</option>
    <option value="Cm" {% if filtro == "Cm" %}selected="selected"{% endif %}
     class="troca_lingua" data-pt="Comitê Capstone" data-en="Capstone Committee">Comitê Capstone</option>
    <option value="Es" {% if filtro == "Es" %}selected="selected"{% endif %}
     class="troca_lingua" data-pt="Estudantes" data-en="Students">Estudantes</option>
    <option value="Or" {% if filtro == "Or" %}selected="selected"{% endif %}
     class="troca_lingua" data-pt="Orientadores" data-en="Advisors">Orientadores</option>
    <option value="Og" {% if filtro == "Og" %}selected="selected"{% endif %}
     class="troca_lingua" data-pt="Contatos nas Organizacoes" data-en="Contacts in Organizations">Contatos nas Organizacoes</option>
    <option value="Ev" {% if filtro == "Ev" %}selected="selected"{% endif %}
     class="troca_lingua" data-pt="Evento" data-en="Event">Evento</option>
  </select>
  <br>

  <form method="post">{% csrf_token %}

    {% include "tabelas_top_ml.html" with tabela="Avisos" cabecalhos=cabecalhos captions=captions tabela_simples=True %}
      {% for a in avisos %}
        {% if a.class == "Evento" %}
          <tr style="{% if hoje == a.evento.get_data %}background-color: #F0FFFF;{% endif %}"
            class="linha {% if hoje < a.evento.get_data %}atual{% endif %}" data-type="Co Ev">
            <th scope="row"></th>
            <td class="{% if a.evento.get_data < hoje %}text-success{% else %}text-info{% endif %}">
              <span class="texto-longo">{{a.evento.get_data}}</span><span class="texto-curto">{{a.evento.get_data|date:"d/m/y"}}</span>
            </td>
            <td></td>
            <td class="{% if a.evento.get_data < hoje %}text-success{% else %}text-info{% endif %}">
              <span data-toggle="tooltip" data-html="true" animation="true" title="Coordenação">Co
                {% comment %} Isso precisa ser feito de forma adequada {% endcomment %}
                {% if a.evento.tipo_evento.sigla == "A" %}Or{% endif %}
              </span>
            </td>
            <td style="background-color:{{a.evento.get_color}}">
              {% lng a.evento.tipo_evento.nome a.evento.tipo_evento.nome_en %}
            </td>
          </tr>

        {% comment %} Caso um aviso {% endcomment %}
        {% else %}
          <tr 
          class="linha
            {% if a.data %}
              {% if a.data < hoje %}text-success{% else %}text-info{% endif %}
            {% else %}
              text-muted
            {% endif %}
            {% if hoje < a.data %}atual{% endif %}
          "
          data-type="
            {% if a.aviso.coordenacao %}Co{% endif %}
            {% if a.aviso.operacional %}Op{% endif %}
            {% if a.aviso.comite %}Cm{% endif %}
            {% if a.aviso.todos_alunos %}Es{% endif %}
            {% if a.aviso.todos_orientadores %}Or{% endif %}
            {% if a.aviso.contatos_nas_organizacoes %}Og{% endif %}
          " 
          {% if a.data == hoje %}style="background-color: #F0FFFF;"{% endif %} >

          <th style="text-align:center;" scope="row">
            {% if a.data %}
              {% with instante=a.data|date:"md"%}
                <input class="aviso" type="checkbox" id="{{forloop.counter}}" name="aviso{{a.id}}" value="{{instante}}" 
                  {% if instante in a.aviso.datas_realizado %}checked{% endif %}
                  {% if user.tipo_de_usuario != 4 %}disabled{% endif %}>
              {% endwith %}
            {% endif %}
          </th>
          
          <td> {% comment %} data-toggle="tooltip" data-html="true" animation="true" title="{% if a.aviso.tipo_evento %}{{a.aviso.evento}} {%if a.aviso.delta >= 0 %}+ {{a.aviso.delta}}{%else%}- {% widthratio a.aviso.delta 1 -1 %}{%endif%}{% else %}delta={{a.aviso.delta}}{% endif %}" {% endcomment %}
            <label style="line-height: 1;" for="{{forloop.counter}}">
              {% if a.data%}
                <span class="texto-longo">{{a.data}}</span>
                <span class="texto-curto">{{a.data|date:"d/m/y"}}</span>
              {% else %}
                {% lng "Sem evento no semestre" "No event this semester" %}
              {% endif %}
            </label>
          </td>

          <td>
            <label style="line-height: 1;" for="{{forloop.counter}}">
              {% if a.aviso.tipo_evento %}
                {{a.aviso.get_evento_curto}} 
                {% if a.aviso.delta >= 0 %}+ {{a.aviso.delta}}{%else%}- {% widthratio a.aviso.delta 1 -1 %}{%endif%}
              {% else %}
                {% lng "Sem referência" "No reference" %}
              {% endif %}
            </label>
          </td>

          
        

          {% comment %} Publico alvo {% endcomment %}
          <td>
            {% if a.aviso.coordenacao %}
              <span data-toggle="tooltip" data-html="true" animation="true" title="Coordenação">Co</span>
            {% endif %}
            {% if a.aviso.operacional %}
              <span data-toggle="tooltip" data-html="true" animation="true" title="Equipe Operacional">Op</span>
            {% endif %}
            {% if a.aviso.comite %}
              <span data-toggle="tooltip" data-html="true" animation="true" title="Comite Capstone">Cm</span>
            {% endif %}
            {% if a.aviso.todos_alunos %}
              <span data-toggle="tooltip" data-html="true" animation="true" title="Estudantes">Es</span>
            {% endif %}
            {% if a.aviso.todos_orientadores %}
              <span data-toggle="tooltip" data-html="true" animation="true" title="Orientadores">Or</span>
            {% endif %}
            {% if a.aviso.contatos_nas_organizacoes %}
              <span data-toggle="tooltip" data-html="true" animation="true" title="Contatos nas Organizacoes">Og</span>
            {% endif %}
          </td>

          <td>
            {% if a.id %}<a {% if not a.data %}class="text-muted"{% endif %} href="{% url 'edita_aviso' a.id %}">{% endif %}
              {{a.aviso.titulo}}
            {% if a.id %}</a>{% endif %}
          </td>
        </tr>
        {% endif %}

      {% empty %}
        <p>{% lng "Não existem avisos." "There are no notices." %}</p>
      {% endfor %}
    {% include "tabelas_bottom.html" %}

    <div class="mt-4">
      <a href="{% url 'edita_aviso' %}" class="cria btn btn-primary mb-1{% if not user.eh_admin %} disabled{% endif %}">
        {% lng "Cria Aviso" "Create Notice" %}
      </a>
      <a href="{% url 'reenvia_avisos' %}" class="cria btn btn-primary mb-1{% if user.eh_admin %}"{% else %} disabled"{% endif %}"
        onClick="return confirm('Tem certeza que deseja reenviar os avisos do dia para todos os envolvidos?')">
        {% lng "Reenviar Avisos do Dia" "Resend Daily Notices" %}
      </a>
    </div>

  </form>

  <script>

    function filtra_data() {  // REFERENTE AO SELETOR DE DATAS
      var filterValue = $(".filter").val();
      var row = $(".linha"); 
      row.hide();

      row.each(function(i, el) {
        if( filterValue == "todos" | $(el).attr("data-type").indexOf(filterValue) >= 0 ) {
            $(el).show();
        }
      });

    }

    $(".filter").change(function(){
      filtra_data();
    });  

    $(document).ready(function(){
      filtra_data();

      // Scrolla para a linha do dia
      var atual = $(".atual");
      if (atual.length > 0) {
        var rowPosition = atual.offset().top;
        var halfWindowHeight = $(window).height() / 2;
        $("html, body").animate({
          scrollTop: rowPosition - halfWindowHeight
        }, 500);
      }

    });

    $(".aviso").change(function () {
      $.ajax({
        url: "{% url 'validate_aviso' %}",
        data: {
          "aviso": $(this).prop("name"),
          "checked": $(this).prop("checked"),
          "value": $(this).val(),
        },
        dataType: "JSON",
        success: function (data) {},
        {% include "ajax_error_function.js" %}
      });
    });

  </script>

{% endblock %}
