{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 3 de Julho de 2021
{% endcomment %}

{% block head %}
  {% load static %}

  <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
  <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>

{% endblock %}

{% block content %}

  <br>

  <form method="post" enctype="multipart/form-data"> {% csrf_token %}

    <label for="projeto">
      <span style="display:inline-block; width:7.5ex; text-align:right;">
        <span lang="pt">Projeto:</span>
        <span lang="en">Project:</span>
      </span>
      <select class="selectpicker show-tick" name="projeto" id="projeto" title="Selecione projeto"
      data-live-search="true" data-width="560px">
          <option selected value> -- selecione projeto -- </option>
          <optgroup label="{{projeto.ano}}.{{projeto.semestre}}">
          {% for projeto in projetos %}
            {% ifchanged projeto.semestre %}</optgroup><optgroup label="{{projeto.ano}}.{{projeto.semestre}}">{% endifchanged %}
            {% if projeto %}
              <option value="{{projeto.id}}" {% if projeto.id == alocacao.aluno.id %}selected{% endif %}>
              {{projeto.get_titulo}}
            </option>  
            {% endif %}
          {% endfor %}
          </optgroup>
      </select>
    </label>
    <br><br>

    <label for="usuario">
      <span style="display:inline-block; width:7.5ex; text-align:right;">
        <span lang="pt">Usuário:</span>
        <span lang="en">User:</span>
      </span>
      <select class="selectpicker show-tick" name="usuario" id="usuario" title="Selecione usuário"
      data-live-search="true" data-width="560px">
          <option selected value> -- selecione usuário -- </option>
          {% comment %} <optgroup label="Semestre Capstone"> {% endcomment %}
          {% for usuario in usuarios %}
              <option value="{{usuario.id}}">{{usuario}}</option>  
          {% endfor %}
          {% comment %} </optgroup> {% endcomment %}
      </select>
    </label>
    <br><br>

    <label for="data">
      <span style="display:inline-block; width:7.5ex; text-align:right;">
        <span lang="pt">Data:</span>
        <span lang="en">Date:</span>
      </span>
      <input id="data" type="date" name="data" value="{{data|date:'Y-m-d'}}" required>
    </label>
    <br><br>

    <label for="tipo">
      <span style="display:inline-block; width:7.5ex; text-align:right;">
        <span lang="pt">Tipo:</span>
        <span lang="en">Type:</span>
      </span>
      <select class="selectpicker show-tick" name="tipo" id="tipo" title="Selecione tipo de certificado"
      data-live-search="true" data-width="560px" required>
          <option disabled selected value> -- selecione tipo de certificado -- </option>
          {% comment %} <optgroup label="Semestre Capstone"> {% endcomment %}
          {% for tipo in tipos_certificados %}
            {% if tipo %}
              <option value="{{tipo.id}}">
              {{tipo.titulo}}
            </option>  
            {% endif %}
          {% endfor %}
          {% comment %} </optgroup> {% endcomment %}
      </select>
    </label>
    <br><br>

    <label for="observacao">
      <span lang="pt">Observação:</span>
      <span lang="en">Observation:</span>
    </label><br>
    <textarea id="observacao" name="observacao" rows="3" cols="80" maxlength="1000">{{observacao}}</textarea>
    <br><br>

    <label for="documento">
      <span lang="pt">Certificado:</span>
      <span lang="en">Certificate:</span>
    </label>
    {% include "selecionar_arquivo.html" with arquivo_nome="documento" arquivo_accept="*" required=True %}<br><br>

    <button type="submit" class="btn btn-primary">
      <span lang="pt">Cadastrar Certificado</span>
      <span lang="en">Register Certificate</span>
    </button>

  </form>

  <script>

    // Atualiza o projeto em função do estudante selecionado
    $("#usuario").change(function() {
      
      user_id = $("#usuario option:selected").val();

      $.ajax({
        url: "{% url 'projeto_user' %}",
        data: {
          "csrfmiddlewaretoken": "{{ csrf_token }}",
          "user_id": user_id,
        },
        type: "POST",
        dataType: "json",
        success: function (data) {
          if (data.projeto_id && data.projeto_id != '0') {
            $("#projeto").selectpicker("val", data.projeto_id);
          } else {
            $("#projeto").selectpicker("val", "");
          }
        },
        {% include "ajax_error_function.js" %}
      });

    });

  </script>

{% endblock %}