{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Abril de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
  <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>

  <style>
    input {
      display: inline-block;
    }
    .enviar {
      margin-right: 22px;
    }
    .bootstrap-select {
      max-width: 100%;
    }

  </style>
{% endblock %}

{% block content %}
  
    <form method="post" id="edita_aviso" enctype="multipart/form-data">{% csrf_token %}
      
      <div style="margin-bottom: 8px; display: inline-block;">
        <label for="titulo">
          <b>
            <span lang="pt">Aviso:</span>
            <span lang="en" style="display: none;">Notice:</span>
          </b>
        <input type="text" size="88" maxlength="120" id="titulo" name="titulo" value="{{aviso.titulo}}" required></label>
      </div><br>

      <div style="margin-bottom: 8px; margin-right: 25px; display: block;">
        <label for="evento">
          <b>
            <span lang="pt">Evento relacionado:</span>
            <span lang="en" style="display: none;">Related event:</span>
          </b>
        </label>
        <select name="evento" id="evento" title="Selecione evento" class="selectpicker" data-width="582px"  data-live-search="true" required>
            <option disabled selected value> -- selecione evento -- </option>
            {% for evento in eventos %}
              <option value="{{evento.id}}" {% if aviso.tipo_evento.id == evento.id %}selected="selected"{% endif %}>
                {{evento.nome}}
              </option>
            {% endfor %}
        </select>
      </div>

      <div style="margin-bottom: 8px; display: inline-block;">
        <label for="delta">
          <b>
            <span lang="pt">Delta:</span>
            <span lang="en" style="display: none;">Delta:</span>
          </b>
        <input name="delta" id="delta" type="number" min="-186" max="186" step="1" value="{{aviso.delta}}" required/></label>
      </div><br>

      <div style="margin-bottom: 8px; display: inline-block;">
        <label for="delta">
          <b>
            <span lang="pt">Mensagem:</span>
            <span lang="en" style="display: none;">Message:</span>
          </b>
          <br>
        <textarea name="mensagem" rows="12" cols="98">{{ aviso.mensagem }}</textarea></label>
      </div><br>
      
      <div style="margin-bottom: 8px; display: inline-block;">
        <b>
          <span lang="pt">Enviar para:</span>
          <span lang="en" style="display: none;">Send to:</span>
        </b><br>

        <input type="checkbox" id="coordenacao" name="coordenacao" {% if aviso.coordenacao %}checked{% endif %}>
        <label class="enviar" for="coordenacao">
          <span lang="pt">Coordenação</span>
          <span lang="en" style="display: none;">Coordination</span>
        </label>
        
        <input type="checkbox" id="operacional" name="operacional" {% if aviso.operacional %}checked{% endif %}>
        <label class="enviar" for="operacional">
          <span lang="pt">Operacional</span>
          <span lang="en" style="display: none;">Operational</span>
        </label>
        
        <input type="checkbox" id="comite_pfe" name="comite_pfe" {% if aviso.comite_pfe %}checked{% endif %}>
        <label class="enviar" for="comite_pfe">
          <span lang="pt">Comitê</span>
          <span lang="en" style="display: none;">Committee</span>
        </label>

        <input type="checkbox" id="todos_alunos" name="todos_alunos" {% if aviso.todos_alunos %}checked{% endif %}>
        <label class="enviar" for="todos_alunos">
          <span lang="pt">Estudantes</span>
          <span lang="en" style="display: none;">Students</span>
        </label>

        <input type="checkbox" id="todos_orientadores" name="todos_orientadores" {% if aviso.todos_orientadores %}checked{% endif %}>
        <label class="enviar" for="todos_orientadores">
          <span lang="pt">Orientadores</span>
          <span lang="en" style="display: none;">Advisors</span>
        </label>

        <input type="checkbox" id="contatos_nas_organizacoes" name="contatos_nas_organizacoes" {% if aviso.contatos_nas_organizacoes %}checked{% endif %}>
        <label class="enviar" for="contatos_nas_organizacoes">
          <span lang="pt">Organizações</span>
          <span lang="en" style="display: none;">Organizations</span>
        </label>

      </div><br>

      <br>
      <button class="btn btn-primary mb-1" type="submit" {% if user.tipo_de_usuario != 4 %}disabled{% endif %}>
        <span lang="pt">{% if aviso %}Atualizar{% else %}Criar{% endif %} Aviso</span>
        <span lang="en" style="display: none;">{% if aviso %}Update{% else %}Create{% endif %} Notice</span>
      </button>

      {% if aviso %}
        &nbsp;&nbsp;
        <button class="btn btn-primary mb-1" type="button" id="apagar" {% if user.tipo_de_usuario != 4 %}disabled{% endif %}>
          <span lang="pt">Apagar Aviso</span>
          <span lang="en" style="display: none;">Delete Notice</span>
        </button>

        <script>
          $("#apagar").click(function() {
            if(confirm("Você tem certeza?")){
              event.preventDefault();
              window.location = "{% url 'deleta_aviso' aviso.id %}";
            }
          });
        </script>
      {% endif %}

    </form>

{% endblock %}
