{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Abril de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
  <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>

  <style>
    input {display: inline-block;}
    .enviar {margin-right: 22px;}
    .bootstrap-select {max-width: 100%;}
  </style>
{% endblock %}

{% block content %}
  
  <form method="post" id="edita_aviso" enctype="multipart/form-data">{% csrf_token %}

    <div style="margin-top: 6px; margin-bottom: 8px; display: inline-block; max-width: 100%;">
      <label for="titulo">
        <b>{% lng "Aviso:" "Notice:" %}</b>
      <input type="text" size="88" maxlength="120" id="titulo" name="titulo" value="{{aviso.titulo}}" required></label>
    </div><br>

    <div style="margin-top: 6px; margin-bottom: 8px; margin-right: 25px; display: block;">
      <label for="evento">
        <b>{% lng "Evento relacionado:" "Related event:" %}</b>
      </label>
      <select name="evento" id="evento" title="Selecione evento" class="selectpicker" data-width="582px"  data-live-search="true" required>
          <option disabled selected value> -- selecione evento -- </option>
          {% for evento in eventos %}
            <option value="{{evento.id}}" {% if aviso.tipo_evento.id == evento.id %}selected="selected"{% endif %}>
              {{evento.nome}}
            </option>
          {% endfor %}
      </select>
    </div>

    <div style="margin-top: 6px; margin-bottom: 8px; display: inline-block;">
      <label for="delta">
        <b>{% lng "Delta:" "Delta:" %}</b>
      <input name="delta" id="delta" type="number" min="-186" max="186" step="1" value="{{aviso.delta}}" required/></label>
    </div><br>

    <div style="margin-bottom: 8px; display: inline-block;">
      <label for="delta">
        <b>{% lng "Mensagem:" "Message:" %}</b>
        <br>
      <textarea name="mensagem" rows="12" cols="98">{{ aviso.mensagem }}</textarea></label>
    </div><br>
    
    <div style="margin-bottom: 8px; display: inline-block;">
      <b>{% lng "Enviar para:" "Send to:" %}</b><br>

      <label class="enviar" for="coordenacao">
        <input type="checkbox" id="coordenacao" name="coordenacao" {% if aviso.coordenacao %}checked{% endif %}>
        {% lng "Coordenação" "Coordination" %}
      </label>
      
      <label class="enviar" for="operacional">
        <input type="checkbox" id="operacional" name="operacional" {% if aviso.operacional %}checked{% endif %}>
        {% lng "Operacional" "Operational" %}
      </label>
      
      <label class="enviar" for="comite">
        <input type="checkbox" id="comite" name="comite" {% if aviso.comite %}checked{% endif %}>
        {% lng "Comitê" "Committee" %}
      </label>

      <label class="enviar" for="todos_alunos">
        <input type="checkbox" id="todos_alunos" name="todos_alunos" {% if aviso.todos_alunos %}checked{% endif %}>
        {% lng "Estudantes" "Students" %}
      </label>

      <label class="enviar" for="todos_orientadores">
        <input type="checkbox" id="todos_orientadores" name="todos_orientadores" {% if aviso.todos_orientadores %}checked{% endif %}>
        {% lng "Orientadores" "Advisors" %}
      </label>

      <label class="enviar" for="contatos_nas_organizacoes">
        <input type="checkbox" id="contatos_nas_organizacoes" name="contatos_nas_organizacoes" {% if aviso.contatos_nas_organizacoes %}checked{% endif %}>
        {% lng "Organizações" "Organizations" %}
      </label>

    </div><br>

    <br>
    <button class="btn btn-primary mb-1" type="submit" {% if user.tipo_de_usuario != 4 %}disabled{% endif %}>
      {% lng_b aviso "Atualizar Aviso" "Criar Aviso" "Update Notice" "Create Notice" %}
    </button>

    {% if aviso %}
      &nbsp;&nbsp;
      <button class="btn btn-primary mb-1" type="button" id="apagar" {% if user.tipo_de_usuario != 4 %}disabled{% endif %}>
        {% lng "Apagar Aviso" "Delete Notice" %}
      </button>

      <script>
        $("#apagar").click(function() {
          if(confirm("Você tem certeza?")){
            event.preventDefault();
            window.location = "{% url 'deleta_aviso' aviso.id %}";
          }
        });
      </script>
    {% endif %}

  </form>
  
  <div class="mt-4 alert alert-light p-2" style="max-width: 854px;">
    <b>{% lng "Variáveis" "Variables" %}</b>:<br>
    {% for chave, valor in variaveis.items %}
      &#123;&#123;{{chave}}&#125;&#125; - {% lng valor.pt valor.en %}<br>
      {% if valor.atributos %}
        <small>&nbsp;&nbsp;{% lng "atributos" "attributes" %}: {{valor.atributos}}<br></small>
      {% endif %}
      {% if valor.exemplos %}
        <small>&nbsp;&nbsp;{% lng "exemplos" "examples" %}: {{valor.exemplos}}<br></small>
      {% endif %}
    {% endfor %}
    <br>
    <b>{% lng "Filtros" "Filters" %}</b>:<br>
    {% for chave, valor in filtros.items %}
      |{{chave}}: - {% lng valor.pt valor.en %}<br>
    {% endfor %}
  </div>

{% endblock %}
