{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 12 de Novembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load escape_emails %}

  {% comment %} Removendo nomes dos e-mails devido a limitações do Outlook. {% endcomment %}

  <script>
    function manda(estudantes, estudantes_nomes, orientador, orientador_nome, conexoes, conexoes_nomes, projeto, avancado) {
      mailto = "mailto:";
      if($("#estudantes:checked").val() && estudantes.trim().length != 0) {
        mailto += estudantes;
        if( ($("#orientador:checked").val() && orientador.trim().length != 0) || ($("#parceiros:checked").val() && conexoes.trim().length != 0) ) {mailto += "; ";}
      }
      if($("#orientador:checked").val() && orientador.trim().length != 0) {
        mailto += orientador;
        if($("#parceiros:checked").val() && conexoes.trim().length != 0) {mailto += "; ";}
      }
      if($("#parceiros:checked").val() && conexoes.trim().length != 0) {mailto += conexoes;}
      mailto += "?cc={{coordenacao.user.email}}";
      mailto += "&subject=Capstone%20"
      if(avancado) {mailto += "Avançado%20";}
      mailto += "-%20Projeto:%20"
      mailto += projeto
      mailto += "&body=Caros%20"
      if($("#estudantes:checked").val() && estudantes_nomes.trim().length != 0) {
        mailto += estudantes_nomes;
        if( ($("#orientador:checked").val() && orientador_nome.trim().length != 0) || ($("#parceiros:checked").val() && conexoes_nomes.trim().length != 0) ) {mailto += ", ";}
      }
      if($("#orientador:checked").val() && orientador_nome.trim().length != 0) {
        mailto += orientador_nome;
        if($("#parceiros:checked").val() && conexoes_nomes.trim().length != 0) {mailto += ", ";}
      }
      if($("#parceiros:checked").val() && conexoes_nomes.trim().length != 0) {mailto += conexoes_nomes;}
      mailto += ",%0D%0A%0D%0A";
      mailto += "%09atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20Capstone)";
      window.open(mailto);
    }
  
    function coleta_usuario_envia(aqui) {
      estudantes = aqui.data("estudantes");
      estudantes_nomes = aqui.data("estudantes-nomes");
      orientador = aqui.data("orientador");
      orientador_nome = aqui.data("orientador-nome");
      conexoes = aqui.data("conexoes");
      conexoes_nomes = aqui.data("conexoes-nomes");
      projeto = aqui.data("projeto");
      avancado = aqui.data("avancado");
      manda(estudantes, estudantes_nomes, orientador, orientador_nome, conexoes, conexoes_nomes, projeto, avancado);
    }

  </script>

  <style>
    .input-group-text {margin-bottom: 4px;}
    .meio_separador {margin-right: 4px;}
  </style>

{% endblock %}

{% block content %}

  {% if membros_comite %}
    <strong lang="pt">Comitês</strong><strong lang="en">Committees</strong>
    <div class="row align-items-start mb-2">
      <div class="ml-3">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <span lang="pt">Comitê Capstone</span><span lang="en">Capstone Committee</span>
              </span>
          </div>
          <div class="meio_separador input-group-addon"></div>
          <div class="input-group-append  ml-1">
            <a href="
              mailto:{% for membro in membros_comite %}{{membro.email|parse_quote}}{% if not forloop.last %}; {% endif %}{% endfor %}?cc={{coordenacao.user.email}}
              &amp;subject=Capstone%20Comitê&amp;body=Caros%20membros%20do%20comitê%20do%20Capstone,%0D%0A%0D%0A
              atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20Capstone)
            " target="_blank">
              <button class="btn btn-outline-secondary btn-sm" type="button">
                <span lang="pt">todos</span><span lang="en">all</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div> 
    <br>
  {% endif %}

  <strong lang="pt">Por semestre</strong><strong lang="en">By semester</strong>
  <div class="row align-items-start mb-2 table-responsive">
    <div class="ml-3">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <label class="input-group-text" for="filterEdicaoSemestre">
            <span lang="pt">Edição</span><span lang="en">Edition</span>
          </label>
        </div>
        <div class="input-group-sm">
          <select class="custom-select" id="filterEdicaoSemestre">
            {% for edicao in edicoes %}
              <option value="{{edicao}}" {% if edicao == atual %}selected{% endif %}>{{edicao}}</option>
            {% endfor %}
          </select>
        </div>

        <div id="spinnerSemestre" class="ml-2 input-group-append" style="display:none">
          <div class="spinner-border text-secondary ml-auto" style="width: 1.8rem; height: 1.8rem;" role="status" aria-hidden="true">
            <span class="sr-only input-group-text">Carregando...</span>
          </div>
        </div>
        <div class="meio_separador input-group-addon"></div>

        <div class="input-group-append">
          <a id="Estudantes" href="" target="_blank">
            <button class="btn btn-outline-secondary btn-sm ml-1" type="button">
              <span lang="pt">Estudantes</span><span lang="en">Students</span>
            </button>
          </a>

          <a id="EstudantesInsper" href="" target="_blank">
            <button class="btn btn-outline-secondary btn-sm ml-1" type="button">
              <span lang="pt">Só Estudantes Insper</span><span lang="en">Only Insper Students</span>
            </button>
          </a>

          <a id="Orientadores" href="" target="_blank">
            <button class="btn btn-outline-secondary btn-sm ml-1" type="button">
              <span lang="pt">Orientadores</span><span lang="en">Advisors</span>
            </button>
          </a>
          <a id="Parceiros" href="" target="_blank">
            <button class="btn btn-outline-secondary btn-sm ml-1" type="button">
              <span lang="pt">Parceiros</span><span lang="en">Partners</span>
            </button>
          </a>
          <a id="Bancas" href="" target="_blank">
            <button class="btn btn-outline-secondary btn-sm ml-1" type="button">
              <span lang="pt">Bancas</span><span lang="en">Examination Boards</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <strong lang="pt">Por projeto</strong><strong lang="en">By project</strong>
  <br>
  <small>
    &nbsp;&nbsp;<b>
      <span lang="pt">Copiados:</span><span lang="en">Copied:</span>
    </b>
    <div class="form-check form-check-inline mr-1">
      <input class="form-check-input" type="checkbox" id="estudantes" value="estudantes" checked>
      <label class="form-check-label" for="estudantes">
        <span lang="pt">Estudantes</span><span lang="en">Students</span>
      </label>
    </div>
    <div class="form-check form-check-inline mr-1">
      <input class="form-check-input" type="checkbox" id="orientador" value="orientador" checked>
      <label class="form-check-label" for="orientador">
        <span lang="pt">Orientador</span><span lang="en">Advisor</span>
      </label>
    </div>
    <div class="form-check form-check-inline mr-0">
      <input class="form-check-input" type="checkbox" id="parceiros" value="parceiros" checked>
      <label class="form-check-label" for="parceiros">
        <span lang="pt">Parceiros</span><span lang="en">Partners</span>
      </label>
    </div>
  </small>

  <div class="row align-items-start mb-2 table-responsive">
    <div class="ml-3">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <label class="input-group-text" for="filterEdicaoProjetos">
            <span lang="pt">Edição</span><span lang="en">Edition</span>
          </label>
        </div>
        <div class="input-group-sm">
          <select class="custom-select" id="filterEdicaoProjetos">
            {% for edicao in edicoes %}
              <option value="{{edicao}}" {% if edicao == atual %}selected{% endif %}>{{edicao}}</option>
            {% endfor %}
          </select>
        </div>
        <div id="spinnerProjetos" class="ml-2 input-group-append" style="display:none">
          <div class="spinner-border text-secondary ml-auto" style="width: 1.8rem; height: 1.8rem;" role="status" aria-hidden="true">
            <span class="sr-only input-group-text">Carregando...</span>
          </div>
        </div>
        <div class="meio_separador input-group-addon"></div>
        <div id="sequenc_projetos" class="input-group-append"></div>
      </div>
    </div>
  </div>

  <br>
  {% comment %} Texto em Vermelho {% endcomment %}
  <div class="text-danger">
    <span lang="pt">
      <b>Atenção:</b> os e-mails são gerados automaticamente e a linha de endereços pode ficar grande e não funcionar diretamente,
      nesses casos, tente copiar os endereços com o botão da direita e colar no seu cliente de e-mail.
    </span>
    <span lang="en">
      <b>Attention:</b> the e-mails are generated automatically and the address line may become too long and not work directly,
      in these cases, try copying the addresses with the right button and pasting them into your e-mail client.
    </span>
  </div>

  {% if user.tipo_de_usuario == 4 %}
    <br>
    <b lang="pt">Acesso de administração:</b>
    <b lang="en">Administration access:</b>
    <br>
    {% if todos_alunos %}
      <a href="
        mailto:{% for aluno in todos_alunos %}{{ aluno.user.email|parse_quote }}; {% endfor %}
        ?cc={{coordenacao.user.email}}
        &amp;subject=Capstone%20&amp;body=Caros%20estudantes,%0D%0A%0D%0A
        atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20Capstone)
      ">
        <span lang="pt">Todos estudantes</span><span lang="en">All students</span>
      </a><br>
    {% endif %}

    {% if todos_professores %}
      <a href="
        mailto:{% for professor in todos_professores %}{{ professor.user.email|parse_quote }}; {% endfor %}
        ?cc={{coordenacao.user.email}}
        &amp;subject=Capstone&amp;body=Caros%20professores%20do%Capstone,%0D%0A%0D%0A
        atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20Capstone)
      " target="_blank">
        <span lang="pt">Todos professores</span><span lang="en">All professors</span>
      </a><br>
    {% endif %}

    {% if todos_parceiros %}
      <a href="
        mailto:{% for parceiro in todos_parceiros %}{{ parceiro.user.email|parse_quote }}; {% endfor %}
        ?cc={{coordenacao.user.email}}
        &amp;subject=Capstone&amp;body=Caros%20parceiro%20do%Capstone,%0D%0A%0D%0A
        atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20Capstone)
      " target="_blank">
        <span lang="pt">Todos parceiros</span><span lang="en">All partners</span>
      </a><br>
    {% endif %}

  {% endif %}

  <script>

    var request_ajax_e = null;

    // Só atualiza e-mails da linha de semestres
    function carrega_semestre() {

      if (request_ajax_e != null){ 
          request_ajax_e.abort();
          request_ajax_e = null;
      }

      $("#Estudantes").hide();
      $("#EstudantesInsper").hide();
      $("#Orientadores").hide();
      $("#Parceiros").hide();
      $("#Bancas").hide();

      $("#spinnerSemestre").show();

      var edicao = $("#filterEdicaoSemestre option:selected").attr("value");
      request_ajax_e = $.ajax({
        type: "POST",
        url: '{% url "emails_semestre" %}',
        data: {
            edicao: edicao,
            "csrfmiddlewaretoken": "{{ csrf_token }}",
        },
        success: function(response){

            // Estudantes
            if(response.Estudantes.length) {
              var str = "mailto:";

              var emails = [];
              for (var id in response.Estudantes) {
                emails.push(response.Estudantes[id][2]);
              }
              str += emails.join(';');

              str += "?cc={{coordenacao.user.email}}&subject=Capstone&body=Caros%20estudantes,%0D%0A%0D%0Aatenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20Capstone)";
              $("#Estudantes").attr("href",str);
              $("#Estudantes").show();
            }


            // Estudantes só Insper
            if(response.EstudantesInsper.length) {
              var str = "mailto:";

              var emails = [];
              for (var id in response.EstudantesInsper) {
                emails.push(response.EstudantesInsper[id][2]);
              }
              str += emails.join(';');

              str += "?cc={{coordenacao.user.email}}&subject=Capstone&body=Caros%20estudantes,%0D%0A%0D%0Aatenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20Capstone)";
              $("#EstudantesInsper").attr("href", str);
              $("#EstudantesInsper").show();
            }

            // Orientadores
            if(response.Orientadores.length) {
              var str = "mailto:";

              var emails = [];
              for (var id in response.Orientadores) {
                emails.push(response.Orientadores[id][2]);
              }
              str += emails.join(";");

              str += "?cc={{coordenacao.user.email}}&subject=Capstone&body=Caros%20orientadores,%0D%0A%0D%0Aatenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20Capstone)";
              $("#Orientadores").attr("href", str);
              $("#Orientadores").show();
            }

            // Parceiros
            if(response.Parceiros.length) {
              var str = "mailto:";

              var emails = [];
              for (var id in response.Parceiros) {
                emails.push(response.Parceiros[id][2]);
              }
              str += emails.join(';');

              str += "?cc={{coordenacao.user.email}}"
              str += "&subject=Capstone&body=Parceiros%20do%20Capstone%20Insper,%0D%0A%0D%0Aatenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20Capstone)";
              $("#Parceiros").attr("href",str);
              $("#Parceiros").show();
            }

            // Bancas
            if(response.Bancas.length) {
              var str = "mailto:";

              var emails = [];
              for (var id in response.Bancas) {
                emails.push(response.Bancas[id][2]);
              }
              str += emails.join(';');

              str += "?cc={{coordenacao.user.email}}&subject=Capstone&body=Caros%20estudantes,%0D%0A%0D%0Aatenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20Capstone)";
              $("#Bancas").attr("href", str);
              $("#Bancas").show();
            }
            
            $("#spinnerSemestre").hide();
        },
        {% include "ajax_error_function.js" %}
      });
    };

    // Só atualiza e-mails da linha de projetos
    function carrega_projetos() {
      $("#sequenc_projetos").hide();
      $("#spinnerProjetos").show();

      var edicao = $("#filterEdicaoProjetos option:selected").attr("value");
      $.ajax({
        type: "POST",
        url: '{% url "emails_projetos" %}',
        data: {
            edicao: edicao,
            "csrfmiddlewaretoken": "{{ csrf_token }}",
        },
        success: function(response){
            $("#sequenc_projetos").replaceWith($("#sequenc_projetos", response));
            $(".tooltip-inner").remove();
            $(".tooltip-arrow").remove();
            $("#spinnerProjetos").hide();    
            $("#sequenc_projetos").show();
        },
        {% include "ajax_error_function.js" %}
      });
    };

    function carrega_pagina() {
      carrega_semestre();
      carrega_projetos();
    }

    $("#filterEdicaoSemestre").change(carrega_semestre);
    $("#filterEdicaoProjetos").change(carrega_projetos);
    $(document).ready(carrega_pagina);

  </script>

{% endblock %}