{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 12 de Novembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load escape_emails %}
  <script>{% include "tooltip.js" %}</script>

  {% comment %} Removendo nomes dos e-mails devido a limitações do Outlook. {% endcomment %}

  <script>
    function manda(estudantes, orientador, parceiros, projeto, avancado) {
      mailto = "mailto:";
      if($('#estudantes:checked').val() && estudantes.trim().length != 0) {
        mailto += estudantes;
        if( ($('#orientador:checked').val() && orientador.trim().length != 0) || ($('#parceiros:checked').val() && parceiros.trim().length != 0) ) {mailto += ",";}
      }
      if($('#orientador:checked').val() && orientador.trim().length != 0) {
        mailto += orientador;
        if($('#parceiros:checked').val() && parceiros.trim().length != 0) {mailto += ",";}
      }
      if($('#parceiros:checked').val() && parceiros.trim().length != 0) {mailto += parceiros;}
      mailto += "?cc={% for coordenador in coordenacoes %}{{coordenador.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %},pfe@insper.edu.br";
      mailto += "&subject=PFE%20"
      if(avancado) {mailto += "Avançado%20";}
      mailto += "-%20Projeto:%20"
      mailto += projeto
      mailto += "&body=Caros,%0D%0A%0D%0A";
      mailto += "atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)";
      window.open(mailto);
    }
  
    function coleta_usuario_envia(aqui) {
      estudantes = aqui.data("estudantes");
      orientador = aqui.data("orientador");
      conexoes = aqui.data("conexoes");
      projeto = aqui.data("projeto");
      avancado = aqui.data("avancado");
      manda(estudantes, orientador, conexoes, projeto, avancado);
    }

  </script>

  <style>
    .input-group-text {margin-bottom: 4px;}
    .meio_separador {margin-right: 4px;}
  </style>

{% endblock %}

{% block content %}

  <span class="titulo">Listas de e-mails</span>

  {% if membros_comite %}
    <strong>Comitês</strong>
    <div class="row align-items-start mb-2">
      <div class="ml-3">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
              <span class="input-group-text">comitê PFE</span>
          </div>
          <div class="meio_separador input-group-addon"></div>
          <div class="input-group-append  ml-1">
            <a href="
              mailto:{% for membro in membros_comite %}{{membro.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %}
              ?cc={% for coordenador in coordenacoes %}{{coordenador.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %},pfe@insper.edu.br
              &amp;subject=PFE%20Comitê&amp;body=Caros%20membros%20do%20comitê%20do%20PFE,%0D%0A%0D%0A
              atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)
            " target="_blank">
            {% comment %}
            <a href="
              mailto:{% for membro in membros_comite %}{{membro.get_full_name|parse_quote}}%20&lt;{{membro.email|parse_quote}}&gt;{% if not forloop.last %},{% endif %}{% endfor %}
              ?cc=Luciano%20Pereira%20Soares&lt;{{coordenacao.user.email}}&gt;,PFE&lt;pfe@insper.edu.br&gt;
              &amp;subject=PFE%20Comitê&amp;body=Caros%20membros%20do%20comitê%20do%20PFE,%0D%0A%0D%0A
              atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)
            ">
            {% endcomment %}
              <button class="btn btn-outline-secondary btn-sm" type="button">
                todos
              </button>
            </a>
          </div>
        </div>
      </div>
    </div> 
    <br>
  {% endif %}

  <strong>Por semestre</strong>
  <div class="row align-items-start mb-2 table-responsive">
    <div class="ml-3">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <label class="input-group-text" for="filterEdicaoSemestre">Edição</label>
        </div>
        <div class="input-group-sm">
          <select class="custom-select" id="filterEdicaoSemestre">
            {% for edicao in edicoes %}
              <option value="{{edicao}}" {% if edicao == atual %}selected{% endif %}>{{edicao}}</option>
            {% endfor %}
          </select>
        </div>

        <div id="spinnerSemestre" class="ml-2 input-group-append" style="display:none">
          <div class="spinner-border text-secondary ml-auto" style="width: 1.8rem; height: 1.8rem;" role="status" aria-hidden="true">
            <span class="sr-only input-group-text">Carregando...</span>
          </div>
        </div>
        <div class="meio_separador input-group-addon"></div>

        <div class="input-group-append">
          <a id="Estudantes" href="" target="_blank">
            <button class="btn btn-outline-secondary btn-sm ml-1" type="button">
              Estudantes
            </button>
          </a>
          <a id="Orientadores" href="" target="_blank">
            <button class="btn btn-outline-secondary btn-sm ml-1" type="button">
              Orientadores
            </button>
          </a>
          <a id="Parceiros" href="" target="_blank">
            <button class="btn btn-outline-secondary btn-sm ml-1" type="button">
              Parceiros
            </button>
          </a>
          <a id="Bancas" href="" target="_blank">
            <button class="btn btn-outline-secondary btn-sm ml-1" type="button">
              Bancas
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <strong>Por projeto</strong>
  <label class="form-check-label">(</label>
  <small>
    <div class="form-check form-check-inline mr-1">
      <input class="form-check-input" type="checkbox" id="estudantes" value="estudantes" checked>
      <label class="form-check-label" for="estudantes">Estudantes</label>
    </div>
    <div class="form-check form-check-inline mr-1">
      <input class="form-check-input" type="checkbox" id="orientador" value="orientador" checked>
      <label class="form-check-label" for="orientador">Orientador</label>
    </div>
    <div class="form-check form-check-inline mr-0">
      <input class="form-check-input" type="checkbox" id="parceiros" value="parceiros" checked>
      <label class="form-check-label" for="parceiros">Parceiros</label>
    </div>
  </small>
  <label class="form-check-label">)</label>

  <div class="row align-items-start mb-2 table-responsive">
    <div class="ml-3">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <label class="input-group-text" for="filterEdicaoProjetos">Edição</label>
        </div>
        <div class="input-group-sm">
          <select class="custom-select" id="filterEdicaoProjetos">
            {% for edicao in edicoes %}
              <option value="{{edicao}}" {% if edicao == atual %}selected{% endif %}>{{edicao}}</option>
            {% endfor %}
          </select>
        </div>
        <div id="spinnerProjetos" class="ml-2 input-group-append" style="display:none">
          <div class="spinner-border text-secondary ml-auto" style="width: 1.8rem; height: 1.8rem;" role="status" aria-hidden="true">
            <span class="sr-only input-group-text">Carregando...</span>
          </div>
        </div>
        <div class="meio_separador input-group-addon"></div>
        <div id="sequenc_projetos" class="input-group-append">XXXX</div>
      </div>
    </div>
  </div>

  {% if user.tipo_de_usuario == 4 %}
    <br><br>
    <b>Acesso de administração:</b>
    <br>
    {% if todos_alunos %}
      <a href="
        mailto:{% for aluno in todos_alunos %}{{ aluno.user.email|parse_quote }},{% endfor %}
        ?cc={% for coordenador in coordenacoes %}{{coordenador.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %},pfe@insper.edu.br
        &amp;bcc=comitepfe@insper.edu.br
        &amp;subject=PFE%20&amp;body=Caros%20alunos,%0D%0A%0D%0A
        atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)
      ">Todos os estudantes do PFE</a><br>
      {% comment %}
      <a href="
        mailto:{% for aluno in todos_alunos %}{{aluno.user.get_full_name|parse_quote}}%20&lt;{{ aluno.user.email|parse_quote }}&gt;,{% endfor %}
        ?cc=Luciano%20Pereira%20Soares&lt;{{coordenacao.user.email}}&gt;,PFE&lt;pfe@insper.edu.br&gt;
        &amp;bcc=ComitePFE&lt;comitepfe@insper.edu.br&gt;
        &amp;subject=PFE%20&amp;body=Caros%20alunos,%0D%0A%0D%0A
        atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)
      ">Todos os estudantes do PFE</a><br>
      {% endcomment %}
    {% endif %}

    {% if todos_professores %}
      <a href="
        mailto:{% for professor in todos_professores %}{{ professor.user.email|parse_quote }},{% endfor %}
        ?cc={% for coordenador in coordenacoes %}{{coordenador.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %},pfe@insper.edu.br
        &amp;bcc=comitepfe@insper.edu.br
        &amp;subject=PFE&amp;body=Caros%20professores%20do%PFE,%0D%0A%0D%0A
        atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)
      " target="_blank">Todos os professores do PFE</a><br>
      {% comment %}     
      <a href="
        mailto:{% for professor in todos_professores %}{{professor.user.get_full_name|parse_quote}}%20&lt;{{ professor.user.email|parse_quote }}&gt;,{% endfor %}
        ?cc={% for coordenador in coordenacoes %}{{coordenador.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %},pfe@insper.edu.br
        &amp;bcc=Comite%20PFE&lt;comitepfe@insper.edu.br&gt;
        &amp;subject=PFE&amp;body=Caros%20professores%20do%PFE,%0D%0A%0D%0A
        atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)
      ">Todos os professores do PFE</a><br>
      {% endcomment %}
    {% endif %}

    {% if todos_parceiros %}
      <a href="
        mailto:{% for parceiro in todos_parceiros %}{{ parceiro.user.email|parse_quote }},{% endfor %}
        ?cc={% for coordenador in coordenacoes %}{{coordenador.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %},pfe@insper.edu.br
        &amp;bcc=comitepfe@insper.edu.br
        &amp;subject=PFE&amp;body=Caros%20parceiro%20do%PFE,%0D%0A%0D%0A
        atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)
      " target="_blank">Todos os parceiros do PFE</a><br>
      {% comment %}
      <a href="
        mailto:{% for parceiro in todos_parceiros %}{{parceiro.user.get_full_name|parse_quote}}%20&lt;{{ parceiro.user.email|parse_quote }}&gt;,{% endfor %}
        ?cc={% for coordenador in coordenacoes %}{{coordenador.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %},pfe@insper.edu.br
        &amp;bcc=Comite%20PFE&lt;comitepfe@insper.edu.br&gt;
        &amp;subject=PFE&amp;body=Caros%20parceiro%20do%PFE,%0D%0A%0D%0A
        atenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)
      ">Todos os parceiros do PFE</a><br>
      {% endcomment %}
    {% endif %}

  {% endif %}

  <script>

    var request_ajax_e = null;

    // Só atualiza e-mails da linha de semestres
    function carrega_semestre() {

      if (request_ajax_e != null){ 
          request_ajax_e.abort();
          request_ajax_e = null;
      }

      $("#Estudantes").hide();
      $("#Orientadores").hide();
      $("#Parceiros").hide();
      $("#Bancas").hide();

      $("#spinnerSemestre").show();

      var edicao = $("#filterEdicaoSemestre option:selected").attr("value");
      request_ajax_e = $.ajax({
        type: "POST",
        url: '{% url "emails_semestre" %}',
        data: {
            edicao: edicao,
            "csrfmiddlewaretoken": "{{ csrf_token }}",
        },
        success: function(response){

            // Estudantes
            if(response.Estudantes.length) {
              var str = "mailto:";

              var emails = [];
              for (var id in response.Estudantes) {
                //str += response.Estudantes[id][0] + "%20" + response.Estudantes[id][1] + "%20<" + response.Estudantes[id][2] + ">,";
                //str += response.Estudantes[id][2];
                //str += ",";
                emails.push(response.Estudantes[id][2]);
              }
              str += emails.join(',');

              //str += "?cc=Luciano%20Pereira%20Soares<{{coordenacao.user.email}}>,PFE<pfe@insper.edu.br>&bcc=Comite%20PFE<comitepfe@insper.edu.br>&subject=PFE&body=Caros%20estudantes,%0D%0A%0D%0Aatenciosamente,%20Luciano%20P%20Soares%20(coordenação%20PFE)";
              str += "?cc={% for coordenador in coordenacoes %}{{coordenador.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %},pfe@insper.edu.br&bcc=comitepfe@insper.edu.br&subject=PFE&body=Caros%20estudantes,%0D%0A%0D%0Aatenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)";
              $("#Estudantes").attr("href",str);
              $("#Estudantes").show();
            }

            // Orientadores
            if(response.Orientadores.length) {
              var str = "mailto:";

              var emails = [];
              for (var id in response.Orientadores) {
                //str += response.Orientadores[id][0] + "%20" + response.Orientadores[id][1] + "%20<" + response.Orientadores[id][2] + ">,";
                //str += response.Orientadores[id][2] + ",";
                emails.push(response.Orientadores[id][2]);
              }
              str += emails.join(",");

              //str += "?cc=Luciano%20Pereira%20Soares<{{coordenacao.user.email}}>,PFE<pfe@insper.edu.br>&bcc=Comite%20PFE<comitepfe@insper.edu.br>&subject=PFE&body=Caros%20orientadores,%0D%0A%0D%0Aatenciosamente,%20Luciano%20P%20Soares%20(coordenação%20PFE)";
              str += "?cc={% for coordenador in coordenacoes %}{{coordenador.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %},pfe@insper.edu.br&bcc=comitepfe@insper.edu.br&subject=PFE&body=Caros%20orientadores,%0D%0A%0D%0Aatenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)";
              $("#Orientadores").attr("href",str);
              $("#Orientadores").show();
            }

            // Parceiros
            if(response.Parceiros.length) {
              var str = "mailto:";

              var emails = [];
              for (var id in response.Parceiros) {
                //str += response.Parceiros[id][0] + "%20" + response.Parceiros[id][1] + "%20<" + response.Parceiros[id][2] + ">,";
                //str += response.Parceiros[id][2] + ",";
                emails.push(response.Parceiros[id][2]);
              }
              str += emails.join(',');

              //str += "?cc=Luciano%20Pereira%20Soares<{{coordenacao.user.email}}>,PFE<pfe@insper.edu.br>&bcc=Comite%20PFE<comitepfe@insper.edu.br>&subject=PFE&body=Caros%20parceiros,%0D%0A%0D%0Aatenciosamente,%20Luciano%20P%20Soares%20(coordenação%20PFE)";
              str += "?cc={% for coordenador in coordenacoes %}{{coordenador.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %}"
              str += ",pfe@insper.edu.br&bcc=comitepfe@insper.edu.br"
              str += "&subject=PFE&body=Parceiros%20do%20PFE%20Insper,%0D%0A%0D%0Aatenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)";
              $("#Parceiros").attr("href",str);
              $("#Parceiros").show();
            }

            // Bancas
            if(response.Bancas.length) {
              var str = "mailto:";

              var emails = [];
              for (var id in response.Bancas) {
                //str += response.Bancas[id][0] + "%20" + response.Bancas[id][1] + "%20<" + response.Bancas[id][2] + ">,";
                //str += response.Bancas[id][2] + ",";
                emails.push(response.Bancas[id][2]);
              }
              str += emails.join(',');

              //str += "?cc=Luciano%20Pereira%20Soares<{{coordenacao.user.email}}>,PFE<pfe@insper.edu.br>&bcc=Comite%20PFE<comitepfe@insper.edu.br>&subject=PFE&body=Caros%20membros%20de%bancas,%0D%0A%0D%0Aatenciosamente,%20Luciano%20P%20Soares%20(coordenação%20PFE)";
              str += "?cc={% for coordenador in coordenacoes %}{{coordenador.email|parse_quote}}{% if not forloop.last %},{% endif %}{% endfor %},pfe@insper.edu.br&bcc=comitepfe@insper.edu.br&subject=PFE&body=Caros%20estudantes,%0D%0A%0D%0Aatenciosamente,%20{{coordenacao.user.get_full_name}}%20(coordenação%20PFE)";
              $("#Bancas").attr("href",str);
              $("#Bancas").show();
            }

            {% include "tooltips.js" %}

            $("#spinnerSemestre").hide();

        },
        error: function (request, status, error) {
          {% if user.tipo_de_usuario == 4 %} 
            alert(request.responseText);
            jQuery("body").html(request.responseText.replace(/\n/g,"<br>"));
            console.log('error'+request.responseText);
          {% else %}
            jQuery("body").html("Erro no servidor do PFE. Por favor contactar: <a href='mailto:lpsoares@insper.edu.br' target='_blank'>lpsoares@insper.edu.br</a>");
          {% endif %}
        }
      });
    };

    // Só atualiza e-mails da linha de projetos
    function carrega_projetos() {
      $("#sequenc_projetos").hide();
      $("#spinnerProjetos").show();

      var edicao = $("#filterEdicaoProjetos option:selected").attr("value");
      $.ajax({
        type: "POST",
        url: '{% url "emails_projetos" %}',
        data: {
            edicao: edicao,
            "csrfmiddlewaretoken": "{{ csrf_token }}",
        },
        success: function(response){
            $("#sequenc_projetos").replaceWith($("#sequenc_projetos",response));
            {% include "tooltips.js" %}
            $("#spinnerProjetos").hide();    
            $("#sequenc_projetos").show();
        },
        error: function (request, status, error) {
          {% if user.tipo_de_usuario == 4 %} 
            alert(request.responseText);
            jQuery("body").html(request.responseText.replace(/\n/g,"<br>"));
            console.log('error'+request.responseText);
          {% else %}
            jQuery("body").html("Erro no servidor do PFE. Por favor contactar: <a href='mailto:lpsoares@insper.edu.br' target='_blank'>lpsoares@insper.edu.br</a>");
          {% endif %}
        }
      });
    };

    function carrega_pagina() {
      carrega_semestre();
      carrega_projetos();
    }

    $("#filterEdicaoSemestre").change(carrega_semestre);
    $("#filterEdicaoProjetos").change(carrega_projetos);
    $(document).ready(carrega_pagina);

  </script>

{% endblock %}