{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Maio de 2019
{% endcomment %}

{% load linguas %}

<a href="{% url 'avisos_listar' %}">
  {% lng "Agenda" "Agenda" %}
</a><br>
<a href="{% url 'emails' %}">
  {% lng "Listas de e-mails" "E-mail lists" %}
</a><br>
<br>

<h5>
  {% lng "Feedbacks" "Feedbacks" %}
</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'lista_acompanhamento' %}">
  {% lng "Acompanhamento Intermediário das Organizações" "Organizations' Intermediate Feedback" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'lista_feedback' %}">
  {% lng "Comentários Finais das Organizações" "Organizations' Final Feedback" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'lista_feedback_estudantes' %}">
  {% lng "Acompanhamento Final dos Estudantes" "Students' Final Feedback" %}
</a></div>
<br>

<h5>
  {% lng "Controles" "Control" %}
</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'bancas_lista' 'proximas' %}">
  {% lng "Bancas" "Examination Boards" %}
  <a href="{% url 'bancas_tabela_agenda' %}">
    {% lng "(tabela)" "(table)" %}
  </a>
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'dinamicas_lista' %}">
  {% lng "Mentorias" "Mentorships" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'pendencias_professores' %}">
  {% lng "Pendencias professores" "Professors' pending tasks" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'despesas' %}">
  {% lng "Despesas" "Expenses" %}
</a></div>

<br>

<h5>
  {% lng "Listagem completa" "Complete list" %}
</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'todos_usuarios' %}">
  {% lng "Usuários" "Users" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'estudantes_lista' %}">
  {% lng "Estudantes" "Students" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'todos_parceiros' %}">
  {% lng "Parceiros" "Partners" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'todos_professores' %}">
  {% lng "Professores" "Professors" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'comite' %}">
  {% lng "Comitê" "Committee" %}
</a></div>

<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'organizacoes_lista' %}">
  {% lng "Organizações" "Organizations" %}
</a></div>

<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'propostas_lista' %}">
  {% lng "Propostas" "Proposals" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'projetos_lista' %}">
  {% lng "Projetos" "Projects" %}
</a></div>
<br>

<h5>
  {% lng "Tabelas de alocação" "Allocation tables" %}
</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'orientadores_tabela' %}">
  {% lng "Orientadores" "Advisors" %}
</a><a href="{% url 'orientadores_tabela_completa' %}">
  {% lng "(completa)" "(complete)" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'coorientadores_tabela' %}">
  {% lng "Coorientadores" "Co-advisors" %}
</a> <a href="{% url 'coorientadores_tabela_completa' %}">
  {% lng "(completa)" "(complete)" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'organizacoes_tabela' %}">
  {% lng "Organizações" "Organizations" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'bancas_tabela_alocacao' %}">
  {% lng "Bancas" "Examination Boards" %}
</a> <a href="{% url 'bancas_tabela_alocacao_completa' %}">
  {% lng "(completa)" "(complete)" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'aulas_tabela' %}">
  {% lng "Aulas" "Classes" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'mentorias_tabela' %}">
  {% lng "Mentorias" "Mentorships" %}
</a></div>
<br>

<h5>
  {% lng "Certificados" "Certificates" %}
</h5>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'certificados_submetidos' %}">
  {% lng "Listar Certificados" "List Certificates" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'selecao_geracao_certificados' %}">
  {% lng "Gerar Novos Certificados" "Generate New Certificates" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'certificacao_falconi' %}">
  {% lng "Certificações Falconi" "Falconi Certifications" %}
</a></div>
<div class="item_lista"><span class="circulo">&#9899;</span> <a href="{% url 'carregar_certificado' %}">
  {% lng "Carregar Certificado" "Load Certificate" %}
</a></div>
