{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 23 de Dezembro de 2020
{% endcomment %}

.logo_impressora {
    outline-width: 0;
    background-color: none;
}

.logo_impressora:hover {
    background: #e7e7e7;
    background-color: none;
}

.logo_impressora:active {
    background-color: lightblue;
}