{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 12 de Janeiro de 2024
{% endcomment %}

{% load static %}
{% load linguas %}

{% block head %}
  {% include "tabelas_includes.html" %}
  <link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
  <script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>
{% endblock %}

{% block content %}
  {% include "edicoes.html" with com_pessoas=True %}
  <div id="atualizar">
    {% include "tabelas_top_ml.html" with tabela="Aulas" cabecalhos=cabecalhos %}
      {% for aula in aulas %}
        {% if aula.responsavel %}
          <tr class="item" 
           {% if aula.responsavel.eh_prof_a %}
            data-user="Insper">
              <td data-sort="{{aula.responsavel.get_full_name}}"><a class="imprimir" href="{% url 'professor_detail' aula.responsavel.professor.id %}">{{aula.responsavel.get_full_name}}</a>
           {% elif aula.responsavel.eh_parc %}
            data-user="Externo">
              <td data-sort="{{aula.responsavel.get_full_name}}"><a class="imprimir" href="{% url 'parceiro_detail' aula.responsavel.parceiro.id %}">{{aula.responsavel.get_full_name}}</a>
           {% else %}
            ><td>
              {% lng "Erro ao identificar usuário" "Error identifying user" %}
           {% endif %}</td>
            <td><a href="mailto:{{aula.responsavel.email}}">{{aula.responsavel.email}}</a></td>
            <td style="text-align: left;">{{aula.atividade}} ({{aula.startDate}}) {% if aula.descricao %} - {{aula.descricao}}{% endif %}</td>
          </tr>
        {% endif %}
      {% endfor %}
    {% include "tabelas_bottom.html" %}
    <script>
      {% include "seleciona_linha_tabelas.html" with select="usuario" tabela="Aulas" data="user" %}
    </script>
  </div>

  <script>
    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
    };
    window.onload = carrega_site
  </script>

  {% include "edicoes_ajax.html" with tabela="Aulas" %}

{% endblock %}
