{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 6 de Abril de 2023
{% endcomment %}

{% block head %}
  {% load static %}

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>
  
  <link rel="stylesheet" href="{% static 'css/short_full.css' %}">

  {% comment %} Para recarregar a página em caso de um botão back ou similar {% endcomment %}
  {% include "reload.html" %}

  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">
  <link rel="stylesheet" href="{% static 'css/outros.css' %}">
  <link rel="stylesheet" href="{% static 'css/tabela_reduzida_estudantes.css' %}">

{% endblock %}

{% block content %}
  <span class="titulo">{{titulo}}</span>

  {% include "edicoes.html" %}
  <br>

  <div class="atualizar">

    {% if not edicoes %}
      {% for projeto in projetos %}

        <div class="div_arredondado">

          {% include "cabecalho_projeto.html" %}

          <div style="margin-top: 18px;">
            <strong>Avaliações de Pares Intermediárias:</strong><br>
            {% include "pares.html" with tipo_avaliacao="intermediaria" %}
          </div>

          <div style="margin-top: 18px;">
            <strong>Avaliações de Pares Finais:</strong><br>
            {% include "pares.html" with tipo_avaliacao="final" %}
          </div>

        </div>

      {% empty %}
        Sem alocações de projetos esse semestre.
      {% endfor %}
    {% endif %}

    <script>
      function carrega_pagina(){};
      window.onload = carrega_pagina
    </script>

    {% comment %} Sistema de controle de exibição de linguas. {% endcomment %}
    {% include "linguas.html" %}

  </div> 

  <script>

    function carrega_pagina() {};

    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
      carrega_pagina();
    };

    window.onload = carrega_site
  </script>

  {% include "edicoes_ajax.html" %}
  
{% endblock %}