{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 14 de Janeiro de 2024
{% endcomment %}

{% block head %}
  {% load static %}
  {% load date_extras %}
  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>
  
  {% comment %} Para recarregar a página em caso de um botão back ou similar {% endcomment %}
  {% include "reload.html" %}

  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">
  <link rel="stylesheet" href="{% static 'css/outros.css' %}">
  <link rel="stylesheet" href="{% static 'css/short_full.css' %}">

  <style>
    ul {
      margin-bottom: 6px;
      width: 100%;
    }
    .pintern {
      border: 1px solid grey;
      padding: 0.0em 0.4em 0.0em 0.4em;
      display:block;
      margin: 8px 0px 0px 0px;
      background-color: #FAFAF3;
    }
    .lightgrey,
    .lightgrey:link,
    .lightgrey:visited,
    .lightgrey:hover,
    .lightgrey:active
      {color:lightgrey;}
    .nome_entrega {
      font-size: 0.9em;
    }
  </style>
{% endblock %}

{% block content %}

  <span class="titulo">Avaliar Entregas</span>

  {% comment %} Seletor da edição da pesquisa {% endcomment %}
  {% include "edicoes.html" with com_entregas=tipos_entregas %}
  <br>

  <div class="atualizar">

      {% for projeto, entregas in avaliacoes %}
        {% if projeto.tem_relatos %}
          <div class="div_arredondado">
          
            <div class="tresp"><strong>Projeto:</strong> <a href="{% url 'projeto_completo' projeto.id %}">{{projeto.get_titulo}}</a>
            {% include "tipo_projeto.html" with com_tipo=False %}</div>
            <strong>Organização:</strong>

            {% if projeto.organizacao %}
              <a href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{ projeto.organizacao.nome }}</a>
            {% else %}
              ORGANIZAÇAO NÃO DEFINIDA
            {% endif %}
            <br>
            {% if edicao == "todas" or edicao == "nenhuma" %}
              <strong>Semestre:</strong> {{projeto.ano}}.{{projeto.semestre}}<br>
            {% endif %}
            <strong>Orientador:</strong>
            {% if projeto.orientador %}
              <a href="{% url 'professor_detail' projeto.orientador.id %}">{{projeto.orientador}}</a>
            {% else %}
              ORIENTADOR NÃO DEFINIDO
            {% endif %}
            <br>

            <strong>Grupo:</strong>
            {% with alocacoes=projeto.alocacao_set.all %}
              <a href="mailto:{% for alocacao in alocacoes %}{{alocacao.aluno.user.email}}{% if not forloop.last %},{% endif %}{% endfor %}?subject=PFE%20Insper%20-%20Projeto:%20{{projeto}}&body=Caro{% if alocacoes|length > 1 %}s{% endif %}%20{% for alocacao in alocacoes %}{% if not forloop.first %}{% if forloop.last %}%20e{% else %},{% endif %}%20{% endif %}{{alocacao.aluno.user.get_full_name}}{% endfor %},%0D%0A%0D%0Aatenciosamente,%20{{configuracao.coordenacao.coordenador_email}}%20(coordenação%20PFE)" target="_blank">
                <i class="fas fa-mail-bulk"></i>
              </a>
              <ul style="padding-left: 24px;">
                {% for alocacao in alocacoes %}
                  <li>
                    <a href="{% url 'estudante_detail' alocacao.aluno.id %}">
                      {{alocacao.aluno.user.get_full_name}}
                    </a>
                    <span class="opt_full">[{{ alocacao.aluno.curso2 }}]</span>
                    <span class="opt_short">[{{ alocacao.aluno.curso2.sigla_curta }}]</span>                  
                    <span class="opt_full emails"><a href="mailto:{{alocacao.aluno.user.email}}">&lt;{{alocacao.aluno.user.email}}&gt;</a></span>
                    <span class="opt_short emails"><a href="mailto:{{alocacao.aluno.user.email}}"><i class="far fa-envelope"></i></a></span>
                  </li>
                {% endfor %}
              </ul>
            {% endwith %}

            <div style="margin:8px 0px 3px 0px; "><strong>Entregas:</strong></div>
            {% for item in entregas %}
            {% with dias_ate=item.evento.endDate|dif_dias_hoje dias=-1 %} {% comment %} Eventos são mostrados duas semanas antes do prazo {% endcomment %}
              <div class="pintern exame{{item.composicao.exame.id}}" {% if not forloop.first %}style="margin-top: 8px;"{% endif %}> {% comment %} {% if dias_ate > dias %}{% endif %} {% endcomment %}
                <span class="nome_entrega" {% if dias_ate > dias %}style="color:lightgrey;"{% endif %}>
                  {% if item.composicao.tipo_documento %}
                    <b>{{item.composicao.tipo_documento.nome}}</b> 
                  {% else %}
                    <b>{{item.composicao.exame.titulo}}</b>
                  {% endif %}      
                  {% if item.evento.endDate %}            
                    <span class="opt_full">[prazo {{ item.evento.endDate|date:"DATE_FORMAT" }}]</span>
                    <span class="opt_short">[prazo {{ item.evento.endDate|date:"d/m/y" }}]</span>
                  {% endif %}
                </span>
                  {% comment %} {% if dias_ate > dias %}lightgrey{% endif %}" {% endcomment %}
                  {% comment %} <a id="adiciona" class="open-documento data-toggle="tooltip" data-html="true" animation="true"   item.documentos.last {% endcomment %}
                  {% comment %} onClick="check_prazo('{{item.evento.endDate|date:"Y-m-d"}}T23:59:59');" {% endcomment %}
                <br>
                {% if item.composicao.exame.grupo %}
                  <ul style="padding-left: 22px;" {% if dias_ate > dias %}class="lightgrey"{% endif %}>
                    {% for documento in item.documentos %}
                      <li style="list-style-type:'';" {% if dias_ate > dias %}class="lightgrey"{% endif %}>
                        {% if forloop.first%}<b>{% endif %} <span class="fas fa-archive"></span>
                        {% if documento.documento or documento.link %}
                          <a {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                           {% if dias_ate > dias %}class="lightgrey"{% endif %}
                           href="{% url 'entrega_avaliar' item.composicao.id projeto.id %}"
                           target="_blank" rel="noopener noreferrer">Entregue 
                            <span class="opt_full">{{ documento.data|date:"DATETIME_FORMAT" }}</span>
                            <span class="opt_short">{{ documento.data|date:"d/m/y H:i" }}</span>
                          </a>
                        {% endif %}
                        {% if documento.data|diff_days:item.evento.endDate > 0 %}<span style="color: red;">[FORA DO PRAZO]</span>{% endif %}
                        {% if forloop.first%}</b>{% endif %}  
                      </li>
                      {% if item.avaliacoes and item.avaliacoes.first%}
                        {% if documento.data > item.avaliacoes.first.momento %}
                          <span style="color: red;">Avaliação desatualizada, refazer para a nova entrega!</span>
                        {% endif %}
                      {% else %}
                        {% if dias_ate < prazo_avaliar %}
                          <span style="color: red;">Avaliação pendente!</span>
                        {% endif %}
                      {% endif %}
                    {% empty %}
                      {% if item.composicao.tipo_documento %}
                        <span {% if dias_ate > dias %}style="color:lightgrey;"{% endif %}>sem arquivos</span><br>
                      {% endif %}
                    {% endfor %}
                  </ul>
                  {% include "display_avaliacoes.html" with avaliacoes=item.avaliacoes nota=item.nota observacao=item.observacao com_orientador=True %}

                {% else %}
                  {% for alocacao, values in item.alocacoes.items %} 
                    <hr><b {% if dias_ate > dias %}class="lightgrey"{% endif %}>&#10040; {{alocacao.aluno.user.get_full_name}}:</b>
                    <ul style="padding-left: 32px;" {% if dias_ate > dias %}class="lightgrey"{% endif %}>
                      {% for documento in values.documentos %}
                        <li style="list-style-type:'';" {% if dias_ate > dias %}class="lightgrey"{% endif %}>
                          {% if forloop.first%}<b>{% endif %}<span class="fa fa-file"></span>
                          {% if documento.documento or documento.link %}
                            <a {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {% if documento.usuario %}{{documento.usuario.get_full_name}}{% else %}(ERRO AO IDENTIFICAR ESTUDANTE){% endif %}"{% endif %}
                             {% if dias_ate > dias %}class="lightgrey"{% endif %}
                             href="{% url 'entrega_avaliar' item.composicao.id projeto.id documento.usuario.id %}"
                             target="_blank" rel="noopener noreferrer">
                              Entregue
                              <span class="opt_full">{{ documento.data|date:"DATETIME_FORMAT" }}</span>
                              <span class="opt_short">{{ documento.data|date:"d/m/y H:i" }}</span>
                            </a>
                          {% endif %}
                          {% if documento.data|diff_days:item.evento.endDate > 0 %}<span style="color: red;">[FORA DO PRAZO]</span>{% endif %}
                          {% if forloop.first%}</b>{% endif %}  
                        </li>
                        {% if values.avaliacoes and values.avaliacoes.first%}
                          {% if documento.data > values.avaliacoes.first.momento %}
                            <span style="color: red;">Avaliação desatualizada, refazer para a nova entrega!</span>
                          {% endif %}
                        {% else %}
                          {% if dias_ate < prazo_avaliar %}
                            <span style="color: red;">Avaliação pendente!</span>
                          {% endif %}
                        {% endif %}
                      {% empty %}
                        {% if item.composicao.tipo_documento %}
                          <span {% if dias_ate > dias %}style="color:lightgrey;"{% endif %}>sem arquivos</span><br>
                        {% endif %}
                      {% endfor %}
                    </ul>
                    {% include "display_avaliacoes.html" with avaliacoes=values.avaliacoes nota=values.nota observacao=values.observacao com_orientador=True %}

                  {% endfor %}

                {% endif %}


              </div>
            {% endwith %}
          {% endfor %}

          </div>
        {% endif %}
      {% empty %}
       Sem alocações de projetos esse semestre.
      {% endfor %}

      {% if edicao == "nenhuma" %}
        <script>
          $("#container_edicao").hide();
        </script>
      {% endif %}

  </div> 

  <script>

    function carrega_pagina() {};
    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
      {% if tipos_entregas %}
        $("#filterEntregas").change(function() {
          var selectedValue = $(this).val();
          if (selectedValue == "todas") {
            $(".pintern").show();
          } else {
            $(".pintern").hide();
            $(".exame"+selectedValue).show();
          }
        });
      {% endif %}
    };
    window.onload = carrega_site
  </script>

  {% include "edicoes_ajax.html" %}

{% endblock %}