{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 13 de Novembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load escape_emails %}
  {% load banca_tipo %}

  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
  <link rel="stylesheet" href="{% static 'css/short_full.css' %}">

  <style>
    select {
      max-width: 100%;
      margin-right: 16px;
    }
  
    ul,ol {
      margin: 0px 0px 8px 0px;
      padding: 0px 0px 0px 1.5em;
    }
  </style>

  <script>{% include "tooltip.js" %}</script>
  {% include "heads_calendar.html" %}
  {% include "cores_bancas.html" %}

{% endblock %}

{% block content %}

  {% include "impressora.html" %}

  <span class="titulo">{{titulo}}
    <small class="esconder">
      <a data-toggle="tooltip" data-html="true" animation="true" title="Agenda Nova Banca" class="open-modal"
          data-url="{% url 'bancas_criar' %}" href="{% url 'bancas_criar'%}"> 
          &#10133;
        </a>
    </small>
  </span>

  <select class="esconder" id="proximas" onchange="location = this.options[this.selectedIndex].value;">
    <option value="todas" {% if periodo == "todas" %}selected="todas"{% endif %}>Todas</option>
    {% for edicao in edicoes %}
      <option value="{{edicao}}"
        {% if periodo == edicao %}selected{% endif %}
      >{{edicao}}</option>
    {% endfor %}
    <option value="proximas" {% if periodo == "proximas" %}selected="proximas"{% endif %}>Próximas</option>
    {% if projeto %}
      <option value="{{projeto.id}}" selected>{{projeto}}</option>
    {% endif %}
  </select>
 
  <script>
    function tipo_banca(selectObject) {
      var value = selectObject.value;
      if(value == "todos") {
        $(".item").show();
      } else {
        $(".item").hide();
        $('.'+value).show();
      }
    }
  </script>

  <select class="esconder" id="tipo" onchange="tipo_banca(this)">
    <option value="todos" {% if tipo == "todos" %}selected="todos"{% endif %} >todos</option>
    <option value="Intermediária" {% if tipo == "Intermediária" %}selected{% endif %}>Intermediária</option>
    <option value="Final" {% if tipo == "Final" %}selected{% endif %}>Final</option>
    <option value="Falconi" {% if tipo == "Falconi" %}selected{% endif %}>Falconi</option>
    <option value="Probation" {% if tipo == "Probation" %}selected{% endif %}>Probation</option>
  </select>

  <br>
  {% include "informacoes.html" %}

  {% if bancas %}
    
      <table id="BancasTable" class="table table-borderless table-sm arredondado"><tbody>
        {% for banca in bancas %} 
        <tr class="item {{ banca.tipo_de_banca|get_banca }}">
          <td>
            {% if banca.startDate %}
              <b>Horário:</b> {{banca.startDate.date}} ({{banca.startDate|date:"l"}}) das {{banca.startDate.time}}
              {% if banca.endDate %}
                às {{banca.endDate.time}}
              {% endif %}
              <br>
            {% endif %}
            
            {% if banca.tipo_de_banca is not None %}
              <b>Tipo:</b> 
              {{ banca.tipo_de_banca|get_banca }}
              <br>
            {% endif %}

            {% if banca.projeto %}
              <b>Título do Projeto:</b> 
              <a class="imprimir" href="{% url 'projeto_completo' banca.projeto.id %}">
                {% if banca.projeto.titulo_final and banca.projeto.titulo_final != banca.projeto.proposta.titulo %}
                  {{banca.projeto.titulo_final}}</a><br>
                  <small>&nbsp;&nbsp;Título original da proposta: 
                    <a class="imprimir" href="{% url 'projeto_completo' banca.projeto.id %}">{{banca.projeto.proposta.titulo}}</a>
                  </small>
                {% else %}
                  {{banca.projeto.get_titulo}}</a>
                {% endif %}
              <br>
            {% endif %}

            {% if banca.projeto.organizacao %}
              <b>Organização:</b> 
              <a class="imprimir" href="{% url 'organizacao_completo' banca.projeto.organizacao.id %}">
                {{ banca.projeto.organizacao.nome }}
              </a>
              <br>
            {% endif %}

            {% if banca.location %}
              <span class="local">
                <b>Local:</b> {{banca.location}}
                <br>
              </span>
            {% endif %}

            {% if banca.link %}
              <span class="link">
                <b>Link vídeo-conferência:</b> <small><a target="_blank" rel="noopener noreferrer" href="{{banca.link}}"><span style="word-break: break-all;">{{banca.link}}</span></a></small>
                <br>
              </span>
            {% endif %}

            {% if banca.projeto.orientador %}
              <div class="orientacao" style="margin-top: 8px;">
              
                {% if banca.projeto.proposta.intercambio %}
                  <b>Professor{% if banca.projeto.orientador.user.genero == 'F' %}a{% endif %} Responsável:</b>
                {% else %}
                  <b>Orientador{% if banca.projeto.orientador.user.genero == 'F' %}a{% endif %}:</b>
                {% endif %}
                
                <a class="imprimir" href="{% url 'professor_detail' banca.projeto.orientador.id %}">
                  {{banca.projeto.orientador.user.get_full_name}} 
                </a>
                <a class="email" href="mailto:{{banca.projeto.orientador.user.email}}">&lt;{{banca.projeto.orientador.user.email}}&gt;</a>
              </div>
            {% endif %}

            {% with coorientadores=banca.projeto.coorientador_set.all %}
            {% if coorientadores %}
            <div class="orientacao" style="margin-top: 8px;">
              <b>Coorientação:</b>
              <ul style="margin-bottom:0px;">
                {% for coorientador in coorientadores %}
                  <li>
                    <a class="imprimir" href="{% url 'user_detail' coorientador.usuario.id %}">
                      {{coorientador.usuario.get_full_name}} 
                    </a>
                    <a class="email" href="mailto:{{coorientador.usuario.email}}">&lt;{{coorientador.usuario.email}}&gt;</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            {% endwith %}
            
            {% if banca.membros %}
              <div class="banca" style="margin-top: 8px;">
                <b>Membros da Banca da Avaliação:</b>
                <ol style="margin-bottom:0px;">
                  {% for membro in banca.membros %}
                    <li>
                      <a class="imprimir" href="{% url 'user_detail' membro.id %}">
                        {{membro.get_full_name}}
                      </a>
                      <a class="email" href="mailto:{{membro.email}}">&lt;{{membro.email}}&gt;</a>
                    </li>
                  {% endfor %}
                </ol>
              </div>
            {% endif %}

            <div class="grupo" style="margin-top: 8px;">
              {% include "grupo_estudantes.html" with projeto=banca.projeto %}
            </div>
            <br>
            
            <div class="avaliacao" style="margin-top: 8px; overflow-wrap: break-word;">
              &#9733; <b>Link formulário de avaliação</b>: 
              <a href="{% url 'banca_avaliar' banca.slug %}">
                {{request.scheme}}://{{ request.get_host }}{% url 'banca_avaliar' banca.slug %}
              </a>
            </div>
            <br>

            <div class="agendamento" style="margin-top: 8px;">
              <b>Mensagem</b>: 
                <a data-toggle="tooltip" data-html="true" animation="true" title="Janela de Mensagem" class="open-modal"
                  data-url="{% url 'mensagem_email' 'banca' banca.pk %}" href="{% url 'mensagem_email' 'banca' banca.pk %}"> 
                  Servidor
                </a>

                {% comment %}
                {% with com_nome=True %}
                  <a href="{% include 'professores/mensagem_banca.html' %}" target="_blank">
                {% endwith %}          
                  <!--&amp;attach='events/{{banca.pk}}'-->
                  CN
                  </a>
                {% with com_nome=False %}
                  <a href="{% include 'professores/mensagem_banca.html' %}" target="_blank">
                {% endwith %}          
                  <!--&amp;attach='events/{{banca.pk}}'-->
                  SN
                  </a>
                {% endcomment %}
                
            <a href="{% url 'event_ics_export' banca.id %}">
              ics
            </a>
            
          </div>

          <span class="editar esconder" style="float: right;">
            <a data-toggle="tooltip" data-html="true" animation="true" title="Agenda Nova Banca" class="open-modal"
              data-url="{% url 'bancas_editar' %}{{banca.pk}}" href="{% url 'bancas_editar' banca.pk%}"> 
              <button class="btn btn-primary mb-1">Editar</button>
            </a>
          </span>

          </td>
        </tr>
        {% endfor %}
      </tbody></table>
    {% comment %} </form> {% endcomment %}
  {% else %}
    <p>Não existem bancas definidas.</p>
  {% endif %}
  <p>&nbsp;</p>

  <h4>Calendário</h4>
  <div id="atualizar">
    {% include "calendario_bancas.html" %}
  </div>

  <div class="sem_agendamento">
    {% if sem_banca %}
      <br>
      <h5>Projetos ativos sem bancas agendadas:</h5>
      <ul>
      {% for projeto in sem_banca %}
        <li>

          {% if projeto.orientador %}
            <a class="imprimir" href="{% url 'professor_detail' projeto.orientador.id %}">
              {{projeto.orientador.user.get_full_name}}:
            </a>
          {% endif %}

          {% if projeto.organizacao %}
            [<a class="imprimir" href="{% url 'organizacao_completo' projeto.organizacao.id %}"
              >{{ projeto.organizacao.nome }}</a
            >]
          {% endif %}

          <a class="imprimir" href="{% url 'projeto_completo' projeto.id %}">{{projeto.get_titulo}}</a>
          {% include "tipo_projeto.html" %}

        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>

  <script>
    function carrega_pagina() {};
    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
      carrega_pagina();
      montar_calendario();
    };

    window.onload = carrega_site

  </script>

  {% include "janelas-modal.html" %}

{% endblock %}