{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 24 de Setembro de 2019
{% endcomment %}

{% load static %}
{% load linguas %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
  {% include "heads_calendar.html" %}
  {% include "cores_bancas_mentorias.html" %}
{% endblock %}

{% block content %}

  {% if request.user.is_authenticated and request.user.eh_prof_a %}
    {% include "botao_adiciona.html" with url_add="bancas_criar" txt_pt="Cadastrar Nova Banca" txt_en="Register New Examination Board" open_modal=True %}
  {% endif %}
  <br><br>

  <div id="atualizar">
    {% include "calendario_bancas.html" %}
    <br>
    {% include "sem_banca.html" %}
  </div>

  <script>
    function carrega_site(){
      // recarrega a página a cada 1 hora (evita que usuário não veja atualização de outros)
      window.setInterval("location.reload();", 3600000); // 1 hora
      montar_calendario();
    };
    window.onload = carrega_site
  </script>

{% endblock %}