{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 24 de Setembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
  {% include "heads_calendar.html" %}
  {% include "cores_bancas_mentorias.html" %}
{% endblock %}

{% block content %}

  {% if request.user.is_authenticated and request.user.eh_prof_a %}
    <span class="esconder">
      <a href="{% url 'bancas_criar'%}" class="open-modal" style="cursor:pointer;"
      data-url="{% url 'bancas_criar' %}">
        <i class="fas fa-plus"></i>
        {% lng "Cadastrar Nova Banca" "Register New Examination Board" %}
      </a>
    </span>
  {% endif %}
  <br><br>

  <div id="atualizar">
    {% include "calendario_bancas.html" %}
    <br>
    {% include "sem_banca.html" %}
  </div>

  <script>
    function carrega_site(){
      // recarrega a página a cada 1 hora (evita que usuário não veja atualização de outros)
      window.setInterval("location.reload();", 3600000); // 1 hora
      montar_calendario();
    };
    window.onload = carrega_site
  </script>

{% endblock %}