{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 3 de Abril de 2023
{% endcomment %}

{% block head %}
  {% load static %}
  {% load certificado_banca %}
  <script>{% include "tooltip.js" %}</script>

  {% comment %} Para recarregar a página em caso de um botão back ou similar {% endcomment %}
  {% include "reload.html" %}
  
  <style>
    ol {
      padding-left: 0.8em;
    }
    ol li {
      margin-left: 1.8em;
    }

    .opt_short {
      display: none;
    }
    .opt_full {
      display: inline;
    }

    @media screen and (max-width: 800px) {
      .opt_short {
        display: inline;
      }
      .opt_full {
        display: none;
      }
    }

  </style>

{% endblock %}

{% block content %}
  
    <span class="titulo">Participação em Bancas</span>


    <ol style="">
      {% for banca in bancas %}

        {% ifchanged banca.periodo %}
          <div style="
          {% if not forloop.first %}margin-top: 1em;{% endif %}
          font-weight: bold; font-size: 1.2rem;">{{ banca.periodo }}</div>
        {% endifchanged %}

        <li value="{{ forloop.revcounter }}" style="background: #F0F0F0; margin-bottom: 4px;">
          <a href="{% url 'banca_ver' banca.id %}">
            {{ banca.get_tipo }},
            {% if banca.startDate %}
              <span class="opt_full">{{ banca.startDate|date:"DATE_FORMAT" }},</span>
              <span class="opt_short">{{ banca.startDate|date:"d/m/y" }},</span>
            {% endif %}
          </a>

          {% if user.professor and banca.projeto.orientador == user.professor %}
            <i>(ORIENTADOR)</i>
          {% endif %}

          {% with coorientadores=banca.projeto.coorientador_set.all %}
            {% for coorientador in coorientadores %}
              {% if coorientador.usuario == user %}
                <i>(COORIENTADOR)</i>
              {% endif %}
            {% endfor %}
          {% endwith %}
          
          {% if banca.projeto.organizacao %}
            <a href="{% url 'organizacao_completo' banca.projeto.organizacao.id %}">
              {{ banca.projeto.organizacao.nome }},</a>
          {% endif %}
          {% if banca.projeto %}
            <a style="max-width: 100%; display: inline-block; overflow-x: clip; text-overflow: ellipsis; text-wrap: nowrap;" 
               href="{% url 'projeto_completo' banca.projeto.id %}">
              {{banca.projeto.get_titulo}},</a>
          {% endif %}

          {% with certificado=banca|certificado_banca:user %}
            {% if certificado %}
              <a href="{{certificado}}" target="_blank" rel="noopener noreferrer">[CERTIFICADO]</a><br>
            {% endif %}
          {% endwith %}
        </li>
      {% empty %}
        Bancas não encontrados
      {% endfor %}
    </ol>

{% endblock %}