{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 14 de Dezembro de 2023
{% endcomment %}

{% load static %}
{% load get_field %}

<link rel="stylesheet" href="{% static 'bootstrap-select-1.13.14/dist/css/bootstrap-select.min.css' %}">
<script src="{% static 'bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/short_full.css' %}">

<style>
  input, textarea {max-width: 100%;}
  table, th, td { border: 0px; }
  .btn-group.bootstrap-select select {
    width: 1px !important;
  }
  .url_reativo {font-size: 16px;}
  @media (max-width: 460px) {
    .url_reativo {font-size: 14px;}
  }
  {% comment %} Para seleção de projeto não vazar a tela {% endcomment %}
  .bootstrap-select > .dropdown-menu { 
    width: 100vw;
    max-width: fit-content;
  }
  label {display: inline;}
</style>

  <form id="criarbancasform" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="modal-header">
      <h5 id="documentacao" class="modal-title">
        {% if banca %}
          {% if banca.projeto.orientador.user != request.user and request.user.tipo_de_usuario != 4 %}
            Visualizar Agendamento de
          {% else %}
            Editar Agendamento de
          {% endif %}
        {% else %}
          Agendar
        {% endif %} Banca</h5>    
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div id="modal-body" class="modal-body" style="padding-bottom: 2px;">

    {% if not banca.projeto %}
      <div id="div_projetos" class="form-group">
      <span style="margin-top: 12px;" for="projeto">Projeto:</span>
      <select class="selectpicker" name="projeto" id="projeto" title="Selecione o projeto"
      data-width="75%" data-size="5"
      {% comment %} required {% endcomment %}
      {% if request.user.tipo_de_usuario == 4 %}data-live-search="true"{% endif %}
      >
        {% for projeto in projetos %}
          {% if projeto.orientador.user == request.user or request.user.tipo_de_usuario == 4 %}
            <option value="{{projeto.id}}"
            style="font-size: 0.75em;{% if projeto.id in projetos_agendados %}color: lightgrey;{% endif %}"
            data-titulo="{{projeto.get_titulo}}"
            data-titulo_link="{% url 'projeto_completo' projeto.id %}"
            data-organizacao="{{projeto.organizacao}}"
            data-organizacao_link="{% url 'organizacao_completo' projeto.organizacao.id %}"
            data-orientador="{% if projeto.orientador %}{{projeto.orientador}}{% else %}SEM ORIENTADOR{% endif %}"
            data-orientador_link="{% if projeto.orientador %}{% url 'professor_detail' projeto.orientador.id %}{% endif %}"
            data-orientador_id="{% if projeto.orientador %}{{projeto.orientador.user.id}}{% else %}0{% endif %}"
            {% if projeto.id == banca.projeto.id %} selected {% endif %}
            data-subtext="{% if projeto.orientador %}{{projeto.orientador}}{% else %}SEM ORIENTADOR{% endif %}"
            {% if projeto.id in projetos_agendados %}data-mensagem="Banca já agendada:
            {% with banca_agendada=projeto.banca_set.all.0 %}
              {{banca_agendada.startDate|date:'d/m/Y'}} das {{banca_agendada.startDate|date:'H:i'}} às {{banca_agendada.endDate|date:'H:i'}}
            {% endwith %}
            "{% endif %}
            >
              {% comment %} {{projeto.ano}}.{{projeto.semestre}} {% endcomment %}
              ({{projeto.organizacao}}) {{projeto.get_titulo}}
              {% include "tipo_projeto.html" %}
            </option>
          {% endif %}
        {% endfor %}
      </select>
      </div>
    {% else %}
      <input type="hidden" name="projeto" value="{{banca.projeto.id}}">
    {% endif %}


    {% if not banca.alocacao %}
      <div id="div_alocacoes" class="form-group">
      <span style="margin-top: 12px;" for="alocacao">Alocação:</span>
      <select class="selectpicker" name="alocacao" id="alocacao" title="Selecione a alocação"
      data-width="75%" data-size="5" 
      {% comment %} required {% endcomment %}
      {% if request.user.tipo_de_usuario == 4 %}data-live-search="true"{% endif %}
      >
        {% for alocacao in alocacoes %}
          {% if alocacao.projeto.orientador.user == request.user or request.user.tipo_de_usuario == 4 %}
            <option value="{{alocacao.id}}"
            style="font-size: 0.75em;{% comment %} {% if alocacao.id in alocacaos_agendados %}color: lightgrey;{% endif %} {% endcomment %}"
            data-titulo="{{alocacao.projeto.get_titulo}}"
            data-titulo_link="{% url 'projeto_completo' alocacao.projeto.id %}"
            data-organizacao="{{alocacao.projeto.organizacao}}"
            data-organizacao_link="{% url 'organizacao_completo' alocacao.projeto.organizacao.id %}"
            data-orientador="{% if alocacao.projeto.orientador %}{{alocacao.projeto.orientador}}{% else %}SEM ORIENTADOR{% endif %}"
            data-orientador_link="{% if alocacao.projeto.orientador %}{% url 'professor_detail' alocacao.projeto.orientador.id %}{% endif %}"
            data-orientador_id="{% if alocacao.projeto.orientador %}{{alocacao.projeto.orientador.user.id}}{% else %}0{% endif %}"
            data-estudante="{{alocacao.aluno}}"
            data-estudante_link="{% if alocacao.aluno %}{% url 'estudante_detail' alocacao.aluno.id %}{% endif %}"
            {% if alocacao.id == banca.alocacao.id %} selected {% endif %}
            data-subtext="[{{alocacao.projeto.organizacao}}] {{alocacao.projeto.get_titulo}}"
            {% comment %} {% if alocacao.id in projetos_agendados %}data-mensagem="Banca já agendada:
            {% with banca_agendada=projeto.banca_set.all.0 %}
              {{banca_agendada.startDate|date:'d/m/Y'}} das {{banca_agendada.startDate|date:'H:i'}} às {{banca_agendada.endDate|date:'H:i'}}
            {% endwith %}
            "{% endif %} {% endcomment %}
            >
              {% comment %} {{projeto.ano}}.{{projeto.semestre}} {% endcomment %}
              {% comment %} ({{projeto.organizacao}}) {{projeto.get_titulo}} {% endcomment %}
              {% comment %} {% include "tipo_projeto.html" %} {% endcomment %}
              {{alocacao.aluno.user.get_full_name}}
            </option>
          {% endif %}
        {% endfor %}
      </select>
      </div>
    {% else %}
      <input type="hidden" name="alocacao" value="{{banca.alocacao.id}}">
    {% endif %}


    Título: 
    <a style="display: inline;" id="titulo_link" name="titulo_link" {% if banca and banca.get_projeto %}href="{% url 'projeto_completo' banca.get_projeto.id %}"{% endif %}>
      <span id="titulo" name="titulo">
        {% if banca and banca.get_projeto %}
          {{banca.get_projeto.get_titulo}}
          {% include "tipo_projeto.html" with projeto=banca.get_projeto %}
        {% else %}
          Titulo de Projeto não definido
        {% endif %}
      </span>
    </a>
    <br>

    Organização: 
    <a id="organizacao_link" name="organizacao_link" {% if banca and banca.get_projeto and banca.get_projeto.organizacao %}href="{% url 'organizacao_completo' banca.get_projeto.organizacao.id %}"{% endif %}>
      <span id="organizacao" name="organizacao">
        {% if banca and banca.get_projeto and banca.get_projeto.organizacao %}
          {{banca.get_projeto.organizacao}}
        {% else %}
          Organização Parceira não definida
        {% endif %}
      </span>
    </a>
    <br>
    
    Orientador{% if banca and banca.get_projeto and banca.get_projeto.orientador.user.genero == "F" %}a{% endif %}: 
    <a id="orientador_link" name="orientador_link" {% if banca and banca.get_projeto and banca.get_projeto.orientador %}href="{% url 'professor_detail' banca.get_projeto.orientador.id %}"{% endif %}>
      <span id="orientador" name="orientador">
        {% if banca and banca.get_projeto and banca.get_projeto.orientador %}
          {{banca.get_projeto.orientador}}
        {% else %}
          Sem identificação de Orientador(a)
        {% endif %}
      </span>
    </a>
    <span hidden id="orientador_id"></span>
    <br>
    
    <div id="div_estudante">
      Estudante: 
      <a id="estudante_link" name="estudante_link" {% if banca and banca.alocacao and banca.alocacao.aluno %}href="{% url 'estudante_detail' banca.alocacao.aluno.id %}"{% endif %}>
        <span id="estudante" name="estudante">
          {% if banca and banca.alocacao and banca.alocacao.aluno %}
            {{banca.alocacao.aluno}}
          {% else %}
            Sem estudante
          {% endif %}
        </span>
      </a>
      <span hidden id="estudante_id"></span>
      <br>
    </div>
    <br>

    <div style="line-height: 1;">
      <span style="display: inline-block; margin-bottom: 8px;">Tipo de banca:</span>
      {% for numero, texto in TIPO_DE_BANCA %}
        <div style="margin-left: 0.3em; margin-bottom: 0.3em;" class="radio">
          <label for="tipo{{numero}}"><input class="tipo_banca" id="tipo{{numero}}" type="radio" name="tipo" value="{{numero}}"
            {% if banca and banca.projeto.orientador.user != request.user and request.user.tipo_de_usuario != 4 %}disabled{% endif %}
            {% if banca.tipo_de_banca == numero or tipob == numero %}checked{% endif %} required> {{texto}}
            (duração padrão: {% if numero == 2 %}30{% elif numero == 3 %}90{% else %}120{% endif %}min)</label>
            <br>
        </div>
      {% endfor %}
    </div>

    <script>
    var minutos = 0
    $(document).ready(function(){
        $(".tipo_banca").change(function(){
            var tipo = $(this).val();
            if(tipo == 2) {  // Banca Falconi
              {% if user.tipo_de_usuario != 4 %} // Coordenador pode alocar fora dos horários
                document.getElementById("inicio").min = "{{bancas_falconi.first.startDate|date:'Y-m-d'}}T00:00:00";
                document.getElementById("inicio").max = "{{bancas_falconi.last.endDate|date:'Y-m-d'}}T23:59:59";
                document.getElementById("fim").min = "{{bancas_falconi.first.startDate|date:'Y-m-d'}}T00:00:00";
                document.getElementById("fim").max = "{{bancas_falconi.last.endDate|date:'Y-m-d'}}T23:59:59";
              {% endif %}
              minutos=30;
            } else if(tipo == 3) {  // Banca Probation
              {% if user.tipo_de_usuario != 4 %} // Coordenador pode alocar fora dos horários
                document.getElementById("inicio").min = "{{bancas_probation.first.startDate|date:'Y-m-d'}}T00:00:00";
                document.getElementById("inicio").max = "{{bancas_probation.last.endDate|date:'Y-m-d'}}T23:59:59";
                document.getElementById("fim").min = "{{bancas_probation.first.startDate|date:'Y-m-d'}}T00:00:00";
                document.getElementById("fim").max = "{{bancas_probation.last.endDate|date:'Y-m-d'}}T23:59:59";
              {% endif %}
              minutos=60;
            } else if(tipo == 1) {  // Banca Intermediária
              {% if user.tipo_de_usuario != 4 %} // Coordenador pode alocar fora dos horários
                document.getElementById("inicio").min = "{{bancas_intermediarias.first.startDate|date:'Y-m-d'}}T00:00:00";
                document.getElementById("inicio").max = "{{bancas_intermediarias.last.endDate|date:'Y-m-d'}}T23:59:59";
                document.getElementById("fim").min = "{{bancas_intermediarias.first.startDate|date:'Y-m-d'}}T00:00:00";
                document.getElementById("fim").max = "{{bancas_intermediarias.last.endDate|date:'Y-m-d'}}T23:59:59";
              {% endif %}
              minutos=120;
            } else {  // Banca Final
              {% if user.tipo_de_usuario != 4 %} // Coordenador pode alocar fora dos horários
                document.getElementById("inicio").min = "{{bancas_finais.first.startDate|date:'Y-m-d'}}T00:00:00";
                document.getElementById("inicio").max = "{{bancas_finais.last.endDate|date:'Y-m-d'}}T23:59:59";
                document.getElementById("fim").min = "{{bancas_finais.first.startDate|date:'Y-m-d'}}T00:00:00";
                document.getElementById("fim").max = "{{bancas_finais.last.endDate|date:'Y-m-d'}}T23:59:59";
              {% endif %}
              minutos=120;
            }
        });
    });
    </script>

    <br>
    <div>
        <label for="inicio" style="white-space: nowrap; display:inline-block; margin-bottom: 3px;">
        <span style="display:inline-block; width:5.5ex; text-align:right;">Início:</span>
        <input id="inicio" type="datetime-local" name="inicio" class="horario_banca"
        {% if banca and banca.projeto.orientador.user != request.user and request.user.tipo_de_usuario != 4 %}disabled{% endif %}
        {% if banca %}
          value="{{banca.startDate|date:'Y-m-d\TH:i:s'}}"
        {% elif data %}
          value="{{data}}T00:00"
        {% endif %} 
        required>
        &nbsp;&nbsp;&nbsp;&nbsp;
        </label>
      
        <label for="fim" style="white-space: nowrap; display:inline-block; margin-bottom: 3px;">
        <span style="display:inline-block; width:5.5ex; text-align:right">Fim:</span>
        <input id="fim" type="datetime-local" name="fim" class="horario_banca"
        {% if banca and banca.projeto.orientador.user != request.user and request.user.tipo_de_usuario != 4 %}disabled{% endif %}
        {% if banca %}
          value="{{banca.endDate|date:'Y-m-d\TH:i:s'}}"
        {% elif data %}
          value="{{data}}T00:00"
        {% endif %} 
        required>
        </label>
    </div><br>

    <script>
      // https://webreflection.medium.com/using-the-input-datetime-local-9503e7efdce
      Date.prototype.toDatetimeLocal =
        function toDatetimeLocal() {
          var
            date = this,
            ten = function (i) {
              return (i < 10 ? '0' : '') + i;
            },
            YYYY = date.getFullYear(),
            MM = ten(date.getMonth() + 1),
            DD = ten(date.getDate()),
            HH = ten(date.getHours()),
            II = ten(date.getMinutes()),
            SS = ten(date.getSeconds())
          ;
          return YYYY + '-' + MM + '-' + DD + 'T' +
                  HH + ':' + II + ':' + SS;
        };

      // Já ajusta o horário final para o padrão de minutos
      $("#inicio").change(function() {
        var data = new Date($(this).val());
        data.setMinutes(data.getMinutes() + minutos);
        $("#fim").val(data.toDatetimeLocal());
      });
    </script>

    <label for="local">Local:</label> 
    <input id="local" name="local" type="text" size="36" maxlength="{% max_length Banca "location" %}"
    {% if banca and banca.projeto.orientador.user != request.user and request.user.tipo_de_usuario != 4 %}disabled{% endif %}
    style="max-width: 100%;" placeholder="alocado pela equipe de reservas"
    {% if banca %}
      value="{{banca.location}}"
    {% endif %}
    />
    <span id="aviso_local" style="color: red;"></span>
    <br><br>

    {% if banca.location %}
      <script>
        $(".horario_banca").change(function() {
          if($("#local").val()) {
            $("#aviso_local").html("[Local desatualizado, remover]");
          }
        });
        $("#local").on("input", function() {
          if(!$("#local").val()) {
            $("#aviso_local").html("");
          }
        });
      </script>
    {% endif %}

    <label for="link">Link de Vídeo-conferência:</label>
    <input id="link" name="link" type="text" size="36" maxlength="{% max_length Banca "link" %}" 
    {% if banca and banca.projeto.orientador.user != request.user and request.user.tipo_de_usuario != 4 %}disabled{% endif %}
    style="max-width: 100%;" placeholder="somente se necessário"
    {% if banca %}
      value="{{banca.link}}"
    {% endif %} 
    />
    <br><br>

    <table>
      <tr>
        <td>
          <label for="membro1">Membro&nbsp;1<span class="opt_full"> da Banca</span>:</label>
        </td>
        <td>
          <select name="membro1" class="pessoas custom-select custom-select-sm membros" id="membro1" title="Selecione membro da banca"
            {% if user.tipo_de_usuario != 4 %}required{% endif %}
            {% if banca and banca.projeto.orientador.user != request.user and request.user.tipo_de_usuario != 4 %}disabled{% endif %}
            oninvalid="this.setCustomValidity('Selecione ao menos duas pessoas para a banca')"
            oninput="this.setCustomValidity('')"
            >
              <option selected value> -- selecione membro da banca -- </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="membro2">Membro&nbsp;2<span class="opt_full"> da Banca</span>:</label>
        </td>
        <td>
          <select name="membro2" class="pessoas custom-select custom-select-sm membros" id="membro2" title="Selecione membro da banca"
            {% if user.tipo_de_usuario != 4 %}required{% endif %}
            {% if banca and banca.projeto.orientador.user != request.user and request.user.tipo_de_usuario != 4 %}disabled{% endif %}
            oninvalid="this.setCustomValidity('Selecione ao menos duas pessoas para a banca')"
            oninput="this.setCustomValidity('')"
            >
              <option selected value> -- selecione membro da banca -- </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="membro3">Membro&nbsp;3<span class="opt_full"> da Banca</span>:</label>
        </td>
        <td>
          <select name="membro3" class="pessoas custom-select custom-select-sm membros" id="membro3" title="Selecione membro da banca"
            {% if banca and banca.projeto.orientador.user != request.user and request.user.tipo_de_usuario != 4 %}disabled{% endif %}>
            <option selected value> -- selecione membro da banca -- </option>
          </select>
        </td>
      </tr>
    </table>

    {% if banca %}
      <br>
      <div style="overflow-wrap: break-word;">
        &#9733; Formulário de Avaliação:
        <a class="url_reativo" target="_blank" rel="noopener noreferrer" 
          href="{% url 'banca_avaliar' banca.slug %}">
          https://{{ request.get_host }}{% url 'banca_avaliar' banca.slug %}
        </a>
      </div>
    {% endif %}

    <br>
    <span id="mensagem" style="color: red; font-weight: bold; display: block;"></span>
    <span id="mensagem2" style="color: red; font-weight: bold; display: block;"></span>

  </div>

  <div id="div_botao" class="modal-footer">

    <small>
      <input type="checkbox" name="enviar_mensagem" value="sim" id="enviar_mensagem"
      {% if user.tipo_de_usuario != 4 %}checked{% endif %}>
      <label for="enviar_mensagem">Enviar mensagem para envolvidos</label>
    </small>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button id="fecha_modal" type="button" class="btn btn-secondary mb-1" data-dismiss="modal">Fechar</button>

    {% if not banca %} 
      <button id="submit" class="btn btn-primary mb-1" type="submit" name="atualizar">Agendar</button>
    {% else %}
      {% if banca.projeto.orientador.user == request.user or request.user.tipo_de_usuario == 4 %} 
        <button id="submit" class="btn btn-primary mb-1" type="submit" name="atualizar"
         onclick="operacao = 'atualizar';">Atualizar</button>
        
        <button id="excluir" class="btn btn-primary mb-1" type="submit" name="excluir" formnovalidate
         onClick="operacao = 'excluir'; return confirm('Tem certeza que deseja excluir agendamento de banca?');">
          Excluir Banca
        </button>
      {% endif %}
    {% endif %}
  </div>

</form>


<script>

  var operacao = "agendar";

  function verifica_certo() {
    var membros  = $(".membros")
    var dic = {};
    var orientador_id = $("#orientador_id").val();
    for(mem in membros){
      var chave = membros.eq(mem).val()
      if(typeof chave !== "undefined" && chave != "") {

        if(chave == orientador_id) {
          $("#submit").prop("disabled",true);
          $("#mensagem2").html("Orientador não pode ser selecionado como membro da banca");
          return;
        }

        if(chave in dic) {
          $("#submit").prop("disabled",true);
          $("#mensagem2").html("Os membros devem ser diferentes");
          return;
        } else {
          dic[chave] = true;
        }
      }
    }
    $("#mensagem2").html("");

    var mensagem = $("#projeto").children(":selected").data("mensagem");
    if(mensagem) { 
      $("#mensagem").html(mensagem);
      {% if request.user.tipo_de_usuario != 4 %}
        $("#submit").prop("disabled",true); // Se há mensagem é que a banca já foi agendada
      {% endif %}
      return;
    }
    $("#mensagem").html("");

    $("#submit").prop("disabled",false);
  }

  $(".membros").change(function(){
    verifica_certo();
  });

  function recupera_selecao() {
    {% for membro in banca.membros %}
      $("#membro{{forloop.counter}} option[value={{membro.id}}]").attr("selected","selected");
    {% endfor %}
  }

  {% if banca %}
    var botao_anterior = {% if banca.tipo_de_banca == 2 %}0{% else %}2{% endif %};
  {% else %}    
    var botao_anterior = 2; // só para ir para o lugar certo de primeira
  {% endif %}

  function carrega_modal() {
    
    {% comment %} Preenche com as pessoas possíveis conforme o tipo de banca {% endcomment %}
    var tipo = $("input[name='tipo']:checked").val();

    if (tipo == 3) {
      // Hide div_projetos
      $("#div_projetos").hide();
      $("#div_alocacoes").show();
      $("#div_estudante").show();
      // Make alocacao required and projeto not required
      $("#alocacao").prop("required",true);
      $("#projeto").prop("required",false);
    } else {
      // Hide div_alocacoes
      $("#div_alocacoes").hide();
      $("#div_projetos").show();
      $("#div_estudante").hide();
      // Make projeto required and alocacao not required
      $("#projeto").prop("required",true);
      $("#alocacao").prop("required",false);
    }

    {% comment %} Verifica se mudou de estado {% endcomment %}
    if (botao_anterior != 2) {
      {% comment %} Consuladores da Falconi {% endcomment %}
      if (tipo == 2) {
        $(".pessoas").empty();
        $(".pessoas").append($("<option selected value></option>").text("-- selecione membro da banca --"));
        {% for pessoa in falconis %}
          $(".pessoas").append($("<option></option>").attr("value",{{pessoa.id}}).text("{{pessoa}}"));
        {% endfor %}
        recupera_selecao();
      }
    } else {
      if (tipo != 2 || tipo==undefined ) {
        {% comment %} Professores do Insper {% endcomment %}
        $(".pessoas").empty();
        $(".pessoas").append($("<option selected value></option>").text("-- selecione membro da banca --"));
        {% for professor in professores %}
          $(".pessoas").append($("<option></option>").attr("value",{{professor.id}}).text("{{professor}}"));
        {% endfor %}
        recupera_selecao();
      }
    }
    botao_anterior = tipo;
  }

  $(document).ready(function () {
    carrega_modal();
    $("#projeto").change(function(){
      var titulo = $(this).children(":selected").data("titulo");
      var titulo_link = $(this).children(":selected").data("titulo_link");
      var organizacao = $(this).children(":selected").data("organizacao");
      var organizacao_link = $(this).children(":selected").data("organizacao_link");
      var orientador = $(this).children(":selected").data("orientador");
      var orientador_link = $(this).children(':selected').data("orientador_link");
      var orientador_id = $(this).children(':selected').data("orientador_id");
      $("#titulo").text(titulo);
      $("#titulo_link").attr("href", titulo_link);
      $("#organizacao").text(organizacao);
      $("#organizacao_link").attr("href", organizacao_link);
      $("#orientador").text(orientador);
      $("#orientador_link").attr("href", orientador_link);
      $("#orientador_id").val(orientador_id);
      verifica_certo();
    })

    // Para banca de Probation
    $("#alocacao").change(function(){
      var titulo = $(this).children(":selected").data("titulo");
      var titulo_link = $(this).children(":selected").data("titulo_link");
      var organizacao = $(this).children(":selected").data("organizacao");
      var organizacao_link = $(this).children(":selected").data("organizacao_link");
      var orientador = $(this).children(":selected").data("orientador");
      var orientador_link = $(this).children(':selected').data("orientador_link");
      var orientador_id = $(this).children(':selected').data("orientador_id");
      var estudante = $(this).children(":selected").data("estudante");
      var estudante_link = $(this).children(':selected').data("estudante_link");
      $("#titulo").text(titulo);
      $("#titulo_link").attr("href", titulo_link);
      $("#organizacao").text(organizacao);
      $("#organizacao_link").attr("href", organizacao_link);
      $("#orientador").text(orientador);
      $("#orientador_link").attr("href", orientador_link);
      $("#orientador_id").val(orientador_id);
      $("#estudante").text(estudante);
      $("#estudante_link").attr("href", estudante_link);
      verifica_certo();
    })

  });
 
  $(".tipo_banca").change(carrega_modal);

  $("form#criarbancasform").submit(function(e){
    e.preventDefault();
    
    if($("#inicio").val() == $("#fim").val()) {
      alert("Datas e horários de início e fim são iguais!");
      return false;
    }

    d_inicio = new Date($("#inicio").val());
    d_fim = new Date($("#fim").val());
    if(d_inicio > d_fim) {
      alert("Data de início depois da data final!");
      return false;
    }

    d_inicio = new Date($("#inicio").val());
    d_fim = new Date($("#fim").val());
    if (d_fim - d_inicio >= 24*60*60*1000) {
      alert("Duração da banca maior que um dia, verificar!");
      return false;
    }
    
    $.ajaxSetup({
      headers: { "X-CSRFToken": "{{csrf_token}}" }
    });

    var form = $("form#criarbancasform").closest("form");
    var formData = new FormData(form[0]);

    // Adiciona o tipo de operação
    formData.append(operacao, "true");
    
    function loadContent(target, url, selector) {
      if (typeof calendar !== "undefined") {
        calendarView = calendar.view.type;
        calendarDate = calendar.getDate();
        $(target).fadeOut("fast", function() {
          $.ajax({
            url: url,
            type: "GET",
            success: function(data,status,jqXHR) {
                $(target).html($(data).find(selector).addBack(selector).children()).fadeIn("fast");
                montar_calendario(calendarView, calendarDate);
            }
          });
        });
      }
    }

    $.ajax({
      type: "POST",
      url: "{{ url }}",
      data: formData,
      processData: false,
      contentType: false,
      success: function(data){
        if (data.atualizado) {
          $("#submit").hide();
          $("#excluir").hide();
          $("#popup").modal("hide");
          loadContent( "#atualizar", "{% url 'bancas_index' %}", "#atualizar" );  
        } else {
          alert(data.mensagem);
        }
      },
      {% include "ajax_error_function.js" %}
    });

    return false;

  });
        
</script>
