{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 13 de Novembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load escape_emails %}
  {% load banca_tipo %}

  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
  <link rel="stylesheet" href="{% static 'css/short_full.css' %}">

  <style>
    select {
      max-width: 100%;
      margin-right: 16px;
    }
  
    ul,ol {
      margin: 0px 0px 8px 0px;
      padding: 0px 0px 0px 1.5em;
    }

    .agendamento {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-top: 8px;
    }
    
    .agendamento > * {
        margin-left: 4px;
    }
    
    .editar {
        margin-left: auto;
        float: right;
    }

    @media (max-width: 800px) {
      .btn {
          font-size: 0.75rem; /* Smaller font size */
          padding: 0.25rem 0.5rem; /* Smaller padding */
      }
    }

  </style>

  {% include "heads_calendar.html" %}
  {% include "cores_bancas_mentorias.html" %}

{% endblock %}

{% block content %}

  {% include "impressora.html" %}

  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en">{{ titulo.en }}</span>
    <small class="esconder">
      <a data-toggle="tooltip" data-html="true" animation="true" title="Agenda Nova Banca" class="open-modal"
          data-url="{% url 'bancas_criar' %}" href="{% url 'bancas_criar'%}"> 
          &#10133;
        </a>
    </small>
  </span>

  <select class="esconder" id="proximas" onchange="location = this.options[this.selectedIndex].value;">
    <option value="todas" {% if periodo == "todas" %}selected="todas"{% endif %}>Todas</option>
    {% for edicao in edicoes %}
      <option value="{{edicao}}"
        {% if periodo == edicao %}selected{% endif %}
      >{{edicao}}</option>
    {% endfor %}
    <option value="proximas" {% if periodo == "proximas" %}selected="proximas"{% endif %}>Próximas</option>
    {% if projeto %}
      <option value="{{projeto.id}}" selected>{{projeto}}</option>
    {% endif %}
  </select>
 
  <script>
    function tipo_banca(selectObject) {
      var value = selectObject.value;
      if(value == "todos") {
        $(".item").show();
      } else {
        $(".item").hide();
        $('.'+value).show();
      }
    }
  </script>

  <select class="esconder" id="tipo" onchange="tipo_banca(this)">
    <option value="todos" {% if tipo == "todos" %}selected="todos"{% endif %} >todos</option>
    <option value="Intermediária" {% if tipo == "Intermediária" %}selected{% endif %}>Intermediária</option>
    <option value="Final" {% if tipo == "Final" %}selected{% endif %}>Final</option>
    <option value="Falconi" {% if tipo == "Falconi" %}selected{% endif %}>Falconi</option>
    <option value="Probation" {% if tipo == "Probation" %}selected{% endif %}>Probation</option>
  </select>

  <br>
  {% include "informacoes.html" %}

  <div id="atualizar">

    {% if bancas %}
      
        <table id="BancasTable" class="table table-borderless table-sm arredondado"><tbody>
          {% for banca in bancas %} 
          <tr class="item {{ banca.tipo_de_banca|get_banca }}">
            <td>

              {% if banca.get_projeto %}
                <b lang="pt">Projeto:</b>
                <b lang="en">Project:</b>
                {% if banca.get_projeto.organizacao %}
                  [<a class="imprimir" href="{% url 'organizacao_completo' banca.get_projeto.organizacao.id %}">{{ banca.get_projeto.organizacao.nome }}</a>]
                {% endif %}
                <a class="imprimir" href="{% url 'projeto_completo' banca.get_projeto.id %}">
                  {% if banca.get_projeto.titulo_final and banca.get_projeto.titulo_final != banca.get_projeto.proposta.titulo %}
                    {{banca.get_projeto.titulo_final}}</a><br>
                    <small>&nbsp;&nbsp;
                      <span lang="pt">Título original da proposta:</span>
                      <span lang="en">Original title of the proposal:</span>
                      <a class="imprimir" href="{% url 'projeto_completo' banca.get_projeto.id %}">{{banca.get_projeto.proposta.titulo}}</a>
                    </small>
                  {% else %}
                    {{banca.get_projeto.get_titulo}}</a>
                  {% endif %}
                <br>
              {% endif %}

              {% if banca.startDate %}
                <b lang="pt">Horário:</b>
                <b lang="en">Time:</b>
                <span class="opt_full">{{banca.startDate.date}}</span>
                <span class="opt_short">{{banca.startDate.date|date:"d/m/Y"}}</span>
                ({{banca.startDate|date:"l"}}) das {{banca.startDate.time}}
                {% if banca.endDate %}
                  às {{banca.endDate.time}}
                {% endif %}
                <br>
              {% endif %}
                             
              {% if banca.location %}
                <span class="local">
                  <b lang="pt">Local:</b>
                  <b lang="en">Location:</b>
                  {{banca.location}}
                  <br>
                </span>
              {% endif %}

              {% if banca.link %}
                <span class="link">
                  <b lang="pt">Link vídeo-conferência:</b>
                  <b lang="en">Video-conference link:</b>
                  <small><a target="_blank" rel="noopener noreferrer" href="{{banca.link}}"><span style="word-break: break-all;">{{banca.link}}</span></a></small>
                </span>
                <br>
              {% endif %}

              <b lang="pt">Tipo:</b>
              <b lang="en">Type:</b>
              {% if banca.tipo_de_banca is not None %}
                {{ banca.tipo_de_banca|get_banca }}
              {% else %}
                Não definido
              {% endif %}
              <br>
              
              {% if banca.membros %}
                <div class="banca" style="margin-top: 8px;">
                  <b lang="pt">Membros da Banca da Avaliação:</b>
                  <b lang="en">Examination Board Members:</b>
                  {% with is_ori=banca.get_projeto.orientador %}
                    <a class="email" href="mailto:{% if is_ori and banca.tipo_de_banca == 0 or banca.tipo_de_banca == 1 %}{{banca.get_projeto.orientador.user.email}}{% endif %};{% for membro in banca.membros %}{{membro.email}}{% if not forloop.last %};{% endif %}{% endfor %}?subject=Capstone%20Insper%20-%20Projeto:%20{{banca.get_projeto}}&body={% if is_ori and banca.tipo_de_banca == 0 or banca.tipo_de_banca == 1 %}{{banca.get_projeto.orientador.user.get_full_name}}, {% endif %}{% for membro in banca.membros %}{% if not forloop.first %}{% if forloop.last %}%20e{% else %},{% endif %}%20{% endif %}{{membro.get_full_name}}{% endfor %},%0D%0A%0D%0" target="_blank">
                      <i class="fas fa-mail-bulk"></i>
                    </a>
                    <ol style="margin-bottom:0px;">
                      {% if is_ori and banca.tipo_de_banca == 0 or banca.tipo_de_banca == 1 %}
                        <li>
                          <a class="imprimir" href="{% url 'professor_detail' banca.get_projeto.orientador.id %}">
                            {{banca.get_projeto.orientador.user.get_full_name}} 
                          </a>         
                          {% if banca.get_projeto.proposta.intercambio %}
                            <span lang="pt">[Professor{% if banca.get_projeto.orientador.user.genero == 'F' %}a{% endif %} Responsável]</span>
                            <span lang="en">[Responsible Professor]</span>
                          {% else %}
                            <span lang="pt">[Orientador{% if banca.get_projeto.orientador.user.genero == 'F' %}a{% endif %}]</span>
                            <span lang="en">[Advisor]</span>
                          {% endif %}
                          <span class="opt_full emails"><a class="email" href="mailto:{{banca.get_projeto.orientador.user.email}}">&lt;{{banca.get_projeto.orientador.user.email}}&gt;</a></span>
                          <span class="opt_short emails"><a class="email" href="mailto:{{banca.get_projeto.orientador.user.email}}"><i class="far fa-envelope"></i></a></span>
                          
                        </li>
                      {% endif %}

                      {% with coorientadores=banca.get_projeto.get_coorientadores_ids %}
                        {% for membro in banca.membros %}
                          <li>
                            <a class="imprimir" href="{% url 'user_detail' membro.id %}">
                              {{membro.get_full_name}}
                            </a>
                            {% if membro.id in coorientadores %}
                              <span lang="pt">[Coorientador{% if membro.genero == 'F' %}a{% endif %}]</span>
                              <span lang="en">[Co-Advisor]</span>
                            {% endif %}
                            <span class="opt_full emails"><a class="email" href="mailto:{{membro.email}}">&lt;{{membro.email}}&gt;</a></span>
                            <span class="opt_short emails"><a class="email" href="mailto:{{membro.email}}"><i class="far fa-envelope"></i></a></span>
                            
                          </li>
                        {% endfor %}
                      {% endwith %}

                    </ol>
                  {% endwith %}
                </div>
              {% endif %}

              <div class="grupo" style="margin-top: 8px;">
                {% if banca.tipo_de_banca == 3 %}  {% comment %} Banca Probation {% endcomment %}
                  <b lang="pt">Estudante:</b>
                  <b lang="en">Student:</b>
                  {% include "mostra_estudante.html" with alocacao=banca.alocacao %}  
                {% else %}
                  {% include "grupo_estudantes.html" with projeto=banca.get_projeto %}
                {% endif %}
              </div><br>
              
              <div class="avaliacao" style="margin-top: 8px; overflow-wrap: break-word;">
                &#9733;
                <b lang="pt">Link formulário de avaliação:</b>
                <b lang="en">Evaluation form link:</b>
                <a href="{% url 'banca_avaliar' banca.slug %}">
                  {{request.scheme}}://{{ request.get_host }}{% url 'banca_avaliar' banca.slug %}
                </a>
                <br>
              </div>
              
              <div class="agendamento">
                <div>
                  <b lang="pt">Mensagem:</b>
                  <b lang="en">Message:</b>
                  <a data-toggle="tooltip" data-html="true" animation="true" title="Janela de Mensagem" class="open-modal"
                    data-url="{% url 'mensagem_email' 'banca' banca.pk %}" href="{% url 'mensagem_email' 'banca' banca.pk %}"> 
                    avaliadores
                  </a>
                <a href="{% url 'event_ics_export' banca.id %}">ics</a>
                </div>

                <div class="editar esconder">
                  <a class="open-modal"
                    data-url="{% url 'bancas_editar' %}{{banca.pk}}" href="{% url 'bancas_editar' banca.pk%}">
                    <button class="btn btn-primary mb-1"
                    {% if user.tipo_de_usuario != 4 and user != banca.projeto.orientador.user %}disabled{% endif %}
                    >
                      <span lang="pt">Editar</span>
                      <span lang="en">Edit</span>
                    </button>
                  </a>
                </div>

              </div>

            </td>
          </tr>
          {% endfor %}
        </tbody></table>
      {% comment %} </form> {% endcomment %}
    {% else %}
      <p lang="pt">Não existem bancas definidas.</p>
      <p lang="en">There are no defined examination boards.</p>
    {% endif %}
    <p>&nbsp;</p>

    <h4 lang="pt">Calendário</h4><h4 lang="en">Calendar</h4>
    {% include "calendario_bancas.html" %}

    <div class="sem_agendamento">
      {% if sem_banca %}
        <br>
        <h5 lang="pt">Projetos ativos sem bancas agendadas:</h5>
        <h5 lang="en">Active projects without scheduled examination boards:</h5>

        <table id="SemBancasTable" class="table table-borderless table-sm arredondado"><tbody>
          {% for projeto in sem_banca %}

            <tr class="item">
              <td>
                <div class="agendamento">
                  <div>
                    <b lang="pt">Projeto:</b>
                    <b lang="en">Project:</b>
                    {% if projeto.organizacao %}
                      [<a class="imprimir" href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{ projeto.organizacao.nome }}</a>]
                    {% endif %}
                    <a class="imprimir" href="{% url 'projeto_completo' projeto.id %}">
                      {% if projeto.titulo_final and projeto.titulo_final != projeto.proposta.titulo %}
                        {{projeto.titulo_final}}</a><br>
                        <small>&nbsp;&nbsp;
                          <span lang="pt">Título original da proposta:</span>
                          <span lang="en">Original title of the proposal:</span>
                          <a class="imprimir" href="{% url 'projeto_completo' projeto.id %}">{{projeto.proposta.titulo}}</a>
                        </small>
                      {% else %}
                        {{projeto.get_titulo}}</a>
                      {% endif %}
                    {% include "tipo_projeto.html" %}
                    <br>
                  
                    <b lang="pt">Orientador{% if projeto.orientador.user.genero == 'F' %}a{% endif %}:</b>
                    <b lang="en">Advisor:</b>

                    {% if projeto.orientador %}
                      <a class="imprimir" href="{% url 'professor_detail' projeto.orientador.id %}">
                        {{projeto.orientador.user.get_full_name}}:
                      </a>
                    {% endif %}
                    <br>
                
                    <b lang="pt">Mensagem:</b>
                    <b lang="en">Message:</b>
                    <a data-toggle="tooltip" data-html="true" animation="true" title="Janela de Mensagem" class="open-modal"
                      data-url="{% url 'mensagem_email' 'banca_projeto' projeto.pk %}" href="{% url 'mensagem_email' 'banca_projeto' projeto.pk %}"> 
                      avaliadores
                    </a>
                  </div>
  
                  <div class="editar esconder">
                    <a class="open-modal"
                      data-url="{% url 'bancas_criar' %}" href="{% url 'bancas_criar'%}">
                      <button class="btn btn-primary mb-1"
                      {% if user.tipo_de_usuario != 4 and user != projeto.orientador.user %}disabled{% endif %}
                      >
                        <span lang="pt">Criar</span>
                        <span lang="en">Create</span>
                      </button>
                    </a>
                  </div>
                </div>
          
          {% endfor %}
        </tbody></table>
      {% endif %}
    </div>

  </div>

  <script>
    function carrega_pagina() {
      montar_calendario();
    };
    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
      carrega_pagina();
    };

    window.onload = carrega_site

  </script>

  {% include "janelas-modal.html" %}

  {% include "linguas.html" %}

{% endblock %}