{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 10 de Abril de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  
  <link rel="stylesheet" href="{% static 'css/form_aval.css' %}">
  <script src="{% static 'js/aviso_perda_edicao.js' %}"></script>

  <style>
    .borientacoes {
      border: 1px solid #ccc;
      padding: 8px;
      margin-top: 24px;
      margin-bottom: 8px;
      border-radius: 8px;
      background-color: #ffffdd;
    }
  </style>

{% endblock %}

{% block content %}

  {% if banca %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}

      {% include "cabecalho_projeto.html" with projeto=projeto com_grupo=True %}

      {% if banca.composicao.exame is not None %}
        <b>{% lng "Tipo de Banca" "Presentation" %}:</b>
        {{ banca.composicao.exame }}
        <br>
      {% endif %}

      {% if estudante %}
        <b>{% lng "Estudante em Probation" "Student in Probation" %}:</b>
        {{ estudante.user.get_full_name }}
        <br>
      {% endif %}

      <br>
      <b>{% lng "Data da Banca" "Date of Presentation" %}:</b>
      {% include "professores/includes/ver_datas_evento.html" with evento_p_data=banca %}

      <br>
      {% if banca.location %}
        <b>{% lng "Local" "Location" %}:</b> {{banca.location}}<br>
      {% endif %}  
      {% if banca.link %}
        <b>Link:</b> <a href="{{banca.link}}">{{banca.link}}</a><br>
      {% endif %}
      
      <br>
      <div class="mb-4">
        <b><label style="margin: 0px;" for="avaliador">{% lng "Avaliador(a)" "Evaluator" %}:</label></b>
        <select name="avaliador" id="avaliador" title="Selecione avaliador da banca" required
          oninvalid="this.setCustomValidity('Selecione seu nome para o controle das avaliações')"
          oninput="this.setCustomValidity('')">
            
            <option disabled selected value id="selecione_avaliador"> -- selecione um avaliador -- </option>

            <optgroup id="MembBanca" label="Membros da Banca">
              {% for pessoa in membros %}
                <option value="{{pessoa.id}}" {% if pessoa.id == avaliador %}selected{% endif %}>
                  {{pessoa.get_full_name}}
                </option>
              {% endfor %}
            </optgroup>

            <optgroup id="ListaComp" label="Lista Completa">
              {% for pessoa in pessoas %}
                <option value="{{pessoa.id}}">
                  {{pessoa.get_full_name}}
                </option>
              {% endfor %}
            </optgroup>

        </select>
      </div>

      {% include "ver_documentos.html" %}
      {% include "professores/includes/ver_site.html" %}

      {% if composicao.orientacoes %}
        <div class="borientacoes">
          <h5 style="margin-bottom: 12px;">
            {% lng "Orientações Gerais" "Guidelines" %}
          </h5>
          <p class="texto-alinhado">
            {% lng composicao.orientacoes|safe composicao.orientacoes_en|safe %}
          </p>
        </div>
      {% endif %}

      {% include "tabela_avaliacao_objetivos.html" with editor=True %}
      {% include "atualiza_objetivos.html" %}

      {% if banca.composicao.exame.sigla != "P" and banca.composicao.exame.sigla != "F" %}{% comment %} Não é probation {% endcomment %}
        {% comment %} Observações somente para leitura dos estudantes {% endcomment %}
        <div class="mb-3">
          <label for="observacoes_estudantes"><b data-toggle="tooltip" data-html="true" animation="true"
                title="Insira qualquer observação que achar relavante para o grupo de estudantes.">
            {% lng "Observações Estudantes (enviada para todo o grupo)" "Evaluation Observations for Students (will be sent to all students)" %}:
          </b></label><br>
          <textarea id="observacoes_estudantes" name="observacoes_estudantes" rows="8" cols="100" maxlength="2048">{{observacoes_estudantes}}</textarea>

          <label for="arquivo">
            {% lng "Envio de relatório com anotações do membro da banca para revisão do grupo (opcional e será enviada automaticamente para o grupo)" "Submission of report with notes from the board member for group review (optional and will be automatically sent to the group)" %}
          </label>
          <input id="arquivo" type="file" name="arquivo" {% include "formatos_suportados.html" %}>
        </div>
      {% endif %}

      {% comment %} Observações somente para leitura de orientador/coordenador {% endcomment %}
      <div class="mb-3">
        <label for="observacoes_orientador"><b data-toggle="tooltip" data-html="true" animation="true"
              title="Insira qualquer observação que achar relavante. O texto será encaminhado para os orientadores do projeto.">
          {% lng "Observações Orientador (somente enviada para orientador)" "Evaluation Observations (will only be sent to advisor)" %}:
        </b></label><br>
        <textarea id="observacoes_orientador" name="observacoes_orientador" rows="8" cols="100" maxlength="2048">{{observacoes_orientador}}</textarea>
      </div>
      
      {% if banca.composicao.exame.sigla == "BI" or banca.composicao.exame.sigla == "BF" %}
        <div style="border: 2px solid #ccc; padding: 8px; border-radius: 8px;">
          <label for="destaque">
            <b>{% lng "Projeto Destaque" "Highlight Project" %}:</b>&nbsp;
            <input type="radio" name="destaque" value="true" required {% if destaque == True %}checked{% endif %}>
            {% lng "Sim" "Yes" %}
            &nbsp;
            <input type="radio" name="destaque" value="false" required {% if destaque == False %}checked{% endif %}>
            {% lng "Não" "No" %}
          </label>
          <br>
          <span lang="pt" style="font-size: 0.9em;">
            Na sua percepção, o grupo demonstrou profissionalismo na condução e desenvolvimento do projeto, 
            evidenciando domínio técnico, cuidados com a apresentação e organização do material, além de 
            apresentar competências que indicam um nível de excelência na execução.
          </span>
          <span lang="en" style="font-size: 0.9em;">
            In your perception, did the group demonstrate professionalism in the conduct and development of the project, 
            showing technical mastery, care with the presentation and organization of the material, in addition to 
            presenting competencies that indicate a level of excellence in execution.
          </span>
        </div>
        <br>
      {% endif %}


      {% if banca.startDate.date > today.date %}
        <div style="display: inline-block; border:2px solid red; margin-bottom: 4px; padding: 4px;">
          <span class="red-bold">
            {% lng "Você está acessado o formulário antes da data agendada da banca." "You have accessed the form before the scheduled evaluation date." %}
          </span><br>
          <span class="red-bold">
            {% lng "Tem certeza que deseja enviar a avaliação agora!!" "Are you sure you want to submit your evaluation now!!" %}
          </span><br>
        </div><br>
      {% endif %}

      <button class="btn btn-primary mb-1" type="submit">{% lng "Enviar Avaliação" "Submit Evaluation" %}</button>

    </form>
  {% else %}
    <p>{% lng "Não existe projeto disponível para avaliar." "There is no project available to evaluate." %}</p>
  {% endif %}

  <script>
    $(document).ready(function() {
      $("body").on("click", "#language_button", function(e) {
        if($('[lang="en"]').is(":visible")) {
          $("#selecione_avaliador").text(" -- select evaluator -- ");
          $("#MembBanca").attr("label", "Examination Board");
          $("#ListaComp").attr("label", "Complete List");
        } else {
          $("#selecione_avaliador").text(" -- selecione um avaliador -- ");
          $("#MembBanca").attr("label", "Membros da Banca");
          $("#ListaComp").attr("label", "Lista Completa");
        }
      });

      // Bloqueia o botão de submissão do formulário após o primeiro clique
      $("form").on("submit", function() {
        $(this).find('button[type="submit"]').prop("disabled", true);
      });
    });
  </script>

{% endblock %}