{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 4 de Setembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  {% include "impressora.html" %}

  <span class="titulo">Alocação em Bancas</span>

  {% include "edicoes.html" %}

  <div class="atualizar">

    <div class="table-responsive">

        <table id="BancasTable" class="table table-bordered table-hover table-sm" style="width: auto;">
          <thead class="table-info">
            <tr>
              <th scope="col" style="text-align: center;width:300px;">Nome</th>
              <th scope="col" style="text-align: center;width:70px;">Grupos</th>
              <th scope="col" style="text-align: center;width:auto;">Projetos</th>
            </tr>
          </thead>
          {% for membro, bancas in membros.items %}
            <tr class="item">
              <td>{% if membro.tipo_de_usuario == 2 %}<a class="imprimir" href="{% url 'professor_detail' membro.professor.id %}">{{membro.get_full_name}}</a>{% elif membro.tipo_de_usuario == 3 %}<a class="imprimir" href="{% url 'parceiro_detail' membro.parceiro.id %}">{{membro.get_full_name}}</a>{% elif membro.tipo_de_usuario == 4 %}<a class="imprimir" href="{% url 'professor_detail' membro.professor.id %}">{{membro.get_full_name}}</a>{% endif %} <a href="mailto:{{membro.email}}">&lt;{{membro.email}}&gt;</a></td>
              <td style="text-align: center;"> 
                {{bancas|length}}
              </td>
              <td style="text-align: left;">
                <small>{% for banca in bancas %}&bull; {{banca.projeto.get_titulo}} [{{banca.projeto.organizacao}}]({{banca.startDate}})<br>{% endfor %}</small>
              </td>
            </tr>
          {% endfor %}
        </table>
        <br>

    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <script>
      function carrega_pagina() {
      };
      window.onload = carrega_pagina
    </script>

  </div>

  {% with tabela='Bancas' %}
      {% include "edicoes_ajax.html" %}
  {% endwith %}

{% endblock %}