{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 13 de Novembro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load escape_emails %}
  {% load banca_tipo %}

  {% comment %}
    Estou achando desnecessário
    <link rel="stylesheet" href="{% static 'css/impressoras.css' %}">
  {% endcomment %}

  <style>
    .arrow {
      border: solid black;
      border-width: 0px 2px 2px 0px;
      display: inline-block;
      padding: 2px;
      vertical-align: middle;
    }

    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }

    #toggle {
      display:inline-block; 
    }

  </style>

{% endblock %}

{% block content %}

  {% include "impressora.html" %}

  <span class="titulo">Listagem de Bancas</span>

  <select class="esconder" id="proximas" onchange="location = this.options[this.selectedIndex].value;">
    <option value="todas" {% if periodo == "todas" %}selected="todas"{% endif %}>Todas</option>
    {% for edicao in edicoes %}
      <option value="{{edicao}}"
        {% if periodo == edicao %}selected{% endif %}
      >{{edicao}}</option>
    {% endfor %}
    <option value="proximas" {% if periodo == "proximas" %}selected="proximas"{% endif %}>Próximas</option>
    {% if projeto %}
      <option value="{{projeto.id}}" selected>{{projeto}}</option>
    {% endif %}
  </select>
 
  &nbsp;&nbsp;&nbsp;

  <script>
    function tipo_banca(selectObject) {
      var value = selectObject.value;
      if(value == "todos") {
        $('.item').show();
      } else {
        $('.item').hide();
        $('.'+value).show();
      }
    }
  </script>

  <select class="esconder" id="tipo" onchange="tipo_banca(this)">
    <option value="todos" {% if tipo == "todos" %}selected="todos"{% endif %} >todos</option>
    <option value="Intermediária" {% if tipo == "Intermediária" %}selected{% endif %}>intermediária</option>
    <option value="Final" {% if tipo == "Final" %}selected{% endif %}>final</option>
    <option value="Falconi" {% if tipo == "Falconi" %}selected{% endif %}>falconi</option>
  </select>

  <script>
    $(document).on('click','#informacoes_tag',function(){
      $( "#toggle" ).toggle( "slide" );
    });
  </script>

  <span id="informacoes" style="border: 1px solid gray; border-radius: 2px; padding: 1px; margin-left: 20px;">
    <span id="informacoes_tag">&nbsp;Informações <i class="arrow right"></i>&nbsp;</span>
    <div id="toggle" style="display: none; height: 1em;">
      <label><input id="local" onchange="($(this).prop('checked') ? $('.local').show() : $('.local').hide())" type="checkbox" checked /> local</label>&nbsp;&nbsp;&nbsp;
      <label><input id="link" onchange="($(this).prop('checked') ? $('.link').show() : $('.link').hide())" type="checkbox" checked /> video-conferência</label>&nbsp;&nbsp;&nbsp;
      <label><input id="grupo" onchange="($(this).prop('checked') ? $('.grupo').show() : $('.grupo').hide())" type="checkbox" checked /> grupo</label>&nbsp;&nbsp;&nbsp;
      <label><input id="orientacao" onchange="($(this).prop('checked') ? $('.orientacao').show() : $('.orientacao').hide())" type="checkbox" checked /> orientação</label>&nbsp;&nbsp;&nbsp;
      <label><input id="curso" onchange="($(this).prop('checked') ? $('.curso').show() : $('.curso').hide())" type="checkbox" checked /> curso</label>&nbsp;&nbsp;&nbsp;
      <label><input id="banca" onchange="($(this).prop('checked') ? $('.banca').show() : $('.banca').hide())" type="checkbox" checked /> avaliadores</label>&nbsp;&nbsp;&nbsp;
      <label><input id="avaliacao" onchange="($(this).prop('checked') ? $('.avaliacao').show() : $('.avaliacao').hide())" type="checkbox" checked /> link avaliação</label>&nbsp;&nbsp;&nbsp;
      <label><input id="agendamento" onchange="($(this).prop('checked') ? $('.agendamento').show() : $('.agendamento').hide())" type="checkbox" checked /> agendamento</label>&nbsp;&nbsp;&nbsp;
      <label><input id="email" onchange="($(this).prop('checked') ? $('.email').show() : $('.email').hide())" type="checkbox" checked /> e-mail</label>&nbsp;&nbsp;&nbsp;
      <label><input id="editar" onchange="($(this).prop('checked') ? $('.editar').show() : $('.editar').hide())" type="checkbox" checked /> editar</label>&nbsp;&nbsp;&nbsp;
      <label><input id="sem_agendamento" onchange="($(this).prop('checked') ? $('.sem_agendamento').show() : $('.sem_agendamento').hide())" type="checkbox" checked /> sem agendamento</label>&nbsp;&nbsp;&nbsp;
    </div>
  </span>{% comment %} Mais elementos no carrega_pagina() {% endcomment %}

  {% if bancas %}
    <form method="get" id="editarbancasform" style="margin-top: 8px;">
    
      {% csrf_token %}

      <table id="BancasTable">
        {% for banca in bancas %} 
        <tr class="item {{ banca.tipo_de_banca|get_banca }}">
          <td>
            {% if banca.startDate %}
              <b>Horário:</b> {{banca.startDate.date}} ({{banca.startDate|date:"l"}}) das {{banca.startDate.time}}
              {% if banca.endDate %}
                às {{banca.endDate.time}}
              {% endif %}
              <br>
            {% endif %}
            
            {% if banca.tipo_de_banca is not None %}
              <b>Tipo:</b> 
              {{ banca.tipo_de_banca|get_banca }}
              <br>
            {% endif %}

            {% if banca.projeto %}
              <b>Título do Projeto:</b> 
              <a class="imprimir" href="{% url 'projeto_completo' banca.projeto.id %}">
                {% if banca.projeto.titulo_final %}
                  {{banca.projeto.titulo_final}}</a><br>
                  <small>&nbsp;&nbsp;Título original: 
                    <a class="imprimir" href="{% url 'projeto_completo' banca.projeto.id %}">{{banca.projeto.titulo}}</a>
                  </small>
                {% else %}
                  {{banca.projeto.titulo}}</a>
                {% endif %}
              <br>
            {% endif %}

            {% if banca.projeto.organizacao %}
              <b>Organização:</b> 
              <a class="imprimir" href="{% url 'organizacao_completo' banca.projeto.organizacao.id %}">
                {{ banca.projeto.organizacao.nome }}
              </a>
              <br>
            {% endif %}

            {% if banca.location %}
              <span class="local">
                <b>Local:</b> {{banca.location}}
                <br>
              </span>
            {% endif %}

            {% if banca.link %}
              <span class="link">
                <b>Link vídeo-conferência:</b> <small><a target="_blank" rel="noopener noreferrer" href="{{banca.link}}"><span style="word-break: break-all;">{{banca.link}}</span></a></small>
                <br>
              </span>
            {% endif %}

            {% if banca.projeto.orientador %}
              <div class="orientacao" style="margin-top: 8px;">
              
                {% if banca.projeto.proposta.intercambio %}
                  <b>Professor{% if banca.projeto.orientador.user.genero == 'F' %}a{% endif %} Responsável:</b>
                {% else %}
                  <b>Orientador{% if banca.projeto.orientador.user.genero == 'F' %}a{% endif %}:</b>
                {% endif %}
                
                <a class="imprimir" href="{% url 'professor_detail' banca.projeto.orientador.id %}">
                  {{banca.projeto.orientador.user.get_full_name}} 
                </a>
                <a class="email" href="mailto:{{banca.projeto.orientador.user.email}}">&lt;{{banca.projeto.orientador.user.email}}&gt;</a>
              </div>
            {% endif %}

            {% with coorientadores=banca.projeto.coorientador_set.all %}
            {% if coorientadores %}
            <div class="orientacao" style="margin-top: 8px;">
              <b>Coorientação:</b>
              <ul style="margin-bottom:0px;">
                {% for coorientador in coorientadores %}
                  <li>
                    <a class="imprimir" href="{% url 'user_detail' coorientador.usuario.id %}">
                      {{coorientador.usuario.get_full_name}} 
                    </a>
                    <a class="email" href="mailto:{{coorientador.usuario.email}}">&lt;{{coorientador.usuario.email}}&gt;</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
            {% endwith %}
            
            {% if banca.membro1 or banca.membro2 or banca.membro3 %}
              <div class="banca" style="margin-top: 8px;">
                <b>Membros da Banca da Avaliação:</b>
                <ol style="margin-bottom:0px;">
                  {% if banca.membro1 %}
                  <li>
                    <a class="imprimir" href="{% url 'user_detail' banca.membro1.id %}">
                      {{banca.membro1.get_full_name}}
                    </a>
                    <a class="email" href="mailto:{{banca.membro1.email}}">&lt;{{banca.membro1.email}}&gt;</a>
                  </li>
                  {% endif %}
                  {% if banca.membro2 %}
                  <li>
                    <a class="imprimir" href="{% url 'user_detail' banca.membro2.id %}">
                      {{banca.membro2.get_full_name}}
                    </a>
                    <a class="email" href="mailto:{{banca.membro2.email}}">&lt;{{banca.membro2.email}}&gt;</a>
                  </li>
                  {% endif %}
                  {% if banca.membro3 %}
                  <li>
                    <a class="imprimir" href="{% url 'user_detail' banca.membro3.id %}">
                      {{banca.membro3.get_full_name}}
                    </a>
                    <a class="email" href="mailto:{{banca.membro3.email}}">&lt;{{banca.membro3.email}}&gt;</a>
                  </li>
                  {% endif %}
                </ol>
              </div>
            {% endif %}

            <div class="grupo" style="margin-top: 8px;">
              <b>Grupo:</b>
              <ul style="margin-bottom:0px;">
                {% for alocacao in banca.projeto.alocacao_set.all %}
                  <li>
                    <a class="imprimir" href="{% url 'estudante_detail' alocacao.aluno.id %}">
                      {{alocacao.aluno.user.get_full_name}}
                    </a>
                    <span class="curso">[{{ alocacao.aluno.get_curso_display }}]</span>
                    <a class="email" href="mailto:{{alocacao.aluno.user.email}}">&lt;{{alocacao.aluno.user.email}}&gt;</a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="avaliacao" style="margin-top: 8px;">
              &#9733; <b>Link formulário de avaliação</b>: 
              <a href="{% url 'banca_avaliar' banca.slug %}">
                http://{{ request.get_host }}{% url 'banca_avaliar' banca.slug %}
              </a>
            </div>

            <div class="agendamento" style="margin-top: 8px;">
              <b>Agendamento</b>: mensagem
                {% with com_nome=True %}
                  <a href="{% include 'professores/mensagem_banca.html' %}" target="_blank">
                {% endwith %}          
                  <!--&amp;attach='events/{{banca.pk}}'-->
                  CN
                  </a>
                {% with com_nome=False %}
                  <a href="{% include 'professores/mensagem_banca.html' %}" target="_blank">
                {% endwith %}          
                  <!--&amp;attach='events/{{banca.pk}}'-->
                  SN
                  </a>
            <a href="{% url 'event_ics_export' banca.id %}">
              ics
            </a>
          </div>

          <span class="editar esconder">
            <button style="float: right;" type="submit" formaction="../bancas_editar/{{banca.pk}}">Editar</button>
            <br>
          </span>

          </td>
        </tr>
        {% endfor %}
      </table>
    </form>
  {% else %}
    <p>Não existem bancas definidas.</p>
  {% endif %}
  <p>&nbsp;</p>

  <div class="sem_agendamento">
    {% if sem_banca %}
      <br>
      <h5>Projetos ativos sem bancas agendadas:</h5>
      <ul>
      {% for projeto in sem_banca %}
        <li>

          {% if projeto.orientador %}
            <a class="imprimir" href="{% url 'professor_detail' projeto.orientador.id %}">
              {{projeto.orientador.user.get_full_name}}:
            </a>
          {% endif %}

          <a class="imprimir" href="{% url 'projeto_completo' projeto.id %}">{{projeto.get_titulo}}</a>

          <u><strong style="color:red">
            {% if projeto.avancado %}
              [Avançado]
            {% endif %}
            {% if projeto.proposta.internacional %}
              [Internacional]
            {% endif %}
            {% if projeto.proposta.intercambio %}
              [Intercâmbio]
            {% endif %}
            {% if projeto.time_misto %}
              [Time Misto]
            {% endif %}
          </strong></u><br>
          

          {% if projeto.organizacao %}
            [<a class="imprimir" href="{% url 'organizacao_completo' projeto.organizacao.id %}"
              >{{ projeto.organizacao.nome }}</a
            >]
          {% endif %}

        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>

  <script>
    function carrega_pagina() {
      ($("#local").prop('checked') ? $('.local').show() : $('.local').hide());
      ($("#link").prop('checked') ? $('.link').show() : $('.link').hide());
      ($("#grupo").prop('checked') ? $('.grupo').show() : $('.grupo').hide());
      ($("#orientacao").prop('checked') ? $('.orientacao').show() : $('.orientacao').hide());
      ($("#curso").prop('checked') ? $('.curso').show() : $('.curso').hide());
      ($("#banca").prop('checked') ? $('.banca').show() : $('.banca').hide());
      ($("#avaliacao").prop('checked') ? $('.avaliacao').show() : $('.avaliacao').hide());
      ($("#agendamento").prop('checked') ? $('.agendamento').show() : $('.agendamento').hide());
      ($("#email").prop('checked') ? $('.email').show() : $('.email').hide());
      ($("#editar").prop('checked') ? $('.editar').show() : $('.editar').hide());
      ($("#sem_agendamento").prop('checked') ? $('.sem_agendamento').show() : $('.sem_agendamento').hide());
    };

    function carrega_site() {
      var filterEdicao = localStorage.getItem("filterEdicao");
      if (filterEdicao !== null && $("#filterEdicao option[value='"+filterEdicao+"']").length > 0 ) {
        $('#filterEdicao').val(filterEdicao).trigger('change');
      }
      carrega_pagina();
    };

    window.onload = carrega_site

  </script>

{% endblock %}