{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 3 de Abril de 2023
{% endcomment %}

{% block head %}
  {% load static %}
  {% load certificados %}
  {% load documentos %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
  {% include "reload.html" %}
{% endblock %}

{% block content %}

  <table class="table table-borderless table-sm arredondado">
    {% for banca in bancas %}
      {% ifchanged banca.periodo.pt %}
        {% if not forloop.first %}</tbody>{% endif %}
        <thead><tr><th id="{{banca.periodo.pt}}" style="margin-top: 1em; font-weight: bold; font-size: 1.2rem;">
          {% lng banca.periodo.pt banca.periodo.en %}
           {% if banca.periodo.pt == "Anteriores" %}<span class="seta seta-baixo"></span>{% endif %}</th></tr></thead>
        <tbody>
      {% endifchanged %}

      <tr class="{{banca.periodo.pt}} {% if banca.periodo.pt == "Anteriores" %}hidden_tr{% endif %}"><td>
        <div>
          <b style="margin-right: 1px;">#{{ forloop.revcounter }}.</b>
          <a href="{% url 'banca_ver' banca.id %}">
            <b>{{ banca.get_tipo }}</b> &#x2726;
            {% if banca.startDate %}
              <b><span class="texto-longo">{{ banca.startDate|date:"DATETIME_FORMAT" }}</span>
                 <span class="texto-curto">{{ banca.startDate|date:"d/m/y H:i" }}</span></b>
            {% endif %} &#x2726;

            {% if user.professor and banca.projeto.orientador == user.professor %}
              <i>({% lng_g user.genero "ORIENTADOR" "ORIENTADORA" "ADVISOR" %})</i>
            {% endif %}
            {% with coorientadores=banca.projeto.coorientador_set.all %}
              {% for coorientador in coorientadores %}
                {% if coorientador.usuario == user %}
                  <i>({% lng_g user.genero "COORIENTADOR" "COORIENTADORA" "CO-ADVISOR" %})</i>
                {% endif %}
              {% endfor %}
            {% endwith %}
            
            {% if not user.professor or user.professor and banca.projeto.orientador != user.professor %}
              <i><span class="texto-curto">{% lng "Ori." "Adv." %}</span><span class="texto-longo">{% lng_g user.genero "Orientador" "Orientadora" "Advisor" %}</span>:
                {% if banca.projeto.orientador %}
                  {{banca.projeto.orientador}}
                {% elif banca.alocacao.projeto.orientador %}
                  {{banca.alocacao.projeto.orientador}}
                {% else %}
                  {% lng "SEM ORIENTADOR" "NO ADVISOR" %}
                {% endif %}
              </i>
            {% endif %}
          </a>
        </div>
          
        {% if banca.projeto %}
          <div style="overflow-x: clip; text-overflow: ellipsis; text-wrap: nowrap;">
            {% if banca.projeto.organizacao %}
              [<a href="{% url 'organizacao_completo' banca.projeto.organizacao.id %}">{{ banca.projeto.organizacao.nome }}</a>]
            {% endif %}
            <a href="{% url 'projeto_completo' banca.projeto.id %}">
              {{banca.projeto.get_titulo}}
            </a>
          </div>
        {% elif banca.alocacao.projeto %}
          <div style="overflow-x: clip; text-overflow: ellipsis; text-wrap: nowrap;">
          {% if banca.alocacao.aluno %}
            (<a href="{% url 'estudante_detail' banca.alocacao.aluno.id %}">{{ banca.alocacao.aluno }}</a>)
          {% endif %}
          {% if banca.alocacao.projeto.organizacao %}
            [<a href="{% url 'organizacao_completo' banca.alocacao.projeto.organizacao.id %}">{{ banca.alocacao.projeto.organizacao.nome }}</a>]
          {% endif %}
          <a href="{% url 'projeto_completo' banca.alocacao.projeto.id %}">
            {{banca.alocacao.projeto.get_titulo}}</a>
            </div>
        {% endif %}

        <div>
          {% with relatorio=banca|get_relatorio %}
            {% if relatorio %}
              <a href="{{request.scheme}}://{{request.get_host}}{{relatorio.documento.url}}"
                target="_blank" rel="noopener noreferrer"><b>[{% lng "RELATÓRIO" "REPORT" %}]</b>
              </a>
            {% endif %}
          {% endwith %}

          {% with site=banca.projeto.get_site %}
            {% if site %}
              <a href="{{site}}" target="_blank"><b>[SITE]</b></a>
            {% endif %}
          {% endwith %}

          {% with certificado=banca|certificado_banca:user %}
            {% if certificado %}
              <a href="{{certificado}}" target="_blank" rel="noopener noreferrer"><b>[{% lng "CERTIFICADO" "CERTIFICATE" %}]</b></a>
            {% endif %}
          {% endwith %}
        </div>

      </td></tr>
    {% empty %}
      {% lng "Nenhuma banca encontrada." "No examination board found." %}
    {% endfor %}
  </tbody></table>

  {% include "toggle_anteriores.html" %}

  {% lng 'Obs: Professor, para cadastrar/atualizar uma banca, acesse "Agendar Bancas" na sua' 'Note: Professor, to schedule/update an examination board, access "Agendar Bancas" in your' %}
  <a href="{% url 'index_professor' %}">{% lng "página do Professor" "Professor's page" %}</a>.

{% endblock %}
