{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 3 de Abril de 2023
{% endcomment %}

{% load static %}
{% load certificados %}
{% load linguas %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
  {% include "reload.html" %}
{% endblock %}

{% block content %}

  <table class="table table-borderless table-sm arredondado"><tbody>
    {% for coorientacao in coorientacoes %}
      {% ifchanged coorientacao.projeto.periodo.pt %}
        {% if not forloop.first %}</tbody>{% endif %}
        <thead><tr><th id="{{coorientacao.projeto.periodo.pt}}" style="margin-top: 1em; font-weight: bold; font-size: 1.2rem;">
          {% lng coorientacao.projeto.periodo.pt coorientacao.projeto.periodo.en %}
          {% if coorientacao.projeto.periodo.pt == "Anteriores" %}<span class="seta seta-baixo"></span>{% endif %}</th></tr></thead>
        <tbody>
      {% endifchanged %}

      <tr class="{{coorientacao.projeto.periodo.pt}} {% if coorientacao.projeto.periodo.pt == "Anteriores" %}hidden_tr{% endif %}"><td>
        {% with n_alocacoes=coorientacao.projeto.alocacao_set.all.count %}
          {% if n_alocacoes == 0 %}
            {% lng "ERRO: PROJETO SEM ESTUDANTES" "ERROR: PROJECT WITHOUT STUDENTS" %}
          {% endif %}
          <b style="margin-right: 1px;">#{{ forloop.revcounter }}.</b>
          <a href="{% url 'projeto_infos' coorientacao.projeto.id %}">
            {{coorientacao.projeto.ano}}.{{coorientacao.projeto.semestre}}
            [{{coorientacao.projeto.organizacao.nome}}] {{coorientacao.projeto.get_titulo}}
            { {{ n_alocacoes }} {% lng_n n_alocacoes "estudante" "estudantes" "student" "students" %} }
          </a>

          {% with certificado_orientador=coorientacao|certificado_coorientador %}
            {% if certificado_orientador %}
              <a href="{{ certificado_orientador.last.documento.url }}" target="_blank" rel="noopener noreferrer">[{% lng "CERTIFICADO" "CERTIFICATE" %}]</a>
            {% endif %}
          {% endwith %}

        {% endwith %}
      </td></tr>
    {% empty %}
      {% lng "Nenhuma coorientação encontrada." "No co-supervision found." %}
    {% endfor %}
  </tbody></table>

  {% include "toggle_anteriores.html" %}

{% endblock %}