{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 3 de Outubro de 2019
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
  <link rel="stylesheet" href="{% static 'professores/css/agendamentos.css' %}">
  {% include "heads_calendar.html" %}
  {% include "cores_bancas_mentorias.html" %}
{% endblock %}

{% block content %}

  {% include "edicoes.html" with com_proximas=True %}
  {% include "informacoes_ml.html" %}<br>

  {% if projeto %}
    <script>
      $("#filterEdicao").append($("<option>", {value: "{{projeto.id}}", text: "{{projeto.get_titulo}}", selected: "selected"}));
    </script>
  {% endif %}

  <span class="esconder">
    <a href="{% url 'dinamicas_criar'%}" class="open-modal" style="cursor:pointer;"
    data-url="{% url 'dinamicas_criar' %}">
      <i class="fas fa-plus"></i>
      {% lng "Agendar Mentoria" "Schedule Mentoring" %}
    </a>
  </span>

  <div id="atualizar">

    {% if encontros %}
      <table id="MentoriasTable" class="table table-borderless table-sm arredondado"><tbody>
        {% for e in encontros %} 
          <tr>
            <td {% if not e.projeto %}style="background-color:rgb(239, 255, 239);"{% endif %}>
              {% comment %} <a class="imprimir" href="{% url 'dinamicas_editar' e.id %}"> {% endcomment %}
              <b>{% lng "Horário" "Time" %}:</b> {{e.startDate}} - {{e.endDate|date:'H:i'}}<br>
              {% if e.facilitador %}
                <div class="facilitador" style="margin: 4px 0px 4px 0px;">
                  <b>{% lng_g e.facilitador.genero "Facilitador" "Facilitadora" "Facilitator" %}:</b>
                  <a class="imprimir" href="{% url 'user_detail' e.facilitador.id %}">{{ e.facilitador.get_full_name }}</a>
                  <a class="email" href="mailto:{{e.facilitador.email}}">&lt;{{e.facilitador.email}}&gt;</a>&nbsp;
                </div>
              {% endif %}
              {% if e.location %}
                <div class="local" style="margin: 4px 0px 4px 0px;">
                  <b>Local/Link:</b>
                  {% if e.url_location %}<a href="{{e.location}}">{% endif %}
                  {{e.location}}
                  {% if e.url_location %}</a>{% endif %}
                </div>
              {% endif %}

              {% if e.projeto %}
                {% include "cabecalho_projeto.html" with projeto=e.projeto %}
                <div class="grupo" style="margin-top: 1px;">
                  <b>{% lng "Grupo" "Group" %}:</b>
                  <ol>
                    {% for alocacao in e.projeto.alocacao_set.all %} 
                      <li><a class="imprimir" href="{% url 'estudante_detail' alocacao.aluno.id %}">{{alocacao.aluno.user.get_full_name}}
                      <span class="curso">[{{ alocacao.aluno.curso2 }}]</span>
                      <a class="email" href="mailto:{{alocacao.aluno.user.email}}">&lt;{{alocacao.aluno.user.email}}&gt;</a>&nbsp;
                      </a></li>
                    {% endfor %}
                  </ol>
                </div>

                <div class="avaliacao" style="margin-top: 8px; overflow-wrap: break-word;">
                  &#9733;
                  <b>{% lng "Formulário de feedback" "Feedback form" %}</b>
                  <a href="{% url 'encontro_feedback' e.id %}">https://{{ request.get_host }}{% url 'encontro_feedback' e.id %}</a>
                </div>

              {% else %}
                {% lng "Horário Livre" "Available Time" %}<br><br>
              {% endif %}

              <span class="editar esconder" style="float: right;">
                <a class="open-modal" data-url="{% url 'dinamicas_editar' e.id %}" href="{% url 'dinamicas_editar' e.id %}"> 
                  <button class="btn btn-primary">{% lng "Editar" "Edit" %}</button>
                </a>
              </span>

            </td>
          </tr>
        {% endfor %}
      </tbody></table>
      {% if request.user.eh_admin %}
        <span class="editar esconder" style="float: right;">
          <a class="open-modal" data-url="{% url 'dinamicas_editar_edicao' edicao %}" href="{% url 'dinamicas_editar_edicao' edicao %}"> 
            <button class="btn btn-secondary">{% lng "Editar Todas" "Edit All" %}</button>
          </a>
        </span>
      {% endif %}
      <p>&nbsp;</p>
    {% else %}
      <p>{% lng "Não existem encontros." "There are no meetings." %}</p>
    {% endif %}
    <p>&nbsp;</p>

    <h4>{% lng "Calendário" "Calendar" %}</h4>
    {% include "calendario_dinamicas.html" %}

    <div class="sem_agendamento">
      {% if sem_dinamicas %}
        <br>
        <h5>
          {% lng "Projetos ativos sem mentorias agendadas" "Active projects without scheduled mentoring" %}:
          <a class="esconder" href="mailto:{% for projeto in sem_dinamicas %}{% for alocacao in projeto.alocacao_set.all %}{{alocacao.aluno.user.email}}{% if not forloop.last %};{% endif %}{% endfor %}{% if not forloop.last %};{% endif %}{% endfor %}?subject=Capstone%20Insper&body=Grupo{% if sem_dinamicas|length > 1 %}s{% endif %}%20do%20Capstone,%0D%0A%0D%0Aatenciosamente,%20{{configuracao.coordenacao.coordenador_email}}%20(coordenação%20Capstone)" target="_blank">
            <i class="fas fa-mail-bulk"></i>
          </a>
        </h5>
        <ul>
          {% for projeto in sem_dinamicas %}
            <li>
              {% if projeto.organizacao %}
                [<a class="imprimir" href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{ projeto.organizacao.nome }}</a>]
              {% endif %}
              <a class="imprimir" href="{% url 'projeto_infos' projeto.id %}">{{projeto.get_titulo}}</a>
              {% include "tipo_projeto.html" %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>

  <script>
    function carrega_pagina() {montar_calendario();};
    function carrega_site() {carrega_pagina();};
    window.onload = carrega_site
  </script>

  {% include "edicoes_ajax.html" %}
  {% include "base-modal.html" %}

{% endblock %}