{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 22 de Março de 2021
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
  {% include "heads_calendar.html" %}
  {% include "cores_bancas_mentorias.html" %}
{% endblock %}

{% block content %}

  <span class="esconder">
    <a href="{% url 'dinamicas_criar'%}" class="open-modal" style="cursor:pointer;"
    data-url="{% url 'dinamicas_criar' %}">
      <i class="fas fa-plus"></i>
      {% lng "Agendar Mentoria" "Schedule Mentoring" %}
    </a>
  </span>
  <br><br>
  
  <div id="atualizar">
    {% include "calendario_dinamicas.html" %}
    <br>
  </div>
    
  <script>
    function carrega_site(){
      // recarrega a página a cada 1 hora (evita que usuário não veja atualização de outros)
      window.setInterval("location.reload();", 3600000); // 1 hora
      montar_calendario();
    };
    window.onload = carrega_site
  </script>

{% endblock %}