{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 15 de Janeiro de 2024
{% endcomment %}

{% block head %}
  {% load static %}
  {% load tz %}
  {% load date_extras %}
  {% load negate %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'css/form_aval.css' %}">
  <script src="{% static 'js/aviso_perda_edicao.js' %}"></script>
{% endblock %}

{% block content %}

  {% if projeto %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}

      {% include "cabecalho_projeto.html" with com_grupo=True %}

      <br>
      <b>{% lng "Avaliação:" "Assessment:" %}</b><br>
      <p style="font-size: 1.3em;">
        &nbsp;&nbsp;
        {{composicao.exame}}
        {% if not composicao.exame.grupo %}({{estudante.get_full_name}}){% endif %}
      </p>

      <br>
      <b>{% lng "Prazo:" "Deadline:" %}</b><br>
      &nbsp;{% lng_dl evento.endDate %} ({% lng "ao final do dia" "by the end of the day" %})<br>

      <br>
      <b>{% lng "Documento:" "Document:" %}</b><br>
      <ul style="padding-left: 22px; width: fit-content;">
        {% for documento in documentos %}
          <li style="list-style-type:'';">
            {% if forloop.first%}<b>{% endif %}<span class="fa fa-file"></span>
            {% if documento.documento and documento.link %} 
              {% lng "Entregue" "Submitted" %}
              <span class="texto-longo">{{ documento.data|date:"DATETIME_FORMAT" }}</span>
              <span class="texto-curto">{{ documento.data|date:"d/m/y H:i" }}</span>
              <a 
                {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">(documento)</a>
              <a 
                {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                href="{{documento.link}}" target="_blank" rel="noopener noreferrer">(link)</a>
            {% else %}
              {% if documento.documento %}
                <a 
                  {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                  href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer">{% lng "Entregue" "Submitted" %}
                  <span class="texto-longo">{{ documento.data|date:"DATETIME_FORMAT" }}</span>
                  <span class="texto-curto">{{ documento.data|date:"d/m/y H:i" }}</span>
                </a>
              {% endif %}
              {% if documento.link %}
                <a
                  {% if documento.usuario %} data-toggle="tooltip" data-html="true" animation="true" title="Entregue por {{documento.usuario.get_full_name}}"{% endif %}
                  href="{{documento.link}}" target="_blank" rel="noopener noreferrer">{% lng "Entregue" "Submitted" %}
                  <span class="texto-longo">{{ documento.data|date:"DATETIME_FORMAT" }}</span>
                  <span class="texto-curto">{{ documento.data|date:"d/m/y H:i" }}</span>
                </a>
              {% endif %}
            {% endif %}
            {% if documento.data|diff_days:evento.endDate > 0 %}
              <span style="color: red;">
                [{% lng "FORA DO PRAZO" "OUT OF DEADLINE" %}]
              </span>
            {% endif %}
            {% if forloop.first%}</b>{% endif %}  
          </li>
        {% empty %}
          {% lng "Não entregue" "Not submitted" %}
        {% endfor %} 
        </ul><br>
      
      {% if orientacoes %}
        <h5>{% lng "Orientações Gerais" "Guidelines" %}</h5>
        {% lng orientacoes|safe orientacoes_en|safe %}
        <br>
      {% endif %}

      {% if pesos %}
        {% include "tabela_avaliacao_objetivos.html" with sem_NA=True individual=composicao.exame.grupo|negate %}
        {% include "atualiza_objetivos.html" %}
      {% else %}
        <b>{% lng "Decisão:" "Decision:" %}</b><br>
        <div style="width: fit-content; display: inline-block; margin-left: 20px;" {% if not documentos %}data-toggle="tooltip" data-html="true" animation="true" title="Documento não entregue"{% endif %}>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline0" name="decisao" class="custom-control-input" required
                    value="1" {% if avaliacao and avaliacao >= 5 %}checked="checked"{% endif %} {% if not documentos or not editor %}disabled {% endif %}>
            <label class="custom-control-label" for="customRadioInline0">
              {% lng "Adequado" "Adequate" %} 
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="decisao" class="custom-control-input" required
                    value="0" {% if avaliacao and avaliacao < 5 %}checked="checked"{% endif %} {% if not documentos or not editor %}disabled {% endif %}>
            <label class="custom-control-label" for="customRadioInline1">
              {% lng "Inadequado" "Inadequate" %}
            </label>
          </div>
        </div>
        <br><br>
      {% endif %}


      {% comment %} Observações somente para leitura dos estudantes {% endcomment %}
      <div class="mb-3">
        <label for="observacoes_estudantes"><span data-toggle="tooltip" data-html="true" animation="true"
              title="Insira qualquer observação que achar relavante para o grupo de estudantes.">
          <b>{% lng "Observações Estudantes" "Evaluation Observations for Students" %}</b>
          {% if composicao.exame.grupo %}
            {% lng "(enviada para todo o grupo)" "(will be sent to all students)" %}:
          {% else %}
            {% lng "(enviada para estudante)" "(will be sent to student)" %}:
          {% endif %}
        </label><br>
        <textarea id="observacoes_estudantes" name="observacoes_estudantes" 
        {% if not editor %}disabled{% endif %}
        rows="8" cols="100" maxlength="2048">{{observacao.observacoes_estudantes}}</textarea>
        
        <div style="background: #eefdfe; border: 1.5px dashed #1976d2; border-radius: 7px; padding: 2px 7px; margin-top: 1px; margin-bottom: 4px; display: flex; align-items: center; gap: 2px;">
          <span style="font-size: 1.0em; color: #1976d2; margin: 5px;">
            <i class="fas fa-paperclip" aria-hidden="true"></i>
          </span>
          <div style="flex: 1;">
            <label for="arquivo" style="font-size: 0.88em; color: #1976d2;">
              {% lng "Envio de relatório com anotações (opcional e será enviado automaticamente para o grupo)" "Submission of report with notes (optional and will be automatically sent to the group)" %}
            </label>
            <input id="arquivo" type="file" name="arquivo" style="font-size: 0.8em; margin: 5px;" {% include "formatos_suportados.html" %}>
            {% if relatorio_revisado_orientador %}
              <span style="font-size: 0.8em; color: #1976d2; margin-top: 4px;  white-space: nowrap;">
                <a href="{{request.scheme}}://{{request.get_host}}{{relatorio_revisado_orientador.documento.url}}" target="_blank" rel="noopener noreferrer">
                  [{% lng "última anotação" "last note" %} {{ relatorio_revisado_orientador.data|date:"d/m" }}]
                </a>
              </span>
            {% endif %}
          </div>
        </div>

      </div>


      {% comment %} Observações somente para leitura de orientador/coordenador {% endcomment %}
      <div class="mb-3">
        <label for="observacoes_orientador"><span data-toggle="tooltip" data-html="true" animation="true"
              title="Insira qualquer observação que achar relavante. O texto será encaminhado para os orientadores do projeto.">
          {% lng "<b>Observações Orientador/Coordenação</b> (para documentar/anotar ou enviar coordenação)" "<b>Evaluation Observations</b> (to document/note or send coordinator)" %}:
        </label><br>
        <textarea id="observacoes_orientador" name="observacoes_orientador" 
        {% if not editor %}disabled{% endif %}
        rows="8" cols="100" maxlength="2048">{{observacao.observacoes_orientador}}</textarea>
      </div>
      
      {% if evento.startDate.date > today.date %}
        <div style="display: inline-block; border:2px solid red; margin-bottom: 4px; padding: 4px;">
          <span class="red-bold">
            {% lng "Você está acessado o formulário antes do prazo da avaliação." "You have accessed the form before the scheduled evaluation date." %}
          </span>
          <br>
          <span class="red-bold">
            {% lng "Tem certeza que deseja enviar a avaliação agora!!" "Are you sure you want to submit your evaluation now!!" %}
          </span>
          <br>
        </div><br>
      {% endif %}

      {% if editor %}
        <button class="btn btn-primary mb-1" type="submit" style="margin-right: 1em;">{% lng "Gravar Avaliação" "Save Evaluation" %}</button>
        <label for="envia"><input type="checkbox" id="envia" name="envia" style="margin-right: 4px;" {% if user.professor.email_avaliacao %}checked{% endif %}>
          {% lng "Enviar e-mail nesse instante com resultados para estudante(s)" "Send email in this instant with results to student(s)" %}
        </label>
      {% endif %}
      <p>&nbsp;</p>

    </form>
  {% else %}
    {% lng "Não existe projeto disponível para avaliar." "There is no project available to evaluate." %}
  {% endif %}

{% endblock %}
