{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 3 de Abril de 2023
{% endcomment %}

{% load static %}
{% load certificados %}
{% load linguas %}

{% block head %}
  {% include "reload.html" %}
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
{% endblock %}

{% block content %}

  <table class="table table-borderless table-sm arredondado"><tbody>

    {% for e in mentorias %}

      {% ifchanged e.periodo.pt %}
        {% if not forloop.first %}</tbody>{% endif %}
        <thead><tr><th id="{{e.periodo.pt}}" style="margin-top: 1em; font-weight: bold; font-size: 1.2rem;">
          {% lng e.periodo.pt e.periodo.en %}
          {% if e.periodo.pt == "Anteriores" %}<span class="seta seta-baixo"></span>{% endif %}</th></tr></thead>
        <tbody>
      {% endifchanged %}

      <tr class="{{e.periodo.pt}} {% if e.periodo.pt == "Anteriores" %}hidden_tr{% endif %}">
        <td>
          <a class="open-modal" class="imprimir" data-url="{% url 'dinamicas_editar' e.id %}" href="{% url 'dinamicas_editar' e.id %}">
            <big><b>{{e.startDate}} - {{e.endDate|date:'H:i'}}</b></big><br>
          </a>
          {% if e.projeto  %}
            {% include "cabecalho_projeto.html" with com_email=True projeto=e.projeto com_grupo=True %}
            
            {% if e.location %}
              <div class="local" style="margin-top: 8px;">
                <b>Local:</b> 
                {% if e.url_location %}
                  <a href="{{e.location}}">{{e.location}}</a>
                {% else %}
                  {{e.location}}
                {% endif %}
                <br>
              </div>
            {% endif %}

          {% else %}
            {% lng "Horário Livre" "Free Time" %}<br><br>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      {% lng "Nenhuma mentoria encontrada." "No mentorship found." %}
    {% endfor %}
  </tbody></table>
  <p>&nbsp;</p>

  {% include "toggle_anteriores.html" %}  
  {% include "base-modal.html" %}

{% endblock %}
