{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 3 de Abril de 2023
{% endcomment %}

{% block head %}
  {% load static %}
  {% load certificados %}
  {% load linguas %}
  {% include "reload.html" %}
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
{% endblock %}

{% block content %}

  <table class="table table-borderless table-sm arredondado"><tbody>

    {% for e in mentorias %}

      {% ifchanged e.periodo %}
        {% if not forloop.first %}</tbody>{% endif %}
        <thead><tr><th id="{{e.periodo}}" style="margin-top: 1em; font-weight: bold; font-size: 1.2rem;">
          {% lng e.periodo.pt e.periodo.en %}
          {% if e.periodo == "Anteriores" %}<span class="seta-baixo"></span>{% endif %}</th></tr></thead>
        <tbody>
      {% endifchanged %}

      <tr class="{{e.periodo}} {% if e.periodo == "Anteriores" %}hidden_tr{% endif %}">
        <td>
          <a class="open-modal" class="imprimir" data-url="{% url 'dinamicas_editar' e.id %}" href="{% url 'dinamicas_editar' e.id %}">
            <big><b>{{e.startDate}} - {{e.endDate|date:'H:i'}}</b></big><br>
          </a>
          {% if e.projeto  %}
            {% include "cabecalho_projeto.html" with com_email=True projeto=e.projeto com_grupo=True %}
            
            {% comment %} Meio obvio, parece desnecessário {% endcomment %}
            {% comment %} {% if e.facilitador %}
              <div class="facilitador" style="margin-top: 8px;">
                <b>Facilitador:</b> <a class="imprimir" href="{% url 'user_detail' e.facilitador.id %}">{{ e.facilitador.get_full_name }}</a>
                <a class="email" href="mailto:{{e.facilitador.email}}">&lt;{{e.facilitador.email}}&gt;</a>&nbsp;
                <br>
              </div>
            {% endif %} {% endcomment %}

            {% if e.location %}
              <div class="local" style="margin-top: 8px;">
                <b>Local:</b> 
                {% if e.url_location %}
                  <a href="{{e.location}}">{{e.location}}</a>
                {% else %}
                  {{e.location}}
                {% endif %}
                <br>
              </div>
            {% endif %}

          {% else %}
            {% lng "Horário Livre" "Free Time" %}<br><br>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      {% lng "Nenhuma mentoria encontrada." "No mentorship found." %}
    {% endfor %}
  </tbody></table>
  <p>&nbsp;</p>

  {% include "toggle_anteriores.html" %}  
  {% include "janelas-modal.html" %}

{% endblock %}
