{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 4 de Setembro de 2019
{% endcomment %}

{% block head %}

  {% load static %}

  <script src="{% static 'js/w3.js' %}"></script>

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

{% endblock %}

{% block content %}

  <span class="titulo">Alocação de Orientadores</span>

  {% for professores,periodo in anos %} 
  <big>{{periodo}}</big>
  <table id="professores">
    <tr>
      <th onclick="w3.sortHTML('#professores', '.item', 'td:nth-child(1)')" style="cursor:pointer; text-align: center;width:300px;">Nome</th>
      <th onclick="w3.sortHTML('#professores', '.item', 'td:nth-child(2)')" style="cursor:pointer; text-align: center;width:70px;">Grupos</th>
    </tr>
    {% for professor,grupos in professores %} 
      <tr class="item">
        <td>
          <a href="{% url 'professor_detail' professor.id %}">
            {{professor.user.get_full_name}}
          </a>
        </td>
        <td style="text-align: center;" data-toggle="tooltip" data-html="true" animation="true" title="
          {% for grupo in grupos %}
            &bull;
            {{grupo.get_titulo}}
            [{{grupo.organizacao}}]
            <br>
          {% endfor %}
        "> 
          {{grupos|length}}
        </td>
      </tr>
    {% endfor %}
  </table>
  <br>
  {% endfor %}
  
  <br>
  <br>

{% endblock %}