{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Abril de 2021
{% endcomment %}

{% block head %}
  {% load static %}
  {% load dictionary %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'css/tab_simples.css' %}">
  <script src="{% static 'js/sort.js' %}"></script>
{% endblock %}

{% block content %}

  <div class="table-responsive">
    <table id="ProfessoresTable" class="table-bordered table-sm">
      <thead class="table-info">
        <tr>
          <th onclick="sort('#ProfessoresTable', '.item', 'td:nth-child(1)')">
            <span lang="pt">Professor</span><span lang="en">Professor</span>
          </th>
          {% for tipo in tipos %}
            <th class="text-center" style="width: 80px">{{tipo.0}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for professor, pendencias in professores.items %}
          <tr class="item">
            <td>
              <a href="{% url 'professor_detail' professor.id %}">
                {{professor}}
              </a>
            </td>
            {% for tipo in tipos %}
              <td class="text-center">
                <a href="{% url tipo.1 professor.id %}">
                  <span class="circulo">{% include "circulo_estados.html" with estado=pendencias|get_value:tipo.1 %}</span>
                </a>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
