{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 18 de Agosto de 2023
{% endcomment %}

{% load static %}
{% load certificados %}
{% load tipo_documento %}
{% load documentos %}
{% load linguas %}

{% block head %}
  {% include "reload.html" %}
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
{% endblock %}

{% block content %}

  {% if professor != user.professor %}
    <span><b>Professor:</b> {{professor}}</span><br><br>
  {% endif %}

  <a target="_blank" rel="noopener noreferrer" href="{{request.scheme}}://{{request.get_host}}{{template.documento.url}}">
    <i class="far fa-file-alt"></i> {{template.tipo_documento}}
    {% lng "(opcional)" "(optional)" %}
  </a><br>

  <table class="table table-borderless table-sm arredondado">
    {% for projeto in projetos %}
      {% ifchanged projeto.periodo.pt %}
        {% if not forloop.first %}</tbody>{% endif %}
        <thead><tr><th id="{{projeto.periodo.pt}}" style="margin-top: 1em; font-weight: bold; font-size: 1.2rem;">
          {% lng projeto.periodo.pt projeto.periodo.en %}
          {% if projeto.periodo.pt == "Anteriores" %}<span class="seta seta-baixo"></span>{% endif %}</th></tr></thead>
        <tbody>
      {% endifchanged %}
      <tr class="{{projeto.periodo.pt}} {% if projeto.periodo.pt == "Anteriores" %}hidden_tr{% endif %}"><td>
        {% for documento in projeto|get_planos_de_orientacao %}
          <a href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer"
             title="Abrir arquivo enviado" aria-label="Abrir arquivo enviado">
            <i class="fas fa-file-alt"></i>
          </a>
          <a {% if projeto.periodo.pt == "Anteriores" %}style="color:grey"{% else %}style="color:green; cursor:pointer;"{% endif %}
            data-toggle="tooltip" data-html="true" animation="true" title="Entregue em {{documento.data|date:'d/m/Y H:i'}}. Clique para trocar arquivo."
            {% if projeto.periodo.pt == "Anteriores" %}
              href="{{request.scheme}}://{{request.get_host}}{{documento.documento.url}}" target="_blank" rel="noopener noreferrer"
            {% else %}
              class="open-modal"
              aria-label="Clique para trocar arquivo"
              data-url="{% url 'adiciona_documento' projeto.organizacao.id projeto.id 'PO' documento.id %}"
            {% endif %}
            ><b>
              {% if projeto.periodo.pt != "Anteriores" %}
                <span class="badge badge-success ml-1" style="font-size:0.75rem; vertical-align:middle;">
                  <i class="fas fa-exchange-alt"></i>
                  {% lng "Trocar arquivo" "Replace file" %}
                </span>
              {% endif %}
        {% empty %}
          <a {% if projeto.periodo.pt == "Anteriores" %}style="color:grey"{% else %}style="color:red; cursor:pointer;"{% endif %}
            data-toggle="tooltip" data-html="true" animation="true" title="Não entregue. Clique para subir arquivo."
            {% if projeto.periodo.pt != "Anteriores" %}
              class="open-modal"
              aria-label="Clique para subir arquivo"
              data-url="{% url 'adiciona_documento' projeto.organizacao.id projeto.id 'PO' %}"
            {% endif %}
            ><b><i class="far fa-file"></i>{% if projeto.periodo.pt != "Anteriores" %}
              <span class="badge badge-danger ml-1" style="font-size:0.75rem; vertical-align:middle;">
                <i class="fas fa-upload"></i>
                {% lng "Subir arquivo" "Upload file" %}
              </span>
            {% endif %}
        {% endfor %}</b>
        {{projeto.get_titulo_org_periodo}}
        </a>
      </td></tr>
    {% empty %}
      {% lng "Nenhum plano de orientação encontrado." "No orientation plan found." %}
    {% endfor %}
  </tbody></table>

  {% include "base-modal.html" %}
  {% include "toggle_anteriores.html" %}

{% endblock %}