{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 18 de Agosto de 2023
{% endcomment %}

{% block head %}
  {% load static %}
  
  {% comment %} Para recarregar a página em caso de um botão back ou similar {% endcomment %}
  {% include "reload.html" %}

  <style>
    table, td, th {padding: 0.4rem;}
  </style>

{% endblock %}

{% block content %}
  <span class="titulo">
    <span lang="pt">{{ titulo.pt }}</span>
    <span lang="en">{{ titulo.en }}</span>
  </span>
  {% include "edicoes.html" %}
  <br>

  <div class="atualizar">

    <script>
      var submetidos = {};
      var ausentes = {};
    </script>

    <table>

      {% for projeto in projetos %}
        <tr>
          <th style="text-align: center">
            {% for documento in projeto.get_planos_de_orientacao %}
              
              <script>
                submetidos[{{projeto.id}}] = true;
              </script>

              {% if documento.documento and documento.link %}
                <a style="color:green"
                 data-toggle="tooltip" data-html="true" animation="true" title="Entregue"
                 class="open-documento"
                 data-url="{% url 'adiciona_documento' projeto.organizacao.id projeto.id 'PO' documento.id %}">
                  <font size="6"><i class="fas fa-file-alt"></i></font>
                </a>
                <a style="color:green"
                 data-toggle="tooltip" data-html="true" animation="true" title="Entregue"
                 class="open-documento"
                 data-url="{% url 'adiciona_documento' projeto.organizacao.id projeto.id 'PO' documento.id %}">
                  <font size="6"><i class="fas fa-link"></i></font>
                </a>
              {% else %}
                {% if documento.documento %}
                  <a style="color:green"
                   data-toggle="tooltip" data-html="true" animation="true" title="Entregue"
                   class="open-documento"
                   data-url="{% url 'adiciona_documento' projeto.organizacao.id projeto.id 'PO' documento.id %}">
                    <font size="6"><i class="fas fa-file-alt"></i></font>
                  </a>
                {% endif %}
                {% if documento.link %}
                  <a style="color:green"
                   data-toggle="tooltip" data-html="true" animation="true" title="Entregue"
                   class="open-documento"
                   data-url="{% url 'adiciona_documento' projeto.organizacao.id projeto.id 'PO' documento.id %}">
                    <font size="6"><i class="fas fa-link"></i></font>
                  </a>
                {% endif %}
              {% endif %}

            {% empty %}

              <script>
                ausentes[{{projeto.id}}] = true;
              </script>

              <a style="color:red"
               data-toggle="tooltip" data-html="true" animation="true" title="Não entregue"
               class="open-documento"
               data-url="{% url 'adiciona_documento' projeto.organizacao.id projeto.id 'PO' %}">
                <font size="6"><i class="far fa-file"></i></font>
              </a>
            {% endfor %}
            
          </th>

          <th>
            <strong lang="pt">Projeto:</strong><strong lang="en">Project:</strong>
            <a href="{% url 'projeto_completo' projeto.id %}">{{projeto.get_titulo}}</a>
            {% if projeto.organizacao %}<a href="{% url 'organizacao_completo' projeto.organizacao.id %}">[{{ projeto.organizacao.nome }}]</a>{% else %}[ORGANIZAÇAO NÃO DEFINIDA]{% endif %}
            <br><strong lang="pt">Orientador:</strong><strong lang="en">Advisor:</strong>
              {% if projeto.orientador %}
                <a href="{% url 'professor_detail' projeto.orientador.id %}">{{projeto.orientador}}</a>
              {% else %}
                ORIENTADOR NÃO DEFINIDO
              {% endif %}
            <br>
            {% include "tipo_projeto.html" with com_tipo=True %}
          </th>

        </tr>
      {% endfor %}
    </table>

    <p>&nbsp;</p>
    <strong lang="pt">Número de Planos de Orientação:</strong><strong lang="en">Number of Orientation Plans:</strong>
    {{projetos|length}}<br>
    <span lang="pt">Submetidos</span><span lang="en">Submitted</span>: <span id="submetidos"></span><br>
    <span lang="pt">Ausentes</span><span lang="en">Missing</span>: <span id="ausentes"></span><br>
    <script>
      tsubmetidos = Object.keys(submetidos).length;
      tausentes = Object.keys(ausentes).length
      if (tsubmetidos+tausentes > 0) {
        $("#submetidos").html(tsubmetidos.toString()+" ("+(100*(tsubmetidos/(tsubmetidos+tausentes))).toFixed(2)+"%)");
        $("#ausentes").html(tausentes.toString()+" ("+(100*(tausentes/(tsubmetidos+tausentes))).toFixed(2)+"%)");
      }
    </script>
    
  </div> 

  <script>
    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
    };
    window.onload = carrega_site
  </script>

  {% include "documento-modal.html" %}
  {% include "edicoes_ajax.html" %}

{% endblock %}
