{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 31 de Janeiro de 2022
{% endcomment %}

{% block head %}
  {% load static %}
  {% load i18n %}
  {% load get_field %}
  {% load linguas %}
  {% load github %}
  <script src="{% static 'js/aviso_perda_edicao.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">

  <style>
    textarea {
      display: block;
      padding: 6px;
    }
    label {margin: 3px;}
    textarea:disabled {
      background-color: #F9F9F9;
    }

    .feedback-validator {
      border-radius: 5px;
      background-color: #f8f97a;
      border: 1px solid #b8892a;
      color: #000;
      font-size: 0.9em;
      line-height: 0.95em;
      padding: 3px 8px;
      margin-right: 5px;
    }

    .by-name {
      font-size: 0.7em;
    }

    .author-name {
      font-family: "Pacifico", cursive;
      font-weight: bold;
      font-size: 0.7em;
      color: #007BFF;
    }
    
  </style>

{% endblock %}

{% block content %}

  <form method="post" enctype="multipart/form-data">{% csrf_token %}

    <b>{% lng "Projeto" "Project" %}</b>:
    [<a href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{ projeto.organizacao.nome }}</a>]
    <a href="{% url 'projeto_infos' projeto.id %}">{{projeto.get_titulo}}</a><br>
    {% if projeto.orientador %}
      <b>
        {% if projeto.proposta.intercambio %}
          {% lng_g projeto.orientador.user.genero "Professor Responsável" "Professora Responsável" "Professor in charge" %}
        {% else %}
          {% lng_g projeto.orientador.user.genero "Orientador" "Orientadora" "Advisor" %}
        {% endif %}
      </b>:
      <a href="{% url 'professor_detail' projeto.orientador.id %}">
      {{projeto.orientador}}
      </a>
    {% else %}
      <b>{% lng "Orientador não definido" "Advisor not defined" %}</b>
    {% endif %}<br>
    <b>{% lng "Data limite do relato" "Report deadline" %}:</b> {% lng_dl evento.endDate %}
    <br>
    
    {% if repositorios %}
      <div>
        {% for projeto, repositorio in repositorios %}
          <b>{% lng "Repositório Git" "Git Repository" %}:</b>
          {% if repositorio.message %}
            {{ repositorio.message }}<br>
          {% else %}
            <a href="{{ repositorio.html_url }}" target="_blank">{{ repositorio.name }}</a><br>
            <a href="{{repositorio.html_url}}/graphs/contributors?from={{evento_anterior.endDate.month}}%2F{{evento_anterior.endDate.day}}%2F{{evento_anterior.endDate.year}}&amp;to={{evento.endDate.month}}%2F{{evento.endDate.day}}%2F{{evento.endDate.year}}" target="_blank">
              <b>
                {% lng "Ver contribuições no período" "See contributions in the period" %}
              </b>
            </a><br>
            {% for usuario, dados in repositorio|contributor %}
              &nbsp;&bull;&nbsp;<a href="{{dados.html_url}}">{{usuario}}</a>{% with us=usuario|git_usuario %}{% if us %}&nbsp;(<a class="imprimir" href="{% url 'user_detail' us.id %}">{{ us.get_full_name }}</a>){% endif %}{% endwith %}:&nbsp;{{dados.contributions}} commits total<br>
            {% endfor %}
          {% endif %}<br>
        {% endfor %}
      </div>
    {% endif %}

    <br>
    {% for alocacao, relato in alocacoes_relatos %}

      <div id="{{alocacao.id}}" class="div_arredondado" style="width: 1222px;">

        <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">

          <div>
            <b>{% lng "Estudante" "Student" %}:</b>
            <a href="{% url 'estudante_detail' alocacao.aluno.id %}">{{alocacao.aluno}}</a>
            <a href="mailto:{{alocacao.aluno.user.email}}?subject=Capstone%20Insper%20-%20Relato%20Quinzenal&body={{alocacao.aluno}},%0D%0A%0D%0A">
              <span class="texto-longo emails">&lt;{{alocacao.aluno.user.email}}&gt;</span>
              <span class="texto-curto emails"><i class="far fa-envelope"></i></span>
            </a>
            <br>
            <b>{% lng "Data do Preenchimento" "Filling Date" %}:</b>
            {% if relato %}
              {% lng_dl relato.momento %}
            {% else %}
              {% lng "Não entregue" "Not delivered" %}
            {% endif %}  
          </div>

          <div class="custom-control custom-radio custom-control-inline"
            data-toggle="tooltip" data-html="true" animation="true"
            title="
              Este é um sistema de feedback de texto baseado em IA e NLP.
              O objetivo dele é encontrar falhas na clareza do texto.
              O sistema de IA tentará encontrar as tarefas que form descritas e as suas respectivas evidências.
              Veja: se a IA não for capaz de encontrar a informação correta no seu texto, possivelmente um humano teria algum trabalho para encontrá-la.
              Escrever de forma que a IA consiga entender pode ser uma boa referência para verificar se o seu texto está claro.
              A IA não substitui o feedback humano, mas é capaz de encontrar alguns erros comuns que podem ser corrigidos antes de você enviar seu texto para a avaliação.
              O uso do sistema é de responsabilidade do próprio usuário, e o sistema não se responsabiliza por eventuais erros que possam ocorrer.
            ">
            <button type="button" id="feedback-validator_{{relato.id}}" class="feedback-validator btn mb-1 mt-1">
              <i class="fas fa-check-circle" style="display: none; color: green;"></i>
              <i class="fas fa-exclamation-triangle" style="display: none; color: red;"></i>
              <i class="fas fa-hourglass fa-spin" style="display: none;"></i>
              {% lng "verificar conteúdo" "check content" %}!<br>
              <span class="by-name">{% lng "IA por" "AI by" %}</span>
              <span class="author-name">Tiago Tavares</span>
            </button>
          </div>

        </div>
        
        <textarea id="relato_{{relato.id}}" name="relato" rows="10" cols="160" disabled>{{relato.texto}}</textarea>
        <div id="feedback-validator-message_{{relato.id}}"></div>
        <div style="width: 98%; display: block; margin-left: 8px; margin-right: 8px; " {% if not relato %}data-toggle="tooltip" data-html="true" animation="true" title="Estudante não entregou relato"{% endif %}>
          
          <label>
            {% lng "Desempenho" "Performance" %}
          </label>:
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline0{{relato.id}}" name="op.{{relato.id}}" class="custom-control-input"
                    value="1" {% if relato.avaliacao > 0 %}checked="checked"{% endif %} {% if not relato or not editor %}disabled {% endif %}>
            <label class="custom-control-label" for="customRadioInline0{{relato.id}}">
              {% lng "Adequado" "Adequate" %}
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1{{relato.id}}" name="op.{{relato.id}}" class="custom-control-input"
                    value="0" {% if relato.avaliacao == 0 %}checked="checked"{% endif %} {% if not relato or not editor %}disabled {% endif %}>
            <label class="custom-control-label" for="customRadioInline1{{relato.id}}">
              {% lng "Inadequado" "Inadequate" %}
            </label>
          </div>
 
          {% if relato %}
            <div style="width: 100%; display: inline; margin-left: 8px;">
              <label class="feedbacks" for="customFeedback{{relato.id}}">
                Feedback ({% lng "opcional" "optional" %})
                {% if relato.feedback %}<span class="seta seta-baixo">{% else %}<span class="seta seta-cima">{% endif %}</span></label>
              <div id="customFeedback{{relato.id}}" style="{% if not relato.feedback %}display: none;{% endif %} border: 2px solid red; margin-top: 10px; margin-right: 38px; width: 100%;">
                <label style="margin: 0px 0px 0px 4px;" for="feedback{{relato.id}}">Feedback:</label>
                <textarea id="feedback{{relato.id}}" name="feedback{{relato.id}}" rows="10" cols="180" 
                {% if not relato or not editor %}disabled {% endif %} maxlength="{% max_length Relato 'feedback' %}">{% if relato.feedback %}{{relato.feedback}}{% endif %}</textarea>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
      <br>

    {% endfor %}

    <div style="max-width: 1222px;">
      <label for="observacoes">
        {% lng "Informe suas observações para a coordenação do Capstone (opcional)" "Inform your observations to the Capstone coordination (optional)" %}:
      </label><br>
      <textarea id="observacoes" name="observacoes" rows="18" cols="164" maxlength="{% max_length Observacao 'observacoes_orientador' %}" {% if not editor %}disabled{% endif %} class="troca_lingua"
        data-pt="Caso identifique alguma dificuldade com qualquer estudante ou o grupo, descreva aqui que a coordenação do Capstone irá lhe auxiliar." data-en="If you identify any difficulty with any student or the group, describe here that the Capstone coordination will assist you."
        placeholder=""
      >{% if observacoes %}{{observacoes}}{% endif %}</textarea>
    </div>
    
    <p>&nbsp;</p>

    {% if editor %}
      <button class="btn btn-primary mb-1"
      {% if evento.em_prazo %}
        onClick="return confirm('Tem certeza que deseja enviar a avaliação? Os estudantes ainda estão no prazo para entregar o relato.');" 
      {% endif %}
      type="submit">
        {% lng "Enviar Avaliação" "Submit Evaluation" %}
      </button>
    {% endif %}

  </form>

  <script>
    $(".feedbacks").on("click", function() {
      $(this).siblings("div").toggle(200);
      $("span.seta", this).toggleClass("seta-baixo seta-cima");
    });
  </script>

  <script>
    $(document).ready(function(){	
      // Ajusta a altura de todas as textareas
      $("textarea").each(function(){
        if($(this).is(":visible")) {
          $(this).css("height", this.scrollHeight + "px");
        }
      });
    });
  </script>

  {% include "estudantes/includes/ia_feedback.html" with multi=True %}

{% endblock %}
