{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 20 de Fevereiro de 2022
{% endcomment %}

{% load static %}
{% load i18n %}
{% load linguas %}
{% load relatos %}

{% block head %}
  {% include "reload.html" %}
  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">
{% endblock %}

{% block content %}
  
  {% include "edicoes.html" %}
  
  <div id="atualizar">

    {% if not edicoes %}
      {% for projeto, alocacoes in proj_aloc %}
        {% if projeto.tem_relatos %}
          <div class="div_arredondado">
          
            {% include "cabecalho_projeto.html" with com_tit_original=True %}

            <div class="mt-2">
              <strong>{% lng "Relatos" "Reports" %}:</strong>
            </div>

            {% include "relatos.html" %}
            <small>{% lng "Obs: prazos para a entrega dos estudantes." "Note: deadlines for students' submissions." %}</small>

          </div>
        {% endif %}
      {% empty %}
        {% lng "Sem alocações de projetos esse semestre." "No project allocations this semester." %}
      {% endfor %}
    {% endif %}


    {% if edicao and administracao %}
      {% comment %} Tabela com informações consolidadas da entregas de relatos quinzenais {% endcomment %}
      <br>
      <b>{% lng "Panorama de Entregas" "Overview of Deliveries" %}</b>
      <table class="tabela-padrao table-bordered table-sm ">
        <thead>
          <tr>
            <th>#</th>
            <th>{% lng "Data" "Date" %}</th>
            <th colspan="2">
              <span data-toggle="tooltip" data-html="true" animation="true" title="Parecer positivo do professor orientador">
                &#x1F44D;
              </span>
            </th>
            <th colspan="2">
              <span data-toggle="tooltip" data-html="true" animation="true" title="Parecer negativo do professor orientador">
                &#x1F44E;
              </span>
            </th>
            <th colspan="2">
              <span data-toggle="tooltip" data-html="true" animation="true" title="Relato ainda não analisado">
                &#9989;
              </span>
            </th>
            <th colspan="2">
              <span data-toggle="tooltip" data-html="true" animation="true" title="Relato não entregue">
                &#10060;
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for evento in edicao|get_relatos_edicao %}
            <tr style="padding-left: 18px;">
                <td>{{ forloop.counter }}&ordm;</td>
                <td>
                  <span lang="pt">
                    {% language "pt-br" %}
                      <span class="texto-longo">{{ evento.endDate|date:"DATE_FORMAT" }}</span>
                      <span class="texto-curto">{{ evento.endDate|date:"d/m/Y" }}</span>
                    {% endlanguage %}
                  </span>
                  <span lang="en" style="display:none">
                    {% language "en" %}
                      <span class="texto-longo">{{ evento.endDate|date:"F d, Y" }}</span>
                      <span class="texto-curto">{{ evento.endDate|date:"M d, Y" }}</span>
                    {% endlanguage %}
                  </span>
                </td>
                <td id="bom_{{evento.id}}_n" style="text-align: right;"></td>
                <td id="bom_{{evento.id}}_p" style="text-align: right;"></td>
                <td id="ruim_{{evento.id}}_n" style="text-align: right;"></td>
                <td id="ruim_{{evento.id}}_p" style="text-align: right;"></td>
                <td id="entr_{{evento.id}}_n" style="text-align: right;"></td>
                <td id="entr_{{evento.id}}_p" style="text-align: right;"></td>
                <td id="nao_{{evento.id}}_n" style="text-align: right;"></td>
                <td id="nao_{{evento.id}}_p" style="text-align: right;"></td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr style="font-weight: 700; background: #f8fafc;">
            <td colspan="2" style="text-align: right;">{% lng "Média" "Average" %}</td>
            <td id="med_bom_n" style="text-align: right;">-</td>
            <td id="med_bom_p" style="text-align: right;">-</td>
            <td id="med_ruim_n" style="text-align: right;">-</td>
            <td id="med_ruim_p" style="text-align: right;">-</td>
            <td id="med_entr_n" style="text-align: right;">-</td>
            <td id="med_entr_p" style="text-align: right;">-</td>
            <td id="med_nao_n" style="text-align: right;">-</td>
            <td id="med_nao_p" style="text-align: right;">-</td>
          </tr>
        </tfoot>
      </table>

      <script>
        function conta() {
          let eventosValidos = 0;

          let somaBomN = 0, somaRuimN = 0, somaEntrN = 0, somaNaoN = 0;
          let somaBomP = 0, somaRuimP = 0, somaEntrP = 0, somaNaoP = 0;

          {% for evento in edicao|get_relatos_edicao %}
            var count_x1F44D = 0;
            var count_x1F44E = 0;
            var count_9989 = 0;
            var count_10060 = 0;

            var eventos = document.querySelectorAll(".eventor_{{evento.id}}");
            eventos.forEach(element => {
              if (element.innerHTML.includes('👍')) count_x1F44D++;
              if (element.innerHTML.includes('👎')) count_x1F44E++;
              if (element.innerHTML.includes('✅')) count_9989++;
              if (element.innerHTML.includes('❌')) count_10060++;
            });

            var total = count_x1F44D + count_x1F44E + count_9989 + count_10060;

            if (total > 0) {
              const bomP = (100 * count_x1F44D / total);
              const ruimP = (100 * count_x1F44E / total);
              const entrP = (100 * count_9989 / total);
              const naoP = (100 * count_10060 / total);

              document.getElementById("bom_{{evento.id}}_n").innerText = count_x1F44D;
              document.getElementById("bom_{{evento.id}}_p").innerText = bomP.toFixed(1) + "%";
              document.getElementById("ruim_{{evento.id}}_n").innerText = count_x1F44E;
              document.getElementById("ruim_{{evento.id}}_p").innerText = ruimP.toFixed(1) + "%";
              document.getElementById("entr_{{evento.id}}_n").innerText = count_9989;
              document.getElementById("entr_{{evento.id}}_p").innerText = entrP.toFixed(1) + "%";
              document.getElementById("nao_{{evento.id}}_n").innerText = count_10060;
              document.getElementById("nao_{{evento.id}}_p").innerText = naoP.toFixed(1) + "%";

              eventosValidos++;
              somaBomN += count_x1F44D; somaBomP += bomP;
              somaRuimN += count_x1F44E; somaRuimP += ruimP;
              somaEntrN += count_9989;  somaEntrP += entrP;
              somaNaoN += count_10060;  somaNaoP += naoP;
            } else {
              document.getElementById("bom_{{evento.id}}_n").innerText = "-";
              document.getElementById("bom_{{evento.id}}_p").innerText = "-";
              document.getElementById("ruim_{{evento.id}}_n").innerText = "-";
              document.getElementById("ruim_{{evento.id}}_p").innerText = "-";
              document.getElementById("entr_{{evento.id}}_n").innerText = "-";
              document.getElementById("entr_{{evento.id}}_p").innerText = "-";
              document.getElementById("nao_{{evento.id}}_n").innerText = "-";
              document.getElementById("nao_{{evento.id}}_p").innerText = "-";
            }
          {% endfor %}

          if (eventosValidos > 0) {
            document.getElementById("med_bom_n").innerText = (somaBomN / eventosValidos).toFixed(1);
            document.getElementById("med_bom_p").innerText = (somaBomP / eventosValidos).toFixed(1) + "%";
            document.getElementById("med_ruim_n").innerText = (somaRuimN / eventosValidos).toFixed(1);
            document.getElementById("med_ruim_p").innerText = (somaRuimP / eventosValidos).toFixed(1) + "%";
            document.getElementById("med_entr_n").innerText = (somaEntrN / eventosValidos).toFixed(1);
            document.getElementById("med_entr_p").innerText = (somaEntrP / eventosValidos).toFixed(1) + "%";
            document.getElementById("med_nao_n").innerText = (somaNaoN / eventosValidos).toFixed(1);
            document.getElementById("med_nao_p").innerText = (somaNaoP / eventosValidos).toFixed(1) + "%";
          }
        }
      </script>


    {% endif %}

  </div> 

  <script>
    
    {% if administracao %}
      function carrega_pagina() {conta();}
    {% endif %}

    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
    };
    window.onload = carrega_site
  </script>

  {% include "edicoes_ajax.html" %}

{% endblock %}