{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 31 de Janeiro de 2022
{% endcomment %}

{% block head %}
  {% load static %}
  {% load i18n %}
  {% load get_field %}
  {% load linguas %}
  <script src="{% static 'js/aviso_perda_edicao.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">
  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">

  <style>
    textarea {
      display: block;
      padding: 6px;
    }
    label {margin: 3px;}
    textarea:disabled {
      background-color: #F9F9F9;
    }
  </style>

{% endblock %}

{% block content %}

  <form method="post" id="avaliacaoform" enctype="multipart/form-data">
    {% csrf_token %}

    <b>
      {% lng "Projeto" "Project" %}
    </b>:
    [<a href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{ projeto.organizacao.nome }}</a>]
    <a href="{% url 'projeto_completo' projeto.id %}">{{projeto.get_titulo}}</a><br>
    {% if projeto.orientador %}
      <b>
        {% if projeto.proposta.intercambio %}
          {% lng_g projeto.orientador.user.genero "Professor Responsável" "Professora Responsável" "Professor in charge" %}
        {% else %}
          {% lng_g projeto.orientador.user.genero "Orientador" "Orientadora" "Advisor" %}
        {% endif %}
      </b>:
      <a href="{% url 'professor_detail' projeto.orientador.id %}">
      {{projeto.orientador}}
      </a>
    {% else %}
      <b>
        {% lng "Orientador não definido" "Advisor not defined" %}
      </b>
    {% endif %}<br>
    <b>{% lng "Data limite do relato" "Report deadline" %}:</b> {% lng_dl evento.endDate %}
    <br>
    
    <br>
    {% for alocacao, relato in alocacoes_relatos %}

      <div id="{{alocacao.id}}" class="div_arredondado" style="width: 1222px;">

        <b>{% lng "Estudante" "Student" %}:</b>
        <a href="{% url 'estudante_detail' alocacao.aluno.id %}">{{alocacao.aluno}}</a><br>
        
        <b>{% lng "Data do Preenchimento" "Filling Date" %}:</b>
        {% if relato %}
          {% lng_dl relato.momento %}
        {% else %}
          {% lng "Não entregue" "Not delivered" %}
        {% endif %}  
        <br>
        <textarea id="relato" name="relato" rows="10" cols="160" disabled>{{relato.texto}}</textarea>

        <div style="width: 98%; display: block; margin-left: 8px; margin-right: 8px; " {% if not relato %}data-toggle="tooltip" data-html="true" animation="true" title="Estudante não entregou relato"{% endif %}>
          <label>
            {% lng "Desempenho" "Performance" %}
          </label>:
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline0{{relato.id}}" name="op.{{relato.id}}" class="custom-control-input"
                    value="1" {% if relato.avaliacao > 0 %}checked="checked"{% endif %} {% if not relato or not editor %}disabled {% endif %}>
            <label class="custom-control-label" for="customRadioInline0{{relato.id}}">
              {% lng "Adequado" "Adequate" %}
            </label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1{{relato.id}}" name="op.{{relato.id}}" class="custom-control-input"
                    value="0" {% if relato.avaliacao == 0 %}checked="checked"{% endif %} {% if not relato or not editor %}disabled {% endif %}>
            <label class="custom-control-label" for="customRadioInline1{{relato.id}}">
              {% lng "Inadequado" "Inadequate" %}
            </label>
          </div>
          {% if relato %}
          <div style="width: 100%; display: inline; margin-left: 8px;">
            <label class="feedbacks" for="customFeedback{{relato.id}}">
              Feedback (<pre>{% lng "opcional" "optional" %}</pre>)
              {% if relato.feedback %}<span class="seta-baixo">{% else %}<span class="seta-cima">{% endif %}</span></label>
            <div id="customFeedback{{relato.id}}" style="{% if not relato.feedback %}display: none;{% endif %} border: 2px solid red; margin-top: 10px; margin-right: 38px; width: 100%;">
              <label for="feedback{{relato.id}}">Feedback:</label>
              <textarea id="feedback{{relato.id}}" name="feedback{{relato.id}}" rows="10" cols="180" 
              {% if not relato or not editor %}disabled {% endif %} maxlength="{% max_length Relato 'feedback' %}">{% if relato.feedback %}{{relato.feedback}}{% endif %}</textarea>
            </div>
          </div>
          {% endif %}
          
        </div>
      </div>
      <br>

    {% endfor %}

    <label for="observacoes">
      {% lng "Informe suas observações para a coordenação do Capstone." "Inform your observations to the Capstone coordination." %}
    </label><br>
    <textarea id="observacoes" name="observacoes" rows="18" cols="164" maxlength="{% max_length Observacao 'observacoes_orientador' %}" {% if not editor %}disabled{% endif %}
              placeholder="Caso identifique alguma dificuldade com qualquer estudante ou o grupo, descreva aqui que a coordenação do Capstone irá lhe auxiliar.">{% if observacoes %}{{observacoes}}{% endif %}</textarea>

    <p>&nbsp;</p>

    {% if editor %}
      <button class="btn btn-primary mb-1"
      {% if evento.em_prazo %}
        onClick="return confirm('Tem certeza que deseja enviar a avaliação? Os estudantes ainda estão no prazo para entregar o relato.');" 
      {% endif %}
      type="submit">
        {% lng "Enviar Avaliação" "Submit Evaluation" %}
      </button>
    {% endif %}

  </form>

  <script>
    $(".feedbacks").on("click", function() {
      $(this).siblings("div").toggle(200);
      $("span", this).toggleClass("seta-baixo seta-cima");
    });
  </script>

  <script>
    $(document).ready(function(){	
      // Ajusta a altura de todas as textareas
      $("textarea").each(function(){
        if($(this).is(":visible")) {
          $(this).css("height", this.scrollHeight + "px");
        }
      });
    });
  </script>

  <script>
    aviso_perda_edicao("form", "Você tem alterações não salvas. Tem certeza que deseja sair?");
  </script>

{% endblock %}