{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 31 de Janeiro de 2022
{% endcomment %}

{% block head %}
  {% load static %}
  {% load get_field %}
  {% load banca_tipo %}

  <script>{% include "tooltip.js" %}</script>
  <link rel="stylesheet" href="{% static 'css/short_full.css' %}">
  

  {% comment %} REMOVER O STYLE E USAR O ARQUIVO CSS {% endcomment %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}"> {% endcomment %}
  <style>
  .div_arredondado {
    background: #F0F0F0;
    vertical-align: middle;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 12px;
    max-width: 100%;
    width: 800px;
      padding: 8px;
  }
  
  .div_arredondado > div {
    display: block;
    max-width: 100%;
  }
  </style>



  <link rel="stylesheet" href="{% static 'css/tab_arrend.css' %}">

  <style>
    textarea {
      max-width:100%;
      display: block;
      padding: 6px;
    }
    label {margin: 3px;}
    textarea:disabled {
      background-color: #F9F9F9;
    }
  
  </style>

{% endblock %}

{% block content %}

  <form method="post" id="avaliacaoform" enctype="multipart/form-data">
    {% csrf_token %}

    <b>Projeto:</b> 
    [<a href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{ projeto.organizacao.nome }}</a>]
    <a href="{% url 'projeto_completo' projeto.id %}">{{projeto.get_titulo}}</a><br>
    {% if projeto.orientador %}
      {% if projeto.proposta.intercambio %}
        <b>Professor{% if projeto.orientador.user.genero == 'F' %}a{% endif %} Responsável:</b>
      {% else %}
        <b>Orientador{% if projeto.orientador.user.genero == 'F' %}a{% endif %}:</b>
      {% endif %}
      <a href="{% url 'professor_detail' projeto.orientador.id %}">
      {{projeto.orientador}}
      </a>
    {% else %}
      Orientador: Não definido
    {% endif %}<br>
    <b>Data limite do relato:</b> {{evento.endDate}}<br>
    
    <br>
    {% for alocacao, relato in alocacoes_relatos %}

      <div id="{{alocacao.id}}" class="div_arredondado" style="width: 1222px;">

        <b>Estudante: </b><a href="{% url 'estudante_detail' alocacao.aluno.id %}">{{alocacao.aluno}}</a><br>
        <b>Preenchimento: </b>
        {% if relato %}
          {{relato.momento|date:"DATE_FORMAT"}}
        {% else %}
            Não entregue
        {% endif %}  
        <br>
        <textarea id="relato" name="relato" rows="10" cols="160" disabled>{{relato.texto}}</textarea>

        <div style="width: 98%; max-width: 100%; display: block; margin-left: 8px; margin-right: 8px; " {% if not relato %}data-toggle="tooltip" data-html="true" animation="true" title="Estudante não entregou relato"{% endif %}>
          <label>Desempenho:</label>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline0{{relato.id}}" name="op.{{relato.id}}" class="custom-control-input"
                    value="1" {% if relato.avaliacao > 0 %}checked="checked"{% endif %} {% if not relato or not editor %}disabled {% endif %}>
            <label class="custom-control-label" for="customRadioInline0{{relato.id}}">Adequado</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1{{relato.id}}" name="op.{{relato.id}}" class="custom-control-input"
                    value="0" {% if relato.avaliacao == 0 %}checked="checked"{% endif %} {% if not relato or not editor %}disabled {% endif %}>
            <label class="custom-control-label" for="customRadioInline1{{relato.id}}">Inadequado</label>
          </div>
          {% if relato %}
          <div style="width: 100%; max-width: 100%; display: inline; margin-left: 8px;">
            <label class="feedbacks" for="customFeedback{{relato.id}}">Feedback opcional {% if relato.feedback %}<span class="seta-baixo">{% else %}<span class="seta-cima">{% endif %}</span></label>
            <div id="customFeedback{{relato.id}}" style="{% if not relato.feedback %}display: none;{% endif %} border: 2px solid red; margin-top: 10px; margin-right: 38px; width: 100%;">
              <label for="feedback{{relato.id}}">Feedback:</label>
              <textarea id="feedback{{relato.id}}" name="feedback{{relato.id}}" rows="10" cols="180" 
              {% if not relato or not editor %}disabled {% endif %} maxlength="{% max_length Relato 'feedback' %}">{% if relato.feedback %}{{relato.feedback}}{% endif %}</textarea>
            </div>
          </div>
          {% endif %}
          
        </div>
      </div>
      <br>

    {% endfor %}

    <label for="observacoes">Informe suas observações para a coordenação do Capstone.</label><br>
    <textarea id="observacoes" name="observacoes" rows="18" cols="164" maxlength="{% max_length Observacao 'observacoes_orientador' %}" {% if not editor %}disabled{% endif %}
              placeholder="Caso identifique alguma dificuldade com qualquer estudante ou o grupo, descreva aqui que a coordenação do Capstone irá lhe auxiliar.">{% if observacoes %}{{observacoes}}{% endif %}</textarea>

    <p>&nbsp;</p>

    {% if editor %}
      <button class="btn btn-primary mb-1"
      {% if evento.em_prazo %}
        onClick="return confirm('Tem certeza que deseja enviar a avaliação? Os estudantes ainda estão no prazo para entregar o relato.');" 
      {% endif %}
      type="submit">Concluir Avaliação</button>
    {% endif %}

  </form>

  <script>
    $(".feedbacks").on("click", function() {
      $(this).siblings("div").toggle(200);
      $("span", this).toggleClass("seta-baixo seta-cima");
    });
  </script>

{% endblock %}