{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 20 de Fevereiro de 2022
{% endcomment %}

{% block head %}
  {% load static %}

  {% comment %} Para chamar os Tooltips {% endcomment %}
  <script>{% include "tooltip.js" %}</script>

{% endblock %}

{% block content %}

  {% for projeto in projetos %}

    <strong>Projeto:</strong> <a href="{% url 'projeto_completo' projeto.id %}">{{projeto.get_titulo}}</a><br>
    <strong>Semestre:</strong> {{projeto.ano}}.{{projeto.semestre}}<br>
    {% if administracao %}<strong>Orientador:</strong> <a href="{% url 'professor_detail' projeto.orientador.id %}">{{projeto.orientador}}</a><br>{% endif %}
    {% if projeto.avancado or projeto.proposta.internacional or projeto.proposta.intercambio %}
      <p><strong>Tipo</strong>:

        {% if projeto.avancado %}
          <font color="red">PFE Avançado</font>
        {% endif %}

        {% if projeto.avancado and projeto.proposta.internacional %}
          /
        {% endif %}

        {% if projeto.proposta.internacional %}
          <font color="red">Internacional</font>
        {% endif %}

        {% if projeto.avancado or projeto.proposta.internacional %}
          {% if projeto.proposta.intercambio %}
            /
          {% endif %}
        {% endif %}

        {% if projeto.proposta.intercambio %}
          <font color="red">Intercâmbio</font>
        {% endif %}

        {% if projeto.time_misto %}
          <font color="red">Time Misto</font>
        {% endif %}
        
      </p>
    {% endif %}

    <strong>Organização:</strong> <a href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{ projeto.organizacao.nome }}</a><br>

    <strong>Relatos (prazos para estudantes):</strong><br>

    {% with alocacoes=projeto.alocacao_set.all %}
      {% include "relatos.html" %}
    {% endwith %}

    {% if not forloop.last %}
      <hr>
    {% endif %}

  {% empty %}

    Você não está alocado em projetos esse semestre.

  {% endfor %}

  <p>&nbsp;</p>
  <p>&nbsp;</p>

{% endblock %}