{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 20 de Fevereiro de 2022
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  {% include "reload.html" %}
  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">
  <link rel="stylesheet" href="{% static 'css/outros.css' %}">
{% endblock %}

{% block content %}
  
  {% include "edicoes.html" %}
  
  <div class="atualizar">

    {% if not edicoes %}
      {% for projeto, alocacoes in proj_aloc %}
        {% if projeto.tem_relatos %}
          <div class="div_arredondado">
          
            {% include "cabecalho_projeto.html" with com_tit_original=True %}

            <div class="mt-2">
              <strong>{% lng "Relatos" "Reports" %}:</strong>
            </div>

            {% include "relatos.html" %}
            <small>{% lng "Obs: prazos para a entrega dos estudantes." "Note: deadlines for students' submissions." %}</small>

          </div>
        {% endif %}
      {% empty %}
        <span lang="pt">Sem alocações de projetos esse semestre.</span>
        <span lang="en">No project allocations this semester.</span>
      {% endfor %}
    {% endif %}

  </div> 

  <script>
    function carrega_pagina() {};
    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
      carrega_pagina();
    };
    window.onload = carrega_site
  </script>

  {% include "edicoes_ajax.html" %}

{% endblock %}