{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 22 de Abril de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">

  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    table, th, td {border: 1px solid lightgrey;}
    tbody tr:nth-child(even) {background-color: #f2f2f2;}
    tbody tr:nth-child(odd) {background-color: #f9f9f9;}

  </style>

  {% include "converte_notas.html" %}
  {% include "avalia_objetivos.html" %}

{% endblock %}

{% block content %}

  {% include "cabecalho_projeto.html" with com_semestre=True %}
  
  <strong style="display: inline-block; margin-top: 6px;">
    <span lang="pt">Grupo:</span>
    <span lang="en" style="display: none;">Group:</span>
  </strong>
  <ul>
  {% for alocacao in projeto.alocacao_set.all %}
    <a href="{% url 'estudante_detail' alocacao.aluno.id %}">
      <li>
        {{alocacao.aluno.user.get_full_name}} 
        [{{ alocacao.aluno.curso2 }}]
        &lt;{{alocacao.aluno.user.email}}&gt; 
      </li>
    </a>
  {% endfor %}
  </ul>

  {% comment %} PROBATION {% endcomment %}
  {% if banca.alocacao %}
    <b>
      <span lang="pt">Estudante:</span>
      <span lang="en" style="display: none;">Student:</span>
    </b><br>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <u>
    {% if banca.alocacao %}
      <a class="imprimir" href="{% url 'estudante_detail' banca.alocacao.aluno.id %}">{{banca.alocacao.aluno.user.get_full_name}}</a>  
      <span class="texto-longo curso unselectable">[{{ banca.alocacao.aluno.curso2 }}]</span>
      <span class="texto-curto curso unselectable">[{{ banca.alocacao.aluno.curso2.sigla_curta }}]</span>
      <span class="texto-longo emails"><a class="email" href="mailto:{{banca.alocacao.aluno.user.email}}">&lt;{{banca.alocacao.aluno.user.email}}&gt;</a></span>
      <span class="texto-curto emails"><a class="email" href="mailto:{{banca.alocacao.aluno.user.email}}"><i class="far fa-envelope"></i></a></span>
    {% else %}
      <span class="texto-longo">Estudante não alocado</span>
    {% endif %}
    </u>
    <br><br>

  {% endif %}

  {% include "dado_banca.html" %}
  <br>
  
  <b>
    <span lang="pt">Observação: As notas das bancas só serão fechadas quando todos os avaliadores tiverem avaliado (incluindo o orientador nas bancas intermediárias e finais)
     e depois de 24 horas que a última avaliação foi feita.</span>
    <span lang="en" style="display: none;">Note: The grades of the examining boards will only be closed when all evaluators have evaluated (including the advisor in the intermediate and final boards)
      and after 24 hours that the last evaluation was made.</span>
  </b>

{% endblock %}