{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Julho de 2020
{% endcomment %}

{% load static %}
{% load l10n %}
{% load i18n %}
{% load linguas %}
{% load get_item %}
{% load alocacao %}
{% load exibe_notas %}

{% block head %}

  <script src="{% static 'js/sort.js' %}"></script>
  <style>
    .certificacao_excelencia {background-color:lightgreen !important;}
    .certificacao_destaque {background-color:lemonchiffon !important;}
  </style>

  {% comment %} PARA O PAINEL DE FILTRO DE NOTAS DE BANCAS{% endcomment %}
  <style>
    .panel {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      padding: 20px;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }

    .slider-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
    }

    .slider-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .slider {
      writing-mode: vertical-lr;
      direction: rtl;
      width: 8px;
      height: 100px;
      margin: 10px;
    }

    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  </style>


{% endblock %}

{% block content %}

  {% include "edicoes.html" %}
  
  {% if regulamento and regulamento.documento %}
    <a target="_blank" rel="noopener noreferrer" href="{{request.scheme}}://{{request.get_host}}{{regulamento.documento.url}}">
      <i class="far fa-file-alt"></i> {{regulamento.tipo_documento}}
    </a><br>
  {% endif %}
    <br>

  <div class="alert alert-info">
    <strong>{% lng "Certificação de Projetos" "Project Certification" %}</strong>    
    O certificado será concedido apenas aos melhores projetos, limitados a no máximo 25% do total de projetos avaliados. Assim, mesmo projetos com nota superior a 8,0 poderão não receber o certificado de excelência, caso não estejam entre os mais bem avaliados dentro desse limite. 
  </div>

  {% include "informacoes_ml.html" %}


  <div id="atualizar">

    <div class="table-responsive">
      <table id="ProjetosTable" class="projetos tabela-padrao table-striped">

          <thead>
            <tr>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(1)', 'n')">#</th> 
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(2)')">{% lng "Projeto" "Project" %}</th>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(3)', 'n')">{% lng "Período" "Semester" %}</th>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(4)')">{% lng "Orientador" "Advisor" %}</th>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(5)')" data-toggle="tooltip" data-html="true" animation="true" title="Banca Intermediária">{% lng "Banca Inter." "Inter. Board" %}</th> {% comment %} Banca Intermediária {% endcomment %}
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(6)')" data-toggle="tooltip" data-html="true" animation="true" title="Banca Final">{% lng "Banca Final" "Final Board" %}</th> {% comment %} Banca Final {% endcomment %}
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(7)', 'n')">{% lng "Média Bancas" "Average Boards" %}</th>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(8)')" data-toggle="tooltip" data-html="true" animation="true" title="Banca Falconi">{% lng "Banca Falconi" "Falconi Board" %}</th> {% comment %} Banca Falconi {% endcomment %}
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(9)', 'n')" data-toggle="tooltip" data-html="true" animation="true" title="Nota Certificado">{% lng "Nota Certificado" "Certificate Grade" %}</th> {% comment %} Nota Certificado {% endcomment %}
            </tr>      
          </thead>

          <tbody>
            {% for projeto, recomendacao_bi, recomendacao_bf, notas_falconi in tabela %} 
              <tr class="item
                {% if notas_falconi.certificacao == "E" %}
                  certificacao_excelencia
                {% elif notas_falconi.certificacao == "D" %}
                  certificacao_destaque
                {% endif %}">

                  <td class="text-center">
                    <a class="imprimir" href="{% url 'projeto_infos' projeto.id %}">{{ forloop.counter }}</a>
                  </td>

                  <td>
                    [<a class="imprimir" href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{ projeto.organizacao.nome }}</a>]
                    <a class="imprimir" href="{% url 'projeto_infos' projeto.id %}">
                      {{projeto.get_titulo}}
                      {% include "tipo_projeto.html" %}<br>
                    </a>

                    <ul class="grupo">
                      {% for alocacao in projeto.alocacao_set.all %}
                        <li>
                          <a class="imprimir" href="{% url 'estudante_detail' alocacao.aluno.id %}">{{alocacao.aluno}}</a>
                          <span class="curso">
                            <span class="texto-longo">[{{ alocacao.aluno.curso2 }}]</span>
                            <span class="texto-curto">[{{ alocacao.aluno.curso2.sigla_curta }}]</span>
                          </span>
                          <span class="email">
                            <span class="texto-longo"><a href="mailto:{{alocacao.aluno.user.email}}">&lt;{{alocacao.aluno.user.email}}&gt;</a></span>
                            <span class="texto-curto"><a href="mailto:{{alocacao.aluno.user.email}}"><i class="far fa-envelope"></i></a></span>
                          </span>
                          {% if alocacao.aluno.externo %}<span style="color:red">[{{alocacao.aluno.externo}}]</span>{% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  
                  </td>

                  <td style="text-align: center;"> {{projeto.ano}}.{{projeto.semestre}}</td>

                  <td>  {% comment %} Orientador {% endcomment %}
                    {% if projeto.orientador %}
                    <a class="imprimir" href="{% url 'professor_detail' projeto.orientador.id %}">{{ projeto.orientador }}</a>
                    {% else %}{% lng "Orientador não definido" "Advisor not defined" %}{% endif %}
                  </td>

                  {% comment %} Banca Intermediária {% endcomment %}
                  <td class="text-center" style="white-space: nowrap;">
                    <a class="imprimir" href="{% url 'resultado_bancas' %}?projeto={{projeto.id}}">
                      {% include "professores/includes/mostra_destaque.html" with recomendacao=recomendacao_bi %}
                    </a>
                  </td>

                  {% comment %} Banca Final {% endcomment %}
                  <td class="text-center" style="white-space: nowrap;">
                    <a class="imprimir" href="{% url 'resultado_bancas' %}?projeto={{projeto.id}}">
                      {% include "professores/includes/mostra_destaque.html" with recomendacao=recomendacao_bf %}
                    </a>
                  </td>

                  {% with alocacao=projeto.alocacao_set.all.0 %}
                    {% comment %} Só para pegar as notas só de grupo {% endcomment %}
                    {% with media=alocacao|get_media_alocacao %}
                    <td> {% comment %} <!-- Grupo --> {% endcomment %}
                      {% lng_2 media.media_grupo %}
                    </td>
                    {% endwith %}
                  {% endwith %}

                  {% comment %} Banca Falconi {% endcomment %}
                  <td class="align-top">
                    {% if notas_falconi.banca %}
                      <span style="white-space: nowrap;">
                        <span class="texto-longo">{% lng_dl_de_ate notas_falconi.banca.startDate notas_falconi.banca.endDate %}</span>
                        <span class="texto-curto">{% lng_d_de_ate notas_falconi.banca.startDate notas_falconi.banca.endDate %}</span>
                      </span>
                    {% endif %}
                    <ul class="membros">{{notas_falconi.avaliadores.count}}
                      {% for avaliador in notas_falconi.avaliadores %}
                        <li>
                          <span style="white-space: nowrap;">
                            <a class="imprimir" href="{% url 'parceiro_detail' avaliador.id %}">{{avaliador.get_full_name}}</a>
                          </span>
                          <span class="email">
                            <span class="texto-longo"><a href="mailto:{{avaliador.email}}">&lt;{{avaliador.email}}&gt;</a></span>
                            <span class="texto-curto"><a href="mailto:{{avaliador.email}}"><i class="far fa-envelope"></i></a></span>
                          </span>
                        </li>
                      {% endfor %}
                    </ul> 
                  </td>

                  {% comment %} Nota Banca Falconi {% endcomment %}
                  <td class="text-center" style="white-space: nowrap;">
                    <a class="imprimir" href="{% url 'resultado_bancas' %}?projeto={{projeto.id}}">
                      {% if notas_falconi.nota_texto %}  
                        {% lng_2 notas_falconi.nota %}
                        {% if notas_falconi.nota_incompleta > 0 %}
                          <i class="fas fa-exclamation-triangle esconder"></i>
                        {% endif %}
                      {% endif %}
                    </a>
                  </td>

              </tr>

            {% empty %}
              <tr><td colspan="8">
                {% lng "Não existem projetos disponíveis." "There are no projects available." %}
              </td></tr>
            {% endfor %}
          </tbody>

      </table>
      
      <br>
      <span id="todos_projetos" style="cursor:pointer;">
        &nbsp;<b>{% lng "Total de Projetos" "Total of Projects" %}:</b>
        <span id="total_projetos"></span>
        <span id="filtrados" style="display:none;">
          &nbsp;|&nbsp;
          {% lng "Filtrados (visíveis)" "Filtered (visible)" %}:
          <span id="visibleRowsCount">0</span>
        </span>
      </span>
      <br>

      <span id="certificacoes" style="cursor:pointer;">
        &nbsp;<b>{% lng "Certificações" "Certifications" %}:</b>
      </span><br>
      <span id="certificacao_excelencia_label" style="cursor:pointer;">
        &nbsp;<span style="background-color:lightgreen">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% lng "Certificação Excelência FALCONI-INSPER" "FALCONI-INSPER Excellence Certification" %}
        (<span id="certificacao_excelencia"></span>)
      </span>
      <br>

      <span id="certificacao_destaque_label" style="cursor:pointer;">
        &nbsp;<span style="background-color:lemonchiffon">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        {% lng "Certificação Destaque FALCONI-INSPER" "FALCONI-INSPER Highlight Certification" %}
        (<span id="certificacao_destaque"></span>)
      </span>
      <br>
    
      <script>
        $("#total_projetos").html($(".item").length);
        $("#certificacao_excelencia").html($(".certificacao_excelencia").length);
        $("#certificacao_destaque").html($(".certificacao_destaque").length);

        document.getElementById("todos_projetos").addEventListener("click", function() {
          var items = document.querySelectorAll(".item");
          items.forEach(function(item) {item.style.display = "";});
          updateVisibleRowsCount();
        });

        document.getElementById("certificacoes").addEventListener("click", function() {
          var items = document.querySelectorAll(".item");
          var certificacoes = document.querySelectorAll(".certificacao_excelencia , .certificacao_destaque");
          items.forEach(function(item) {item.style.display = "none";});
          certificacoes.forEach(function(item) {item.style.display = "";});
          updateVisibleRowsCount();
        });

        document.getElementById("certificacao_excelencia_label").addEventListener("click", function() {
          var items = document.querySelectorAll(".item");
          var excelenciaItems = document.querySelectorAll(".certificacao_excelencia");
          items.forEach(function(item) {item.style.display = "none";});
          excelenciaItems.forEach(function(item) {item.style.display = "";});
          updateVisibleRowsCount();
        });

        document.getElementById("certificacao_destaque_label").addEventListener("click", function() {
          var items = document.querySelectorAll(".item");
          var excelenciaItems = document.querySelectorAll(".certificacao_destaque");
          items.forEach(function(item) {item.style.display = "none";});
          excelenciaItems.forEach(function(item) {item.style.display = "";});
          updateVisibleRowsCount();
        });


      </script>

    </div>

    <script>
      {% if edicao != "todas" %}
        $("#ProjetosTable tr > *:nth-child(3)").hide();
        $("#info_"+"Período").prop("checked", false);
      {% else %}
        $("#info_"+"Período").prop("checked", true);
      {% endif %}
    </script>

    <script>

      function updateVisibleRowsCount() {
        var rows = document.querySelectorAll("#ProjetosTable .item");
        var visibleCount = 0;
    
        rows.forEach(function(row) {
            if (row.style.display !== "none") {
                visibleCount++;
            }
        });
    
        document.getElementById("filtrados").style.display = "inline";
        document.getElementById("visibleRowsCount").textContent = visibleCount;
      }

    </script>

  </div>

  <script>
    function carrega_site() {
      {% include "edicao_puxar_local_ou_versao.js" %}
    };
    window.onload = carrega_site
  </script>

  {% include "edicoes_ajax.html" %}

{% endblock %}
