{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 17 de Julho de 2020
{% endcomment %}

{% block head %}
  {% load static %}
  <script src="{% static 'js/sort.js' %}"></script>
  <style>
    .certificacao_excelencia {background-color:lightgreen !important;}
    .certificacao_destaque {background-color:lemonchiffon !important;}
  </style>

  {% comment %} PARA O PAINEL DE FILTRO DE NOTAS DE BANCAS{% endcomment %}
  <style>
    .panel {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      padding: 20px;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }

    .slider-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
    }

    .slider-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .slider {
      writing-mode: vertical-lr;
      direction: rtl;
      width: 8px;
      height: 100px;
      margin: 10px;
    }

    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  </style>


{% endblock %}

{% block content %}

  {% include "edicoes.html" %}
  {% include "informacoes_ml.html" %}

  <div class="atualizar">

    <div class="table-responsive">
      <table id="ProjetosTable" class="projetos tabela-padrao table-striped">

        {% if tabela %}
          <thead>
            <tr>
              <th style="border-right:0px; border-left:0px;"></th>
              <th style="border-right:0px; border-left:0px;"></th>
              <th style="border-right:0px; border-left:0px;"></th>
              <th colspan="2" class="text-center"><b><span lang="pt">Relatórios</span><span lang="en">Reports</span></b></th>
              <th colspan="3" class="text-center">
                <b>
                  <span lang="pt">Bancas</span><span lang="en">Exam. Board</span>
                  <span style="cursor:pointer;" class="fas fa-filter esconder"
                  onclick="togglePanel()"></span>
                </b>
              </th>
            </tr>
            <tr>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(1)')"><span lang="pt">Projeto</span><span lang="en">Project</span></th>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(2)')"><span lang="pt">Período</span><span lang="en">Semester</span></th>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(3)')"><span lang="pt">Orientador</span><span lang="en">Advisor</span></th>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(4)')" data-toggle="tooltip" data-html="true" animation="true" title="Relatório Intermediário">Inter.</th>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(5)')" data-toggle="tooltip" data-html="true" animation="true" title="Relatório Final">Final</th>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(6)')" data-toggle="tooltip" data-html="true" animation="true" title="Banca Intermediária">Inter.</th>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(7)')" data-toggle="tooltip" data-html="true" animation="true" title="Banca Final">Final</th>
              <th onclick="sort('#ProjetosTable', '.item', 'td:nth-child(8)')" data-toggle="tooltip" data-html="true" animation="true" title="Banca Falconi">Falc.</th>
            </tr>      
          </thead>

          <tbody>
            {% for projeto, relatorio_intermediario, relatorio_final, banca_intermediaria, banca_final, banca_falconi in tabela %} 
              <tr class="item
                {% if banca_falconi.certificacao == "E" %}
                  certificacao_excelencia
                {% elif banca_falconi.certificacao == "D" %}
                  certificacao_destaque
                {% endif %}
                "
              >
                  <td>
                    [<a class="imprimir" href="{% url 'organizacao_completo' projeto.organizacao.id %}">{{ projeto.organizacao.nome }}</a>]
                    <a class="imprimir" href="{% url 'projeto_completo' projeto.id %}">
                      {{projeto.get_titulo}}
                      {% include "tipo_projeto.html" %}<br>
                    </a>

                    <ul class="grupo">
                      {% for alocacao in projeto.alocacao_set.all %}
                        <li>
                          <a class="imprimir" href="{% url 'estudante_detail' alocacao.aluno.id %}">{{alocacao.aluno}}</a>
                          <span class="curso">
                            <span class="texto-longo">[{{ alocacao.aluno.curso2 }}]</span>
                            <span class="texto-curto">[{{ alocacao.aluno.curso2.sigla_curta }}]</span>
                          </span>
                          <span class="email">
                            <span class="texto-longo"><a href="mailto:{{alocacao.aluno.user.email}}">&lt;{{alocacao.aluno.user.email}}&gt;</a></span>
                            <span class="texto-curto"><a href="mailto:{{alocacao.aluno.user.email}}"><i class="far fa-envelope"></i></a></span>
                          </span>
                          {% if alocacao.aluno.externo %}<span style="color:red">[{{alocacao.aluno.externo}}]</span>{% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </td>

                  {% comment %} Período {% endcomment %}
                  <td style="text-align: center;"> 
                    {{projeto.ano}}.{{projeto.semestre}}
                  </td>

                  {% comment %} Orientador {% endcomment %}
                  <td>
                    {% if projeto.orientador %}
                    <a class="imprimir" href="{% url 'professor_detail' projeto.orientador.id %}">
                      {{ projeto.orientador }}
                    </a>
                    {% else %}
                      Orientador não definido
                    {% endif %}

                    {% with coorientadores=projeto.coorientador_set.all %}
                      {% if coorientadores %}
                      <span class="coorientadores">
                      <br>coorientação:
                        {% for coorientador in coorientadores %}
                            <a class="imprimir" href="{% url 'user_detail' coorientador.usuario.id %}">
                              {{coorientador.usuario.get_full_name}} 
                            </a>
                            {% comment %} <a class="email" href="mailto:{{coorientador.usuario.email}}">&lt;{{coorientador.usuario.email}}&gt;</a> {% endcomment %}
                            {% if not forloop.last %}; {% endif %}
                        {% endfor %}
                        </span>
                      {% endif %}
                    {% endwith %}
                  </td>

                  {% comment %} Relatório Preliminar {% endcomment %}
                  {% comment %} <td class="text-center" style="white-space: nowrap;">
                    <a class="imprimir" href="{% url 'projeto_completo' projeto.id %}"
                      {% if relatorio_preliminar.nota > 0 %}
                        data-toggle="tooltip" data-html="true" animation="true" title="{{ relatorio_preliminar.conceito|safe }}">
                      {{ relatorio_preliminar.nota_texto|safe }}
                      {% else %}
                      >
                      {% endif %}
                    </a>
                  </td> {% endcomment %}

                  {% comment %} Relatório Intermediário {% endcomment %}
                  <td class="text-center" style="white-space: nowrap;">
                    <a class="imprimir" href="{% url 'projeto_completo' projeto.id %}"
                      {% if relatorio_intermediario.nota_incompleta == 1 %} {% comment %} no inicio {% endcomment %}
                        style="color: darkgrey; font-weight: bold;"
                      {% elif relatorio_intermediario.nota_incompleta == 2 %} {% comment %} no prazo {% endcomment %}
                        style="color: orange; font-weight: bold;"
                      {% elif relatorio_intermediario.nota_incompleta == 3 %} {% comment %} fora do prazo {% endcomment %}
                        style="color: red; font-weight: bold;"
                      {% endif %}
                      {% if relatorio_intermediario.nota_texto %}
                       data-toggle="tooltip" data-html="true" animation="true" title="{{ relatorio_intermediario.conceito|safe }}">
                        {{ relatorio_intermediario.nota_texto|safe }}
                      {% else %}
                        >
                          {% if relatorio_intermediario.nota_incompleta > 0 %}
                            <i class="fas fa-exclamation-triangle"></i>
                          {% endif %}
                      {% endif %}
                    </a>
                  </td>

                {% comment %} Relatório Final {% endcomment %}
                  <td class="text-center" style="white-space: nowrap;">
                    <a class="imprimir" href="{% url 'projeto_completo' projeto.id %}"
                      {% if relatorio_final.nota_incompleta == 1 %} {% comment %} no inicio {% endcomment %}
                        style="color: darkgrey; font-weight: bold;"
                      {% elif relatorio_final.nota_incompleta == 2 %} {% comment %} no prazo {% endcomment %}
                        style="color: orange; font-weight: bold;"
                      {% elif relatorio_final.nota_incompleta == 3 %} {% comment %} fora do prazo {% endcomment %}
                        style="color: red; font-weight: bold;"
                      {% endif %}
                      {% if relatorio_final.nota_texto %}
                       data-toggle="tooltip" data-html="true" animation="true" title="{{ relatorio_final.conceito|safe }}">
                        {{ relatorio_final.nota_texto|safe }}
                      {% else %}
                        >
                          {% if relatorio_final.nota_incompleta > 0 %}
                            <i class="fas fa-exclamation-triangle"></i>
                          {% endif %}
                      {% endif %}
                    </a>
                  </td>

                {% comment %} Banca Intermediária {% endcomment %}
                  <td class="text-center" style="white-space: nowrap;">
                    <a class="imprimir" href="{% url 'resultado_bancas' projeto.id %}"
                      {% if banca_intermediaria.nota_incompleta == 1 %} {% comment %} no inicio {% endcomment %}
                        style="color: darkgrey; font-weight: bold;"
                      {% elif banca_intermediaria.nota_incompleta == 2 %} {% comment %} no prazo {% endcomment %}
                        style="color: orange; font-weight: bold;"
                      {% elif banca_intermediaria.nota_incompleta == 3 %} {% comment %} fora do prazo {% endcomment %}
                        style="color: red; font-weight: bold;"
                      {% endif %}
                      {% if banca_intermediaria.nota_texto %}
                        data-toggle="tooltip" data-html="true" animation="true" title="{{ banca_intermediaria.conceito|safe }}">
                        {{ banca_intermediaria.nota_texto|safe }}
                      {% else %}
                        >
                          {% if banca_intermediaria.nota_incompleta > 0 %}
                            <i class="fas fa-exclamation-triangle"></i>
                          {% endif %}
                      {% endif %}
                    </a>
                  </td>

                  {% comment %} Banca Final {% endcomment %}
                  <td class="text-center" style="white-space: nowrap;">
                    <a class="imprimir" href="{% url 'resultado_bancas' projeto.id %}"
                      {% if banca_final.nota_incompleta == 1 %} {% comment %} no inicio {% endcomment %}
                        style="color: darkgrey; font-weight: bold;"
                      {% elif banca_final.nota_incompleta == 2 %} {% comment %} no prazo {% endcomment %}
                        style="color: orange; font-weight: bold;"
                      {% elif banca_final.nota_incompleta == 3 %} {% comment %} fora do prazo {% endcomment %}
                        style="color: red; font-weight: bold;"
                      {% endif %}
                      {% if banca_final.nota_texto %}
                        data-toggle="tooltip" data-html="true" animation="true" title="{{ banca_final.conceito|safe }}">
                        {{ banca_final.nota_texto|safe }}
                      {% else %}
                        >
                          {% if banca_final.nota_incompleta > 0 %}
                            <i class="fas fa-exclamation-triangle"></i>
                          {% endif %}
                      {% endif %}
                    </a>
                  </td>

                  {% comment %} Banca Falconi {% endcomment %}
                  <td class="text-center" style="white-space: nowrap;">
                    <a class="imprimir" href="{% url 'resultado_bancas' projeto.id %}"
                      {% if banca_falconi.nota_incompleta == 1 %} {% comment %} no inicio {% endcomment %}
                        style="color: darkgrey; font-weight: bold;"
                      {% elif banca_falconi.nota_incompleta == 2 %} {% comment %} no prazo {% endcomment %}
                        style="color: orange; font-weight: bold;"
                      {% elif banca_falconi.nota_incompleta == 3 %} {% comment %} fora do prazo {% endcomment %}
                        style="color: red; font-weight: bold;"
                      {% endif %}

                      {% if banca_falconi.nota_texto %}
                        data-toggle="tooltip" data-html="true" animation="true" title="{{ banca_falconi.avaliadores|safe }}">
                        {{ banca_falconi.nota_texto|safe }}
                      {% else %}
                        >
                          {% if banca_falconi.nota_incompleta > 0 %}
                            <i class="fas fa-exclamation-triangle"></i>
                          {% endif %}
                      {% endif %}
                    
                    </a>
                  </td>

              </tr>

            {% empty %}
              <tr><td colspan="9">
                Não existem projetos disponíveis.
              </td></tr>
            {% endfor %}
          </tbody>

        {% endif %}

      </table>
      
      <br>
      <span id="todos_projetos" style="cursor:pointer;">
        &nbsp;<b><span lang="pt">Total de Projetos</span><span lang="en">Total of Projects</span>:
        <span id="total_projetos"></span></b>
        <span id="filtrados" style="display:none;">
          &nbsp;|&nbsp;Filtrados (visíveis): <span id="visibleRowsCount">0</span>
        </span>
      </span>
      <br>

      <span id="certificacoes" style="cursor:pointer;">
        &nbsp;<b><span lang="pt">Certificações</span><span lang="en">Certifications</span>:</b>
      </span><br>
      <span id="certificacao_excelencia_label" style="cursor:pointer;">
        &nbsp;<span style="background-color:lightgreen">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span lang="pt">Certificação Excelência FALCONI-INSPER</span>
        <span lang="en">FALCONI-INSPER Excellence Certification</span>
        (<span id="certificacao_excelencia"></span>)
      </span>
      <br>

      <span id="certificacao_destaque_label" style="cursor:pointer;">
        &nbsp;<span style="background-color:lemonchiffon">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span lang="pt">Certificação Destaque FALCONI-INSPER</span>
        <span lang="en">FALCONI-INSPER Highlight Certification</span>
        (<span id="certificacao_destaque"></span>)
      </span>
      <br>
    
      <script>
        $("#total_projetos").html($(".item").length);
        $("#certificacao_excelencia").html($(".certificacao_excelencia").length);
        $("#certificacao_destaque").html($(".certificacao_destaque").length);

        document.getElementById("todos_projetos").addEventListener("click", function() {
          var items = document.querySelectorAll(".item");
          items.forEach(function(item) {item.style.display = "";});
          updateVisibleRowsCount();
        });

        document.getElementById("certificacoes").addEventListener("click", function() {
          var items = document.querySelectorAll(".item");
          var certificacoes = document.querySelectorAll(".certificacao_excelencia , .certificacao_destaque");
          items.forEach(function(item) {item.style.display = "none";});
          certificacoes.forEach(function(item) {item.style.display = "";});
          updateVisibleRowsCount();
        });

        document.getElementById("certificacao_excelencia_label").addEventListener("click", function() {
          var items = document.querySelectorAll(".item");
          var excelenciaItems = document.querySelectorAll(".certificacao_excelencia");
          items.forEach(function(item) {item.style.display = "none";});
          excelenciaItems.forEach(function(item) {item.style.display = "";});
          updateVisibleRowsCount();
        });

        document.getElementById("certificacao_destaque_label").addEventListener("click", function() {
          var items = document.querySelectorAll(".item");
          var excelenciaItems = document.querySelectorAll(".certificacao_destaque");
          items.forEach(function(item) {item.style.display = "none";});
          excelenciaItems.forEach(function(item) {item.style.display = "";});
          updateVisibleRowsCount();
        });


      </script>

    </div>

    <script>
      {% if edicao != "todas" %}
        $("#ProjetosTable tr > *:nth-child(2)").hide();
        $("#info_"+"Período").prop("checked", false);
      {% else %}
        $("#info_"+"Período").prop("checked", true);
      {% endif %}
      
      {% if show_orientador %}
        $("#info_"+"Orientador").prop("checked", true);
      {% else %} 
        $("#ProjetosTable tr > *:nth-child(3)").hide();
        $("#info_"+"Orientador").prop("checked", false);
      {% endif %}
    </script>

    <div class="overlay" id="overlay" onclick="togglePanel()"></div>

    <div class="panel" id="panel">
      <button class="close-button" onclick="togglePanel()">×</button>
      <div class="slider-container mt-4">

        <div class="slider-wrapper text-center">
          <label for="slider1">Relat. Interm.</label>
          <input type="range" min="0" max="10" step="0.5" value="0" class="slider" id="slider1" data-col="4" oninput="updateValue('slider1', 'value1')">
          <span id="value1">0</span>
        </div>
        
        <div class="slider-wrapper text-center">
          <label for="slider2">Relat. Final</label>
          <input type="range" min="0" max="10" step="0.5" value="0" class="slider" id="slider2" data-col="5" oninput="updateValue('slider2', 'value2')">
          <span id="value2">0</span>
        </div>

        <div class="slider-wrapper text-center">
          <label for="slider3">Banca Interm.</label>
          <input type="range" min="0" max="10" step="0.5" value="0" class="slider" id="slider3" data-col="6" oninput="updateValue('slider3', 'value3')">
          <span id="value3">0</span>
        </div>

        <div class="slider-wrapper text-center">
          <label for="slider4">Banca Final</label>
          <input type="range" min="0" max="10" step="0.5" value="0" class="slider" id="slider4" data-col="7" oninput="updateValue('slider4', 'value4')">
          <span id="value4">0</span>
        </div>

        <div class="slider-wrapper text-center">
          <label for="slider5">Banca Falconi</label>
          <input type="range" min="0" max="10" step="0.5" value="0" class="slider" id="slider5" data-col="8" oninput="updateValue('slider5', 'value5')">
          <span id="value5">0</span>
        </div>
          
      </div>
    </div>

    <script>
      function togglePanel() {
          var panel = document.getElementById("panel");
          var overlay = document.getElementById("overlay");
          if (panel.style.display === "none" || panel.style.display === "") {
              panel.style.display = "block";
              overlay.style.display = "block";
          } else {
              panel.style.display = "none";
              overlay.style.display = "none";
          }
      }

      function updateVisibleRowsCount() {
        var rows = document.querySelectorAll("#ProjetosTable .item");
        var visibleCount = 0;
    
        rows.forEach(function(row) {
            if (row.style.display !== "none") {
                visibleCount++;
            }
        });
    
        document.getElementById("filtrados").style.display = "inline";
        document.getElementById("visibleRowsCount").textContent = visibleCount;
      }

      var sliderValues = {
        slider1: 0,
        slider2: 0,
        slider3: 0,
        slider4: 0,
        slider5: 0
      };
      
      function filterRows() {
        var table = document.getElementById("ProjetosTable");
        var rows = table.getElementsByTagName("tr");
        var columnIndices = {
            slider1: 4,
            slider2: 5,
            slider3: 6,
            slider4: 7,
            slider5: 8
        };

        for (var i = 1; i < rows.length; i++) { // Start from 1 to skip the header row
            var cells = rows[i].getElementsByTagName("td");
            var showRow = true;

            for (var sliderId in sliderValues) {
              var columnIndex = columnIndices[sliderId];
              if (cells.length > columnIndex - 1) {
                var cellValue = parseFloat(cells[columnIndex - 1].innerText || cells[columnIndex - 1].textContent);
                if (sliderValues[sliderId] > 0 && isNaN(cellValue) === false) {
                  if (cellValue < sliderValues[sliderId]) {
                      showRow = false;
                      break;
                  }
                }
              }
            }
            rows[i].style.display = showRow ? "" : "none";
        }

        updateVisibleRowsCount();
      }

      function updateValue(sliderId, valueId) {
        var slider = document.getElementById(sliderId);
        var value = document.getElementById(valueId);
        value.textContent = slider.value;
        sliderValues[sliderId] = parseFloat(slider.value);
        filterRows();
      }

    </script>

  </div>

  {% include "edicoes_ajax.html" %}

{% endblock %}
