{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 18 de Novembro de 2019
{% endcomment %}

{% block head %}
  {% include "tabelas_includes.html" %}
{% endblock %}

{% block content %}

  <span class="titulo">{{titulo}}
    <small class="esconder">
    <a href="{% url 'cadastrar_usuario' %}?tipo=professor">&#10133;</a></small>
  </span>

  {% include "tabelas_top.html" with tabela="Professores" cabecalhos=cabecalhos %}
    {% for professor in professores %} 
      <tr class="item" {% if not professor.user.is_active %} style="color: lightgrey;" {% endif %}>
        <th scope="row" data-sort="{{professor.user.get_full_name}}">
          {% if professor.user.membro_comite %}<u>{% endif %}
            <a href="{% url 'professor_detail' professor.id %}"
            {% if not professor.user.is_active %} style="color: LightBlue;" {% endif %}>
              {{professor.user.get_full_name}}
            </a>
          {% if professor.user.membro_comite %}</u>{% endif %}
        </th>
        <td>
          <a href="mailto:{{professor.user.email}}"
          {% if not professor.user.is_active %} style="color: LightBlue;" {% endif %}>
            &lt;{{professor.user.email}}&gt;
          </a>
        </td>
        <td class="text-center">
          {{professor.user.membro1.count|add:professor.user.membro2.count|add:professor.user.membro3.count|stringformat:"02d" }}
        </td>
        <td class="text-center">
          {{professor.professor_orientador.count|stringformat:"02d"}}
        </td>
        <td>
          {% if professor.lattes %}
            <a rel="noopener noreferrer" target="_blank" href="{{professor.lattes}}"
            {% if not professor.user.is_active %} style="color: LightBlue;" {% endif %}>
              {{professor.lattes}}
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    <caption><small>usuários <u>sublinhados</u> são membros do comitê do PFE.</small></caption>
  </table>
  </div>

  <script>
    function carrega_pagina(){
      {% include "tabelas_scripts.html" with tabela='Professores' %}
    }
    window.onload = carrega_pagina
  </script>

{% endblock %}