{% extends "base.html" %}
{% comment %}
  Desenvolvido para o Projeto Final de Engenharia
  Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
  Data: 11 de Abril de 2024
{% endcomment %}

{% block head %}
  {% load static %}
  {% load linguas %}
  <link rel="stylesheet" href="{% static 'css/div_arrend.css' %}">

  <style>
    .caixa {
      border: 1px solid black;
      padding: 4px;
      background-color: #f9f9f9;
      margin-bottom: 0.3em;
    }
    .topico {
      margin-bottom: 0.3em;
    }
    .pergunta {
      margin-left: 0.6em;
    }
    .transpose tr {
      display: block;
      float: left;
    }
    .transpose td {
      display: block;
    }
  </style>
{% endblock %}

{% block content %}

  {% include "cabecalho_projeto.html" with com_tit_original=True com_semestre=True %}
  <br>

  <b>
    <span lang="pt">Orientações passadas aos estudantes:</span>
    <span lang="en" style="display: none;">Guidelines given to students:</span>
  </b>
  <div style="max-width: 700px;">{{msg_aval_pares}}</div>
  <hr>

  {% include "ver_pares.html" %}

{% endblock %}