{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}

    Data: {% now "j F Y H:i" %}
    <hr>
    <a href="{% url 'emails' %}"><h5>Listas de e-mails</h5></a>
    <a href="{% url 'servico' %}"><h5>Habilitar aviso se manutenção</h5></a>

    <hr>
    <h5>Listagem completa</h5>
    <ul>
        <a href="{% url 'alunos_lista' %}"><li>Alunos</li></a>
        <a href="{% url 'projetos_lista' 'todos' %}"><li>Projetos</li></a>
        <a href="{% url 'organizacoes_lista' %}"><li>Organizações Parceiras</li></a>
        <a href="{% url 'todos_parceiros' %}"><li>Parceiros Profissionais</li></a>
        <a href="{% url 'todos_professores' %}"><li>Professores do PFE</li></a>
        <!-- <a href="{% url 'comite' %}"><li>Comtê do PFE</li></a> -->
    </ul>

    <hr>
    <h5>Tabelas de alocação</h5>
    <ul>
        <a href="{% url 'professores_tabela' %}"><li>Orientadores</li></a>
        <a href="{% url 'coorientadores_tabela' %}"><li>Coorientadores</li></a>
        <a href="{% url 'organizacoes_tabela' %}"><li>Organizações</li></a>
        <a href="{% url 'bancas_tabela' %}"><li>Bancas</li></a>
    </ul>

    <hr>
    <a href="{% url 'avisos_listar' %}"><h5>Agenda da Coordenação do PFE</h5></a>

    <hr>
    <a href="{% url 'exportar' %}"><h5>Exportar dados</h5></a>
    <a href="{% url 'relatorios' %}"><h5>Relatórios</h5></a>
    <a href="{% url 'propor' %}">            <h5>Propor Grupos para Projetos</h5>         </a>
    <a href="{% url 'carregar' %}"><h5>Carregar dados (CUIDADO PODE COMPROMETER BASE DE DADOS)</h5></a>

{% endblock %}