{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}

    <h5>Calendários</h5>
    <ul>
        <a href="{% url 'bancas_index' %}"><li>Bancas</li></a>
        <a href="{% url 'dinamicas' %}"><li>Dinâmicas</li></a>
    </ul>

    <h5>Projetos</h5>
    <ul>
        <a href="{% url 'projetos_fechados' %}"><li>Detalhes (somente os fechados)</li></a>
        <a href="{% url 'histograma' %}"><li>Procura (histograma de preferências)</li></a>
        <a href="{% url 'projetos_lista' 'disponiveis' %}"><li>Disponíveis (p/ os próximos semestres)</li></a>
    </ul>

    <h5>Estudantes</h5>
    <ul>
        <a href="{% url 'alunos_inscrevendo' %}"><li>Por Semestre</li></a>
        <a href="{% url 'mapeamento' %}"><li>Mapeamento Estudantes e Opções de Projetos</li></a>
    </ul>

    <h5>Áreas de Interesse</h5>
    <ul>
        <a href="{% url 'areas' 'alunos' %}"><li>Tendência dos Alunos</li></a>
        <a href="{% url 'areas' 'projetos' %}"><li>Tendência dos Projetos</li></a>
    </ul>

    <h5>Feedbacks</h5>
    <ul>
        <a href="{% url 'lista_feedback' %}"><li>Organizações Parceiras</li></a>
    </ul>

{% endblock %}