{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 3 de Dezembro de 2019
{% endcomment %}

{% block head %}
{% endblock %}

{% block content %}

    {% comment %}
        (1, 'aluno'),
        (2, 'professor'),
        (3, 'parceiro'),
        (4, 'administrador'),
    {% endcomment %}

    <a href="{% url 'calendario' %}"><h5>Calendário Geral</h5></a>
    <hr>
    {% if user.tipo_de_usuario == 1 or user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
        <a href="{% url 'index_aluno' %}"><h5>Área dos Estudantes</h5></a>
    {% endif %}
    {% if user.tipo_de_usuario == 3 or user.tipo_de_usuario == 4 %}
        <a href="{% url 'index_organizacao' %}"><h5>Área dos Parceiros</h5></a>
    {% endif %}
    {% if user.tipo_de_usuario == 2 or user.tipo_de_usuario == 4 %}
        <a href="{% url 'index_professor' %}"><h5>Área dos Professores</h5></a>
        <a href="{% url 'index_operacional' %}"><h5>Área Operacional</h5></a>
        <a href="{% url 'administracao' %}"><h5>Área Administrativa</h5></a>
    {% endif %}
    <hr>
    <a href="{% url 'index_documentos' %}"><h5>Documentações</h5></a>

{% endblock %}