{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}

    <a href="{% url 'bancas_index' %}">            <h5>Calendário das Bancas</h5>                      </a>

    <a href="{% url 'dinamicas' %}">         <h5>Calendário das Dinâmicas</h5>                   </a>

    <hr>


    <a href="{% url 'projetos_fechados' %}">          <h5>Listagem Detalhada de Projetos Fechados</h5>    </a>

    <h5>Listagem de Projetos Publicados</h5>
    <ul>
        <a href="{% url 'projetos_lista' 'antigos' %}"><li>Antigos (até o semestre passado)</li></a>
        <a href="{% url 'projetos_lista' 'atuais' %}"><li>Atuais (para esse semestre)</li></a>
        <a href="{% url 'projetos_lista' 'disponiveis' %}"><li>Disponíveis (p/ os próximos semestres)</li></a>
    </ul>
    
    <a href="{% url 'histograma' %}">        <h5>Histograma de Interesse de Projetos</h5> </a>
    
    <hr>


    <a href="{% url 'alunos_inscrevendo' %}"><h5>Listagem de Alunos se Inscrevendo</h5>   </a>
    
    <a href="{% url 'areas' %}">             <h5>Tendência de Áreas de Interesse</h5>     </a>
    
    <hr>


    <a href="{% url 'propor' %}">            <h5>Propor Grupos para Projetos</h5>         </a>

{% endblock %}