{% extends "base.html" %}
{% comment %}
    Desenvolvido para o Projeto Final de Engenharia
    Autor: Luciano Pereira Soares <lpsoares@insper.edu.br>
    Data: 15 de Maio de 2019
{% endcomment %}

{% block content %}
<h3>Exportar dados</h3>
<table>
    <tr>
        <td>Projetos</td>
        <td><a href="{% url 'export' 'projetos'%}">CSV</a></td>
        <td><a href="{% url 'exportxls' 'projetos'%}">XML</a></td>
    </tr>
    <tr>
        <td>Organizacoes</td>
        <td><a href="{% url 'export' 'organizacoes'%}">CSV</a></td>
        <td><a href="{% url 'exportxls' 'organizacoes'%}">XML</a></td>
    </tr>
    <tr>
        <td>Opcoes</td>
        <td><a href="{% url 'export' 'opcoes'%}">CSV</a></td>
        <td><a href="{% url 'exportxls' 'opcoes'%}">XML</a></td>
    </tr>
    <tr>
        <td>Alunos</td>
        <td><a href="{% url 'export' 'alunos'%}">CSV</a></td>
        <td><a href="{% url 'exportxls' 'alunos'%}">XML</a></td>
    </tr>
    <tr>
        <td>Professores</td>
        <td><a href="{% url 'export' 'professores'%}">CSV</a></td>
        <td><a href="{% url 'exportxls' 'professores'%}">XML</a></td>
    </tr>
</table>
{% endblock %}